.search-input {
    width: 250px;
}

.search-form-group {
    align-items: center;
    display: flex;
    gap: 8px;
    padding: 4px 0px 28px 19px;
}

.search-wrapper {
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    padding-top: 15px;
}
.cursor{
    cursor: pointer;
}