.candidate-status-wrapper {
  display: flex;
  position: relative;
.arrow-rt{
  width: 0;
  height: 0;
  position: absolute;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 10px solid #444fd3;
  right: -10px;
}
  .status-title-box {
    font-size: 12px;
    font-weight: bold;
    width: 105px;
    text-align: right;
    position: absolute;
    bottom: 15px;
    left: -60px;
 ul {
      padding: 0;
      margin: 0;
 li {
     padding-bottom: 40px;
   }
    }
    .decline-status {
      color: #f77212;
    }
    .reject-status {
      color: #f31313;
    }
 .select-status {
      color: #1fb124;
    }

  }
  .candidate-status-holder {
    margin: 0 30px 0 0;
    width: 140px;
    .status-title {
      background: #444fd2;
      padding: 5px 5px 5px 5px;
      font-size: 12px;
      color: #ffffff;
      display: flex;
      justify-content: center;
      min-height: 50px;
      position: relative;
      align-items: center;
        h6 {
        margin-bottom: 0;
        font-size: 12px;
      }
    }


    .status-number {
      background: #efefef;
      padding: 10px 0 10px 0px;
      font-size: 16px;
      text-align: center;
      margin-top: 10px;
      span.number-text {
        font-weight: bold;
      }
      span.num-title {
        font-size: 12px;
      }
    }

    .status-down{
      ul{
        padding: 0;
        position: relative;
        list-style: none;
        left: 77px;
        li{
          position: relative;
          .status-percent {
            height: 49px;
            width: 115px;

            text-align: center;
            margin: 0px 0 0 20px;
            padding: 10px 0 0 0;
          }
          .status-percent img {
            right: 0;
            width: 25px;
            position: absolute;
            top: 4px;
          }
          .status-stage-number {
            display: flex;
            flex-direction: column;
            margin: 0 0 0px 20px;
            padding: 0 0 10px 0;
            span.num-top {
              text-align: center;
              background: #d6d6d6;
              padding: 8px 0 8px 0;
            }
            span.num-per {
              text-align: right;
              font-size: 10px;
            }
          }

        }
        li:last-child{

        }
      }
    }
    .status-down li::before  {
      content: "";
      left: 0px;
      position: absolute;
      right: auto;
      border-left: 2px solid #6e8fc1;
      bottom: 50px;
      height: 100%;
      top: 0;
      width: 1px;
    }

    .status-down li:last-child::before {
      height: 20px;
    }

    .status-down li::after {
      border-top: 2px solid #6e8fc1;
      height: 20px;
      content: "";
      top: 18px;
      width: 19px;
      left: 2px;
      position: absolute;
    }

  }
  .stg1{
.status-title{
  background: #a4a9e6;
}
    span.arrow-rt{
      border-left-color: #a4a9e6 !important;
    }
  }
  .stg2{
    .status-title{
      background: #9198e6;
    }
    span.arrow-rt{
      border-left-color: #9198e6 !important;
    }
  }
  .stg3{
    .status-title{
      background: #7d85e2;
    }
    span.arrow-rt{
      border-left-color: #7d85e2 !important;
    }
  }
  .stg4{
    .status-title{
      background: #6a73e0;
    }
    span.arrow-rt{
      border-left-color: #6a73e0 !important;
    }
  }
  .stg5{
    .status-title{
      background: #5a64e0;
    }
    span.arrow-rt{
      border-left-color: #5a64e0 !important;
    }
  }


}
