.tutorial-wrapper {
  a.cross-btn {
    color: $gray-600;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 16px;
  }
  .carousel {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    background: $white;
    padding: 40px 40px 20px 40px;
    margin-top: 60px;
    border-radius: 5px;
    border: 1px solid;
  }
  .carousel-inner {

    min-height: 490px;

    .stage-alert {
      display: flex;
      align-items: center;
      background: $primary;
      color: $white;
      padding: 15px 0 10px 20px;
      border-radius: 5px;
      border: 1px solid $gray-900;
      margin-bottom: 50px;
      .stage-number {
        text-align: center;
        margin: 0 15px 0 0;
       h4 {
          font-size: 30px;
          margin: 0;
        }
      }
      .step-content {
        align-self: center;
        p {
          margin: 0;
        }
      }
    }
    .stage-img-holder img {
      max-width: 100%;
    }

  }
  .carousel-indicators li {

background-color: $gray-600;
    width: 10px;
    height: 10px;
    border-top: none;
    border-bottom: none;

    border-radius: 50px;

  }


  .navigation-bar {
    display: flex;
    justify-content: center;


     .carousel-control-next, .carousel-control-prev{
      position: unset;
       width: unset;
       color: $gray-900;
       font-size: 22px;
       margin: -8px 5px 0 5px;
       padding-top: 0px;

    }
    .carousel-indicators{
      position: unset;
      margin-right: 0;
      margin-left: 0px;
    }
  }

  .stage-note-warning {
    display: flex;
    margin: 0 auto;
    max-width: 320px;
    border: 1px solid;
    align-items: center;
    border-radius: 3px;
    padding: 20px;

    p {
      margin: 0;
    }
    .warning-icon-hold{
      img{
        width: 30px;
      }
    }
  }
  .carousel-inner .stage-img-holder img {
    max-width: 100%;
    margin-right: 20px;
  }








}
