<template>
    <div class="ibox-content">
        <div class="ibox-title">
            <h5 v-if="requestType=='trial'">
                ATSトライアル社数
            </h5><h5 v-else>
                ATS有料社数
            </h5>
        </div>
        <div class="table-responsive">
            <ats-client-search :filter="query" @search="onSearch"/>
            <table class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                    <tr>
                        <th>企業ID</th>
                        <th>企業名</th>
                        <th>担当（採用企業)</th>
                        <th>現在のプラン</th>
                        <th>推薦数（自社A）</th> <!-- new field here -->
                        <th>自社A（合計）</th>
                        <th>自社A（開設済）</th>
                        <th>求人（合計）</th>
                        <th>求人（自社A公開中）</th>
                        <th>トライアル開始日</th>
                        <th>有料プラン開始日</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="dataLoading">
                        <td colspan="10">
                            <div class="loader"/>
                        </td>
                    </tr>
                    <ats-client-row v-for="(client, index) in atsData" :key="index" :client="client" :base-url="baseUrl"/>
                    <tr v-if="atsData.length == 0" class="odd">
                        <td colspan="10" class="text-center">
                            データが見つかりません
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>企業ID</th>
                        <th>企業名</th>
                        <th>担当（採用企業)</th>
                        <th>現在のプラン</th>
                        <th>推薦数（自社A）</th> <!-- new field here -->
                        <th>自社A（合計）</th>
                        <th>自社A（開設済）</th>
                        <th>求人（合計）</th>
                        <th>求人（自社A公開中）</th>
                        <th>トライアル開始日</th>
                        <th>有料プラン開始日</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <pagination :pagination="pagination" :current-page="pagination.current_page" @updated="onPageChanged"/>
    </div>
</template>
<script type="text/ecmascript-6">
    import Pagination from "../../../../admin/js/modules/common/pagination"
    import { setQueryStringObject } from "../../../../client/js/utils"
    import DashboardService from "../../services/dashboardService"
    import AtsClientRow from "./AtsClientRow"
    import AtsClientSearch from "./AtsClientSearch"

    export default {
        name: "AtsClientList",
        components: { AtsClientSearch, Pagination, AtsClientRow },
        props: {
            requestType: { type: String, required: true },
            baseUrl: { type: String, required: true },
        },
        data: () => ({
            atsData: [],
            dataLoading: true,
            pagination: {
                total: 60,
                per_page: 5,
                total_pages: 12,
            },
            query: {
                searchText: "",
                type: "trial",
                page: 1,
            },
        }),
        watch: {
            requestType: {
                handler(data) {
                    this.fetchAtsClients(),
                    this.query.type = data
                },
                immediate: true,
            },

        },
        methods: {
            async fetchAtsClients() {
                this.dataLoading = true
                setQueryStringObject(this.query)
                const { data, pagination } = await DashboardService.getAtsClientList(this.query)
                if (data) {
                    this.dataLoading = false
                }
                this.atsData = data
                this.pagination = pagination
            },
            onPageChanged(pageNumber) {
                this.dataLoading = true
                this.query.page = pageNumber
                this.fetchAtsClients()
            },
            onSearch(searchText) {
                this.query.page = 1
                this.query.searchText = searchText
                this.fetchAtsClients()
            },
        },
    }
</script>
