<template>
  <div class="search-wrapper">
    <div class="search-form-group">
      <label class="pl-10">検索:</label>
      <input type="text" name="search" class="form-control search-input" v-model="filter.searchText">
      <button type="button" class="btn btn-sm btn-primary" @click="search">検索</button>
      <button type="button" class="btn btn-sm btn-secondary" @click="reset">リセット</button>
    </div>
  </div>
</template>
<script type="text/ecmascript-6">
export default {
  name:"AtsClientSearch",
  props: {
    filter: { type: Object, required: true },
  },
  methods: {
    search() {
      this.$emit("search", this.filter.searchText)
    },
    reset()
    {
      this.$emit("search",null)
    }
  }
}
</script>