<template>
    <tr>
        <td>{{ client.organization_reg_id }}</td>
        <td><a href="javascript:void(0)" @click="detailPageRedirect">{{ client.organization_name }}</a></td>
        <td>{{ client.jobins_salesman }}</td>
        <td>{{ client.ats_plan_type }}</td>
        <td>{{ client.candidateTotal }}</td>
        <td>{{ client.total_ats_agents }}</td>
        <td>{{ client.active_ats_agents }}</td>
        <td>{{ client.total_jobs }}</td>
        <td>{{ client.jd_share_to_ats }}</td>
        <td>{{ client.ats_trial_at }}</td>
        <td>{{ client.ats_start_at }}</td>
    </tr>
</template>
<script type="text/ecmascript-6">
    export default
        {
            name: "AtsClientRow",
            props: {
                client: { type: Object, required: true },
                baseUrl: { type: String, required: true },
            },
            methods: {
                detailPageRedirect() {
                    const route = this.baseUrl + "/auth/crm/organization/" + this.client.organization_reg_id
                    window.open(route, "_blank")
                },
            },
        }
</script>
