
.modal-header {
    border-bottom: 0px;
}

.modal-content {
    color: $gray-900;
}

.modal-footer {
    border-top: 0px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px;
        margin: 5rem auto;
    }
    #termAcceptModal {
        .modal-dialog {
            max-width: 65%;
            top: -32px;
            .terms-accept-title{
                margin: 0 auto;
                font-weight: 700;
            }
        }

    }
    #termAcceptSuccessModal {
        .modal-dialog {
            top: 20%;

            .modal-header {
                padding-bottom: 1px;
            }
        }

    }
}
