
.custom-tab-wrapper{
  .tab-header{
    width: 100%;
    overflow: hidden;

  }
  ul#pills-tab{
    display: inline-block;

    li.nav-item {
      display: inline-block;
      a {
        color: $gray-900;
        display: flex;
        border-radius: 5px;

        span.tab-count {
          border: 1px solid $gray-900;
          font-size: 10px;
          width: 25px;
          display: inline-block;
          border-radius: 2px;
          margin: 2px 0 0 5px;
          height: 16px;
        }
      }
      .nav-link.active{
        background: $primary;
        color: $white;

        .tab-count{
          border: 1px solid $primary;
        }
      }
    }

  }
}
.col-middle-bar.selection-detail-message .custom-tab-wrapper ul#pills-tab li.nav-item a {
  color: #292B2F !important;
  display: flex;
  border-radius: 0 !important;
}