<template>
    <nav v-if="total_pages > 1" class="border-t border-gray-200 px-4 flex items-center justify-between sm:px-0">
        <div class="-mt-px w-0 flex-1 flex">
            <a href="#"
               :class="{'cursor-not-allowed pointer-events-none': isInFirstPage}"
               :disabled="isInFirstPage"
               class="border-t-2 border-transparent pt-4 pr-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300"
               @click="gotoPrevious">
                <!-- Heroicon name: solid/arrow-narrow-left -->
                <svg class="mr-3 h-5 w-5 text-gray-400"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 20 20"
                     fill="currentColor"
                     aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
                          clip-rule="evenodd"/>
                </svg>
                Previous
            </a>
        </div>
        <template v-if="showDots('left')">
            <div class="md:-mt-px md:flex">
                <a href="#"
                   :class="{'active cursor-not-allowed border-indigo-500 text-indigo-600 pointer-events-none': isInFirstPage, 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300': !isInLastPage}"
                   :disabled="isInFirstPage"
                   class="border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium"
                   @click="gotoPageNumber(1)">
                    1
                </a>
                <span :disabled="true"
                      class="page-link cursor-not-allowed border-transparent text-gray-500 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium">
                    ...
                </span>
            </div>
        </template>
        <div class="md:-mt-px md:flex">
            <a v-for="(page, index) in pages"
               :key="`pages_${index}`"
               href="#"
               :class="{'active cursor-not-allowed border-indigo-500 text-indigo-600 pointer-events-none': page === currentPage, 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300': page !== currentPage}"
               :disabled="page === currentPage"
               class="border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium"
               @click="gotoPageNumber(page)">
                {{ page }}
            </a>
        </div>

        <template v-if="showDots('right')">
            <div class="md:-mt-px md:flex">
                <span :disabled="true"
                      class="page-link cursor-not-allowed border-transparent text-gray-500 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium">
                    ...
                </span>

                <a href="#"
                   :class="{'active cursor-not-allowed border-indigo-500 text-indigo-600 pointer-events-none': isInLastPage, 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300': !isInLastPage}"
                   :disabled="isInLastPage"
                   class="border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium"
                   @click="gotoPageNumber(total_pages)">
                    {{ total_pages }}
                </a>
            </div>
        </template>

        <div class="-mt-px w-0 flex-1 flex justify-end"
             :class="{'disabled': isInLastPage}">
            <a href="#"
               :class="{'cursor-not-allowed pointer-events-none': isInLastPage}"
               :disabled="isInLastPage"
               class="border-t-2 border-transparent pt-4 pl-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300"
               @click="gotoNext">
                Next
                <!-- Heroicon name: solid/arrow-narrow-right -->
                <svg class="ml-3 h-5 w-5 text-gray-400"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 20 20"
                     fill="currentColor"
                     aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                          clip-rule="evenodd"/>
                </svg>
            </a>
        </div>
    </nav>
</template>

<script type="text/ecmascript-6">
    export default {
        name: "Pagination",

        props: {
            currentPage: { type: Number, required: true, default: 1 },
            pagination: { type: Object, required: true, default: () => ({}) },
            maxVisibleButtons: { type: Number, required: false, default: 5 },
        },

        data: () => ({
            per_page: 10,
            total: 0,
            total_pages: 0,
        }),

        watch: {
            pagination: {
                handler(pagination) {
                    this.per_page = pagination.per_page || 10
                    this.total = pagination.total || 0
                    this.total_pages = pagination.total_pages || 0
                },
                immediate: true,
            },
        },

        computed: {
            isInFirstPage() {
                return this.currentPage === 1
            },

            isInLastPage() {
                return this.currentPage === this.total_pages
            },

            pages() {
                const range = []

                for (let i = this.startPage; i <= this.endPage; i += 1) {
                    if (i > 0) {
                        range.push(i)
                    }
                }

                // console.log(range, "range")

                return range
            },

            startPage() {
                if (this.currentPage === 1) {
                    return 1
                }

                if (this.currentPage === this.total_pages) {
                    return this.total_pages - this.maxVisibleButtons + 1
                }

                return this.currentPage - 1
            },

            endPage() {
                return Math.min(this.startPage + this.maxVisibleButtons - 1, this.total_pages)
            },
        },

        methods: {
            showDots(position = "left") {
                const number = position === "left" ? 1 : this.total_pages
                const nextNumber = position === "left" ? 2 : this.total_pages - 1
                return !this.pages.includes(number) || !this.pages.includes(nextNumber)
            },

            gotoFirst() {
                this.gotoPageNumber(1)
            },

            gotoLast() {
                this.gotoPageNumber(this.total_pages)
            },

            gotoPrevious() {
                this.gotoPageNumber(this.currentPage - 1)
            },

            gotoNext() {
                this.gotoPageNumber(this.currentPage + 1)
            },

            gotoPageNumber(pageNumber) {
                this.$emit("updated", pageNumber <= 0 ? 1 : pageNumber)
            },
        },
    }
</script>

<style lang="scss">
.listing-navigation {
  min-height: 45px;
}
</style>
