<template>
    <date-picker v-model="model"
                 :range="range"
                 format="YYYY/MM/DD"
                 title-format="YYYY/MM/DD"
                 type="date"
                 value-type="format"
                 @input="handleInputChange"/>
</template>

<script>
    import DatePicker from "vue2-datepicker"
    import "vue2-datepicker/index.css"

    import "vue2-datepicker/locale/ja"

    export default {
        name: "Vue2DatePicker",
        components: {
            DatePicker,
        },
        props: {
            range: { type: Boolean, required: false, default: false },
            value: { type: [Array, String], required: false, default: null },
        },
        data() {
            return {
                model: null,
            }
        },
        watch: {
            value: {
                handler: function(data) {
                    this.model = data
                },
                immediate: true,
            },
        },
        methods: {
            handleInputChange(date) {
                this.$emit("input", date)
            },
        },
    }
</script>
<style>
    .mx-table-date td, .mx-table-date th {
        width: 32px !important;
        height: 32px !important;
        font-size: 12px;
    }

    .mx-calendar-content .cell.in-range {
        color: #73879c;
        background-color: #dbedfb !important;
    }

    .mx-calendar-content .cell:hover {
        color: #73879c !important;
        background-color: #f3f9fe !important;
    }

    .mx-calendar-content .cell.active {
        color: #fff !important;
        background-color: #1284e7 !important;
    }

    .mx-input {
        height: 38px !important;
    }
</style>
