.navbar.custom-navbar{
  .navbar-toggler {

    border-color: rgba(0,0,0,0.0);
    &:focus{
      border-color: rgba(0,0,0,0.0) !important;
      outline: none;
    }
  }


  a.navbar-brand{
    img{
      max-width: 100px;
    }
  }


  .navbar-nav .dropdown-menu {
    left: unset;
    right: 0;


  }
  .nav-link {
    color: rgba(0,0,0,.9) ;
    margin-right: 10px;
    span.notification-count {
      background: red;
      color: $white;
      font-size: 10px;
      width: 20px;
      height: 20px;
      display: inline-flex;
      text-align: center;
      border-radius: 50px;
      justify-content: center;
      align-self: center;
      align-items: center;
      margin: 0px 0 0 0px;
      position: relative;
      top: -2px;
    }

  }
  .dropdown-toggle::after {
    background: url("/../client/img/icons/dropdown.png");
    position: relative;
    width: 10px;
    display: inline-block;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
    background-position: 0px 3px;
    margin: 1px 0 0 8px;
    float: right;
  }
  .dropdown-menu {
    border: 1px solid $gray-900;
    img.arrow-dropdown {
      width: 15px;
      position: absolute;
      right: 18px;
      top: -8px;
    }
  }

}

.navbar-right{
  a.nav-link img {
    max-width: 20px;
  }
  li.nav-item.bell-notification{
    a.nav-link{
      position: relative;
    }
    span.notification-count-dot {
      background: red;
      width: 11px;
      display: inline-block;
      height: 11px;
      border-radius: 50px;
      position: absolute;
      right: 5px;
      top: 6px;
      border: 2px solid $white;
    }
  }
  a.nav-link.user-account-a-link {
    border: 2px solid $gray-900;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 50px;
    background: $primary;
    display: flex;

    color: $white;
    img{
      max-width: 15px;
    }
    &:hover{
      color: $white;
    }
    &:focus{
      color: $white;
    }
  }
}
.navbar-wrap {

  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

@media (max-width: 991px) {
  .navbar.custom-navbar {
    .navbar-brand {

      padding: 10px 0 10px 15px;
    }
    padding: 0;
    .menubar-wrap{
      width: 100%;
      ul{
        margin-top: 0px !important;
      }
      li.nav-item {
        border-top: 1px solid $gray-400;
        .nav-link {
          padding: 12px 0 10px 15px;
        }
      }
    }
  }

  .navbar-wrap {
    flex-direction: column-reverse;
  }
  .log-wrap{
    ul{
      position: relative;
      top: 5px;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      li{
        margin: 10px 0 0 10px;
        span.notification-count-dot {
          right: -2px !important;
          top: 3px !important;
        }
        a.nav-link.user-account-a-link {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
