// Global styling for this template
html {
    scroll-behavior: smooth;
}

body {
    font-family: noto-sans-cjk-jp, sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    padding: 0;
    margin: 0;
}

.form-control {
    &:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

button {
    &:hover,
    &:focus {
        box-shadow: none;
        outline: none;
        border: none;
    }
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
}

tbody,
thead {
    text-align: left;
}

th {
    font-size: 12px;
    font-weight: 700;
    color: #BCBCBC;
}

td {
    font-size: 14px;
    color: #D2D2D2;
}

td {
    padding: 15px 22px;
    line-height: 1.3;
}

th {
    padding: 2px 22px;
    line-height: 1.3;
}