// Variables

// Restate Bootstrap Variables

$white:    #fff !default;
$gray-200: #f8f8f8 !default;
$gray-300: #f9f9f9 !default;
$gray-400: #EAEAEA !default;
$gray-500: #BBBBBB !default;
$gray-600: #858585 !default;
$gray-900: #292B2F !default;
$black:    #000 !default;

$blue:    #0094E8 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #FF0000 !default;
$orange:  #FFA800 !default;
$yellow:  #FEE551 !default;
$green:   #B6EEB4 !default;
$green-100:   #B6EEB4 !default;
$teal:    #20c997 !default;
$cyan:    #DDF0FB !default;

$primary:       $yellow !default;
$secondary:     $gray-900 !default;
$success:       $green!default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$link:          $blue !default;


