@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 767px) {
            @content
        }
        ;
    }
    @if $breakpoint==tab-port {
        @media only screen and (max-width: 991px) {
            @content
        }
        ;
    }
    @if $breakpoint==tab-land {
        @media only screen and (max-width: 1199px) {
            @content
        }
        ;
    }
    @if $breakpoint==big-desktop {
        @media only screen and (min-width: 1600px) {
            @content
        }
        ;
    }
}