.btn-orange {
    min-width: 230px;
    height: 55px;
    text-align: center;
    background: #FD7E14;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 50px;
    border: none;
    box-shadow: none;
    outline: none;
    transition: all linear 0.3s;
    &:hover {
        transform: scale(1.050);
        box-shadow: 0 4px 10px #53280566;
    }
    @include respond(tab-land) {
        min-width: 180px;
    }
}

.btn-white {
    min-width: 230px;
    height: 55px;
    text-align: center;
    background: #fff;
    font-size: 14px;
    font-weight: 700;
    color: #292B2F;
    border-radius: 50px;
    border: none;
    box-shadow: none;
    outline: none;
    transition: all linear 0.3s;
    &:hover {
        transform: scale(1.050);
        box-shadow: 0 4px 10px #00000066;
    }
    @include respond(tab-land) {
        min-width: 180px;
    }
}

.btn-send {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background-color: #FD7E14;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
    outline: none;
    transition: all linear 0.3s;
    &:hover {
        box-shadow: 0 4px 10px #00000066;
    }
}