<template>
    <div class="jobcards ">
        <div class="card">
            <div class="card-header">
                <h2 class="jobtitle">
                    <a :href="job.job_detail_url" class="jobDetailUrl">{{ job.job_title }}</a>

                </h2>
                <div class="jobdescription">
                    {{ job.job_company_name }}

                </div>
            </div>
            <div class="card-body">
                <div class="jobdetail">
                    <ul class="list-group">
                      <li class="list-group-item">
                     <img src="../../../../images/jobid.png" class="job-id-icon">{{ job.vacancy_no }}
                      </li>
                        <li class="list-group-item">
                            <span class="icon briefcase"></span>{{ job.job_type }} / {{ job.sub_job_type }}
                        </li>
                        <li class="list-group-item">
                            <span class="icon location"></span>{{ job.job_prefecture|trimString }}

                        </li>
                        <li class="list-group-item">
                            <span class="icon amount"></span>年収 {{job.min_year_salary}}
                            万円～{{job.max_year_salary}}
                            万円 </li>
                    </ul>
                </div>
                <div class="applicant-type d-flex">
                    <div class="categories">
                        <div class="d-flex align-items-center">
                            <div class="limits">
                                年齢
                            </div>
                            <div class="value">
                                {{job.age_min}} 歳～ {{job.age_max}}歳まで
                            </div>
                        </div>
                    </div>
                    <div class="categories">
                        <div class="d-flex align-items-center">
                            <div class="limits">
                                経験社数
                            </div>
                            <div class="value" v-if="job.experience">
                                {{job.experience}}社まで

                            </div>
                        </div>
                    </div>
                    <div class="categories">
                        <div class="d-flex align-items-center">
                            <div class="limits">
                                性別
                            </div>
                            <div class="value">
                                {{ gender }}
                            </div>
                        </div>
                    </div>
                    <div class="categories">
                        <div class="d-flex align-items-center">
                            <div class="limits">
                                国籍
                            </div>
                            <div class="value">
                                {{ prefNationality }}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="updated d-flex align-items-center">
                    <div class="updated-label">
                        更新日：{{ job.updated_at }}

                    </div>
                    <div class="updated-value" v-if="job.is_new">
                        New
                    </div>
                    <div class="updated-value" v-if="job.is_updated">
                        Updated
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="buttonwrapper d-flex justify-content-end">

                  <a :href="job.job_detail_url+'#messages'"  target="_blank" class="btn btn-black-outline d-flex align-items-center">この求人について質問する<span class="ico-holder-spn" style="margin-left: 5px;"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                  </a>
                    <a :href="job.job_file_url" v-if="job.job_file_url" class="btn btn-black-outline d-flex align-items-center" download>求人票（企業オリジナル）<span class="dw-icon"></span>
                    </a>
                    <a :href="job.job_vacancy_download" v-if="job.job_status=='Open'" class="btn btn-black-outline d-flex align-items-center" download>求人票（候補者用）<span class="dw-icon"></span>
                    </a>
                    <a :href="job.job_vacancy_agent_download" v-if="job.job_status=='Open'" class="btn btn-black-outline d-flex align-items-center" download>求人票（エージェント用）<span class="dw-icon"></span>
                    </a>
                    <a :href="job.job_recommend_url" class="btn btn-black-outline d-flex align-items-center">
                        候補者を推薦する
                        <span class="ico-holder-spn" style="margin-left: 5px;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
<script type="application/ecmascript">
    export default {
        name: 'JobRow',
        props: {
            job: {type: Object, require:true}
        },
        data: () => ({

        }),
        filters: {
            trimString(value) {
                if (value.length < 60) {
                    return value
                }
                return value.substring(0,60) + '...';
            }
        },
        computed: {
            gender: function() {
                const {gender: gender} = this.job
                if (gender == 'Male') {
                    return "男性";
                }
                if (gender == 'Female') {
                    return "女性";
                }
                if (gender == 'NA') {
                    return "不問";
                }
                return "";
            },
            prefNationality: function () {
                const {pref_nationality: pref_nationality} = this.job
                if (pref_nationality == 'JP') {
                    return "日本国籍の方のみ";
                }
                if (pref_nationality == 'JPA') {
                    return "日本国籍の方を想定";
                }
                if (pref_nationality == 'NA') {
                    return "国籍不問";
                }
                return "";
            }

        }
    }
</script>
<style>
    .jobDetailUrl {
        color: #292B2F;
    }
    .jobDetailUrl:hover {
        color: #292B2F;
    }
</style>
