<template>
    <div class="col-12 col-lg-9">
        <div class="jobsearch-wrapper">

            <div class="formwrapper">
                <div class="row ">
                    <div class="col-12 col-lg-4 fieldset">
                        <input type="text" v-model="searchText" class="form-control" placeholder="フリーワード">
                    </div>
                    <div class="col-12 col-lg-4 fieldset">
                        <div class="form-control addoption">
                            <input type="text" class="" :value="prefectureName|trimString" placeholder="勤務地" @click="showLocationModal">
                            <span class="addicon"></span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 fieldset">
                        <div class="form-control addoption">
                            <input type="text" class="" :value="subJobTypeName|trimString" placeholder="職種" @click="showJobTypeModal">
                            <span class="addicon"></span>
                        </div>
                    </div>
                </div>
                <div class="searchextended" style="display:none;">
                    <div class="row">
                        <div class="col-12 col-lg-4 fieldset">
                            <div class="form-control addoption">
                                <input type="text" class="" placeholder="特徴" :value="characteristicName|trimString" @click="showCharacteristicModal">
                                <span class="addicon"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 fieldset">
                            <div class="selectlist d-flex align-items-center">
                                <select v-model="experience" class="form-control small" placeholder="経験社数">
                                    <option value="">経験社数</option>
                                    <option :value="index" v-for="index in 8" :key="index">{{ index }}</option>
                                    <option value="不問">不問</option>
                                </select>
                                <span>社で応募可能</span>
                            </div>

                        </div>
                        <div class="col-12 col-lg-4 fieldset">
                            <div class="selectlist d-flex align-items-center">
                                <input type="text" v-model="age" class="form-control small" placeholder="年齢" @input="ageInput($event.target.value)" @keypress="numberOnly($event)">
                                <span>歳で応募可能</span>

                            </div>

                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="row">
                                <div class="col-12 fieldset">
                                    <div class="row f-middle">
                                        <div class="col min pr-0 min-amount-select amt-option">
                                            <select v-model="minYearSalary" class="form-control small" placeholder="最低年収" @change="changeMinYearSalary">
                                                <option value="">最低年収</option>
                                                <option value="0">0</option>
                                                <option :value="index*50" v-for="index in minLimit" :key="index">{{ index*50 }}</option>
                                            </select>
                                            <span class="currency-span"> 万円~</span>

                                        </div>

                                        <div class="col pl-0 amt-option">
                                            <select v-model="maxYearSalary" class="form-control small" placeholder="最高年収" @change="changeMaxYearSalary">
                                                <option value="">最高年収</option>
                                                <option :value="maxStart + (index*50)" v-for="index in 200" :key="index" v-if="(maxStart + index*50) <= 10000">{{ maxStart + index*50 }}</option>
                                            </select>
                                            <span class="currency-span">
                                                万円
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-lg-4 fieldset">
                            <div class="checkwrapper lime mb-2">
                                <input type="checkbox" class="form-check-box" id="all" value="NA" v-model="gender">
                                <label for="all" class="form-checkbox-label d-flex align-items-center mb-0">
                                    <span class="agreeto"> 性別不問</span>
                                </label>
                            </div>


                            <div class="checkwrapper lime mb-2">
                                <input type="checkbox" class="form-check-box" id="women" value="Female" v-model="gender">
                                <label  for="women" class="form-checkbox-label d-flex align-items-center mb-0">
                                    <span class="agreeto"> 女性のみ</span>
                                </label>
                            </div>

                            <div class="checkwrapper lime">
                                <input type="checkbox" class="form-check-box" id="men" value="Male" v-model="gender">
                                <label for="men" class="form-checkbox-label d-flex align-items-center mb-0">
                                    <span class="agreeto"> 男性のみ</span>
                                </label>
                            </div>


                        </div>
                        <div class="col-12 col-lg-4 fieldset">
                            <div class="checkwrapper lime mb-2">
                                <input type="checkbox" class="form-check-box" id="allnationality" value="NA" v-model="nationality">
                                <label  for="allnationality" class="form-checkbox-label d-flex align-items-center mb-0">
                                    <span class="agreeto"> 国籍不問</span>
                                </label>
                            </div>

                            <div class="checkwrapper lime mb-2">
                                <input type="checkbox" class="form-check-box" id="japanese" value="JPA" v-model="nationality">
                                <label for="japanese" class="form-checkbox-label d-flex align-items-center mb-0">
                                    <span class="agreeto"> 日本国籍の方を想定</span>
                                </label>
                            </div>

                            <div class="checkwrapper lime mb-2">
                                <input type="checkbox" class="form-check-box" id="only-japanese" value="JP" v-model="nationality">
                                <label  for="only-japanese" class="form-checkbox-label d-flex align-items-center mb-0">
                                    <span class="agreeto"> 日本国籍の方のみ</span>
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">


                </div>
                <div class="buttonwrapper">
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <button type="button" class="btn btn-blacktint w-100 mb-2" @click="handleOnSubmit">この条件で検索

                            </button>
                        </div>
                        <div class="col-12 col-lg-4">
                            <button type="button" class="btn btn-blacktint w-100" @click="handleClear">条件をリセット</button>
                        </div>

                        <div class="col-12 col-lg-4">
                            <button type="button" class="btn d-flex align-items-center toggleshow pl-0"><span class="arrow"></span>さらに詳細検索する</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="joblisted" v-if="jobs.length">
            <div class="joblistheader row">
                <div class="col-md-6">
                    <h1 class="jobsearch-header">{{ pagination.count }}件 <span class="small">/{{ pagination.total }}件中</span></h1>
                </div>
                <div class="col-md-6">
                    <div class="mt-5">
                        <pagination :pagination="pagination" :current-page="query.page" @updated="onPageChanged"/>
                    </div>
                </div>
            </div>
            <job-row v-for="(job, index) in jobs"
                     :key="index"
                     :job="job"></job-row>

        </div>
        <div class="selection-filter-container pb-2">
            <div class="row m-0">
                <div class="col-lg-12 p-0">
                    <pagination :pagination="pagination" :current-page="query.page" @updated="onPageChanged"/>
                </div>
            </div>
        </div>
        <div v-if="!jobs.length" style="text-align: center;">

            データが見つかりません

        </div>
        <modal-right modal-id="locationModal" modal-class="locationModalPop">
            <template v-slot:title>
                <h5 class="modal-title">勤務地</h5>
            </template>
            <div class="wrapper-right-modal">
                <div class="row">
                    <div class=" pills-wrapper col-12">
                        <div class="pills-body">
                            <div class="col-auto  navpill-col p-0">
                                <div class="nav flex-column nav-pills" id="v-pills-tab-location" role="tablist"
                                     aria-orientation="vertical">
                                    <a class="nav-link " :class="{ ' active': index === 0 }" :id="'v-pills-'+index+'-tab'" data-toggle="pill"
                                       :href="'#v-pills-'+index" role="tab" aria-controls="v-pills-first"
                                       aria-selected="true" v-for="(region, index) in regions">{{ region.name }}
                                    </a>
                                </div>

                            </div>
                            <div class="col">
                                <div class="tab-content" id="v-pills-tabContent-location">
                                    <div class="tab-pane fade " :class="{ ' active show': index === 0 }" :id="'v-pills-'+index" role="tabpanel"
                                         aria-labelledby="v-pills-first-tab" v-for="(region, index) in regions">
                                        <div class="pillcontent-header">
                                            <div class="checkwrapper lime">
                                                <input type="checkbox" class="form-check-box"  v-model="regionSelected" :id="region.name" :value="region.region_id"  @change="prefCheckAll($event,region.pref)">
                                                <label class="form-checkbox-label d-flex align-items-center mb-0" :for="region.name">
                                                        <span class="agreeto">すべて

                                                        </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="pillcontent-body">
                                            <div class="pillcontent-row" v-for="(pref, j) in region.pref">
                                                <div class="checkwrapper lime">
                                                    <input type="checkbox" class="form-check-box" v-model="prefecture" :value="pref.id" :id="'pref-'+pref.name" @change="prefCheck($event,pref.name)">
                                                    <label class="form-checkbox-label d-flex align-items-center mb-0"
                                                           :for="'pref-'+pref.name">
                                                        <span class="agreeto">{{ pref.name }}</span>
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <template v-slot:footer>
                <a href="javascript:void(0);" class="btn btn-light" @click="clearLocation">
                    全てリセット
                </a>
                <a class="btn btn-black" href="javascript:void(0);" data-dismiss="modal" aria-label="Close">
                    選択

                </a>

            </template>
        </modal-right>
        <modal-right modal-id="jobTypeModal" modal-class="jobTypeModalPop">
            <template v-slot:title>
                <h5 class="modal-title">勤務地</h5>
            </template>
            <div class="wrapper-right-modal">
                <div class="row">
                    <div class=" pills-wrapper col-12">
                        <div class="pills-body">
                            <div class="col-auto  navpill-col p-0">
                                <div class="nav flex-column nav-pills" id="v-pills-tab-job-type" role="tablist"
                                     aria-orientation="vertical">
                                    <a class="nav-link " :class="{ ' active': index === 0 }" :id="'v-pills-'+index+'-tab'" data-toggle="pill"
                                       :href="'#v-pills-job-type-'+index" role="tab" aria-controls="v-pills-first"
                                       aria-selected="true" v-for="(jobType, index) in jobTypes">{{ jobType.job_type }}
                                    </a>
                                </div>

                            </div>
                            <div class="col">
                                <div class="tab-content" id="v-pills-tabContent-job-type">
                                    <div class="tab-pane fade " :class="{ ' active show': index === 0 }" :id="'v-pills-job-type-'+index" role="tabpanel"
                                         aria-labelledby="v-pills-first-tab" v-for="(jobType, index) in jobTypes">
                                        <div class="pillcontent-header">
                                            <div class="checkwrapper lime">
                                                <input type="checkbox" class="form-check-box"  v-model="jobTypeSelected" :id="jobType.job_type" :value="jobType.job_type_id"  @change="subJobTypeCheckAll($event,jobType.sub_job_types)">
                                                <label class="form-checkbox-label d-flex align-items-center mb-0" :for="jobType.job_type">
                                                        <span class="agreeto">すべて

                                                        </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="pillcontent-body">
                                            <div class="pillcontent-row" v-for="(subJob, j) in jobType.sub_job_types">
                                                <div class="checkwrapper lime">
                                                    <input type="checkbox" class="form-check-box" v-model="subJobType" :value="subJob.id" :id="'subJobType-'+subJob.type" @change="subJobTypeCheck($event,subJob.type)">
                                                    <label class="form-checkbox-label d-flex align-items-center mb-0"
                                                           :for="'subJobType-'+subJob.type">
                                                        <span class="agreeto">{{ subJob.type }}</span>
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <template v-slot:footer>
                <a href="javascript:void(0);" class="btn btn-light" @click="clearJobType">
                    全てリセット
                </a>
                <a class="btn btn-black" href="javascript:void(0);" data-dismiss="modal" aria-label="Close">
                    選択

                </a>

            </template>
        </modal-right>
        <modal-right modal-id="characteristicModal">
            <template v-slot:title>
                <h5 class="modal-title">特徴</h5>
            </template>
            <div class="wrapper-right-modal">
                <div class="row">

                    <div class="col-md-6 mt-2 mb-2" v-for="(jobChar, index) in characteristics">
                        <div class="checkwrapper lime ml-5">
                            <input type="checkbox" class="form-check-box"  v-model="characteristic" :id="'charac-'+index" :value="jobChar.characteristic_id" @change="characteristicCheck($event,jobChar.title)">
                            <label class="form-checkbox-label d-flex align-items-center mb-0" :for="'charac-'+index">
                                <span class="agreeto">{{ jobChar.title }}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <template v-slot:footer>
                <a href="javascript:void(0);" class="btn btn-light" @click="clearCharacteristic">
                    全てリセット
                </a>
                <a class="btn btn-black" href="javascript:void(0);" data-dismiss="modal" aria-label="Close">
                    選択

                </a>

            </template>
        </modal-right>


    </div>
</template>

<script type="text/ecmascript-6">
import JobRow from "./JobRow";
import Pagination from "../../selection-management/partials/Pagination";
import modalRight from "../../../components/modalRight"
export default {
    name: "JobSearch",
    components: {JobRow,Pagination, modalRight},
    props: {
        query: { type: Object, required: true },
        regions: { type: Array, required: true },
        jobTypes: { type: Array, required: true },
        characteristics: { type: Array, required: true },
        pagination: { type: Object, required: true },
        jobs: { type: Array, required: true },
    },

    data: () => ({
        minLimit: 200,
        maxStart: 0,
        searchText: "",
        experience: "",
        gender:[],
        nationality:[],
        age: "",
        minYearSalary: "",
        maxYearSalary: "",

        regionSelected:[],
        prefecture:[],
        prefectureList:[],
        prefectureName:'',

        jobTypeSelected:[],
        subJobType:[],
        subJobTypeList:[],
        subJobTypeName:'',

        characteristic:[],
        characteristicSelected:[],
        characteristicName:'',
    }),
    filters: {
        trimString(value) {
            if (value.length < 18) {
                return value
            }
            return value.substring(0,18) + '...';
        }
    },
    watch: {
        query: {
            handler(query) {
                this.searchText = query.searchText
                this.experience = query.experience
                this.gender = query.gender
                this.nationality = query.nationality
                this.age = query.age
                this.minYearSalary = query.minYearSalary
                this.maxYearSalary = query.maxYearSalary
                this.prefecture = query.prefecture
                this.subJobType = query.subJobType
                this.characteristic = query.characteristic
                this.prefectureName = query.prefectureName
                this.characteristicName = query.characteristicName
                this.subJobTypeName = query.subJobTypeName
            },
            immediate: true,
        },
    },

    methods: {
        handleOnSubmit() {
            this.$emit("search", {
                searchText: this.searchText,
                experience: this.experience,
                gender: this.gender,
                nationality: this.nationality,
                age: this.age,
                minYearSalary: this.minYearSalary,
                maxYearSalary: this.maxYearSalary,
                prefecture: this.prefecture,
                subJobType: this.subJobType,
                characteristic: this.characteristic,
                prefectureName: this.prefectureList.join(),
                characteristicName: this.characteristicSelected.join(),
                subJobTypeName: this.subJobTypeList.join(),
            })
        },
        onPageChanged(pageNumber)
        {
            this.$emit("pageChange", pageNumber)
        },
        handleClear() {
            this.$emit("clearSearch")
        },
        showLocationModal() {
            $('#locationModal').modal('show')
        },
        showJobTypeModal() {
            $('#jobTypeModal').modal('show')
        },
        showCharacteristicModal() {
            $('#characteristicModal').modal('show')
        },
        clearLocation() {
            this.prefecture = []
            this.regionSelected = []
            this.prefectureList=[]
            this.prefectureName=''
        },
        clearJobType() {
            this.subJobType = []
            this.jobTypeSelected = []
            this.subJobTypeList=[]
            this.subJobTypeName=''
        },
        clearCharacteristic() {
            this.characteristic=[]
            this.characteristicSelected = []
            this.characteristicName=''
        },
        prefCheck(e, pref) {
            if(e.target.checked) {
                this.prefectureList.push(pref)
            } else {
                this.prefectureList.pop(pref)
            }
            this.setPrefectureSelectedName()
        },
        prefCheckAll(e, prefList) {
            const regionPrefId = prefList.map(pref => pref.id)
            const defaultPref = this.prefecture
            const defaultPrefList = this.prefectureList
            const regionPrefList = prefList.map(pref => pref.name)
            if(e.target.checked) {
                this.prefecture = this.mergeArray(defaultPref, regionPrefId)
                this.prefectureList = this.mergeArray(defaultPrefList, regionPrefList)
            } else {
                regionPrefId.forEach(function (item) {
                    defaultPref.pop(item)
                });
                this.prefecture = defaultPref
                regionPrefList.forEach(function (item) {
                    defaultPrefList.pop(item)
                });
                this.prefectureList = defaultPrefList
            }
            this.setPrefectureSelectedName()
        },
        setPrefectureSelectedName() {
            this.prefectureName=this.prefectureList.join()
        },


        subJobTypeCheck(e, subJob) {
            if(e.target.checked) {
                this.subJobTypeList.push(subJob)
            } else {
                this.subJobTypeList.pop(subJob)
            }
            this.setSubJobTypeSelectedName()
        },
        subJobTypeCheckAll(e, subJobTypeList) {
            const jobTypeSubId = subJobTypeList.map(subJobType => subJobType.id)
            const defaultSubJobType = this.subJobType
            const defaultSubJobTypeList = this.subJobTypeList
            const jobTypeSubList = subJobTypeList.map(subJobType => subJobType.type)
            if(e.target.checked) {
                this.subJobType = this.mergeArray(defaultSubJobType, jobTypeSubId)
                this.subJobTypeList = this.mergeArray(defaultSubJobTypeList, jobTypeSubList)
            } else {
                jobTypeSubId.forEach(function (item) {
                    defaultSubJobType.pop(item)
                });
                this.subJobType = defaultSubJobType
                jobTypeSubList.forEach(function (item) {
                    defaultSubJobTypeList.pop(item)
                });
                this.subJobTypeList = defaultSubJobTypeList
            }
            this.setSubJobTypeSelectedName()
        },
        setSubJobTypeSelectedName() {
            this.subJobTypeName=this.subJobTypeList.join()
        },
        characteristicCheck(e, title) {
            if(e.target.checked) {
                this.characteristicSelected.push(title)
            } else {
                this.characteristicSelected.pop(title)
            }
            this.characteristicName=this.characteristicSelected.join()
        },
        mergeArray(a, b) {
            return a.concat(b.filter((item) => a.indexOf(item) < 0));
        },
        ageInput(age) {
            if (parseInt(age) === 0) {
                this.age = 1;
            }
            if (age > 100) {
                this.age = 100;
            }
        },

        numberOnly(event) {
            if ((event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        },
        changeMaxYearSalary($event) {
            if (!$event.target.value) {
                this.minLimit = 200;
            } else {
                this.minLimit = parseInt($event.target.value)/50
            }
        },
        changeMinYearSalary($event) {
            if (!$event.target.value || $event.target.value=="0") {
                this.maxStart = 0;
            } else {
                this.maxStart = parseInt($event.target.value)-50
            }
        }

    },
}
</script>
