<template>
  <div class="row align-items-center justify-content-center">
    <label  class="m-0 col-auto">チェックした求人を
    </label>
    <div class="pl-0 d-flex col">
      <div class="col pl-0">
        <select name="action" class="form-control" v-model="action">
          <option value="close" >非公開にする</option>
          <option value="delete">削除する　</option>
        </select>
      </div>
      <div class="col-auto pl-0">
        <button class="btn btn-blacktint"  @click="onChange">
          実行
        </button>
      </div>
    </div>
  </div>
</template>
<script type="text/ecmascript-6">
export default {
  name:"JobBulkAction",
  props:{
    query: { type: Object, required: true },
  },
  data: () => ({
    action: ""
  }),
  watch:{
    query:{
      handler(query)
      {
          this.action = "close";
      },
      immediate:true,
    }
  },
  methods: {
    onChange() {
      this.$emit('changeStatus', this.action);
    },
  }
}
</script>