<template>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-12 col-lg-12 px-0">
                    <div class="form-check jobcheck d-flex">

                        <div class="check-box-custom">
                            <label class="container">
                                <input type="checkbox" name="customcheck[]"
                                       :checked="checkList.includes(job.job_id)"
                                       @click="changeStatus($event.target.checked)"
                                :id="'jd-'+job.job_id">
                                <span class="checkmark"  :for="'jd-'+job.job_id"></span>
                            </label>
                        </div>
                            <div class="agreeto">
                                <div class="col pl-0">
                                    <h2 class="jobtitle ">
                                        {{ job.job_title }}

                                    </h2>
                                    <div class="jobdescription">
                                        {{ job.job_type }}
                                        <template v-if="job.sub_job_type">
                                            / {{ job.sub_job_type }}
                                        </template>

                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-body">
            <div class="jobdetail">
                <div class="d-flex flex-row justify-content-between">
                    <div class="job-list-feature">
                      <div class="list-group-item">
                        <img src="../../../images/jobid.png" class="job-id-icon">
                        <div class="mw-225">
                          {{ job.vacancy_no }}
                        </div>
                      </div>
                        <div class="list-group-item text-truncate mw-3">
                            <span class="icon location"/>
                            <div class="mw-225 text-truncate">
                                <label v-for="(pref , index) in job.prefectures" :key="index" class="mb-0">
                                    {{ pref.name }},
                                </label>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <span class="icon person"/>
                            <div class="mw-225 text-truncate">
                                {{ job.totalCandidates }} 推薦
                            </div>
                        </div>
                        <div  class="list-group-item">
                            <span v-if="job.job_file_name" class="icon pdf"/>
                            <div class="mw-225 text-truncate">
                                <span v-if="job.job_file_name"  class="link job-file" @click="downloadJobFile(job.job_file_name,job.job_upload_file )">{{ job.job_upload_file }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="job-list-status">
                        <div  class="list-group-item">
                            <div class="align-items-center d-flex flex-col-display text-center list-item-box " >
                                    <span class="status-type status-open" v-if="job.is_ats_share ==  1">公開中</span>
                                   <span class="status-type status-closed" v-else>非公開</span>
                                    自社エージェント
                            </div>
                        </div>

                        <div class="list-group-item">

                            <div class="align-items-center d-flex flex-col-display text-center list-item-box">
                                <template v-if="job.is_jobins_share ==  1 && job.job_status == 'Open' ">
                                    <span class="status-type status-open" >公開中</span>
                                </template>
                                <template v-else>
                                    <span class="status-type status-closed">
                                    非公開
                                </span>
                                </template>
                                JoBinsエージェント
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="updated d-flex align-items-center pl-0">
                <div class="updated-label ">
                    作成日：<span>{{ job.created_at | dateWithoutTime }}</span>
                </div>
                <div class="updated-label">
                    更新日：<span v-if="job.updated_at">{{ job.updated_at | dateWithoutTime }}</span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="buttonwrapper d-flex justify-content-end">
                <a href="#" class="btn btn-black-outline d-flex align-items-center justify-content-center" @click="jobStatusChange('edit')">編集する

                </a>
                <a href="#" class="btn btn-black-outline d-flex align-items-center justify-content-center" @click="jobStatusChange('copy')">コピーする
                </a>
                <a v-if="job.job_status === 'Open' || job.is_ats_share == 1" href="#" class="btn btn-black-outline d-flex align-items-center justify-content-center" @click="jobStatusChange('close')">非公開にする</a>
                <a href="#" class="btn btn-black-outline d-flex align-items-center justify-content-center" @click="jobStatusChange('delete')">削除する</a>
            </div>
        </div>
    </div>
</template>
<script type="text/ecmascript-6">
    export default {
        name: "JobCard",
        props: {
            jobProp: { type: Object, required: true },
            checkListProp: { type: Array, required: false },
            baseUrl: { type: String, required: true },
        },
        data: () => ({
            job: {},
            checkList: [],
             ieBrowser:true
        }),
        watch: {
            jobProp: {
                handler(data) {
                    this.job = data
                },
                immediate: true,
            },
            checkListProp: {
                handler(list) {
                    this.checkList = list
                },
                immediate: true,
            },

        },

        methods: {
            changeStatus(value) {
                if (value) {
                    this.$emit("individualAction", { id: this.job.job_id, action: "add" })
                } else {
                    this.$emit("individualAction", { id: this.job.job_id, action: "remove" })
                }
            },
            jobStatusChange(action) {
                this.$emit("statusAction", { id: this.job.job_id, action: action })
            },
          downloadJobFile(filename, uploadName)
          {
            var isIE = this.browserDetect();
            window.location =  this.baseUrl+"/client/job/download/"+filename+"/"+uploadName+"/"+isIE;
          },
          browserDetect()
          {
              $.extend({
                browser: function () {
                  var ua = navigator.userAgent, tem,
                      M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
                  if (/trident/i.test(M[1])) {
                    tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
                    M[1] = "Internet Explorer";
                    M[2] = tem[1];
                  }
                  if (M[1] === 'Chrome') {
                    tem = ua.match(/\b(OPR|Edge)\/(\d+)/);
                    if (tem != null) M[1] = tem.slice(1).join(' ').replace('OPR', 'Opera'); else M[1] = "Chrome";

                  }
                  M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
                  if ((tem = ua.match(/version\/(\d+)/i)) != null) M.splice(1, 1, tem[1]);

                  var firefox = /firefox/.test(navigator.userAgent.toLowerCase()) && !/webkit    /.test(navigator.userAgent.toLowerCase());
                  var webkit = /webkit/.test(navigator.userAgent.toLowerCase());
                  var opera = /opera/.test(navigator.userAgent.toLowerCase());
                  var msie = /edge/.test(navigator.userAgent.toLowerCase()) || /msie/.test(navigator.userAgent.toLowerCase()) || /msie (\d+\.\d+);/.test(navigator.userAgent.toLowerCase()) || /trident.*rv[ :]*(\d+\.\d+)/.test(navigator.userAgent.toLowerCase());
                  var prefix = msie ? "" : (webkit ? '-webkit-' : (firefox ? '-moz-' : ''));

                  return {
                    name: M[0],
                    version: M[1],
                    firefox: firefox,
                    opera: opera,
                    msie: msie,
                    chrome: webkit,
                    prefix: prefix
                  };
                }
              });
              jQuery.browser = $.browser();
              return jQuery.browser.msie;
          }

        },

    }
</script>
