<template>
    <div class="container  job-list-container">
        <div id="bulk-confirm" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3 class="text-center">
                            実行しますか？
                        </h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="updateJd">
                            はい
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            キャンセル
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="delete-confirm" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body chooseType-modal">
                        <h3 class="text-center">
                            実行しますか？
                        </h3>
                    </div>
                    <div class="modal-footer choosetype-modal-footer">
                        <button type="button" class="btn btn-primary" @click="deleteJD">
                            はい
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            キャンセル
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <h1 class="jobsearch-header ">
                    求人検索
                </h1>
            </div>
            <div class="col-12 col-lg-12">
                <job-search :query="query"
                            :regions="regions"
                            :job-types="jobTypes"
                            @search="onSearch"
                            @clearSearch="onClearSearch"/>

                <div class="navigation-tab ">
                    <button type="button" class="btn btn-blacktint  job-create" @click="createJD">
                        ＋求人を作成する
                    </button>

                    <div id="myTabContent" class="tab-content">
                        <div id="tabOne" class="tab-pane fade show active tabOne" role="tabpanel">
                            <job-status-filter :query="query" @status="onStatusSearch"/>
                            <div class="joblistheader row align-items-center">
                                <div class="col-12 col-lg-3">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h1 class="jobsearch-header p-0 mb-3">
                                              <template v-if="!dataLoading">{{ pagination.total }}</template>件
                                            </h1>
                                        </div>
                                        <div class="col-12 col-lg-auto ">
                                            <div class="mb-3 check-box-custom">
                                                <label class="container" for="jobsall" @click="bulk">すべてチェック
                                                    <input id="jobsall" v-model="checkAll" type="checkbox" checked="checked">
                                                    <span class="checkmark"/>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="selectjobs mb-3 flex justify-content-center">
                                        <div class="formwrapper">
                                            <job-bulk-action :query="query" @changeStatus="onChangedStatus"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3" >
                                    <job-pagination :pagination="pagination"
                                                    :current-page="pagination.current_page"
                                                    @updated="onPageChanged"/>
                                </div>
                            </div>

                            <div v-if="checkList.length > 0" class="row option-to-check-all pl-3">
                                <p>{{ checkList.length }}件が選択されています <strong v-if="optionToCheckAll && !totalCheck" @click="checkTotalJD">全件選択に変更しますか</strong> </p>
                            </div>

                            <div v-for="(job , index) in jobs" :key="index" class="jobcards">
                                <job-card :job-prop="job" :check-list-prop="checkList" :base-url="baseUrl" @individualAction="singleAction" @statusAction="jobStatusAction"/>
                            </div>

                          <div v-if="dataLoading" class="loader">
                            Loading...
                          </div>

                          <div class="text-center text-gray pt-3" v-if="pagination.count == 0 && !dataLoading" >
                            データが見つかりません
                          </div>

                            <job-pagination :pagination="pagination"
                                            :current-page="pagination.current_page"
                                            @updated="onPageChanged"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script type="text/ecmascript-6">

    import ClientJobService         from "../../services/clientJobService"
    import { setQueryStringObject } from "../../utils"
    import JobBulkAction            from "./jobBulkAction"
    import JobCard                  from "./jobCard"
    import JobSearch                from "./jobSearch"
    import JobStatusFilter          from "./jobStatusFilter"
    import JobPagination            from "./pagination"

    export default {
        name: "JobList",
        components: { JobBulkAction, JobStatusFilter, JobPagination, JobCard, JobSearch },
        props: {
            filter: { type: Object, required: true },
            regions: { type: Array, required: true },
            jobTypes: { type: Array, required: true },
            baseUrl: { type: String, required: true },
            successToast: { type: String, required: true },
        },
        data: () => ({
            query: {
                searchText: "",
                status: "open",
                prefecture: [],
                prefectureName: "",
                subJobTypeList: [],
                subJobTypeName: "",
                page: 1,
            },
            jobs: [],
            pagination: {
                total: 0,
                per_page: 5,
                total_pages: 0,
            },
            checkList: [],
            checkAll: false,
            updateAction: "",
            update_id: "",
            dataLoading: true,
            jobOpenAt: "ats",
            optionToCheckAll: true,
            totalCheck: false,

        }),
        mounted() {
            if (this.successToast == 'Yes') {
                this.$toastr.s("成功しました。");
            }
        },
        watch: {
            filter: {
                handler(query) {
                    if (query) {
                        const defaultQuery = this.query
                        this.query = { ...defaultQuery, ...query }
                    }
                },
                immediate: true,
            },

            query: {
                handler() {
                    this.fetchJobList()
                },
                deep: true,
            },
        },
        methods: {
            async fetchJobList() {
              this.dataLoading = true
                setQueryStringObject(this.query)
                const { data, pagination } = await ClientJobService.getClientJobList(this.query)
                if (data) {
                    this.dataLoading = false
                }
                this.jobs = data
                this.pagination = pagination
            },
            async fetchAllJobList() {
                setQueryStringObject(this.query)
                const { list } = await ClientJobService.getAllClientJobList(this.query)
                return list
            },
            onSearch(search) {
                this.dataLoading = true
                this.resetBulkCheck();
                this.query = { ...search, page: 1 }
            },
            onClearSearch() {
                window.location = this.baseUrl + "/client/job"
            },
            onStatusSearch(status) {
                this.dataLoading = true
                this.resetBulkCheck();
                this.$set(this.query, "page", 1)
                this.$set(this.query, "status", status)
            },
            activeTab(tab) {
                this.dataLoading = true
                this.resetBulkCheck();
                this.$set(this.query, "page", 1)
                this.$set(this.query, "tab", tab)
                this.$set(this.query, "status", "open")
            },
            onPageChanged(pageNumber) {
                this.dataLoading = true
                if (this.totalCheck == false) {
                    this.resetBulkCheck();
                }
                this.query.page = pageNumber
            },
            onChangedStatus(action) {
                if (this.checkList.length > 0) {
                    this.updateAction = action
                    $(".modal-backdrop").remove()
                    $("#bulk-confirm").modal({
                        backdrop: "static",
                        keyboard: false,
                    })
                }
            },
            bulk() {
                const ids = []
                if (this.checkAll == false) {
                    $.each(this.jobs, function(key, value) {
                        ids.push(value.job_id)
                    })
                } else {
                    this.totalCheck = false
                }
                this.checkList = ids
            },
            singleAction(data) {
                if (data.action === "add") {
                    this.checkList.push(data.id)
                } else {
                    this.checkList.splice($.inArray(data.id, this.checkList), 1)
                }
                this.checkAll = (this.jobs.length === this.checkList.length);
            },

            updateJd() {
                axios.post("job/bulkAction", { action: this.updateAction, job_ids: this.checkList }).then(
                    response => {
                        $("#bulk-confirm").modal("hide");
                        $(".modal-backdrop").remove()
                        this.$toastr.s("成功しました。");
                        this.resetBulkCheck();
                        this.fetchJobList()
                    }).catch(error => {
                    $("#bulk-confirm").modal("hide");
                    $(".modal-backdrop").remove()
                    this.$toastr.e("エラーが発生しました")
                })
            },

            resetBulkCheck() {
                this.checkList = []
                this.checkAll = false
                this.totalCheck = false
            },
            jobStatusAction(data) {
                this.dataLoading = true
                this.update_id = data.id
                if (data.action === "delete") {
                    $(".modal-backdrop").remove()
                    $("#delete-confirm").modal({
                        backdrop: "static",
                        keyboard: false,
                    })
                } else if (data.action === "edit") {
                    var url = this.baseUrl + "/client/job/redirect/edit/" + this.update_id;
                    window.location.href = url;
                } else if (data.action === "copy") {
                    var url = this.baseUrl + "/client/job/redirect/copy/" + this.update_id;
                    window.location.href = url;
                } else if (data.action === "close") {
                    axios.post("job/bulkAction", { action: "close", job_ids: [this.update_id] }).then(
                        response => {
                            this.$toastr.s("成功しました。");
                            this.resetBulkCheck();
                            this.fetchJobList()
                        }).catch(error => {
                        this.$toastr.e("エラーが発生しました")
                    })
                } else {
                }
            },
            deleteJD() {
                axios.post("job/bulkAction", { action: "delete", job_ids: [this.update_id] }).then(
                    response => {
                        $("#delete-confirm").modal("hide");
                        $(".modal-backdrop").remove()
                        this.$toastr.s("成功しました。");
                        this.resetBulkCheck();
                        this.fetchJobList()
                    }).catch(error => {
                    $("#delete-confirm").modal("hide");
                    $(".modal-backdrop").remove()
                    this.$toastr.e("エラーが発生しました")
                })
            },
            createJD() {
              window.location.href = this.baseUrl + "/client/job/create";
            },

            checkTotalJD() {
                this.totalCheck = true
                const allJD = []
                axios.get("job/all?searchText=" +
                    this.query.searchText + "&status=" +
                    this.query.status + "&prefecture=" + this.query.prefecture +
                    "&subJobTypeList" + this.query.subJobTypeList).then(
                    response => {
                        $.each(response.data.data, function(key, value) {
                            allJD.push(value.job_id)
                        })
                        this.checkList = allJD
                    }).catch(error => {
                    this.$toastr.e("エラーが発生しました")
                })
            },

        },

    }
</script>
