<template>
  <div class="jobsearch-wrapper noborder pb-4">
    <modal-right :modal-id="'locationModal'" modal-class="locationModalPop">
      <template v-slot:title>
        <h5 class="modal-title">勤務地</h5>
      </template>
      <div class="wrapper-right-modal">
        <div class="row">
          <div class=" pills-wrapper col-12">
            <div class="pills-body">
              <div class="col-auto  navpill-col p-0">
                <div class="nav flex-column nav-pills" id="v-pills-tab-location" role="tablist"
                     aria-orientation="vertical">
                  <a class="nav-link " :class="{ ' active': index === 0 }" :id="'v-pills-'+index+'-tab'" data-toggle="pill"
                     :href="'#v-pills-'+index" role="tab" aria-controls="v-pills-first"
                     aria-selected="true" v-for="(region, index) in regions">{{ region.name }}
                  </a>
                </div>

              </div>
              <div class="col">
                <div class="tab-content" id="v-pills-tabContent-location">
                  <div class="tab-pane fade " :class="{ ' active show': index === 0 }" :id="'v-pills-'+index" role="tabpanel"
                       aria-labelledby="v-pills-first-tab" v-for="(region, index) in regions">
                    <div class="pillcontent-header">
                      <div class="checkwrapper lime">
                        <input type="checkbox" class="form-check-box"  v-model="regionSelected" :id="region.name" :value="region.region_id"  @change="prefCheckAll($event,region.pref)">
                        <label class="form-checkbox-label d-flex align-items-center mb-0" :for="region.name">
                                                        <span class="agreeto">すべて

                                                        </span>
                        </label>
                      </div>
                    </div>
                    <div class="pillcontent-body">
                      <div class="pillcontent-row" v-for="(pref, j) in region.pref">
                        <div class="checkwrapper lime">
                          <input type="checkbox" class="form-check-box" v-model="prefecture" :value="pref.id" :id="'pref-'+pref.name" @change="prefCheck($event,pref.name)">
                          <label class="form-checkbox-label d-flex align-items-center mb-0"
                                 :for="'pref-'+pref.name">
                            <span class="agreeto">{{ pref.name }}</span>
                          </label>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <template v-slot:footer>
        <a href="javascript:void(0);" class="btn btn-light" @click="clearLocation">
          全てリセット
        </a>
        <a class="btn btn-black w-100p" href="javascript:void(0);" data-dismiss="modal" aria-label="Close">
          選択

        </a>

      </template>
    </modal-right>

    <modal-right :modal-id="'jobTypeModal'" modal-class="jobTypeModalPop">
      <template v-slot:title>
        <h5 class="modal-title">勤務地</h5>
      </template>
      <div class="wrapper-right-modal">
        <div class="row job-type-content">
          <div class=" pills-wrapper col-12">
            <div class="pills-body">
              <div class="col-auto  navpill-col p-0">
                <div class="nav flex-column nav-pills" id="v-pills-tab-job-type" role="tablist"
                     aria-orientation="vertical">
                  <a class="nav-link " :class="{ ' active': index === 0 }" :id="'v-pills-'+index+'-tab'" data-toggle="pill"
                     :href="'#v-pills-job-type-'+index" role="tab" aria-controls="v-pills-first"
                     aria-selected="true" v-for="(jobType, index) in jobTypes">{{ jobType.job_type }}
                  </a>
                </div>

              </div>
              <div class="col">
                <div class="tab-content" id="v-pills-tabContent-job-type">
                  <div class="tab-pane fade " :class="{ ' active show': index === 0 }" :id="'v-pills-job-type-'+index" role="tabpanel"
                       aria-labelledby="v-pills-first-tab" v-for="(jobType, index) in jobTypes">
                    <div class="pillcontent-header">
                      <div class="checkwrapper lime">
                        <input type="checkbox" class="form-check-box"  v-model="jobTypeSelected" :id="jobType.job_type" :value="jobType.job_type_id"  @change="subJobTypeCheckAll($event,jobType.sub_job_types)">
                        <label class="form-checkbox-label d-flex align-items-center mb-0" :for="jobType.job_type">
                                                        <span class="agreeto">すべて

                                                        </span>
                        </label>
                      </div>
                    </div>
                    <div class="pillcontent-body">
                      <div class="pillcontent-row" v-for="(subJob, j) in jobType.sub_job_types">
                        <div class="checkwrapper lime">
                          <input type="checkbox" class="form-check-box" v-model="subJobType" :value="subJob.id" :id="'subJobType-'+subJob.type" @change="subJobTypeCheck($event,subJob.type)">
                          <label class="form-checkbox-label d-flex align-items-center mb-0"
                                 :for="'subJobType-'+subJob.type">
                            <span class="agreeto">{{ subJob.type }}</span>
                          </label>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <template v-slot:footer>
        <a href="javascript:void(0);" class="btn btn-light" @click="clearJobType">
          全てリセット
        </a>
        <a class="btn btn-black" href="javascript:void(0);" data-dismiss="modal" aria-label="Close">
          選択

        </a>

      </template>
    </modal-right>

    <div class="formwrapper">
      <div class="row ">
        <div class="col-12 col-lg-4 fieldset">
          <input type="text" v-model="searchText" class="form-control" placeholder="フリーワード">
        </div>
        <div class="col-12 col-lg-4 fieldset">
          <div class="form-control addoption">
            <input type="text" class=""  :value="prefectureName" placeholder="勤務地" @click="showLocationModal">
            <span class="addicon">

                                </span>
          </div>

        </div>
        <div class="col-12 col-lg-4 fieldset">
          <div class="form-control addoption">
            <input type="text" class="" placeholder="職種" :value="subJobTypeName" @click="showJobTypeModal">
            <span class="addicon">

                                    </span>
          </div>

        </div>
      </div>
      <div class="row">


      </div>
      <div class="buttonwrapper">
        <div class="row">
          <div class="col-12 col-lg-4">
            <button type="button" class="btn btn-blacktint w-100 mb-3 lg-mb-0" @click="handleOnSubmit">この条件で検索

            </button>
          </div>
          <div class="col-12 col-lg-4">
            <button type="button" class="btn btn-blacktint w-100" @click="handleClear">条件をリセット</button>
          </div>


        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/ecmascript-6">
import JobRow     from "../../../../agent/js/modules/ats-job-list/partials/JobRow"
import Pagination from "../../../../agent/js/modules/selection-management/partials/Pagination"
import modalRight from "../../components/modalRight"

export  default  {
  name: "JobSearch",
  components: {JobRow,Pagination, modalRight},
  props: {
    query: { type: Object, required: true },
    regions: { type: Array, required: true },
    jobTypes: { type: Array, required: true },
  },

  data: () => ({
    searchText: "",
    regionSelected:[],
    prefecture:[],
    prefectureList:[],
    prefectureName:'',

    jobTypeSelected:[],
    subJobType:[],
    subJobTypeList:[],
    subJobTypeName:'',

  }),
  filters: {
    trimString(value) {
      if (value.length < 18) {
        return value
      }
      return value.substring(0,18) + '...';
    }
  },
  watch: {
    query: {
      handler(query) {
        this.searchText = query.searchText
        this.prefecture = query.prefecture
        this.subJobType = query.subJobType
        this.prefectureName = query.prefectureName
        this.subJobTypeName = query.subJobTypeName
      },
      immediate: true,
    },
  },

  methods: {
    handleOnSubmit() {
      this.$emit("search", {
        tab: this.query.tab,
        status: this.query.status,
        searchText: this.searchText,
        prefecture: this.prefecture,
        subJobType: this.subJobType,
        prefectureName: this.prefectureList.join(),
        subJobTypeName: this.subJobTypeList.join(),
      })
    },
    onPageChanged(pageNumber)
    {
      this.$emit("pageChange", pageNumber)
    },
    handleClear() {
      this.$emit("clearSearch")
    },
    showLocationModal() {
      $('#locationModal').modal('show')
    },
    showJobTypeModal() {
      $('#jobTypeModal').modal('show')
    },
    showCharacteristicModal() {
      $('#characteristicModal').modal('show')
    },
    clearLocation() {
      this.prefecture = []
      this.regionSelected = []
      this.prefectureList=[]
      this.prefectureName=''
    },
    clearJobType() {
      this.subJobType = []
      this.jobTypeSelected = []
      this.subJobTypeList=[]
      this.subJobTypeName=''
    },
    prefCheck(e, pref) {
      if(e.target.checked) {
        this.prefectureList.push(pref)
      } else {
        this.prefectureList.pop(pref)
      }
      this.setPrefectureSelectedName()
    },
    prefCheckAll(e, prefList) {
      const regionPrefId = prefList.map(pref => pref.id)
      const defaultPref = this.prefecture
      const defaultPrefList = this.prefectureList
      const regionPrefList = prefList.map(pref => pref.name)
      if(e.target.checked) {
        this.prefecture = this.mergeArray(defaultPref, regionPrefId)
        this.prefectureList = this.mergeArray(defaultPrefList, regionPrefList)
      } else {
        regionPrefId.forEach(function (item) {
          defaultPref.pop(item)
        });
        this.prefecture = defaultPref
        regionPrefList.forEach(function (item) {
          defaultPrefList.pop(item)
        });
        this.prefectureList = defaultPrefList
      }
      this.setPrefectureSelectedName()
    },
    setPrefectureSelectedName() {
      this.prefectureName=this.prefectureList.join()
    },


    subJobTypeCheck(e, subJob) {
      if(e.target.checked) {
        this.subJobTypeList.push(subJob)
      } else {
        this.subJobTypeList.pop(subJob)
      }
      this.setSubJobTypeSelectedName()
    },
    subJobTypeCheckAll(e, subJobTypeList) {
      const jobTypeSubId = subJobTypeList.map(subJobType => subJobType.id)
      const defaultSubJobType = this.subJobType
      const defaultSubJobTypeList = this.subJobTypeList
      const jobTypeSubList = subJobTypeList.map(subJobType => subJobType.type)
      if(e.target.checked) {
        this.subJobType = this.mergeArray(defaultSubJobType, jobTypeSubId)
        this.subJobTypeList = this.mergeArray(defaultSubJobTypeList, jobTypeSubList)
      } else {
        jobTypeSubId.forEach(function (item) {
          defaultSubJobType.pop(item)
        });
        this.subJobType = defaultSubJobType
        jobTypeSubList.forEach(function (item) {
          defaultSubJobTypeList.pop(item)
        });
        this.subJobTypeList = defaultSubJobTypeList
      }
      this.setSubJobTypeSelectedName()
    },
    setSubJobTypeSelectedName() {
      this.subJobTypeName=this.subJobTypeList.join()
    },
    mergeArray(a, b) {
      return a.concat(b.filter((item) => a.indexOf(item) < 0));
    }

  },
}
</script>
