<template>
  <div class="select-radio py-4 mb-1">
    <div class="row">
      <div class="col-auto">
        <input type="radio" class="form-radio-box"  name="job_status"  v-model="status" id="all-jobs"   value="all"  @click="onClickSearch('all')" >
        <label class="form-radio-label d-flex align-items-center m-0"  for="all-jobs">
                                        <span class="agreeto">
                                            すべての求人
                                        </span>
        </label>
      </div>
      <div class="col-auto">
        <input type="radio"  class="form-radio-box"  name="job_status" id="nowopen" v-model="status" value="open" @click="onClickSearch('open')">
        <label class="form-radio-label d-flex align-items-center m-0"  for="nowopen">
                                        <span class="agreeto">
                                            公開中すべて
                                        </span>
        </label>
      </div>
      <div class="col-auto">
        <input type="radio" class="form-radio-box"  name="job_status" id="ats-open" v-model="status" value="ats-open'"  @click="onClickSearch('ats-open')" >
        <label class="form-radio-label d-flex align-items-center m-0"  for="ats-open">
                                        <span class="agreeto">
                                            自社エージェントのみ公開中
                                        </span>
        </label>
      </div>
      <div class="col-auto">
        <input type="radio" class="form-radio-box"  name="job_status" id="jobins-open"  v-model="status" value="jobins-open"  @click="onClickSearch('jobins-open')" >
        <label class="form-radio-label d-flex align-items-center m-0"  for="jobins-open">
                                        <span class="agreeto">
                                            JoBinsのみ公開中
                                        </span>
        </label>
      </div>
      <div class="col-auto">
        <input type="radio" class="form-radio-box"  name="job_status"  v-model="status" id="close"  value="close" @click="onClickSearch('close')" >
        <label class="form-radio-label d-flex align-items-center m-0"  for="close">
                                        <span class="agreeto">
                                            非公開すべて
                                        </span>
        </label>
      </div>


    </div>
  </div>
</template>
<script type="text/ecmascript-6">
export default {
  name:"JobStatusFilter",
  props:{
    query: { type: Object, required: true },
  },
  data: () => ({
    status: "",
  }),
  watch:{
    query:{
      handler(query)
      {
        this.status =  query.status
      },
      deep:true
    }
  },
  methods: {
    onClickSearch(status) {
      this.$emit('status', status);
    },
  }
}
</script>