.disable
{
    background: none !important;
}
.topBtnGroup {
    float: right;
}
div#job-img img {
    margin-top: 38px !important;
}
#job-img img {
    width: 100%;
    margin-top: 50px;
}
.cb-job {
    min-width: 30% !important;
}
.custom_cbox {
    display: inline-block;
    margin-right: 10px;
}
.job-content-selection-wrap {
    padding: 10px 0 0 0;
}
.job-content-selection-wrap .jobCreateDesContent label.title-lbl {
    width: 200px;
    float: left;
    display: inline-block;
    overflow: hidden;
    text-align: right;
    margin: 5px 14px 0 0;
    font-weight: 600;
}
span.reqTxt {
    color: red;
}
.job-content-selection-wrap .jobCreateDesContent label.title-lbl span.charLength {
    display: block;
    font-weight: 500;
    font-size: 10px;
    color: #f36f1f;
    line-height: 1;
}
.job-content-selection-wrap .jobCreateDesContent .jobCreateContentHolder {
    width: calc(100% - 230px);
    display: inline-block;
    overflow: hidden;
}
.panel.panel-default.info-panel {
    border-color: #b8daea;
    background: #f4f9fb;
}
.panel.panel-default.info-panel .job-create-panel-header {
    background: #d4eaf3;
    border-color: #b8daea;
}
.panel-heading.job-create-panel-header {
    overflow: hidden;
}
.panel-default > .panel-heading {
    height: 40px;
}
.panel-heading.job-create-panel-header h3 {
    font-size: 14px;
    margin: 0;
    display: inline-block;
}
.job-create-age-wrap {
    padding: 0 15px 15px 15px;
}
.panel-heading.job-create-panel-header img {
    max-width: 16px;
    margin: -1px 5px 0 0;
    float: left;
}
.job-create-age-wrap {
    padding: 0 15px 15px 15px;
}
.job-create-age-wrap .job-age-selection-wrap {
    background: #e2eff5;
    min-height: 85px;
    border: 1px solid #f4f9fb;
    padding: 15px 0 0 0;
}
.job-age-selection-wrap .jobCreateDesContent label.title-lbl {
    width: 90px;
    float: left;
    display: inline-block;
    overflow: hidden;
    text-align: right;
    margin: 5px 9px 0 0;
    font-weight: 600;
}
.job-age-selection-wrap .jobCreateDesContent .jobCreateContentHolder {
    width: calc(100% - 100px);
    display: inline-block;
    overflow: hidden;
}
.job-age-selection-wrap .jobCreateDesContent .jobCreateContentHolder .jobCreateAgeDiv {
    width: 50%;
    float: left;
    display: inline-block;
    padding: 0 0px 0 0;
}
.job-age-selection-wrap .jobCreateDesContent .jobCreateContentHolder .jobCreateAgeDiv .jobAgeInputWrap {
    display: inline-block;
    float: left;
    max-width: 154px;
    margin: 0 5px 0 0;
}
span.ageLabel {
    padding: 7px 0 0 0;
    display: inline-block;
    font-size: 12px;
}
.jobCreateDesContent .jobCreateContentHolder .exp-companies {
    width: 155px;
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
}
.jobCreateDesContent label.title-lbl {
    width: 200px;
    float: left;
    display: inline-block;
    overflow: hidden;
    text-align: right;
    margin: 5px 14px 0 0;
    font-weight: 600;
}
.jobCreateContentHolder.uiwrap .ui-wrapper {
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: 765px !important;
}
.ui-wrapper {
    padding-right: 0 !important;
}
.jobCreateContentHolder textarea {
    width: 98% !important;
    margin: 5px !important;
    border: 0 !important;
    box-shadow: none;
}


.pt-5px {

    padding-top: 0px !important;

}
.job-content-selection-wrap {

    padding: 10px 0 0 0;
    padding-top: 10px;

}
.jobCreateContentbox {

    width: calc(100% - 230px);
    display: inline-block;
    overflow: hidden;

}
.text-area-wrap {

    position: relative;
    z-index: 0;

}
.text-area-placeholder {

    position: absolute;
    z-index: -1;
    top: -2px;
    left: 0px;
    border: 1px solid #cccccc;
    width: 98%;
    height: 102%;
    background-color: #fff;
    border-radius: 3px;
    padding: 15px 0 0 15px;
    color: #a5a5a5;

}
.job-content-selection-wrap .jobCreateDesContent .jobCreateContentHolder {

    width: calc(100% - 230px);
    display: inline-block;
    overflow: hidden;

}
.jobCreateContentHolder.text-area-placecontainer {

    margin: 0 0 0 5px !important;

}
.jobCreateContentbox .jobCreateContentHolder.text-area-placecontainer {

    width: 100% !important;

}
.jobCreateContentHolder textarea {

    width: 98% !important;
    margin: 5px !important;
    margin-top: 5px;
    margin-left: 5px;
    border: 0 !important;
    box-shadow: none;

}
.text-area-wrap.text-area-placewrapper textarea {

    margin-top: 10px !important;
    margin-left: 2px !important;
    padding: 0px 15px 0 10px !important;
    width: 98% !important;

}

.jobCreateContentbox .text-area-wrap.text-area-placewrapper textarea {

    width: 96% !important;

}
.popup-header {
    overflow: hidden;
    text-align: center;
    display: inline-block;
}
.popup-header .ic-holder {
    display: inline-block;
    margin: 0 10px 0 0;
    float: left;
}
.popup-header h3 {
    display: inline-block;
    margin: 6px 0 0 0;
    float: left;
    font-size: 20px;
}
.job-create-modalpop {
    margin-top: 0;
    padding-top: 0;
}
.modal-body.text-center.standardAccAlert.job-create-modalpop {
    padding: 0 35px 0px 35px;
}
.job-content-selection-wrap .jobCreateDesContent label.title-lbl {
    width: 200px;
    float: left;
    display: inline-block;
    overflow: hidden;
    text-align: right;
    margin: 5px 14px 0 0;
    font-weight: 600;
}
.location-checkbox {
    padding-right: 19px !important;
}
.salaryContentWrap label.salaeylabel {
    font-weight: 600;
    float: left;
    width: 85px;
    margin-top: 5px;
    overflow: hidden;
}
.salaryInput {
    overflow: hidden;
    display: inline-block;
    width: 225px;
}
h3.panel-title.jobTitleHead {
    float: left;
    display: inline-block; padding: 7px 0 0 0;
}
.panel-heading.main-panel.jobTitleHeadPannel {
    height: auto;
    overflow: hidden;
}
.checkboxchar input {
    margin: 0 5px 5px 0 !important;
}
.checkboxchar label {
    font-size: 14px;
    font-weight: normal;
}
.jobWell{

    padding-bottom: 0;
}
.panelJob-body #job-img img {
    margin-top: 10px !important;


}
.panel-jobform .disable {
    background: #ffffff !important;
}
.panel-jobform .select2-container--bootstrap.select2-container--disabled .select2-selection{
    background-color: #ffffff !important;
}
.checkboxcreat label strong {
    margin: 0 0 0 8px !important; font-size: 14px;
}
.checkboxcreat {
    padding: 0 0 10px 0;
}
.agent-fee-alert {
    padding: 7px 0 0 0;
}
.agent-fee-alert a {
    color: #f36f1f;
}
.pl-5{
    padding-left: 5px;
}




/* The container */
.container-ckbox {
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-ckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.container-ckbox input.disable {

    cursor: not-allowed;

}
.container-ckbox.disable {

    cursor: not-allowed;

}
.checkboxcreat ul {
    overflow: hidden;
}
.checkboxcreat ul li {
    display: inline-block;
    float: left;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container-ckbox:hover input ~ .checkmark {
    background-color: #ffffff;
}

/* When the checkbox is checked, add a blue background */
.container-ckbox input:checked ~ .checkmark {
    background-color: #ffffff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-ckbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-ckbox .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #0078ff;
    border-width: 0 2px 2px 0;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* The container */
.container-radiobtn {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-radiobtn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.container-radiobtn .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #ffffff;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radiobtn:hover input ~ .checkmark {
    background-color: #ffffff;
}

/* When the radio button is checked, add a blue background */
.container-radiobtn input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-radiobtn .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radiobtn input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-radiobtn .checkmark:after {
    top: 5px;
    left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}
.display-inline-radio{
    display: inline-block;
}
.container-radiobtn input.disable {

    cursor: not-allowed;

}

.mt-5{
    margin-top: 5px;
}
.checkboxcreat .container-ckbox {
    margin: 0 0 5px 0;
}
.help {
    color: #f32121;
}
#job-form .error {
    font-size: 12px !important;
    display: inline !important;
    margin: 0 0 0 5px;
    font-style: normal;
}
em#age_min-error, em#age_max-error {
    display: block !important;
    width: 100% !important;
    overflow: hidden;
    text-align: left;
    float: right;
}
.disable
{
    pointer-events: none;
}
input.job-type-id {
    height: 0px;
    width: 0px;
    border: none;
}

.sub-menubox{
    max-height: 630px;
    overflow: auto;
    padding-left: 15px !important;
    margin-bottom: 10px;
}

.sub-menubox:last-child {
    margin-bottom: 15px;
}


div#jobClassification .modal-body {
    padding: 0;
}

div#jobClassification .modal-content {
    border-top: 0;
}

div#subJobClassification .modal-body {
    padding: 0;
}

div#subJobClassification .modal-content {
    border-top: 0;
}

.modal-dialog {
    margin-top: 9%;
    min-width: 800px;
}

.checkbox-wrapper.chkbox-jobClass h3 {
    display: inline-block;
    float: left;
    border: 0;
    border-bottom: 0;
    margin: 0;
    padding: 0 !important;
    font-weight: 500;
    margin-top: 6px;
}

.checkbox-wrapper.chkbox-jobClass .custom-bottom-search {
    float: right;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0px 0 transparent;
    opacity: 1;
    margin: 0px 0px 0px 10px;
}

ul.chk-container-parent {
    background: #ededed;
    min-height: 255px;
    margin: 0;
}

ul.chk-container-parent li {
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #d6d6d6;
}

.checkbox-wrapper.chkbox-jobClass .modal-header {
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #e5e5e5;
    background: #e6e8ef;
}


/* The container */
.container-job-chk {
    display: block;
    position: relative;
    padding-left: 27px !important;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-job-chk input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark-job-chk {
    position: absolute;
    top: 3px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #b9b9b9;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-job-chk:hover input ~ .checkmark-job-chk {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-job-chk input:checked ~ .checkmark-job-chk {
    background-color: #f26f21;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-job-chk:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-job-chk input:checked ~ .checkmark-job-chk:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-job-chk .checkmark-job-chk:after {
    top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}


ul.chk-container-parent li.active {
    background: #fbfbfb;
}

.checkbox-wrapper.chkbox-jobClass .modal-header .close {
    margin-top: 5px !important;
    float: right !important;
    font-size: 21px !important;
    font-weight: bold !important;
    line-height: 1 !important;
    color: #000 !important;
    text-shadow: 0 1px 0 #fff !important;
    opacity: 0.2 !important;
}

.jobCreateContentHolder span.jobPlusIco {
    color: #999999;
    position: absolute;
    right: 25px;
    font-size: 12px;
    top: 20px;
}

.btnRev {
    background: #415469;
    border: 1px solid #415469;
    margin-left: 13px !important;
}


.checkbox-wrapper {
    background: #ffffff;
    padding: 0 0px 0 0px;
    min-height: auto;
    border-radius: 2px;
    overflow: hidden;
}

.checkbox-wrapper .close {
    float: right;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0px 0 transparent;
    opacity: 1;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: 0.7;
}

label {
    font-weight: 500;
}

.sub-menubox ul {
    margin: 0 !important;
    padding: 15px 0 0 0;
}
