/*font*/

ul {
    padding: 0;
    list-style: none;
}

.login-wrapper {
    height: 100vh
}

.alert ul {
    list-style: none;
    padding: 0px;
}

.danger, .danger:hover {
    color: #710e0e;
}

a.btn-add {
    float: right;
    margin: -9px 2px 0 0;
}

.btn-orange, .btn-orange:hover {
    background-color: #e59f08;
    border-color: #e59f08;
    color: #fff;
}

.applied-no {
    font-weight: bold;
    color: #fff;
    border: 1px solid #e59f08;
    padding: 0px 5px 3px 5px;
    background: #e59f08;
    border-radius: 11px;
}

.btn-list li {
    list-style: none;
}

.applicant_detail p {
    padding: 6px 0 0 0;
}

.notify-paginate ul {
    display: inline;
}

/*added by sajan*/

.employee-prof {
    font-size: 20px;
}

.invoice_join_date {
    float: right;
    margin-right: 226px;
    text-decoration: underline;

}

.invoiceFooter {
    float: right;
    margin-right: 51px;
    text-decoration: underline;
}

.invoiceftertext {
    float: right;
    margin: 12px 34px 0 0;
}

.invoiceContent {
    background: #fff;
    padding: 28px 12px 96px 12px;
}

/*  new added css for select 2 */
span.select2.select2-container.select2-container--bootstrap {
    width: 100% !important;
}

.ibox-content {
    overflow: hidden;
}

.sel-wrapper {
    width: 60%;
    float: left;
}

.sel-memo {
    width: 22%;
    float: right;
    margin-right: 219px;

}

/* css for selection managament*/

.form-group.user {
    display: block;
    width: 100%;
    overflow: hidden;
}

.user h2 {
    margin: 0px 0 0 0;
}

.user img {
    border-radius: 50px;
    margin: 10px 15px 0 0;
    float: left;
}

.sidebarDescWrapper .form-group span {
    display: block;
    font-size: 17px;
    color: #ffffff;
}

.fixedBar {
    position: fixed;
}

.conditionUser > img {
    border-radius: 50px;
    float: left;
    margin: -15px 10px 0 15px;
    width: 60px;
}

.conditionUser > h4 {
    border: 0 none;
    float: left;
    margin: 0;
    overflow: hidden;
}

.conditionUser {
    overflow: hidden;
    padding: 18px 15px 15px 0;
}

.userIco {
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    float: left;
    font-size: 18px;
    height: 40px;
    padding: 6px 0 0;
    text-align: center;
    width: 40px;
    margin-right: 11px;
}

.userIco.sucessIco {
    background: #ed7d31;
}

.userIco.primaryIco {
    background: #3477c5;
}

.userIco.warningIco {
    background: #ffc000;
}

.panel-body.panelSucess {
    border-top: 2px solid #ed7d31;
}

.sideDescWrapper {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #ffffff none repeat scroll 0 0;
    border-color: #ed7d31 #dddddd #dddddd;
    border-image: none;
    border-style: solid;
    border-width: 2px 1px 1px;
    font-size: 13px;
    padding: 10px 10px 5px 10px;
}

.panel-body.panelPrimary {
    border-top: 2px solid #3477c5;
}

.panel-body.panelWarning {
    border-top: 2px solid #ffc000;
}

.seperatorLinner {
    padding: 0 0 10px;
    text-align: center;
}

.seperatorbar {
    font-size: 11px;
}

.seperatorbar > p {
    background: #c8c8c8 none repeat scroll 0 0;
    display: inline;
    padding: 3px 5px;
}

.userContentHeader h2 {
    font-size: 17px;
}

.user h2 {
    margin: 0px 0 0 0;
}

.formWrap h3 {
    border-bottom: 1px solid #E4E4E4;
    padding: 13px 0 13px 3px;
}

.userHeader {
    margin: 20px 0 0px;
}

.selection {
    font-size: 14px !important;
    border-top: none !important;
    font-family: "Rounded Mplus 1c" !important;
    letter-spacing: 1px;
}

ul.sel-comp {
    list-style: none;
}

.sel-comp li {
    line-height: 2;
}

.selJobTitle {
    font-weight: 400;
}

span.seperatorbar::before {
    background: #afafaf none repeat scroll 0 0;
    color: #afafaf;
    content: "»";
    display: inline-block;
    height: 1px;
    margin: 0 10px 5px 0;
    overflow: hidden;
    width: 200px;
}

span.seperatorbar::after {
    background: #afafaf none repeat scroll 0 0;
    color: #afafaf;
    content: "»";
    display: inline-block;
    height: 1px;
    margin: 0 10px 5px;
    overflow: hidden;
    width: 200px;
}

/*css for job detail page*/

h2.Job-title {
    font-size: 30px;
    font-weight: 400;
}

.job_detail_img {
    max-width: 380px;
    max-height: 138px;
}

.jobBrief span {
    background: #e1e1e1 none repeat scroll 0 0;
    background-color: rgb(225, 225, 225);
    border-radius: 46px;
    display: inline-block;
    padding: 5px 10px;
}

.bgDefault {
    background-color: #f36f21 !important;
    color: #ffffff;
}

.txtWhite {
    color: #ffffff !important;
}

.sidebarDescWrapper {
    background: url(../../agent/images/jobbg.png);
    background-repeat: repeat;
    background-repeat: repeat;
    color: #ffffff;
    padding: 5px 10px 10px 10px;
}

.secret-box {
    padding: 0 0 0 32px;
}

.sidebarDescWrapper h3 {
    border-bottom: none;
}

ul.job-secret {
    padding: 0;
    list-style: none;
}

.job-secret li {
    line-height: 3;
}

.job-secret strong {
    padding-right: 18px;
    min-width: 97px;
    display: inline-block;
}

b, strong {
    font-weight: 700;
}

.status span.sucess {
    background: #1ecc79 none repeat scroll 0 0;
    background-color: rgb(30, 204, 121);
}

.status span {
    background: #bdbdbd none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    margin: 0 auto;
    min-width: 65px;
    padding: 2px 5px;
    text-align: center;
}

.success {
    background-color: #1ab394 !important;
    color: #FFFFFF !important;
}

.jobBrief span {
    background: #e1e1e1 none repeat scroll 0 0;
    border-radius: 46px;
    display: inline-block;
    padding: 5px 10px;
}

.job-character {
    margin: 5px 0 0 0;
}

.jobDescContent p {
    line-height: 2em;
    letter-spacing: 1px;
}

.job-making {
    background: #f8ac59 !important;
}

.job-close {
    background: #ed5565 !important;
}

.admin_status {
    padding-top: 16px;
}

.btnAdminMemo {
    float: right;
}

.label-black {
    background: #000;
    color: #fff;
}

.active_month {
    /*background: #ca1c1c !important;*/
    background: #1ab394 !important;
    color: #fff;
}

.global_filter {
    width: 65% !important;
}

tr#filter_global td {
    background: #fff !important;
    border: none;
}

.btnDefault {
    color: #fff;
    background-color: #f36f21;
    border-color: #f36f21;
}

.orangeIco {
    background: #ffc000;
}

.panelOrange {
    border-top: 2px solid #ffc000;
}

.label-alliance {
    background: #007bff !important;
}

.allianceSidebar {
    background: #f2f2f2 !important;
    color: #8a8181 !important;
}

.allianceCloseBtn {
    border-color: #666;
    color: #666;;
}

.allianceOpenBtn {
    border-color: #666;
    color: #666;;
}

.normalJobSidebar {
    background: #8c8c8c !important;
    color: #ffffff !important;
}

.jdTypeSearch {
    display: none;
}

img.org_banner {
    max-width: 390px;

}

input.searchJob {
    width: 185px;
    height: 35px;
}

.paginationLabel {
    width: 100%;
    display: table;
}

.jobListLabel {
    float: left !important;
    margin-top: 10px !important;
}

.paginationLabel .pagination {
    float: right;
    margin: 10px 0;
}

.btnExport {
    float: right !important;
}

.partnerOrder {
    display: inline;
    width: 22%;
    margin: 0px 0 0 13px;
    padding-top: 2px;
}

.btnPartner {
    float: right;
    margin: 0px 16px 13px 0;
}

.row.reportHeading {
    padding-left: 24px;
}

.label-haken {
    background: #F6D048 !important;
    border-radius: 46px;
    padding: 5px 10px;
    display: inline-block !important;
    margin-right: 5px;
    margin-bottom: 6px;
    font-size: 14px !important;
    color: #000000 !important;
    font-weight: 600;
}

.selection .user {
    padding-bottom: 1px;
}

.kpiTable tr {

    background-color: transparent !important;

}


.kpiTable th {
    background-color: #f9f9f9 !important;
    font-size: 12px !important;
    font-weight: 500;

}

.kpiTable .year {
    background-color: #ecba52 !important;
    color: #fff !important;
}

.kpiTable .total {
    font-weight: bold !important;
}

.kpiInfo th {
    background-color: #1ab394 !important;
    color: #fff !important;
    border-color: #1ab394 !important;
}

.survey-list th {
    font-size: 13px !important;
    font-weight: 600 !important;
}

.survey-list th {
    background-color: #fff !important;
    font-size: 12px !important;
    font-weight: 500;

}

.survey-list td {
    background-color: #fff !important;
}

.border-top-none {
    border-top: none !important;
}

.border-bottom-none {
    border-bottom: none !important;
}

.challenge-wrap-box {
    left: -13px;
    top: -31px;
}

.challenge-wrap-box {
    text-align: center;
    z-index: 0;
}

.challenge-wrap-label {
    font: 400 9px/12px Arial, Helvetica, sans-serif;
    color: #33250c;
    background: #f5c303;
    text-transform: uppercase;
    padding: 4px 0px 4px 2px;
    width: 104px;
    text-align: center;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: 2px;
}


.challenge-wrap-inner-box {
    overflow: hidden;
    text-align: center;
    z-index: 0;
}

.challenge-wrap-inner-label {
    font-size: 10px !important;
    color: #33250c !important;
    background: #f5c303;
    text-transform: uppercase;
    padding: 1px 2px 1px 2px;
    text-align: center;
    font-weight: 400;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/** css for jd **/

.jobHeaderContent {
    margin: 30px 0px 30px 0px !important;
    background: #ffffff;
    border-radius: 5px;
    padding: 1px 15px 25px 15px !important;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.jobHeaderContent h2 {
    font-size: 24px;
    margin: 20px 0 0 0;
}

ul.job-list-inline li {
    display: inline-block;
    padding: 0 5px 0 0;
}

.jobBrief span {
    background: #e1e1e1 none repeat scroll 0 0;
    background-color: rgb(225, 225, 225);
    border-radius: 46px;
    display: inline-block;
    padding: 0px 20px;
}

.jobBrief span {
    background: #e1e1e1 none repeat scroll 0 0;
    border-radius: 46px;
    display: inline-block;
    padding: 0px 20px;
}

.job-character {
    margin: 5px 0 0 0;
}

.job-detail-hearder-wrap.info-header-bar {
    background: #d4eaf3;
    border-color: #b8daea;
}

.job-detail-hearder-wrap {
    padding: 10px 15px 12px 18px;
    background: #f5f5f5;
    margin-top: 10px;
    border: 1px solid #dddddd;

    border-radius: 5px 5px 0 0;
}

.job-detail-hearder-wrap h3 {
    font-size: 14px;
    color: #313131;
    display: inline-block;
    margin: 5px 0 0 0;
}

.job-detail-info {
    border: 1px solid #b8daea !important;
    border-top-color: rgb(184, 218, 234);
    border-top-style: solid;
    border-top-width: 1px;
    border-top: 0 !important;
}

.job-detail-cart {
    background: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    border-top: 0;
}

.job-detail-hearder-wrap img {
    width: 20px;
    margin: -3px 5px 0 0;
}

.job-Age-display {
    background: #e2eff5;
    margin: 0 0 25px 0;
}

.job-Age-display .selectionage {
    padding: 5px 0 5px 10px;
    border: 1px solid #f4f9fb;

}

.job-Age-display .row {
    margin: 0;
}

.job-Age-display .jobDesCart label {
    padding: 13px 7px 0 0px;
    width: 100px;
}

.job-Age-display .jobDesCart .content-holder {
    width: calc(100% - 100px);
    padding: 10px 0 0 0;
}

.jobDesCart .content-holder {
    display: inline-block;
    min-height: 40px;
    width: calc(100% - 200px);
    overflow: hidden;
}

ul.job-list-inline li {
    display: inline-block;
    padding: 0 5px 0 0;
}

.sidebarActionWrapper.sidelist ul li:last-child a {
    border-bottom: none !important;
}

.jobDescContent.jobDesCart label .sm-txt {
    border: none;
    color: #616161;
    font-weight: 400;
    font-size: 11px;
    background: transparent;
    width: auto;
    display: inline;
    float: none;
    margin: 0;
    padding: 0;
    text-align: left !important;
    border-radius: 0;
    height: auto;
}

.jobHeaderContent {
    margin: 30px 0px 30px 0px !important;
    background: #ffffff;
    border-radius: 5px;
    padding: 1px 15px 25px 15px !important;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

ul.list-inline.stage-list li {
    margin-left: 0px !important;
    padding-right: 15px;
}

.checkbox-holder {
    background: #f0f5f7;
    padding: 15px 0 5px 15px;
    border-radius: 5px;
    margin-bottom: 1em;
}


.plainHeaderContainer {
    overflow: hidden;
    margin: 0 0 -20px 0;
}

.jobDesCart label {
    display: inline-block;
    float: left;
    width: 200px;
    padding: 0 25px 0 0;
    text-align: left;
    overflow: hidden;
    min-height: 40px;
    font-weight: 600;
}

.jobDesCart .content-holder {
    display: inline-block;
    min-height: 40px;

    width: calc(100% - 200px);

    overflow: hidden;
}

.job-detail-cart {

    background: #ffffff;
    padding: 25px 25px 10px 25px;
    border: 1px solid #ddd;
    border-top: 0;
}

.job-detail-info {
    border: 1px solid #b8daea !important;
    border-top: 0 !important;
    background: #f4f9fb;
    padding-top: 25px;
}

.sidebar-card {
    border: 1px solid #dddddd;
    background: #ffffff;
    padding: 0px 0px 0px 0px;
    margin: 0px 0 16px 0;
}

.sidebar-card ul li a {
    padding: 15px 0 15px 3px;
    color: #666666;
    display: block;
    cursor: pointer;
}

.sidebar-card ul li a span.ico-holder-spn {
    margin: 0 10px 20px 16px;
    display: inline-block;
    float: left;
}

.sidebar-card ul li span.ico-holder-spn .fa {
    color: #545454;
}

.sidebar-card li {

    border-bottom: 1px solid #dddddd;
    cursor: pointer;
    border-left: 2px solid #dddddd !important;
}

.sidebar-card li:hover {

    border-left: 2px solid #f36f1f !important;
    cursor: pointer;
}

.sidebar-card li:hover a, .sidebar-card li:hover a span .fa {

    color: #f36f1f !important;
    cursor: pointer;
}

.sidebar-card li:last-child {
    border-bottom: none !important;
}

.sidebar-card ul {
    margin: 0;
}

.jobBrief .lblMaking {
    background: #337ab7 none repeat scroll 0 0;
}

.jobBrief .lblClose {
    background: #ff4e4e none repeat scroll 0 0;
}

.job-detail-container {
    width: 1350px !important;
}

.job_img_holder_agent {
    margin: 30px 0 20px;
}

.jobBrief .lblMaking {
    color: #fff;
}

.jobBrief .lblClose {
    color: #fff;
}

.jobDescContent.jobDesCart .content-holder p {
    margin: 0 !important;
}

.jobDescContent.jobDesCart {
    overflow: hidden;
}


.jobDesWrapper hr {

    color: #cacaca;
    border-top: 1px solid #cacaca;
    margin-top: 10px;
    margin-bottom: 25px;
}

.job-detail-hearder-wrap.mt-2 {
    margin-top: 2em;
}

.job-company-name {
    padding: 4px 0 2px 0;
}

.label-jobins {
    background: rgba(35, 146, 236, 0.88) !important;
}

.label-support-jd {
    background: #75b6ef !important;
    color: #fff !important;
}

.bold {
    font-weight: bold;
}

.hidden-value {
    display: none;
}

.grecaptcha-badge {
    display: none !important;
}

.job-experience-dropdown {
    width: 125px;
    float: left;
}

span.job-experience-lbl {
    display: inline-block;
    padding: 5px 10px 0px 16px;
}

.jd-experience-alert {
    background: #d1ecf1;
    color: #495b5f;
    line-height: 1;
    padding: 12px 5px 6px 10px;
    position: relative;
    margin: -6px 0 0 19px;
    display: inline-block;
    font-size: 12px;
}

.jd-experience-alert .info-ico {
    font-size: 14px;
    float: left;
    display: inline-block;
    margin: 7px 5px 0 3px;
    color: #666666;
}

.jd-experience-alert .arrow-left {
    width: 0;
    position: absolute;
    height: 0;
    left: -8px;
    top: 11px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #d1ecf1;
}

.jd-experience-alert p {
    margin: 0;
    line-height: 15px;
    display: inline-block;
    color: #666666;
}

.jd-experience-alert {
    border-radius: 5px;
}

.jobDescContent.jobDesCart.job-exp-wrap-alert .content-holder .jd-experience-alert {
    position: absolute;
    max-width: 432px;
    margin: -13px 0 0 15px;
}

.jobDescContent.jobDesCart.job-exp-wrap-alert .content-holder .jd-experience-alert i.fa.fa-info-circle.info-ico {
    margin: 0 5px 0 0;
}

.jobDescContent.jobDesCart.job-exp-wrap-alert .content-holder .jd-experience-alert p {
    max-width: 386px;
}

.jobDescContent.jobDesCart.job-exp-wrap-alert .content-holder p {
    float: left;
}

.refer-candidate-experience.refer-candidate-wrap-db .jd-experience-alert {
    position: absolute;
    padding: 6px 10px 7px 6px;
    margin-left: 10px;
    top: 0px;
    margin-right: 2px;
}

.refer-candidate-experience.refer-candidate-wrap-db .jd-experience-alert .arrow-left {

    top: 7px;

}

.refer-candidate-experience.refer-candidate-wrap-db .jd-experience-alert .info-ico {
    font-size: 14px;
    float: left;
    display: inline-block;
    margin: 5px 5px 0 3px;
    color: #666666;
}

.refer-candidate-experience.refer-candidate-wrap-db .jd-experience-alert p {
    max-width: 90%;
}

.refer-candidate-experience.refer-candidate-wrap-db {
    min-height: 72px !important;
}

.announcement-files-li li {
    padding-bottom: 12px;
}

.slider-pic {
    max-width: 180px;
    max-height: 100px;
}

.dz-remove, .dz-remove:hover {
    color: red;
}

.select2-container {
    z-index: 2040 !important;
}

.sub-media-publication {
    padding: 0px 0 0 26px;

}

.sub-send-scout {
    padding: 0px 0 0 26px;

}

.sub-media-publication .checkbox-inline, .sub-send-scout .checkbox-inline {

    padding-left: 0px;
    padding: 15px 15px 0 0 !important;

}

button.btn.btn-md.btnDefault.updateJob {
    margin: 8px 0 19px 18px;
}

.ats-candidate {
    background: #2D9BB7;
    color: #fff;
    width: 82px;
    padding: 4px;
    border-radius: 4px;
    font-size: 9px;
    text-align: center;
}


.custom-candidate {
    background: #efd1e5;
    color: #000;
    width: 82px;
    padding: 4px;
    border-radius: 4px;
    font-size: 9px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.jobins-candidate {
    background: #FEE551;
    color: #000;
    min-width: 82px;
    padding: 4px;
    border-radius: 4px;
    font-size: 11px;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
}

.toggle-group .btn {
    margin-bottom: 0px !important;
}

.btn-terminate:hover {
    color: #ffffff;
}

.btn-terminate {
    font-size: 10px;
    padding: 2px;
    font-weight: 600;
}

.confirm-modal .ic-holder .fa {
    font-size: 46px;
    color: #f36f21;
}

.mr-18 {
    margin-right: 18px;
}

.confirm-modal h3 {
    padding: 6px 0 8px 0;
}

/*doesn't seem to load the datatable as a whole*/
/*.ibox.float-e-margins{*/
/*    display: none;*/
/*}*/

.error-page-wrapper {
    background: #F6F6F6;
    height: 95vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;;
}


.error-page-wrapper .error-title-wrap h1 {
    font-size: 60px;
    padding: 20px 0 10px 0;
}

@media (max-width: 500px) {
    .error-page-wrapper .error-title-wrap h3 {
        font-size: 18px;
    }

    .error-page-wrapper .error-title-wrap h1 {
        font-size: 40px;
    }

    .error-page-wrapper .illustration-img-wrap img {
        max-width: 90% !important;
    }
}