<template>
  <section class="download-form">
    <div class="container">
      <div class="download-wrapper">
        <form>
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="form-group">
                <label>会社名 <span>*</span></label>
                <input v-model="formData.company_name"
                       v-validate="'required|max:200'"
                       type="text"
                       name="company_name"
                       data-vv-as="株式会社"
                       data-vv-scope="download"
                       class="form-control"
                       placeholder="株式会社〇〇"
                       :class="{'input': true, 'is-invalid': errors.has('download.company_name')}">
                <div class="invalid-feedback">
                  <ul>
                    <li v-show="errors.has('download.company_name') "
                        v-cloak>
                      {{ errors.first("download.company_name") }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="form-group">
                <label for="department">部署</label>
                <select id="department"
                        v-model="formData.department"
                        name="department"
                        class="form-control Selectdw"
                        data-vv-as="総務部人事課 "
                        data-vv-scope="download"
                        :class="{'input': true, 'is-invalid': errors.has('download.department')}">
                  <option value=""/>
                  <option value="取締役">
                    取締役
                  </option>
                  <option value="人事">
                    人事
                  </option>
                  <option value="経営企画">
                    経営企画
                  </option>
                  <option value="情報システム">
                    情報システム
                  </option>
                  <option value="営業">
                    営業
                  </option>
                  <option value="バックオフィス">
                    バックオフィス
                  </option>
                  <option value="その他">
                    その他
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="form-group">
                <label>氏名<span>*</span></label>
                <input v-model="formData.customer_name"
                       v-validate="'required|max:200'"
                       type="text"
                       name="customer_name"
                       data-vv-as="氏名 "
                       data-vv-scope="download"
                       class="form-control"
                       placeholder="山田　太郎"
                       :class="{'input': true, 'is-invalid': errors.has('download.customer_name')}">
                <div class="invalid-feedback">
                  <ul>
                    <li v-show="errors.has('download.customer_name') "
                        v-cloak>
                      {{ errors.first("download.customer_name") }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="form-group">
                <label for="position">役職</label>
                <select id="position"
                        v-model="formData.position"
                        name="position"
                        class="form-control Selectdw"
                        data-vv-as="役職 "
                        data-vv-scope="download"
                        :class="{'input': true, 'is-invalid': errors.has('download.position')}">
                  <option value=""/>
                  <option value="代表取締役">
                    代表取締役
                  </option>
                  <option value="取締役">
                    取締役
                  </option>
                  <option value="部長">
                    部長
                  </option>
                  <option value="マネージャー">
                    マネージャー
                  </option>
                  <option value="一般社員">
                    一般社員
                  </option>
                  <option value="その他">
                    その他
                  </option>
                </select>
                <div class="invalid-feedback">
                  <ul>
                    <li v-show="errors.has('download.position') "
                        v-cloak>
                      {{ errors.first("download.position") }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="form-group">
                <label for="mail">メールアドレス <span>*</span></label>
                <input id="mail"
                       v-model="formData.customer_email"
                       v-validate="'required|email|max:200'"
                       type="text"
                       class="form-control"
                       placeholder="xxx@xxx.com"
                       name="customer_email"
                       data-vv-scope="download"
                       data-vv-as="メールアドレス"
                       :class="{'input': true, 'is-invalid': errors.has('download.customer_email')}">
                <div class="invalid-feedback">
                  <ul>
                    <li v-show="errors.has('download.customer_email') "
                        v-cloak>
                      有効なメールアドレスを入力してください
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="form-group">
                <label>年間採用人数</label>
                <select v-model="formData.no_of_employee"
                        class="form-control Selectdw"
                        name="no_of_employee"
                        data-vv-scope="download"
                        :class="{'input': true, 'is-invalid': errors.has('download.no_of_employee')}">
                  <option value=""/>
                  <option value="~10人">
                    ~10人
                  </option>
                  <option value="11~30人">
                    11~30人
                  </option>
                  <option value="31~50人">
                    31~50人
                  </option>
                  <option value="51~99人">
                    51~99人
                  </option>
                  <option value="100人~">
                    100人~
                  </option>
                </select>
                <div class="invalid-feedback">
                  <ul>
                    <li v-show="errors.has('download.no_of_employee') "
                        v-cloak>
                      {{ errors.first("download.no_of_employee") }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="form-group">
                <label for="phone">電話番号 <span>*</span></label>
                <input id="phone"
                       v-model="formData.customer_phone"
                       v-validate="'required|max:30'"
                       type="text"
                       name="customer_phone"
                       class="form-control"
                       placeholder="06-0000-0000"
                       data-vv-as="電話番号"
                       data-vv-scope="download"
                       :class="{'input': true, 'is-invalid': errors.has('download.customer_phone')}">
                <div class="invalid-feedback">
                  <ul>
                    <li v-show="errors.has('download.customer_phone') "
                        v-cloak>
                      {{ errors.first("download.customer_phone") }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="form-group">
                <label>お困りごとは何ですか？（複数回答可）</label><br>
                <v-select v-model="formData.problems"
                          multiple
                          :options="selectOptions"
                          data-vv-scope="download"
                          data-vv-as="お困りごとは何ですか？"
                          :class="{'input': true, 'is-invalid': errors.has('download.problems')}"/>
                <div class="invalid-feedback">
                  <ul>
                    <li v-show="errors.has('download.problems') "
                        v-cloak>
                      {{ errors.first("download.problems") }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="offset-lg-6 col-lg-6 offset-md-0 col-md-12 offset-sm-0 col-sm-12">
              <div class="form-group">
                <label>JoBinsをどこで知りましたか？</label>
                <select v-model="formData.how_do_you_know"
                        class="form-control Selectdw"
                        name="how_do_you_know"
                        data-vv-scope="download"
                        data-vv-as="JoBinsをどこで知りましたか？"
                        :class="{'input': true, 'is-invalid': errors.has('download.how_do_you_know')}">
                  <option value=""/>
                  <option value="JoBinsからのメール">
                    JoBinsからのメール
                  </option>
                  <option value="Googleなどの検索エンジン">
                    Googleなどの検索エンジン
                  </option>
                  <option value="Facebook">
                    Facebook
                  </option>
                  <option value="ネット記事">
                    ネット記事
                  </option>
                  <option value="当社ホームページ">
                    当社ホームページ
                  </option>
                  <option value="知人の紹介">
                    知人の紹介
                  </option>
                  <option value="テレビ／ラジオ">
                    テレビ／ラジオ
                  </option>
                  <option value="新聞">
                    新聞
                  </option>
                  <option value="イベント">
                    イベント
                  </option>
                  <option value="その他">
                    その他
                  </option>
                </select>
              </div>
            </div>



            <div class="col-lg-12 text-center">
              <div class="checkbox-col">
                <label class="container-checkbox"><a :href="privacyPolicyUrl" target="_blank">プライバシーポリシー</a> を確認しました
                  <input
                          id="privacy"
                          v-model="formData.terms_accept"
                          v-validate="'required'"
                          class="form-check-box form-control"
                          name="terms_accept"
                          type="checkbox"
                          data-vv-scope="download"
                          :class="{'input': true, 'is-invalid': errors.has('download.terms_accept')}">



                  <span class="checkmark"></span>
                  <div class="invalid-feedback">
                    <ul>
                      <li v-show="errors.has('download.terms_accept') "
                          v-cloak>
                        内容を確認しチェックしてください
                      </li>
                    </ul>
                  </div>

                </label>

              </div>

            </div>

            <div class="col-lg-12">
              <input id="captcha"
                     v-model="formData.recaptcha"
                     v-validate="'required'"
                     type="hidden"
                     name="recaptcha"
                     data-vv-scope="download">
              <button-loading :loading=buttonLoading
                              :disabled="errors.has('download.*') || buttonLoading"
                              class="btn-send"
                              @click.prevent="submit">
                送信する
              </button-loading>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>
<script type="text/ecmascript-6">
import "vue-select/dist/vue-select.css"

export default {
  name: "DownloadForm",
  props: {
    baseUrl: { type: String, required: true },
    googleCaptchaKey: { type: String, required: true },
    privacyPolicyUrl: { type: String, required: true },
  },
  data() {
    return {
      formData: {
        company_name: "",
        customer_name: "",
        customer_email: "",
        customer_phone: "",
        department: "",
        position: "",
        no_of_employee: "",
        problems: [],
        how_do_you_know: "",
        terms_accept: "",
        msie: this.browserDetect(),
        recaptcha: "",
      },
      buttonLoading: false,
      selectOptions: [
        "採用コストを抑えたい",
        "求人広告では獲得できない",
        "エージェントは手数料が高い",
        "エージェントの開拓が大変",
        "いい採用ツールを探している",
        "その他",
      ],
    }
  },
  methods: {
    submit() {
      grecaptcha.execute(this.googleCaptchaKey, { action: "clientDocumentDownload" }).then((token) => {
        if (token) {
          this.formData.recaptcha = token
          this.buttonLoading = true
          this.$validator.validate("download.*").then((result) => {
            if (result) {
              axios.post("/client/getDoc", {
                company_name: this.formData.company_name,
                customer_name: this.formData.customer_name,
                customer_email: this.formData.customer_email,
                customer_phone: this.formData.customer_phone,
                phone_no: this.formData.customer_name,
                department: this.formData.department,
                position: this.formData.position,
                no_of_employee: this.formData.no_of_employee,
                problems: this.formData.problems,
                how_do_you_know: this.formData.how_do_you_know,
                recaptcha: this.formData.recaptcha,
                msie: this.formData.msie,
              }).then(response => {
                this.redirectToResult()
              }).catch(error => {
                this.buttonLoading = false
                this.$toastr.e("エラーが発生しました")
              })
            } else {
              this.buttonLoading = false
            }
          })
        }
      })
    },

    gCaptchaToken() {

    },
    browserDetect() {
      if (this.$browserDetect.isIE == true) {
        return "true"
      } else {
        return "false"
      }
    },
    redirectToResult() {
      var url = this.baseUrl + "/client/download-result"
      window.location.replace(url)
    },
  },
}
</script>
