.btn{

  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

.btn-secondary {
  color: $white;
  background-color: $gray-900;
  border-color: $gray-900;
}
.btn-primary, .btn-primary:not(:disabled):not(.disabled):active {
  color: $gray-900;
  background-color: $primary;
  border-color: $primary;
  &:hover{
    color: $gray-900;
    background-color: $primary;
    border-color: $primary;
    opacity: 0.9;
  }
  &:focus{
    color: $gray-900;
    background-color: $primary;
    border-color: $primary;
    opacity: 0.9;
    box-shadow: 0 0 0 0.2rem rgba(38,143,255,0);
  }
}


.btn-gray {
  color: $gray-900;
  background-color: $gray-400;
  border-color: $gray-400;
  &:hover{
    color: $gray-900;
    background-color: $gray-400;
    border-color: $gray-400;
    opacity: 0.9;
  }
  &:focus{
    color: $gray-900;
    background-color: $gray-400;
    border-color: $gray-400;
    opacity: 0.9;
    box-shadow: 0 0 0 0.2rem rgba(38,143,255,0);
  }
}


.btn-100{
  min-width: 100px;
}

button.btn.btn-round-primary {
  background: $primary;
  border-radius: 50px;
  width: 40px;
  border: 2px solid;
  height: 40px;
  text-align: center;
  &:hover{
    opacity: 0.8;
  }
}
