input.form-control{
  font-size: 14px;
}
.form-control:focus {
  color: $gray-600;
  border-color: $gray-900;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);
}
::-webkit-input-placeholder { /* Edge */
  color: $gray-500 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $gray-500 !important;
}

::placeholder {
  color: $gray-500 !important;
}
 .input-group>.form-control:not(:last-child) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
input.form-control{
  border: 1px solid $gray-900;
  border-radius: 5px;
}

.custom-select-option{
  /* Reset Select */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: $white;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 100%;
    height: 36px;
    line-height: 2.5;
    background: $white;
    overflow: hidden;
    border: 1px solid $gray-900;
    border-radius: 5px;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: $gray-900;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    font-size: 8px;
    padding: 8px 10px 0px 0;
    background: $white;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: $gray-900;
  }

}

.form-group{
  textarea{
    border-color: $gray-900;
  }
}

/* for radio button styline */
/* created for job create form */
.container-radiobutton {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right: 20px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark-radio:after {
    top: 4px;
    left: 4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $primary;
  }

  input:checked ~ .checkmark-radio:after {
    display: block;
  }


}

/* Create a custom radio button */
.checkmark-radio {
  position: absolute;
  top: 3px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: $gray-300;
  border-radius: 50%;
  border: 1px solid $gray-600;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}


.radio-inline label.container-radiobutton {
  display: inline-block;
}


/* for radio button styline */
/* created for job create form */
.container-radiobutton {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right: 20px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark-radio:after {
    top: 4px;
    left: 4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $primary;
  }

  input:checked ~ .checkmark-radio:after {
    display: block;
  }
}

.checkmark-radio {
  position: absolute;
  top: 3px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: $gray-300;
  border-radius: 50%;
  border: 1px solid $gray-600;
}

.checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-inline label.container-radiobutton {
  display: inline-block;
}

/* for radio button ends here */


/* for checkbox styline */
/* created for job create form */

.container-checkbox {
  display: block;
  position: relative;
  padding-right: 20px;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}


/* Create a custom checkbox */
.checkmark-checkbox {
  position: absolute;
  top: 2px;
  left: 0;
  border: 1px solid $gray-600;
  height: 18px;
  width: 18px;
  background-color: $white;
  border-radius: 3px;
}


/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark-checkbox {
  background-color: $primary;
  border: 1px solid $primary;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark-checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark-checkbox:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-inline label.container-checkbox {
  display: inline-block;
}

/* for checkbox  ends here */

