

//table css

.table {
  thead th {
    border-bottom: 1px solid $gray-900;
  }

  th {
    border-top: 1px solid $white;
  }
  td{
    border-top: 1px solid transparent;
  }

}

.table-striped tbody tr:nth-of-type(even) {
  background-color: $gray-300 ;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent ;
}
