.custom-tab-wrapper{
  .tab-header{
    width: 100%;
    overflow: hidden;

  }
  ul#pills-tab{
    display: inline-block;

    li.nav-item {
      display: inline-block;
      a {
        color: $gray-900;
        display: flex;
        border-radius: 0;

        span.tab-count {
          border: 1px solid $gray-900;
          font-size: 10px;
          width: 25px;
          display: inline-block;
          border-radius: 2px;
          margin: 2px 0 0 5px;
          height: 16px;

        }
      }
      .nav-link.active{
background: $primary;

        .tab-count{
          border: 1px solid $primary;
        }
      }
    }

  }
}




