footer.page-footer {
  padding-top:25px;
}
.list-unstyled.menu-list li {

  display: inline-block;
  padding: 0 30px 0 0;

}

.list-unstyled.menu-list {

  padding: 0 0 0 20px !important;
  overflow: hidden;

}

.list-unstyled.menu-list li a {

  color: #000000;
  padding: 3px 0 0 0;
  display: inline-block;

}

.social-ul {
  display: inline-block;
  float: right;
  margin-bottom: 10px;
}

.list-unstyled.menu-list li a {

  color: #848484;
  padding: 3px 0 0 0;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;

}

.footer-top {

  overflow: hidden;
  padding: 0 0 10px 0;

}

.modal-dialog {
  margin: 15% auto 0;
}

.row.copyright {

  padding: 15px 0 0 0;

}

.video-popup .modal-dialog .modal-content {
  border-radius: 4px;
  border: 0;
  overflow: hidden;
}

.row.copyright p {
  font-weight: 500;
  color: #848484;
  font-size: 12px;

}

.social-ul a {
  background: #a4a4a4;
  width: 25px;
  display: inline-block;
  text-align: center;
  height: 25px;
  border-radius: 42px;
  padding: 2px 0 0 0;
  font-size: 14px;
  margin: 0 0px 0 5px;
}

.social-ul a:hover {
  background: #fed008;

}

.row.copyright p a {

  color: #fed008;

}

.list-unstyled.menu-list li a.active {
  color: #f36f21 !important;
}

.footer-logo {

  float: left;
  overflow: hidden;
  padding: 0 20px 0 0;
  border-right: 2px solid #c5c5c5;

}

.top-footer {
  border-bottom: 1px solid #dadbdb;
}

