
.heading-primary {
  color: $color-white;
  //text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 3rem;

  &--main {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    //white-space: nowrap;
    //letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      font-size: 2.5rem;
      //letter-spacing: 0.3rem;
    }
    /*
    animation-delay: 3s;
    animation-iteration-count: 3;
    */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    //white-space: nowrap;
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      font-size: 10px;
      //letter-spacing: 0.3rem;
    }
  }
}


.pt-40{
  padding-top: 40px !important; 
}
.pt-20{
  padding-top: 20px !important; 
}
.pb-20{
  padding-bottom: 20px !important; 
}
.pb-40{
  padding-bottom: 40px !important; 
}
.border-10 {
  border-radius: 10px;
}
.small-txt {
  font-size: 12px !important;
}
.box-shadow{
  box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  //letter-spacing: .2rem;
  transition: all .2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.header-icons.list-unstyled {
  border-left: 1px solid #fff;
  padding: 0 0 0 20px;
  margin: 0 0 0 25px;
}

.header-icons.list-unstyled li {
  display: inline-block;
}

.header-icons.list-unstyled li {
  display: inline-block;
  padding: 0 15px 0 0;
}

.header-icons.list-unstyled a:hover {
  color: #fed008 !important;
}

@media (max-width: 960px) {
  .header-icons.list-unstyled {
    display: none;
  }
}