.slider{
  height: 85vh;
  background-size: cover;
  background: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, 0.8),
                  rgba($color-primary-dark, 0.8));
  position: relative;

  &__text-box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 60;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 10px;
  }
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
  left: -12px;
}
.carousel-control.right {
  right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
  background: #c0c0c0;
}
.carousel-indicators .active {
  background: #333333;
}

.tcb-bs-fullscreen{
  height: 100%;
  .carousel,
  .item,
  .active {
    height: 100%;
  }
  .carousel-inner {
    height: 100%;
  }
}
/****************************
USE BACKGROUND IMAGES IN CAROUSEL SLIDER
*****************************/
.carousel-bg {
  .carousel-inner {
    .item {
      background-color: darkslategrey;
      background-size: cover;
      background-position: center;
      min-height: 360px;
    }
  }
}




/*========= Slider-bg STYLE============ */

.single-slider {
  min-height: 700px;
  padding: 100px 0px;
}
.slide-01{background:url('../img/slider-bg/slide-01.jpg') no-repeat;}
.slide-02{background:url('../img/slider-bg/slide-02.jpg') no-repeat;}
.slide-03{background:url('../img/slider-bg/slide-03.jpg') no-repeat;}

.single-slider .active-btn{border:1px solid #fff;}

.slide-01, .slide-02, .slide-03{
  background-size:cover;
  position:relative;
}
.slide-01:before, .slide-02:before, .slide-03:before{
  position:absolute;
  content:"";
  background:#000000;
  top:0;
  left:0;
  background: url(../img/bg-background.png);
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: .6;
}
.slider-text{position:absolute;z-index: 90;
  color:#fff;
  width:100%; top: 25%;
}
.slider-section {
  padding: 0;
  width: 100%;
  overflow: hidden;
}
.title-p {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 3px;
}
.slider-text h2{
  font-size:60px;
  text-transform:uppercase;
}

.slider-bg .owl-prev:hover, .owl-next:hover{background:none !important;transition:all .5s ease-in-out;}
.slider-p {
  color: #fff;
  padding-bottom: 50px;
  font-size: 18px;
}
.slider-bg  .owl-carousel .owl-nav button.owl-next, .slider-bg .owl-carousel .owl-nav button.owl-prev{
  background: 0 0;
  color: inherit;
  padding: 0 !important;
  font: inherit;
  border: 1px solid;
  width: 25px;
  border-radius: 0px;
}
.slider-bg  .owl-dots{margin-top:20px;}
.owl-nav .owl-prev {
  position: absolute;
  left: -55px;
  top: 40px;
}

.owl-nav .owl-next {
  position: absolute;
  right: -55px;
  top: 40px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;

}
.campaign-parent
{

  font-size: 18px;
}
.campaign{
  color: #ffcc18 !important;
}


