._new_authentication .error.help {
    color: #f32121;
    font-style: normal;
    font-size: 9pt;
}

.navbar-brand img {
    width: 150px !important;

}
.navbar-right a.nav-link.user-account-a-link {
    background:#5B7397;
    color: #ffffff !important;
    border-color: #000000;
}
.navbar-default .navbar-nav.navbar-right a.user-account-a-link {
    background: #5B7397;
    color: #ffffff !important;
    border-color: #000000;
}
.navbar-right a.nav-link.user-account-a-link:hover {

    color: #ffffff !important;

}

.colornav .navbar-default .navbar-nav > li.active > a {
    border-bottom: 3px solid #5B7397;
    background: #e8e8e8;
}
.navbar-right a.nav-link.user-account-a-link  i{
        color: #ffffff;

}
nav.pagination-custom .page-item.active .page-link {
    background-color: #5B7397;
    z-index: 0; color: #ffffff;
}
.navbar-default .navbar-nav.navbar-right a.user-account-a-link {
    background:#5B7397;
}
.navbar-default .navbar-nav.navbar-right a.user-account-a-link:hover {
    background:#5B7397;
}
.custom-tab-wrapper ul#pills-tab li.nav-item .nav-link.active {
    background: #5B7397;
    color: #ffffff;
}
.custom-tab-wrapper ul#pills-tab li.nav-item .nav-link.active .tab-count {
    border: 1px solid #5B7397;
}
.btn-primary {
    background-color: #5B7397 !important;
    border-color: #5B7397 !important;
    color: #ffffff !important;
}


button.btn.btn-round-primary {
    background: #5B7397;
    color: #ffffff;
}
.selection-detail-message .custom-tab-wrapper ul#pills-tab li.nav-item .nav-link.active {
    background: #5B7397;
    color: #000000;
}
.selection-management-detail .selection-detail-message .custom-tab-wrapper ul#pills-tab li.nav-item .nav-link.active {

    border-bottom: 2px solid #5B7397;
}
.bg-primary {
    background-color: #5B7397 !important;
    color: #ffffff;
}

.col-right-sidebar .stage-timeline-wrap .container.right:first-child .content {
    background: #5B7397; color: #ffffff;
}
.challenge-mark {
    background: #5B7397; color: #ffffff;

}
.btn-account-setting {
    float: right;
    background-color: #5B7397 !important;
    border-color: #5B7397 !important;
}
.left-sidebar-candidate .data-profile-display:hover {
    background: #5B7397;
    cursor: pointer;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #5B7397;
    cursor: default;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #5B7397 !important;
}


.menubar-wrap li.active a {
    border-bottom: 3px solid #5B7397 !important;
    background: #e8e8e8 !important;
}


.navbar-default .navbar-nav.navbar-right a.user-account-a-link:hover, .navbar-default .navbar-nav.navbar-right a.user-account-a-link:focus {
    background: #5B7397 !important;
    color: #ffffff !important;
}
