
.plan-header-wrap {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #9D9D9D;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
}

.plan-header-wrap h4 {
    font-size: 14px;
    margin: 0 20px 0 0;
    color: #585353;
}

.plan-body-container h4 {
    font-size: 14px;
    margin: 20px 0 15px 0;
    color: #585353;
}

.label-value-holder {
    /* height: 40px; */
    background: #000000;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 10px;
    min-width: 130px;
    text-align: center;
}

.plan-container {
    padding: 15px;
    font-size: 14px;
}

.plan-date-element {
    background: #F5F5F5;
    display: inline-block;
    padding: 9px 10px 10px 10px;
    height: 60px;
    border-radius: 5px;
    width: 110px;
    margin-right: 20px;
}

.plan-element-row {
    display: flex;   margin-bottom: 20px;
}

.plan-element-title {
    min-width: 200px;
}

.date-title {
    color: #686868;
}

.date-value {
    color: #000000;
}

.plan-element-title span {

    height: 60px;
    display: inline-flex; position: relative;
    align-items: center;
    width: 154px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 13px solid #000000;
    position: absolute;
    top: 0;
    right: -13px;
}
.label-value-holder.paid-label {
    background: #2D9BB7;
}
.label-value-holder.free-label {
    background: #FF917A;
}
.label-value-holder.trial-label {
    background: #91BDC9;
}
.plan-element-row.trial-row .plan-element-title span{
    background: #91BDC9;
}
.plan-element-row.trial-row .plan-element-title span .arrow-right {
    border-left: 13px solid #91BDC9;
}

.plan-element-row.free-row .plan-element-title span{
    background: #FF917A;
}
.plan-element-row.free-row .plan-element-title span .arrow-right {
    border-left: 13px solid #FF917A;
}

.plan-element-row.paid-row .plan-element-title span{
    background: #2D9BB7;
}

.plan-element-row.paid-row .plan-element-title span .arrow-right {
    border-left: 13px solid #2D9BB7;
}
