

/*login*/

.loginBg {
    background: url("../images/loginbg.jpg");
    background-size: cover;
}

.loginWrap {
    box-shadow: none;
}

.loginError {
    border-radius: 50px;
}

.loginWrap .bgGrey {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.loginContent img {
    max-width: 150px;
}

.unBorderInput .form-control {
    background: rgba(255, 255, 255, 0.1) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0) !important;
    width: 87%;
    border: 0;
    color: #ffffff;
    border-radius: 0 23px 23px 0;
}

.loginContent .input-group-addon {
    float: left;
    height: 45px;
    display: inline-block !important;
    width: 12%;
    background: rgba(255, 255, 255, 0.1) !important;
    border-radius: 23px 0 0 23px;
    border: 0;
    padding: 14px 0 0 10px;
    color: #ffffff;
}

.btn{
    font-size: 12px;
}
.form-group-no-border {
    background: rgba(255, 255, 255, 0);
    border-radius: 90px;
}

.loginContent .btn {
    width: 100%;
    border-radius: 100px;
    height: 45px;
    padding: 10px 0 0 0;
    margin: 0 0 10px 0;
}

.loginContent p {
    margin: 0 0 10px;
    color: #ffffff;
}

.loginBg .footerSocial li {
    display: inline;
    text-align: center;
}

.loginBg .footerSocial {
    padding: 10px 0 10px 0;
    display: inline-block;
    float: right;
}

.footerRow li a:hover {
    color: #f36f21;
}


/*******************/

.processrow li {
    display: inline-block;
    text-align: center;
}

.processrow li a {
    color: #ffffff;
}

.formBox .radio-inline {
    color: #d0d0d0;
}

.headerWrapper {

    color: #fff;
    padding: 100px 0 60px 0;
}

.jobs_filters img {
    display: inline-block;
    float: left;
    margin: 10px 10px 0 0;
    width: 36px;
}

.occupationbox {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/occupation.jpg");
    background-origin: padding-box;
    background-repeat: repeat;
    background-size: cover;
}

html {
    height: 100%;
    width: 100%;
}

.premium-class {
    background: #f36f21;
    color: #ffffff;
    font-size: 12px;
    border-radius: 0px 10px 10px 0;
    padding: 2px 10px 3px 10px;
}


/**/

.pb-0 {
    padding-bottom: 0 !important;
}

.pt-1 {
    padding-top: 1em !important;
}

.mt-3 {
    margin-top: 3em !important;
}

.search-adv .form-group input {
    padding: 13px 10px 13px 10px;
    border-radius: 2px;
    box-shadow: none;
    border: 0;
    height: 35px;
    width: calc(100% - 140px);
    background: #f9f9f9;
    color: #34495e;
    border: 1px solid #e0e0e0;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.inline-input li {
    position: relative;
    width: 47%;
    float: left;
    margin: 0 2% 0 0;
}

.inline-input ul {
    overflow: hidden;
}

.search-adv {
    position: relative;
    padding: 15px 0 0 0;
}

.lable-content {
    padding: 0 0 0 10px;
    overflow: hidden;
    display: inline-block;
}

.lable-content p {
    margin: 0;
}

.lable-holder {
    background: #f8f8f8;
    width: 115px;
    padding: 2px 0 2px 10px;
    font-size: 12px;
    font-weight: 600;
    float: left;
}

.search-adv .card-body {
    overflow: hidden;
}

.advSearchBtn span {
    background: #f36f21;
    color: #fff;
    padding: 7px 9px 5px 9px;
    border-radius: 3px 3px 3px 3px;
}

.search-adv .rq-search-content {
    display: inline-block;
}

.search-adv .rq-search-content {
    display: inline-block;
    margin-top: 0px;
}

.search-adv .rq-search-content .btn.btn-md.btnDefault.btnLine {
    padding: 10px 15px 10px 15px;
    background: #d1d1d1;
    border: 0;
    text-shadow: none;
    min-width: 100px;
    margin-top: 0em;
    margin-right: 6px;
    border-radius: 58px;
    height: 35px;
    color: #34495e;
}

.search-adv .rq-search-content .btn.btn-md.btnDefault.btnActive {
    padding: 8px 15px 8px 15px;
    background: #f36f21;
    border: 0;
    text-shadow: none;
    min-width: 100px;
    margin-top: 0em;
    margin-right: 0px;
    border-radius: 77px;
    height: 35px;
}
.search-adv .rq-search-content .btn.btn-md.btnDefault.btnLine:hover {
    opacity: 0.9;
}

.search-adv .form-group .checkbox-inline input {
    height: 20px !important;
}

.advSearchBtn,
.advSearchBtn:focus {
    color: #fff;
}

.adv-search {
    display: inline-flex;
    position: absolute;
    top: -30px;
    right: 0px;
}


/* Customize the label (the container) */

.chk-container {
    display: inline-block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 12px;
    float: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 6px;
    text-shadow: 0 !important;
    font-weight: normal;
}

.input-img {
    position: absolute;
    bottom: 26px;
    right: 25px;
}


/* Hide the browser's default checkbox */

.chk-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
}


/* On mouse-over, add a grey background color */

.chk-container :hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.chk-container input:checked ~ .checkmark {
    background-color: #F08141;
    border-color: #F08141;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.chk-container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.chk-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.inline-input input {
    display: inline-block;
    float: left;
    vertical-align: middle;
}

.form-group .inline-input span {
    display: inline-block;

    padding: 7px 0 0 7px;

    font-size: 12px !important;
    color: #726e6e;
    float: left;
}

.inline-input {
    overflow: hidden;
}

.form-group .dropdown span {
    display: block;
    font-size: 12px;
    color: #c2c2c2;
}

.search-adv .glyphicon {
    position: absolute;
    top: 12px;
    right: 10px;
}

.search-adv #dropdownMenu1 {
    background: #666878;
    width: 100%;
    text-align: left;
    border: 0;
    border-radius: 0;
    height: 40px;
    color: #9e9e9e;
}

.popupChk {
    padding: 10px 0 15px 10px;
    overflow: hidden;
}

.popupChk ul li {
    width: 50%;
    float: left;
    display: inline-block;
}

.search-adv .dropdown-menu {
    min-width: 100%;
    padding: 0 0 0 10px;
    font-size: 13px;
    border-radius: 0px;
}

.search-adv .dropdown-menu ul li a {
    color: #808080;
    font-size: 13px;
}

.search-adv .dropdown-menu ul li a:hover {
    color: #515050;
}

.search-btn-wrapper {
    overflow: hidden;
    padding: 0 0px 0 0;
    display: inline-block;
    float: right;
}

.popupmodal .modal-dialog {
    width: 750px;
}

.popupmodal .modal-header {
    margin: 0 0 0px 0;
    background: #e6e8ef;
    padding: 0 10px 0 10px;
}

.popupmodal .modal-body label {
    background: transparent;
    width: auto;
    padding: 0 0 0 30px;
    font-size: 13px;
    font-weight: normal;
}

.menu-nav .active {
    background: #f7f7f7;
}

.menu-nav {
    background: #ededed;
    min-height: 255px;
    margin: 0;
}

.popupmodal .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #ccc;
}

.menu-nav li {
    padding: 7px 0 0 10px;
    border-bottom: 1px solid #e3e3e3;
}

.popupmodal .chk-container .checkmark::after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btnRev {
    background: #415469;
    border: 1px solid #415469;
}

.popupmodal .chk-container {
    margin-bottom: 5px;
}

.popupmodal .modal-content {
    background: transparent;
    border: 0;
    box-shadow: none;
}

.checkbox-wrapper {
    background: #ffffff;
    padding: 0 0px 0 0px;
    min-height: auto;
    border-radius: 2px;
    overflow: hidden;
}

.checkbox-wrapper .close {
    float: right;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0px 0 transparent;
    opacity: 1;
}

.popupmodal .modal-header .close {
    margin: 10px 0px 10px 10px;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: 0.7;
}

.popupmodal .checkbox-wrapper h3 {
    display: inline-block;
    float: left;
    margin: 12px 0 0 0;
    font-size: 16px;
}

.popupmodal label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}

.alert.alert-custom {
    background: #ffffff;
    padding: 10px 10px 10px 10px;
    position: relative;
    display: inline-block;
    width: 100%;
}

.box-wrap {
    background: #ffffff;
    border-radius: 3px;
    padding: 0 0 0 10px;
}

.check-box-holder {
    display: inline-block;
    float: left;
    margin-bottom: 0px;
    margin-top: 35px;

}
.ul-desc-box {
    overflow: hidden;
    padding: 10px 0 0 0;
}

.text-custom {
    color: #f36f21;
}

.header-right li span {
    background: whitesmoke;
    border-radius: 60px;
    padding: 3px 10px 5px 10px;
    font-size: 12px;
}

.box-wrap h4 {}

.header-right ul {
    display: inline-block;
    padding: 10px 10px 0 0;
}

.header-right li {
    padding: 0 0 0 0px;
    display: inline-block;
}

.header-right li span {
    background: whitesmoke;
    border-radius: 60px;
    padding: 3px 10px 5px 10px;
    font-size: 12px;
}

.header-right li span.active {
    background: #8dc63f;
    color: #ffffff;
}

.box-left {
    overflow: hidden;
    padding-bottom: 10px;
}

.job-ico-list li a {
    background: #f8f8f8;
    border-radius: 50px;
    height: 30px;
    display: inline-block; color: #bec0c7;
    width: 30px;
    text-align: center;
    padding: 5px 0 0 0;
}

.job-ico-list li a:hover, .job-ico-list li a:focus {
    background: #f36f21;
    color: #ffffff;
}

.job-ico-list li {
    display: inline;
}

.job-ico-list {
    display: inline-block;
    float: right;
    padding: 20px 20px 0 0;
}

.box-left h4 {
    margin: 15px 0 0 0;
}

.ul-desc-box li span {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    float: left;
    min-width: 120px;
    background: #f8f8f8;
    padding: 5px 0 5px 10px;
}

.ul-desc-box li {
    display: inline-block;
    float: left;
    padding: 0 60px 0 0;
    width: 50%;
    margin-bottom: 2px;
}

.header-right .fas.fa-circle {
    font-size: 8px;
}

.search-filter .checkmark,
.box-wrap .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #bec0c7;
}

.box-wrap .chk-container .checkmark::after {
    left: 6px;
    top: 4px;
}

.box-wrap {
    background: #ffffff;
    border-radius: 3px;

    padding: 0 0 0 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.box-wrap:hover {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.18);
}

.search-filter-ul li {
    display: inline-block;
    float: left;
    padding: 0 10px 0 0;
}

.search-filter-ul .pt-1 {
    padding-top: 5px !important;
}

.h1,
h1 {
    font-weight: normal;
}

.search-filter-ul li .btn.dropdown-toggle {
    border-radius: 0 !important;
    border: 0;
    background: #f9f9f9;
    min-width: 170px;
    color: #7e7e7e;
    border: 1px solid #f0f0f0; position: relative;
}

.search-filter-ul li .glyphicon.glyphicon-menu-down {
    position: absolute;

    top: 8px; right: 7px;
}

.search-filter {
    float: right;
    display: inline-block;
}

.alert.alert-custom h5 {
    display: inline-block;
    float: left;
}

.alert.alert-custom .form-group {
    margin-bottom: 0px;
}

.alert.alert-custom .dropdown-menu {
    border-radius: 2px;
    padding: 7px 0 7px 10px;
    font-size: 12px;
    border: 0;
}

.alert.alert-custom .dropdown li a {
    color: #757575;
}

.sectionHeader .pagination {
    float: right;
    overflow: hidden;
    display: inline-block;
}

.sectionHeader h4 {
    float: left;
    margin: 0px 0 0 0;
}
.sectionHeader  .pagination {

    margin: 0 0 15px 0;

}
.sectionHeader .pagination>li>a,
.sectionHeader .pagination>li>span {
    padding: 2px 6px;
    color: #757575;
    background-color: transparent;
    border: navajowhite;
    font-weight: bold;
    margin: 0 5px 0 0;
    border-radius: 3px;
}

.sectionHeader .pagination>li.active a {
    background: #f36f21 !important;
    color: #ffffff !important;
}

.headerWrapper2 {
    background-image: url("../images/headerbg.jpg") !important;
    background-size: cover;
}
.headerWrapper1 {
    background-image: url("../images/headerbg1.jpg") !important;
    background-size: cover;
}

.card-body label {
    font-weight: normal;
    float: left;
    width: 140px;
}

.ul-desc-box li p {
    overflow: hidden;
    padding: 5px 0 0 9px;
    margin: 0;
}

.sub-menubox ul {
    margin: 0 !important;
    padding: 15px 0 0 0;
}

.sucess i {
    color: #558b2f !important;
    font-size: 10px;
}

.form-group .dropdown {
    width: calc(100% - 100px);
    display: inline-block;
}

.lable-content {
    padding: 4px 0 0 10px;
    overflow: hidden;
    display: block;
    background: #f8f8f8;
    margin-right: 15px;
    min-height: 30px;
    margin-bottom: 2px;
}

.lable-holder {
    background: #f0f0f0;
    width: 115px;
    padding: 2px 0 2px 10px;
    font-size: 12px;
    font-weight: 600;
    float: left;
    margin-bottom: 1px;
    min-height: 30px;
}

.search-adv .selectpicker.form-control {

    width:  100%  ;
    display: block;
    background-color:rgba(255, 255, 255, 0.4);;
    border: 0;
    border-radius: 0;
    padding: 0px 10px 0px 10px;
    color: #ffffff; height: 35px;

}

.search-adv .selectpicker.form-control option {

    background: #ffffff;
    color: #000000;

}
.main-search-bar .search-btn-wrapper {
    width: 167px;
    overflow: hidden;
    display: inline-block;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
}
/* Custom Select */
.selectWrapper {
    position: relative;
    display: inline-block;
    width: calc(100% - 180px);
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
    margin: 0 10px 0 0;
}
select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}
/* Arrow */
.selectWrapper::after {
    content: '\25BC';
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    background: #34495e;
    pointer-events: none;
    padding: 3px 10px 0 10px;
    font-size: 10px;
}
/* Transition */
.selectWrapper:hover::after {
    color: #f39c12;
}
.selectWrapper::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}


.pagination.cst-pagination > li > a {
    padding: 0 5px 0 5px;
    color: #747474;
    background-color: #fff;
    border: 1px solid transparent;
}

.pagination.cst-pagination > li.active > a {
    background-color: #f36f21;
    border-color: #f36f21;
    color: #ffffff;
}

.pagination.cst-pagination li.active a:hover {
    background-color: #f36f21 !important;
    border-color: #f36f21 !important;
    color: #ffffff !important;
    opacity: 0.8;
}

.pagination.cst-pagination {
    margin: 5px 0 0 0;
}
.profile-holder-wrapper.text-center img {

    width: 35px;
}

.profile-holder-wrapper.text-center {

    overflow: hidden;

}
.profile-holder-wrapper h5 {

    font-size: 12px;
    margin: 0 0 5px 0;

}
.profile-holder-wrapper.text-center h4 {

    font-size: 14px;
    margin: 7px 0 3px 0;
    font-weight: bold;

}
.user-box-wrapper {

    background: #f3f3f3;
    margin: 0 0 0 -10px;
    padding: 25px 0 25px 15px;
}

.user-info-wrap {
    font-size: 13px;
    padding: 15px 0 0 0;
}
.dwnlod-file-list {
    padding: 15px 0 0 0;
}
.user-info-wrap li span {
    width: 20px;
    display: inline-block;
    text-align: center;
    color: #adb0b9;
}

.dwnlod-file-list li a {

    color: #34495e;
    font-size: 13px;

}
.dwnlod-file-list li a span i {

    color: #f36f21;

}

.adv-search-wrap {
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    padding: 15px 0 15px 0;
    border-radius: 5px;
    margin-top: 10px;
}
.headerWrapper label {
    color: #34495e;
}
.pagination > li {

    padding: 0 5px 0 0 !important;

}

.box-grid-wrap .profile-holder-wrapper img {
    display: inline-block;
    float: left;
    width: 30px;
}
.box-grid-wrap .user-info-details {
    overflow: hidden;
    padding: 0 0 0 10px;
}


.box-grid-wrap .user-box-wrapper {
    position: relative;
    padding: 13px 0 10px 10px;
}


.box-grid-wrap .check-box-holder {

    margin-top: 3px;
}
.box-grid-wrap .dwnlod-file-list {

    padding: 5px 0 0 0;

}
.box-grid-wrap .job-ico-list {
    float: none;
    display: inline-block;
    padding: 0px 0px 6px 0;

}


.box-grid-wrap .thum-header {

    background: #fff;
    width: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 52px;
    position: absolute;
    right: 10px;
    top: 20px;
    height: 30px;
    padding: 4px 0 0 0;
    border: 1px solid #bec0c7;
    color: #bec0c7;

}
.box-grid-wrap .thum-header:hover {

    background: #fff;
    width: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 52px;
    position: absolute;
    right: 10px;
    top: 20px;
    height: 30px;
    padding: 4px 0 0 0;
    border: 1px solid #bec0c7;
    color: #bec0c7;

}

.box-grid-wrap .thum-header:hover,  .box-grid-wrap .thum-header:focus {

    background: #f36f21;
    width: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 52px;
    position: absolute;
    right: 10px;
    top: 20px;
    height: 30px;
    padding: 4px 0 0 0;
    border: 1px solid #f36f21;
    color: #fff;

}

.box-grid-wrap .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #fff;
    border: 1px solid #bec0c7;
}
.box-grid-wrap .dwnlod-file-list li span {
    width: 20px;
    display: inline-block;
    text-align: center;
}
.box-wrap.box-grid-wrap textarea {
    width: 97%;
}
.box-grid-wrap .chk-container .checkmark::after {

    left: 5px;
    top: 2px;

}

.box-grid-wrap .user-info-details h4 {

    margin: 0 0 5px 0;
    font-size: 14px;
    font-weight: bold;

}
.box-grid-wrap .user-info-details h4 span {

    font-size: 13px;
    font-weight: normal;

}

.btn.btn-md.btnDefault.btnActive.advSearchBtn {
    float: right;
    margin: 0 10px 0 0;
    border-radius: 50px;
    font-size: 11px;
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.repo-header h3 {
    display: inline-block;
    float: left;
    overflow: hidden;
}
.repo-ul-list {
    overflow: hidden;
    float: right;
}

.repo-ul-list li{
    display: inline-block; float: left;
}

.report-content-wrapper {
    background: #ffffff;
    padding: 1px 10px 10px 20px;
}
.repo-header {
    overflow: hidden;
    width: 100%;
}

.report-content-wrapper {
    background: #ffffff; transition: 300ms;
    padding: 0px 0px 10px 0px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px; margin-bottom: 20px;
}
.report-content-wrapper:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
.edit-report {
    position: absolute;
    right: 10px;
    top: 9px;
}
.edit-report a {
    display: inline-block;
    color: #b9aaaa;
    padding: 0 5px 0 0;
}
.edit-report a:hover {
    color:  #f36f21;

}

.report-cnt-head h4 {
    padding: 10px 0 15px 0;
    font-weight: 500;

    margin: 5px 0 20px 0;
    font-size: 14px;
}

.report-cnt-head {
    position: relative;
    background: #f5f5f5;
    border-radius: 5px 5px 0px 0;
    padding: 1px 0px 0 16px;
}
.report-cnt-body {

    padding: 0 0 0 15px;

}

.report-cnt-body.tbl-body-cnt .row {
    margin-right: 0;
    margin-top: 0px;
    padding-top: 6px;
}
.report-cnt-body.tbl-body-cnt .bg-grey {
    background: #f6f6f6;
}
.header-btn-list li a {
    background: #f36f21;
    border-radius: 50px;
    padding: 2px 0px 2px 0px;
    color: #fff;
    width: 65px;
    display: inline-block;
    text-align: center;
    font-size: 11px;
}
.header-btn-list li a:hover {
    opacity: 0.8;
}
.header-btn-list li {

    display: inline-block;
    margin: 0 7px 0 0;

}

.header-btn-list {
    padding: 0px 0 8px 0;
    display: inline-block;
    float: right;
}

.downloadFile {
    color: #34495e;
}
.downloadFile i{
    color: #f36f21;
}

.btn-last a {
    background: transparent !important;
    text-align: left !important;
    color: #f36f21;
    padding: 0 0 0 8px !important;
    font-size: 15px !important;
}

.bg-dark-blue{
    background: #0f2a47;
}

.report-cnt-head.bg-dark-blue h4 {
    color: #fff;
}


.select-custom select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid #ccc !important;
    background: #fff;
    background-image: none;
}
/* Custom Select */
.select-custom {

    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 2;
    background: #fff;
    overflow: hidden;
    border-radius: .25em;

}
.select-custom select {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #666;
    cursor: pointer;
    font-size: 11px;

}
.select-custom select::-ms-expand {
    display: none;
}
/* Arrow */
.select-custom::after {

    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 3px 3px 0 3px;
    background: #c6c6c6;
    pointer-events: none;
    font-size: 11px;

}
/* Transition */
.select-custom:hover::after {
    color: #f39c12;
}
.select-custom::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
.btn-last a {
    width: auto !important;
}

.chk-holder {

    width: 65%;
    overflow: hidden;


}
.header-btn-list li.btn-dark a {
    background: #0f2a47;
}
.txt-red {
    color: #ff3636;
}
.row.inline-input input {
    width: 84%;
}
.row.inline-input span {
    padding: 5px 0 0 5px;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
}
.dwnlod-file-list li a:hover {
    color: #f36f21;
    font-size: 13px;
}

.opt3Search-Content .search-adv {
    padding: 0;
}
.opt3Search-Content {
    background: #ffffff;
}
.headerWrapper.headerWrapper1.headerOpt3 {
    padding: 90px 0 40px 0;
}

.btn.popupBtn {
    background: #dbdbdb;
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
    color: #0f2a47;
    margin-bottom: 10px;
}
.btn.popupBtn:hover {
    background: #f36f21;
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
    color: #fff;
}
.tbl-btn-active {

    background: #f36f21;
    color: #fff;
    font-size: 12px;
    border-radius: 50px;
    padding: 0px 6px 0px 6px;
    display: inline-block;
    margin: 4px 5px 0 0;
}
.tbl-btn-active:hover {
    background: #0f2a47;
    color: #fff;
}
.tbl-btn-dlt {
    font-size: 12px;
    color: #959595;
}
.tbl-btn-dlt:hover {
    color: #f36f21;
}
.dropzone{
    padding: 0;
    min-height: 0;
}

.remove-file, .other-rmv {
    /*background: #ff6060;
    border-radius: 50px;
    padding: 2px 0px 2px 0px;
    color: #fff;
    width: 65px;
    display: inline-block;
    text-align: center;
    font-size: 11px;
    border: 0;*/
    font-size: 14px;
    padding-left: 11px;
    cursor: pointer;
}

.candidateSubmit
{
    background: #f36f21;
    border-radius: 50px;
    padding: 2px 0px 2px 0px;
    color: #fff;
    width: 65px;
    display: inline-block;
    text-align: center;
    font-size: 11px;
    border-color: #f36f21;
}

.lnkAddCandidate {
    margin: 0 38px 0 0;
}
.memoAlert {
    font-size: 12px;
    width: 92%;
}

.memoAlert.close
{
    position: absolute !important;
    right: 5px !important;
}

/****/

.box-wrap {

    margin: 0 0 20px 0;
    max-height: 460px;
    min-height: 460px;
}
ul.dwnlod-file-list {

    min-height: 100px;
}
.alert-bar {
    margin: 16px 0 5px 0;
    border-radius: 50px;
    min-width: 121px;
    padding: 0px 0 1px 11px;
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    top: -16px;
    right: 15px;

}
.alert-bar .close {
    position: relative;
    top: 1px;
    left: -5px;
    color: inherit;
}
.success-bar{
    background: #e2fddb;
    color: #057925;
}
.error-bar{
    background: #ffecea;
    color: #e00000;;
}
.alert-bar img {
    width: 12px;
    margin: 0 5px 0 0;
}
.text-box-holder {
    position: relative;
}
.dropzone
{
    min-height: 0 !important;
    padding: 0 !important;
}

.search-adv .rq-search-content .btn.btn-md.btnDefault.btnReset {
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 8px 15px 8px 15px;
    border: 0;
    text-shadow: none;
    min-width: 100px;
    margin-top: 0em;
    margin-right: 0px;
    border-radius: 77px;
    height: 35px;
}

.presentStage .select2-selection__rendered {
    font-size: 12px !important;
}
.candidateList
{
    min-height: 520px;
}

.text-truncate
{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#candidate-form .pull-right
{
    margin-bottom: 10px
}
