

/*login*/

.loginBg {
    background: url("../images/loginbg.jpg");
    background-size: cover;
}

.loginWrap {
    box-shadow: none;
}

.loginError {
    border-radius: 50px;
}

.loginWrap .bgGrey {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.loginContent img {
    max-width: 150px;
}

.unBorderInput .form-control {
    background: rgba(255, 255, 255, 0.1) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0) !important;
    width: 87%;
    border: 0;
    color: #ffffff;
    border-radius: 0 23px 23px 0;
}

.loginContent .input-group-addon {
    float: left;
    height: 45px;
    display: inline-block !important;
    width: 12%;
    background: rgba(255, 255, 255, 0.1) !important;
    border-radius: 23px 0 0 23px;
    border: 0;
    padding: 14px 0 0 10px;
    color: #ffffff;
}

.form-group-no-border {
    background: rgba(255, 255, 255, 0);
    border-radius: 90px;
}

.loginContent .btn {
    width: 100%;
    border-radius: 100px;
    height: 45px;
    padding: 10px 0 0 0;
    margin: 0 0 10px 0;
}

.loginContent p {
    margin: 0 0 10px;
    color: #ffffff;
}

.loginBg .footerSocial li {
    display: inline;
    text-align: center;
}

.loginBg .footerSocial {
    padding: 10px 0 10px 0;
    display: inline-block;
    float: right;
}

.footerRow li a:hover {
    color: #f36f21;
}


/*******************/

.processrow li {
    display: inline-block;
    text-align: center;
}

.processrow li a {
    color: #ffffff;
}

.formBox .radio-inline {
    color: #d0d0d0;
}

.headerWrapper {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/headerbg.jpg");
    background-origin: padding-box;
    background-repeat: repeat;
    background-size: cover;
    color: #fff;
    padding: 150px 0 76px;
}

.jobs_filters img {
    display: inline-block;
    float: left;
    margin: 10px 10px 0 0;
    width: 36px;
}

.occupationbox {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/occupation.jpg");
    background-origin: padding-box;
    background-repeat: repeat;
    background-size: cover;
}

html {
    height: 100%;
    width: 100%;
}

.premium-class {
    background: #f36f21;
    color: #ffffff;
    font-size: 12px;
    border-radius: 0px 10px 10px 0;
    padding: 2px 10px 3px 10px;
}


/**/

.pb-0 {
    padding-bottom: 0 !important;
}

.pt-1 {
    padding-top: 1em !important;
}

.mt-3 {
    margin-top: 3em !important;
}

.search-adv .form-group input {
    padding: 13px 10px 13px 10px;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    height: 35px;
    width: calc(100% - 100px);
    background: #666878;
    color: #fff;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.inline-input li {
    position: relative;
    width: 47%;
    float: left;
    margin: 0 2% 0 0;
}

.inline-input ul {
    overflow: hidden;
}

.search-adv {
    width:100%;
    position: relative;
    background: rgba(0, 0, 25, 0.6);
    border-radius: 2px;
    padding: 20px 15px 15px 15px;
    display: inline-block;
}

.lable-content {
    padding: 0 0 0 10px;
    overflow: hidden;
    display: inline-block;
}

.lable-content p {
    margin: 0;
}

.lable-holder {
    background: #f8f8f8;
    width: 115px;
    padding: 2px 0 2px 10px;
    font-size: 12px;
    font-weight: 600;
    float: left;
}

.search-adv .card-body {
    overflow: hidden;
}

.advSearchBtn span {
    background: #f36f21;
    color: #fff;
    padding: 7px 9px 5px 9px;
    border-radius: 3px 3px 3px 3px;
}

.search-adv .rq-search-content {
    display: inline-block;
}

.search-adv .rq-search-content {
    display: inline-block;
    margin-top: 15px;
}

.search-adv .rq-search-content .btn.btn-md.btnDefault.btnLine {
    padding: 10px 15px 10px 15px;
    background: #415469;
    border: 0;
    text-shadow: none;
    min-width: 100px;
    margin-top: 0em;
    margin-right: 6px;
    border-radius: 0;
}

.search-adv .rq-search-content .btn.btn-md.btnDefault.btnActive {
    padding: 10px 15px 10px 15px;
    background: #f36f21;
    border: 0;
    text-shadow: none;
    min-width: 100px;
    margin-top: 0em;
    margin-right: 6px;
    border-radius: 0;
}

.search-adv .rq-search-content .btn.btn-md.btnDefault.btnLine:hover {
    opacity: 0.9;
}

.search-adv .form-group .checkbox-inline input {
    height: 20px !important;
}

.advSearchBtn,
.advSearchBtn:focus {
    color: #fff;
}

.adv-search {
     display: inline-flex;
    position: absolute;
    top: -30px;
    right: 0px;
}


/* Customize the label (the container) */

.chk-container {
    display: inline-block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 12px;
    float: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 6px;
    text-shadow: 0 !important;
    font-weight: normal;
}

.input-img {
    position: absolute;
    bottom: 26px;
    right: 25px;
}


/* Hide the browser's default checkbox */

.chk-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #c0c0c0;
}


/* On mouse-over, add a grey background color */

.chk-container :hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.chk-container input:checked~.checkmark {
    background-color: #F08141;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.chk-container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.chk-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.inline-input input {
    display: inline-block;
    float: left;
    vertical-align: middle;
}

.form-group .inline-input span {
    display: inline-block;
    font-size: 10px !important;
    color: #ffffff;
    float: left;
    padding: 7px 0 0 7px;
}

.inline-input {
    overflow: hidden;
}

.form-group .dropdown span {
    display: block;
    font-size: 16px;
    color: #ffffff;
}

.search-adv .glyphicon {
    position: absolute;
    top: 12px;
    right: 10px;
}

.search-adv #dropdownMenu1 {
    background: #666878;
    width: 100%;
    text-align: left;
    border: 0;
    border-radius: 0;
    height: 40px;
    color: #9e9e9e;
}

.popupChk {
    padding: 10px 0 0 10px;
}

.popupChk ul li {
    width: 50%;
    float: left;
    display: inline-block;
}

.search-adv .dropdown-menu {
    min-width: 100%;
    padding: 0 0 0 10px;
    font-size: 13px;
    border-radius: 0px;
}

.search-adv .dropdown-menu ul li a {
    color: #808080;
    font-size: 13px;
}

.search-adv .dropdown-menu ul li a:hover {
    color: #515050;
}

.search-btn-wrapper {
    overflow: hidden;
    padding: 0 10px 0 0;
    display: inline-block;
    float: right;
}

.popupmodal .modal-dialog {
    width: 750px;
}

.popupmodal .modal-header {
    margin: 0 0 0px 0;
    background: #e6e8ef;
    padding: 0 10px 0 10px;
}

.popupmodal .modal-body label {
    background: transparent;
    width: auto;
    padding: 0 0 0 30px;
    font-size: 13px;
    font-weight: normal;
}

.menu-nav .active {
    background: #f7f7f7;
}

.menu-nav {
    background: #ededed;
    min-height: 255px;
    margin: 0;
}

.popupmodal .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #ccc;
}

.menu-nav li {
    padding: 7px 0 0 10px;
    border-bottom: 1px solid #e3e3e3;
}

.popupmodal .chk-container .checkmark::after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btnRev {
    background: #415469;
    border: 1px solid #415469;
}

.popupmodal .chk-container {
    margin-bottom: 5px;
}

.popupmodal .modal-content {
    background: transparent;
    border: 0;
    box-shadow: none;
}

.checkbox-wrapper {
    background: #ffffff;
    padding: 0 0px 0 0px;
    min-height: auto;
    border-radius: 2px;
    overflow: hidden;
}

.checkbox-wrapper .close {
    float: right;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0px 0 transparent;
    opacity: 1;
}

.popupmodal .modal-header .close {
    margin: 10px 0px 10px 10px;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: 0.7;
}

.popupmodal .checkbox-wrapper h3 {
    display: inline-block;
    float: left;
    margin: 10px 0 0 0;
    font-size: 20px;
}

.popupmodal label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}

.alert.alert-custom {
    background: #ffffff;
    padding: 10px 10px 10px 10px;
    position: relative;
    display: inline-block;
    width: 100%;
}

.box-wrap {
    background: #ffffff;
    border-radius: 3px;
    padding: 0 0 0 10px;
}

.check-box-holder {
    display: inline-block;
    float: left;
    margin-bottom: 90px;
    margin-top: 10px;
}

.ul-desc-box {
    overflow: hidden;
    padding: 10px 0 0 0;
}

.text-custom {
    color: #f36f21;
}

.header-right li span {
    background: whitesmoke;
    border-radius: 60px;
    padding: 3px 10px 5px 10px;
    font-size: 12px;
}

.box-wrap h4 {}

.header-right ul {
    display: inline-block;
    padding: 10px 10px 0 0;
}

.header-right li {
    padding: 0 0 0 0px;
    display: inline-block;
}

.header-right li span {
    background: whitesmoke;
    border-radius: 60px;
    padding: 3px 10px 5px 10px;
    font-size: 12px;
}

.header-right li span.active {
    background: #8dc63f;
    color: #ffffff;
}

.box-left {
    overflow: hidden;
    padding-bottom: 10px;
}

.job-ico-list li a {
    background: #f8f8f8;
    border-radius: 50px;
    height: 35px;
    display: inline-block;
    width: 35px;
    text-align: center;
    padding: 5px 0 0 0;
}

.job-ico-list li a:hover {
    background: #f36f21;
    color: #ffffff;
}

.job-ico-list li {
    display: inline;
}

.job-ico-list {
    display: inline-block;
    float: right;
    padding: 20px 20px 0 0;
}

.box-left h4 {
    margin: 15px 0 0 0;
}

.ul-desc-box li span {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    float: left;
    min-width: 120px;
    background: #f8f8f8;
    padding: 5px 0 5px 10px;
}

.ul-desc-box li {
    display: inline-block;
    float: left;
    padding: 0 60px 0 0;
    width: 50%;
    margin-bottom: 2px;
}

.header-right .fas.fa-circle {
    font-size: 8px;
}

.search-filter .checkmark,
.box-wrap .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #dedede;
}

.box-wrap .chk-container .checkmark::after {
    left: 8px;
    top: 4px;
}

.box-wrap {
    background: #ffffff;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 0 0 0 10px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.box-wrap:hover {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.18);
}

.search-filter-ul li {
    display: inline-block;
    float: left;
    padding: 0 16px 0 0;
}

.search-filter-ul .pt-1 {
    padding-top: 5px !important;
}

.h1,
h1 {
    font-weight: normal;
}

.search-filter-ul li .btn.dropdown-toggle {
    border-radius: 0 !important;
    border: 0;
    background: #f9f9f9;
    min-width: 170px;
    color: #7e7e7e;
    border: 1px solid #f0f0f0;
}

.search-filter-ul li .glyphicon.glyphicon-menu-down {
    position: absolute;
    right: 6px;
    top: 8px;
}

.search-filter {
    float: right;
    display: inline-block;
}

.alert.alert-custom h5 {
    display: inline-block;
    float: left;
}

.alert.alert-custom .form-group {
    margin-bottom: 0px;
}

.alert.alert-custom .dropdown-menu {
    border-radius: 2px;
    padding: 7px 0 7px 10px;
    font-size: 12px;
    border: 0;
}

.alert.alert-custom .dropdown li a {
    color: #757575;
}

.sectionHeader .pagination {
    float: right;
    overflow: hidden;
    display: inline-block;
}

.sectionHeader h4 {
    float: left;
    margin: 0px 0 0 0;
}
.sectionHeader  .pagination {

    margin: 0 0 15px 0;

}
.sectionHeader .pagination>li>a,
.sectionHeader .pagination>li>span {
    padding: 2px 6px;
    color: #757575;
    background-color: transparent;
    border: navajowhite;
    font-weight: bold;
    margin: 0 5px 0 0;
    border-radius: 3px;
}

.sectionHeader .pagination>li.active a {
    background: #f36f21 !important;
    color: #ffffff !important;
}

.headerWrapper2 {
    background-image: url("../images/headerbg1.jpg") !important;
}

.card-body label {
    font-weight: normal;
    float: left;
    width: 100px;
}

.ul-desc-box li p {
    overflow: hidden;
    padding: 5px 0 0 9px;
    margin: 0;
}

.sub-menubox ul {
    margin: 0 !important;
    padding: 15px 0 0 0;
}

.sucess i {
    color: #558b2f !important;
    font-size: 10px;
}

.form-group .dropdown {
    width: calc(100% - 100px);
    display: inline-block;
}

.lable-content {
    padding: 4px 0 0 10px;
    overflow: hidden;
    display: block;
    background: #f8f8f8;
    margin-right: 15px;
    min-height: 30px;
    margin-bottom: 2px;
}

.lable-holder {
    background: #f0f0f0;
    width: 115px;
    padding: 2px 0 2px 10px;
    font-size: 12px;
    font-weight: 600;
    float: left;
    margin-bottom: 1px;
    min-height: 30px;
}

.sel-jd-tab
{
    padding-left: 20px !important;
    padding-right: 0px !important;
}
.sel-jd-right-wrapper
{
    background: #f3f3f3 !important;
    color: #686666 !important;
}

.sel-jd-right-wrapper li > strong {
    padding-right: 18px !important;
    min-width: 97px !important;
    display: inline-block !important;
}

.btn-deleted{
    color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}

.agent-info-wrapper
{
    background: #f3f3f3;
    color:#686673;
    padding: 6px 10px;
    border-radius: 2px;
}

.agent-info-wrapper pre{
    color: #686673 ;
}
.ui-wrapper {
    padding-right: 0 !important;
}
/*.agent-info-wrapper .ui-wrapper
{
    width: 713px !important;
}*/
/** style codes for new and update badge **/
.badge {
   display: inline-block;
   min-width: 10px;
   padding: 3px 7px;
   font-size: 9px;
   font-weight: bold;
   color: #fff;
   line-height: 1;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   background-color: transparent;
   border-radius: 4px;
}

span.badge.badge-new {
   background: #5cb85c;
}
span.badge.badge-update {
   background: #f9c04e;
}

.input-inline-select-box .select2-container .select2-selection--single .select2-selection__clear {
    color: #ff4747;
    padding: 1px 0px 0 5px;
    font-size: 12px !important;
}

.input-inline-select-box span.selection{
    width: 100%; padding: 0;
}
.input-inline-select-box span.select2-selection.select2-selection--single{
    width: 100%;
    background: #666878;
    box-shadow: none !important;
    border: 0;      padding: 8px 0 0 0px;
}
.input-inline-select-box span.select2-selection__rendered{
    font-size: 14px !important;
}
.input-inline-select-box .select2.select2-container.select2-container--bootstrap {

    padding: 0;
}
.input-inline-select-box .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
    top: 45%;     border-color: #fff transparent transparent transparent;
}
.input-inline-select-box .select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: #ffffff;
    padding: 0;
}
.input-inline-select-box {
    overflow: hidden;
    display: inline-block;
    min-width: 100px;
    float: left;
}
.input-inline-divider {
    padding: 0 10px 0 3px;
    overflow: hidden;
    float: left;
    display: inline-block;
}

.input-inline-select-box  .select2-container--bootstrap .select2-selection--single .select2-selection__placeholder {
    color: #c5c5c5;
    padding: 2px 0 0 10px;
    font-size: 12px !important;
}



