.search-adv .selectpicker.form-control {

    width: calc(100% - 100px);
    display: block;
    background: #666878;
    border: 0;
    border-radius: 0;
    padding: 7px 10px 0px 10px;
    color: #ffffff;

}

.search-adv .selectpicker.form-control option {

    background: #ffffff;
    color: #000000;

}

.status_making {
    color: #337ab7 !important;
    font-size: 10px;
}

.status_close {
    color: #777 !important;
    font-size: 10px;
}

.jobinsInfoBar {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.jobinsInfoBPreview {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 4px;

}

.topBtnGroup {
    float: right;
}

.blank-consultant {
    background: #fff !important;
}

.pagination > li.active span {
    background: #f36f21 !important;
    color: #ffffff !important;
}

.job-chars {
    background: #e1e1e1 none repeat scroll 0 0;
    border-radius: 46px;
    padding: 5px 10px;
    display: inline-block !important;
    margin-right: 5px;
    margin-bottom: 6px;
    font-size: 14px !important;
    color: #666 !important;
}

.jd-heading {
    font-weight: bold;
}

.chk-container-new {
    background: transparent;
    width: auto;
    padding: 0 0 0 30px;
    font-size: 13px;
    font-weight: normal;
    position: relative;

}

.chk-container-new input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.chk-container-new input:checked ~ .checkmark {
    background-color: #F08141;
}

.chk-container-new input:checked ~ .checkmark:after {
    display: block;
}

.popupmodal .chk-container-new .checkmark::after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.chk-container-new .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.chk-pad-new {
    padding: 0 !important;
}

.search_date {
    width: 45% !important;
}

#jobTypeModal .modal-dialog {
    width: 1000px;
}

.custom-bottom-search {
    float: right;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0px 0 transparent;
    opacity: 1;
    margin: 10px 0px 10px 10px;
}

.hiddenCls {
    visibility: hidden;
}

.popupChk {
    padding: 0;
}

.popupChk ul {
    padding: 10px 0 0 10px;
    display: table
}

.premiumSection {
    min-height: 520px;
}

.modelTop {
    top: -105px;
}

.error-full-width label {
    width: 100%;
    font-size: 10px;
}

.lblOpen {
    background: #f36f21 none repeat scroll 0 0;
    border-radius: 46px;
    padding: 5px 10px;
    display: inline-block !important;
    margin-right: 5px;
    margin-bottom: 6px;
    font-size: 14px !important;
    color: #fff !important;
}

.lblMaking {
    background: #337ab7 none repeat scroll 0 0;
    border-radius: 46px;
    padding: 5px 10px;
    display: inline-block !important;
    margin-right: 5px;
    margin-bottom: 6px;
    font-size: 14px !important;
    color: #fff !important;
}

.lblClose {
    background: #ff4e4e none repeat scroll 0 0;
    border-radius: 46px;
    padding: 5px 10px;
    display: inline-block !important;
    margin-right: 5px;
    margin-bottom: 6px;
    font-size: 14px !important;
    color: #fff !important;
}

.label-alliance {
    background: #007bff !important;
    border-radius: 46px;
    padding: 5px 10px;
    display: inline-block !important;
    margin-right: 5px;
    margin-bottom: 6px;
    font-size: 14px !important;
    color: #fff !important;
}

span.ownJDLabel {
    background: rgba(35, 146, 236, 0.88) !important;
    color: #fff !important;
}

.sidebarDescWrapperPreview.normalJDSidebar {
    background: #8c8c8c !important;
    color: #ffffff !important;

}

.sidebarDescWrapperPreview.normalJDSidebar hr {
    border: none !important;
}

.sidebarDescWrapperPreview.normalJDSidebar h3 {
    border: none !important;
}

span.hr-ipo-text {
    font-size: 13px;
    display: inline-block;
    margin: 22px 0 25px 0;
    color: #ff863f;
}

#job-form .select2-selection__clear {
    color: #ff863f !important;
}

/* elastic css **/

.chk-container input:checked ~ .ownCheckmark {
    background: rgba(35, 146, 236, 0.88) !important;
}

.select_experience {
    width: 100% !important;
}

.pageLink {
    cursor: pointer;
}

/*@media screen and (max-width: 1040px){*/
/*.navbar-default .navbar-nav > li > a{*/
/*font-size: 11px;*/
/*}*/
/*}*/
@media screen and (min-width: 1316px) {
    .navbar-default .navbar-nav > li.show-on-lg {
        display: block;
    }

    .navbar-default .navbar-nav > li.show-on-md {
        display: none;
    }
}

@media screen and (max-width: 1316px) {
    .navbar-default .navbar-nav > li.show-on-lg {
        display: none;
    }

    .navbar-default .navbar-nav > li.show-on-md {
        display: block;
    }

    .navbar-nav {
        font-size: 12px;
    }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #000000;
}

.organization-info {
    text-transform: uppercase;
}

.candidatePrefecture ul li {
    width: 25% !important;
    float: left;
    display: inline-block;
    padding-left: 26px;
}

.candidateChkLabel {
    font-size: 11px;
    font-weight: 600;
}

#candidate-form select {
    background: none !important;
}

.prefix-position-to-input em {
    display: table;
    text-align: left;
}

.prefix-position-to-input span.prefix {
    position: absolute;
    top: 0px;
    right: 20px;
}

.validation-msg-below em {
    position: absolute;
    bottom: -24px;
    left: 0;
}

.custom-selection-form {
    padding-bottom: 16px;
}

.clearfix {
    clear: both;
}

.keepPin {
    cursor: pointer;
}

.keep {
    background: #f36f21 !important;
    border: 1px solid #f36f21 !important;
    color: #fff !important;
}

.pin {
    background: none !important;
    color: #f36f21 !important;
}

.defaultPin {
    background: none !important;
    color: #000000 !important;
}

/* The container */
.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 5px;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radio-container .checkmark {
    position: absolute;

    left: 0;

    top: 5px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
    background-color: #F08141;
    border-color: transparent;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
    border-radius: 50%;
    background: white;
    width: 6px;
    height: 6px;
    top: 4px;
    left: 4px;
}

.candidateSearch {
    background: none !important;
}

.candidateSearch .popupmodal label {
    float: none !important;
}

.candidateSearch .help {
    color: #f32121 !important;
}

.candidate-salary #salary-error {
    display: table;
    clear: both;
    width: 100%;
}

.popupmodal .checkbox-wrapper h3 {
    color: #666 !important;
    padding-left: 12px;
}

.btnRev {
    background: #415469;
    border: 1px solid #415469;
    margin-left: 13px !important;
}

.candidatePagination {
    float: right;
}

.search-filter .pagination {
    margin: 0 !important;
}

.candidateSearch .requiredError {
    padding: 7px 0 0 72px;
    font-size: 12px;
}

textarea.form-control.memo-field {
    width: 97% !important;
    min-height: 0 !important;
}

h5.blnkCandidateNo {
    padding-top: 13px;
}

.standardAccAlert p {
    text-align: left;
}

/*bibek css added*/

.selectWrapper.select-wrap-content {
    overflow: unset;
}

.select-wrap-content label#id-error {
    position: absolute !important;
    z-index: 1;
    top: 32px;
    color: #f08141 !important;
}

button.btn-danger.remove-file {
    background: #ff6060;
    border-radius: 50px;
    padding: 2px 0px 2px 0px;
    color: #fff;
    width: 65px;
    display: inline-block;
    text-align: center;
    font-size: 11px;
    border: 0;
}

button.tbl-btn-active.selectionAdd {
    background: #f36f21;
    border-radius: 50px;
    padding: 2px 0px 2px 0px;
    color: #fff;
    width: 65px;
    display: inline-block;
    text-align: center;
    font-size: 11px;
    border: 0;
}

a.downloadFile {
    background: #e4e4e4;;
    border-radius: 50px;
    padding: 3px 15px 3px 15px;
    display: inline-block;
    color: #666;
    margin: 0 0 10px 15px;
}

.other-rmv {
    margin: 0 0 5px 17px;
}

h5.planTitle {
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0 0 0;
}

img.standard-planImg {
    width: 80%;
    overflow: hidden;
}

p.pTitle {
    padding: 17px 0 10px 0;

}

.plusLink {
    cursor: pointer;
}

.memoMsg {
    display: none;
}

.label-haken {
    background: #F6D048 !important;
    border-radius: 46px;
    padding: 5px 10px;
    display: inline-block !important;
    margin-right: 5px;
    margin-bottom: 6px;
    font-size: 14px !important;
    color: #000000 !important;
    font-weight: 600;
}

.katakana-error {
    color: #f32121;;
    font-size: 12px;
    font-style: normal;
    text-align: center;
    width: 100%;
    text-align: center;
    display: inline;

}

.candidate-form .dropzone .dz-message span {
    font-size: 14px !important;
}

.candidate-form .dropzone .dz-preview .dz-error-message {
    left: 140px;
    top: 90px;
    font-size: 10px;
    width: 295px;
}

.other-doc-error {
    left: 140px !important;
    top: 20px !important;
    font-size: 10px;
    width: 130px !important;
}

#job-form .error {
    font-size: 12px !important;
    display: inline !important;
}

.challenge-holder {
    position: relative;
}


.challenge-wrap-box {
    position: absolute;
    top: -3px;
    overflow: hidden;
    height: 85px;
    width: 85px;
    text-align: center;
    z-index: 0;
}

.challenge-wrap-box {
    left: -1px;
    top: -1px;
}

.challenge-wrap-label {
    padding: 6px 0 3px;
    width: 104px;
    left: -28px;
    top: 11px;
    color: #33250c !important;
    background: #f5c303;
    text-transform: uppercase;
    text-align: center;
    display: block !important;
    position: absolute;
    font: 400 9px/12px Arial, Helvetica, sans-serif !important;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.challenge-wrap-label:before {
    position: absolute;
    bottom: -3px;
    right: 5px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 4px 0px 4px;
    border-color: transparent transparent transparent transparent;
    content: ".";
    text-indent: -5000px;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);

}

.prelative {
    position: relative;
}

.challenge-wrap-label:after {
    position: absolute;
    bottom: -3px;
    left: 3px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 4px 0px 4px;
    border-color: transparent transparent transparent transparent;
    content: ".";
    text-indent: -5000px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.challenge-wrap-box-home-row-first {
    left: -2px;
    top: -1px;
}

.challenge-wrap-box-row-sec {
    left: -2px;
    top: 0;
}

.challenge-wrap-box-row-third {
    left: -1px;
    top: -1px;
}

.form-group.user.prelative {
    overflow: visible;
}

.challenge-wrap-box-row-detail {
    left: -10px;
    top: -8px;
}


.new {
    background: red none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    font-size: 8px;
    font-weight: bold;
    left: 60%;
    padding: 0 3px;
    position: absolute;
    bottom: 3px;
    width: 30px;
}

ul.reject-reasons li {
    display: inline-block;
}

.full-width-lb {
    width: 100% !important;
}


/** Css added BSelection Management **/


.form-group.selection-mgmt-ul-list ul li {
    display: inline-block;
    width: 50%;
    float: left;
}

.form-group.selection-mgmt-ul-list {
    background: #f9f9f9;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
    border: 1px solid #f3f3f3;
}

.form-group.selection-mgmt-textbox-info label {
    font-size: 11px;
    font-weight: 400;
    background: #f5fafe;
    padding: 5px 6px 5px 10px;
    border: 1px solid #dfebf5;
    color: #4d85b1;
}


.interview-pass-reason-box {
    background: #f9f9f9 !important;
    border: 1px solid #f3f3f3 !important;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
}

.interview-pass-reason-box ul li {
    display: inline-block;
    width: 50%;
    float: left;
}

.interview-pass-reason-msg label {
    font-size: 12px;
    font-weight: 400;
    background: #f5fafe;
    padding: 5px 6px 5px 10px;
    border: 1px solid #dfebf5;
    color: #4d85b1;
}

.formWrap h3 {

    font-size: 20px;
}

.inlineCheckbox.tentetaive-date-req label.radio-inline {
    margin: 0 !important;
}

.inlineCheckbox.tentetaive-date-req {
    padding: 0 !important;
}

.tentative-text-area {
    min-height: 106px !important;
}

.tentetaive-work-location {
    margin-top: 15px;
}

/** css for job detail **/
.jobHeaderContent {
    margin: 30px 0px 30px 0px !important;
    background: #ffffff;
    border-radius: 5px;
    padding: 1px 15px 25px 15px !important;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.jobHeaderContent h2 {
    font-size: 24px;
    margin: 20px 0 5px 0;
}

ul.job-list-inline li {
    display: inline-block;
    padding: 0 5px 0 0;
}

.jobBrief span {
    background: #e1e1e1 none repeat scroll 0 0;
    background-color: rgb(225, 225, 225);
    border-radius: 46px;
    display: inline-block;
    padding: 0px 20px;
}

.jobBrief span {
    background: #e1e1e1 none repeat scroll 0 0;
    border-radius: 46px;
    display: inline-block;
    padding: 0px 20px;
}

.job-character {
    margin: 5px 0 0 0;
}

.job-detail-hearder-wrap.info-header-bar {
    background: #d4eaf3;
    border-color: #b8daea;
}

.job-detail-hearder-wrap {
    padding: 10px 15px 12px 18px;
    background: #f5f5f5;
    margin-top: 10px;
    border: 1px solid #dddddd;

    border-radius: 5px 5px 0 0;
}

.job-detail-hearder-wrap h3 {
    font-size: 14px;
    color: #313131;
    display: inline-block;
    margin: 5px 0 0 0;
}

.job-detail-info {
    border: 1px solid #b8daea !important;
    border-top-color: rgb(184, 218, 234);
    border-top-style: solid;
    border-top-width: 1px;
    border-top: 0 !important;
}

.job-detail-cart {
    background: #ffffff;
    padding: 25px 25px 5px 25px;
    border: 1px solid #ddd;
    border-top: 0;
}

.job-detail-hearder-wrap img {
    width: 20px;
    margin: -3px 5px 0 0;
}

.job-Age-display {
    background: #f0f5f7;
    margin: 0 0 25px 0;
}

.job-Age-display .selectionage {
    padding: 10px 0 0 10px;
    border: 1px solid #f4f9fb;
}

.job-Age-display .row {
    margin: 0;
}

.job-Age-display .jobDesCart label {
    min-height: 30px;
    width: 100px;
}

.job-Age-display .jobDesCart .content-holder {
    min-height: 30px;
    width: calc(100% - 100px);
}

ul.job-list-inline li {
    display: inline-block;
    padding: 0 5px 0 0;
}

.sidebarActionWrapper.sidelist ul li:last-child a {
    border-bottom: none !important;
}

.jobDescContent.jobDesCart label .sm-txt {
    border: none;
    color: #616161;
    font-weight: 400;
    font-size: 11px;
    background: transparent;
    width: auto;
    display: inline;
    float: none;
    margin: 0;
    padding: 0;
    text-align: left !important;
    border-radius: 0;
    height: auto;
}

.jobHeaderContent {
    margin: 30px 0px 30px 0px !important;
    background: #ffffff;
    border-radius: 5px;
    padding: 1px 15px 25px 15px !important;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

ul.list-inline.stage-list li {
    margin-left: 0px !important;
    padding-right: 15px;
}

.checkbox-holder {
    background: #f0f5f7;
    padding: 15px 0 5px 15px;
    border-radius: 5px;
    margin-bottom: 1em;
}


.plainHeaderContainer {
    overflow: hidden;
    margin: 0 0 -20px 0;
}

.jobDesCart label {
    display: inline-block;
    float: left;
    width: 200px;
    padding: 0 25px 0 0;
    text-align: left;
    overflow: hidden;
    min-height: 40px;
    font-weight: 600;
}

.jobDesCart .content-holder {
    display: inline-block;
    min-height: 40px;

    width: calc(100% - 200px);

    overflow: hidden;
}

.job-detail-cart {

    background: #ffffff;
    padding: 25px 25px 5px 25px;
    border: 1px solid #ddd;
    border-top: 0;
}

.job-detail-info {
    border: 1px solid #b8daea !important;
    border-top: 0 !important;
    background: #f4f9fb;
}

.sidebar-card {
    border: 1px solid #dddddd;
    background: #ffffff;
    padding: 0px 0px 0px 0px;
    margin: 0px 0 16px 0;
}

.sidebar-card ul li a {
    padding: 15px 0 15px 3px;
    color: #666666;
    display: block;
    cursor: pointer;
}

.sidebar-card ul li a span.ico-holder-spn {
    margin: 0 10px 20px 16px;
    display: inline-block;
    float: left;
}

.sidebar-card ul li span.ico-holder-spn .fa {
    color: #545454;
}

.sidebar-card li {

    border-bottom: 1px solid #dddddd;
    cursor: pointer;
    border-left: 2px solid #dddddd !important;
}

.sidebar-card li:hover {

    border-left: 2px solid #f36f1f !important;
    cursor: pointer;
}

.sidebar-card li:hover a, .sidebar-card li:hover a span .fa {

    color: #f36f1f !important;
    cursor: pointer;
}

.sidebar-card li:last-child {
    border-bottom: none !important;
}

.sidebar-card ul {
    margin: 0;
}

.jobBrief .lblMaking {
    background: #337ab7 none repeat scroll 0 0;
}

.jobBrief .lblClose {
    background: #ff4e4e none repeat scroll 0 0;
}

.job-detail-container {
    width: 1350px !important;
}

.job_img_holder_agent {
    margin: 30px 0 20px;
}


/**css added 5-27**/
small.txt-small {
    font-size: 12px !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.cb-job {
    min-width: 30% !important;
}

.pl-10 {
    padding-left: 10px;
}


.job-Age-display .selectionage .content-holder p {
    margin: 0 0 0 5px !important;
}

.job-Age-display .selectionage {
    padding: 15px 0 0 10px !important;
    background: #e2eff5;

}

.jobDesCart .content-holder {
    display: inline-block;
    min-height: 40px;
    width: calc(100% - 210px);
    overflow: hidden;
}

.jobDescContent.jobDesCart {

    overflow: hidden;
    display: block;
    width: 100%;
}

.jobDescContent ul li {
    overflow: hidden;
}

.jobDescContent li > strong {
    display: inline-block;
    width: 200px;
    margin-bottom: 16px;
    float: left;
    overflow: hidden;
}

.job-detail-cart.mb-1 {
    margin-bottom: 2em;
}

.selectionContainer {
    width: 1350px !important;
}


.text-area-wrap {
    position: relative;
    z-index: 0;
}

.text-area-placeholder {
    position: absolute;
    z-index: -1;
    top: -2px;
    left: 0px;
    border: 1px solid #cccccc;
    width: 98%;
    height: 102%;
    background-color: #fff;
    border-radius: 3px;
    padding: 15px 0 0 15px;
    color: #a5a5a5;

}

.jobCreateContentHolder.uiwrap .ui-wrapper {
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: 765px !important;
}

.jobCreateContentHolder.uiwrap .ui-wrapper textarea {
    border: 0;
}

.jobCreateContentHolder .ui-wrapper textarea.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
}

.noborder {
    border: none !important;
}

.txt-area-br {
    padding: 15px 15px 0 15px;
    background: transparent;
}

.data-edits {
    background: #ffffff !important;
}

.selection-title-wrap {
    width: 200px;
    display: inline-block;
    float: left;
}

.selection-wrap-content {

    overflow: hidden;
    width: calc(100% - 210px);
}

.job-detail-container hr {
    margin-top: 10px;
    margin-bottom: 25px;

    border-top: 1px solid #cacaca;
}

.selection-jd-wrapper hr {
    margin-top: 10px;
    margin-bottom: 25px;

    border-top: 1px solid #cacaca;
}

.job-prev-container hr {
    margin-top: 10px;
    margin-bottom: 15px;

    border-top: 1px solid #cacaca;
    overflow: hidden;
    display: block;
    width: 100%;
}

.jobDescContent hr {
    margin-top: 10px;
    margin-bottom: 25px;

    border-top: 1px solid #cacaca;
}


.panel.panel-default.img-upload-wrapper {
    margin-bottom: 0;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
}

.panel.panel-default.img-upload-second-panel {
    border-top: 0;
    border-radius: 0 0 4px 4px;
}

.panel.panel-default.img-upload-second-panel .panel-body {
    margin-top: 0;
    padding-top: 0;
}

.panel-heading.job-create-panel-header img {
    max-width: 16px;
    margin: -1px 5px 0 0;
    float: left;
}

.panel-heading.job-create-panel-header h3 {
    font-size: 14px;
    margin: 0;
    display: inline-block;
}

.panel-heading.job-create-panel-header {
    overflow: hidden;
}


.panel.panel-default.info-panel {
    border-color: #b8daea;
    background: #f4f9fb;
}

.panel.panel-default.info-panel .job-create-panel-header {
    background: #d4eaf3;
    border-color: #b8daea;
}

.mb-2 {
    margin-bottom: 2em;
}

.selection span {
    font-size: 14px !important;
}

span.info-alert-txt {


    padding: 5px 10px 5px 10px;
    overflow: hidden;
    display: inline-block;
    border-radius: 4px;


    font-size: 11px;
    font-weight: 400;
    background: #f5fafe;

    border: 1px solid #dfebf5;
    color: #4d85b1;

}

.job-age-selection-wrap .jobCreateDesContent label.title-lbl {
    width: 90px;
    float: left;
    display: inline-block;
    overflow: hidden;
    text-align: right;
    margin: 5px 9px 0 0;
    font-weight: 600;
}

.job-age-selection-wrap .jobCreateDesContent .jobCreateContentHolder {

    width: calc(100% - 100px);
    display: inline-block;
    overflow: hidden;
}

.job-age-selection-wrap .jobCreateDesContent .jobCreateContentHolder .jobCreateAgeDiv {
    width: 50%;
    float: left;
    display: inline-block;
    padding: 0 0px 0 0;
}

.job-age-selection-wrap .jobCreateDesContent .jobCreateContentHolder .jobCreateAgeDiv .jobAgeInputWrap {
    display: inline-block;
    float: left;
    max-width: 154px;
    margin: 0 5px 0 0;
}

span.ageLabel {
    padding: 7px 0 0 0;
    display: inline-block;
    font-size: 12px;
}


#job-form .jobAgeInputWrap .error {
    font-size: 11px !important;
    display: inline !important;
    font-weight: 500;
}

em#age_min-error, em#age_max-error {
    display: block !important;
    width: 100% !important;
    overflow: hidden;
    text-align: left;
    float: right;
}

.jobCreateContentHolder .exp-companies {
    width: 125px;
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
}

.h-70 {
    min-height: 70px;
}

.jobCreateContentHolder .checkbox-inline {

    margin-left: 0px;
}

.job-create-age-wrap {
    padding: 0 15px 15px 15px;
}

.job-create-age-wrap .job-age-selection-wrap {
    background: #e2eff5;
    min-height: 85px;
    border: 1px solid #f4f9fb;
    padding: 15px 0 0 0;
}
.col-xs-6.job-age-selection-wrap.age-wrap {
    border-bottom: none;
}
.job-create-age-wrap .job-age-selection-wrap.gender {
    padding-top: 30px !important;
    border-bottom: none;
}

.job-create-age-wrap .job-age-selection-wrap.expCompany {
    padding-top: 25px;
}


.job-content-selection-wrap .jobCreateDesContent label.title-lbl {
    width: 200px;
    float: left;
    display: inline-block;
    overflow: hidden;
    text-align: right;
    margin: 5px 14px 0 0;
    font-weight: 600;
}

.job-content-selection-wrap .jobCreateDesContent label.title-lbl span.charLength {

    display: block;
    font-weight: 500;
    font-size: 10px;
    color: #f36f1f;
    line-height: 1;

}

.job-content-selection-wrap .jobCreateDesContent .jobCreateContentHolder {

    width: calc(100% - 230px);
    display: inline-block;
    overflow: hidden;
}

.job-content-selection-wrap {
    padding: 10px 0 0 0;

}

.salaryContentWrap label.salaeylabel {
    font-weight: 600;
    float: left;
    width: 85px;
    margin-top: 5px;
    overflow: hidden;
}

.salaryInput {
    overflow: hidden;
    display: inline-block;
    width: 225px;
}

label.file-upload-title {
    font-size: 14px;
    font-weight: 600;
}

.radio-inline {

    padding-left: 25px;

}

.jobCreateContentHolder textarea {
    width: 99% !important;
}

.jobCreateContentHolder .ui-icon-gripsmall-diagonal-se {
    background-position: -65px -224px !important;
}

.jobCreateContentHolder .ui-resizable-se {
    right: 3px !important;
}

.companyProfilePanel input.form-control {
    width: 98%;
}

.companyProfilePanel .select2.select2-container.select2-container--bootstrap {
    width: 98% !important;
    overflow: hidden;
}

.adpNoPpl input.form-control {
    width: 98%;
}

.defaultImgJobCreate {
    margin-top: 37px !important;
}

.companyProfilePanel .jobCreateContentHolder .ui-resizable-se {

    bottom: 5px !important;
}

span.reqTxt {
    color: red;
}

.contentSpn {
    color: #676767 !important;
    border: 0 !important;
    padding: 0 !important;
    text-align: left !important;
    width: auto !important;
    height: auto !important;
}

.m-0 {
    margin: 0;
}

.w-100 {
    width: 100%;
}

.jobDesctagPrev label {
    font-weight: 600;
}

.jobHeaderContentprev h2 {
    margin: 15px 0 15px 0;
    font-size: 24px;
}

.pl-15p {
    padding-left: 15px;
}

.pt-0 {
    padding-top: 0;
}

.salaryContentwWrapPrev .salaryInput {
    overflow: hidden;
    display: inline-block;
    width: 130px;
    padding-top: 4px;
}


div#job-img img {
    margin-top: 38px !important;
}

.popup-header {
    overflow: hidden;
    text-align: center;
    display: inline-block;
}

.popup-header .ic-holder {
    display: inline-block;
    margin: 0 10px 0 0;
    float: left;
}

.popup-header .ic-holder .fa {
    font-size: 30px;
    color: #f36f21;
}

.popup-header h3 {
    display: inline-block;
    margin: 6px 0 0 0;
    float: left;
    font-size: 20px;
}

.job-cerate-modal-dialog {
    margin-top: 10% !important;
}

.popup-header-wrap {
    border-bottom: 1px solid #e3e3e3;
    padding: 0 0 5px 0;
    margin: 0 0 15px 0;
}

.job-create-modalpop {
    margin-top: 0;
    padding-top: 0;
}

.agent-fee-alert {
    padding: 5px 0 0 5px;
}

.mt-2 {
    margin-top: 2em;
}

.title-lbl-sm {
    width: 185px !important;

}

.job-prev-container .jobDesCart label {

    min-height: 30px !important;

}

.job-prev-container .jobDesCart .content-holder {

    min-height: 30px !important;

}

.job-prev-container .content-holder p {
    margin: 0px !important;
}

.job-prev-container .jobDesCart {

    padding: 10px 0 0 0 !important;
}

.job-prev-container .agent-info-wrapperPrev .selectionage .jobDesCart {
    padding: 0px 0 0 0 !important;
}


.job-prev-container .content-holder p.prev-txt {
    white-space: pre-line;
    margin-top: -25px !important;
}

.modal-body.text-center.standardAccAlert.job-create-modalpop {
    padding: 0 35px 0px 35px;
}

.jobCreateDesContent .jobCreateContentHolder .exp-companies {
    width: 155px;
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
}

.jobCreateDesContent select.prev_company {
    width: 155px;
    border-radius: 1px !important;
    height: 35px;
    border: 1px solid #cccccc;
}

.selectionContainer h3.userHeader {
    padding: 10px 0px 5px 50px;
    margin: 0 0 10px 0;
    font-size: 16px;
}

.panel-body.job-prev-container {
    padding: 10px 25px 15px 25px;
}

.jobCreateDesContent.jd-prev-blade label.title-lbl-sm {
    text-align: left !important;
    width: 170px !important;
}

.job-Age-display.job-create-prev-blade {
    margin: 15px 0 15px 0;
}

.sideDescWrapper {

    padding: 10px 20px 10px 20px;
}


.sideDescWrapper .descSection hr {
    margin-top: 35px;

}

.previewContent .panel.panel-default.companyProfilePanel {
    margin-bottom: 0;
}

.agent-alert-space {
    padding-left: 29px;
}

.mt-20p {
    margin-top: 20px;
}


.content-holder .jobBrief {
    padding: 0 0 10px 0;
}

.jobCreateDesContent .title-lbl .sm-txt {
    font-size: 10px;
    padding-right: 15px;
}

.jobCreateContentHolder.uiwrap .ui-resizable-se {
    right: 0px !important;
}

.jobCreateContentHolder textarea {
    width: 98% !important;
    margin: 5px !important;
    border: 0 !important;
    box-shadow: none;
}

.text-area-wrap.text-area-placewrapper textarea {
    margin-top: 10px !important;
    margin-left: 2px !important;
    padding: 0px 15px 0 10px !important;
    width: 98% !important;
}

.text-area-wrap.text-area-placewrapper .error {
    position: absolute;
    z-index: 11111;
    bottom: -26px;
    left: -288px;
}


.jobCreateContentHolder.text-area-placecontainer {
    margin: 0 0 0 5px !important;
}

.pt-5px {
    padding-top: 0px !important;
}

.jobCreateContentHolder.text-area-placecontainer .ui-resizable-se {

    bottom: -10px;
}


.jobCreateContentbox {
    width: calc(100% - 230px);
    display: inline-block;
    overflow: hidden;
}


.jobCreateContentbox .jobCreateContentHolder.text-area-placecontainer {
    width: 100% !important;
}


.jobCreateContentbox .jobCreateContentHolder.text-area-placecontainer .ui-resizable-se {
    bottom: 0px !important;
    right: 18px !important;
}


.jobCreateContentbox .ui-wrapper {

    width: 100% !important;
}

#job-form .jobCreateContentbox .error {
    margin: 3px 0 0px 6px !important;
    display: inline-block !important;
    text-align: left;
    margin-top: -11px;
    top: -10px;
    position: relative !important;


}

.jobCreateContentbox .text-area-wrap.text-area-placewrapper textarea {

    width: 96% !important;
}


.qa-company-seperator {
    margin: 10px 0px 0px 0px;
}

span.company-qa img {
    width: 12px;
    display: inline-block;
    float: left;
    margin: 4px 8px 0 0px;
}

span.company-qa {
    color: #333333;
}

.job-company-name {
    padding: 4px 0 2px 0;
}

.normalJDDefault {
    margin: 6px 0 0 8px;
}

.hidden-html {
    display: none;
}

.agent-fee-info label {
    font-weight: 600;
    line-height: 1;
}

.padding-top-15 {
    padding-top: 15px;
}

.selection-pass-rate {
    background: #b8daea;
    line-height: 1;
    padding: 7px 5px 6px 10px;
    position: relative;
    margin: -11px 0 6px 19px;
    display: inline-block;
    color: #313131;
}

.selection-pass-rate .arrow-left {
    width: 0;
    position: absolute;
    height: 0;
    left: -8px;
    top: 3px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #b8daea;
}

.selection-pass-rate p {
    margin: 0;
    line-height: 15px;
    display: inline-block;
}

.jobdetail-notice-popup button i {
    color: #666666;
}

.jobdetail-notice-popup .btn, .jobdetail-notice-popup .btn:hover {
    background: transparent;
    color: #666666;
    border-bottom: 1px solid #666666;
    font-weight: 600;
    padding: 0;
    border-radius: 0;
}

.jobdetail-notice-popup .modal-content {
    border-top: 2px solid #b8daea;
}

.jobdetail-notice-popup .modal-header span {
    background: #ffffff;
    width: auto;
    color: #3a3a3a;
    height: auto;
    display: inline-block;
    text-align: center;
    float: left;
    border-radius: 0;
    padding: 0px 0 0 0;
    border: 0;
    position: absolute;
    margin: 0 5px 0 0;
    top: 15px;
    right: 10px;
}

.jobdetail-notice-popup .modal-dialog {
    margin-top: 15%;
}

.jobdetail-notice-popup .modal-header {
    padding: 15px 0px 15px 20px;

    text-align: center;
    background: #d4eaf3;
    border-color: #b8daea;
}

.jobdetail-notice-popup .modal-header h5 {
    font-size: 16px;
}

.jobdetail-notice-popup .modal-body {
    position: relative;
    padding: 20px 20px 20px 20px;
}

.label-jobins {
    background: rgba(35, 146, 236, 0.88) !important;
}

.label-support-jd {
    background: #75b6ef !important;
    color: #fff !important;
}

.dates {
    margin-top: -4px;
    font-size: 9pt;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.jobHeaderContent label {
    margin-bottom: 0;
}

/***search filter design updated **/

.premium-client-job-search label.col-lable {
    display: block;
    font-weight: 600;
}

.premium-client-job-search .col-group {
    display: inline-block;
}

.premium-client-job-search .col-group .chk-container {

    padding-left: 22px !important;
}

.premium-client-job-search .col-group.col-status {
    padding: 0 10px 0 15px;
}

.premium-client-job-search .col-group.col-recruit {
    padding: 0 10px 0 0px;
}

.sectionHeader .pagination {
    margin: 0 0 15px 0;
    position: absolute;
    right: 0;
    top: -50px;
}

.msg-not-seen {
    color: red;
    font-size: 13px;
    font-weight: 600;
}

.msg-seen {
    color: #1ab394;
    font-size: 13px;
    font-weight: 600;
}

#jobListTable .sorting_1 .fa {
    font-size: 14px !important;
}

.btnClear, btnClear:hover {
    float: right;
    margin: 4px 9px 0 0;
    background: #415469;
    border: 1px solid #415469;
    color: #fff !important;
    padding: 2px 9px 2px 9px;
}

.jobdetail-notice-popup p {
    font-size: 12px;
    font-weight: 600;
}

.jobdetail-notice-popup .btn {
    cursor: none;
}


.job-input-select {
    display: inline-block;
    float: left;
    min-width: 90px;
}

.agent-percent {
    display: inline-block !important;
    float: left !important;
}

.over_visible {
    overflow: visible !important;
}

.over_visible .pull-left {
    float: left !important;
    display: inline-block;
}

.agent-percent-alert {
    background: #d1ecf1;
    color: #495b5f;
    line-height: 1;
    padding: 7px 5px 6px 10px;
    position: relative;
    margin: -11px 0 0 19px;
    display: inline-block;
    font-size: 12px;
}

.agent-percent-alert .arrow-left {
    width: 0;
    position: absolute;
    height: 0;
    left: -8px;
    top: 10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #d1ecf1;
}

.agent-percent-alert .info-ico {
    font-size: 14px;
    float: left;
    display: inline-block;
    margin: 7px 5px 0 3px;
    color: #666666;
}

.agent-percent-alert p {
    margin: 0;
    line-height: 15px;
    display: inline-block;
    color: #666666;
}

.hidden-value {
    display: none;
}

.grecaptcha-badge {
    display: none !important;
}


/****header menu selction icon ****/
.selectionNewWrap {
    display: inline;
    position: relative;
    top: -1px;
}

.selectionNewWrap img {
    width: 23px;
}

span.selectionNewCount {
    background: red;
    color: #fff;
    font-size: 10px;
    width: 20px;
    height: 20px;
    display: inline-flex;
    text-align: center;
    border-radius: 50px;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: 0px 0 0 0px;
    line-height: normal;
    position: relative;
    top: -2px;
}
.selectionNewList
{
   padding:2px 2px 0 2px !important;
    margin: 0 0 0 10px !important;
}

.selNotificationHeader img
{
    border-radius: 0px !important;
}

td.notificationHeaderTd {
    text-align: center;
    padding-top: 0px !important;
}
td.notificationHeaderTd span.selectionNewList {
    position: relative;
    top: 5px;
    left: -6px;

    background: #ffffff;

    color: #ff0201;
}
th.text-center.selNotificationHeader  {
    background: #ffffff;
    min-width: 50px;
}
.customTbl tr.newData {
    box-shadow: none !important;
}

.job-experience-dropdown
{
    width: 125px;
    float: left;
}

span.job-experience-lbl {
    display: inline-block;
    padding: 5px 10px 0px 16px;
}
.jd-experience {
    display: inline-block !important;
    float: left !important;
}

.jd-experience-alert {
    background: #d1ecf1;
    color: #495b5f;
    line-height: 1;
    padding: 12px 5px 6px 10px;
    position: relative;
    margin: -6px 0 0 19px;
    display: inline-block;
    font-size: 12px;
}

.jd-experience-alert .arrow-left {
    width: 0;
    position: absolute;
    height: 0;
    left: -8px;
    top: 11px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #d1ecf1;
}
.jd-experience-alert .info-ico {
    font-size: 14px;
    float: left;
    display: inline-block;
    margin: 0px 5px 0 3px;
    color: #666666;
}

.jd-experience-alert p {
    margin: 0;
    line-height: 15px;
    display: inline-block;
    color: #666666;
}

.jd-experience-edit-alert {
    background: #d1ecf1;
    color: #495b5f;
    line-height: 1;
    padding: 7px 5px 6px 10px;
    position: relative;
    margin: -11px 0 0 19px;
    display: inline-block;
    font-size: 12px;
}

.jd-experience-edit-alert .arrow-left {
    width: 0;
    position: absolute;
    height: 0;
    left: -8px;
    top: 10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #d1ecf1;
}
.jd-experience-edit-alert .info-ico {
    font-size: 14px;
    float: left;
    display: inline-block;
    margin: 7px 5px 0 3px;
    color: #666666;
}

.jd-experience-edit-alert p {
    margin: 0;
    line-height: 15px;
    display: inline-block;
    color: #666666;
}

.refer-candidate-experience span
{
    float: left;
}
.refer-candidate-experience p{
    font-size: 12px;
    display: inline-block;
}

.job-content-selection-wrap.experience-range .jobCreateContentHolder .jd-experience-edit-alert {

    margin: 2px 0 0 3px; border-radius: 5px;

}


.job-content-selection-wrap.experience-range .jobCreateContentHolder span.job-experience-lbl {

    float: left;     margin: 5px 0 0 0;
}

.job-content-selection-wrap.experience-range .jobCreateContentHolder .job-experience-dropdown {

    margin: 5px 0 0 0;
}

.jobDescContent.jobDesCart.job-exp-wrap-alert .jd-experience-alert .arrow-left {

    top: 12px;

}
.jobDescContent.jobDesCart.job-exp-wrap-alert .content-holder p {
    float: left;
}
.jobDescContent.jobDesCart.job-exp-wrap-alert  .jd-experience-alert {
    padding: 9px 5px 6px 10px;
    margin: -11px 0 0 19px;
    z-index: 1 ;
    position: absolute;
    border-radius: 5px;     max-width: 570px;
}
.jobDescContent.jobDesCart.job-exp-wrap-alert  .jd-experience-alert p{
    max-width: 532px;
}



li.refer-candidate-experience.refer-candidate-experience-alert .jd-experience-alert {

    padding: 8px 5px 11px 10px;
    position: relative;
    margin: 0px 0 0 19px;  border-radius: 5px; max-width: 580px;

}

li.refer-candidate-experience.refer-candidate-experience-alert .jd-experience-alert  p {
    font-size: 12px;
    display: inline-block;     max-width: 540px;
}


.refer-candidate-experience.refer-candidate-wrap-db .jd-experience-alert p {
    padding: 0px 0 0 0;     max-width: 500px;

}
.refer-candidate-experience.refer-candidate-wrap-db .jd-experience-alert {

    padding: 7px 5px 6px 10px;
    position: relative;
    margin: 4px 0 6px 19px; border-radius: 5px;
    max-width: 550px;

}

.refer-candidate-experience.refer-candidate-wrap-db .jd-experience-alert .arrow-left {

    top: 6px;

}

span.expyear-spn {
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 10px 0 0 0;
    height: auto;
    color: #6a6a6a;
    width: auto;
}
li.refer-candidate-experience.refer-candidate-experience-alert.exp-alert strong {
    margin: 10px 0 0 0;
}
hr.exp-hr {
    margin-bottom: 10px;
}
li.refer-candidate-experience.refer-candidate-experience-alert.exp-alert .jd-experience-alert .arrow-left {

    top: 7px;

}
label.selection-refer-agnt-lbl {
    min-width: 150px !important;
    font-weight: bold;
}
.share-info-alert {
    background: #d1ecf1;
    color: #495b5f;
    line-height: 1;
    padding: 7px 5px 6px 10px;
    position: relative;
    margin: -11px 0 0 19px;
    display: inline-block;
    font-size: 12px;
    margin: 2px 0 0 0;
    border-radius: 7px;
}

.share-info-alert .info-ico {
    font-size: 14px;
    float: left;
    display: inline-block;
    margin: 7px 5px 0 3px;
    color: #666666;
}
.share-info-alert p {
    margin: 0;
    line-height: 15px;
    display: inline-block;
    color: #666666;
    width: 90%;
}
.share-info-alert .arrow-up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid #d1ecf1;
    top: -7px;
    position: absolute;
    left: 20px;
}
.incharge-info-share-alert {
    background: #d1ecf1;
    color: #495b5f;
    line-height: 1;
    padding: 7px 5px 6px 10px;
    position: relative;
    margin: 2px 0 11px 0px;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
}
.incharge-info-share-alert .info-ico {
    font-size: 14px;
    float: left;
    display: inline-block;
    margin: 7px 5px 0 3px;
    color: #666666;
}
.incharge-info-share-alert p {
    margin: 0;
    line-height: 15px;
    color: #666666;
}
.font-size-11
{
    font-size: 11px;
}
#myModalInchargeInfoShareAlert p{
    text-align: left;
    margin: 9px 0 0 0;

}
#myModalInchargeInfoShareAlert ul.share-info-list {
    text-align: left;
    padding: 0 0 0 22px ;
    list-style: disc ;
    margin-top: 1px;
}


div#jobClassification .modal-body {
    padding: 0;
}

div#jobClassification .modal-content {
    border-top: 0;
}

div#subJobClassification .modal-body {
    padding: 0;
}

div#subJobClassification .modal-content {
    border-top: 0;
}

.modal-dialog {
    margin-top: 9%;
    min-width: 800px;
}

.checkbox-wrapper.chkbox-jobClass h3 {
    display: inline-block;
    float: left;
    border: 0;
    border-bottom: 0;
    margin: 0;
    padding: 0 !important;
}

.checkbox-wrapper.chkbox-jobClass .sub-menubox {
    max-height: 630px;
    overflow: auto;
    padding-left: 15px !important;
    margin-bottom: 10px;
}

.checkbox-wrapper.chkbox-jobClass .custom-bottom-search {
    float: right;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0px 0 transparent;
    opacity: 1;
    margin: 0px 0px 0px 10px;
}

ul.chk-container-parent {
    background: #ededed;
    min-height: 255px;
    margin: 0;
}

ul.chk-container-parent li {
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid #d6d6d6;
}

.checkbox-wrapper.chkbox-jobClass .modal-header {
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #e5e5e5;
    background: #e6e8ef;
}


/* The container */
.container-job-chk {
    display: block;
    position: relative;
    padding-left: 27px !important;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-job-chk input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark-job-chk {
    position: absolute;
    top: 3px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #b9b9b9;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-job-chk:hover input ~ .checkmark-job-chk {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-job-chk input:checked ~ .checkmark-job-chk {
    background-color: #f26f21;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-job-chk:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-job-chk input:checked ~ .checkmark-job-chk:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-job-chk .checkmark-job-chk:after {
    top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}


ul.chk-container-parent li.active {
    background: #fbfbfb;
}

.checkbox-wrapper.chkbox-jobClass .modal-header .close {
    margin-top: 5px !important;
    float: right !important;
    font-size: 21px !important;
    font-weight: bold !important;
    line-height: 1 !important;
    color: #000 !important;
    text-shadow: 0 1px 0 #fff !important;
    opacity: 0.2 !important;
}

.jobCreateContentHolder span.jobPlusIco {
    color: #999999;
    position: absolute;
    right: 25px;
    font-size: 12px;
    top: 15px;
}


.justify-content-center{
    float: none;
    margin: 0 auto;
}

.notification-wrap {
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}
.notification-content-wrap p {
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 5px 0;
}

.notification-content-wrap h3 {
    font-size: 16px;
    margin: 16px 0 7px 0;
    font-weight: bold;
}
.notification-content-wrap {
    overflow: hidden;
}
.notification-icon-wrap {
    display: inline-block;
    float: left;
    overflow: hidden;
}
span.notification-icon {
    height: 40px;
    width: 40px;
    overflow: hidden;
    display: inline-block;
    border-radius: 90px;
    margin: 15px 20px 0 0;
    text-align: center;
}
span.notification-icon.orange{
    background: #fbeae3;
    border: 1px solid #f9d9cc;
}

span.notification-icon.green{
    background: #e9f6ec;
    border: 1px solid #cdefd4;
}

span.notification-icon.blue{
    background: #eeeef5;
    border: 1px solid #e6e6f9;
}

.notification-wrap {
    background: #ffffff;
    padding: 10px 20px 20px 20px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 15px;
}

.pageHeader.notification-header {
    margin: 40px 0 25px 0;
}
.pageHeader.notification-header h2 {
    font-size: 18px !important;
    margin: 0 !important;
}
span.notification-icon img {
    width: 18px;
    padding-top: 10px;
}
a.backHome{
    background: #f26f21;
    color: #ffffff;
    opacity: 1;
    padding: 5px 15px 5px 15px;
    border-radius: 50px;
    float: right;
}
a.backHome:hover{

    opacity: 0.8;

}

span.notificationbell-ico {
    position: fixed;
    right: 20px; text-align: center;
    bottom: 95px;
}
span.notificationbell-ico a {
    background: #0079f5;

    display: inline-block;
    border-radius: 90px;
    height: 60px;
    width: 60px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 6px 0px, rgba(0, 0, 0, 0.16) 0px 2px 32px 0px;
}
span.notificationbell-ico a img {
    width: 30px;
    padding: 13px 0 0 0;
}
.pt-6{
    padding-top: 6px;
}
.announcement-files li
{
    display: inline-block;
    padding-right: 14px;
}
.announcement-files a{
    font-size: 12px;
}

.notification-content-link{
    text-decoration: underline; display: inline-block; overflow: hidden;
}
.notification-content-link:hover{
    text-decoration: underline;
}

.announcement-date {
    font-weight: 600;
}
.announcementCount
{
    background: #D6D6D6;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    min-width: 23px;
    display: inline-block;
    height: 22px;
    border-radius: 3px;
    position: relative;
    margin: 0px 0 0 14px;
    left: -11px;
}
.announcementTooltip .popover
{
    white-space: nowrap !important;
    background: #000000;

}
.announcementTooltip .popover .arrow:after
{
    border-top-color: #000000 !important;
}

.notification-feature-section .footer-btn {
    padding-bottom: 20px;
    display: block;
    overflow: hidden;
}

span.announcement-count {
    position: absolute;
    color: #ffffff;
    background: red;
    font-size: 11px;
    line-height: 1;
    padding: 4px 3px 2px 3px;
    border-radius: 4px;
    top: -2px;
    min-width: 18px;
    right: 0px;
    font-weight: bold;
    letter-spacing: 0px;
    height: 18px;
}
.applied-jd .jd-experience-alert {
    position: absolute;
    max-width: 432px !important;
    margin: -13px 0 0 15px;
    border-radius: 5px;
    background: #d1ecf1;
    color:#495b5f;
    line-height: 1;
    padding: 12px 5px 6px 10px;
    position: relative;
    margin: -6px 0 0 19px;
    display: inline-block;
    font-size: 12px;
}
.applied-jd .jd-experience-alert p {
    max-width: 386px !important;
}
.fa-acc-status {
    font-size: 12px !important;
}
.user-mgmt-alert {
    background: #d1ecf1;
    color: #495b5f;
    line-height: 1;
    padding: 12px 6px 6px 10px;
    position: absolute;
    margin: -2px 0 4px 19px;
    display: inline-block;
    font-size: 12px;
}
.user-mgmt-alert .arrow-left {
    width: 0;
    position: absolute;
    height: 0;
    left: -8px;
    top: 11px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #d1ecf1;
}
.user-mgmt-alert .info-ico {
    font-size: 13px;
    float: left;
    display: inline-block;
    margin: 0px 5px 0 3px;
    color: #666666;
}
.user-mgmt-alert p{
    float: left;
}
.sub-media-publication {
    padding: 0px 0 0 26px;
}
.sub-send-scout {
    padding: 0px 0 0 26px;
}

.sub-media-publication .checkbox-inline, .sub-send-scout .checkbox-inline {

    padding-left: 0px;
    padding: 15px 15px 0 0 !important;

}
.footerWidget.footerCopyright img{
    width: 100px;
}
.footerWidget.footerCopyright p a{
    color: #ffffff;
}

.footerWidget.footerCopyright p {
font-size: 12px;
}
.popover-content{
    width: 1000px !important;
    word-wrap: break-word;
}
.user-tool-tip {
    padding: 32px 0 0 0;
}
.user-tool-tip span{
    display: inline !important;
}



span.custom-css-popup-label {
    position: relative;
}

span.custom-css-popup-wrap {
    background: #404040;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    display: block;
    width: max-content;
    padding: 10px 10px 10px 10px;
    text-align: left;
    left: 0; z-index: 11111;
    top: 26px;
    display: none;
}

span.custom-css-popup-label:hover span.custom-css-popup-wrap   {
    display: block !important;
}
span.custom-css-popup-wrap .arrow-up {
    width: 0;
    height: 0;
    position: relative;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 9px solid #404040;
    top: -18px;
    left: -8px;
}
.defaultModal .modal-dialog.adduser-modal {
    margin-top: 10vh;
}




span.custom-css-popup-label.popup-right span.custom-css-popup-wrap .arrow-up {
    left: -20px;
    top: 99px;
    border-left: unset;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right:10px solid #404040;
}


span.custom-css-popup-label.popup-right span.custom-css-popup-wrap {

    left: 30px;
    top: -96px; padding: 0px 10px 10px 10px;
}

label.title-lbl.responsive-consultant {
    overflow: visible !important;
}

label.title-lbl.responsive-consultant:hover span.custom-css-popup-wrap   {
    display: block !important;
}


label.title-lbl.responsive-consultant span.custom-css-popup-label.popup-right span.custom-css-popup-wrap .arrow-up {
    position: absolute;
    left: -10px;
    top: 60px;
}

label.title-lbl.responsive-consultant span.custom-css-popup-label.popup-right span.custom-css-popup-wrap {
    left: 23px;
    top: -60px;
    padding: 8px 10px 10px 10px;
}
label.modal-pop-up-inline {
    display: flex;
}

.terms-accept-title{
    text-align: center;
    font-weight: 700;
    color: #292B2F;
    font-size: 18px;
}
.export-box
{
    display: inline-flex;
    width: 265px;
    margin-left: 165px;
}
.btn-job-export{
    background: rgba(35, 146, 236, 0.88) !important;
    color: #fff !important;
    display: inline-block;
    margin-left: 12px;
}


.jdPreviewWrapper .modalFooter {
    background: #f7f7f7;
}
.jdPreviewWrapper .job-prev-container hr {

    border-top: 1px solid #737373;

}
.jdPreviewWrapper .panel-default {
    border-color: transparent;
}
.jdPreviewWrapper .panel-default > .panel-heading {
    color: #333333;
    background-color: transparent;
    border-color: transparent;
}


.jdPreviewWrapper .panel {
   background-color: transparent;
}
.jdPreviewWrapper .panel-body.job-prev-container {
    background: #fff;
}
.jdPreviewWrapper .panel.panel-default.info-panel {
    border-color: transparent;
    background: #ffffff;
}
.jdPreviewWrapper .panel-heading {
    padding: 10px 0 0 10px;

}
 .modal-dialog-crop .modal-content {
    border-top: 2px solid #2d9bb7;
}
.modal-footer {
    padding: 5px 15px 0px 15px;
}

.panel.panel-default.img-upload-wrapper.panel-theme .dz-image-preview .dz-filename{
    display: none !important;
}
.panel.panel-default.img-upload-wrapper.panel-theme .dz-image-preview .dz-size{
    display: none !important;
}
.panel.panel-default.img-upload-wrapper.panel-theme .dz-remove{
    color: #2d9bb7;
    font-weight: bold;
    font-size: 12px !important;
}
.panel.panel-default.img-upload-wrapper.panel-theme .overlay_msg {
    background-color: #fff;

}
@media only screen and (max-width: 1200px) {
    .jobCreateContentHolder.uiwrap .ui-wrapper {
        width: 98% !important;
    }
    .job-age-selection-wrap .jobCreateDesContent .jobCreateContentHolder .jobCreateAgeDiv .jobAgeInputWrap {

        max-width: 100px;

    }
}


.qa-unseen
{
    position: relative;
}
.qa-unseen .question-new {
    left: 0px !important;
    top: 8px !important;
    left: 3px !important;
    bottom: unset;
    width: 33px !important;
    padding: 1px 0px 1px 3px !important;
}



.jobCreateContentHolder.uiwrap.textarea-fullw .ui-wrapper {
    margin: 0 !important;
    width: 100% !important;
}

.account-page .feature-points ul {
    list-style: disc;
    padding-left: 25px;
    font-size: 13px;
}
