.tt-menu {
    background-color: rgba(255, 255, 255, 0.86);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: #2a1328;
    font-size: 18px;
    margin: 0;
    padding: 8px 0 0;
    width: 100%;
    top: 118% !important;
    left: -8% !important;
}

.twitter-typeahead {
    width: 88%;
}

.tt-menu, .gist {
    text-align: left;
}

.tt-menu {
    color: #2a1328;
    font-size: 18px;
}

.tt-suggestion {
    font-size: 13px;
    padding: 10px;
}

.tt-highlight {
    color: #f36f21;;
}

.tt-suggestion.tt-selectable {
    cursor: pointer;
}

.help {
    color: #f36f21;
    display: inline;
    font-size: 12px;
    font-style: normal;
    width: 100%;
    text-align: center;
}

/*#typeAhead {
    width: 88%;
}*/

.form-control.tt-hint {
    background: none !important;
}

.twitter-typeahead > input {
    width: 99% !important;
}

.form-control.tt-hint {
    color: #8a8887;
}

.save {
    margin-right: 10px;
    float: right;
    margin-top: 20px;
}

#dz {
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0;
    text-transform: uppercase;
}

.custom_cbox {
    display: inline-block;
    margin-right: 10px;
}

.sel_custom {
    width: 100%;

}

.note-icon-caret {
    display: none !important;
}

.select2.select2-container.select2-container--bootstrap {
    width: 100% !important;
    overflow: hidden;
}

.padding-zero {
    padding: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.padding-left-zero {
    padding-left: 0 !important;
}

.padding-right-zero {
    padding-right: 0 !important;
}

textarea {
    resize: vertical;
}

.jobDescContentClient .help {
    color: red;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.58);
    font-size: 13px;
    display: inline-block;
}

p.offer-info {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 1.5em;
    font-style: italic;
}

.dataTables_length, .dataTables_filter {
    display: inherit !important;
}

.status .label {
    display: inline-block;
    min-width: 60px;
    padding: 5px;
}

.searchingInner.jobs_filters {
    overflow: visible;
    padding: 15px;

}

.select2-choices {
    min-height: 150px;
    max-height: 150px;
    overflow-y: auto;
}

.custom-jl-select .select2-selection.select2-selection--single {
    height: 60px;
}

.custom-jl-select .select2-selection__rendered {
    margin-top: 16px !important;
}

.sorting_1 .fa {
    font-size: 20px;

}

.ph {
    height: auto !important;
}

.ic-holder .fa {
    font-size: 46px;
    color: #f36f21;
}

.btn-alert {
    margin-right: 15px;
    margin-top: 15px;
}

.mainContent {
    min-height: 720px;
}

.batch-alert, .i-alert {
    display: none;
}

.tab-span {
    display: block;
    margin: 0 0 5px;
}

.customTbl tr img {

    width: 40px;
}

.danger {
    color: #ff4e4e;
}

.pageHeader {
    margin: 20px 0;
}

.range_inputs button {
    display: block;
    width: 100%;
    margin: 0 0 10px;
}

.new {
    left: 8px;
}

.jobDescContent li > strong {
    display: inline-block;
    width: 200px;
}

.form-group.memo-fm-gp {
    margin-top: 13px;
}

.rec-id {
    display: inline-block;
    margin-top: 10px;
}

.fa.fa-cloud-download.resume-dw {
    font-size: 20px;
    color: #fc9253;

}

.tab-with-bg {
    background: #fff;
    border-radius: 5px;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #ddd;
    margin-bottom: 40px;
    padding: 0 20px 20px;
}

.nav.nav-tabs.sel-nav-tabs {
    background: #fff none repeat scroll 0 0;
    margin-bottom: 20px;
}

.other-dw {
    display: inline-block;
    margin-right: 30px;
}

.userHeader {
    margin: 20px 0 0px;
}

.new.day {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    position: inherit;
}

.new.day {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-size: 12px;
    font-weight: normal;
    position: inherit;
}

.old.day {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-size: 12px;
    font-weight: normal;
    position: inherit;
}

.hire-date-container {
    display: block;
}

.upload-mask {
    cursor: pointer;
}

.relative {
    position: relative;
}

.userIco.primaryIco.memouser {
    margin: 15px 10px 0 0;
}

.drej {
    margin-bottom: 10px;
}

/*.sideDescWrapper{*/
/*width: 17.33% !important;*/
/*}*/

.tab-span {

    font-size: 9px;
}

#dselection_length, #selection_length, #selectionend_length, #qatbl_length {
    display: none !important;
}

.fa.fa-question-circle.qa-icon {
    color: #ffa407;
    font-size: 33px;
    margin-left: 10px;
    margin-top: -6px;
}

.linked-td a {
    color: #ed8a37;
    font-weight: bold;
}

.questionbox > span {

    margin: 0 10px 0 0;

}

.qaBtn {
    margin-top: 10px;
}

.sp-image {
    margin: 0 auto;
    display: inline-block;
}

.client-approved {
    font-size: 16px;
}

.cb-job {
    min-width: 159px !important;
}

.rq-search-content.reset-search {
    margin-top: 9px;
}

.rsearch {
    padding-left: 9px !important;
    padding-right: 9px !important;
}

.element::-webkit-input-placeholder {
    color: #c1bec1;
    font-weight: 400;
}

.element::-moz-placeholder {
    color: #c1bec1;
    font-weight: 400;
}

.element:-ms-input-placeholder {
    color: #c1bec1;
    font-weight: 400;
}

.element:-o-input-placeholder {
    color: #c1bec1;
    font-weight: 400;
}

.loginContent .btn {

    padding: 0;

}

.length-desc {
    display: inline-block !important;
    font-size: 11px !important;
    font-weight: normal;

}

.full-width-lb {
    width: 100%;
}

/*font*/
body {
    font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.highlight {
    color: #484848;
    font-weight: 400;
}

label {

    font-weight: 500;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {

    font-weight: 400;

}

.clickRow {
    cursor: pointer;
}

.error-blade {
    color: #d82121 !important;
    border-radius: 0 !important;
    border: none !important;
}

.userContentHeader h2 {
    font-size: 17px;
}

.reg-steps {
    color: #bfbfbf;
    margin-top: 50px;
}

.reg-steps a {
    border: 1px solid;
    padding: 27px 0 0 0;
    border-radius: 50%;
    font-size: 28px;
    width: 90px;
    height: 90px;
    display: inline-block;
    color: #e7e4e4;
    opacity: 0.8;
}

.reg-steps a:hover {
    background: #525151;
    opacity: 0.8;
}

.reg-steps .col-md-offset-2 {
    margin-left: 20%;
}

.modal-content-stage {
    margin: 10px 0;
}

.row.modal-content-stage p {
    font-size: 12px;
}

.row.modal-content-stage h3 {
    font-size: 20px;
}

.modal-content-stage .fa-check {
    color: #12c912;
}

.modal-content-stage-indc {
    padding: 15px 0;
}

/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

.bs-callout h4 {
    margin-top: 0;
    font-weight: 400;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}

.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}

.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}

.bs-callout-danger h4 {
    color: #B94A48;
}

.bs-callout-warning h4 {
    color: #C09853;
}

.bs-callout-info h4 {
    color: #3A87AD;
}

.user-management-container {
    margin: 15px 0 40px;
}

.count-info .label {
    line-height: 12px;
    padding: 2px 5px;
    position: absolute;
    right: 4px;
    top: 11px;
    background: #ff0000;
}

.count-info .fa {
    font-size: 16px;
}

.grey {
    color: #000;
}

/*for notification*/
.dropdown-menu.dropdown-notification {
    padding: 5px 0 10px;
    width: 340px;
}

.navbar-default .navbar-nav > .notificationDropdown > a, .navbar-default .navbar-nav > .notificationDropdown > a:focus, .navbar-default .navbar-nav > .notificationDropdown > a:hover {
    background-color: transparent;
    color: #ffffff;
}

.dropdown-menu.dropdown-notification a {
    font-size: 13px;
}

.dropdown-menu.dropdown-notification div {

    overflow: hidden;
    padding: 0px 0;
}

#notification-ul > li {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    padding: 6px 7px 3px 7px;
}

.dropdown-message-box .media-body .text-muted.small {
    display: block;
}

.text-center.last-child-li {
    border: none !important;
    padding: 10px 0 5px;
}

#notification-ul {
    height: 226px;
    overflow-y: scroll;
    padding: 0 0px;
}

#notification-ul a {
    color: #525252;
}

.notification-link {
    color: #686868;
    font-size: 13px;
    line-height: 18px;
}

.profile-img {
    display: inline-block;
    float: left;
}

.profile-img > img {
    border-radius: 56px;
    height: 40px;
    margin: 0 7px 0 0;
    width: 40px;
}

.fa.fa-circle.unread {
    color: #2ecd71;
}

.fa.fa-circle.read {
    color: #000000;
}

.fa.fa-circle.read {
    color: #cfcfcf;
}

.unread {
    background: #fff1e8 none repeat scroll 0 0;
    transition: background-color 0.5s ease;
}

.unread:hover, .unread:focus {
    background: #ffffff none repeat scroll 0 0;
}

.read {
    background: #ffffff none repeat scroll 0 0;
    transition: background-color 0.5s ease;
}

.notiarrow {
    color: #ffffff;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: -14px;
    z-index: 11111;
}

.notificationNum {
    background: red none repeat scroll 0 0;
    border-radius: 50px;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    left: 0;
    color: #ffffff;
    position: absolute;
    text-align: center;
    width: 19px;
}

.text-muted.noti-date {
    font-size: 12px;
    margin: 2px 0;
    display: block;
}

.dropdown-message-box {
    display: block;
}

.notif-link:hover {
    background: rgba(255, 228, 206, 0.69);
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.nf-head {
    display: inline-block;
    border-bottom: none !important;
}

.nf-actions {
    display: inline-block;
}

.nf-icon-read {
    margin-left: 18px;
}

.nf-actions.pull-right label {
    font-size: 21px;
    font-weight: normal;
    display: inline-block;
    padding-top: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.sectionHeader.nf {
    border-bottom: 1px solid #d8d4d4;
    margin-bottom: 10px;
}

.notif-actions {
    border-bottom: 1px solid #dddfe2;
    color: #000;
    text-align: right;
    padding: 0 12px !important;
}

.nf-action-td .fa {
    font-size: 20px;
    margin-right: 10px;
}

.qa-h1 img {
    width: 29px;
    margin-right: 10px;
    margin-top: -6px;
}

.inline-block {
    display: inline-block;
}

.qaBtnu {
    margin-right: 10px;
}

.pointer {
    cursor: pointer;
}

#job-img img {
    width: 100%;
    margin-top: 50px;
}

#cropper-image {

    max-width: 100%;

}

#sr_loading_overlay_wrap {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1040;
}

#sr_loading_overlay {
    position: relative;
    top: 30%;
}

.overlay_msg {
    background-color: #fff;
    border: 2px solid #e4812f;
    border-radius: 9px;
    margin: 0 auto;
    min-height: 125px;
    padding: 10px;
    text-align: center;
    width: 440px;
}

.modal-dialog-crop {
    margin-top: 10% !important;
}

.dropzone-custom-error {
    color: #ffffff;
    border-radius: 5px;
    /* text-align: center; */
    padding: 9px 20px;
    border: 1px solid #f34444;
    background: #ef9292;
    font-size: 15px;
    display: none;
    margin-bottom: 10px;
}

.dropzone {
    min-height: 220px;
}

/*post css_fix for job*/

.form-group.allowance-prnt .error {

    display: block !important;
    text-align: left;
    font-size: 15px;
}

.allowance-prnt [aria-invalid~="true"] {
    border-color: red !important;
}

.sr-close {
    display: none;
    margin: 0 auto;
}

/*added for preview*/
.preview {
    background: none;
    border: none;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    margin: 10px 0;
    line-height: 2em;
    padding: 10px 0;


}

.preview:after{
    content: '';
    display: block;
    border-bottom: 1px solid #e9e9e9 !important;

}

.sidebarDescWrapperPreview .preview::after {
    border: none !important;
}

.pre-last{
    background: none;
    border: none;
    white-space: pre-wrap;
    text-align: left !important;
    /*white-space: pre-wrap; !* Since CSS 2.1 *!
    white-space: -moz-pre-wrap; !* Mozilla, since 1999 *!
    white-space: -o-pre-wrap; !* Opera 7 *!
    word-wrap: break-word; !* Internet Explorer 5.5+ *!*/
}


.chars {
    background: #e1e1e1 none repeat scroll 0 0;
    border-radius: 46px;

    padding: 5px 10px;
    display: inline-block !important;
    margin-right: 5px;
    margin-bottom: 6px;
    color: #383838 !important;
}
.sidebarDescWrapperPreview {

    padding: 5px 10px 10px 10px;
    background: #f3f3f3;
    color: #686666;
    border-radius: 5px;
    border: 1px solid #efecec;
}


.sidebarDescWrapperPreview hr {
    border-bottom: 1px solid #e4e4e4;
    border-top: none;
}

.main-panel {
    height: 55px !important;
}

.main-panel .panel-title {
    margin-top: 10px;
}

.previewContent{
    margin-top: 60px;
    display: none;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.4s
}

.fade-enter,
.fade-leave-to
    /* .fade-leave-active in <2.1.8 */

{
    opacity: 0
}

.previewImg {
    margin-bottom: 30px;
}

.prev-job span {
    display: inline-block;
    margin-right: 11px;
}


.bootstrap-timepicker-widget.dropdown-menu.timepicker-orient-left.timepicker-orient-top.open {
    z-index: 10000 !important;
}


/*
.sorting_1 .fa {
    font-size: 24px;
    color: orange;
}*/
