/*common Styling*/
body {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 24px;
    color: #666;
    background-color: #f7f7f7;
}

h4, .h4{   font-family: 'Lato', sans-serif; font-weight: 400;}

h2, .h2 {    font-size: 30px;   font-weight: 300; }

a {
    text-decoration: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; color: #f36f21;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: #f36f21;
}
ul {
    padding: 0;
    list-style: none;
}
.txtWhite{ color: #ffffff !important;}
.txtDefault{ color: #f36f21  !important;}
.bgDefault{ background: #f36f21;

}
.btnDefault{
    color: #fff;
    background-color: #f36f21;
    border-color: #f36f21;
}
table.customTbl {
    border-collapse: separate;
    border-spacing: 0 13px;
}
 
table.customTbl, .customTbl th, .customTbl td, .customTbl tr{ border: 0 !important;}
.customTbl tbody .even {
    background: #ffffff none repeat scroll 0 0;
}
.customTbl tbody tr{
    -webkit-box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.3);  height: 60px;
}

.customTbl tbody td{
    padding: 20px 0 0 10px !important;
}
.customTbl tr img {
    border-radius: 70px;
    display: inline-block;
    margin: -12px 0 0;
    width: 47px;
}
.new {
    background: red none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    left: 0;
    padding: 0 3px;
    position: absolute;
}
.opacityLow{ opacity: 0;}
.customTbl tr.newData{ background-color: #ffe6e6 !important;}
.dataTables_length, .dataTables_filter{ display: none;}

.customTbl th {
    color: #f36f21;
}
.nav-tabs > li > a {

    text-transform: uppercase;
}
.notification {
    background: red none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 10px;
    left: 1px;
    padding: 0 1px 0 2px;
    position: absolute;
    top: 10px;
}
.status span {
    background: #bdbdbd none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    margin: 0 auto;
    min-width: 65px;
    padding: 2px 5px;
    text-align: center;
}
.status span.sucess {
    background: #1ecc79 none repeat scroll 0 0;

}
.highlight{ color: #484848; font-weight: bold;}

.btnDefault:hover{
    opacity: 0.8; color: #ffffff;
}


.paginate_button > a {
    border: 0 none !important;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #f36f21; border-color: #f36f21;

}
.pagination > li > a:focus, .pagination > li > a:hover{
    background-color: transparent !important;
    color: #f36f21 !important;

}
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    background-color: transparent;

}
.shadowbox{
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
.list-inline > li {

    padding-right: 36px;
}
/*login css*/
.loginBg{
    background: #f36f21;
}
.loginWrap{
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    margin-top: 10%;
}
.bgGrey{
    background: url("../images/greybg.png");
    padding-top: 20px;
}
.bgWhite{
    background: #ffffff !important;

}
.txtWhite{ color: #ffffff !important;}
.bgDefault{
    background-color: #f36f21 !important;
    color: #ffffff;
}
.loginImg{
    background: url("../images/loginBg.png");
    background-size: cover;
}
.bgGrey img {
    width: 170px;
}
.formBox {
    padding: 19px 0 15px 0; min-height: 384px;
}
.formBox h4{
    padding: 0;
}
.unBorderInput .form-control {
    background: #ffffff !important;
    height: 45px;
}
.modalContainer {
    margin: 15% 0 0;   background: #ffffff none repeat scroll 0 0;

}
.modal-content {
    border-top: 2px solid #f36f21;

}
.modalHeader h3{ color: #f36f21;

}
.modalHeader {
    border-bottom: 1px solid #dbdbdb;
    margin: 0 0 10px;
    padding: 3px 20px 10px;
}
.panelBody span {

    border-radius: 29px; border: 2px solid #f36f21;
    display: inline-block;
    float: left;
    font-size: 20px;
    height: 40px;
    padding: 8px 0 0; color: #f36f21;
    text-align: center;
    width: 40px; margin: 15px 0 0;
}
.panelBody span.done {

    border: 2px solid #2c872d;
    color: #2c872d;
}

.panelBody .form-group {
    overflow: hidden;
    padding: 0 0 0 15px;
}
.modalFooter {
    background: #404040 none repeat scroll 0 0;
    padding: 20px 0 20px 20px;
}
.modalBody {
    padding: 0 20px;
}
.panelBody {
    border-bottom: 1px solid #E7E7E7;
    padding: 10px 0 10px 0;
}
.panelBody .checkbox {
    display: inline-block;
    float: left;
    width: 40px;
    height: 50px;
    padding: 15px 0 0 30px;
}


/**navbar*/
.navbar-default {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: transparent; box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
.navbar-brand {
    overflow: hidden;
    padding: 10px 15px 0 15px;
    background: transparent;
}
.navbar-brand img {
    width: 103px;
    overflow: hidden;
}
.navbar-default .navbar-nav > li > a:hover {

    color: #ff863f;
}
.colornav  .navbar-brand{ background: #ffffff;}

.navbar-default .navbar-nav > li > a {
    color: #fff; text-transform: uppercase;
}



.mainContent {
    padding: 60px 0 0 0;
}
.pageHeader h2 {
    margin: 0;
}
.nav-tabs > li > a{ border: none !important;
    border-bottom: 2px solid transparent !important; color: #666;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #ff863f;
    cursor: default;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ff863f !important;
}
.nav-tabs > li > a:hover {
    border-color: transparent;
    background: none;
}

.form-group span {
    display: block;
    font-size: 16px;
    color: #ff863f;
}

.formWrap h3 {
    border-bottom: 1px solid #E4E4E4;
    padding: 0 0 13px 0;
}

.panel-body .modalFooter {
    background: #404040 none repeat scroll 0 0;
    padding: 20px 0 20px 20px;
    margin: 0 -15px -15px -15px;
}



/** slider **/
/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 82vh;
}
.fade-carousel .carousel-inner .item {
    height: 82vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
    width: 10px;
    height: 10px;
    opacity: 1;
}


.fade-carousel .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.fade-carousel .carousel-inner .active {
    opacity: 1;
}
.fade-carousel .carousel-inner .active.left,
.fade-carousel .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.fade-carousel .carousel-inner .next.left,
.fade-carousel .carousel-inner .prev.right {
    opacity: 1;
}
.fade-carousel .carousel-control {
    z-index: 2;
}




/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.hero h3 {
    text-transform: none;
}
.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}
.carousel-control{
    z-index: 100;
}
.hero .btnLine {
    margin: 20px 0 0 0;
    background: transparent;
    border: 2px solid;
    text-shadow: none;
}
.hero .btnLine:hover {
    margin: 20px 0 0 0;
    background: #ff863f;
    border: 2px solid #ff863f;
    text-shadow: none; color: #ffffff;
}
.btnLine {

    background: transparent;
    border: 2px solid;
    text-shadow: none;
}
.btnLine:hover {

    background: #ff863f;
    border: 2px solid #ff863f;
    text-shadow: none; color: #ffffff;
}
.rq-search-content .btn.btn-md.btnDefault.btnLine {
    padding: 16px 15px 15px 15px;
}




.owl-item {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2); margin: 13px 19px 18px 0;
}

.matter {
    padding: 0 10px 0 10px;
}
.product-box {
    background: #ffffff;
}
.matter h1 {
    font-size: 14px;
}
.buttonBox {
    padding: 0 0 0px 10px;
    overflow: hidden;
}
.buttonBox .btn {
    width: 47%;
}
.list-inline li a {
    color: #555555;
}
.list-inline li a i {
    color: #ff863f;
}
/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}





.carousel-control .fa-angle-left, .carousel-control .fa-angle-right  {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}



.carousel-control .fa-angle-left, .carousel-control .icon-prev {
    left: 50%;
    margin-left: -10px;
}

.carousel-control .fa-angle-left, .carousel-control .fa-angle-right  {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 60px;
}



.carousel-control .fa-angle-left, .carousel-control .icon-prev {
    margin-left: -10px;
}

.carousel-control .fa-angle-right, .carousel-control .icon-next {
    right: 50%;
    margin-right: -10px;
}


.carousel-control .fa-angle-right, .carousel-control .icon-next {
    margin-right: -10px;
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}
/************* search filter ****************/
.jobs_filters {
    background: #f36f21;
    padding: 25px 0 15px 0;   overflow: hidden;
}
#dropdownMenu1 {
    width: 100%;
    text-align: left;
}
.jobs_filters.tabFilter {
    margin: 15px 0;
}

.jobs_filters button .glyphicon {
    float: right;
    color: #f36f21;
}
.filter_width.bgicon .glyphicon {
    position: absolute;
    right: 40px;
    top: 22px;
    color: #f36f21;
}
.jobs_filters .filters_feilds, .jobs_filters .form-group input {
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 0;
    line-height: normal;

    font-size: 14px;
    padding: 20px 28px 20px 20px;
    color: #333;
    height: inherit;
}
.filter_width span {
    color: #fff;
    font-size: 13px;
    margin: -1px 0 0 0;
}
.jobs_filters .form-group{
    margin-bottom: 3px;
}
.jobs_filters .dropdown-menu {
    width: 100%;
    padding: 11px 0px 6px 15px;
    border-radius: 0px;
    color: #000000;
}

.jobs_filters .dropdown-menu ul li a {
    color: #000000;
    display: block;
    padding: 5px 0 5px 0;
}



.jobs_filters .dropdown-menu ul li a:hover {
    color: #f36f21;

}

.owl-theme .owl-nav [class*="owl-"] {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #C8C8C8;
    border-radius: 39px;
    color: #868686;
    width: 37px;
}

.owl-theme .owl-nav [class*="owl-"]:hover{
    background: transparent none repeat scroll 0 0;
    border: 2px solid #f36f21;

    color: #f36f21;

}
.owl-next {
    right: -70px;
    position: absolute;
    top: 35%;
}
.owl-prev {
    left: -70px;
    position: absolute;
    top: 35%;
}
.occupationBox img {
    max-width: 90px;
    margin: 0 auto;
}
.occupationbox{
    background: #ffffff; padding: 20px 0 30px 0;
}
.popularJob{
    padding: 20px 0 30px 0;
}

.buttonBox a {
    float: right;
    display: block;
    margin: 0 10px 7px 0;
    font-size: 16px; color: #ff3e3e;
}
.clickMe {
    color: #869791 !important;
}
.occupationbox .owl-item {
    box-shadow: none;
    margin: 13px 19px 18px 0;
    border: 1px solid #A4A4A4;
    padding: 20px 0 10px 0;
}
.occupationbox a{ color: #000000;}
.occupationbox a:hover{ color: #f36f21;}
.loginError  {
    padding: 2px 0 2px 10px;
    border-radius: 3px;
    margin: 0 0 10px 0;
}


.footerSocial ul{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.footerSocial ul li {
    display: inline-block;
    padding: 0px 5px;
}
footer {
    background: #313131;
    color: #c5c5c5;
    padding: 40px 0 40px 0;
}

.footerSocial{
    padding: 10px 0 10px 0;
}
.footerSocial li a {
    color: #fff;
    border: 1px solid #f36f21;
    width: 32px;
    display: inline-block;
    border-radius: 70px;
    padding: 3px 0 3px 0px;
}
.footerSocial img {
    width: 15px;
}
.footerSocial li a:hover {
    color: #fff;
    border: 1px solid #f36f21;
    background:#f36f21 ;
}
.footerAbout img {
    max-width: 100px;
}




/**modal***/
.defaultModal .modal-header {
    padding: 0;
    border-bottom: none;
}

.defaultModal .modal-header .close {
    margin: 10px 15px 0 0;
}
.defaultModal .modal-body h2 {
    margin: 0 0 10px 0;
}
.defaultModal .modal-content {
    padding: 0 0 20px 0;
}
.defaultModal .modal-dialog {

    margin-top: 15%;
}
/**agent**/

.agentLoginmsg {
    padding: 60px 31px 20px 50px;
    min-height: 458px;
}
.agentLoginmsg ul li {
    padding: 5px 0 10px 0;
    font-size: 18px;
}
.agentLoginmsg ul {
    color: #fff;
    list-style: none;
    padding: 0;
}

.agentLoginmsg ul li span {
    width: 32px;
    display: inline-block;
    border: 1px solid #f36f21;
    border-radius: 21px;
    text-align: center;
    margin: 0 10px 0 0;
    color: #f36f21;
    padding: 3px 10px 3px 8px;
    font-size: 16px;
}


.row.processrow {
    text-align: center;
    padding: 30px 0 30px 0;
}
.processrow ul {

    display: inline-block;
    margin: 0 auto;
}
.processrow li {
    display: inline-block;
    text-align: center;
}
.processrow li a {
    color: #ffffff;
    border: 1px solid #ffffff;
    text-align: center;
    height: 110px;
    width: 110px; background: rgba(255,255,255,0.0) ;
    overflow: hidden;
    display: inline-block;
    border-radius: 85px;
    padding: 21px 0px 0px 0;
    font-size: 12px;
    margin: 0 10px 0 10px;
}
.processrow li a:hover {
    background: rgba(255,255,255,0.1) ;

}

.processrow span {
    color: #ffffff;
    display: inline-block;
    margin: 0px 0 0 0;
    overflow: hidden;
    height: 72px;
    font-size: 35px;
    padding: 0 10px 0 10px;
}


.footerRow li{

    display: inline-block;
    padding: 0 7px 0 0;

}
.footerRow li a{
    color: #ffffff;
}
.footerCopyright p {
    color: #e5e5e5;
}
.headerRow.text-center {
    padding: 0 0 15px 0;
}

.bigTxt {
    font-size: 30px;
    margin: 5px 0 0 0;
    display: inline-block;
}




/*********jobdetails*********/
.jobBrief span {
    background: #e1e1e1 none repeat scroll 0 0;
    border-radius: 46px;
    display: inline-block;
    padding: 5px 10px;
}
.jobHeaderContent {
    border-bottom: 1px solid #e8e8e8;
    margin: 0 0 20px;
    padding: 0 0 20px;
}
.jobDescription > ul li {
    padding: 0 0 10px;}


.jobDescription ul strong {
    display: block;
}
.sidebarDescWrapper {
    background: url(../images/jobbg.png);
    background-repeat: repeat;
    color: #ffffff;
    padding: 5px 10px 10px 10px;
}
.jobDescContent span {
    background: #ffffff;
    width: 100px; color: #f36f21;
    height: 100px;
    display: inline-block;
    text-align: center;
    float: left;
    border-radius: 67px;
    padding: 21px 0 0 0;
    border: 3px solid #f3c921;
    margin: 0 5px 0 0;
}

.sidebarDescWrapper li {
    overflow: hidden;
    padding: 0 0 10px 0;
}
.matterBox {

    overflow: hidden;
    margin: 10px 0 0 0;
}


.sidebarActionWrapper > ul {
    margin: 0;
}
.sidebarActionWrapper {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    margin: 14px 0 16px;
    overflow: hidden; padding: 10px;
}
.sidebarActionWrapper a {
    border-bottom: 1px solid #e6e6e6;
    color: #5f5f5f;
    display: block;
    padding: 20px 0 20px 10px;
}
.sidebarActionWrapper a:hover, .sidebarActionWrapper a:hover span  {

    color: #f36f21; border-color: #f36f21;

}
.sidebarActionWrapper span {
    border: 2px solid #999999;
    border-radius: 26px;
    display: inline-block;
    float: left;
    height: 30px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 30px;
}

.sidebarActionWrapper span .fa {
    color: #f36f21;
}

.jobHeaderContent .btnDefault {
    display: inline-block;
    margin: -40px 0 0;
}
.questionbox img {
    width: 25px;
}
.questionbox > span {

    display: inline-block;
    float: left;
    height: 40px;
    margin: 6px 10px 0 0;
    overflow: hidden;
}
.questionbox > p {
    display: inline-block;
    overflow: hidden;
    width: 95%;
}

.panel-heading > ul {
    display: inline-block;
    float: right;
}

.panel-heading li {
    display: inline-block;
    float: left;
    margin: 0 22px 0 0;
}
.modalBtns .btn {
    margin: 0;
}


i.redTxt {
    color: red;
    font-size: 18px;
    font-style: normal;
}


/****/

.innerSlider .fade-carousel {
    height: 35vh;
    position: relative;
}
.innerSlider .fade-carousel .carousel-inner .item {
    height: 35vh;
}
.tab-pane .item {
    border: 1px solid #e3e3e3;
    margin: 0 0 15px;
}

.innerFormUl > li {
    display: block;
    height: 44px;
}
.innerFormUl label {
    float: left;
    width: 100px;
}
.innerFormUl .form-control {
    float: left;
    margin: 0 9px 0 0;
    width: 100px;
}
.checkbox > ul {
    padding: 0 0 0 21px;
}
.deadlineUl {
    margin: 0;
    padding: 0 !important;
}
.deadlineUl > span {
    color: #ffffff;
    display: inline-block;
    float: left;
}
.deadlineUl .form-control {
    display: inline-block;
    margin: 0 0 0 10px;
    width: 103px;
}
.innerJoblist.formWrap {
    padding: 15px 0 0 0;
    overflow: hidden;
}
.innerSeachBar {
    margin: 15px 0 15px 0;
}
.sidebarSearchCheckbox .well {
    margin: 15px 0;
}
 .panel-default > .panel-heading {
 
    height: 40px;
}
.panel-title {
 
    display: inline-block;
    float: left;
 
}
.panel-heading .checkbox {
    display: inline-block;
    margin: 0 0 0 15px;
}

.searchingInner.jobs_filters {
  background: rgba(0, 0, 0, 0) url("../images/jobbg.png") repeat scroll 0 0;;
    margin: 0 0 15px;
    overflow: hidden;
    padding: 25px 0 15px;
}
.checkbox-inline.txtWhite > input{
    width: auto;
}
.inlineCheck {
    position: absolute;
}
.noResult {
    background: #F9F9F9;
    border: 1px solid #E9E9E9;
    padding: 50px 0 50px 0;
}
.tblDivFormBox label {
    background: #EAEAEA;
    width: 100%;
    padding: 5px 0 5px 6px;
}
.tblDivFormBox .form-group {
    background: #eaeaea none repeat scroll 0 0;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 2px;
}
.tblDivFormBox  .col-md-9 {
    background: #ffffff none repeat scroll 0 0;
    min-height: 41px;
}
.tblDivFormBox .form-group span {
    display: block;
    font-size: 16px;
    color: #636363;
    padding: 5px 0 0 0;
}
.form-group.user {
    display: block;
    width: 100%;
    overflow: hidden;
}
.user h2 {
    margin: 0px 0 0 0;
}

.user img {
    border-radius: 50px;
    margin: 10px 15px 0 0;
    float: left;
}
.sidebarDescWrapper .form-group span {
    display: block;
    font-size: 17px;
    color: #ffffff;
}
.fixedBar{
    position: fixed;
}
.conditionUser > img {
    border-radius: 50px;
    float: left;
    margin: -15px 10px 0 15px;
    width: 60px;
}
.conditionUser > h4 {
    border: 0 none;
    float: left;
    margin: 0;
    overflow: hidden;
}
.conditionUser {
    overflow: hidden;
    padding: 18px 15px 15px 0;
}
.userIco{
    border-radius: 50%;
    color: #ffffff !important; 
    display: inline-block;
    float: left;
    font-size: 18px;
    height: 40px;
    padding: 6px 0 0;
    text-align: center;
    width: 40px;
}

.userIco.sucessIco {
    background: #ed7d31;
}
.userIco.primaryIco {
    background: #3477c5;
}
.userIco.warningIco {
    background: #ffc000;
}
.panel-body.panelSucess {
    border-top: 2px solid #ed7d31;
}


.panel-body.panelPrimary{
    border-top: 2px solid #3477c5;
}

.panel-body.panelWarning{
    border-top: 2px solid #ffc000;
}



.userContent {
    display: inline-block;
    overflow: hidden;
    padding: 0 0 0 10px;
}
.userContent {
    display: block;
    overflow: hidden;
    padding: 0 0 0 10px;
}
.userContent p, .userHeader {
    margin: 0;
}
.user h3 {
    border-bottom: 1px solid #e4e4e4;
    margin: 0;
    padding: 0 0 13px;
}
.user h4 {
    margin: 10px 0 0 0;
    float: left;
}
.userContentHeader {
    display: inline-block;
}
.form-group.remark {
    background: #fff;
}
.form-group.remark {
    background: #fff;
    border-top: 1px solid #E1E1E1;
    margin: 10px 0 0 0;
}

.modal-body .form-group {
    background: transparent;
    border-bottom: none;
    margin-bottom: 10px;
}
.modal-body label {
    background: transparent;
    width: auto;
    padding: 0;
}
.inlineCheckbox {
    padding: 0 0 0 20px;
}
.inlineCheckbox .radio-inline {
    min-width: 24px;
}
 

span.seperatorbar::before {
    background: #afafaf none repeat scroll 0 0;
    color: #afafaf;
    content: "»";
    display: inline-block;
    height: 1px;
    margin: 0 10px 5px 0;
    overflow: hidden;
    width: 200px;
}
 
span.seperatorbar::after {
    background: #afafaf none repeat scroll 0 0;
    color: #afafaf;
    content: "»";
    display: inline-block;
    height: 1px;
    margin: 0 10px 5px;
    overflow: hidden;
    width: 200px;
}
.seperatorLinner {
    padding: 0 0 10px;
    text-align: center;
}
.seperatorbar {
    font-size: 11px;
}
.seperatorbar > p {
    background: #c8c8c8 none repeat scroll 0 0;
    display: inline;
    padding: 3px 5px;
}


.sideDescWrapper {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #ffffff none repeat scroll 0 0;
    border-color: #ed7d31 #dddddd #dddddd;
    border-image: none;
    border-style: solid;
    border-width: 2px 1px 1px;
    font-size: 13px;
    padding: 5px 10px 0;
}

.sideDescWrapper .form-group.user > img {
    width: 50px;
}
.sideDescWrapper p.small {
    display: inline-block;
    float: none;
    overflow: hidden;
    width: 100%;
}
.descContents {
    overflow: hidden;
}
.descContents p {
    margin: 0;
}
.sideDescWrapper p.small {
    display: inline-block;
    float: none;
    margin: 0 0 -9px;
    overflow: hidden;
    width: 100%;
}
.sideDescWrapper .btnDefault {
    background-color: #f36f21;
    border-color: #f36f21;
    color: #fff;
    margin: 5px 0 0;
}
.keeplist h4 {
    display: block;
    float: none;
}
.keeplist .form-group.user > img {
    width: 45px;
}
.keeplist > li {
    background: #ffffff none repeat scroll 0 0;
    color: #464646;
    margin: 0 0 3px;
    padding: 0 0 0 10px;
}
.keeplistWrapper {
    margin: 10px 0 0;
}
.infoBar {
    padding: 0 0 0 46px;
    text-align: right;
    width: 37px;
}
.actionJob a {
    margin: -10px 0 10px;
}
.inner-content li {
    padding: 0 0 10px 0;
}
span.indexBar {
    display: block;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    text-align: center;
}
.indexBarHolder {
    overflow: hidden;
    width: 100%;
    display: block;
}
.indexContentHolder {
    width: 50%;
    overflow: hidden;
    float: left;
}
.indexImgHolder {
    width: 40%;

    overflow: hidden;
    text-align: right !important;
    float: left;
}
.indexImgHolder img{
    float: right !important;
}
.pull-right.notificationTbl {
    border: 0;
    width: auto;
    height: auto;
}



