@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes waves {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  50% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; } }

@keyframes waves {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  50% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-size: 16px; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #fed008;
  color: #fff; }

body, h1, h2, h3, h4, h5, h6 {
  font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important; }

.h2, h2 {
  font-size: 25px;
  font-weight: 400; }

.h5, h5 {
  font-size: 1.1rem;
  font-weight: 500; }

.lead {
  font-size: 16px;
  font-weight: 500; }

section {
  padding: 30px 0 50px 0; }

p {
  font-size: 1.2rem;
  font-weight: 500; }
  p:not(:last-child) {
    margin-bottom: 1rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.p-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.force-center {
  margin: 0 auto !important; }

.mt-2 {
  margin-top: 2em !important; }

.bg-1 {
  /* Create the parallax scrolling effect */
  background: url("../img/bg1.jpg") no-repeat fixed center;
  background-size: cover; }

.bg-pattern {
  background: url("../img/pattern.png"); }

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem; } }

.ml-0 {
  margin: 0 0 0 -15px !important; }

.pt-3 {
  padding-top: 5rem !important; }

.waves-block {
  position: absolute;
  width: 14rem;
  height: 14rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2; }

.waves-block .waves {
  position: absolute;
  width: 14rem;
  height: 14rem;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  border-radius: 320px;
  background-clip: padding-box;
  -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite; }

.waves-block .wave-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.waves-block .wave-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.waves-block .wave-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.bg-custom {
  background: #fed008; }

.grey.lighten-5 {
  background: #edf1f2 !important; }

.text-yellow {
  color: #fed008; }

.header-divider {
  background: #fed008; }

.header-divider {
  width: 55px;
  height: 3px;
  display: inline-block;
  margin: 0px 0 10px 0; }

.header-divider-white {
  background: #fff; }

.video-button {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  border-radius: 100%;
  z-index: 3;
  background: #ffffff;
  height: 60px;
  width: 60px;
  font-size: 30px;
  padding: 9px 0 0 5px; }
  .video-button, .video-button:focus, .video-button:hover {
    color: #fed008; }

.btn {
  margin: 0;
  border: 0; }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: all .2s;
    position: relative;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn-primary {
    background-color: #fed008 !important;
    color: #000 !important; }

.button-dark {
  margin-right: 20px; }

.button-bordered {
  border: 2px solid !important;
  background: transparent !important;
  color: white !important; }
  .button-bordered:hover {
    background: #fed008 !important;
    border: none !important;
    color: #000 !important; }

button:active, button:focus {
  outline: none; }

.btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #d2ab01 !important; }

/* Common button styles */
.button {
  min-width: 150px;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }

.button:focus {
  outline: none; }

.button > span {
  vertical-align: middle; }

/* Sizes */
.button--size-s {
  font-size: 14px; }

.button--size-m {
  font-size: 16px; }

.button--size-l {
  font-size: 18px; }

/* Typography and Roundedness */
.button--text-upper {
  letter-spacing: 2px;
  text-transform: uppercase; }

.button--text-thin {
  font-weight: 300; }

.button--text-medium {
  font-weight: 500; }

.button--text-thick {
  font-weight: 600; }

.button--round-s {
  border-radius: 5px; }

.button--round-m {
  border-radius: 15px; }

.button--round-l {
  border-radius: 40px; }

/* Borders */
.button--border-thin {
  border: 1px solid; }

.button--border-medium {
  border: 2px solid; }

.button--border-thick {
  border: 3px solid; }

/* Individual button styles */
/* Antiman */
.button--antiman {
  background: none;
  border: none;
  padding: 17px 40px 17px 40px; }

.button--antiman.button--inverted,
.button--antiman.button--inverted-alt {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }

.button--antiman > span {
  padding-left: 0.35em;
  font-size: 23px; }

.button--antiman::before,
.button--antiman::after {
  content: '';
  z-index: -1;
  border-radius: inherit;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }

.button--antiman::before {
  border: 2px solid #37474f;
  opacity: 0;
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1); }

.button--antiman.button--border-thin::before {
  border-width: 1px; }

.button--antiman.button--border-medium::before {
  border-width: 2px; }

.button--antiman.button--border-thick::before {
  border-width: 3px; }

.button--antiman.button--inverted::before {
  border-color: #7986cb; }

.button--antiman.button--inverted-alt::before {
  border-color: #fed008; }

.button--antiman::after {
  background: #fff; }

.button--antiman.button--inverted::after {
  background: #7986cb; }

.button--antiman.button--inverted-alt::after {
  background: #fed008; }

.button--antiman.button--inverted:hover {
  color: #7986cb; }

.button--antiman.button--inverted-alt:hover {
  color: #fed008; }

.button--antiman:hover::before {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

.button--antiman:hover::after {
  opacity: 0;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1); }

/* Shikoba */
.button.button--shikoba {
  padding: 15px 40px 15px 60px;
  overflow: hidden;
  background: transparent;
  color: #ffffff;
  border-color: #ffffff;
  -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s; }

.button--shikoba.button--inverted {
  color: #fff;
  background: #7986cb; }

.button--shikoba > span {
  display: inline-block;
  font-size: 23px;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }

.button--shikoba .button__icon {
  position: absolute;
  left: 32px;
  top: 22px;
  font-size: 23px;
  -webkit-transform: translate3d(-40px, 2.5em, 0);
  transform: translate3d(-40px, 2.5em, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }

.button--shikoba:hover .button__icon,
.button--shikoba:hover > span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.button--shikoba:hover {
  background: #fed008;
  border-color: #fed008;
  color: #000; }

.feature-icon img {
  height: 35px;
  margin: 0 0 10px 0; }

.features-content {
  overflow: hidden;
  min-height: 170px;
  padding: 0 0px 0 0; }

.features-content p, .process-content p {
  line-height: 20px;
  color: #6e6e6e;
  font-size: 14px;
  font-weight: 500; }

#pricing {
  width: 100%;
  background-size: cover; }
  #pricing #pricing-table-wrapper {
    flex: 1 0 auto; }
    #pricing #pricing-table-wrapper .dot-ico {
      color: #2bb672; }
    #pricing #pricing-table-wrapper #pricing-table {
      width: 80%;
      min-width: 800px;
      background: #ffffff;
      text-align: center;
      margin: 0 auto; }
      #pricing #pricing-table-wrapper #pricing-table .jobins-light-grey {
        background: #fcfcfc; }
      #pricing #pricing-table-wrapper #pricing-table .jobins-dark-grey {
        background: #44546b;
        color: #ffffff; }
      #pricing #pricing-table-wrapper #pricing-table .pricing-title {
        font-size: 17px;
        margin-top: 16px; }
      #pricing #pricing-table-wrapper #pricing-table .pricing-subtitle {
        margin: 16px 0;
        color: rgba(0, 0, 0, 0.8);
        font-size: 15px;
        font-weight: 400; }
      #pricing #pricing-table-wrapper #pricing-table .pricing-header {
        font-size: 18px;
        color: #000000;
        font-weight: 400;
        padding: 0 0 20px 0; }
      #pricing #pricing-table-wrapper #pricing-table .pricing-table {
        margin: 0 auto; }
        #pricing #pricing-table-wrapper #pricing-table .pricing-table mat-icon.icon.icon-circle.green-fg.mat-icon.material-icons {
          font-size: 13px;
          line-height: 2; }
        #pricing #pricing-table-wrapper #pricing-table .pricing-table th {
          padding: 20px 0 20px 0;
          font-size: 14px;
          font-weight: 500; }
          #pricing #pricing-table-wrapper #pricing-table .pricing-table th img {
            width: 30px;
            margin: 0 10px 0 0; }
        #pricing #pricing-table-wrapper #pricing-table .pricing-table th, #pricing #pricing-table-wrapper #pricing-table .pricing-table td {
          text-align: center;
          border: 1px solid #ECECEC;
          width: 25%;
          font-size: 14px;
          font-weight: 400; }
          #pricing #pricing-table-wrapper #pricing-table .pricing-table th .tbl-data, #pricing #pricing-table-wrapper #pricing-table .pricing-table td .tbl-data {
            width: 50%;
            float: left;
            border-right: 1px solid #ececec;
            padding: 15px 0 15px 0; }
          #pricing #pricing-table-wrapper #pricing-table .pricing-table th .btn-round.btn-sm, #pricing #pricing-table-wrapper #pricing-table .pricing-table td .btn-round.btn-sm {
            background: #fed008;
            color: #000;
            border-radius: 10px 10px 10px 10px;
            font-size: 11px;
            font-weight: 500;
            padding: 3px 10px 3px 10px; }
        #pricing #pricing-table-wrapper #pricing-table .pricing-table th:first-child {
          border: none !important; }
        #pricing #pricing-table-wrapper #pricing-table .pricing-table .title {
          font-size: 14px;
          padding: 13px 0 13px 15px;
          text-align: left;
          font-weight: 500;
          color: #2d3a4e; }
        #pricing #pricing-table-wrapper #pricing-table .pricing-table .detail {
          margin-top: 8px;
          font-size: 12px;
          color: rgba(0, 0, 0, 0.54);
          max-width: 360px; }
        #pricing #pricing-table-wrapper #pricing-table .pricing-table .secondary-pricing-text th, #pricing #pricing-table-wrapper #pricing-table .pricing-table .secondary-pricing-text td {
          border: none; }
      #pricing #pricing-table-wrapper #pricing-table .tbl-content-wrap {
        margin: 0 auto;
        width: 77%;
        text-align: left; }
      #pricing #pricing-table-wrapper #pricing-table .tbl-content-box {
        padding: 20px 5px 15px 20px; }
      #pricing #pricing-table-wrapper #pricing-table .tbl-content-wrap {
        text-align: left; }
      #pricing #pricing-table-wrapper #pricing-table .data-eg-tbl img {
        max-width: 97%;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
        margin: 10px 0 20px 0; }
      #pricing #pricing-table-wrapper #pricing-table .tab-title {
        background: #fed008;
        display: inline-block;
        font-size: 11px;
        font-weight: 500;
        border-radius: 10px 10px 0 0;
        margin: 20px 0 0px 0;
        padding: 10px 15px 5px 15px; }
      #pricing #pricing-table-wrapper #pricing-table .pricing-table-footer {
        margin: 32px 0 96px 0; }
        #pricing #pricing-table-wrapper #pricing-table .pricing-table-footer tr td {
          text-align: right;
          font-size: 17px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.54);
          border-bottom: none;
          padding: 8px 8px; }
          #pricing #pricing-table-wrapper #pricing-table .pricing-table-footer tr td:first-child {
            text-align: left; }
        #pricing #pricing-table-wrapper #pricing-table .pricing-table-footer tr.discount td {
          padding-bottom: 32px; }
        #pricing #pricing-table-wrapper #pricing-table .pricing-table-footer tr.total td {
          padding: 32px 8px;
          border-top: 1px solid rgba(0, 0, 0, 0.12);
          font-size: 35px;
          font-weight: 300;
          color: black; }
  @media (max-width: 768px) {
    #pricing #pricing-table-wrapper #pricing-table .pricing-table {
      margin: 0; }
    #pricing #pricing-table-wrapper #pricing-table {
      width: 100%;
      min-width: 100%; }
    #pricing #pricing-table-wrapper #pricing-table .tbl-content-wrap {
      margin: 0;
      width: 100%;
      text-align: left; }
    #pricing #pricing-table-wrapper #pricing-table .tbl-content-box {
      padding: 10px 5px 0px 10px; }
    #pricing #pricing-table-wrapper #pricing-table .pricing-table .title {
      font-size: 10px;
      padding: 10px 0 10px 5px; }
    #pricing #pricing-table-wrapper #pricing-table .pricing-table td {
      font-size: 10px; }
    #pricing #pricing-table-wrapper #pricing-table .pricing-table th img {
      width: 24px;
      margin: 0 auto;
      display: block; } }

footer.page-footer {
  padding-top: 25px; }

.list-unstyled.menu-list li {
  display: inline-block;
  padding: 0 30px 0 0; }

.list-unstyled.menu-list {
  padding: 0 0 0 20px !important;
  overflow: hidden; }

.list-unstyled.menu-list li a {
  color: #000000;
  padding: 3px 0 0 0;
  display: inline-block; }

.social-ul {
  display: inline-block;
  float: right;
  margin-bottom: 10px; }

.list-unstyled.menu-list li a {
  color: #848484;
  padding: 3px 0 0 0;
  display: inline-block;
  font-size: 12px;
  font-weight: 500; }

.footer-top {
  overflow: hidden;
  padding: 0 0 10px 0; }

.modal-dialog {
  margin: 15% auto 0; }

.row.copyright {
  padding: 15px 0 0 0; }

.video-popup .modal-dialog .modal-content {
  border-radius: 4px;
  border: 0;
  overflow: hidden; }

.row.copyright p {
  font-weight: 500;
  color: #848484;
  font-size: 12px; }

.social-ul a {
  background: #a4a4a4;
  width: 25px;
  display: inline-block;
  text-align: center;
  height: 25px;
  border-radius: 42px;
  padding: 2px 0 0 0;
  font-size: 14px;
  margin: 0 0px 0 5px; }

.social-ul a:hover {
  background: #fed008; }

.row.copyright p a {
  color: #fed008; }

.list-unstyled.menu-list li a.active {
  color: #f36f21 !important; }

.footer-logo {
  float: left;
  overflow: hidden;
  padding: 0 20px 0 0;
  border-right: 2px solid #c5c5c5; }

.top-footer {
  border-bottom: 1px solid #dadbdb; }

.c-row {
  max-width: 114rem;
  margin: 0 auto; }
  .c-row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .c-row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .c-row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .c-row::after {
    content: "";
    display: table;
    clear: both; }
  .c-row [class^="col-"] {
    float: left; }
    .c-row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .c-row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .c-row [class^="col-"] {
        width: 100% !important; } }
  .c-row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .c-row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .c-row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .c-row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .c-row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .c-row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 3rem; }
  .heading-primary--main {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
    animation-delay: 3s;
    animation-iteration-count: 3;
    */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 2.5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 10px; } }

.pt-40 {
  padding-top: 40px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.border-10 {
  border-radius: 10px; }

.small-txt {
  font-size: 12px !important; }

.box-shadow {
  box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.1); }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #fbd843, #c39f07);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase; }

.header-icons.list-unstyled {
  border-left: 1px solid #fff;
  padding: 0 0 0 20px;
  margin: 0 0 0 25px; }

.header-icons.list-unstyled li {
  display: inline-block; }

.header-icons.list-unstyled li {
  display: inline-block;
  padding: 0 15px 0 0; }

.header-icons.list-unstyled a:hover {
  color: #fed008 !important; }

@media (max-width: 960px) {
  .header-icons.list-unstyled {
    display: none; } }

.navbar.scrolling-navbar {
  box-shadow: none; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1.5rem; }

.navbar {
  font-weight: 500; }

.top-nav-collapse {
  background: rgba(0, 0, 0, 0.8) !important; }

.navbar:not(.top-nav-collapse) {
  background: transparent !important; }

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #3949ab !important; } }

@media (max-width: 992px) {
  .img-holder-project {
    display: none; } }

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #000000 !important; }
  .list-unstyled.menu-list {
    width: 100%; }
  .list-unstyled.menu-list li {
    width: 100%;
    display: block; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 1rem;
      right: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 1rem;
      right: 1rem; } }

.navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  background-image: radial-gradient(#fbd843, #c39f07);
  z-index: 1070;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 1.5rem;
      right: 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 1.5rem;
      right: 1.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  display: none;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s;
  white-space: nowrap; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #fed008;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  display: block;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 2rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.slider {
  height: 85vh;
  background-size: cover;
  background: linear-gradient(to right bottom, rgba(251, 216, 67, 0.8), rgba(195, 159, 7, 0.8));
  position: relative; }
  .slider__text-box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 60;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 10px; }

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px; }

/* Reposition the controls slightly */
.carousel-control {
  left: -12px; }

.carousel-control.right {
  right: -12px; }

/* Changes the position of the indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px; }

/* Changes the colour of the indicators */
.carousel-indicators li {
  background: #c0c0c0; }

.carousel-indicators .active {
  background: #333333; }

.tcb-bs-fullscreen {
  height: 100%; }
  .tcb-bs-fullscreen .carousel,
  .tcb-bs-fullscreen .item,
  .tcb-bs-fullscreen .active {
    height: 100%; }
  .tcb-bs-fullscreen .carousel-inner {
    height: 100%; }

/****************************
USE BACKGROUND IMAGES IN CAROUSEL SLIDER
*****************************/
.carousel-bg .carousel-inner .item {
  background-color: darkslategrey;
  background-size: cover;
  background-position: center;
  min-height: 360px; }

/*========= Slider-bg STYLE============ */
.single-slider {
  min-height: 700px;
  padding: 100px 0px; }

.slide-01 {
  background: url("../img/slider-bg/slide-01.jpg") no-repeat; }

.slide-02 {
  background: url("../img/slider-bg/slide-02.jpg") no-repeat; }

.slide-03 {
  background: url("../img/slider-bg/slide-03.jpg") no-repeat; }

.single-slider .active-btn {
  border: 1px solid #fff; }

.slide-01, .slide-02, .slide-03 {
  background-size: cover;
  position: relative; }

.slide-01:before, .slide-02:before, .slide-03:before {
  position: absolute;
  content: "";
  background: #000000;
  top: 0;
  left: 0;
  background: url(../img/bg-background.png);
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: .6; }

.slider-text {
  position: absolute;
  z-index: 90;
  color: #fff;
  width: 100%;
  top: 25%; }

.slider-section {
  padding: 0;
  width: 100%;
  overflow: hidden; }

.title-p {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 3px; }

.slider-text h2 {
  font-size: 60px;
  text-transform: uppercase; }

.slider-bg .owl-prev:hover, .owl-next:hover {
  background: none !important;
  transition: all .5s ease-in-out; }

.slider-p {
  color: #fff;
  padding-bottom: 50px;
  font-size: 18px; }

.slider-bg .owl-carousel .owl-nav button.owl-next, .slider-bg .owl-carousel .owl-nav button.owl-prev {
  background: 0 0;
  color: inherit;
  padding: 0 !important;
  font: inherit;
  border: 1px solid;
  width: 25px;
  border-radius: 0px; }

.slider-bg .owl-dots {
  margin-top: 20px; }

.owl-nav .owl-prev {
  position: absolute;
  left: -55px;
  top: 40px; }

.owl-nav .owl-next {
  position: absolute;
  right: -55px;
  top: 40px; }

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent; }

.campaign-parent {
  font-size: 18px; }

.campaign {
  color: #ffcc18 !important; }

#home #premiumPlan-section {
  overflow: hidden;
  display: block; }

#home header {
  overflow: hidden; }

#home .premium-holder {
  display: flex; }

#home .plan-img-holder {
  flex-grow: 4; }

#home .plan-content-holder {
  flex-grow: 2; }

#home .premium-plan-img {
  max-width: 777px !important;
  margin: 0 auto;
  display: block;
  text-align: center; }

#home #projects .btn {
  font-size: 1.2rem;
  font-weight: 500;
  white-space: nowrap;
  min-width: 150px;
  margin: 0 0 0 -10px; }

#home .full-height, #home .full-height body, #home .full-height header, #home .full-height header .view {
  height: auto; }

#home .header-slider {
  position: relative; }

#home .header-slider.text-center {
  margin-bottom: -15px; }

#home .img-holder-project img {
  width: 95%;
  max-height: 740px;
  opacity: 0; }

#home .img-bg-features {
  background: url("../img/feature-bg.jpg") no-repeat;
  height: 100%;
  width: 86%;
  position: absolute;
  left: 0;
  background-size: cover; }

#home .black-bg-opacity6 {
  background: url(../img/bg-img2.jpg) no-repeat;
  background-size: cover; }

#home .bg-img2 {
  background: rgba(0, 0, 0, 0.8) !important;
  background-size: cover;
  display: block;
  overflow: hidden;
  height: 100%;
  padding: 50px 0 0px 50px;
  min-height: 388px;
  color: #fff; }
  #home .bg-img2 h3 {
    font-size: 16px;
    line-height: 22px; }

#home #intro {
  background: url("../img/panorama-3094696_1920.jpg") no-repeat fixed;
  background-size: cover; }

#home #intro .h6 {
  line-height: 1.7; }

#home .hm-gradient .full-bg-img {
  background: rgba(0, 0, 0, 0.5); }

#home #pricing .lead {
  opacity: 0.7; }

#home #pricing .card-image {
  background: url("../img/architecture.jpg") no-repeat center center; }

#home .probgimg2 {
  background: url("../img/probg2.jpg") no-repeat center center;
  background-size: cover; }

#home #pricing ul li {
  font-size: 1.1em; }

#home .client-box {
  background: #ffffff;
  padding: 26px 25px 10px 25px;
  box-shadow: 0 0px 7px 0px rgba(0, 0, 0, 0.16);
  margin: 10px 5px 10px 6px;
  overflow: hidden;
  height: 100px;
  transition: .2s ease-out; }

#home #clients #demos {
  padding: 40px 0 0 0; }

@media (max-width: 768px) {
  #home #clients .owl-carousel .owl-item img {
    max-width: 100%;
    max-height: 77px;
    margin: -5px auto 0; } }

@media (max-width: 414px) {
  #home #clients .owl-carousel .owl-item img {
    max-width: 100%;
    max-height: 77px;
    margin: -5px auto 0; } }

#home .client-box img {
  max-width: 100%;
  max-height: 100px; }

#home .process-content {
  padding: 15px 0px 30px 12px;
  position: relative;
  transition: .2s ease-out; }

#home .process-content:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

#home .process-content .proIcon {
  position: absolute;
  bottom: 0;
  right: 20px; }

#home .custom-accrodin .question-holder {
  margin-bottom: 10px;
  background: #f5f8f8 !important;
  border-radius: 2px !important;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1); }

#home .custom-accrodin .card-header {
  padding: 12px 0 12px 16px !important; }

#home .video-wrapper {
  position: relative; }

#home .custom-accrodin .card-title {
  margin-bottom: .75rem;
  font-weight: 500;
  padding: 0 0 0 10px; }

#home .custom-accrodin .card-body {
  padding: 5px 15px 5px 30px; }

#home #demos1 {
  padding: 10px 0 0 70px; }

#home .interview-wrapper {
  background: #fff;
  padding: 15px 0 15px 0;
  border-radius: 3px; }

#home h5 {
  font-weight: 500;
  font-size: 16px; }

#home .title-box-int p {
  margin: 0;
  font-size: 14px;
  font-weight: 500; }

#home .title-box-int {
  padding: 0 0 10px 0; }

#home .testimonial-content-holder {
  overflow: hidden;
  padding: 20px 20px 0px 20px; }

#home .interview-bg-ico {
  position: absolute;
  width: 43px !important;
  right: -15px;
  bottom: 0px; }

#home .owl-item .interview-wrapper {
  opacity: 0.6; }

#home .owl-item.active.center .interview-wrapper {
  opacity: 1; }

#home .interview-section.grey.lighten-5 .owl-prev {
  left: 22% !important;
  top: 80px; }

#home .interview-section.grey.lighten-5 .owl-next {
  right: 22%;
  top: 80px; }

#home .interview-section .owl-dots {
  display: none; }

#home .testimonial-content-holder p {
  font-size: 13px;
  font-weight: 500;
  color: #939393; }

#home .h1-responsive {
  font-size: 270%; }

#home .btn {
  font-size: 1.2rem;
  font-weight: 500;
  white-space: nowrap; }

#home .triangle {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
  position: absolute;
  right: -20px;
  bottom: 0; }

#home .custom-accrodin {
  background: transparent; }

#home .accordion .card .card-header {
  padding: 1rem 1.5rem;
  background: 0 0;
  border-bottom: 0; }

#home .custom-accrodin .card-title {
  border-left: 2px solid #fed008; }

#home .video-button,
#home .video-button:focus,
#home .video-button:hover {
  color: #fed008; }

#home .triangle-0 {
  width: 40px;
  height: 38px;
  border-bottom: solid 20px #fed008;
  border-right: solid 20px #fed008;
  border-left: solid 20px transparent;
  border-top: solid 20px transparent; }

#home .st-cont-box {
  background: white;
  margin-bottom: 11px;
  padding: 15px 15px 15px 15px;
  border-radius: 0px 15px 15px 15px;
  font-size: 14px; }

#home .bg-red {
  background: #f07272;
  color: #ffffff; }

#home .st-content-container {
  width: calc(100% - 130px);
  overflow: hidden;
  padding: 37px 22px 50px 21px;
  background: url("../img/st-cont-bg.png") no-repeat;
  background-size: contain; }
  @media screen and (max-width: 900px) {
    #home .st-content-container {
      width: calc(100%); } }

#home .st-content-wrap {
  padding: 20px 0 0 0; }

#home .st-cont-avatar {
  max-width: 130px;
  display: inline-block;
  width: 130px;
  float: left;
  padding: 80px 0 0 25px; }
  #home .st-cont-avatar img {
    width: 100%; }

#home .st-arrow-holder {
  display: flex;
  align-items: center; }
  #home .st-arrow-holder img {
    margin: 120px 0 0 -30px; }

#home .st-scrren-img {
  position: relative; }
  #home .st-scrren-img .st-batch {
    position: absolute; }

#home .st-scrren-img .st-batch {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  padding: 10px 0 0 0;
  right: 110px;
  top: 22px; }

#home .st-batch span {
  color: #272727;
  background: #fed008;
  height: 80px;
  width: 80px;
  display: inline-block;
  border-radius: 50%;
  padding: 23px 0 0 0; }

#home .img-responsive {
  max-width: 100%; }

#home .st-detail-img {
  margin: 50px 0px 0 0; }

#home .pull-right {
  float: right; }

#home .st-detail-feature {
  padding-left: 50px; }
  #home .st-detail-feature .features-content {
    min-height: 150px; }
  #home .st-detail-feature .ico-holder {
    float: left;
    padding: 0 23px 0 0;
    display: inline-block; }
    #home .st-detail-feature .ico-holder img {
      width: 80px; }

#home .flex-container {
  display: flex;
  align-items: stretch;
  padding: 50px 30px 0 30px; }

#home .flex-container > div {
  width: 100px; }

#home .premium-img-cnt1 {
  float: right; }

#home .premium-img-cnt1 img {
  margin: 0 -30px 0 0; }

#home .premium-img-cnt2 img {
  margin: 10px 0 0 -30px; }

#home .premium-logo-wrap {
  text-align: center; }
  #home .premium-logo-wrap span {
    background: #ffffff;
    height: 130px;
    display: inline-block;
    width: 130px;
    border-radius: 50%;
    text-align: center;
    border: 10px solid #f2f2f2;
    padding: 35px 0 0 0;
    margin: 47% 0 0 0; }
    #home .premium-logo-wrap span img {
      width: 91px;
      margin: 7px 0 0 0; }

#home .logo-holder .unstyle {
  list-style: none;
  display: inline-block;
  float: right; }
  #home .logo-holder .unstyle li {
    display: inline-block;
    padding: 0 30px 0 10px; }

#home .logo-contents {
  padding: 30px 0 30px 20px;
  color: #626262; }

#home .logo-holder {
  overflow: hidden;
  padding: 35px 0 0 0; }

#home .st-cont-avatar img {
  width: 100%; }

@media (max-width: 1280px) {
  #home #projects .pb-4 {
    padding-bottom: 0.5rem !important; } }

@media (max-width: 1024px) {
  #home #projects .container-fluid {
    width: 90%; }
  #home .premium-plan-img {
    max-width: 100% !important; } }

@media (max-width: 960px) {
  #home .video-wrapper {
    margin: 0 0 40px 0; }
  #home #demos1 {
    padding: 10px 0 0 0px; }
  #home .st-cont-avatar {
    display: none !important; }
  #home .bg-img2 {
    padding: 50px 0 50px 50px;
    min-height: auto; }
  #home .process-content {
    min-height: 256px; } }

@media (max-width: 768px) {
  #home .premium-holder {
    flex-direction: column-reverse;
    justify-content: flex-end; }
  #home .owl-nav {
    display: none; }
  #home #about .col {
    margin-bottom: 20px; }
  #home .st-arrow-holder {
    display: none; }
  #home .st-detail-feature {
    padding-left: 0px; } }

@media (max-width: 768px) {
  #home .owl-dots {
    display: none; }
  #home .st-detail-feature {
    padding-left: 0px;
    padding-bottom: 20px; }
  #home .st-detail-feature .ico-holder {
    float: none;
    padding: 0 23px 0 0;
    display: block; }
  #home .st-scrren-img img {
    width: 100%; }
  #home .st-scrren-img .st-batch {
    right: 20px; } }

#sysmgmt #navbar {
  background: rgba(0, 0, 0, 0.4) !important; }

#sysmgmt .sys-feature-icon {
  background: #fed008;
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 10px 0 0 0;
  margin: 0 0 15px 0; }

#sysmgmt .step-content-box {
  padding: 30px 0 20px 0;
  margin: 40px 0 50px 0; }

#sysmgmt h5.font-bold {
  font-size: 16px;
  margin-bottom: 10px; }

#sysmgmt .inner-header {
  padding: 110px 0 50px 0;
  color: #ffffff; }

#sysmgmt .bg-1 {
  background: url("../imgs/sys-footer-bg.jpg") no-repeat fixed center;
  background-size: auto auto;
  background-size: cover; }

#sysmgmt .banner-bg a {
  min-width: 130px;
  margin: 0 5px 0 0; }

@media (max-width: 768px) {
  #sysmgmt .step-content-box {
    padding: 30px 10px 20px 10px;
    margin: 40px 10px 50px 10px; }
  #sysmgmt .st-step-1 img, #sysmgmt .feature-img-first img {
    width: 100%; } }
span.hyphen {
  font-size: 30px;
}
.agent-plan-note
{
  padding-top: 12px;
  font-size: 12px;
}
table.simple.pricing-table td.plan-step-td span {
  position: relative;
  bottom: -24px;
}
