@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .custom-wrapper{
        margin-top: 150px;
    }
    .modal.fade {
        transition: unset !important;
    }
    .selection-popup .modal-content .modal-form form .form-group .form-input .selected-file {
        margin-top: 10px !important;
    }
    #dropzoneCandidate {
        margin-bottom: 10px;
    }
}
