
.modal.modal-right-pop {
    padding-right: 0 !important;
}

.modal.modal-right-pop .modal-dialog {
    max-width: 700px !important;
    width: 700px !important;
    min-width: 700px !important;
}

.modal.modal-right-pop .modal-dialog {
    margin-right: 0;
    margin-top: 0 !important;
    margin-bottom: 0;
}

.modal.modal-right-pop .modal-dialog .modal-content {
    border-radius: 0;
    padding: 0;
    border-top: none;
}

.modal.modal-right-pop .modal-dialog .modal-content .wrapper-up {
    padding: 30px 60px 30px 60px;
}

.modal.modal-right-pop .modal-dialog .modal-head {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 0px;
    background: #f3f3f3;
    height: 70px;
    align-items: center;
}

.modal.modal-right-pop .modal-dialog .modal-head .modal-title {
    margin-bottom: 0;
    padding: 15px 50px 15px 20px;
    line-height: 1.5;
    width: 97%;
}

.modal.modal-right-pop .modal-dialog .modal-head .modal-title h2 {
    font-size: 20px;
    margin: 5px 0 0 10px;
    font-weight: 700;
}

.modal.modal-right-pop .modal-dialog .modal-body {
    padding: 0;
    height: calc(100vh - 140px);
    overflow-y: auto;
    overflow-x: hidden;
}

.modal.modal-right-pop .modal-dialog .modal-footer {
    background: #f3f3f3;
    height: 70px;
    padding: 0 80px 0 20px;
    z-index: 1;
    display: flex;
    align-items: center;
}

.modal.modal-right-pop .modal-dialog .modal-footer .btn {
    min-width: 100px;
}

.modal.modal-right-pop .modal-dialog .shadow-box {
    box-shadow: 10px 0px 40px #a2a2a2;
    z-index: 1;
    position: relative;
}

.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    transition-delay: 3s;
}


.modal.right .modal-content {
    height: 100%;
}


.modal.right .modal-body {
    padding: 15px 15px 80px;
}



/*Right*/
.modal.right.fade .modal-dialog {
    transition-delay: 3s;
    right: 0px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}