body, h1, h2, h3, h4, h5, h6 {
  font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}

.h2, h2 {
  font-size: 25px;
  font-weight: 400;
}

.h5, h5 {
  font-size: 1.1rem;
  font-weight: 500;
}

.lead {
  font-size: 16px;
  font-weight: 500;
}

section {
  padding: 30px 0 50px 0;
}

p {
  font-size: $default-font-size;
  font-weight: 500;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}