.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.p-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.force-center {
  margin: 0 auto !important;
}

.mt-2 {
  margin-top: 2em !important;
}

.bg-1 {
  /* Create the parallax scrolling effect */
  background: url("../img/bg1.jpg") no-repeat fixed center;
  background-size: cover;
}

.bg-pattern {
  background: url("../img/pattern.png");
}

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.ml-0 {
  margin: 0 0 0 -15px !important;
}

.pt-3 {
  padding-top: 5rem !important;
}

.waves-block {
  position: absolute;

  width: 14rem;

  height: 14rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
}

.waves-block .waves {
  position: absolute;

  width: 14rem;

  height: 14rem;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  border-radius: 320px;
  background-clip: padding-box;
  -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
}

.waves-block .wave-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.waves-block .wave-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.waves-block .wave-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.bg-custom {
  background: #fed008;
}

.grey.lighten-5 {
  background: #edf1f2 !important;
}

.text-yellow{
  color: $color-primary;
}
.header-divider {
  background: #fed008;
}
.header-divider {
  width: 55px;
  height: 3px;
  display: inline-block;
  margin: 0px 0 10px 0;
}
.header-divider-white {
  background: #fff;
}
