<template>
  <section class="case-study-list">
    <div class="container">
      <div class="main-title">
        <div class="row">
          <div class="col-12">
            <h2>事例記事</h2>
          </div>
        </div>
      </div>
      <div class="selection-filter-container pb-2 pt-4" v-if="pagination.total_pages > 1">
        <div class="row m-0">
          <div class="col-lg-12 p-0">
            <pagination :pagination="pagination" :current-page="query.page" @updated="onPageChanged"/>
          </div>
        </div>
      </div>
      <div class="list-item">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12" v-for="(interview, index) in interviews" :key="index">
            <div class="case-study-item">
              <a :href="baseUrl+'/interview/'+interview.interview_no">
                <figure v-if="interview.list_img">
                  <img :src="imagePath+'/interview/list_img/'+interview.list_img" alt="" >
                </figure>
                <figure v-else>
                  <img src="../../../images/landing/case-study-img.jpg" alt="" >
                </figure>
                <div class="case-info">
                  <h3>{{ interview.company_type | truncate(46)}}</h3>
                  <p>
                    <template v-if="interview.company_name_first">
                      {{ interview.company_name_first | truncate(28) }} <br>
                    </template>
                    <template v-if="interview.company_name_second">
                      {{ interview.company_name_second | truncate(28) }}
                    </template>
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="selection-filter-container pb-2 pt-4" v-if="pagination.total_pages > 1">
        <div class="row m-0">
          <div class="col-lg-12 p-0">
            <pagination :pagination="pagination" :current-page="query.page" @updated="onPageChanged"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script type="text/ecmascript-6">


import Pagination               from "../../../../js/modules/ats/pagination"
import { setQueryStringObject } from "../../../../js/utils"
import InterviewService         from "../../services/interviewService"

export default {
  name:"InterviewList",
  components: { Pagination },
  props: {
    filter: { type: Object, required: true },
    imagePath: { type: String, required: true },
    baseUrl: { type: String, required:true }
  },
  data: () => ({
    query: {
      page: 1,
    },
    interviews: [],
    pagination: {
      total: 60,
      per_page: 5,
      total_pages: 12,
    },
  }),
  watch: {
    filter: {
      handler(query) {
        if (query) {
          const defaultQuery = this.query
          this.query = { ...defaultQuery, ...query }
          this.fetchInterviewList()
        }
      },
      immediate: true,
    },
  },
  methods: {
    async fetchInterviewList() {
      setQueryStringObject(this.query)
      const { data, pagination } = await InterviewService.getInterviewList(this.query)
      this.interviews = data
      this.pagination = pagination
    },
    onPageChanged(pageNumber) {
      this.query.page = pageNumber
      this.fetchInterviewList()
    },
  }

}
</script>