<template>
  <div :id="modalId" class="modal right fade modal-right-pop " :class="modalClass" tabindex="-1" role="dialog"
       aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content custom-scroll">
        <div class="modal-head" v-if="modalHeader">
          <div class="modal-title ">
            <slot name="title"></slot>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-form">
              <slot></slot>

          </div>
        </div>

        <div class="modal-footer shadow-box" v-if="modalFooter">
          <slot name="footer"></slot>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: "ModalRight",
  props: {
    modalId: { type: String, required: true },
    modalClass: { type: String, default: "" },
    modalHeader: { type: Boolean, default: true },
    modalFooter: { type: Boolean, default: true },
  },
}
</script>
