.navbar.custom-navbar{
  span.premium-class {
    background: #2d9bb7;
    color: #ffffff;
    font-size: 12px;
    border-radius: 0px 10px 10px 0;
    padding: 2px 10px 3px 10px;
  }
  .navbar-toggler {

    border-color: rgba(0,0,0,0.0);
    &:focus{
      border-color: rgba(0,0,0,0.0) !important;
      outline: none;
    }
  }
  a.navbar-brand{
    img{
      max-width: 100px;
      width: 100px;
    }
  }


  .navbar-nav .dropdown-menu {
    left: unset;
    right: 0;
    background: white;
    padding: 8px;
    min-width: 180px;

  }

  .useer-info-box {
    background: #f9f9f9;
    font-size: 12px;
    display: flex;
    border-radius: 4px 4px 0 0px;
    flex-direction: column;
    padding: 5px 0 5px 14px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 5px;
    span.usernameHolder {
      font-size: 14px;
      white-space: nowrap;
      width: 210px;
      overflow: hidden;
      text-overflow: ellipsis;

    }

    span.emailHolder {
      color: #2d9bb7;
      white-space: nowrap;
      width: 210px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }


  .nav-link {
    color: rgba(0,0,0,.9) ;
    margin-right: 10px;
    span.notification-count {
      background: red;
      color: $white;
      font-size: 10px;
      width: 20px;
      height: 20px;
      display: inline-flex;
      text-align: center;
      border-radius: 50px;
      justify-content: center;
      align-self: center;
      align-items: center;
      margin: 0px 0 0 0px;
      position: relative;
      top: -2px;
    }

  }
  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-menu {

    border: 1px solid $gray-900;
    img.arrow-dropdown {
      width: 15px;
      position: absolute;
      right: 18px;
      top: -8px;
    }
    .dropdown-item {
      font-size: 14px;
      padding: 5px 0 5px 13px;
    }
    .dropdown-item.active, .dropdown-item:active {
      color: inherit;
      background-color: inherit;
    }
  }

}




.navbar.custom-navbar li.nav-item.user-account-link.dropdown{
  .dropdown-menu img.arrow-dropdown {
    right: 10px;
    top: -8px;
  }
    .dropdown-menu {
    top: 50px;
  }
}


.navbar-right{
  a.nav-link img {
    max-width: 20px;
  }
  li.nav-item.bell-notification{
    a.nav-link{
      position: relative;
    }
    span.notification-count-dot {
      background: red;
      width: 11px;
      display: inline-block;
      height: 11px;
      border-radius: 50px;
      position: absolute;
      right: -3px;
      top: -2px;
      border: 2px solid $white;
    }
  }
  a.nav-link.user-account-a-link {
    border: 1px solid #292B2F;
    height: 36px;
    width: 36px;
    text-align: center;
    border-radius: 110px;
    background: #2D9BB7;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    font-size: 13px;
    text-transform: uppercase;

    img{
      max-width: 15px;
    }
    &:hover{
      color: $white;
    }
    &:focus{
      color: $white;
    }
  }
}
.navbar-wrap {

  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

@media (max-width: 991px) {
  .navbar.custom-navbar {
    .navbar-brand {

      padding: 10px 0 10px 15px;
    }
    padding: 0;
    .menubar-wrap{
      width: 100%;
      ul{
        margin-top: 0px !important;
      }
      li.nav-item {
        border-top: 1px solid $gray-400;
        align-items: center;
        justify-content: center;
        .nav-link-wrapper{
          position: relative;
          .nav-link {
            padding: 12px 20px 10px 15px;
          }
          .dropdown-menu{
            position: absolute;
          }
        }
      }
    }
  }

  .navbar-wrap {
    flex-direction: column-reverse;
  }
  .log-wrap{
    ul{
      position: relative;
      top: 5px;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      li{
        margin: 10px 0 0 10px;
        span.notification-count-dot {
          right: -2px !important;
          top: 0px !important;
        }
        a.nav-link.user-account-a-link {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}



.dropdown-menu.dropdown-notification {
  min-width: 340px;
  .notif-actions {
    text-align: right;
    border-bottom: 1px solid #dddfe2;
    a {
      font-size: 13px;
      padding: 0 10px 10px 0;
      display: inline-block;
      color: #f36f21;
    }
  }
  ul#notification-ul {
    padding: 0;
    list-style: none;
    font-size: 13px;
    span.notification-link.text-center.empty-notif {
      font-size: 12px;
      padding-top: 6px;
      display: inline-block;
      color: $gray-600;
    }

    li.notif-link{
      padding: 10px 0px 5px 10px;
      border-bottom: 1px solid #e6e6e6;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms;
      a{
        color: #686868;
      }
      span.dropdown-message-box {

        width: 100%;
        display: block;
        overflow: hidden;

        span.profile-img {
          display: inline-block;
          float: left;
          img {
            border-radius: 50px;
            width: 40px;
          }
        }
        .media-body {
          overflow: hidden;
          width: calc( 100% - 40px);
          display: inline-block;
          padding: 0 0 0 5px;
          span.notification-link {
            display: block;
            width: 100%;
          }
        }
      }

      &:hover{
        background: rgba(255, 228, 206, 0.69);

      }
    }
  }

  .text-center.last-child-li a {
    color: #f36f21;
    font-size: 13px;
    padding-top: 11px;
    display: inline-block;
  }
}


.mobile-navigation {
  display: none;

  align-items: center;
  justify-content: center;

  .dropdown-menu.dropdown-notification {
    position: absolute;
      .last-child-li {
      padding-top: 10px;
    }
    ul#notification-ul {
      flex-direction: column;
    }
  }
  li.nav-item.user-account-link{
    .dropdown-menu {
      position: absolute;
    }
  }

  .log-wrap ul li {
    margin: 0px 0 0 10px;
  }
  .log-wrap  {
    margin: 0px 0 0 10px;
    li.nav-item.bell-notification.dropdown {
      padding: 0px 20px 0 0px;
      margin-top: 5px;
      position: relative;
      top: -2px;
    }

    .navbar-right a.nav-link.user-account-a-link {

      height: 30px;
      width: 30px;
    }
  }

}


.navbar.custom-navbar .mobile-navigation li.nav-item.user-account-link.dropdown .dropdown-menu {
  top: 40px;
  right: -4px;
}
@media (max-width: 991px) {

  .mobile-navigation {
    display: flex !important;


  }
  .log-wrap.d-none-sm{
    display: none;
  }
}
