<template>
    <button
        ref="loading"
        :class="buttonClass"
        :data-style="dataStyle"
        :data-spinner-color="dataSpinnerColor"
        @click="handleClick">
        <slot><span class="ladda-label">Submit</span></slot>
    </button>
</template>

<script>
    import * as Ladda from "ladda";

    export default {
        name: "Loading",

        props: {
            // customizable button's class attribute - you can use your own CSS class
            "buttonClass": {
                type: String,
                default: "ladda-button",
            },
            // use vue props validation to make sure "data-style" is given. (ladda need it)
            "dataStyle": {
                type: String,
                default: "expand-left",
            },
            // use vue props validation to make sure "data-spinner-color" is given. (ladda need it)
            "dataSpinnerColor": {
                type: String,
                default: "#495057",
            },
            // loading prop to change the status of this component.
            loading: {
                type: Boolean,
                required: true,
            },
            progress: {
                validator: function(progress) {
                    return progress >= 0 && progress <= 1;
                },
                default: 0,
            },
        },

        watch: {
            loading: function(loading) {
                loading ? this.ladda.start() : this.ladda.stop();
            },

            progress: function(progress) {
                this.ladda.setProgress(progress);
            },
        },

        mounted: function() {
            this.ladda = Ladda.create(this.$refs.loading);
            this.loading ? this.ladda.start() : this.ladda.stop();
        },

        beforeDestroy: function() {
            this.ladda.remove();
            delete this.ladda;
        },

        methods: {
            handleClick: function(e) {
                this.$emit("click", e);
            },
        },
    };
</script>
