<template>
    <div id="modalAddUser" class="modal fade right defaultModal modal-right-pop add-user-modal" role="dialog">
        <div class="modal-dialog adduser-modal">
            <!-- Modal content-->
            <div class="modal-content custom-scroll">
                <div class="modal-head">
                    <div class="modal-title ">
                        <div class="row">
                            <div class="col-6">
                                <h2 v-if="!id">ユーザー追加</h2>
                                <h2 v-else>ユーザー変更</h2>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" class="add-form">
                    <div class="modal-body wrapper-up">
                        <div class="form-group">
                            <label>氏名</label>
                            <input class="form-control" placeholder="" name="client_name"
                                   v-model="client_name"
                                   v-validate="'required|max:100'"
                                   data-vv-scope="user"
                                   data-vv-as="氏名"
                                   :class="{'input': true, 'is-invalid': errors.has('user.client_name') }">
                            <div class="invalid-feedback">
                                <ul>
                                    <li v-show="errors.has('user.client_name')"
                                        v-cloak>
                                        {{ errors.first("user.client_name") }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group" v-if="!id">
                            <label>メールアドレス</label>
                            <input class="form-control" placeholder="" name="email" autocomplete="off"
                                   v-model="email"
                                   v-validate="'required|email|max:100'"
                                   data-vv-scope="user"
                                   data-vv-as="メールアドレス"
                                   :class="{'input': true, 'is-invalid': errors.has('user.email') }">
                            <div class="invalid-feedback">
                                <ul>
                                    <li v-show="errors.has('user.email')"
                                        v-cloak>
                                        {{ errors.first("user.email") }}
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="form-group" v-if="!id">
                            <label>パスワード</label>
                            <input type="password" name="password" class="form-control" autocomplete="off"
                                   v-model="password"
                                   ref="password"
                                   v-validate="'required|min:5'"
                                   data-vv-scope="user"
                                   data-vv-as="パスワード"
                                   :class="{'input': true, 'is-invalid': errors.has('user.password') }">
                            <div class="invalid-feedback">
                                <ul>
                                    <li v-show="errors.has('user.password')"
                                        v-cloak>
                                        {{ errors.first("user.password") }}
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="form-group" v-if="!id">
                            <label>パスワード(確認のため再入力)</label>
                            <input type="password" name="password_confirmation" class="form-control"
                                   v-model="password_confirmation"
                                   v-validate="'required|confirmed:password'"
                                   data-vv-scope="user"
                                   data-vv-as="パスワード"
                                   :class="{'input': true, 'is-invalid': errors.has('user.password_confirmation') }">
                            <div class="invalid-feedback">
                                <ul>
                                    <li v-show="errors.has('user.password_confirmation')"
                                        v-cloak>
                                        {{ errors.first("user.password_confirmation") }}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group" v-if="id">
                            <label>ステータス</label>
                            <select class="form-control" id="publish_status" name="publish_status"
                                    v-model="publish_status"
                                    v-validate="'required'"
                                    data-vv-scope="user"
                                    data-vv-as="権限"
                                    :class="{'input': true, 'is-invalid': errors.has('user.publish_status') }">
                                <option value="Y">アクティブ</option>
                                <option value="N">オフ</option>
                            </select>
                            <div class="invalid-feedback">
                                <ul>
                                    <li v-show="errors.has('user.publish_status')"
                                        v-cloak>
                                        {{ errors.first("user.publish_status") }}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group" v-if="organizationType!=='normal'">
                            <label class="modal-pop-up-inline">権限


                                <span class="custom-css-popup-label popup-right">
                                             <i class="fa fa-info-circle info-ico" aria-hidden="true"></i>
                                                   <span class="custom-css-popup-wrap">

                                                       <div class="arrow-up"></div>
                                                 <b>メンバー</b> <br>
                                                 全ての通知が届きます。<br>
                                                 ユーザーの追加はできません。<br><br>
                                                  <b> RA </b>
                                                 <br>
                                                  自分が担当する求人に関する通知のみ届きます。<br>
                                                 求人票の「担当コンサル」欄で担当する求人を指定できます。<br>
                                                 ユーザーの追加はできません。

                                </span>
                                        </span>


                            </label>

                            <select class="form-control" name="user_type"
                                    v-model="user_type"
                                    v-validate="'required'"
                                    data-vv-scope="user"
                                    data-vv-as="権限"
                                    :class="{'input': true, 'is-invalid': errors.has('user.user_type') }">
                                <option value="normal">メンバー</option>
                                <option value="RA">RA</option>
                            </select>
                            <div class="invalid-feedback">
                                <ul>
                                    <li v-show="errors.has('user.user_type')"
                                        v-cloak>
                                        {{ errors.first("user.user_type") }}
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="form-group content-wrapper" v-if="user_type!=='RA'">
                            <label>通知を受け取る求人（応募時や新着メッセージ受信時など）</label>
                            <div class="checkbox-container-custom">
                                <label class="container">すべて選択
                                    <input v-model="checked" type="checkbox"
                                           @click="OnCheckedBox($event.target.checked)" :disabled="jobs.length == 0">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="sub-checkbox-holder">
                                <div class="checkbox-container-custom pl-4">
                                    <label v-for="(job, index) in jobs"
                                           class="container pb-3">{{ job.job_title| truncateString(18) }}
                                        <input v-model="share_jd" type="checkbox" name="share_jd[]" :value="job.job_id">
                                        <span class="checkmark"/>
                                    </label>

                                    <p class="text-small text-gray-500" v-if="jobs.length == 0">
                                        データが見つかりません
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer shadow-box">

                        <button-loading v-if="!id"
                                        class="btn btn-md btnDefault"
                                        data-style="expand-left"
                                        :loading="addUserLoading"
                                        :disabled="errors.has('user.*') || addUserLoading"
                                        @click.prevent="addUser()">
                            保存
                        </button-loading>
                        <button-loading v-if="id"
                                        class="btn btn-md btnDefault"
                                        data-style="expand-left"
                                        :loading="updateUserLoading"
                                        :disabled="errors.has('user.*') || updateUserLoading"
                                        @click.prevent="updateUser()">
                            保存
                        </button-loading>
                    </div>
                </form>

            </div>

        </div>
    </div>
</template>
<script>
import ModalRight from "../../components/modalRight"
import AccountService from "../../services/accountService"

export default {
    name: "AddUserModal",
    components: { ModalRight },
    props: {
        organizationType: {
            type: String,
            required: true,
        },
        formData: {
            type: Object,
            required: false,
            default: () => ({}),
        },
    },
    data() {
        return {
            id: "",
            addUserLoading: false,
            updateUserLoading: false,
            checked: false,
            client_name: "",
            email: "",
            password: "",
            password_confirmation: "",
            user_type: "",
            publish_status: "",
            share_jd: [],
            jobs: [],
            jobIds: [],
            revokedJd: [],

        }
    },
    watch: {

        formData: {
            handler(data) {
                this.id = data.id || ""
                this.client_name = data.client_name || ""
                this.email = data.email || ""
                this.password = data.password || ""
                this.password_confirmation = data.password_confirmation || ""
                this.user_type = data.user_type || ""
                this.publish_status = data.publish_status || ""
                this.revokedJd = data.revoked_jd || []
                this.share_jd = this.jobIds.filter(val => !this.revokedJd.includes(val))
                this.checked = this.share_jd.length === this.jobs.length
                this.$validator.pause()
                this.$nextTick(() => {
                    this.$validator.errors.clear()
                    this.$validator.fields.items.forEach(field => field.reset())
                    this.$validator.fields.items.forEach(field => this.errors.remove(field))
                    this.$validator.resume()
                })
            },
            deep: true,
            immediate: true,
        },
    },
    mounted() {
        this.fetchOpenJD()
    },
    methods: {
        async fetchOpenJD() {
            const { data } = await AccountService.getAllJobs()
            this.jobs = data
            this.jobIds = this.jobs.map(({ job_id }) => job_id)
        },
        OnCheckedBox(value) {
            this.share_jd = []
            if (value) {
                for (const id in this.jobs) {
                    this.share_jd.push(this.jobs[id].job_id)
                }
            }
        },
        addUser() {
            this.addUserLoading = true
            this.$validator.validate("user.*").then((result) => {
                if (result) {
                    axios.post("/client/account/users", {
                        client_name: this.client_name,
                        email: this.email,
                        password: this.password,
                        password_confirmation: this.password_confirmation,
                        revoked_jd: this.getRevokedJd(),
                        user_type: this.user_type,
                    }).then(response => {
                        this.$toastr.s("成功しました。")
                        location.reload()
                    }).catch(error => {
                        this.addUserLoading = false
                        if (error.response.status == 422) {
                            this.validationErrors = error.response.data
                            if (this.validationErrors.client_name) {
                                this.$validator.errors.add(
                                    { field: "user.client_name", msg: this.validationErrors.client_name[0] })
                            }
                            if (this.validationErrors.email) {
                                this.$validator.errors.add(
                                    { field: "user.email", msg: this.validationErrors.email[0] })
                            }
                            if (this.validationErrors.password) {
                                this.$validator.errors.add(
                                    { field: "user.password", msg: this.validationErrors.password[0] })
                            }
                            if (this.validationErrors.password_confirmation) {
                                this.$validator.errors.add({
                                    field: "user.password_confirmation",
                                    msg: this.validationErrors.password_confirmation[0],
                                })
                            }
                        } else {
                            this.addUserLoading = false
                        }
                    })
                } else {
                    this.addUserLoading = false
                }
            })
            this.addUserLoading = false
        },
        updateUser() {
            this.updateUserLoading = true
            this.$validator.validate("user.*").then((result) => {
                if (result) {
                    axios.post("/client/account/updateuser", {
                        id: this.id,
                        client_name: this.client_name,
                        publish_status: this.publish_status,
                        user_type: this.user_type,
                        revoked_jd: this.getRevokedJd(),
                    }).then(response => {
                        this.$toastr.s("成功しました。")
                        location.reload()
                    }).catch(error => {
                        this.updateUserLoading = false
                        if (error.response.status == 422) {
                            this.validationErrors = error.response.data
                            if (this.validationErrors.client_name) {
                                this.$validator.errors.add(
                                    { field: "user.client_name", msg: this.validationErrors.client_name[0] })
                            }
                            if (this.validationErrors.publish_status) {
                                this.$validator.errors.add(
                                    { field: "user.publish_status", msg: this.validationErrors.publish_status[0] })
                            }
                            if (this.validationErrors.password) {
                                this.$validator.errors.add(
                                    { field: "user.password", msg: this.validationErrors.password[0] })
                            }
                            if (this.validationErrors.password_confirmation) {
                                this.$validator.errors.add({
                                    field: "user.password_confirmation",
                                    msg: this.validationErrors.password_confirmation[0],
                                })
                            }
                        } else {
                            this.updateUserLoading = false
                        }
                    })
                } else {
                    this.updateUserLoading = false
                }
            })
            this.updateUserLoading = false

        },
        getRevokedJd() {
            if (this.user_type === "RA") {
                return []
            }
            return this.jobIds.filter(val => !this.share_jd.includes(val))
        },

    },
}
</script>