<template>
    <div id="delete-user-modal" class="modal fade defaultModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>

                </div>
                <div class="modal-body text-center">

                    <div class="ic-holder">
                        <i class="fa fa-info-circle"></i>
                    </div>
                    <h3>
                        <strong> 実行しますか？</strong>

                    </h3>
                    <div class="modal-btn-holder text-center">
                        <button class="btn btn-warning btn-md btn-alert" data-dismiss="modal">キャンセル</button>
                        <button-loading class="btn btn-primary btn-md btn-alert " type="submit" :loading="deleteUserLoading" @click="deleteUser">はい
                        </button-loading>

                    </div>

                </div>

            </div>

        </div>
    </div>
</template>
<script>
export default {
    name: 'DeleteUserModal',
    props: {
        deleteId: {
            required: true,
        },
    },
    data () {
        return {
            id: "",
            deleteUserLoading: false,
        }
    },
    watch: {

        deleteId: {
            handler(data) {
                this.id = data || ""
            },
            deep: true,
            immediate: true,
        },
    },
    methods:{
        deleteUser() {
            this.deleteUserLoading = true

            axios.post("/client/account/delete", {
                id: this.id,
                client_name: this.client_name,
                publish_status: this.publish_status,
                user_type: this.user_type,
                share_jd: this.share_jd,
            }).then(response => {
                this.$toastr.s("成功しました。")
                location.reload();
            }).catch(error => {
                this.deleteUserLoading = false
            })
            this.deleteUserLoading = false

        }

    }
}
</script>