<template>
    <div>
        <div class="user-management-container">
            <button class="btn btnDefault btn-md btn-add-user"
                    data-toggle="modal"
                    :disabled="userType!=='admin'"
                    @click="addUser">
                <i
                    class="fa fa-plus-circle"/>
                新しいユーザーを追加する
            </button>
            <div v-if="userType!=='admin'" class="user-mgmt-alert">
                <div class="arrow-left"/>
                <i class="fa fa-info-circle info-ico" aria-hidden="true"/>
                <p>
                    ユーザーの追加は管理者のみ可能です
                </p>
            </div>
        </div>

        <div class="jobListWrapper ">
            <div id="example_wrapper"
                 class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <table id="user-list"
                               class="table table-striped table-bordered customTbl dataTable no-footer"
                               role="grid"
                               aria-describedby="example_info"
                               style="width: 100%;"
                               width="100%"
                               cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        登録番号
                                    </th>
                                    <th class="text-center">
                                        氏名
                                    </th>
                                    <th class="text-center">
                                        メールアドレス
                                    </th>
                                    <th class="text-center">
                                        権限
                                        <span class="custom-css-popup-label">
                                            <i class="fa fa-info-circle info-ico" aria-hidden="true"/>
                                            <span class="custom-css-popup-wrap">

                                                <div class="arrow-up"/>
                                                <b>管理者</b><br>
                                                全ての通知が届きます。<br>
                                                ユーザーの追加ができます。<br><br>

                                                <b>メンバー</b> <br>
                                                全ての通知が届きます。<br>
                                                ユーザーの追加はできません。<br><br>
                                                <b> RA </b>
                                                <br>
                                                自分が担当する求人に関する通知のみ届きます。<br>
                                                求人票の「担当コンサル」欄で担当する求人を指定できます。<br>
                                                ユーザーの追加はできません。<br>
                                            </span>
                                        </span>
                                    </th>
                                    <th class="text-center">
                                        ステータス
                                    </th>
                                    <th class="text-center">
                                        登録日
                                    </th>
                                    <th class="text-center">
                                        アクション
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(user, index) in usersList"
                                    :key="index">
                                    <td class="text-center">
                                        <span>{{ user.registration_no }}</span>
                                        <i v-if="user.suppressed === 1"
                                           class="fa fa-exclamation-circle info-ico color-red cursor-pointer font-size-20 custom-css-popup-label"
                                           aria-hidden="true"
                                           data-toggle="tooltip"
                                           data-placement="bottom"
                                           title="このメールアドレスは送信エラーで受信されていない状態です。このユーザー（アドレス）が現在も存在するか確認してください。"/>
                                    </td>
                                    <td class="text-center">
                                        {{ user.client_name }}
                                    </td>
                                    <td class="text-center"
                                        :class="{'color-red cursor-pointer' : user.suppressed === 1}">
                                        <span v-if="user.suppressed === 1"
                                              data-toggle="tooltip"
                                              data-placement="bottom"
                                              title="このメールアドレスは送信エラーで受信されていない状態です。このユーザー（アドレス）が現在も存在するか確認してください。">
                                            {{ user.email }}
                                        </span>
                                        <span v-else>{{ user.email }}</span>
                                    </td>
                                    <td class="text-center">
                                        <template v-if="user.user_type==='admin'">
                                            管理者
                                        </template>
                                        <template v-if="user.user_type==='RA'">
                                            RA
                                        </template>
                                        <template v-else>
                                            メンバー
                                        </template>
                                    </td>
                                    <td class="status text-center">
                                        <small v-if="user.email_verified === 1 && user.publish_status === 'Y'" class="label label-success">
                                            <i class="fa fa-check-square fa-acc-status"/>
                                            アクティブ
                                        </small>
                                        <small v-else class="label label-primary">
                                            <i class="fa fa-times fa-acc-status"/>
                                            オフ
                                        </small>
                                    </td>
                                    <td class="text-center">
                                        {{ user.created_at|dateWithoutTime }}
                                    </td>
                                    <td class="actionTd text-center">
                                        <template v-if="user.application_status==='I' || user.application_status==='L'">
                                            <span v-if="userType==='admin'&&user.client_id!==clientId" @click="editUser(user.client_id)">
                                                <a href="javascript:void(0)"
                                                   class="no-prop"
                                                   data-toggle="tooltip"
                                                   data-placement="bottom"
                                                   title="編集">
                                                    <i class="fa fa-pencil"
                                                       aria-hidden="true"/>
                                                </a>
                                            </span>
                                        </template>

                                        <span v-if="userType==='admin'&&user.client_id!==clientId" @click="deleteUser(user.client_id)">
                                            <a data-toggle="tooltip"
                                               href="#add-user"
                                               data-placement="bottom"
                                               title="削除">
                                                <i class="fa fa-trash"
                                                   aria-hidden="true"/>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <add-user-modal :organization-type="organizationType" :form-data="formData"/>
        <delete-user-modal :delete-id="deleteId"/>
    </div>
</template>
<script>
    import AccountService  from "../../services/accountService"
    import AddUserModal    from "./add-user-modal"
    import DeleteUserModal from "./delete-user-modal"

    export default {
        name: "UserList",
        components: { AddUserModal, DeleteUserModal },
        props: {
            organizationType: {
                type: String,
                required: true,
            },
            users: {
                required: true,
            },
            userType: {
                type: String,
                required: true,
            },
            clientId: {
                type: Number,
                required: true,
            },
        },
        data() {
            return {
                formData: {
                    id: "",
                    client_name: "",
                    email: "",
                    password: "",
                    password_confirmation: "",
                    user_type: "",
                    publish_status: "",
                    revoked_jd: {},
                },
                deleteId: "",
                usersList: JSON.parse(this.users),

            }
        },
        methods: {
            addUser() {
                this.formData.id = ""
                this.formData.client_name = ""
                this.formData.email = ""
                this.formData.user_type = ""
                this.formData.password = ""
                this.formData.password_confirmation = ""
                this.formData.publish_status = ""
                this.formData.revoked_jd = []
                $("#modalAddUser").modal("show")
            },
            async editUser(id) {
                const { data } = await AccountService.getAccountDetail(id)
                this.formData.id = data.id || ""
                this.formData.client_name = data.client_name || ""
                this.formData.email = data.email || ""
                this.formData.user_type = data.user_type || ""
                this.formData.publish_status = data.publish_status || ""
                this.formData.revoked_jd = data.revoked_jd || {}
                $("#modalAddUser").modal("show")
            },
            deleteUser(id) {
                this.deleteId = id
                $("#delete-user-modal").modal("show")
            },
        },
    }
</script>
