.btn{

  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

.btn-secondary {
  color: $white;
  background-color: $gray-900;
  border-color: $gray-900;
}
.btn-primary, .btn-primary:not(:disabled):not(.disabled):active {
  color: $white;
  background-color: $primary !important;
  border-color: $primary !important;
  &:hover{
    color: $white;
    background-color: $primary !important;
    border-color: $primary !important;
    opacity: 0.9;
  }
  &:focus{
    color: $white;
    background-color: $primary !important;
    border-color: $primary !important;
    opacity: 0.9;
    box-shadow: 0 0 0 0.2rem rgba(38,143,255,0);
  }
}


.btn-gray {
  color: $gray-900;
  background-color: $gray-400;
  border-color: $gray-400;
  &:hover{
    color: $gray-900 !important;
    background-color: $gray-400;
    border-color: $gray-400;
    opacity: 0.9;
  }
  &:focus{
    color: $gray-900 !important;
    background-color: $gray-400;
    border-color: $gray-400;
    opacity: 0.9;
    box-shadow: 0 0 0 0.2rem rgba(38,143,255,0);
  }
}

.btn-100{
  min-width: 100px;
}

button.btn.btn-round-primary {
  background: $primary;
  border-radius: 50px;
  width: 40px;
  color: $white;
  border: 2px solid $gray-900;

  height: 40px;
  text-align: center;
  &:hover{
    opacity: 0.8;
  }
}


.btn-agent-yellow {
  background-color:#FEE551; ;
   border:#FEE551;
  color: #292B2F;
  font-size:14px !important;
  font-weight: bold;
  border-radius: 5px !important;
  padding: 7px 12px;

  &:hover{
    color: #292B2F !important;
  }
  &:focus{
    color: #292B2F !important;
  }

}

button.btn.btn-round-agent {
  background: #fee551;
  border-radius: 50px;
  width: 40px;
  color:#212529;
  border: 2px solid #292B2E;

  height: 40px;
  text-align: center;
  &:hover{
    opacity: 0.8;
  }
}


