/*!
 * Ladda including the default theme.
 */
@import '~ladda/css/ladda.scss';

/*************************************
 * CONFIG
 */

$green: #2aca76;
$blue: #53b5e6;
$red: #ea8557;
$purple: #9973C2;
$mint: #16a085;


/*************************************
 * BUTTON THEME
 */

.ladda-button {
    @include buttonColor('green', $green);
    @include buttonColor('blue', $blue);
    @include buttonColor('red', $red);
    @include buttonColor('purple', $purple);
    @include buttonColor('mint', $mint);

    &[disabled],
    &[data-loading] {
        &, &:hover {
            cursor: default;
        }
    }

    &[data-size=xs] {
        padding: 4px 8px;

        .ladda-label {
            font-size: 0.7em;
        }
    }

    &[data-size=s] {
        padding: 6px 10px;

        .ladda-label {
            font-size: 0.9em;
        }
    }

    &[data-size=l] .ladda-label {
        font-size: 1.2em;
    }

    &[data-size=xl] .ladda-label {
        font-size: 1.5em;
    }
}
