
.modal-header{
  border-bottom: 0px;
 .close {

    position: absolute;
    right: 10px;
    top: 15px;
  }
}
.modal-content {
  color: $gray-900;
}
.modal-footer{
  border-top: 0px;
}
@media (min-width: 576px){
  .modal-dialog {
    width: 800px;
    margin: 5rem auto;
  }
}
