nav.pagination-custom {
    .pagination{
        display: flex !important;
    }
 display: flex;
  justify-content: flex-end;
  .page-link{
    border: 1px solid transparent;
    color: $gray-900;
    padding: 5px 7px 5px 7px;
    margin-left: 5px;
      background: transparent;
    &:hover{
      background: transparent;
    }
    &:focus{
      box-shadow: none;
    }
  }
  .page-item.disabled .page-link{
    border-color: transparent;
  }
  .page-item.active .page-link {
    z-index: 1;
    color: $white;
    background-color: $primary;
    border-color: $gray-900;
    border-radius: 2px;
  }
  .page-item:last-child .page-link {
    font-size: 20px;     padding: 0px 3px 0 3px;
  }
  .page-item:first-child .page-link {
    font-size: 20px;     padding: 0px 3px 0 3px;
  }
}

button.page-link.cursor-not-allowed.btn-dot {
    margin: 0px -8px 0px -8px;
}
