// Global styling for this template

body {

  font-size: 14px;
  color: $gray-900;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;

  }
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}
h4{
  font-size: 18px;
}

h5{
  font-size: 16px;

}
h6{
  font-size: 14px;
}
p{
  font-size: 14px; line-height: 25px;
  .lead {
    font-size: 1.15rem;
    font-weight: 400;
  }

}
.text-small{
  font-size:12px;
}

@media (min-width: 1200px){
  .container {
    max-width: 1100px;
  }
}

[v-cloak] * {
  display: none !important;
}

//[v-cloak] > * { display: none; }
[v-cloak]::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 8px solid $gray-600;
  border-top: 8px solid $primary;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


