body, p {
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6{
  font-family: source-han-sans-japanese, sans-serif;

  font-weight: 700;

  font-style: normal;
}
.invalid-feedback {
  ul{
    padding-left: 0px;
    list-style-type: none;
    margin-bottom: 0;
    padding-right: 0px;
  }

}
.invalid-feedback-custom {
  font-size: 80%;
  color: #dc3545 !important;
}