<template>
    <div class="container h-screen-fit selection-management-list container-full">
        <search-bar :value="query.searchText" @search="onSearch"/>

        <div class="section-tab-holder mt-4">
            <div class="row">
                <div class="col-lg-12">
                    <div class="custom-tab-wrapper text-center">
                        <div class="tab-header">
                            <div class="tbl-data-count pt-2" style="min-width: 60px">
                                <span class="current-data">{{ pagination.total }}件 </span>
                            </div>

                            <div class="tab-ul-holder">
                                <ul id="pills-tab" class="nav nav-pills mb-3">
                                    <li v-for="(label, tabName) in tabs"
                                        :key="tabName"
                                        class="nav-item">
                                        <a class="nav-link "
                                           :class="{active: query.type === tabName}"
                                           href="#"
                                           @click.prevent="onTabSelect(tabName)">
                                            {{ label }}
                                            <span class="tab-count" v-text="getFromObject(stats, tabName, 0)"/>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="tab-content pb-5 pt-3">
                            <div class="tab-pane fade show active">
                                <candidates-table :candidates="candidates"
                                                  :pagination="pagination"
                                                  :filter="query"
                                                  :base-url="baseUrl"
                                                  @filterChanged="onFilterChange"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import SelectionManagementService from "../../services/SelectionManagementService"
    import { setQueryStringObject }   from "../../utils"
    import CandidatesTable            from "./partials/CandidatesTable"
    import SearchBar                  from "./partials/SearchBar"

    export default {
        name: "CandidateList",

        components: { CandidatesTable, SearchBar },

        props: {
            filter: { type: Object, required: true },
          baseUrl: { type: String, required: true },
        },

        data: () => ({
            query: {
                searchText: "",
                type: "all",
                page: 1,
                sortBy: "unread_notification",
            },

            tabs: {
                under_selection: "選考中",
                unofficial_offer: "内定",
                unofficial_consent: "内定承諾-入社待ち",
                joined: "入社済み",
                declined_fail: "辞退/不合格",
                all: "すべて",
            },

            candidates: [],
            pagination: {
                total: 60,
                per_page: 5,
                total_pages: 12,
            },
            stats: {},
        }),

        watch: {
            filter: {
                handler(query) {
                    if (query) {
                        const defaultQuery = this.query
                        this.query = { ...defaultQuery, ...query }
                    }
                },
                immediate: true,
            },

            query: {
                handler() {
                    this.fetchCandidateList()
                },
                deep: true,
            },
        },

        beforeMount() {
            this.fetchStats()
        },
      created () {
        Bus.$on('fetchCandidateData', (data) => {
          this.fetchCandidateList()
        })
      },
        methods: {
            onSearch(search) {
                this.$set(this.query, "page", 1)
                this.$set(this.query, "searchText", search)
            },

            onTabSelect(name) {
                this.$set(this.query, "page", 1)
                this.$set(this.query, "type", name)
            },

            onFilterChange(filter) {
                this.query = filter
            },

            async fetchStats() {
                this.stats = await SelectionManagementService.getStatsByTypes()
            },

            async fetchCandidateList() {
                setQueryStringObject(this.query)

                const { data, pagination } = await SelectionManagementService.getCandidateList(this.query)
                this.candidates = data
                this.pagination = pagination
            },

        },
    }
</script>
