.case-study {
    &.inner {
        padding: 90px 0 60px;
    }
}

.case-study-list {
    padding: 60px 0 110px 0;
    .case-study-item {
        .case-info {
            padding: 20px 20px 10px;
        }
    }
}

.case-study-detail {
    padding: 80px 0 0;
    @include respond(phone) {
        padding: 40px 0 0;
    }
    .case-study-header {
        padding: 0 55px;
        margin-bottom: 60px;
        @include respond(phone) {
            padding: 0;
        }
        figure {
            margin-bottom: 32px;
            img {
                max-width: 100%;
                width: 100%;
                height: 480px;
                object-fit: cover;
                @include respond(phone) {
                    height: auto;
                }
            }
        }
        .title {
            margin-bottom: 20px;
            h1 {
                font-size: 28px;
                font-weight: 700;
                color: #333333;
                margin-bottom: 20px;
                @include respond(phone) {
                    font-size: 24px;
                }
            }
            span {
                display: block;
                font-size: 16px;
                font-weight: 400;
                color: #333333;
            }
        }
        .user-info {
            background-color: #F4F4F4;
            padding: 35px 45px;
            @include respond(phone) {
                padding: 20px;
            }
            h3 {
                font-size: 20px;
                font-weight: 700;
                color: #333;
                margin-bottom: 32px;
            }
            .user-detail {
                .user-detail-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin-bottom: 30px;
                    @include respond(phone) {
                        flex-direction: column;
                    }
                    figure {
                        flex: 1;
                        margin-bottom: 0;
                        @include respond(tab-land) {
                            flex: 1.3;
                        }
                        @include respond(tab-port) {
                            flex: 1.8;
                        }
                        @include respond(phone) {
                            margin-bottom: 10px;
                        }
                        img {
                            width: 100px;
                            height: 100px;
                            object-fit: cover;
                            border-radius: 50%;
                            @include respond(phone) {
                                width: 80px;
                                height: 80px;
                            }
                        }
                    }
                    .info {
                        flex: 6;
                        h4 {
                            font-size: 16px;
                            font-weight: 700;
                            color: #333333;
                            margin-bottom: 10px;
                        }
                        p {
                            font-size: 14px;
                            font-weight: 400;
                            color: #333333;
                        }
                    }
                }
            }
            .interview-summary {
                margin-top: 40px;
                h5 {
                    font-size: 20px;
                    font-weight: 700;
                    color: #333;
                    margin-bottom: 15px;
                }
                ul {
                    margin-left: 25px;
                    li {
                        list-style-type: disc;
                        font-size: 14px;
                        font-weight: 400;
                        margin-bottom: 2px;
                    }
                }
            }
        }
    }
    .case-study-list {
        padding: 0 55px;
        @include respond(phone) {
            padding: 0;
        }
        .case-study-list-wrapper {
            margin-bottom: 35px;
            h2 {
                font-size: 24px;
                font-weight: 700;
                color: #333333;
                margin-bottom: 25px;
            }
            p {
                font-size: 16px;
                font-weight: 300;
                color: #333333;
                line-height: 1.8;
                margin-bottom: 22px;
            }
            figure {
                img {
                    max-width: 100%;
                    width: 100%;
                    height: 480px;
                    object-fit: cover;
                    @include respond(phone) {
                        height: auto;
                    }
                }
            }
        }
    }
}