.qa-ans-label {
    width: 13%;
    float: left;
}
.pl-15 {
    padding-left: 15px;
}
.listing-navigation
{
    float: right;
}

.case-study-item .case-info {
    padding: 20px 25px;
    min-height: 142px;
}
.download-form {
    margin-bottom: 60px;
    .download-wrapper {
        input.vs__search {
            min-height: 46px;
        }
        .vs__dropdown-toggle {
            background: #ffffff;
            border-color: transparent;
        }
        .vs__actions {
            display: flex;
            align-items: center;
            padding: 4px 0px 0 0px;
            font-size: 15px;
            width: 32px;
        }
        .vs__open-indicator {
            fill: none;
            transform: unset;
            transition: unset;
            transition-timing-function: unset;
            background-image: url("../../images/download/selectdw.png");
            background-repeat: no-repeat;
            width: 40px;
        }

        .check-box-wrapper {
            display: inline-block;
            input.form-check-box.form-control.input{
                width: unset;
                float: left;
            }
            label.form-checkbox-label {
                margin: 7px 0 0 10px;
            }
            .form-control.is-invalid:focus {
                border-color: transparent;
                box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 0%);
            }
        }

        span.ladda-spinner {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-top: -11px;
        }

        .Selectdw {
            color: #495057;
        }
        .btn-send
        {
            span.ladda-spinner {
                position: absolute;
                left: 50%;
            }
        }
    }
    }
.partners .partner-list .partner-item img {
    max-width: 200px;
    max-height: 136px;
}

.blog-section-cmt img.img-responsive {
    max-width: 100%;
}




/* The container */
.container-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000000;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 9px;
    top: 3px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
label.container-checkbox a {
    text-decoration: none;
    color: #000000;
    padding-bottom: 3px;
    border-bottom: 1px solid #000000;
}
.checkbox-col {
    padding: 40px 0;
}
