.inner-banner {
     text-align: center;
     background-color: #17A2B8;
     padding: 70px 0;
     font-size: 28px;
     font-weight: 700;
     h1 {
         font-size: 28px;
         font-weight: 700;
         color: #fff;
     }
 }

.download-success {
    padding: 80px 0;
    text-align: center;
    h3 {
        font-size: 24px;
        font-weight: 700;
        color: #333333;
        margin-bottom: 70px;
    }
    img {
        max-width: 100%;
        width: 570px;
        height: auto;
    }
}

.download-document {
    padding: 40px 0 60px;
    figure {
        img {
            max-width: 100%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            @include respond(tab-port) {
                display: block;
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
    .info {
        margin-left: 50px;
        margin-top: 40px;
        @include respond(tab-port) {
            margin-left: 0;
            margin-top: 0;
        }
        h4 {
            color: #333333;
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 25px;
        }
        ul {
            li {
                list-style-type: disc;
                color: #222222;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 2px;
                margin-left: 35px;
            }
        }
    }
}

.download-form {
    margin-bottom: 60px;
    .download-wrapper {
        background-color: #E8F8FA;
        padding: 35px 85px 55px;
        @include respond(tab-port) {
            padding: 30px;
        }
        @include respond(phone) {
            padding: 20px;
        }
        .form-group {
            label {
                font-size: 16px;
                font-weight: 400;
                color: #222222;
                span {
                    color: red;
                }
            }
            .form-control {
                width: 100%;
                height: 55px;
                padding: 0 20px;
                border: 1px solid #fff;
                line-height: 1;
                outline: none;
                box-shadow: none;
                &:focus {
                    border: 1px solid #222;
                }
                &::placeholder {
                    color: #D6D6D6;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
        .form-check {
            margin: 60px 0 25px;
            color: #222222;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            label {
                a {
                    color: inherit;
                    text-decoration: underline;
                }
            }
        }
        .btn-send {
            width: 510px;
            display: block;
            margin: 0 auto;
            height: 55px;
            @include respond(phone) {
                width: 100%;
            }
        }
    }
}

.Selectdw {
    appearance: none;
    background-image: url("../../images/download/selectdw.png");
    background-repeat: no-repeat;
    background-position: 97% 24px;
    color: #D6D6D6;
    font-size: 16px;
    font-weight: 400;
    option {
        color: #5c5c5c;
        font-size: 16px;
        font-weight: 400;
    }
}
