header {
    .navbar {
        padding: 10px 50px;
        @include respond(tab-land) {
            padding: 10px 0;
        }
        .navbar-brand {
            img {
                max-width: 130px;
                height: auto;
            }
        }
        .navbar-toggler {
            background: #c3e5eb;
            border: none;
            padding: 4px;
        }
        .navbar-collapse {
            justify-content: flex-end;
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        font-size: 15px;
                        font-weight: 700;
                        color: #292B2F;
                        padding: 10px 20px;
                        transition: all linear 0.3s;
                        &:hover {
                            color: #FD7E14;
                        }
                        @include respond(tab-land) {
                            padding: 10px 12px;
                        }
                        @include respond(tab-port) {
                            text-align: center;
                        }
                    }
                    &.login {
                        .nav-link {
                            background: #292B2F;
                            min-width: 140px;
                            text-align: center;
                            color: #fff;
                            transition: all linear 0.3s;
                            &:hover {
                                opacity: 0.8;
                            }
                            @include respond(tab-land) {
                                min-width: 110px;
                            }
                            @include respond(tab-port) {
                                margin-bottom: 10px;
                            }
                        }
                    }
                    &.free-trail {
                        .nav-link {
                            background: #FD7E14;
                            text-align: center;
                            min-width: 140px;
                            color: #fff;
                            transition: all linear 0.3s;
                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }
}

.banner {
    padding: 90px 0 70px 0;
    @include respond(tab-port) {
        padding: 50px 0;
    }
    background-color: #17A2B8;
    .banner-title {
        @include respond(tab-port) {
            text-align: center;
            margin-bottom: 50px;
        }
        figure {
            margin-bottom: 30px;
            @include respond(tab-land) {
                margin-bottom: 15px;
            }
            img {
                max-width: 350px;
                height: auto;
                @include respond(tab-land) {
                    max-width: 200px;
                }
            }
        }
        h1 {
            font-size: 28px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 30px;
            @include respond(tab-land) {
                font-size: 24px;
                margin-bottom: 25px;
            }
            @include respond(phone) {
                margin-bottom: 15px;
            }
        }
        p {
            font-size: 16px;
            color: #fff;
            line-height: 1.7;
            margin-bottom: 80px;
            @include respond(tab-land) {
                margin-bottom: 25px;
            }
            br {
                @include respond(tab-land) {
                    display: none;
                }
            }
        }
        .actions {
            .btn-orange {
                margin-right: 15px;
                @include respond(phone) {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
            button {
                @include respond(phone) {
                    width: 100%;
                }
            }
        }
    }
    .banner-img {
        position: relative;
        img {
            max-width: 100%;
        }
        .banner-offer {
            position: absolute;
            left: 50px;
            top: 20px;
            @include respond(tab-land) {
                left: 40px;
            }
            @include respond(tab-port) {
                left: 50%;
                top: 90px;
                transform: translate(-80%, 0);
            }
            @include respond(phone) {
                left: 50%;
                top: 0;
            }
            h3 {
                position: relative;
                font-size: 28px;
                font-weight: 700;
                text-align: center;
                color: #fff;
                line-height: 1.4;
                @include respond(tab-land) {
                    font-size: 22px;
                }
                @include respond(phone) {
                    font-size: 18px;
                }
                &::before {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 110px;
                    background-color: #fff;
                    bottom: 0;
                    left: -40px;
                    transform: rotate(328deg);
                    @include respond(phone) {
                        height: 60px;
                        left: -20px;
                    }
                }
                &::after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 110px;
                    background-color: #fff;
                    bottom: 0;
                    right: -40px;
                    transform: rotate(-328deg);
                    @include respond(phone) {
                        height: 60px;
                        right: -20px;
                    }
                }
                p {
                    font-size: 17px;
                    font-weight: 700;
                    span {
                        font-size: 28px;
                    }
                }
                .small {
                    font-size: 17px;
                    font-weight: 700;
                }
                br {
                    @include respond(tab-port) {
                        display: none;
                    }
                }
            }
        }
    }
}

.partners {
    padding: 60px 0;
    @include respond(tab-port) {
        padding: 30px 0;
    }
    .partner-list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        .partner-item {
            margin-right: 20px;
            transition: all linear 0.3s;
            &:hover {
                transform: scale(1.050);
            }
            @include respond(tab-port) {
                margin-bottom: 20px;
            }
            img {
                max-width: 200px;
                @include respond(tab-land) {
                    max-width: 150px;
                }
                @include respond(phone) {
                    max-width: 130px;
                }
            }
        }
    }
}

.main-title {
    h2 {
        position: relative;
        font-size: 24px;
        font-weight: 700;
        color: #292B2F;
        margin-left: 20px;
        &::before {
            position: absolute;
            content: "";
            background-color: #17A2B8;
            width: 8px;
            height: 44px;
            top: -7px;
            left: -20px;
        }
    }
}

.aboutus {
    position: relative;
    background-color: #E8F8FA;
    padding: 60px 0;
    &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 50%;
        transform: translate(-50%, -25px);
        width: 175px;
        height: 108px;
        background-color: #E8F8FA;
        clip-path: polygon(100% 0, 0 0, 50% 100%);
    }
    .about-info {
        margin-top: 40px;
        margin-bottom: 130px;
        @include respond(phone) {
            margin-top: 30px;
            margin-bottom: 75px;
        }
        h3 {
            font-size: 42px;
            font-weight: 700;
            color: #292B2F;
            line-height: 1.4;
            margin-bottom: 50px;
            @include respond(tab-land) {
                font-size: 36px;
                margin-bottom: 30px;
            }
            @include respond(tab-port) {
                font-size: 30px;
            }
            @include respond(phone) {
                font-size: 24px;
                margin-bottom: 20px;
            }
            br {
                @include respond(tab-port) {
                    display: none;
                }
            }
        }
        p {
            font-size: 16px;
            font-weight: 500;
            color: #333333;
            line-height: 1.8;
            br {
                @include respond(tab-land) {
                    display: none;
                }
            }
        }
        figure {
            @include respond(phone) {
                margin-top: 30px;
            }
            img {
                max-width: 100%;
            }
        }
    }
    .recruiter-troubles {
        position: relative;
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        padding: 90px 100px;
        @include respond(phone) {
            padding: 30px;
        }
        .recruiter-troubles-title {
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translate(-50%, 0);
            @include respond(phone) {
                position: static;
                margin-bottom: 40px;
                transform: none;
            }
            h3 {
                background-color: #292B2F;
                color: #fff;
                font-size: 24px;
                font-weight: 700;
                min-width: 670px;
                padding: 20px 6px;
                text-align: center;
                @include respond(tab-port) {
                    min-width: 450px;
                }
                @include respond(phone) {
                    min-width: auto;
                    font-size: 18px;
                }
            }
        }
        figure {
            img {
                display: block;
                max-width: 100%;
            }
        }
        ul {
            li {
                font-size: 16px;
                font-weight: 700;
                color: #333333;
                margin-bottom: 6px;
                ul {
                    margin-left: 20px;
                    margin-top: 10px;
                    li {
                        font-weight: 500;
                    }
                }
            }
        }
        .population-formation {
            @include respond(tab-port) {
                margin-bottom: 60px;
            }
            .main-title {
                margin-bottom: 30px;
                h2 {
                    font-size: 22px;
                    &::before {
                        width: 8px;
                        height: 29px;
                        top: -2px;
                    }
                }
            }
            figure {
                margin-bottom: 20px;
            }
        }
        .management {
            .main-title {
                margin-bottom: 30px;
                h2 {
                    font-size: 22px;
                    &::before {
                        background-color: #FD7E14;
                        width: 8px;
                        height: 29px;
                        top: -2px;
                    }
                }
            }
            figure {
                margin-bottom: 20px;
            }
        }
    }
}

.analytics {
    padding: 150px 0 75px 0;
    @include respond(tab-port) {
        padding: 150px 0 35px;
    }
    .analytics-wrapper {
        @include respond(tab-port) {
            margin-bottom: 30px;
        }
        .analytics-title {
            background-color: #17A2B8;
            padding: 30px;
            h3 {
                color: #fff;
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 22px;
                @include respond(phone) {
                    margin-bottom: 12px;
                }
            }
            p {
                color: #fff;
                font-size: 16px;
                font-weight: 500;
                br {
                    @include respond(tab-land) {
                        display: none;
                    }
                }
            }
            &.orange {
                background-color: #FD7E14;
            }
        }
        figure {
            background-color: #fff;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            padding: 30px;
            min-height: 560px;
            @include respond(tab-land) {
                min-height: 470px;
            }
            @include respond(phone) {
                min-height: auto;
            }
            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
            }
        }
    }
}

.service-feature {
    padding: 75px 0 0 0;
    margin-bottom: 160px;
    @include respond(tab-port) {
        margin-bottom: 120px;
    }
    @include respond(phone) {
        margin-bottom: 70px;
    }
    .service-list {
        margin-top: 45px;
        margin-bottom: 75px;
        figure {
            img {
                max-width: 100%;
                @include respond(tab-port) {
                    display: block;
                    max-width: 60%;
                    margin: 0 auto;
                    margin-bottom: 10px;
                }
                @include respond(phone) {
                    max-width: 100%;
                }
            }
        }
        .service-title {
            margin-left: 40px;
            @include respond(tab-port) {
                margin-left: 0;
                text-align: center;
            }
            span {
                display: block;
                font-family: 'Roboto', sans-serif;
                color: #17A2B8;
                font-size: 60px;
                font-weight: 900;
            }
            img {
                margin-bottom: 7px;
            }
            h2 {
                font-size: 32px;
                font-weight: 400;
                color: #333333;
                margin-bottom: 12px;
                line-height: 1.3;
                @include respond(phone) {
                    font-size: 24px;
                }
                br {
                    @include respond(phone) {
                        display: none;
                    }
                }
            }
            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 1.8;
                color: #333333;
                br {
                    @include respond(tab-land) {
                        display: none;
                    }
                }
            }
        }
        &.alternate {
            .service-title {
                margin-left: 0;
                margin-right: 40px;
                @include respond(tab-port) {
                    margin-right: 0;
                }
            }
            .push {
                @include respond(tab-port) {
                    order: 2;
                }
            }
            .pull {
                @include respond(tab-port) {
                    order: 1;
                }
            }
        }
    }
}

.kpi-simulation {
    position: relative;
    margin-bottom: 90px;
    .kpi-title {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translate(-50%, 0);
        @include respond(phone) {
            position: static;
            transform: none;
        }
        h3 {
            background-color: #292B2F;
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            min-width: 670px;
            padding: 20px 6px;
            text-align: center;
            @include respond(tab-port) {
                min-width: 450px;
            }
            @include respond(phone) {
                min-width: auto;
                font-size: 18px;
            }
        }
    }
    .kpi-wrapper {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
        padding: 85px 100px 85px 140px;
        @include respond(tab-land) {
            padding: 85px;
        }
        @include respond(phone) {
            padding: 30px;
        }
        .kpi-wrapper-list {
            @include respond(tab-port) {
                text-align: center;
                margin-bottom: 50px;
            }
            h3 {
                font-size: 23px;
                font-weight: 500;
                margin-bottom: 12px;
                color: #222222;
            }
            ul {
                margin-bottom: 12px;
                li {
                    margin-left: 35px;
                    font-size: 23px;
                    font-weight: 700;
                    color: #222222;
                    margin-bottom: 5px;
                    @include respond(tab-port) {
                        margin-left: 0;
                    }
                    h3 {
                        position: relative;
                        @include respond(tab-port) {
                            display: inline-block;
                        }
                        &::before {
                            position: absolute;
                            content: "";
                            width: 13px;
                            height: 13px;
                            background-color: #17A2B8;
                            border-radius: 50%;
                            top: 11px;
                            left: -28px;
                        }
                    }
                }
            }
            p {
                font-size: 23px;
                font-weight: 500;
                margin-bottom: 40px;
                color: #222222;
            }
        }
        .kpi-wrapper-image {
            img {
                max-width: 100%;
                @include respond(tab-port) {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}

.case-study {
    padding: 40px 0 110px 0;
    @include respond(phone) {
        padding: 10px 0 50px 0;
    }
    .item {
        padding: 20px;
        @include respond(tab-land) {
            padding: 15px;
        }
    }
    .see-more {
        text-align: right;
        margin-top: 15px;
        a {
            display: inline-block;
            text-align: center;
            background-color: #FD7E14;
            color: #fff;
            min-width: 170px;
            padding: 12px;
            border-radius: 50px;
            font-size: 18px;
            transition: all linear 0.3s;
            &:hover {
                transform: scale(1.050);
                box-shadow: 0 4px 10px #53280566;
            }
        }
    }
}

.case-study-item {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    margin-top: 50px;
    @include respond(phone) {
        margin-top: 30px;
    }
    figure {
        img {
            max-width: 100%;
            border-radius: 15px 15px 0 0;
            transition: all linear 0.3s;
        }
    }
    .case-info {
        padding: 20px 25px;
        h3 {
            white-space: nowrap;
            width: 270px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 18px;
            font-weight: 700;
            color: #3B3B3B;
            margin-bottom: 10px;
            @include respond(tab-land) {
                width: auto;
            }
        }
        p {
            font-size: 16px;
            font-weight: 400;
            color: #3B3B3B;
            br {
                @include respond(phone) {
                    display: none;
                }
            }
        }
    }
}

.rate-plan {
    background-color: #E8F8FA;
    padding: 60px 0 120px 0;
    @include respond(tab-port) {
        padding: 60px 0;
    }
    .plan-figure {
        padding: 0 90px;
        @include respond(tab-port) {
            padding: 15px;
        }
        ul {
            background-color: #fff;
            &.plan-item {
                position: relative;
                padding: 15px 0 30px 30px;
                border-right: 1px solid #C9C9C9;
                transform: translate(0, 162px);
                @include respond(tab-port) {
                    transform: translate(0, 140px);
                    border-right: none;
                    padding: 20px;
                    margin-bottom: 170px;
                }
                li {
                    font-size: 14px;
                    font-weight: 700;
                    color: #4B4B4B;
                    padding: 14px;
                    &:not(:last-child) {
                        border-bottom: 1px solid #C9C9C9;
                    }
                }
            }
            &.category {
                position: absolute;
                top: 0;
                left: -46px;
                height: 100%;
                @include respond(tab-port) {
                    left: 0;
                    top: -110px;
                    width: 100%;
                    height: auto;
                }
                .category-one {
                    background-color: #17A2B8;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50%;
                    font-size: 18px;
                    font-weight: 700;
                    color: #fff;
                    line-height: 1.2;
                    br {
                        @include respond(tab-port) {
                            display: none;
                        }
                    }
                }
                .category-two {
                    background-color: #FD7E14;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50%;
                    font-size: 18px;
                    font-weight: 700;
                    color: #fff;
                    line-height: 1.2;
                    br {
                        @include respond(tab-port) {
                            display: none;
                        }
                    }
                }
            }
        }
        .free-plan-wrapper {
            @include respond(tab-port) {
                margin-bottom: 30px;
            }
            h2 {
                font-size: 20px;
                font-weight: 700;
                color: #292B2F;
                background-color: #fff;
                padding: 20px;
                text-align: center;
            }
            h3 {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                font-weight: 700;
                color: #292B2F;
                min-height: 98px;
                background-color: #E5E5E5;
            }
            .free-plan {
                min-height: 492px;
                padding: 15px 30px 20px 0;
                @include respond(tab-land) {
                    padding: 36px 30px 20px 0;
                }
                @include respond(tab-port) {
                    min-height: auto;
                    padding: 15px;
                }
                li {
                    font-size: 18px;
                    color: #17A2B8;
                    text-align: center;
                    padding: 11px;
                    &:not(:last-child) {
                        border-bottom: 1px solid #C9C9C9;
                    }
                }
            }
        }
        .paid-plan-wrapper {
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
            h2 {
                font-size: 20px;
                font-weight: 700;
                color: #17A2B8;
                background-color: #fff;
                padding: 20px;
                text-align: center;
            }
            h3 {
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 45px;
                color: #fff;
                min-height: 98px;
                background-color: #17A2B8;
                span {
                    font-size: 20px;
                    margin: 10px 0 0 10px;
                }
            }
            .paid-plan {
                min-height: 500px;
                padding: 15px 30px 30px 30px;
                @include respond(tab-land) {
                    padding: 36px 30px 20px 0;
                }
                @include respond(tab-port) {
                    min-height: auto;
                    padding: 15px;
                }
                li {
                    font-size: 18px;
                    font-weight: 500;
                    color: #17A2B8;
                    text-align: center;
                    padding: 11px;
                    &:not(:last-child) {
                        border-bottom: 1px solid #C9C9C9;
                    }
                }
            }
        }
    }
}

.cta {
    background-color: #17A2B8;
    padding: 60px 0;
    .cta-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond(tab-port) {
            flex-direction: column;
            text-align: center;
        }
        .cta-title {
            @include respond(tab-port) {
                margin-bottom: 30px;
            }
            h2 {
                font-size: 32px;
                font-weight: 700;
                color: #fff;
                margin-bottom: 30px;
                @include respond(phone) {
                    font-size: 28px;
                    margin-bottom: 20px;
                }
            }
            p {
                font-size: 16px;
                font-weight: 400;
                color: #fff;
                margin-bottom: 40px;
                line-height: 1.8;
                br {
                    @include respond(tab-land) {
                        display: none;
                    }
                }
            }
            .actions {
                .btn-orange {
                    margin-right: 15px;
                    @include respond(phone) {
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                }
                button {
                    @include respond(phone) {
                        width: 100%;
                    }
                }
            }
        }
        .cta-image {
            margin-left: 80px;
            @include respond(tab-port) {
                margin-left: 0;
            }
            figure {
                img {
                    width: 435px;
                    height: auto;
                    @include respond(phone) {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

.flow-use {
    padding: 125px 0 115px 0;
    @include respond(tab-port) {
        padding: 85px 0 115px 0;
    }
    @include respond(phone) {
        padding: 85px 0 75px 0;
    }
    .flow-use-wrapper {
        margin-top: 40px;
        background-color: #E8F8FA;
        padding: 60px 0;
    }
    .flow-use-list {
        position: relative;
        li {
            &:not(:last-child) {
                @include respond(phone) {
                    margin-bottom: 70px;
                }
            }
        }
        .number {
            display: block;
            font-size: 30px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            background-color: #fff;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #707070;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            top: -40px;
        }
        figure {
            margin-bottom: 25px;
            img {
                width: 100%;
                display: block;
                margin: 0 auto;
                transition: all linear 0.3s;
                &:hover {
                    box-shadow: 0 8px 20px #3a767d57;
                }
            }
        }
        h2 {
            position: relative;
            text-align: center;
            font-size: 25px;
            font-weight: 700;
            color: #333333;
            margin-bottom: 40px;
            @include respond(phone) {
                margin-bottom: 20px;
            }
            &::before {
                position: absolute;
                content: "";
                background-color: #17A2B8;
                width: 55px;
                height: 3px;
                left: 50%;
                transform: translate(-50%, 0);
                bottom: -10px;
            }
        }
        a {
            display: block;
            font-size: 16px;
            font-weight: 500;
            color: #333333;
            line-height: 1.8;
            text-align: center;
            transition: all linear 0.3s;
            &:hover {
                color: #FD7E14;
            }
        }
    }
}

.media {
    position: relative;
    padding: 0 0 100px 0;
    @include respond(phone) {
        padding: 0 0 45px 0;
    }
    .media-title {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translate(-50%, 0);
        @include respond(phone) {
            position: static;
            transform: none;
        }
        h3 {
            background-color: #292B2F;
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            min-width: 670px;
            padding: 20px 6px;
            text-align: center;
            @include respond(tab-port) {
                min-width: 450px;
            }
            @include respond(phone) {
                min-width: auto;
                font-size: 18px;
            }
        }
    }
    .media-list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
        padding: 75px 75px 40px 75px;
        @include respond(phone) {
            padding: 30px;
        }
        li {
            margin-right: 20px;
            transition: all linear 0.3s;
            &:hover {
                transform: scale(1.050);
            }
            @include respond(tab-port) {
                margin-bottom: 20px;
            }
            img {
                max-width: 170px;
                height: auto;
                @include respond(phone) {
                    max-width: 110px;
                }
            }
        }
    }
}

.faq {
    padding: 75px 0 55px 0;
    @include respond(phone) {
        padding: 35px 0 20px;
    }
    .qa-list {
        margin-top: 70px;
        @include respond(phone) {
            margin-top: 40px;
        }
        .qa-item {
            margin-bottom: 25px;
            .question {
                h3 {
                    color: #292929;
                    font-size: 22px;
                    font-weight: 700;
                    background-color: #E8F8FA;
                    padding: 30px;
                    @include respond(phone) {
                        font-size: 20px;
                        padding: 20px;
                    }
                }
            }
            .answer {
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #292929;
                    padding: 20px 10px 10px 20px;
                    line-height: 2;
                    br {
                        @include respond(tab-port) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.company-opration {
    padding: 55px 0 65px 0;
    @include respond(phone) {
        padding: 25px 0 65px 0;
    }
    .title {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        color: #333333;
        margin-bottom: 45px;
    }
    .company-detail {
        padding: 0 60px;
        @include respond(phone) {
            padding: 0;
        }
        li {
            display: flex;
            align-items: flex-start;
            margin-bottom: 25px;
            padding-top: 25px;
            border-top: 1px solid #CECECE;
            @include respond(phone) {
                align-items: center;
                flex-direction: column;
                text-align: center;
            }
            h3 {
                flex: 1;
                font-size: 16px;
                font-weight: 700;
                color: #111111;
                margin-left: 25px;
                @include respond(phone) {
                    margin-left: 0;
                    margin-bottom: 6px;
                }
            }
            h4 {
                flex: 3;
                font-size: 16px;
                font-weight: 400;
                color: #111111;
                line-height: 2;
            }
        }
    }
}

footer {
    background-color: #292B2F;
    .site-footer {
        padding: 55px 0 30px;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
        gap: 15px;
        @include respond(phone) {
            grid-template-columns: 1fr 1fr;
        }
        .footer-logo {
            @include respond(tab-port) {
                grid-column: 1 / 6;
                margin-bottom: 10px;
            }
            @include respond(phone) {
                grid-column: 1 / 3;
            }
            figure {
                img {
                    max-width: 145px;
                    height: auto;
                }
            }
        }
        .footer-link {
            ul {
                li {
                    a {
                        display: block;
                        color: #fff;
                        font-size: 13px;
                        font-weight: 400;
                        margin-bottom: 15px;
                        transition: all linear 0.3s;
                        &:hover {
                            padding-left: 6px;
                        }
                    }
                }
            }
        }
        .social-icon {
            ul {
                display: flex;
                li {
                    margin-right: 25px;
                    a {
                        display: inline-block;
                        color: #fff;
                    }
                }
            }
        }
    }
    .site-copyright {
        padding: 25px 0;
        text-align: center;
        color: #fff;
        font-size: 12px;
        font-weight: 400;
    }
}