.kpi-steps {
    padding: 90px 0 120px;
    @include respond(tab-port) {
        padding: 65px 0;
    }
    h2 {
        position: relative;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        color: #333333;
        margin-bottom: 90px;
        @include respond(tab-port) {
            font-size: 24px;
            margin-bottom: 55px;
        }
        &::before {
            position: absolute;
            content: "";
            background-color: #E8F8FA;
            width: 68%;
            height: 20px;
            bottom: -6px;
            z-index: -1;
            left: 50%;
            transform: translate(-50%, 0);
            @include respond(tab-land) {
                width: 82%;
            }
            @include respond(tab-port) {
                width: 100%;
            }
        }
    }
    .kpi-step {
        &:not(:last-child) {
            padding: 0 30px 60px;
            margin-bottom: 60px;
            border-bottom: 1px dashed #707070;
            @include respond(tab-port) {
                padding: 0 30px 40px;
                margin-bottom: 40px;
            }
            @include respond(tab-port) {
                padding: 0 10px 40px;
            }
        }
        &.step-one {
            @include respond(tab-land) {
                overflow-x: scroll;
            }
        }
        h3 {
            font-size: 24px;
            font-weight: 700;
            color: #222222;
            text-align: center;
            margin-bottom: 35px;
            @include respond(tab-port) {
                font-size: 20px;
            }
        }
        form {
            .form-group {
                display: flex;
                justify-content: center;
                align-items: center;
                input {
                    width: 135px;
                    height: 48px;
                    border: 2px solid #222222;
                    margin-right: 15px;
                }
                label {
                    font-size: 22px;
                    font-weight: 700;
                }
            }
        }
        .value-list {
            display: flex;
            flex-wrap: wrap;
            li {
                background-color: #fff;
                box-shadow: 0 0 20px rgba(148, 148, 148, 0.16);
                padding: 15px;
                margin-right: 25px;
                margin-bottom: 25px;
                flex-basis: 46%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                @include respond(tab-port) {
                    flex-basis: 100%;
                    margin-right: 0;
                }
                @include respond(phone) {
                    flex-direction: column;
                    justify-content: center;
                }
                .number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #E9E9E9;
                    border: 1px solid #000;
                    min-width: 55px;
                    height: 55px;
                    border-radius: 50px;
                    margin-right: 20px;
                    @include respond(phone) {
                        margin-right: 0;
                        margin-bottom: 15px;
                    }
                    span {
                        display: block;
                        font-family: 'Roboto', sans-serif;
                        font-size: 32px;
                        font-weight: 700;
                    }
                }
                .detail {
                    @include respond(phone) {
                        text-align: center;
                    }
                    h4 {
                        font-size: 16px;
                        font-weight: 500;
                        br {
                            @include respond(tab-land) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .btn-orange {
        margin: 0 auto;
        display: block;
    }
    .candidate-graph-wrapper {
        height: 230px;
        min-width: 1030px;
        .candidate-status {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                border: 1px dashed #b8b8b8;
                top: 70%;
                transform: translate(0, -50%);
                z-index: -1;
            }
            li {
                position: relative;
                span {
                    display: block;
                    font-size: 16px;
                    font-weight: 700;
                    color: #222222;
                    margin-bottom: 10px;
                    text-align: center;
                }
                h4 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Roboto', sans-serif;
                    font-size: 28px;
                    font-weight: 700;
                    color: #17A2B8;
                    background-color: #C7E9EE;
                    min-width: 135px;
                    height: 48px;
                    border-radius: 4px;
                }
                .kpi-arrow {
                    position: relative;
                    &::before {
                        position: absolute;
                        content: "";
                        background-image: url("../../images/kpi/kpi-status-line.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 21px;
                        height: 52px;
                        top: 0;
                        left: 80px;
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        background-image: url("../../images/kpi/kpi-status-arrow.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 34px;
                        height: 52px;
                        top: 0;
                        right: -156px;
                    }
                    form {
                        position: absolute;
                        left: 80%;
                        top: 26px;
                        .form-group {
                            position: relative;
                            margin: 0;
                            label {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-family: 'Roboto', sans-serif;
                                font-size: 12px;
                                font-weight: 700;
                                background-color: #E9E9E9;
                                border: 1px solid #000;
                                width: 22px;
                                height: 22px;
                                border-radius: 50px;
                                position: absolute;
                                top: 050%;
                                left: 10px;
                                transform: translate(0, -50%);
                                ;
                            }
                            input {
                                width: 120px;
                                height: 43px;
                                border: 1px solid #222222;
                                font-size: 26px;
                                font-weight: 700;
                                color: #222222;
                                padding: 15px 15px 15px 45px;
                                margin-right: 6px;
                                &::placeholder {
                                    font-size: 26px;
                                    font-weight: 700;
                                    color: #b8b8b8;
                                }
                            }
                            span {
                                display: block;
                                font-family: 'Roboto', sans-serif;
                                font-size: 18px;
                                font-weight: 700;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.kpi-result {
    background-color: #F7F7F7;
    padding: 80px 0;
    @include respond(tab-port) {
        padding: 45px 0;
    }
    .result-detail {
        margin-bottom: 130px;
        @include respond(tab-port) {
            margin-bottom: 70px;
        }
        .result-title {
            text-align: center;
            h3 {
                display: inline-block;
                position: relative;
                text-align: center;
                font-size: 30px;
                font-weight: 700;
                color: #333333;
                margin-bottom: 60px;
                z-index: 999;
                @include respond(tab-port) {
                    font-size: 24px;
                    margin-bottom: 30px;
                }
                &::before {
                    position: absolute;
                    content: "";
                    background-color: #E8F8FA;
                    width: 110%;
                    height: 20px;
                    bottom: 4px;
                    left: 50%;
                    z-index: -1;
                    transform: translate(-50%, 0);
                    @include respond(phone) {
                        width: 100%;
                    }
                }
                span {
                    font-family: 'Roboto', sans-serif;
                    font-size: 60px;
                    font-weight: 700;
                }
            }
        }
        .result-image {
            position: relative;
            img {
                display: block;
                max-width: 100%;
                width: 615px;
                height: auto;
                margin: 0 auto;
            }
            h4 {
                position: absolute;
                bottom: 11%;
                left: 50%;
                transform: translate(-50%, 0);
                font-size: 40px;
                font-weight: 700;
                color: #000;
                @include respond(phone) {
                    bottom: 13%;
                    font-size: 20px;
                }
                span {
                    font-family: 'Roboto', sans-serif;
                    font-size: 80px;
                    font-weight: 700;
                    @include respond(phone) {
                        font-size: 45px;
                    }
                }
            }
        }
    }
}