._new_authentication {


  .alert-message {
    border: 1px solid #000000;
    padding: 30px 30px;
    min-width: 534px;
    border-radius: 3px;

    img.alert-icon {
      width: 70px;
      margin-bottom: 20px;
    }
  }

  .form-control:focus {
    color: #495057;
  }

  //login
  .login-wrapper {

    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #000;
    border-radius: 5px;
    overflow: hidden;

    .brand-logo {
      margin-bottom: 35px;
    }

    .rightCol {
      padding: 0 50px 0 30px;

      @media (max-width: 768px) and (min-width: 575px) {
        padding: 0 25px 0 15px;
      }

      @media(max-width: 575px) {
        padding: 35px 15px;

        h3 {
          text-align: center;
        }
      }
    }

    .switcher-text {
      &:after {
        right: 0;
      }

      &.paid-plan {
        &:after {
          right: 0;
        }
      }
    }

    .form-control {
      &.email {

        padding-left: 5px;
      }

      &.pwd {

        padding-left: 5px;

      }
    }

    span.help-block.form-error {
      color: red;
      font-size: 8pt;
    }
  }

  .brand {
    &-col {
      background-color: #FEE551;

      .leftCol {
        display: table;
        width: 100%;
        padding: 100px 0;

        @media (max-width: 575px) {
          padding: 35px 15px;
        }
      }
    }

    &-headline {
      display: table-cell;
      vertical-align: middle;
    }
  }


  @media (max-width: 575px) {
    .brand-col {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }


  //register
  .flow-info {
    ul {
      counter-reset: my-sec-counter;
      margin: 0;
      padding: 0;

      li {
        position: relative;
        color: #3a3a3a;
        font-size: 13px;
        font-weight: 700;

        padding: 0px 0;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;

        span.img-holder img {
          max-width: 50px;
          margin-right: 20px;
        }

        span.flow0info-list-content {
          padding-top: 15px;
        }


      }
    }

    h3 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 30px;

      @media (max-width: 768px) and (min-width: 575px) {

        font-size: 23px;
        margin-bottom: 25px;

      }

      @media (max-width: 575px) {

        font-size: 22px;
        margin-bottom: 25px;

      }

    }
  }

  .register-wrapper {
    max-width: 100%;
    width: 100%;

    @media (max-width: 575px) {
      .brand-col {
        order: 2;
      }
    }

    label {
      font-weight: 700;
      font-size: 14px;
    }

    .form-links {
      clear: both;
      padding-top: 20px;

    }

    .was-validated .form-control:invalid {
      background-image: none;
    }

    .brand-logo {
      margin-bottom: 30px;
      min-width: 100%;

    }

    .is-small {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      align-content: baseline;
      height: 100%;
      flex-direction: column;
      padding: 12% 0;

      @media (min-width: 768px) {
        padding: 10% 0;
      }

      &.main-content {
        padding: 12% 0;
      }
    }

    .main-content {
      min-width: 100%;

    }

    .switcher-text {
      span {
        position: relative;
      }

      &:after {
        right: 0;
      }

    }

    .brand-col {
      .is-small.main-content {
        height: 100vh;
      }
    }

  }

  .uploader {
    height: 60px;
    margin: 15px 0 12px 0;

    .custom-file-input {
      height: 60px;
    }
  }

  .custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin: 0;
    opacity: 0;
  }

  .custom-file-label {
    font-size: 14px;
    color: #000;
    font-weight: 500;

    &:after {
      display: none;
    }

    &.uploads {
      border: 1px dashed #888;
      height: 100%;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }

  //qna
  .accordion-qna {

    counter-reset: my-sec-counter;

    .card-none {
      border: 2px solid #000;
      margin-bottom: 40px;
      border-radius: 5px;

      .card-header {
        background: #fff;
        border: 1px solid #EAEAEA;
        padding: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        &:before {
          counter-increment: my-sec-counter;
          content: counter(my-sec-counter);
          background: #FEE551;
          padding: 4px 12px;
          border-radius: 3px;
          margin-right: 10px;
          font-weight: 700;
          font-size: 18px;

          @media (max-width: 575px) {
            padding: 4px 10px;
            font-size: 17px;
          }
        }
      }

      .card-body {

        font-size: 14px;
      }

      .btn-link {
        font-size: 16px;
        font-weight: 700;
        color: #000;
        width: 100%;
        padding: 0 0 0 10px;
        display: flex;
        text-align: left;

        @media (max-width: 575px) {
          font-size: 15px;
        }

        .expand {
          margin-left: auto;

          &:before,
          &:after {
            display: inline-block;
            font-family: 'Material Icons';
            -webkit-font-feature-settings: 'liga';
          }

          &:before {
            content: "add";
          }
        }

        &:not(.collapsed) {
          .expand {
            &:before {
              content: "remove";

            }
          }
        }

      }

      .card-body {
        padding: 15px 70px;
      }
    }
  }


}

.brand-logo img {
  max-width: 160px;
}

ul._error-list {
  list-style: none;
  padding: 0;
  margin: 0 0 0px 0;
}

//announcements
.announcements.new_announcements {
  .fa.fa-download {
       color: #fee551;
  }
  .fa.fa-download.active{
    color: #fee551;
  }

  div#infinite-scroll {
    border-bottom: none;
  }

  ul.announcement-files {
    list-style: none;
    padding: 0;
  }

  ul.announcement-files li {
    margin-bottom: 15px;
    background: #333333;
    height: 35px;
    align-items: center;
    padding: 0 10px 0 10px;
    border-radius: 20px 20px 20px 20px;
    display: inline-flex;
    overflow: hidden;
    margin: 0 10px 10px 0;
    text-overflow: ellipsis;
    :hover{
      opacity: 0.8;
    }
  }

  ul.announcement-files li a {
    color: #ffffff ;
    margin: 0 10px 0 10px;
    max-width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  ul.announcement-files li a.active {
    color: #ffffff !important
  }

  ul.announcement-files li a:hover {
    color: #ffffff;
  }
  ul.announcement-files li a.active:hover {
    color: #ffffff !important;
  }

  .cards .card{
    cursor: unset !important;
  }

  .jscroll-added .cards {
    border-top: none;
    padding: 0;
  }

  .custom-paging {
    .page-link {
      height: 28px;
      border: none;
      color: #000;
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      padding: 0 8px;
      border-radius: 3px;
      display: table-cell;
      vertical-align: middle;
      border: 1px solid transparent;
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -o-transition: 0.3s ease;

      &:hover {
        background: rgba(254, 229, 81, 0.8);
        border: 1px solid transparent;
      }

      &:focus {
        box-shadow: none;
      }
    }

    .page-item {
      &.active {
        .page-link {
          background: #FEE551;
          color: #000;
          border: 1px solid #000;
        }
      }
    }

    .pagination {
      @media(min-width: 768px) {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
      }

      @media(max-width: 768px) {
        margin-top: 25px;
      }
    }
  }

  .custom-paging--ft {
    margin-top: 20px;
  }

  .data-length {
    font-size: 15px;
    font-weight: 700;
    color: #000;

    .total-length {
      color: #828282;
    }
  }

  .cards {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 30px 0;

    .card {
      border: 2px solid #000;
      border-radius: 5px;
      margin-bottom: 25px;
      cursor: unset;

      .card-header {
        background: #EAEAEA;
        color: #000;
        font-size: 16px;
        font-weight: 700;
        padding: 20px 15px;
        border-color: #292B2F;
        .announcement-date{
          white-space: nowrap;
        }
        .announcement-title{
          word-break: break-word;
        }
        .date {
          font-weight: 500;
          font-size: 13px;
          margin-left: auto;
          @media(max-width: 575px) {
            display: block;
            margin-top: 10px;
          }
        }
      }

      &.active {
        .card-header {
          background: #FEE551;
        }

        .card-body {
          background: #F8F8F8;
        }
      }
    }
  }

}



 .authfy-form{
   .dropzone.dz-clickable.dz-started{
     .dz-error-mark{
       display: none !important;
     }
     .dz-success-mark{
       display: none !important;
     }
     .dz-size {
       display: none !important;
     }
     .dz-complete{
       width: 100% !important;
     }

       .dz-details {
position: relative;
       padding: 15px 0 0 0;
        .dz-filename {

           max-width: 340px;
           margin: 0 auto; overflow: hidden;
         }
     }
 .dz-preview {
  margin: 0px;
     }

   .dz-error-message {
       top: 75px; opacity: 1;
     left: 70px; width: 200px; text-align: center;

     background: #ffdada; font-size: 10px; color: #981515;

     }
     .dz-error-message:after {

       left: 94px; display: none;
       border-bottom: 6px solid #ffdada;
     }
    .dz-progress {
       display: none !important;
     }
      .dz-image {

       display: none;
     }
 .dz-upload {

       background: #15e48e;
       position: relative;

       width: 300px !important;

     }
  .dz-remove {
       font-size: 10px;
       text-align: center;
       display: block;
       cursor: pointer;
       border: none;
       background: black;
       width: 100px;
       color: #ffffff;
       margin: 0 auto;
       padding: 6px 0px 6px 0;
       border-radius: 4px;
       margin-top: 7px;
     }
   }
 }
