@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

.formwrapper {
  font-family: 'Roboto', sans-serif;
}

.full-height {
  height: 100vh;

  &.middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &._custom-login {
    flex-direction: column;
    justify-content: center;
  }
}
._new_authentication {
  .hidden-value {
    display: none;
  }

  .page-heading {
    font-weight: 700;
    font-size: 26px;

    @media (max-width: 768px) and (min-width: 575px) {
      font-size: 24px
    }

    @media (max-width: 575px) {
      font-size: 22px
    }
  }

  .btn-black {
    background-color: #000;
    border-color: #000;
    color: #fff;

    &:hover {
      background-color: #23272b;
      border-color: #1d2124;
      color: #fff;
    }
  }

  .authfy-form {
    h3 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 30px;

      @media (max-width: 768px) and (min-width: 575px) {
        font-size: 23px;
        margin-bottom: 25px;
      }

      @media (max-width: 575px) {
        font-size: 22px;
        margin-bottom: 25px;
      }
    }

    button {
      font-size: 14px;
      padding: 7px 40px;
    }

    .form-control {
      border: 1px solid #000;
      height: 40px;

      &::placeholder {
        color: #bababa;
        font-size: 14px;
      }
    }
  }

  .switcher {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &-text {
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      color: #000;
      position: relative;
      letter-spacing: 1.25px;
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -o-transition: 0.3s ease;

      &:after {
        position: absolute;
        bottom: -2px;
        content: "";
        width: 44px;
        height: 1px;
        background: #000;
      }

      &:hover {
        text-decoration: none;
        color: #525252;

        &:after {
          background: #525252;
        }
      }

      span {
        font-weight: 700;

      }
    }
  }

  .login-page-content {
    .hidden-value {
      display: none;
    }

    .loginError {
      margin-bottom: 1.5rem;
      width: 100%;
      max-width: 800px;

      ._error-list {
        list-style: none;
        padding: 10px;
        margin-bottom: 0;
      }
    }

  }

  .error.help {
    color: #f32121;
    font-style: normal;
    font-size: 9pt;
  }

  .is-small {
    max-width: 390px;
    margin: 0 auto;
  }

  .input-field-icon {

    border-radius: 5px;
    padding: 0 0 0 0px;

    img {
      border: 1px solid;
      padding: 13px 5px 12px 8px;
      float: left;
      display: inline-block;
      border-radius: 4px 0 0 4px;
      border-right: 0;
    }

    input {
      display: inline-block;
      width: calc(100% - 31px);
      border-radius: 0 4px 4px 0;
      border-left: 0 !important;
      padding: 0 0 0 10px;
    }

    img.padlock {
      padding-bottom: 10px;
    }
  }
}
