<template>
    <tr>
        <td class="px-6 py-4 text-sm text-gray-500">
            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full"
                  :class="notificationStatusClass">
                {{ awsSesNotification.notification_type }}
            </span>
        </td>
        <td class="px-6 py-4 text-sm text-gray-500 w-20 whitespace-nowrap">
            {{ awsSesNotification.created_at }}
        </td>
        <td class="px-6 py-4 text-sm text-gray-500">
            <div class="py-3 flex justify-between text-sm font-medium">
                <dd class="text-gray-900">
                    {{ awsSesNotification.from }}
                </dd>
            </div>
        </td>
        <td class="px-6 py-4 text-sm text-gray-500">
            <div class="py-3 flex justify-between text-sm font-medium">
                <dd class="text-gray-900">
                    {{ awsSesNotification.principal }}
                </dd>
            </div>
        </td>
        <td class="px-6 py-4 text-sm text-gray-500">
            <div class="py-3 flex justify-between text-sm font-medium">
                <dd class="text-gray-900">
                    {{ awsSesNotification.subject }}
                </dd>
            </div>
        </td>
        <td class="px-6 py-4 text-sm text-gray-500 w-20">
            <div v-for="(bouncedRecipient, bouncedRecipientIndex) in awsSesNotification.notification.bouncedRecipients"
                 :key="bouncedRecipientIndex"
                 class="py-3 flex justify-between text-sm font-medium">
                <dd class="text-gray-900">
                    {{ bouncedRecipient.diagnosticCode }}
                </dd>
            </div>
        </td>
    </tr>
</template>
<script type="text/ecmascript-6">
    export default {
        name: "AwsSesNotificationRow",
        props: {
            awsSesNotification: { type: Object, required: true },
            baseUrl: { type: String, required: true },
        },
        computed: {
            notificationStatusClass() {
                if (this.awsSesNotification.notification_type === "Bounce" || this.awsSesNotification.notification_type ===
                    "Complaint") {
                    return "bg-red-100 text-red-800"
                }
                return "bg-green-100 text-green-800"
            },
        },
        methods: {},
    }
</script>
