<template>
    <form class="search-form-group" @submit.prevent="search">
        <div class="flex md:flex-row flex-col gap-4 sm:items-start sm:border-gray-200 sm:pt-5">
            <label for="last_name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                検索:
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
                <input id="last_name"
                       v-model="filter.searchText"
                       type="text"
                       name="search"
                       class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
            </div>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
                <vue2-date-picker
                    id="call_back_date"
                    ref="call_back_date"
                    v-model="filter.dateRange"
                    :range="true"
                    autocomplete="call_back_date"
                    class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md"/>
            </div>
            <div class="flex">
                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    検索
                </button>
                <button type="button" class="ml-3 bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" @click="reset">
                    リセット
                </button>
            </div>
        </div>
    </form>
</template>
<script type="text/ecmascript-6">
    import Vue2DatePicker from "../../components/Vue2DatePicker"

    export default {
        name: "AwsSesNotificationSearch",
        components: {
            Vue2DatePicker,
        },
        props: {
            filter: { type: Object, required: true },
        },
        methods: {
            search() {
                this.$emit("search", this.filter)
            },
            reset() {
                this.filter.searchText = null;
                this.filter.dateRange = null;
                this.$emit("search", this.filter)
            },
        },
    }
</script>
