<template>
    <div class="max-w-full mx-auto px-6 bg-gray-100 py-6">
        <div class="sticky top-0 z-50 bg-gray-100 p-3">
            <div class="flex items-center justify-between">
                <div class="flex flex-row">
                    <a :href="baseUrl"
                       class="cursor-pointer back-btn bg-gray-200 flex items-center justify-center mr-3 rounded-full  ">
                        <i class="fa fa-arrow-left"/>
                    </a>
                    <h1 class="font-bold text-xl text-secondary leading-tight" v-text="'Mail Logs'"/>
                </div>
            </div>
            <aws-ses-notification-search :filter="query" @search="onSearch"/>
            <pagination :pagination="pagination" :current-page="pagination.current_page" @updated="onPageChanged"/>
        </div>
        <div class="flex flex-col px-3">
            <div class="my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg relative">
                        <div v-if="dataLoading" class="loader"/>

                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th scope="col"
                                        class="cursor-pointer px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                                        @click="onSort('notification_type')">
                                        Notification Type
                                        <span
                                            :class="query.currentSort === 'notification_type' && query.currentSortDir === 'asc' ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"/>
                                    </th>
                                    <th scope="col"
                                        class="whitespace-nowrap cursor-pointer px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                                        @click="onSort('created_at')">
                                        Created At
                                        <span
                                            :class="query.currentSort === 'created_at' && query.currentSortDir === 'asc' ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"/>
                                    </th>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        From
                                    </th>
                                    <th scope="col"
                                        class="cursor-pointer px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                                        @click="onSort('principal')">
                                        To
                                        <span
                                            :class="query.currentSort === 'principal' && query.currentSortDir === 'asc' ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"/>
                                    </th>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Subject
                                    </th>
                                    <th scope="col"
                                        class="whitespace-nowrap px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Failed Reason
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <aws-ses-notification-row v-for="(awsSesNotification, index) in awsSesNotificationData"
                                                          :key="index"
                                                          :aws-ses-notification="awsSesNotification"
                                                          :class="index % 2 === 0 ? 'bg-white' : 'bg-gray-50'"
                                                          :base-url="baseUrl"/>
                                <tr v-if="awsSesNotificationData.length === 0" class="bg-gray-50">
                                    <td colspan="10" class="px-6 py-4 text-sm text-gray-500 w-20 text-center">
                                        データが見つかりません
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <pagination :pagination="pagination" :current-page="pagination.current_page" @updated="onPageChanged"/>
        </div>
    </div>
</template>
<script type="text/ecmascript-6">
    import Pagination                from "../../../../admin/js/components/TailwindPagination"
    import { setQueryStringObject }  from "../../../../client/js/utils"
    import AwsSesNotificationService from "../../services/awsSesNotificationService"
    import AwsSesNotificationRow     from "./AwsSesNotificationRow"
    import AwsSesNotificationSearch  from "./AwsSesNotificationSearch"

    export default {
        name: "AwsSesNotificationList",
        components: { AwsSesNotificationSearch, Pagination, AwsSesNotificationRow },
        props: {
            baseUrl: { type: String, required: true },
        },
        data: () => ({
            awsSesNotificationData: [],
            dataLoading: true,
            pagination: {
                total: 60,
                per_page: 5,
                total_pages: 12,
            },
            query: {
                searchText: null,
                dateRange: null,
                type: null,
                page: 1,
                currentSort: "created_at",
                currentSortDir: "desc",
            },
        }),
        computed: {
            sortedAwsSesNotificationData: function() {
                return this.awsSesNotificationData.sort((a, b) => {
                    let modifier = 1
                    if (this.query.currentSortDir === "desc") modifier = -1
                    if (a[this.query.currentSort] < b[this.query.currentSort]) return -1 * modifier
                    if (a[this.query.currentSort] > b[this.query.currentSort]) return 1 * modifier
                    return 0
                }).filter((row, index) => {
                    const start = (this.pagination.current_page - 1) * this.pagination.per_page
                    const end = this.pagination.current_page * this.pagination.per_page
                    if (index >= start && index < end) return true
                })
            },
        },
        created() {
            this.fetchAwsSesNotifications()
        },
        methods: {
            async fetchAwsSesNotifications() {
                this.dataLoading = true
                setQueryStringObject(this.query)
                const { data, pagination } = await AwsSesNotificationService.getAwsSesNotificationList(this.query)
                if (data) {
                    this.dataLoading = false
                }
                this.awsSesNotificationData = data
                this.pagination = pagination
            },
            onPageChanged(pageNumber) {
                this.dataLoading = true
                this.query.page = pageNumber
                this.fetchAwsSesNotifications()
            },
            onSearch(search) {
                this.query.page = 1
                this.query.searchText = search.searchText
                this.query.dateRange = search.dateRange
                this.fetchAwsSesNotifications()
            },
            onSort: function(sort) {
                this.query.currentSortDir = this.query.currentSortDir === "asc" ? "desc" : "asc"
                this.query.currentSort = sort
                this.fetchAwsSesNotifications()
            },
        },
    }
</script>
<style>
.loader {
  position: absolute;
  z-index: 9999;
  left: 50%;
  top: 30%;
}
</style>
