.inline-list{
    display: inline;
    padding-right: 10px;

}
.ats-agent-list-container{
    .ladda-button{
        span.ladda-spinner div div div {
            background: white !important;
        }
    }
}
label.container.pb-3 {
    width: 50%;
    float: left;
    font-size: 12px;
}



