
.ats-service-modal-popup{
    .modal-content {
        border-top: none !important;
        h5{
            line-height: 1.8;
        }
    }

    .jd-feature-img-wrapper img {
        max-width: 288px;
        margin: 10px 0 0 10px;
    }
    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        background: #2d9bb7;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .modal-header h4 {
        float: none;
        font-size: 16px;
        line-height: 22px;
        font-weight: normal;
        letter-spacing: 0;
        margin: 10px 0 10px 0;

    }
    .modal-header h3 {
        letter-spacing: 0;
        font-size: 20px;     margin-top: 10px;
        font-weight: bold;

    }
    .feature-ul-list ul li span.list-icon img {
        max-width: 10px;
        margin: 0 7px 0 0;
    }
    .modal-body{
        padding: 30px 40px;
    }
    .jd-features-holder .feature-ul-list {
        background: #F9F9F9;
        padding: 20px 0 0 20px;
        letter-spacing: 0;
        font-size: 12px; border-radius: 5px 5px 0 0;
    }
    .feature-ul-list ul {
        margin-bottom: 0;
        padding-bottom: 10px;
    }
    .feature-note {
        background: #EFEFEF;
        font-size: 10px;
        letter-spacing: 0;
        color: #000000;
        padding: 10px 0 10px 14px;
    }
    .feature-footer {
        text-align: right;
        padding: 0 10px 0 0;
    }
    .feature-footer h3 {
        font-size: 14px;
        font-weight: bold;
        color: #2d9bb7;
        margin: 10px 0 10px 0;
    }
    .feature-footer h3 span{
        font-size: 24px;
    }
    .feature-footer h3 span.font-10 {
        font-size: 10px !important;
    }
    .modal-dialog {

        min-width: 970px;
    }
    .modal-footer {
        padding: 0;
        border: none;
        background: #EFEFEF;
        padding: 10px 10px 10px 20px;
    }
    .jd-features-holder {
        border: 1px solid #000000;
        border-radius: 5px;
    }
    .feature-ul-list ul li {
        margin-bottom: 5px;
    }
    .btn-secondary{
        background: #000000;
        border: 1px solid #000000;
        color: #ffffff;
    }



    /* The container */
    .pop-checkbox-wrapper .checkbox-container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #292B2F;
    }

    /* Hide the browser's default checkbox */
    .pop-checkbox-wrapper .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .pop-checkbox-wrapper .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #fff;
        border: 1px solid #000000;
    }

    /* On mouse-over, add a grey background color */
    .pop-checkbox-wrapper .checkbox-container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .pop-checkbox-wrapper .checkbox-container input:checked ~ .checkmark {
        background-color: #000000;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .pop-checkbox-wrapper .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .pop-checkbox-wrapper .checkbox-container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .pop-checkbox-wrapper .checkbox-container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .pop-checkbox-wrapper {
        max-width: 215px;
        margin: 0 auto;
        margin-top: 20px;
    }
    a.label-content {

        color: #292B2F;
        text-decoration: none;
        font-weight: bold;
        border-bottom: 1px solid;
    }

    .ats-system-succes {
    .flow-info {
            display: inline-block;
        margin-bottom: 20px;

        ul {

            margin: 0;
            padding: 0;

            li {
                position: relative;
                color: #000000;
                font-size: 13px;
                font-weight: 700;

                padding: 0px 0;
                list-style: none;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                align-items: flex-start;
                -webkit-box-align: center;
                -ms-flex-align: center;


                span.img-holder img {
                    max-width: 50px;
                    margin-right: 20px;
                }

                span.flow0info-list-content {
                    padding-top: 15px;
                }

            }
        }


    }
    }

    .w-150p {
        min-width: 150px;
    }
    .tutorial-wrapper {
        padding: 10px 0px 10px 0;
        img {
            max-width: 70px;
            margin-bottom: 20px;
        }
        h5 {
            color: #292B2F;
            font-weight: 700;
            font-size: 16px;
            padding-bottom: 20px;
        }
    }
    .ats-fee-container {
        min-height: 460px;
    }

    .feature-points {
        margin-top: -128px;
        ul {
            margin: 0;
            padding: 0 0 0 20px;
            list-style: circle !important;

            li {
                margin-bottom: 3px;
                font-size: 11px;
                color: #292B2F;
                line-height: 1.5;
            }
        }
    }
}



.ats-modal.ats-service-modal-popup .modal-dialog {
    min-width: 760px;
}








.ats-service-modal-popup .jd-feature-img-wrapper img.feature-img {
    max-width: 325px;

}

.ats-modal-start-btn {
    margin: 10px 40px 10px 11px;
    font-size: 12px;
}

.ats-modal-start-old-btn {
    font-size: 12px;
    color: #fff;
    background-color: #2D9BB7;
    border-color: #2D9BB7;
    font-weight: bold;
    margin: 18px 30px 10px 0;
}
.ats-modal-start-old-btn:active {
    color: #fff;
    background-color: #2D9BB7;
    border-color: #2D9BB7;
}
.ats-modal-start-old-btn:focus {
    color: #fff;
    outline: 0;
}
.ats-modal-start-old-btn:hover{
    color: #fff;
    background-color: #2D9BB7;
    border-color: #2D9BB7;
    opacity: 0.9;
}
