.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gray-900;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: $primary;
}

input:focus + .slider {
    box-shadow: 0 0 1px $primary;
}

input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}





/* checkbox*/
.checkbox-container-custom{

    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0; border: 1px solid $gray-900;
        left: 0;
        height: 22px;
        width: 22px;
        background-color: $white;
        border-radius: 3px;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: $gray-100;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: $primary;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 7px;
        top: 2px;
        width: 7px;
        height: 13px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }



}



.selection-management-list .agent-ats-table {
    overflow-x: auto;
}
.ats-agent-table-container{
    td{
        font-size: 14px;
    }
    .text-small{
        font-size: 12px;
    }
    .text-link{
        color: #1EAEA9 !important;
    }
    button.btn-sm {
        font-weight: normal !important;
        font-size: 10px;
    }
    .text-small {

    }
}
.ats-modal{
    input.form-control.validate {
        border: 1px solid $danger;

    }
    .checkbox-container-custom {
        border: 1px solid;
        padding: 10px 0px 10px 10px;
        border-radius: 5px 5px 0 0;
        .container{
            margin-bottom: 0;
        }
    }
    .sub-checkbox-holder{
        .checkbox-container-custom {
            border-radius: 0 0 5px 5px;
            border-top: 0;
            max-height: 150px;
            overflow-y: auto;

            label.container{

            }
        }
    }


    .user-list-wrapper {
        border: 1px solid $gray-900;
        border-radius: 3px;
        .user-list-header {
            border-bottom: 1px solid;
            padding: 10px 0 10px 10px;
        }
        .user-list-content ul li {
            padding: 10px 0 0 10px;
            .user-list-content ul li p {
                margin: 0;
            }
            p.text-small {
                font-size: 12px;
                color: $gray-500;
            }
        }
    }

    textarea {
        min-height: 110px;
    }
}
@media (min-width: 576px){
    .ats-modal{
        .modal-dialog {
            max-width: 600px;
            p {
                margin: 0;
            }
        }
    }

}
.close {

    font-weight: normal;

}
img.alert-icon {
    max-width: 70px;
    margin-bottom: 20px;
}


.ats-table{
    .td-id {

        min-width: 123px;
    }
    thead th{
        padding: 10px;
        font-size: 12px;
        min-width: 80px;
    }
    tbody td{
        padding: 10px;
        .tbl-title-wrapper .company-name.text-link {
            max-height: 40px;
            overflow: hidden;
            max-width: 150px;
        }
    }
    .td-mail.text-small {
        max-width: 170px;
        word-break: break-all;
    }
}

@media (min-width: 1200px){
    .container.selection-management-list.ats-agent-list-container{
        max-width: 1200px;

    }
}




textarea::-webkit-resizer {
    border-width: 8px;
    border-style: dashed;
    border-color: transparent #dcdcdc #dcdcdc transparent;
}
