.dashboard-wrapper {
  .flex-centered{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form-row>.col, .form-row>[class*=col-] {
    padding-right: 9px;
    padding-left: 9px;
  }
  display: flex;
  .input-wrapper.input-icon {
    position: relative;
    span.ico-holder {
      position: absolute;
      right: 6px;
      top: 6px;
      img {
        width: 17px;
      }
    }
  }
  select.custom-select {
    height: 34px;
    border: 1px solid #000000;
  }
  .sidebar-wrapper {
    width: 300px;
    border-right: 1px solid #D8D8D8;
    min-height: 100vh;
    .nav.flex-column.nav-pills{
      ul{
        li{
          a.nav-link{
            font-weight: bold;
            background-color: #ffffff;
            border-left: 5px solid transparent;
            border-radius: 0;
            color: #000000;
            display: flex;
            padding: 14px 0 14px 10px;
            align-items: center;
            img{
              max-width: 16px;
              max-height: 16px;
              margin-right: 14px;
              margin-right: 14px;

            }
            &.active{
              background: #CDEAF1;
              border-left: 5px solid #2D9BB7;
            }
            &:hover{
              background: #CDEAF1;
              border-left: 5px solid #2D9BB7;
            }
            &:focus{
              background: #CDEAF1;
              border-left: 5px solid #2D9BB7;
            }
            span.list-ico-holder {
              width: 30px;
            }

          }
        }
      }
    }
  }
  .dashboard-content-wrapper {
    width: calc(100% - 300px);
    padding: 10px 0 0 40px;
  }


  .all-tab-pane{
    max-height: calc(100vh - 147px);
    overflow-y: auto;


    .tab-inner-container {
      max-width: 1000px;
      .form-header {
        border-bottom: 1px solid #C4C4C4;
        margin-bottom: 15px;
        padding-bottom: 5px;
      }
      .form-container {
        border: 1px solid #000000;
        padding: 20px 20px 10px 20px;
        border-radius: 10px;
        label{
          font-size: 12px;
          font-weight: bold;
          display: flex;
          span.required {
            background: red;
            height: 7px;
            width: 7px;
            border-radius: 50px;
            margin: 0px 0 0 7px;
          }
        }
        input.form-control{
          height: 38px;
        }
        .input-inner-button {
          position: relative;
          button.btn.btn-secondary {
            position: absolute;
            right: 4px;
            top: 4px;
            height: 30px;
            font-size: 12px;
          }
        }

        select.custom-select{
          border-color: #000000 !important;
          font-size: 14px;
          height: 38px;
          &:focus{
            box-shadow: none;
          }
        }
        p.input-value {
          color: #2d9bb7;
          margin-bottom: 0;
          font-size: 16px;
          font-weight: bold;
        }
      }

    }

    .info-bar {
      display: flex;
      background: #CDEAF1;
      border-radius: 5px;
      padding: 10px 10px 10px 10px;
      align-items: center;
      img {
        width: 20px;
      }
      p {
        margin: 0 0 0 12px;
        font-size: 12px;
      }

    }
    .company-photo-holder img {
      width: 100%;
      max-height: 238px;
    }
  }


    //all selection-stage scss
.selection-stage-tab-pane{
  margin: 0 auto;





  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2D9BB7;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2D9BB7;
  }
  .row.selection-satage-row {
    margin-right: 0;
    overflow-x: hidden;
  }
  .search-row{
    .input-wrapper {
      width: 277px;
      margin-right: 15px;
    }
    .input-wrapper.input-icon {
      position: relative;
      span.ico-holder {
        position: absolute;
        right: 7px;
        top: 5px;
        z-index: 9;
        img {
          width: 20px;
        }
      }
    }
  }
  .candidate-status-container{
  margin-bottom: 30px;
  }
  .candidate-status-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin-bottom: 15px;
    border-top: 1px solid #000000;
    padding-top: 20px;

  }
  .candidate-status-wrapper {
    margin-left: 0;
    border: 1px solid;
    padding: 20px;
    width: 900px;
    max-width: 900px;
    padding-left: 60px;
    padding-bottom: 0;
    border-radius: 5px;
  }
  .candidate-status-wrapper .candidate-status-holder {
    .status-number {
      background: #ffffff;
      border: 1px solid;
    }

    .status-down li::before {
      border-left: 1px solid #000000;
      width: 1px;
    }

    .status-down li::after {
      border-top: 1px solid #000000;
    }
  }
  .candidate-status-wrapper .status-title-box {

    bottom: 17px;
    left: 20px;
  }

}




  //all pw change scss
  .pw-change-tab-pane {
    .tab-inner-container {
      max-width: 730px;
    }
  }


  //user-mamagement tab scss
   .user-management-tab-pane{
    .tab-inner-container {
       max-width: 1200px;
     }

     img.addnew-user {
       width: 15px;
       padding: 4px 0px 4px 0;
       margin-right: 6px;
     }
    table{
      .td-mail{
        white-space: nowrap;
        width: 220px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .tbl-company{
        white-space: nowrap;
        width: 220px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      a.action-button {
        background: #f1f1f1 ;
        height: 30px;
        width: 30px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        img {
          max-width: 12px;
          max-height: 12px;
        }
        &:hover{
          background: #E7E7E7;
        }
      }
    }
  }

//account-plan tab scss
  .account-plan-tab-pane{

    .plan-header-wrap {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #9D9D9D;
      padding-bottom: 15px;
      margin-bottom: 15px;
      padding-top: 15px;
    }

    .plan-header-wrap h4 {
      font-size: 14px;
      margin: 0 20px 0 0;
      color: #585353;
    }

    .plan-body-container h4 {
      font-size: 14px;
      margin: 20px 0 15px 0;
      color: #585353;
    }

    .label-value-holder {
      /* height: 40px; */
      background: #000000;
      border-radius: 5px;
      color: #ffffff;
      font-size: 14px;
      padding: 10px 10px;
      min-width: 130px;
      text-align: center;
    }

    .plan-container {
      padding: 15px;
      font-size: 14px;
    }

    .plan-date-element {
      background: #F5F5F5;
      display: inline-block;
      padding: 9px 10px 10px 10px;
      height: 60px;
      border-radius: 5px;
      width: 110px;
      margin-right: 20px;
    }

    .plan-element-row {
      display: flex;   margin-bottom: 20px;
    }

    .plan-element-title {
      min-width: 200px;
    }

    .date-title {
      color: #686868;
    }

    .date-value {
      color: #000000;
    }

    .plan-element-title span {

      height: 60px;
      display: inline-flex; position: relative;
      align-items: center;
      width: 154px;
      text-align: center;
      justify-content: center;
      font-weight: bold;
      color: #ffffff;
    }
    .arrow-right {
      width: 0;
      height: 0;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-left: 13px solid #000000;
      position: absolute;
      top: 0;
      right: -13px;
    }
    .label-value-holder.paid-label {
      background: #2D9BB7;
    }
    .label-value-holder.free-label {
      background: #FF917A;
    }
    .label-value-holder.trial-label {
      background: #91BDC9;
    }
    .plan-element-row.trial-row .plan-element-title span{
      background: #91BDC9;
    }
    .plan-element-row.trial-row .plan-element-title span .arrow-right {
      border-left: 13px solid #91BDC9;
    }

    .plan-element-row.free-row .plan-element-title span{
      background: #FF917A;
    }
    .plan-element-row.free-row .plan-element-title span .arrow-right {
      border-left: 13px solid #FF917A;
    }

    .plan-element-row.paid-row .plan-element-title span{
      background: #2D9BB7;
    }

    .plan-element-row.paid-row .plan-element-title span .arrow-right {
      border-left: 13px solid #2D9BB7;
    }


  }


  .usage-plan-tab-pane{
    .plan-container {
      border: 1px solid;
      max-width: 800px;
      border-radius: 10px;
      padding: 0 !important;
      margin-bottom: 50px;
      .plan-header-wrap{

        background: #F8F8F8;
        border-radius: 10px 10px 0 0px;
        border-bottom: 1px solid;
      }
    }
  }


  button.btn.btn-secondary img.download-icon {
    width: 18px;
    margin: 2px 5px 6px 0;
  }


  hr {
    border-top: 1px solid #BBBBBB;
    height: 1px;
    width: 100%;
    margin: 0 10px 20px 10px;
  }
  label.yellow-bg {
    background: #FEE551;
    display: inline-block;
    width: 100px;
    text-align: center;
    justify-content: center;
    border: 1px solid #000000;
    padding: 3px 0 3px 0px;
  }

 th span.ico-holder img {
    width: 14px;
    margin-left: 5px;
  }



}
.custom-select-option .select::after {
  border: none;
  background: url("./../../images/dropdown.png") no-repeat;
  background-position-x:calc(100% - 10px);
  background-position-y:12px;
  width: 100%;
  padding-right:35px;
  padding-top: 40px;

}





@media (max-width: 1600px) {


  //user-mamagement tab scss
  .user-management-tab-pane {
    .tab-inner-container {
      max-width: 95% !important;
    }
  }

}



nav.navbar.navbar-expand-lg.navbar-light.custom-navbar {
  box-shadow: 0px 4px 10px 0px #f3f3f3;
  padding: 0 10px 0 10px;
}
.menubar-wrap ul li.nav-item a.nav-link {
  border-bottom: 3px solid transparent;
  padding: 15px 10px 15px 10px;
  background: white;
}

.menubar-wrap ul li.active a.nav-link {
  border-bottom: 3px solid #2d9bb7 !important;


  color: #2d9bb7 !important;
}
