button.btn.btn-secondary{
  &:focus{
  color: $white !important;
  }
  &:hover{
    color: $white !important;
  }
}
.pb-2{
  padding-bottom: 1.5rem;
}
.ui-wrapper textarea{
  &:focus{
    border: none !important;
    outline: none !important;
  }
}
.job_create-newtheme{
  .pt-2{
    padding-top: 1rem;
  }
.location-popup{
  .tab-container-left {
    padding: 0;
    ul {
      overflow: hidden;
      li {
        display: block;
        width: 100% !important;
        border: 1px solid;
        overflow: hidden;
        padding: 10px 0 10px 10px;
        border-top: 0;
        background: #fbfbfb;
        label.container-checkbox {
          width: 100%;
          display: inline-block;
          float: left;
          margin: 0;
        }
      }
      li.active {
        border-right: 1px transparent !important;
        background: #ffffff;
      }
    }
  }
  .tab-container-right {
    padding: 0;
    ul {
      overflow: hidden;
      padding: 20px 0 0 20px;
      li {
        display: block;
        width: 100%;
        overflow: hidden;
        label.container-checkbox {
          width: 100%;

        }
      }

    }
  }
}

  .main-panel {
    margin-top: 30px;
    margin-bottom: 10px;
  }
    .select2-container--bootstrap .select2-selection--single{
        border-color: $gray-900;
    }

    .text-area-placeholder {
     border-color: $gray-900;
    }
.btn-secondary{
    &:hover{
        color: $white ;
        opacity: 0.8;
    }
}
    .panel.panel-default.img-upload-second-panel {

        border-color: transparent;

    }
      .jobCreateDesContent label.title-lbl span.charLength{

        color: $primary;

    }
.panel-theme{
    background: transparent;
    border: none;
    .panel-heading{
        background: transparent;
        border: none;
        padding-right: 0;
        padding-left: 0;
    }
    .panel-body{
        background: $white;
    }
    .dropzone.dz-clickable {
        cursor: pointer;
        border: 1px dashed #cacaca !important;
        background: #f7f7f7;
    }
    span.select2-selection.select2-selection--single {
        color: $gray-900;
    }
    .jobCreateContentHolder.uiwrap .ui-wrapper {
        border: 1px solid $gray-900;
    }
}
    .panel.panel-default.info-panel .job-create-panel-header {
        padding-left: 15px;
    }
    .job-create-age-wrap {
        padding: 0 15px 0px 15px;
        border: 1px solid #000000;
        margin-bottom: 10px;
      background: #e1eff4;
       .job-age-selection-wrap.expCompany {
        border-bottom: none;
      }
      .job-age-selection-wrap.exp-company-no {
        border-bottom: none;
      }
    }
    .input-group-addon {
        background-color: #ffffff;
        border: 1px solid #fff;
    }
    .work-loaction-holder{
        padding: 0 10px 0 5px;
       span.jobPlusIco {

            right: 35px;

        }
    }
    .no_hires-wrapper{
        padding: 0 0 0 5px;
        input.form-control {
            width: 98.5%;
        }
    }

  .container-job-chk input:checked ~ .checkmark-job-chk {
    background-color: $primary;
  }
  .checkbox-wrapper.chkbox-jobClass .modal-header {
    background: $white;
  }



  ul.chk-container-parent {
    background: #fff;
    li {
      background: #f9f9f9;
      padding: 10px 0 5px 10px;
      border-bottom: 1px solid #060606;
      border-right: 1px solid #000000;     border-left: 1px solid #000000;
    }
    li.active {
      background: $white;    border-right: transparent;
    }

  }
  .form-group.j-cb{
    label.container-checkbox {
      width: 50%;
      display: inline-block;
      float: left;
    }
  }

  /* The container */
  .container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: $white;
    border: 1px solid $gray-900;
  }

  /* On mouse-over, add a grey background color */
  .container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container-checkbox input:checked ~ .checkmark {
    background-color: $primary;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container-checkbox input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container-checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .modal-content {
    border-top: none;
    padding: 20px 30px 10px 30px;
  }
  .modal-header {
    border-bottom: 1px solid;
padding-left: 0;
  }
  .modal-body{
    padding-left: 0;
  }

  .workloactionwrapper{
    padding: 0 11px 0 5px;
  span.jobPlusIco {
      right: 35px;     top: 5px;
    }
  }
  .companyProfileHolder{
    .ui-wrapper{
      margin: 0px !important;
    }
  }
  .checkbox-wrapper.chkbox-jobClass .modal-header {

    border-bottom: 1px solid #000000;


  }
  .subcheckbox-wrapper{
    .checkbox-wrapper-header {
      border: 1px solid;
      padding: 10px 10px 10px 10px;     border-radius: 5px 5px 0 0;
    }
    .checkbox-wrapper-body {
      border: 1px solid;
      border-top: 0;
      border-radius: 0 0 5px 5px;
      padding: 20px 10px 10px 30px;
      overflow: hidden;
      max-height: 160px;
      overflow-y: auto;
      ul li {
        width: 50%;
        float: left;
      }
    }
  }
  .jobCreateContentHolder.custom-text-box .ui-wrapper {
    margin: 0 !important;
    border: 1px solid;
    width: 100% !important;
    border-radius: 5px;
  }

  .custom-file-input {
    color: transparent;     outline: none !important;
    border: transparent !important; width: 150px;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .choose-file-holder {
    display: flex;
  }
  .custom-file-input::before {
    content: 'ファイル選択';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #ffffff, #ffffff);
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    text-align: center;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
.file-choose-content{
  display: flex;
  flex-direction: row;
}
  .filename-holder {
    padding: 5px 0 0 20px;
    display: flex;
    justify-content: center;

    gap: 11px;
      span {
      color: $primary;
      font-size: 12px;
        font-weight: bold;
    }
    a.del-btn{
      img {
        max-width: 15px;
      }
    }
  }
  hr.custom-hr {
    border-top: 1px solid transparent;
    border-bottom: 1px solid #000000;
    overflow: hidden;
    height: 10px;
    width: 103%;
    padding: 15px 0 0 0;
    margin: 0 0 15px -15px;
  }
}
@media (min-width: 576px) {
  .job_create-newtheme {
    .modal-dialog {
      margin: 20vh auto;
    }
  }
}
hr.custom-palen-divider{
  border-top: 1px solid #f7f7f7 !important;
  height: 35px;
  overflow: hidden;
  border: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  background: #f7f7f7;
  margin: 20px -30px 15px -20px;
}
.job-content-selection-wrap.notify-bar {
  padding: 0;
  margin-top: -15px;
}
.jd-file-preview {
  color: #2D9BB7;
  font-size: 12px;
  font-weight: bold;
}

.job_create-newtheme{
  .modal.modal-right-pop{
     .modal-head  {
       border-bottom: 1px solid;
       padding-left: 12px;
     }


    .modal-content {
      padding: 0;
     .modal-body {
       padding: 0px 9px 0 0px !important;

       margin-left: 15px;
   ul.chk-container-parent li {

         padding: 14px 0px 14px 10px;

       }
      }
    }
  }


}


div#jobClassification{
  .modal-body {
    height: calc(100vh - 80px);

  }
}

.ats-confirm-modal {
  .modal-dialog {
    margin-top: 80px;
  }
  .modal-content {
    border-top: none;
    overflow-y: hidden !important;
  }
  .modal-btn {
    padding-bottom: 40px;
  }
  button.btn.btn-primary.w-150p.mr-2 {
    margin-right: 4px;
  }
  textarea {
    border-color: #292B2F;
    min-height: 130px !important;
  }
  .modal-footer{
    justify-content: flex-end;
  }
  .title-lbl{
    font-weight: 600;
    .charLength {
      font-size: 10px;
      font-weight: 500;
      color: #2D9BB7;
    }
  }
  .wrapper-up {
    margin: 20px;
    text-align: left;
  }
}
