.modal-customsized{
    max-width:1083px;
}.pills-wrapper{
    padding:0 25px;
}
.pills-body{
    .navpill-col{
        width:360px;
        border-right:1px solid $secondary;
    }
    border:1px solid #000;
    border-radius:5px;
    display:flex;
    overflow:hidden;

    .nav-pills{
        .nav-link{
            transition:0.25s ease;
                &.active{
                background-color:#f1f1f1;
            }
            &:hover{
                background-color:#f1f1f1;
               }
        }
        .nav-link{
            color:$secondary;
            padding:21px 23px;
            border-radius:0;
            font-size:14px;
            font-weight:500;
            &:not(:last-child){
                border-bottom:1px solid $secondary;
            }

        }
    }
    .tab-content{
        padding:0 10px;
    }
}


.pillcontent-header{
    padding:15px 0 19px 0;
    border-bottom:1px solid $secondary;
    .agreeto{
        font-size:14px ;
        font-weight:700;
    }
}
.pillcontent-body{
    padding:10px 0;
}
.pillcontent-row{
    padding:10px 25px;
}

.job-list-container{
    .modal{
        background-color: rgba(0, 0, 0, 0.3);
    }
    .modal-customsized{
        max-width:1083px;
    }.pills-wrapper{
         padding:0 25px;
     }
    .pills-body{
        .navpill-col{
            width:360px;
            border-right:1px solid $secondary;
        }
        border:1px solid #000;
        border-radius:5px;
        display:flex;
        overflow:hidden;

        .nav-pills{
            .nav-link{
                transition:0.25s ease;
                &.active{
                    background-color:#f1f1f1;
                }
                &:hover{
                    background-color:#f1f1f1;
                }
            }
            .nav-link{
                color:$secondary;
                padding:21px 23px;
                border-radius:0;
                font-size:14px;
                font-weight:500;
                &:not(:last-child){
                    border-bottom:1px solid $secondary;
                }

            }
        }
        .tab-content{
            padding:0 10px;
        }
    }


    .pillcontent-header{
        padding:15px 0 19px 0;
        border-bottom:1px solid $secondary;
        .agreeto{
            font-size:14px ;
            font-weight:700;
        }
    }
    .pillcontent-body{
        padding:10px 0;
    }
    .pillcontent-row{
        padding:10px 25px;
    }
    .navigation-tab {

        min-height: calc(100vh - 373px);
    }
}

.check-box-custom{
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: $primary;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


}
.job-list-container{
    $primary:#2D9BB7;
    $secondary:#3a3a3a;
    $tertiary:#5B7397;
    $light:#858585;
    $lighttext:#BBBBBB;
    $light-gray:#EAEAEA;
    $input-border:#292B2F;
    $black-tint:#292B2F;





    body {
        font-family: 'Roboto', sans-serif;
        font-weight:400;
        font-size:14px;
        color:$secondary;
        line-height:1;
    }
    .btn {
        font-size: 14px;
        padding: 7px 10px;
        transition:0.3s ease;
    }
    .btn-primary{
        background-color:$primary;
        border-color:$primary;
        &:hover, &:focus ,&:active{
            background-color:darken($primary,15%);
            border-color:darken($primary,15%);
        }
        &:focus{
            box-shadow:0 0 0 0.2rem rgba($primary,.5)
        }
        &:not(:disabled){
            &:not(.disabled):active{
                background-color:darken($primary,15%);
                border-color:darken($primary,15%);
                box-shadow:0 0 0 0.2rem rgba($primary,.5)
            }
        }

    }
    .btn-light{
        background:none;
        border:none;
    }
    .btn-dark{
        background-color:$light;
        border-color:$light;

    }
    .full-height {
        min-height: 100vh;

        &.middle {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }

    .page-heading {
        font-weight: 700;
        font-size: 26px;

        @media (max-width:768px) and (min-width:575px) {
            font-size: 24px
        }

        @media (max-width:575px) {
            font-size: 22px
        }
    }
    .btn-black{
        background-color:#000;
        border-color:#000;
        color:#fff;
        &:hover{
            background-color: #23272b;
            border-color: #1d2124;
            color:#fff;
        }
        &-outline{
            background:none;
            border:1px solid $black-tint;
            color:$black-tint;
            &:hover{
                background-color:$black-tint;
                border-color:$black-tint;
                color:#fff;
            }
            &-dashed{
                background-color:#f8f8f8;
                border:1px dashed $secondary;
                color:$light;
                &:hover{
                    background-color:$black-tint;
                    border-color:$black-tint;
                    color:#fff;
                }
            }
        }
    }
    .btn-blacktint{
        background-color:$black-tint;
        border-color:$black-tint;
        color:#fff;
        &:hover{
            background-color: #000;
            border-color: #000;
            color:#fff;
        }
    }
    .authfy-form {
        h3 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;
            line-height:1;
            @media (max-width:768px)and (min-width:575px) {
                font-size: 23px;
                margin-bottom: 25px;
            }

            @media (max-width:575px) {
                font-size: 22px;
                margin-bottom: 25px;
            }
        }

        button {
            font-size: 14px;
            padding: 7px 40px;
        }

    }

    .switcher {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &-text {
            display: inline-block;
            font-size: 12px;
            font-weight: 400;
            color: #fff;
            position: relative;
            letter-spacing: 1.25px;
            transition: 0.3s ease;
            -webkit-transition: 0.3s ease;
            -moz-transition: 0.3s ease;
            -o-transition: 0.3s ease;

            &:after {
                position: absolute;
                bottom: -5px;
                content: "";
                width: 44px;
                height: 1px;
                background: #fff;
            }

            &:hover {
                text-decoration: none;
                color:#525252;
                &:after {
                    background: #525252;
                }
            }

            span {
                font-weight: 700;

            }
        }
    }

    .is-small {
        max-width: 390px;
        margin: 0 auto;
    }
    .form-check{
        position:relative;
        display:block;
        padding-left:20px;
        &-box{
            position: absolute;
            opacity: 0;
            &:checked{
                + .form-checkbox-label{
                    &:after{
                        content: "";
                        position: absolute;
                        left: 7px;
                        top: 1px;
                        width: 7px;
                        height: 13px;
                        border: 1px solid $white;
                        border-width: 0 2px 2px 0;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
    .form-checkbox-label{
        position: relative;
        cursor: pointer;
        align-items: flex-start !important;
        &:before{
            min-width: 20px;
            min-height: 20px;
            background: white;
        }
        &:before{
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            background: $white;
            border: 1px solid #000;
            border-radius:3px;
        }
    }

    .form-radio{
        position:relative;
        display:block;
        padding-left:20px;
        &-box{
            position: absolute;
            opacity: 0;
            &:checked{
                + .form-radio-label{
                    &:after{
                        content: "";
                        position: absolute;
                        left: 5px;
                        top: 5px;
                        width: 10px;
                        background: $primary;
                        height: 10px;
                        border-radius: 50%;
                    }
                }
            }
            &:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
        }
    }
    .form-radio-label{
        position: relative;
        cursor: pointer;
        &:before{
            width: 20px;
            height: 20px;
            background: white;
            border-radius:50%;
        }
        &:before{
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            background: white;
            border: 2px solid #000;
            border-radius:50%;
        }
    }
    .lime{
        .form-check-box{
            &:checked +{
                .form-checkbox-label{
                    &:before{
                        background:$primary;

                    }
                    &:after{
                        left: 9px;
                        top: 2px;
                        width: 7px;
                        height:15px;
                        border-color:#fff;
                    }
                }
            }

        }
        .form-checkbox-label{
            &:before{
                width: 24px;
                height: 24px;
            }
        }

    }
    .agreeto{
        display:flex;
        align-items:center;
        color:$secondary;
        font-size:12px;
        font-weight:500;
        margin-right:5px;

        a{
            color:inherit;
            text-decoration:none;
            margin-right:6px;
            transition:0.3s ease;
            &:after{
                position: absolute;
                bottom: -6px;
                left:0;
                content: "";
                width: 100%;
                height: 1px;
                background: $secondary;
            }
            &:hover{
                color:$primary;
                &:after{
                    background: $primary;
                }
            }
        }
    }
    .iconadd{
        background:url("./../../images/add-sprite.svg")no-repeat;
        height:26px;
        width:13px;
        background-position:0 13px;
        display:inline-block;
    }
    .ghostbtn{
        padding:0 10px;
        font-weight:500;
        transition:0.3s ease;
        border-radius:3px;
        display:flex;
        align-items:center;
        cursor:pointer;
        &:hover{
            color:$primary;
            .add{
                background-position:0 0;
            }
        }
        &.add{
            span:not(.material-icons){
                margin-top: 6px;
                padding-left: 5px;
            }
        }
    }
    .alert{
        font-size:14px;
        padding-top:18px;
        padding-bottom:18px;
        line-height:1;
        &-success{
            background-color:#DBFBDA;
            border-color:#ABE3AA;
            color:#1C5F1A;
        }
    }

    .modal-header, .modal-footer{
        border:none;
    }
    .choosetype-modal-footer{
        justify-content: center;
        display: flex;
        padding-bottom: 70px;
        button.btn{
            min-width: 150px;
        }
    }
    .modal-header{
        padding:30px;
        button{
            &:focus{
                box-shadow:none;
                outline:none;
            }
        }
        .close{
            color:#b3b3b3;
            opacity:1;

        }
    }
    .modal-title{
        font-size:20px;
        font-weight:700;
        color:$secondary
    }
    .formwrapper{
        .authfy-form{
            .form-control{
                border:1px solid $input-border;
                height:40px;
            }
        }
        .form-control{
            height:37px;
            border:2px solid $input-border;
            font-size:14px;
            &:focus{
                box-shadow:none;
                outline:none;
            }
            &::placeholder {
                color: $lighttext;;
                font-size: 14px;


            }
            &.addoption{
                display:flex;
                align-items:center;
                .addicon{
                    cursor:pointer
                }
                input{
                    width:calc(100% - 12px);
                }
            }

            >input{
                &::placeholder {
                    color: $lighttext;;
                    font-size: 14px;

                }
                border:none;
                &:focus{
                    box-shadow:none;
                    outline:none;
                }
            }
            &.small{
                width:131px;
                +span{
                    font-size:12px;
                    color:$secondary;
                    font-weight:400;
                    padding-left: 15px;
                }
            }
        }
        select{
            border: none;
            background: url("./../../images/dropdown.png") no-repeat;
            background-position-x:calc(100% - 10px);
            background-position-y:12px;
            width: 100%;
            padding-right:35px;
            &.small{
                background-position-x:100px;
            }
        }
        .fieldset{
            margin-bottom:13px;
        }
    }
    .addicon{
        width:12px;
        height:12px;

         background:url("./../../images/add.png") no-repeat;
        background-size:cover
    }
    select {
        /* for Firefox */
        -moz-appearance: none;
        -webkit-appearance:none ;
    }
    .checkbox-wrapper{
        &.grouped{
            margin-bottom:8px;
            .form-check-box{
                &:checked +{
                    .form-checkbox-label{
                        &:after{
                            left: 8px;
                            top: 1px;
                            width: 8px;
                            height: 16px
                        }
                    }
                }
            }
            .form-checkbox-label:before{
                border-width:2px;
                width:24px;
                height:24px;
                border-radius:5px;
            }
        }
    }


    .modal-customsized{
        max-width:1083px;
    }.pills-wrapper{
         padding:0 25px;
     }
    .pills-body{
        .navpill-col{
            width:50%;
            border-right:1px solid $secondary;
        }
        border:1px solid #000;
        border-radius:5px;
        display:flex;
        overflow:hidden;

        .nav-pills{
            .nav-link{
                transition:0.25s ease;
                &.active{
                    background-color:#f1f1f1;
                }
                &:hover{
                    background-color:#f1f1f1;
                }
            }
            .nav-link{
                color:$secondary;
                padding:21px 23px;
                border-radius:0;
                font-size:14px;
                font-weight:500;
                &:not(:last-child){
                    border-bottom:1px solid $secondary;
                }

            }
        }
        .tab-content{
            padding:0 10px;
        }
    }


    .pillcontent-header{
        padding:15px 0 19px 0;
        border-bottom:1px solid $secondary;
        .agreeto{
            font-size:14px ;
            font-weight:700;
        }
    }
    .pillcontent-body{
        padding:10px 0;
    }
    .pillcontent-row{
        padding:10px 25px;
    }


    .jobsearch-wrapper{
     position:sticky;
        top:0;
        background:#fff;
      z-index:2;
        .buttonwrapper{
            margin-top:7px;

        }
        border-bottom:1px solid $black-tint;
        padding-bottom:35px;
        &.noborder{
            border:none;
            .formwrapper {
                padding-top: 10px;
            }

        }
    }
    .jobsearch-header{
        padding:40px 0;
        margin:0;
        color:#000;
        min-width: 50px;
        font-size:24px;
        font-weight:700;
        line-height:1;
        .small{
            font-size:14px;
            padding-left:5px;
        }
    }
    .searchextended{
        margin-bottom:40px;
    }
    .btn{
        .arrow{
          background:url("./../../images/downarrow.png") no-repeat;
            width:17px;
            height:21px;
            background-size:cover;
            margin-right:12px;
            transform:rotate(0deg);
            display:inline-block;

        }
        &:not(.toggleshow){
            .arrow{
                transform:rotate(180deg);
                display:inline-block;
            }
        }
        &:focus{
            box-shadow:none;
            outline:none;
        }
    }

    .jobcards{
        margin-bottom:40px;
        .card{
            border-radius:5px;
            border:2px solid #000;
            background:none;
            padding:0 35px;
        }
        .card-header{
            padding:30px 0 20px 0;;
            background:none;
            border-bottom: 1px solid $black-tint;
        }
        .card-body{
            padding:11px 0 16px 0;
        }
        .card-footer{
            border-top:1px solid #292B2F;
            padding:23px 0 24px 0;
            background:none;
            .btn{
                font-weight:700;
                font-size:14px;
                text-transform:uppercase;
                &:not(:last-child){
                    margin-right:20px;
                }
                &:hover{
                    .dw-icon{
                        background-position: 0 16px;
                    }
                }
                &-black-outline-dashed{
                    .dw-icon{
                       background: url("./../../images/dwgray-sprite.png");
                        width: 16px;
                        height: 16px;
                        background-size: cover;
                    }
                    &:hover{
                        .dw-icon{
                            background-position:0 16px
                        }
                    }
                }
            }

        }
        .list-group{
            margin-bottom:13px;
        }
        .list-group-item{
            border:none;
            padding-left:0;
            padding-right:0;
        }
        h2{
            &.jobtitle{
                font-size:16px;
                font-weight:700;
                margin-bottom:10px;
                line-height: 1.2;
                color:$black-tint;
            }
        }
        .jobdescription{
            color:$black-tint;
            font-size: 14px;
        }
        .jobdetail{
            .list-group-item{
                display:flex;
                align-items:center;
                padding:5px 0;
                font-size: 14px;
                .icon{
                    background-size:cover;
                    margin-right:20px;
                    width:16px;
                    height:16px;
                    background-size: cover;
                    &.briefcase{
                        background:url("./../../images/briefcase.svg") no-repeat;
                        height:15px;
                        background-size: cover;
                    }
                    &.location{
                       background:url("./../../images/location.svg") no-repeat;
                        background-size: cover;
                    }
                    &.amount{
                         background:url("./../../images/amount.svg") no-repeat;
                        background-size: cover;
                    }
                    &.pdf{
                        background:url("./../../images/pdf.svg") no-repeat;
                        background-size: cover;

                        height: 20px;
                        width: 20px;
                    }
                    &.link{
                       background:url("./../../images/link.svg") no-repeat;
                        background-size: cover;
                    }
                    &.person{
                        background:url("./../../images/person.svg") no-repeat;
                        height: 18px;
                        width: 18px;
                        background-size: 18px;
                    }
                    &.suitcase{
                        background:url("./../../images/suitcase.svg") no-repeat;
                        background-size: cover;
                        height: 18px;
                        width: 18px;
                    }
                    &.pencil{
                        background:url("./../../images/pencil.svg") no-repeat;
                        background-size: cover;
                        height: 18px;
                        width: 18px;
                    }
                }
                .job-file{
                    cursor: pointer;
                }
                .job-id-icon{
                    width: 21px;
                    margin-right: 17px !important;
                }
            }
        }
    }
    .categories{
        color:$black-tint;
        padding-right:36px;
        .limits{
            padding:8px 0;
            font-size:11px;
            text-align:center;
            width:100px;
            background:$light-gray;
            border-radius:3px;

        }
        .value{
            padding-left:15px;
            font-size:14px;
        }
    }
    .updated{
        margin-top:15px;
        padding-left:13px;
    }
    .updated-label{
        color:$light;
        font-size:12px;
        padding-right:22px;
    }
    .updated-value{
        background:#FEE551;
        border-radius:3px;
        padding:8px 35px;
        font-size:9px;
        color:$black-tint;
        text-transform: uppercase;;
    }
    .dw-icon{
       background:url("./../../images/dw-sprite.png");
        width:16px;
        height:16px;
        background-size:cover;
    }

    .search-criteria{
        background:$light-gray;;
        border:2px solid $black-tint;
        padding:20px;
        border-radius:3px;
    }
    .ct-label{
        h3{
            font-size:16px;
            font-weight:700;
            color:$black-tint;
        }
    }
    .criteria-header{
        .btn{
            height:37px;
        }
    }
    .criteria-body{
        ul{
            padding:0;
            margin:22px 0 0 0;
            li{
                list-style:none;
                font-size:14px;
                color:$black-tint;
                margin-bottom:15px;
            }
        }
    }
    .criteria-list{
        p{
            line-height:1.5;
        }
    }
    .btn{
        .toggleshow{
            .arrow{
                transform:rotate(180deg);
                display:inline-block;
            }
        }
    }

    .jobcheck{
        .form-check-box:checked{
            +.form-checkbox-label{
                &:after{
                    top: calc(50% - 2px);
                    transform: translateY(-50%) rotate(45deg);
                }
            }
        }
    }
    .custom-switch{

        .custom-control-label{
            &::before{
                width:38px;
                height:20px;
                border-radius:15px;
                background:#000;
            }
            &::after{
                top: 8px;
                left: -32px;
                width: 12px;
                height: 12px;
                background-color: #fff;

            }
        }
        .custom-control-input{
            &:checked{
                ~.custom-control-label::after{
                    left: auto;
                    right: 2px;
                    transform: translate(0);
                }
                ~.custom-control-label::before{
                    border-color:$primary;
                    background-color:$primary;
                }
            }
        }
    }
    .navigation-tab{
        position:relative;
        .tabOne{
            .jobcards{
                .btn{
                    min-width:100px;
                }
            }
        }
        .job-create{
            margin-bottom:15px;
            @media (min-width:768px){
                position:absolute;
                right:0;
                top:0;
                margin:0;
            }
        }

    }
    .mw-225{
        max-width:225px;
    }
    .link{
        color:$primary;
    }
    .paging{
        .page-item{

            &.active{
                span{
                    color:#fff;

                }
                .page-link{background:none;
                    color:$secondary;
                    font-weight:700;
                }
            }
            &:hover{
                .page-link{
                    //background-color:none;
                    color:$secondary;
                    font-weight:700;}
            }

        }
        .page-link{
            display:inline-block;
            width:30px;
            height:30px;
            line-height:30px;
            text-align:center;
            border:none;
            background:none;
            color:$secondary;
            padding:0 3px;
            &:focus{
                outline:none;
                box-shadow:none;
            }
            &:hover{
                //  background-color:none;
                font-weight:500;
            }
            &.prev{
                background:url("./../../images/prev.svg") no-repeat;
                background-position: 0 5px;
            }
            &.next{


             background:url("./../../images/next.svg") no-repeat;
                background-position: 0 5px;
            }
        }
    }

    .nav-tabs {
        .nav-link {
            padding:15px 25px 18px;
            border-radius:1px 1px 0 0 ;
            border:2px solid transparent;
            border-bottom:3px solid transparent;
            color:$secondary;
            margin-right: 0px;
            &.active{
                border:2px solid transparent;
                border-bottom:3px solid $primary;
                font-weight: bold;
                &:hover{
                    background:none;
                    border-bottom:3px solid $primary;

                }
            }
            &:hover{
                background:transparent;
                border:2px solid transparent;
                border-bottom: 2px solid transparent;
            }
        }
        border-bottom:1px solid $secondary;
        .nav-item{
            margin-bottom:-3px
        }
    }



    .customtoggle-button{
        background:#FFE763;
        padding: 7px 15px;
        min-width: 100px;
        font-size: 12px;

    }

    .customtoggle-button.job-status-close{
        background: $gray-400;
        color: #413A13;
    }

 .customtoggle-button.job-status-making{
     background: #80BDF4;
     color: #413A13;
 }

    .modalOpener {
        h2{
            color:$secondary;
            font-size:1.5rem;
            color:#000;
        }
        .modal-content{
            border-radius:15px;
            border:3px solid #000;
            min-height:470px;
             .form-radio-box:checked + .form-radio-label:after {
                top: 8px;
            }
        }
        .modal-body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .form-radio{

                margin:0 auto;
            }
        }
        .agreeto{
            font-size:18px;
            font-weight:500;
        }
    }
    .customvisibilty{
        &.hide{
            display:none;
        }

    }
}

.modal-backdrop {

    z-index: 0 !important;
}
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -2.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 2.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
body.modal-open .jobsearch-wrapper {
   position: unset;
}

.job-list-status{
    .list-group-item {
        flex-direction: row;
        float: left;

        justify-content: center;

        .status-type{
            font-size: 12px;
            padding: 2px 20px;
            border-radius: 1px;
            display: inline-block;
            margin: 0 0 5px 0;
            width: 100%;
            border-bottom: 1px solid #000000;
        }
        .status-type.status-closed{


            background: #dedede;

       color: #797979;

        }
        .status-type.status-open{


            background: $primary;

             color: $white;

        }

        .status-count{
            font-size: 12px;
        }
    }
}

.job-list-status {
    display: flex;
    flex-direction: column;
    border-left: 1px dashed #9a9a9a;
    .list-item-box{
        border: 1px solid;
        padding: 0 0 5px 0;
        margin: 0 0 0 15px;
        min-width: 100px;
        font-size: 10px;
    }
}



@media (max-width: 1250px){
    .job-list-container .navigation-tab {

        padding: 30px 0 0 0;
    }


    .select-radio .col-auto {
        margin-bottom: 10px;
    }
    .modal-content.modal-bordered.customized {
        width: 95%;
    }
}


.job-list-container  {
    .locationModalPop{
        max-height: 100vh;
        .modal-header {
            padding: 15px 20px 10px 25px;
            border-bottom: 1px solid #000000;
            margin-bottom: 11px;
        }
        .pills-body .nav-pills .nav-link {
            padding: 15px 0px 15px 10px;
        }
        .modal-dialog-centered.modal-dialog-scrollable .modal-content {
            max-height: 80vh !important;
        }
        .modal-dialog-centered.modal-customsized.modal-dialog-scrollable {
            max-height: 100vh;
            margin: 0 auto;
        }
        .job-list-container .pillcontent-row {
            padding: 6px 25px;
        }
        .modal-footer {
            border-top: 1px solid #000000;
            padding: 15px 25px 15px 0px;
            margin-top: 6px;
        }
    }

    .jobTypeModalPop{
        max-height: 100vh;
        .modal-header {
            padding: 15px 20px 10px 25px;
            border-bottom: 1px solid #000000;
            margin-bottom: 11px;
        }
        .pills-body .nav-pills .nav-link {
            padding: 15px 0px 15px 10px;
        }
        .modal-dialog-centered.modal-dialog-scrollable .modal-content {
            max-height: 80vh !important;
        }
        .modal-dialog-centered.modal-customsized.modal-dialog-scrollable {
            max-height: 100vh;
            margin: 0 auto;
        }
        .job-list-container .pillcontent-row {
            padding: 6px 25px;
        }
 .modal-footer {
            border-top: 1px solid #b9b9b9;
            padding: 15px 25px 15px 0px;
            margin-top: 6px;
        }
    }
}
.wrapper-right-modal{
    padding: 30px 10px 30px 10px;

}
.job-type-content .pills-body .nav-pills .nav-link {
    color: #3a3a3a;
    padding: 10px 8px;
    border-radius: 0;
    font-size: 12px;
    font-weight: 500;
}
.job-type-content .pills-body .navpill-col {
    width: 320px;
    border-right: 1px solid #3a3a3a;
}




.modal.modal-right-pop.jobTypeModalPop{
     .modal-dialog.modal-lg {
        max-width: 900px !important;
        width: 900px !important;
        min-width: 900px !important;
          .pillcontent-row {
             padding: 10px 0px;
         }
    }

}


@media only screen and (max-width: 1400px) {
    .modal.modal-right-pop.jobTypeModalPop{
        .modal-dialog.modal-lg{
        max-width: 900px !important;
            width: 900px !important;
            min-width: 900px !important;
        }
    }
}
