.flex-space-between{
  justify-content: space-between;
}


.qna-page-wrapper{

  .listing-navigation{
    z-index: 0;
  }
    .modal-content {

    border-radius: 0;
  }
tr{
  cursor: pointer;
}
th{
  span.ico-holder img {
    width: 14px;
    margin-left: 5px;
  }
}
  th.th-agent {
    min-width: 160px;
  }
  th.th-date {
    width: 89px;
  }
  th.th-id {
    padding-left: 0;
    width: 89px;
  }
  td.td-id {

    position: relative;
  }
  th.th-occupation {
    min-width: 130px;
  }
  tr.new td {
    font-weight: bold;
  }
  tr.new td.td-id::before {
    content: "0";
    position: absolute;
    left: -14px;
    top: 18px;
    color: transparent;
    background: red;
    height: 6px;
    width: 6px;
    border-radius: 50px;
  }
  .td-question {
    white-space: nowrap;
    width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;




  }
  .td-inner-wrap{
    position: relative;
    .question-hover {
      position: absolute;
      left: 0;
      display: none;
      z-index: 11;
      top: 30px;
      background: #CDEAF1;
      width: 100%;
      white-space: normal;
      padding: 10px 10px 10px 10px;
      font-size: 12px;
    }
    .question-hover::before {
     content: "0";
      background: transparent;
      position: absolute;
      top: -7px;
      color: transparent;
      left: 0;
      width: 0;
      height: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid #cee9f1;
    }
    &:hover{
      .question-hover  {
        display: block;
      }
      }

  }


  .question-detail-wrapper {
    border: 1px solid #000000;
    border-radius: 5px;
    background: #FBFBFB;
    margin-bottom: 20px;
  }
  .answer-content {
    width: calc( 100% - 60px);
  }
  .profile-pp {
    width: 60px;
  }
  .question-header-wrap {
    padding: 30px 20px 30px 30px;
    border-bottom: 1px solid #c3c3c3;
  }

  .question-body-wrap {
    padding: 20px 30px 20px 30px;
    border-bottom: 1px solid #c3c3c3;
  }

  .question-type-content  {
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
  }

  .question-type-content.text-primary span {
    color: #000000;
    padding: 3px 0 0 0;
  }

  span.question-tag-span {
    background: #EAEAEA;
    border-radius: 50px;
    font-weight: bold;
    font-size: 12px;
    padding: 10px 20px;
    margin-bottom: 10px;
    display: inline-block;
    color: $primary;
  }

  .question-date {
    text-align: right;
    font-weight: bold;
  }

  .question-date span {
    font-weight: normal;
  }

  .answer-wrap {
    display: flex;
    margin-bottom: 10px;
  }

  .profile-pp span {
    background: $primary;
    height: 40px;
    width: 40px;
    display: flex;
    border: 1px solid #000000;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 10px;
    color: #ffffff;
  }

  .question-answers-wrap {
    padding: 20px 30px 10px 30px;
  }

  .answer-date {
    font-size: 10px;
    padding: 10px 0 10px 0px;
    font-weight: bold;
  }

  .answer-box {border: 1px solid #000000;padding: 10px 10px 0px 10px;border-radius: 0 10px 10px 10px;}
  .modal-content{
    .modal-body {
      height: calc( 100vh - 266px);
      overflow-y: auto;
    }
  }
  .modal-header {

    background-color: #f1f1f1;
  }
  .modal-footer{
    background: #F9F9F9;
  }




  .question-reply-wrap {
    padding: 15px 15px 0 15px;
    background: #f9f9f9;
    z-index: 1;
    box-shadow: 0px -7px 13px #d4d4d4;
    textarea{
      resize: none;
    }
  }


}

.input-icon{
position: relative;
  span.ico-holder {
    position: absolute;
    right: 6px;
    top: 6px;
    img{
      width: 20px;
    }
  }

}

.w-250p{
  min-width: 250px;
}




@media (min-width: 576px){

  .modal-dialog.modal-display-right {
    max-width: 800px;
    position: fixed;
    margin: 0;
    right: 0;
    width: 800px;
  }

}




.modal.right .modal-dialog {
  position: fixed;


  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}





/*Right*/
.modal.right.fade .modal-dialog {
  right: 0px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

