.selection-popup {
    .modal-content {
        border: none;
        border-radius: 5px;
        padding: 0;
        .modal-body {
            padding: 0;
        }
        .modal-form {
            .wrapper-up {
                position: relative;
                padding: 30px 60px 50px 60px;
            }
            .modal-title {
                h2 {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 35px;
                    color: #292B2F;
                }
            }
            .close {
                position: absolute;
                top: 15px;
                right: 15px;
                font-size: 32px;
                outline: none;
                border: none;
            }
            form {
                .form-group {
                    display: flex;
                    align-items: center;
                    margin-bottom: 16px;
                    label {
                        position: relative;
                        color: #292B2F;
                        font-size: 14px;
                        font-weight: 500;
                        flex-basis: 110px;
                        text-align: left;
                        margin: 0 10px 0 0;
                    }
                    .form-input {
                        flex-basis: calc(100% - 120px);
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(120px, auto));
                        gap: 15px;
                        .form-control {
                            border: 1px solid #000;
                            color: #292B2F;
                            font-size: 14px;
                            box-shadow: none;
                            outline: none;
                        }
                        textarea {
                            min-height: 110px;
                            border-radius: 6px;
                        }
                        &.dob {
                            max-width: 70%;
                            .birth {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                width: 100%;
                                .form-control {
                                    flex: 5;
                                    margin-right: 10px;
                                }
                                label {
                                    flex: 1;
                                    margin: 0;
                                }
                            }
                        }
                        .choose {
                            color: #fff;
                            background: #5B7397;
                            font-size: 14px;
                            font-weight: bold;
                            padding: 8px 10px 7px 15px;
                            border-radius: 4px;
                            cursor: pointer;
                            min-width: 150px;
                            text-align: center;
                            input[type="file"] {
                                display: none;
                            }
                        }
                        .selected-file {
                            grid-column: 1/5;
                            display: flex;
                            align-items: center;
                            h5 {
                                font-size: 12px;
                                font-weight: bold;
                                color: #292B2F;
                                margin-right: 10px;
                                margin-bottom: 0;
                            }
                            .trash-icon {
                                margin-top: -3px;
                                i {
                                    font-size: 10px;
                                    color: #808080;
                                }
                            }
                            .download-icon {
                                margin-right: 10px;
                                i {
                                    font-size: 18px;
                                    color: #009BE9;
                                }
                            }
                        }
                        &#date {
                            position: relative;
                            max-width: 160px;
                            .calendar-icon {
                                position: absolute;
                                max-width: 19px;
                                height: auto;
                                top: 8px;
                                right: 8px;
                            }
                        }
                    }
                    &.choose-file-wrap {
                        align-items: flex-start;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .btn-all {
                width: 50%;
                margin: 0 auto;
                display: block;
                font-size: 14px;
                font-weight: bold;
                padding: 10px;
                background-color: #000;
                color: #fff;
                border-radius: 6px;
                border: none;
                margin-top: 20px;
                box-shadow: none;
                outline: none;
                margin-bottom: 20px;
            }
            .timeline-wrapper {
                padding: 35px 30px;
                background: #F9F9F9;
                .select-status {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 35px;
                    h2 {
                        font-size: 20px;
                        font-weight: bold;
                        color: #292B2F;
                        margin-bottom: 0;
                    }
                    .status-btn {
                        display: flex;
                        button {
                            margin-left: 10px;
                            min-width: 90px;
                            color: #fff;
                            background: #292B2F;
                            border: none;
                            font-size: 12px;
                            font-weight: bold;
                            padding: 7px 20px;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                    }
                }
                .entry {
                    position: relative;
                    padding-left: 100px;
                    .entry-content {
                        position: relative;
                        padding: 0 0 15px 20px;
                        h5 {
                            display: inline-block;
                            font-size: 12px;
                            font-weight: bold;
                            border-radius: 5px;
                            padding: 10px;
                            background-color: #5B7397;
                            color: #fff;
                            margin-bottom: 4px;
                            min-width: 150px;
                        }
                        span {
                            display: block;
                            font-size: 10px;
                            color: #292B2F;
                        }
                        .check {
                            max-width: 16px;
                            height: auto;
                            position: absolute;
                            top: 8px;
                            left: -8px;
                            z-index: 999;
                        }
                        &.last {
                            padding-bottom: 0;
                            &::before {
                                content: "";
                                width: 10px;
                                height: 10px;
                                background-color: #fff;
                                border: 2px solid #86B934;
                                border-radius: 50%;
                                position: absolute;
                                bottom: 12px;
                                left: -5px;
                                z-index: 999;
                            }
                        }
                        .interview {
                            display: flex;
                            // max-width: 80%;
                            .form-group {
                                display: flex;
                                margin-right: 10px;
                                margin-bottom: 0;
                                input {
                                    margin-right: 6px;
                                    border: 1px solid #000;
                                    color: #292B2F;
                                    font-size: 12px;
                                    box-shadow: none;
                                    outline: none;
                                    &.td {
                                        width: 60px;
                                    }
                                }
                                label {
                                    font-size: 12px;
                                    font-weight: 500;
                                    color: #292B2F;
                                    margin: 0;
                                    padding-top: 8px;
                                }
                                &#interview-date {
                                    position: relative;
                                    .form-control {
                                        width: 150px;
                                    }
                                    .calendar-icon {
                                        position: absolute;
                                        max-width: 16px;
                                        height: auto;
                                        top: 8px;
                                        right: 12px;
                                    }
                                }
                            }
                            &.incomplete {
                                margin-top: 15px;
                            }
                        }
                        #Selectdw {
                            max-width: 80%;
                        }
                    }
                    .enter-msge {
                        color: #292B2F;
                        font-size: 10px;
                        font-weight: 500;
                        margin-top: 20px;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        width: 3px;
                        height: calc(100% - 40px);
                        background-color: #EAEAEA;
                        left: 100px;
                        top: 15px;
                        margin-left: -1.5px;
                    }
                    &.entry-incomplete {
                        &::before {
                            height: calc(100% - 132px);
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .required {
                position: absolute;
                color: #FF0000;
                font-size: 14px;
                margin-left: 6px;
            }
        }
    }
    #Selectdw {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
     background-image: url("../../images/arrow-down.png");
        background-repeat: no-repeat;
        background-size: 13px;
        background-position: 98% 12px;
        border: 1px solid #000;
        color: #292B2F;
        font-size: 14px;
        box-shadow: none;
        outline: none;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 700px;
    }
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #BBBBBB !important;
    font-size: 14px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #BBBBBB !important;
    font-size: 14px;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #BBBBBB !important;
    font-size: 14px;
}

input::placeholder {
    color: #BBBBBB !important;
    font-size: 14px;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: rgb(183, 183, 183) !important;
    font-size: 14px;
}

#date input::placeholder {
    color: #292B2F !important;
    font-size: 14px;
}

#interview-date input::placeholder {
    color: #292B2F !important;
    font-size: 12px;
}

@media only screen and (max-width: 991px) {
    .selection-popup {
        .modal-content {
            .modal-form {
                .wrapper-up {
                    form {
                        .form-group {
                            flex-direction: column;
                            align-items: flex-start;
                            margin-bottom: 24px;
                            label {
                                flex-basis: auto;
                                margin: 0 0 7px 0;
                            }
                            .form-input {
                                flex-basis: auto;
                                grid-template-columns: 1fr;
                                width: 100%;
                                &.dob {
                                    max-width: 100%;
                                    .birth {
                                        align-items: flex-start;
                                        flex-direction: column-reverse;
                                        .form-control {
                                            flex: 1;
                                            margin-right: 0;
                                        }
                                        label {
                                            margin-bottom: 3px;
                                        }
                                    }
                                }
                                .choose {
                                    grid-column: 1 / 5;
                                    text-align: center;
                                }
                                &#date {
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
                .timeline-wrapper {
                    .select-status {
                        flex-direction: column;
                        align-items: flex-start;
                        h2 {
                            margin-bottom: 10px;
                        }
                        .status-btn {
                            button {
                                margin: 0 10px 0 0;
                            }
                        }
                    }
                    .entry {
                        padding-left: 0;
                        &::before {
                            left: 0;
                            height: calc(100% - 170px);
                        }
                        .entry-content {
                            h5 {
                                display: block;
                            }
                            .interview {
                                flex-direction: column;
                                .form-group {
                                    width: 100%;
                                    flex-direction: column-reverse;
                                    margin-bottom: 8px;
                                    input.td {
                                        width: 100%;
                                    }
                                    &#interview-date {
                                        .form-control {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            #Selectdw {
                                max-width: 100%;
                            }
                        }
                        &.entry-incomplete {
                            &::before {
                                height: calc(100% - 272px);
                            }
                        }
                    }
                }
                .btn-all {
                    width: 100%;
                }
            }
        }
    }
}

.download-icon img {
    max-width: 16px;
}
.trash-icon img {
    max-width: 16px;
}
span.interview-date-preview {
    font-weight: bold;
}
#dz-upload-previews {
    display: block;
}
#dz-upload-previews .selected-file {
    margin-top: 15px;
}
#dropzoneCandidate {
    margin-bottom: -15px;
}
.custom-next-step-btn {
    padding: 3px 0px 3px 0px;
}
.interview-date-select
{
    .form-control.is-invalid, .was-validated .form-control:invalid {
        background-position: center right calc(1.375em + .1875rem) !important;
    }
}
a.reschedule-interview {
    color: #292B2F;
    margin-left: 10px;
    font-weight: bold;
}
.reschedule-confirm-btn .ladda-label {
    color: white !important;
    font-size: 14px !important;
}

.custom-refer-btn:disabled,
.custom-refer-btn[disabled] {
    background: #0C0D0D96 !important;
}



.modal.modal-right-pop{
    padding-right: 0 !important;
    .modal-dialog.modal-lg {
        max-width: 800px !important;
        width: 800px !important;
        min-width: 800px !important;
    }
    .modal-dialog {
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        .modal-content{
            border-radius: 0;
            .modal-form .wrapper-up {

                padding: 30px 60px 30px 60px;
                .memo-wrap
                {
                    width: 100%;

                }
                .memo-text-area {
                    min-height: 170px;
                }
            }
            .modal-form .timeline-wrapper {
                padding: 20px 30px;
                background: #F9F9F9;
            }
        }
.modal-head{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 0px;
    background: #f3f3f3;
    height: 70px;
    align-items: center;
    .modal-title{
        margin-bottom: 0;
        padding: 15px 50px 15px 20px;
        line-height: 1.5;
        width: 97%;

        h2{
            font-size: 20px;
            margin: 5px 0 0 0;

        }
    }
}
          .modal-body {
              padding: 0;
              height: calc(100vh - 140px);
              overflow-y: auto;
              overflow-x: hidden;
        }
        .modal-footer{
            background: #f3f3f3;
            height: 70px;
            padding: 0 80px 0 0;
            z-index: 1;


            display: flex;
            align-items: center;
            .btn{
                min-width: 100px;
            }
        }
        .shadow-box{
            box-shadow: 0px 0px 40px #a2a2a2;
            z-index: 1;
            position: relative;
            border: none;
        }
    }
}

.selection-btn .btn-search {
    width: 290px;
}
.selection-btn {
    margin: 0 auto;
}
@media only screen and (max-width: 1400px) {
    .modal.modal-right-pop {
        .modal-dialog.modal-lg {
            max-width: 700px !important;
            width: 700px !important;
            min-width: 700px !important;
        }
    }
}

@media (min-width: 1200px){
    .container.h-screen-fit.selection-management-list.selection-popup{
        max-width: 1400px;
    }
}


.container.h-screen-fit.selection-management-list.selection-popup{
    .candidate-company-row {
        max-width: 270px;
        min-width: 270px;

    }
    .memo-wrapper {
        width: 185px;
        cursor: pointer;
        .static-placeholder {
            color: #888;
        }
        p {
            font-size: 10px;
            line-height: 1.5;
            height: 55px;
            padding: 3px 3px 3px 5px !important;
            position: relative;
            top: 5px;
            border: 1px solid #ccc;
            word-break: break-word;
        }

    }
}




 .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
     transition-delay: 3s;
}


.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}


.modal.right .modal-body {
    padding: 15px 15px 80px;
}



/*Right*/
.modal.right.fade .modal-dialog {
    transition-delay: 3s;
    right: 0px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}


.custom-scroll{

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

}



.modal-backdrop.in {

    z-index: 11 !important;
}

.colornav .navbar-default {

    z-index: 7;
}



body.modal-open .stageHistoryPop {
    z-index: 0 !important;
}
body.modal-open nav.pagination-custom .page-item.active .page-link{
    z-index: 0 !important;
}
