
.candidate-status-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  max-width: 800px; margin: 0 auto;
  padding-top: 50px;
.arrow-rt{
  width: 0;
  height: 0;
  position: absolute;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 10px solid #2D9BB7;
  right: -10px;
}
  .status-title-box {
    font-size: 12px;
    font-weight: bold;
    width: 105px;
    text-align: right;
    position: absolute;
    bottom: 15px;
    left: -60px;
 ul {
      padding: 0;
      margin: 0;
 li {
     padding-bottom: 40px;
   }
    }
    .decline-status {
      color: #f77212;
    }
    .reject-status {
      color: #f31313;
    }
 .select-status {
      color: #1fb124;
    }

  }
  .candidate-status-holder {
    margin: 0 30px 0 0;
    width: 110px;
    .status-title {
      background: #2D9BB7;
      padding: 5px 5px 5px 5px;
      font-size: 12px;
      color: #ffffff;
      display: flex;
      justify-content: center;
      min-height: 50px;
      position: relative;
      align-items: center;
        h6 {
        margin-bottom: 0; font-weight: bold;
        font-size: 12px;
          margin: 0 ;
          color: #000000;
      }
    }


    .status-number {
      background: #efefef;
      padding: 10px 0 10px 0px;
      font-size: 16px;
      text-align: center;
      margin-top: 10px;
      span.number-text {
        font-weight: bold;
      }
      span.num-title {
        font-size: 12px;
      }
    }

    .status-down{
      ul{
        padding: 0;
        position: relative;
        list-style: none;
        left: 77px;
        li{
          position: relative;
          .status-percent {
            height: 49px;
            width: 65px;

            text-align: center;
            margin: 0px 0 0 20px;
            padding: 10px 0 0 0;
          }
          .status-percent img {
            right: 0;
            width: 25px;
            position: absolute;
            top: 4px;
          }
          .status-stage-number {
            display: flex;
            flex-direction: column;
            margin: 0 0 0px 20px;
            padding: 0 0 10px 0;
            span.num-top {
              text-align: center;
              background: #EAEAEA;
              padding: 8px 0 8px 0;
            }
            span.num-per {
              text-align: right;
              font-size: 10px;
            }
          }

        }
        li:last-child{

        }
      }
    }
    .status-down li::before  {
      content: "";
      left: 0px;
      position: absolute;
      right: auto;
      border-left: 2px solid #d8d8d8;
      bottom: 50px;
      height: 100%;
      top: 0;
      width: 1px;
    }

    .status-down li:last-child::before {
      height: 19px;
    }

    .status-down li::after {
      border-top: 2px solid #d8d8d8;
      height: 20px;
      content: "";
      top: 18px;
      width: 19px;
      left: 2px;
      position: absolute;
    }

  }
  .stg1{
.status-title{
  background: #aad7e1;
}
    span.arrow-rt{
      border-left-color: #aad7e1 !important;
    }
  }
  .stg2{
    .status-title{
      background: #87c5d6;
    }
    span.arrow-rt{
      border-left-color: #87c5d6 !important;
    }
  }
  .stg3{
    .status-title{
      background: #6bbfd4;
    }
    span.arrow-rt{
      border-left-color: #6bbfd4 !important;
    }
  }
  .stg4{
    .status-title{
      background: #6db8cc;
    }
    span.arrow-rt{
      border-left-color: #6db8cc !important;
    }
  }
  .stg5{
    .status-title{
      background: #57aec5;
    }
    span.arrow-rt{
      border-left-color: #57aec5 !important;
    }
  }


}

.add-user-modal {
  .checkbox-container-custom.pl-4 {
    padding-left: 2.5rem!important;
  }
  .checkbox-container-custom .container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .checkbox-container-custom .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkbox-container-custom .checkmark {
    position: absolute;
    top: 0;
    border: 1px solid #292B2F;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff;
    border-radius: 3px;
  }

  .checkbox-container-custom .container:hover input ~ .checkmark {
    background-color: #f5f5f5;
  }

  .checkbox-container-custom .container input:checked ~ .checkmark {
    background-color: #2D9BB7;
  }

  .checkbox-container-custom .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkbox-container-custom .container input:checked ~ .checkmark:after {
    display: block;
  }

  .checkbox-container-custom .container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  label.container.pb-3 {
    width: 50%;
    float: left;
    font-size: 12px;
    padding-bottom: 1rem!important;
  }
  .add-user-modal input.form-control.validate {
    border: 1px solid #FF0000;
  }

  .checkbox-container-custom {
    border: 1px solid;
    padding: 10px 0px 10px 10px;
    border-radius: 5px 5px 0 0;
  }

  .checkbox-container-custom .container {
    margin-bottom: 0;
  }

  .sub-checkbox-holder .checkbox-container-custom {
    border-radius: 0 0 5px 5px;
    border-top: 0;
    max-height: 150px;
    overflow-y: auto;
  }
  .form-control {
    border: 1px solid #292B2F;
  }
  .invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
  }
  .form-control.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
  }
  .content-wrapper {
    margin-top: 15px;
  }
}
@import "atsServicePop";