
.tutorial-wrapper {
    button.close {
        position: absolute;
        right: 10px;
        top: 10px;

        &:focus {
            border: 0;
            box-shadow: 0;
            outline: none;
        }
    }

    a.cross-btn {
        color: $gray-600;
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 16px;
    }

    .carousel {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        background: $white;
        padding: 40px 0px 0px 0px;
        margin-top: 40px;
        border-radius: 5px;

        margin-bottom: 0px;
    }

    .carousel-inner {
        min-height: 410px;

        .stage-alert {
            display: flex;
            align-items: center;
            justify-content: center;


            margin-bottom: 50px;

            .stage-number {
                text-align: center;
                margin: 0 15px 0 0;

                h4 {
                    font-size: 30px;
                    margin: 0;
                }
            }

            .step-content {
                align-self: center;
                text-align: center;
                padding: 30px 0 0 0;

                p {
                    margin: 0;
                    font-size: 16px;
                }
            }
        }

        .stage-img-holder img {
            max-width: 100%;
        }

    }

    .carousel-indicators li {
        padding: 0 4px 0 4px;
        border-top: none;
        border-bottom: none;
        text-indent: 1px;
        opacity: 1;
        display: inline-block;
        width: auto;
        height: auto;

        .navigate-content {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span.navigate-spn {
                border-radius: 50px;
                background: white;
                height: 30px;
                font-weight: bold;
                width: 30px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                opacity: 1 !important;
                border: 1px solid $gray-900;
                align-items: center;
                font-size: 12px;
                margin: 0 !important;
                margin-right: 0 !important;

            }

            span.navigate-text {
                font-size: 12px;
                padding-top: 5px;
            }
        }
    }

    .carousel-indicators li.active {
        .navigate-content {


            span.navigate-spn {
                background: $primary;
                color: $white;
            }
        }

    }


    .navigation-bar {
        display: flex;
        justify-content: center;
        position: relative;
        .carousel-control-next, .carousel-control-prev {
            position: absolute;
            width: auto;
            color: $gray-900;
            font-size: 22px;
            margin: -8px 5px 0 5px;
            padding-top: 0px;
            top: -70px;
            z-index: 111;
        }
        .carousel-indicators {
            margin-right: 0;
            margin-left: 0px;
        }
    }

    .stage-note-warning {
        display: flex;
        margin: 0 auto;
        background: $lite-red;
        max-width: 320px;
        border: 1px solid;
        align-items: center;
        border-radius: 3px;
        padding: 20px;

        .alert-content-hold {
            display: flex;
            align-items: center;
        }

        p {
            margin: 0;
        }

        .warning-icon-hold {
            img {
                width: 30px;
            }
        }
    }

    .carousel-inner .stage-img-holder img {
        max-width: 100%;
        margin-right: 20px;
    }

    .slide-wrap {
        max-width: 91% !important;
        margin: 0 auto;
        display: table;

    }

    .font-size-12 {
        font-size: 12px;
    }

    .mt-40px {
        margin-top: 40px;
    }
    .mt-12p {
        margin-top: 12%;
    }
}



