/*font*/
body .popover {
    font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: Avenir, “Open Sans”, “Helvetica Neue”,
    Helvetica, Arial, Verdana, Roboto, “游ゴシック“,
    “Yu Gothic”, “游ゴシック体“, YuGothic, “ヒラギノ角ゴ Pro W3”,
    “Hiragino Kaku Gothic Pro”, “Meiryo UI”, “メイリオ“,
    Meiryo, “ＭＳ Ｐゴシック“, “MS PGothic”, sans-serif !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.dropzone {
    min-height: 0px !important;
    border: 1px solid #ccc !important;
    background: white;
    padding: 0px !important;
    border-radius: 3px;
}

.register .dropdown-menu {
    margin-left: 30px;
    top: 29%;
    min-width: 347px;
}

.register-result p {
    font-size: 22px;
    color: #3c763d;
    font-weight: bold;
}

.register-result h2 {
    font-weight: bold;
}

.btn-account-setting {
    float: right;
}

.agent-pic {
    max-width: 150px;
    border: 2px solid #ccc;
    border-radius: 6px;

}

a.contract-download {
    cursor: pointer;
}

.job-character {
    margin: 5px 0 0 0;
}

.label-close {
    background-color: #d9534f !important;
}

.wishlist {
    cursor: pointer;
}

.wish {
    cursor: pointer;
}

.bdate {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 36%;
}

.prefer-prefecture li {
    display: inline-block;
    padding: 0 15px 0 0px;
}

.prefer-prefecture li input {
    margin: 0 5px 0 0;
}

.search-category {
    height: 57px;
    border-radius: 0px;
    color: #f36f21;
}

.qaAns-date li {
    float: right;
}

.qaAns-span {
    padding: 0 30px 0 0px;
}

.search_region_types li {
    display: inline;
    padding: 0 0px 0 7px;
}

.search_sub_job_types li {
    display: inline;
}

.sidebarSearchCheckbox {
    padding: 14px 0 0 0;
}

.register .agentLoginmsg {
    padding: 60px 31px 20px 50px;
    min-height: 546px;
    overflow: hidden;
}

.job-secret strong {
    padding-right: 18px;
    min-width: 97px;
    display: inline-block;
}

.secret-box {
    padding: 0 0 0 32px;
}

.agent-notice span {
    margin-left: 26px;
}

.sidebarDescWrapper h3 {
    border-bottom: none;
}

.product-box a img {
    height: 160px;
    width: 100%;
}

.product-box .matter {
 height: 175px;
   /* height: 170px;*/
}

.occupationbox .owl-item {
    min-height: 185px;
}

.greyBg.popularJob.job-detail {
    padding-top: 73px;
}

.job_detail_img {
    max-width: 380px;
    max-height: 138px;
    float: right;
}

a.btn.btn-md.btnDefault.btnLine.show-up {
    margin: 7px 0 0 116px;
    overflow: hidden;
}

.candidate-refer-form .form-group {

    margin-bottom: 14px;
    overflow: hidden;
}

input.form-control.history-checkbox {
    margin-top: -3px;
}

.mainContent {
    min-height: 660px;
}

.search-info {
    color: #f36f21;
    background-color: #fff;
    border-color: #fff;
}

span.seperatorbar::before {
    background: #afafaf none repeat scroll 0 0;
    color: #afafaf;
    content: "»";
    display: inline-block;
    height: 1px;
    margin: 0 10px 5px 0;
    overflow: hidden;
    width: 200px;
}

span.seperatorbar::after {
    background: #afafaf none repeat scroll 0 0;
    color: #afafaf;
    content: "»";
    display: inline-block;
    height: 1px;
    margin: 0 10px 5px;
    overflow: hidden;
    width: 200px;
}

.seperatorLinner {
    padding: 0 0 10px;
    text-align: center;
}

.seperatorbar {
    font-size: 11px;
}

.seperatorbar > p {
    background: #c8c8c8 none repeat scroll 0 0;
    display: inline;
    padding: 3px 5px;
}

.panel-body.panelOrange {
    border-top: 2px solid #ffc000;
}

.orangeIco {
    background: #ffc000;
}

.jobTitleIco {
    width: 29px !important;
    border-radius: 0px !important;
}

.keeplist h4, p {
    /* color:#666;*/
}

.modal-choice {
    width: 670px;
}

.form-group.regions {
    padding-left: 33px;
}

.regions .checkbox-inline {
    margin-right: 14px;
}

.success {
    background-color: #1ab394 !important;
    color: #FFFFFF !important;
}

/*.error{
    background-color: #ed5565 !important;
    color: #FFFFFF;
}*/

input.form-inline.recom_expected_salary {
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 36%;
}

.dataTables_length, .dataTables_filter {
    display: inherit !important;
}

.panel-selectionList {
    padding: 35px;
}

.tab-span.recommmed_id {
    font-size: 12px;
}

.login_footer {
    padding-top: 10px;
}

.processrow li a {
    padding: 41px 0px 0px 0;
}

.condition_circle {
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 50%;
    padding: 1px 5px 1px 5px;
}

.pagination-wrapper.agent-notify span {
    border-radius: 0px;
    margin: 0px;
    height: 34px;

}

.notification_list {
    color: #666;
    padding: 3px 0 0 4px;
}

.notification_unread {
    background-color: #666 !important;
    color: #fff !important;
}

.search_history_list li {
    display: inline;
}

.agentLoginmsg {
    min-height: 450px;
}

.keep_span_active {
    border: 2px solid #f36f21 !important;
}

/*****bibek updated css ***/
.register .agentLoginmsg {
    min-height: 513px;
}

.selection-agentddoc {
    padding-left: 38px;
}

ul.nationality {
    padding-left: 10px;
    display: inline-grid;
}

.search_copy_form {
    display: inline !important;
}

.copy_condition {
    color: #333 !important;
}

.srch-selection {
    height: 34px !important;
    line-height: 1.42857143;
    padding: 9px 24px 6px 12px !important;
    border-radius: 4px !important;

}

.selection-reset {
    padding: 4px 4px 4px 5px;
    margin: 4px 0 0px 0px;
}

.selection-search {
    padding: 7px 21px 6px 19px;
}

.keep-select ul {
    height: 200px;
    width: 18%;
}

.keep-select ul {
    overflow: hidden;
    overflow-y: scroll;
}

.candidate-refer-form input.form-inline {
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 5px 0 3px 10px;
    min-width: 270px;
}

.candidate-refer-form label {

    min-width: 139px;
}

.candidate-refer-form label.radio-inline {
    min-width: auto;
}

.inline-RatioBtn {
    display: inline-block;
    float: left;
}

.old_keep_title.select2-hidden-accessible {
    width: 100% !important;
}

.modelKeepLists {
    cursor: pointer;
}

.keeplist {
    cursor: pointer;
}

.modelKeepList {
    cursor: pointer;
}

.keep_title {
    cursor: pointer;
}

.selection-prefer-loc {
    display: inline !important;
}

.selection-sidebar {
    max-width: 20% !important;
}

.dz-progress {
    display: none !important;
}

a.passwordReset-link {
    cursor: pointer;
    padding-right: 34px;

}

.signUp {
    padding-top: 22px;
}

.resetEmail {
    width: 94% !important;
}

.btn-login {
    float: right;
}

.user h2 {
    font-size: 12px;
}

.txtcompany {
    margin-left: 29px !important;
    height: 150px;
    overflow: scroll;
}

.sidebarDescWrapper li {
    list-style: none;
}

.close-up {
    margin-right: 30px;
}

.jobcompanyTitle {
    font-size: 19px;
    font-weight: bold;
}

.modal-content-stage {
    margin: 10px 0;
}

.modal-content-stage-indc {
    padding: 15px 0;
}

.modal-content-stage .fa-check {
    color: #12c912;
}

.container.emptySlider {
    padding-top: 27px;
}

.container.emptyHomeJobs {
    padding-top: 80px;
}

.usersSec {
    padding-top: 14px;
}

/** notification css **/

.dropdown-menu.dropdown-notification {
    padding: 5px 0 10px;
    width: 400px;
    margin-top: 9px !important;
}
.navbar-default li.dropdown.user-ptofile-dropdown ul.dropdown-menu {
    margin-top: 14px;
}
.navbar-default .navbar-nav > .notificationDropdown > a, .navbar-default .navbar-nav > .notificationDropdown > a:focus, .navbar-default .navbar-nav > .notificationDropdown > a:hover {
    background-color: transparent;
    color: #ffffff;
}

.dropdown-menu.dropdown-notification a {
    font-size: 13px;
}

.dropdown-menu.dropdown-notification div {

    overflow: hidden;
    padding: 0px 0;
}

#notification-ul > li {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    padding: 6px 7px 3px 7px;
}

.dropdown-message-box .media-body .text-muted.small {
    display: block;
}

.text-center.last-child-li {
    border: none !important;
    padding: 10px 0 5px;
}

#notification-ul {
    max-height: 315px;
    overflow-y: scroll;
    padding: 0 0px;
}

#notification-ul a {
    color: #525252;
}

.notification-link {
    color: #686868;
    font-size: 13px;
    line-height: 18px;
}

.profile-img {
    display: inline-block;
    float: left;
}

.profile-img > img {
    border-radius: 56px;
    height: 40px;
    margin: 0 7px 0 0;
    width: 40px;
}

.fa.fa-circle.unread {
    color: #2ecd71;
}

.fa.fa-circle.read {
    color: #000000;
}

.fa.fa-circle.read {
    color: #cfcfcf;
}

.unread {
    background: #fff1e8 none repeat scroll 0 0;
    transition: background-color 0.5s ease;
}

.unread:hover, .unread:focus {
    background: #ffffff none repeat scroll 0 0;
}

.read {
    background: #ffffff none repeat scroll 0 0;
    transition: background-color 0.5s ease;
}

.notiarrow {
    color: #ffffff;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: -14px;
    z-index: 11111;
}

.notificationNum {
    line-height: 12px;
    padding: 2px 5px;
    position: absolute;
    right: 4px;
    top: 11px;
    background: #ff0000;
}

.text-muted.noti-date {
    font-size: 12px;
    margin: 2px 0;
    display: block;
}

.dropdown-message-box {
    display: block;
}

.notif-link:hover {
    background: rgba(255, 228, 206, 0.69);
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.nf-head {
    display: inline-block;
    border-bottom: none !important;
}

.nf-actions {
    display: inline-block;
}

.nf-icon-read {
    margin-left: 18px;
}

.nf-actions.pull-right label {
    font-size: 21px;
    font-weight: normal;
    display: inline-block;
    padding-top: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.sectionHeader.nf {
    border-bottom: 1px solid #d8d4d4;
    margin-bottom: 10px;
}

.emptyNotification {
    padding-left: 58px;
}

.notif-actions {
    border-bottom: 1px solid #dddfe2;
    color: #000;
    text-align: right;
    padding: 0 12px !important;
}

.nf-action-td .fa {
    font-size: 20px;
    margin-right: 10px;
}

.select2-container--bootstrap {
    width: 100% !important;
}

#sr_loading_overlay_wrap {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1040;
}

#sr_loading_overlay {
    position: relative;
    top: 30%;
}

.overlay_msg {
    background-color: #fff;
    border: 2px solid #e4812f;
    border-radius: 9px;
    margin: 0 auto;
    min-height: 125px;
    padding: 10px;
    text-align: center;
    width: 440px;
}

.sr-close {
    display: none;
    margin: 0 auto;
}

.panel.panel-default.tblKeep {
    margin: 0 10px 0 11px;
    padding: 4px 2px 0 4px;
}

.keepDropDown {
    color: #f36f21;
    font-size: 17px;
}

.pointer {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-title {
    line-height: 1.8em;
    text-align: center;
    padding: 6px 0 0 0;
    margin-bottom: 13px;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 40%;
    color: #000;
}

.pageHeader {
    margin: 20px 0;
}

.job_img_holder_agent {
    margin: 30px 0 20px;
}

a.txtwhite {
    color: #ffffff;
}

a.txtwhite:hover {
    color: #ffffff;
}

.searchsubJType {
    padding: 0 0 0 0px;
    white-space: inherit;
    line-height: 2;
    font-weight: normal;
    font-size: 11px;
}

.searchCharacter {
    color: #f36f21;
    font-weight: normal;
    font-size: 11px;
}

.searchLocation {
    font-weight: normal;
    font-size: 11px;
}

.btnClose {
    background-color: #f36f21;
    border-color: #f36f21;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    border: 1px solid #f36f21;
    color: #fff;
}

.EditUser {
    cursor: pointer;
}

.DeleteUser {
    cursor: pointer;
}

.select2-container--bootstrap .select2-selection__clear:hover {
    color: #f36f21 !important;
}

.select2-container--bootstrap .select2-selection__clear {
    color: #f36f21 !important;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #f36f21 !important;
    color: #fff;
}

.select2-container--bootstrap .select2-dropdown {
    border-color: #fff;
}

ul.selProsteps {
    list-style: square;
    padding-left: 20px;
}

.popover {
    background: rgba(18, 16, 16, 0.6);
    color: #fff;
    border: 1px solid rgba(11, 4, 4, 0.2);

}

.popover.top > .arrow:after {
    border-top-color: rgb(110, 110, 110);
}

.popover.bottom > .arrow:after {
    border-bottom-color: rgb(110, 110, 110);
}

.popover.right > .arrow:after {
    border-right-color: rgb(110, 110, 110);
}

.popover.left > .arrow:after {
    border-left-color: rgb(110, 110, 110);
}

label.dobmonthlbl {
    min-width: 50px;
    font-weight: 500;
    margin-right: 20px;
}

.dob span {
    font-size: 14px !important;
}

label.dobdaylbl {
    min-width: 50px;
    font-weight: 500;
    font-size: 12px;

}

label.dobyearlbl {
    min-width: 95px;
    font-weight: 500;
    margin-right: 20px;
}

/*added for agent register client*/
.register_agent_client {
    margin-top: 3%;
}

img.QAList_img {
    width: 25px !important;
    border-radius: 0px !important;
}

.new-msg {
    font-weight: normal;
}

.danger {
    color: #ff4e4e;
}

.clickRow {
    cursor: pointer;
}

li.navComInfo {
    margin-right: 35px;
}

/** agent percent overlay **/

.item .product-box .image {
    position: relative;
}

.job-ico-holder img {
    width: 20px !important;
    margin: 0 auto;
}

/*.job-ico-holder {
    position: absolute;
    background: rgba(255, 134, 63, 0.8);
    border-radius: 40px 0 0 0;
    top: -60px;
    right: 0;
    width: 50px;
    height: 40px;
    text-align: center;
    padding: 11px 0 0 6px;
    z-index: 1111111111111111;

}*/
.job-ico-holder {

    position: absolute;
    background: rgba(255, 134, 63, 0.8);
    border-radius: 80px 0 0 0;
    top: -72px;
    right: 0;
    min-width: 60px;
    min-height: 52px;
    text-align: center;
    padding: 16px 0 0 10px;

}

.job-ico-holder a {
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
}

.popover-box {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    top: -60px;
    left: 0;
    text-align: left;
    transition: all 0s ease;
    width: 75%;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
    color: #ffffff;
    line-height: 15px;
    font-size: 9px;
    font-weight: 600;
}
.popover-box-small
{
    width:74% !important;
}

.matter {
    position: relative;
}

.popover-box {

    transition: all 0s ease;
}

.job-ico-holder-wrapper {
    transition: all 0s ease;
}

.job-ico-holder-wrapper:hover .popover-box {

    display: block !important;

}

.popover-box:before {
    content: "\A";
    position: absolute;
    right: -8px;
    top: 12px;
    z-index: 100;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid rgba(0, 0, 0, 0.3);

}

.title-header {
    font-size: 16px;
    color: #f36f21;
    text-decoration: none;
    padding: 32px 0 15px 15px;
    display: inline-block;
}

.agentFeatureJobs {
    display: inline;
}

.title-header:hover {

    text-decoration: none;

}

.sectionHeader {
    overflow: hidden;
}

.header-head {
    float: left;
    display: inline-block;
}

.title-p {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 3px;
    padding-bottom: 15px;
}

.slider-p {
    color: #fff;
    padding-bottom: 50px;
    font-size: 18px;
    padding-top: 25px;
}

.appox-down {
    background: #fed008;
    padding: 15px 30px;
    text-decoration: none;
    color: #000000;
    display: inline-block;
    border-radius: 30px;
    border: 0;
    transition: .3s all ease-in-out;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
}

.appox-down:hover {
    background: #f8d749;
    text-decoration: none;
    color: #000000;
    transition: .3s all ease-in-out;
}

.label-alliance {
    background: #007bff !important;
}

.allianceSidebar {
    background: #f2f2f2 !important;
    color: #8a8181 !important;
}

.allianceCloseBtn {
    border-color: #666;
    color: #666;;
}

.allianceOpenBtn {
    border-color: #666;
    color: #666;;
}

.normalJobSidebar {
    background: #8c8c8c !important;
    color: #ffffff !important;
}

/*.jdTypeSearch
{
    display: none;
}*/
img.org_banner {
    max-width: 390px;

}

.jobHeaderContent {
    border: none !important;
    margin: 0px !important;
    padding: 0 0 9px !important;
}

.tblDivFormBox label {
    font-weight: 500;
}

#candidate_list .tab-span {
    font-size: 9px !important;
}

.default-percent {
    background: rgba(35, 146, 236, 0.88);
    /*jjsjs*/
}

.mainContent {
    padding: 100px 0 0 0 !important;
}

.searchTotalNum {
    padding: 20px 0 0 35px;
    color: #ff863f;
}

/** agent search popup model **/

/* Customize the label (the container) */

.chk-container {
    display: inline-block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 12px;
    float: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 6px;
    text-shadow: none !important;
    font-weight: normal;
}

.plusImg {
    position: relative;
}

.input-img {
    position: absolute;
    top: 40px;
    right: 10px;
    height: 10px;
}

.input-img-char {
    position: absolute;
    top: 12px;
    right: 15px;
    height: 10px;
}

/* Hide the browser's default checkbox */

.chk-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #c0c0c0;
}

/* On mouse-over, add a grey background color */

.chk-container :hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.chk-container input:checked ~ .checkmark {
    background-color: #F08141;

}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.chk-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.chk-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.popupChk {
    padding: 10px 0 0 10px;
}

.popupChk ul li {
    width: 50%;
    float: left;
    display: inline-block;
}

.popupmodal .modal-dialog {
    width: 750px;
}

.popupmodal .modal-header {
    margin: 0 0 0px 0;
    background: #e6e8ef;
    padding: 15px 10px 15px 10px;
}

.popupmodal .modal-body label {
    background: transparent;
    width: auto;
    padding: 0 0 0 30px;
    font-size: 13px;
    font-weight: normal;
}

.menu-nav .active {
    background: #f7f7f7;
}

.menu-nav {
    background: #ededed;
    min-height: 255px;
    margin: 0;
}

.popupmodal .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #ccc;
}

.menu-nav li {
    padding: 7px 0 0 10px;
    border-bottom: 1px solid #e3e3e3;
}

.popupmodal .chk-container .checkmark::after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*.btnRev {
    background: #415469;
    border: 1px solid #415469;
    margin-left: 8px !important;
}*/

.popupmodal .chk-container {
    margin-bottom: 5px;
}

.popupmodal .modal-content {
    background: transparent;
    border: 0;
    box-shadow: none;
}

.checkbox-wrapper {
    background: #ffffff;
    padding: 0 0px 0 0px;
    min-height: auto;
    border-radius: 2px;
    overflow: hidden;
}

.checkbox-wrapper .close {
    float: right;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0px 0 transparent;
    opacity: 1;
}

.popupmodal .checkbox-wrapper h3 {
    display: inline-block;
    float: left;
    margin: 10px 0 0 0;
    font-size: 20px;
}

.popupmodal label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}

.sub-menubox ul {
    margin: 0 !important;
    padding: 15px 0 0 0;
}

.chk-container-new {
    background: transparent;
    width: auto;
    padding: 0 0 0 30px;
    font-size: 13px;
    font-weight: normal;
    position: relative;

}

.chk-container-new input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.chk-container-new input:checked ~ .checkmark {
    background-color: #F08141;
}

.chk-container-new input:checked ~ .checkmark:after {
    display: block;
}

.popupmodal .chk-container-new .checkmark::after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.chk-container-new .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.chk-pad-new {
    padding: 0 !important;
}

#jobTypeModal .modal-dialog {
    width: 1000px;
}

/*.custom-bottom-search{
    float: right;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0px 0 transparent;
    opacity: 1;
    margin: 10px 0px 10px 10px;
}*/

.popupChk {
    padding: 0;
}

.popupChk ul {
    padding: 10px 0 0 10px;
    display: table
}

.modelTop {
    top: -105px;
}

.regionModel .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #ccc;
}

.regionModel .chk-container {
    padding: 0 0 0 19px;
}

.squareCheck .chk-container {
    margin-bottom: 0px;
}

.squareCheck .checkmark {
    height: 13px;
    width: 13px;
    background-color: #fff;
    top: 5px;
}

.squareCheck .chk-container input:checked ~ .checkmark {
    background-color: #ffffff;

}

.squareCheck .chk-container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #F48141;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.characterModel .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #ccc;
}

.characterModel .chk-container {
    padding: 0 0 0 19px;
}

.btnSearchModelClose {
    background: #415469;
    border: 1px solid #415469;
    color: #fff;
}

.btnSearchModelClose:hover {
    color: #fff;
}

.quickSearch:hover {
    color: #fff;
}

/** end search model **/
.mainContent {
    min-height: calc( 100vh - 83px);
}

.pageLink {
    cursor: pointer;
}

.sliderJType {
    cursor: pointer;
}

@media screen and (min-width: 1316px) {
    .navbar-default .navbar-nav > li.show-on-lg {
        display: block;
    }

    .navbar-default .navbar-nav > li.show-on-md {
        display: none;
    }
}

@media screen and (max-width: 1316px) {
    .navbar-default .navbar-nav > li.show-on-lg {
        display: none;
    }

    .navbar-default .navbar-nav > li.show-on-md {
        display: block;
    }

    .navbar-nav {
        font-size: 12px;
    }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #fff;
}

.company-info {
    text-transform: uppercase;
}

input.form-control.min_salary {
    display: inline-block;
    width: 44%;
}

.allianceAlert p {
    text-align: left;
    padding-bottom: 8px;
    padding-left: 5px;
}

.candidate-wrapper {
    background: #f5f5f5;
    display: block;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border: 1px solid #e8e6e6;
}

.candidate-wrapper label {
    font-size: 16px;
    margin: 10px 0 10px 0;
}

.downloadFile i {
    color: #f36f21;
}

a.candidate_downloadFile {
    background: #e4e4e4;;
    border-radius: 50px;
    padding: 3px 15px 3px 15px;
    display: inline-block;
    color: #666;
    margin: 0 0 5px 0px;
}

.btn-remove, .btn-remove:hover {
    background: #ff6060;
    border-radius: 50px;
    padding: 2px 0px 2px 0px;
    color: #fff;
    width: 65px;
    display: inline-block;
    text-align: center;
    font-size: 11px;
    border: 0;
}

.name-label-right {
    padding-left: 21px;
    margin-right: 10px;
}

.refer-name input.form-inline {
    min-width: 100px !important;
}

.label-haken {
    background: #F6D048 !important;
    border-radius: 46px;
    padding: 5px 10px;
    display: inline-block !important;
    margin-right: 5px;
    margin-bottom: 6px;
    font-size: 14px !important;
    color: #000000 !important;
    font-weight: 600;
}

.haken-box {
    position: absolute;
    top: -3px;
    overflow: hidden;
    height: 85px;
    width: 85px;
    text-align: center;
    z-index: 0;
}

.haken-box {
    left: -3px;
}

.haken-label {
    font: 700 14px/12px Arial, Helvetica, sans-serif;
    color: #fff;
    background: rgba(35, 146, 236, 0.88);
    text-transform: uppercase;
    padding: 9px 0 7px;
    width: 130px;
    text-align: center;
    display: block;
    position: absolute;
    left: -33px;
    top: 16px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.haken-label:before {
    position: absolute;
    bottom: -3px;
    right: 5px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 4px 0px 4px;
    border-color: rgba(35, 146, 236, 0.88) transparent transparent transparent;
    content: ".";
    text-indent: -5000px;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

.haken-label:after {
    position: absolute;
    bottom: -3px;
    left: 3px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 4px 0px 4px;
    border-color: rgba(35, 146, 236, 0.88) transparent transparent transparent;
    content: ".";
    text-indent: -5000px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.hakenCheck {
    display: inline-block;
    padding-left: 8px;
}

.hakenCheck .chk-container {
    margin-bottom: 0px;
}

.hakenCheck .checkmark {
    height: 13px;
    width: 13px;
    background-color: #F08141;
    top: 5px;
}

.hakenCheck .chk-container input:checked ~ .checkmark {
    background-color: #F08141;

}

.hakenCheck .chk-container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.keeplist-pagination .pagination {
    float: right;
    margin: 0px 22px 10px 0px;
}

.keep-search-reset {
    margin-left: 28px;
}

.tblKeep {
    margin: 0 10px 0 11px;
    padding: 4px 2px 0 4px;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #ddd;
    border-radius: 4px;
}

.tblKeep .clickable {
    background-color: #f9f9f9;;
}

.padding-left-zero {
    padding-left: 0;
}

.form-error {
    font-size: 12px !important;

}

.salaryError {
    font-size: 12px !important;
}

.name-label-right {
    padding-left: 21px;
    margin-right: 10px;
}

.refer-name input.form-inline {
    min-width: 100px !important;
}

.candidate-refer-form .error {
    color: #f32121;
    font-size: 12px;
    font-style: normal;
    text-align: center;
    width: 100%;
    padding-left: 91px;
    display: block;

}

.candidate-refer-form .katakana-error {
    color: #f32121;
    font-size: 12px;
    font-style: normal;
    text-align: center;
    width: 100%;
    padding-left: 130px;
    display: block;

}

.candidate-refer-form .input-small {
    min-width: 100px !important;
}


.candidate-refer-form .dropzone .dz-message span {
    font-size: 14px !important;
}

.candidate-refer-form .dropzone .dz-preview .dz-error-message {
    left: 140px;
    top: 90px;
    font-size: 10px;
    width: 295px;
}

.other-doc-error {
    left: 140px !important;
    top: 20px !important;
    font-size: 10px;
    width: 130px !important;
}

.totalRefer
{
    color: #fff;
    padding: 2px 0 0 24px;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.question-no {


    margin: 0px 10px 0 0px !important;

    display: inline-block;

    float: left;

    font-size: 16px;

    background: #f36f21;

    color: #fff;

    border-radius: 76px;

    width: 35px;

    height: 35px;

    padding: 9px 0 0 0;
}

.survey-question {

    font-size: 16px;

padding: 7px 0 0 0;

}
.question-no-wrap {


    display: inline-flex;
    padding: 15px 0 0 0;

}

.survey-label-right {
    padding: 4px 0 0 6px !important;
    display: inline-block !important;
    margin: 0 auto !important;
}
.survey-label-left {
    padding: 5px 17px 0px 0 !important;
    display: inline-block !important;
    margin: 0 auto !important;
    width: 17% !important;
}
.answer-box
{
    text-align: center !important;
}
.prev-next-link
{
    margin: 50px 0 0 0;
    font-size: 22px;
    cursor: pointer;
    color: #f36f21;
}

.question-wrap
{
    position: relative;
}
.btn-forward
{
    background:#fff !important;
    border: #fff !important;
    position: absolute;
    top: 25%;
    right: 17px;
}
.btn-backward
{
    background:#fff !important;
    border: #fff !important;
    position: absolute;
    top: 25%;
    left: 17px;
    z-index: 111;
}
.disabled
{
    opacity: 0.3;
}
.answer-radio-list {
    display: inline-block;
    text-align: left;
}

#agent-survey .error
{

    color: #f32121;
    font-style: normal;
    padding: 0px 20px 0px 0px;
    display: inline-block;
    border-radius: 50px;
    font-size: 10px;

}
.submit-survey {

    min-width: 180px;
    margin-top: 20px;

    border-radius: 50px;
    height: 40px;
}

.submit-survey:hover{
    color: #fff;
}
.survey-result
{
    text-align: center;
    background: #f9f9f9 none repeat scroll 0 0 !important;
}
.btn-survey-result{
    text-align: center;
}
.answer-radio-list li {
    padding: 0 0 7px 0;
}

.answer-radio-list li input {
    margin: 0 5px 0 0;
}
.mb-4 {
    margin-bottom: 1em;
}

.step.input-step .error {
    margin: 0 0 0 50px;
}
.challenge-checkbox {
    padding-bottom: 3px;
}

.challenge-checkbox .error
{
    margin-left: -139px !important;

}
.challenge-info
{
    font-size: 11px;
    display: inline;
    padding-left: 3px;
}

.challenge-info-ico
{
    padding: 0 3px 0 0;
    color:#8a6d3b;
}


.company-popover span{
    font-size: 11px;
}

.age-popover span{
    font-size: 11px;
}

.challenge-info .fa {
    font-size: 14px !important;
    padding-right: 3px;
}

.recommend-allert{
    background: #fcf8e3;
    color: #8a6d3b;
    line-height: 1;
    padding: 5px 5px 5px 10px;
    position: relative;
    margin: 0 0 0 -35px;
    border-radius: 4px;
}
.recommend-allert p{
    font-size: 12px; margin: 0;
    line-height: 15px;
}
.recommend-allert .arrow-left {
    width: 0;
    position: absolute;
    height: 0;
    left: -8px;
    top: 8px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fcf8e3;

}
.recommend-allert span{
    float: left;
    display: inline-block;
    margin: 6px 5px 5px 0;

}

.recommend-allert span .challenge-info-ico {

    font-size: 14px;
}
.user-img-holder{
    position: relative;
}


.user-inner-img-holder img {
    width: 60px;

}
.user-inner-img-holder {

    position: relative;
}
.challenge-wrap-inner{
    position: absolute;
    left: 0px;
    top: 51px;
    background: #6da6e5;
    width: 59px;
    color: #ffffff !important;
    text-align: center !important;
    font-size: 8px !important;
    padding: 0px 5px 0px 5px;
    border-radius: 2px;
    height: 19px;
}


.label-haken {
    background: #F6D048 !important;
    border-radius: 46px;
    padding: 5px 10px;
    display: inline-block !important;
    margin-right: 5px;
    margin-bottom: 6px;
    font-size: 14px !important;
    color: #000000 !important;
    font-weight: 600;
}

.challenge-wrap-box {
    position: absolute;
    top: -3px;
    overflow: hidden;
    height: 85px;
    width: 85px;
    text-align: center;
    z-index: 0;
}

.challenge-wrap-box  {
    left: -13px;
    top: -31px;
}

.challenge-wrap-label {
    font: 400 9px/12px Arial, Helvetica, sans-serif;
    color: #33250c;
    background: #f5c303;
    text-transform: uppercase;
    padding: 6px 0 3px;
    width: 104px;
    text-align: center;
    display: block;
    position: absolute;
    left: -28px;
    top: 11px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.challenge-wrap-label:before {
    position: absolute;
    bottom: -3px;
    right: 5px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 4px 0px 4px;
    border-color: #fcf8e3 transparent transparent transparent;
    content: ".";
    text-indent: -5000px;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

.challenge-wrap-label:after {
    position: absolute;
    bottom: -3px;
    left: 3px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 4px 0px 4px;
    border-color: #fcf8e3 transparent transparent transparent;
    content: ".";
    text-indent: -5000px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.challenge-wrap-inner-box  {
    position: absolute;
    top: -3px;
    overflow: hidden;
    height: 85px;
    width: 85px;
    text-align: center;
    z-index: 0;
}

.challenge-wrap-inner-box  {
    left: -13px;
    top: -8px;
}

.challenge-wrap-inner-label {
    font-size: 10px !important;
    color: #33250c !important;
    background: #f5c303;
    text-transform: uppercase;
    padding: 0px 0 0px;
    width: 93px;
    text-align: center;
    display: block !important;
    position: absolute;
    left: -23px;
    top: 12px;
    font-weight: 400;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.form-group.user {

    overflow: visible;
}
.challenge-wrap-inner-label:before {
    position: absolute;
    bottom: -3px;
    right: 5px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 4px 0px 4px;
    border-color: #fcf8e3 transparent transparent transparent;
    content: ".";
    text-indent: -5000px;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

.challenge-wrap-inner-label:after {
    position: absolute;
    bottom: -3px;
    left: 3px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 4px 0px 4px;
    border-color: #fcf8e3 transparent transparent transparent;
    content: ".";
    text-indent: -5000px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}


.error.help {
    color: #f32121;
    display: inline;
    font-size: 12px;
    font-style: normal;
    width: 100%;
    text-align: center;
}

.decline-reason-box {
    background: #f9f9f9 !important;
    border: 1px solid #f3f3f3 !important;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
}
.decline-reason-box ul li {
    display: inline-block;
    width: 50%;
    float: left;
    font-size: 13px;
}

.model-reject, .hiring-decline-modalwrap{
    width: 730px !important;
}


.selection-detail-wrap .formWrap h3 {

    padding: 0 0 13px 48px !important;
    font-size: 18px !important;
}

.selection-detail-wrap  .row.formWrap h4{
    font-size: 16px !important;
}
/** css for job detail */
.job-detail-container{
    width: 1350px !important;
}

.jobDesCart label{
    display: inline-block;
    float: left;
    width: 200px;
    padding: 0 25px 0 0;
    text-align: left;
    overflow: hidden;
    min-height: 40px;
}
.jobDesCart .content-holder{
    display: inline-block; min-height: 40px;

    width: calc(100% - 200px);

    overflow: hidden;
}
.job-detail-cart{

    background: #ffffff;
    padding: 30px 25px 10px 25px;
    border: 1px solid #ddd;
    border-top: 0;
}
.job-detail-info{
    border: 1px solid #b8daea !important;
    border-top: 0 !important;
    background: #f4f9fb;
}
.job-detail-hearder-wrap h3 {
    font-size: 14px;
    color: #313131;
    display: inline-block;
    margin: 5px 0 0 0;
}.job-detail-hearder-wrap img {
     width: 20px;
     margin: -3px 5px 0 0;
 }
.job-detail-hearder-wrap {
    padding: 10px 15px 12px 18px;
    background: #f5f5f5;
    margin-top: 10px;
    border: 1px solid #dddddd;

    border-radius: 5px 5px 0 0;
}
.mt-2{
    margin-top: 2em !important;
}
.btn-round{
    border-radius: 50px;
}
.btn-grey {
    background: #ffffff;
    color: #8c8c8c;
}
.btn-grey:hover {
    background: #f36f1f;
    color: #ffffff;
}
.btn-md  {
    padding: 3px 15px 3px 15px;

}
.jobHeaderContent h2{
    font-size: 24px;
    margin: 20px 0 5px 0;
}

.job-Age-display {
    background: #e2eff5;
    margin: 0 0 25px 0;
}
.job-Age-display .selectionage{
    padding: 10px 0 0 10px;
    border: 1px solid #f4f9fb;
}
.job-Age-display .row{
    margin: 0;
}

.job-Age-display  .jobDesCart label {

    min-height: 30px;
    width: 100px;
}

.job-Age-display .jobDesCart .content-holder{

    min-height: 30px;

    width: calc(100% - 100px);
}
.mb-3{
    margin-bottom: 1.5em;
}
ul.job-list-inline li {
    display: inline-block;
    padding: 0 5px 0 0;
}

.sidebarActionWrapper.sidelist ul li:last-child a {
    border-bottom: none !important;
}

.jobDescContent.jobDesCart label .sm-txt {
    border: none;
    color: #616161;
    font-weight: 400;
    font-size: 11px;
    background: transparent;
    width: auto;
    display: inline;
    float: none;
    margin: 0;
    padding: 0;
    text-align: left !important;
    border-radius: 0;
    height: auto;
}
.jobHeaderContent {
    margin: 30px 0px 30px 0px !important;
    background: #ffffff;
    border-radius: 5px;
    padding: 1px 15px 25px 15px !important;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
ul.list-inline.stage-list li {
    margin-left: 0px !important;
    padding-right: 15px;
}

.checkbox-holder {
    background: #f0f5f7;
    padding: 15px 0 5px 15px;
    border-radius: 5px;
    margin-bottom: 1em;
}


.plainHeaderContainer {
    overflow: hidden;
    margin: 0 0 -20px 0;
}



/* The container */
.stage-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 0px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.stage-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #c0cbd0;
    background-color: #fff;
}

/* On mouse-over, add a grey background color */
.stage-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.stage-container input:checked ~ .checkmark {
    background-color: #4ba0c1;
    border-color: #4aa0c0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.stage-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.stage-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.stage-card h3 {
    color: #f36f1f;
    padding: 0 0 0px 0;
    display: inline-block; font-size: 16px;
    float: left;
}
.stage-card h3 span {
    font-size: 14px;
    color: #757575;
    font-weight: 400;
}
.stage-card-header {
    overflow: hidden;
}

.stage-card {
    background: #fbfbfb;
    padding: 1px 10px 25px 20px;
    border: 1px solid #f1f1f1;
    margin-bottom: 1em;

}
.reject-card h4 {
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    background: #efefef;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    margin: 10px 5px 0 0;
}
.reject-card {
    padding: 1px 0 0 0;
}
p.reject-details {
    padding: 10px 0 0 0;
}
span.reject-date {
    float: right;
    margin: 15px 10px 0 0;
}
.stage-card-header {
    overflow: hidden;
    border-bottom: 1px solid #eaeaea;
}

.plainHeaderContainer h2 {
    display: inline-block;
    font-size: 24px !important;
}
.plainHeaderContainer .btn {
    margin-top: 20px;
}
.job-detail-hearder-wrap.info-header-bar {
    background: #d4eaf3;
    border-color: #b8daea;
}



.info-header-bar  .btn-grey:hover {
    background: #96c6dc !important;
    color: #ffffff !important;
}


/***sidebar***/

.sidebar-card {
    border: 1px solid #dddddd;
    background: #ffffff;
    padding: 0px 0px 0px 0px;
    margin: 0px 0 16px 0;
}
.sidebar-card ul li a {
    padding: 15px 0 15px 3px;
    color: #666666;
    display: block; cursor: pointer;
}
.sidebar-card ul li a span.ico-holder-spn {
    margin: 0 10px 20px 16px;
    display: inline-block;
    float: left;
}
.sidebar-card ul li span.ico-holder-spn .fa {
    color: #545454;
}
.sidebar-card li {

    border-bottom: 1px solid #dddddd;  cursor: pointer;
    border-left: 2px solid #dddddd !important;
}
.sidebar-card li:hover {

    border-left: 2px solid #f36f1f !important;  cursor: pointer;
}
.sidebar-card li:hover a, .sidebar-card li:hover a  span .fa {

    color:   #f36f1f !important;  cursor: pointer;
}
.sidebar-card li:last-child  {
    border-bottom: none !important;
}

.sidebar-card ul {
    margin: 0;
}

.color-primary{
    color: #f36f1f !important;

}

.owl-item {
    box-shadow: none;

}
.mb-2 {
    margin-bottom: 2em;
}

.jobDetailJobList .jobListWrapper {
    background: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px 20px 0 20px;
}

.jobDetailJobList .customTbl tbody tr {

    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0) !important;
    border-bottom: 1px solid #000000 !important;
    height: 50px; cursor: pointer;
}
.jobDetailJobList .sectionHeader h3{
    font-size: 20px;
}

ul.qaAns-date {
    display: inline-block;
    margin: 0;
}
ul.qaAns-date li p {
    margin: 0;
}

.jobDetailJobList thead tr{
    background: #f0f5f7;
}


.jobDetailJobList thead tr th{
    color: #666666;
}

.jobDetailJobList  table.customTbl {
    border-collapse: separate;
    border-spacing: 0 0px;
}

.jobDetailJobList  .customTbl tbody td {
    padding: 15px 0 0 10px !important;
}

.jobDetailJobList  .customTbl tbody td.highlight a {
    color: #666666;
    font-weight: 400;
}
.jobDetailJobList  .customTbl tbody td.highlight a:hover
{
    color: #f36f21;

}
.jobDetailJobList .customTbl tbody tr:hover td.highlight a {

    color: #f36f21;
}

.jobDetailJobList  .customTbl thead tr th {
    font-size: 12px;
}
.jobDetailJobList  .sectionHeader {
    overflow: hidden;
    border: 1px solid #dddddd;
    border-radius: 3px 3px 0 0;
    padding: 0 0 0 15px;     border-bottom: 0 !important;
}
.jobDetailJobList .sectionHeader h3 {
    font-size: 16px;
    margin: 15px 0 10px 0;
    color: #333333;
}

.block-location{
    display: block !important;
    margin-top: 2px;
}
.lightBg
{
    background-color: #fff;
}
.pagination-wrapper-custom {
    display: table;
    width: 100%;
}
.pagination-wrapper-custom .pagination {
    float: right;
}

.jobDescContent.jobDesCart .content-holder p {
   /* margin: 0 !important; */
}
.job-Age-display .selectionage {
    padding: 15px 0 0 10px !important;

}

.jobDescContent.jobDesCart {
    overflow: hidden;
}
.job-detail hr
{

    margin-top: 10px;
    margin-bottom: 25px;
}
.selection-jd-wrap hr{

    margin-top: 10px;
    margin-bottom: 25px;
}
/* 31-5-2019 css added selectbox pagination*/
.searchPaginationContent .pagination-wrapper {
    display: inline-block;
    float: left;
    padding: 0 10px 0 0;
}

.searchPaginationContent  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0 0 15px;
    border-radius: 4px;
}
.countNoWrapper .order-box {
    overflow: hidden;
    display: inline-block;
    padding: 19px 0 0 0;
}

.countNoWrapper .order-box .order-selector{
    height: 36px;
    padding: 0 13px 0 0 !important;
    width: 147px;
    border: 1px solid #dddddd;}

.searchTotalNum.searchListCount {
    color: #ff863f;
    display: inline-block;
    padding: 20px 15px 0 0;
    float: left;
}
.countNoWrapper {
    overflow: hidden;
    display: inline-block;
    float: right;
    padding: 0 15px 0 0;
}
.decline-text-wrap {
    position: relative;
    z-index: 0;
}
.decline-message-placeholder{
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 149px;
    background-color: #fff;
    padding: 15px 0 0 15px;
    color: #a5a5a5;
}

.txt-area-br{     padding: 15px 15px 0 15px;
    background: transparent;
}
.decline-placeholder-edit{
    background: #ffffff !important;
}
.decline-reason-lbl
{
    font-weight: 500 !important;
}
.decline-msg-wrapper
{
    padding-top: 8px;
}



/*css added for hr*/


.job-detail hr, .selection-jd-wrap hr {
    color: #cacaca;
    border-top: 1px solid #cacaca;
}
.sideDescWrapper {

    padding: 10px 15px 0 15px;
}

.lblClose {
    background-color: #d9534f !important;
    color: #fff !important;
}
.survey-other-detail {
    width: 85%;
    margin-left: 47px;
}
.wrap_second_survey .error {
    margin: 0 !important;
}
textarea.form-control.survey-other-detail {
    max-width: 480px !important;
}

.total-reason
{
    float: right;
}
.reason-total
{
    background: #ff863f;
    padding: 0px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
    text-align: center;
}

.job-company-name
{
    padding: 4px 0 2px 0;
}
.agent-percent
{
  display: inline-block !important;
    float: left !important;
}
.over_visible {
    overflow: visible !important;
}
.over_visible .pull-left
{
    float: left !important;
    display: inline-block;
}
.agent-percent-alert {
    background: #d1ecf1;
    color: #495b5f;
    line-height: 1;
    padding: 7px 5px 6px 10px;
    position: relative;
    margin: -11px 0 0 19px;
    display: inline-block;
    font-size: 12px;
}
.agent-percent-alert .arrow-left {
    width: 0;
    position: absolute;
    height: 0;
    left: -8px;
    top: 10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #d1ecf1;
}
.agent-percent-alert .info-ico {
    font-size: 14px;
    float: left;
    display: inline-block;
    margin: 7px 5px 0 3px;
    color: #666666;
}

.agent-percent-alert p {
    margin: 0;
    line-height: 15px;
    display: inline-block;
    color: #666666  ;
}


.jobdetail-notice-popup button i {
    color: #666666;
}
.jobdetail-notice-popup .btn, .jobdetail-notice-popup .btn:hover{
    background: transparent;
    color: #666666;
    border-bottom: 1px solid #666666;
    font-weight: 600; padding: 0;
    border-radius: 0;
}


.selection-pass-rate {
    background: #b8daea;
    line-height: 1;
    padding: 7px 5px 6px 10px;
    position: relative;
    margin: -11px 0 6px 19px;
    display: inline-block;
    color: #313131;
}
.selection-pass-rate .arrow-left {
    width: 0;
    position: absolute;
    height: 0;
    left: -8px;
    top: 3px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #b8daea;
}

.selection-pass-rate p {
    margin: 0;
    line-height: 15px;
    display: inline-block;
}
.jobdetail-notice-popup .modal-content {
    border-top: 2px solid #b8daea;
}
ul.company-info-ul .fa {
    color: #ff863f;
    font-size: 12px;
}
ul.company-info-ul h5 {
margin: 0;
    font-weight: 600; font-size: 12px;
    color: #aaaaaa;
}
ul.company-info-ul a {
    margin: 0 0 5px 15px;
    display: inline-block;
    color: #565656;
}
.support-job
{
    background: #75b6ef;
}
.label-jobins {
    background: rgba(35, 146, 236, 0.88) !important;
}
.label-support-jd
{
    background: #75b6ef !important;
    color: #fff !important;
}
.job-list-inline
{
    margin: 0 !important;
}
.dates{
    margin-top: -4px;
    font-size: 9pt;
    font-weight: bold;
}
.jobHeaderContent label
{
    margin-bottom: 0;
}
.popover-box.related-job-box {
    padding: 5px 0 5px 3px !important;
}

.jobsearch-img .popover-box {
    bottom: 0 !important;
    top: auto !important;
    line-height: 13px;
    min-height: 35px;
    padding: 5px 0px 5px 3px;
}

.jobdetail-notice-popup .modal-header span {
    background: #ffffff;
    width: auto;
    color: #3a3a3a;
    height: auto;
    display: inline-block;
    text-align: center;
    float: left;
    border-radius: 0;
    padding: 0px 0 0 0;
    border: 0;
    position: absolute;
    margin: 0 5px 0 0;
    top: 15px;
    right: 10px;
}
.jobdetail-notice-popup .modal-dialog {
    margin-top: 15%;
}
.jobdetail-notice-popup .modal-header {
    padding: 15px 0px 15px 20px;

    text-align: center;
    background: #d4eaf3;
    border-color: #b8daea;
}

.jobdetail-notice-popup .modal-header h5 {
    font-size: 16px;
}
.jobdetail-notice-popup .modal-body {
    position: relative;
    padding: 20px 20px 20px 20px;
}


.jobsearch-img .job-ico-holder {
    bottom: 0 !important;
    top: auto !important;

}
.jobsearch-img .popover-box:before {

    right: -6px;

    border-left: 6px solid rgba(0, 0, 0, 0.3);
}

/***search bar design updated ***/
.search-checkwrap .title-label {
    display: block;
    width: 100%;
}

.search-checkwrap  .chk-container {

    padding-left: 20px;
}
.search-checkwrap .inline-ckbox-job-search {
    padding: 0 0 0 10px;
}
.search-bar-wrap {
    padding: 5px 15px 10px 15px;
}
.search-bar-wrap .form-group {
    margin-bottom: 10px;
}
.search-bar-wrap .annual-income-span{
    margin: 6px 0 0 5px;
    display: inline-block !important;
    font-weight: 600;
    font-size: 13px !important;
}

.search-bar-wrap .anual-title-label{
    display: inline-block;
    margin-top: 5px;
}
.search-checkwrap ul li{
    padding: 0 !important;
}

.search-bar-wrap .checkmark:after {
    left: 4px !important;
    top: 0px !important;
    width: 4px !important;
    height: 9px !important;


}
.msg-not-seen {
    color: red;
    font-size: 13px;
    font-weight: 600;
}
.msg-seen
{
    color: #1ab394;
    font-size: 13px;
    font-weight: 600;
}
.agentMonthlyPlan, .agentMonthlyPlan:hover
{
    text-decoration: underline;
}
.btnClear ,btnClear:hover
{
    float:right;
    margin: 4px 9px 0 0;
    background: #415469;
    border: 1px solid #415469;
    color: #fff !important;
    padding: 2px 9px 2px 9px;
}

.jobdetail-notice-popup p{
    font-size: 12px;
    font-weight: 600;
}
.jobdetail-notice-popup .btn{
    cursor: none;
}
.salaryDropBox select
{
    width: 50% !important;
    float: left;
    display: inline;

}

/**salary box**/

.title-label-wrap {
    display: block;
}

.input-select-salary {
    display: inline-block;
    float: left;
    min-width: 76px;
}
.input-select-salary  .select2-container--bootstrap .select2-selection--single {

    padding: 7px 4px 6px 5px !important;

}
.input-select-salary .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {

    margin-left: 2px !important;

}

.sidebarDescWrapper .form-group.salary-box-wrap span {

    font-size: 14px !important;

}
.input-select-divider {
    display: inline-block;
    float: left;
}
.input-select-label{
    display: inline-block;
    float: left;
}
.salary-box-content {
    overflow: hidden;
}
.sidebarDescWrapper .form-group .input-select-divider span, .sidebarDescWrapper .form-group .input-select-label span {
    font-size: 9px !important;
    padding: 5px 5px 0 5px;
    font-weight: bold;
}

.input-select-label span {
    font-size: 12px !important;
    padding: 5px 0 0 3px;

}
.hidden-value
{
    display: none;
}
.grecaptcha-badge {
    display: none !important;
}
.defaultModal .modal-top{
    margin-top: 7% !important;
}
.jobdetail-notice-popup div{
    background: transparent;
    color: #666666;
    font-weight: 600;
    padding: 0;
    border-radius: 0;

}
.jobdetail-notice-hr
{
    color:#666666;
    width: 15%;
}
span.payment-date-info {
    background: none;
    width: auto;
    border: 0;
    display: inline-block;
    float: none;
    padding: 0 5px 0 0;
    border-bottom: 1px solid #666666;
    color: #666666;
    border-radius: 0;
    height: 24px;
    text-align: left;
    font-weight: bold;
}
/****header menu selction icon ****/
.selectionNewWrap {
    display: inline;


}
.selectionNewWrap img {
    width: 23px;
}
span.selectionNewCount {
    background: red;
    color: #fff;
    font-size: 10px;
    width: 20px;
    height: 20px;
    display: inline-flex;
    text-align: center;
    border-radius: 50px;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: 0px 0 0 0px;
    line-height: normal;
    position: relative;
    top: -2px;
}
.selectionNewList
{
    padding:2px 2px 0 2px !important;
    margin: 0 0 0 10px !important;
}

.selNotificationHeader img
{
    border-radius: 0px !important;
}



td.notificationHeaderTd {
    text-align: center;
    padding-top: 0px !important;
}
td.notificationHeaderTd span.selectionNewList {
    position: relative;
    top: 5px;
    left: -6px;
    background: #ffffff !important;
    color: #ff0201 !important;
}
.btnDefault.recommend{
    padding: 8px 35px 8px 35px !important;
}
.candidate-experience-wrap {
    width: 85px;
    display: inline-block;
}
.candidate-experience-lbl{
    width: 10px !important;
    display: inline-block;
    font-weight: bold;
}
.ml-15{
    margin-left: 15px;
}

.jd-experience-alert {
    background: #d1ecf1;
    color: #495b5f;
    line-height: 1;
    padding: 12px 5px 6px 10px;
    position: relative;
    margin: -6px 0 0 19px;
    display: inline-block;
    font-size: 12px;
}

.jd-experience-alert .arrow-left {
    width: 0;
    position: absolute;
    height: 0;
    left: -8px;
    top: 11px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #d1ecf1;
}
.jd-experience-alert .info-ico {
    font-size: 14px;
    float: left;
    display: inline-block;
    margin: 7px 5px 0 3px;
    color: #666666;
}

.jd-experience-alert p {
    margin: 0;
    line-height: 15px;
    display: inline-block;
    color: #666666;
}

.jd-experience-edit-alert {
    background: #d1ecf1;
    color: #495b5f;
    line-height: 1;
    padding: 7px 5px 6px 10px;
    position: relative;
    margin: -11px 0 0 19px;
    display: inline-block;
    font-size: 12px;
}

.jd-experience-edit-alert .arrow-left {
    width: 0;
    position: absolute;
    height: 0;
    left: -8px;
    top: 10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #d1ecf1;
}
.jd-experience-edit-alert .info-ico {
    font-size: 14px;
    float: left;
    display: inline-block;
    margin: 7px 5px 0 3px;
    color: #666666;
}

.jd-experience-edit-alert p {
    margin: 0;
    line-height: 15px;
    display: inline-block;
    color: #666666;
}

.refer-candidate-experience span
{
    float: left;
}
.refer-candidate-experience p{
    padding:  5px 0 0 0;
    font-size: 12px;
    display: inline-block;
}
.jd-experience-alert {
    border-radius: 5px;
}
.content-holder.over_visible .agent-percent-alert {
    border-radius: 5px;
}

th.text-center.selNotificationHeader.sorting {
    background: #ffffff;
    min-width: 50px;
}
.customTbl tr.newData {
    box-shadow: none !important;
}


.jobDescContent.jobDesCart.job-exp-wrap-alert .content-holder p {
    float: left;
}

label.selection-refer-agnt-lbl {
    min-width: 150px !important;
    font-weight: bold;
}
.share-info-alert {
    background: #d1ecf1;
    color: #495b5f;
    line-height: 1;
    padding: 7px 5px 6px 10px;
    position: relative;
    display: inline-block;
    font-size: 12px;
    margin: 2px 0 10px 0;
    border-radius: 7px;
}

.share-info-alert .info-ico {
    font-size: 14px;
    float: left;
    display: inline-block;
    margin: 7px 5px 0 3px;
    color: #666666;
}
.share-info-alert p {
    margin: 0;
    line-height: 15px;
    display: inline-block;
    color: #666666;
    width: 92%;
}
.share-info-alert .arrow-up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid #d1ecf1;
    top: -7px;
    position: absolute;
    left: 20px;
}

.incharge-info-share-alert {
    background: #d1ecf1;
    color: #495b5f;
    line-height: 1;
    padding: 7px 5px 6px 10px;
    position: relative;
    margin: 2px 0 11px 0px;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
}
.incharge-info-share-alert .info-ico {
    font-size: 14px;
    float: left;
    display: inline-block;
    margin: 7px 5px 0 3px;
    color: #666666;
}
.incharge-info-share-alert p {
    margin: 0;
    line-height: 15px;
    color: #666666;
}
.font-size-11
{
    font-size: 11px;
}
#myModalInchargeInfoShareAlert p{
    text-align: left;
    margin: 2px 0 0 0;

}
#myModalInchargeInfoShareAlert ul.share-info-list {
    text-align: left;
    padding: 7px 0 0 22px ;
    list-style: disc ;
    margin-top: -15px;
}
.jobDescContent.jobDesCart.job-exp-wrap-alert .content-holder .jd-experience-alert{
    position: absolute; max-width: 432px; margin: -13px 0 0 15px;
}
.jobDescContent.jobDesCart.job-exp-wrap-alert .content-holder .jd-experience-alert p{
   max-width: 386px;
}
.jobDescContent.jobDesCart.job-exp-wrap-alert .content-holder .jd-experience-alert i.fa.fa-info-circle.info-ico {
    margin: 0 5px 0 0;
}

.tblDivFormBox .form-group .row .col-xs-8 {
    background: #ffffff;
    min-height: 41px;
}

.refer-candidate-experience.refer-candidate-wrap-db .jd-experience-alert {
    position: absolute;
    padding: 6px 10px 7px 6px; margin-left: 10px;
    top: 9px;     margin-right: 2px;
}

.refer-candidate-experience.refer-candidate-wrap-db .jd-experience-alert .arrow-left {

    top: 7px;

}

.refer-candidate-experience.refer-candidate-wrap-db .jd-experience-alert  .info-ico {
    font-size: 14px;
    float: left;
    display: inline-block;
    margin: 5px 5px 0 3px;
    color: #666666;
}

.refer-candidate-experience.refer-candidate-wrap-db .jd-experience-alert p {
    max-width: 90%;
}
 .refer-candidate-experience.refer-candidate-wrap-db {
    min-height: 72px !important;
}
 .candidate-refer-form .candidate-pref{
     padding-top: 5px;
 }



/**css added for agent recommended **/

.bg-transparent{
    background: transparent;
}

.no-border{
    border: 0;
}

.recommend-box-wrap{
    background: #ffffff;
}
.recommend-box-wrap .candidate-wrapper {
    border-radius: 0;
    border: 1px solid #e8e6e6;
    border-bottom: 2px solid #e8e6e6;
}
.sidebarDescWrapper.allianceSidebar.recommend-sidebar {
    background: #ffffff !important;
    border: 1px solid #e4e4e4;
    border-left: 3px solid #e4e4e4;
}
 .recommend-sidebar .secret-box {
    padding: 0 0 0 15px;
}
.recommend-sidebar .secret-box h3 {
    font-size: 18px;
    font-weight: bold;
}
.recommendform-title {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 10px 20px 10px;
}

.recommend-sidebar .descTitle {
    border-bottom: 1px solid #e4e4e4;
}
.recommend-sidebar .rightsidebar-detailbox {
    max-height: 820px;
    overflow-y: scroll;
    border-top: 1px solid #e6e6e6;
    padding: 15px 0 0 0;
    margin-bottom: 15px;
}
.overflowhidden{
    overflow: hidden;
}
.recommend-box-wrap .prefer-prefecture li {
    display: inline-block;
    padding: 0 15px 0 0px;
    min-width: 100px;}
.notification-wrap {
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}
.justify-content-center {
    float: none;
    margin: 0 auto;
}
.notification-content-wrap p {
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 5px 0;
}

.notification-content-wrap h3 {
    font-size: 16px;
    margin: 16px 0 7px 0;
    font-weight: bold;
}
.notification-content-wrap {
    overflow: hidden;
}
.notification-icon-wrap {
    display: inline-block;
    float: left;
    overflow: hidden;
}
span.notification-icon {
    height: 40px;
    width: 40px;
    overflow: hidden;
    display: inline-block;
    border-radius: 90px;
    margin: 15px 20px 0 0;
    text-align: center;
}
span.notification-icon.orange{
    background: #fbeae3;
    border: 1px solid #f9d9cc;
}

span.notification-icon.green{
    background: #e9f6ec;
    border: 1px solid #cdefd4;
}

span.notification-icon.blue{
    background: #eeeef5;
    border: 1px solid #e6e6f9;
}

.notification-wrap {
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 15px;
}

.pageHeader.notification-header {
    margin: 40px 0 25px 0;
}
.pageHeader.notification-header h2 {
    font-size: 18px !important;
    margin: 0 !important;
}
span.notification-icon img {
    width: 18px;
    padding-top: 10px;
}
a.backHome{
    background: #f26f21;
    color: #ffffff;
    opacity: 1;
    padding: 5px 15px 5px 15px;
    border-radius: 50px;
    float: right;
}
a.backHome:hover{

    opacity: 0.8;

}

span.notificationbell-ico {
    position: fixed;
    right: 20px;
    bottom: 95px;
}
span.notificationbell-ico a {
    background: #0079f5;

    display: inline-block;
    border-radius: 90px;
    height: 60px;
    width: 60px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 6px 0px, rgba(0, 0, 0, 0.16) 0px 2px 32px 0px;
}
span.notificationbell-ico a img {
    width: 30px;
    padding: 13px 0 0 0;
}
.pt-6{
    padding-top: 6px;
}
.announcement-files li
{
    display: inline-block;
    padding-right: 14px;
}
.announcement-files a{
    font-size: 12px;
}

.notification-content-link{
    text-decoration: underline; display: inline-block; overflow: hidden;
}
.notification-content-link:hover{
    text-decoration: underline;
}


.announcement-date {
    font-weight: 600;
}
.announcementCount
{
    background: #D6D6D6;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    min-width: 23px;
    display: inline-block;
    height: 22px;
    border-radius: 3px;
    position: relative;
    margin: 0px 0 0 14px;
    left: -11px;
}
.announcementTooltip .popover
{
    white-space: nowrap !important;
    background: #000000;
}
.announcementTooltip .popover .arrow:after
{
    border-top-color: #000000 !important;
}


footer span.notificationbell-ico {
    position: fixed;
    right: 20px; text-align: center;
    bottom: 95px;
}
footer span.notificationbell-ico a {
    background: #0079f5;
    display: inline-block;
    border-radius: 90px;
    height: 60px;
    width: 60px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 6px 0px, rgba(0, 0, 0, 0.16) 0px 2px 32px 0px;
}
footer span.notificationbell-ico a img {
    width: 30px;
    padding: 13px 0 0 0;
}

footer span.announcement-count {
    position: absolute;
    color: #ffffff;
    background: red;
    font-size: 11px;
    line-height: 1;
    padding: 4px 3px 2px 3px;
    border-radius: 4px;
    top: -2px;
    min-width: 18px;
    right: 0px;
    font-weight: bold;
    letter-spacing: 0px;
    height: 18px;
}
.navbar-default .navbar-nav > li > a {
    color:  #000000 !important;
    text-transform: uppercase;
}
.btnAddAgent{
    padding: 7px 9px 6px 9px !important;
}
.user-mgmt-alert {
    background: #d1ecf1;
    color: #495b5f;
    line-height: 1;
    padding: 12px 6px 6px 10px;
    position: absolute;
    margin: -2px 0 4px 19px;
    display: inline-block;
    font-size: 12px;
}
.user-mgmt-alert .arrow-left {
    width: 0;
    position: absolute;
    height: 0;
    left: -8px;
    top: 11px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #d1ecf1;
}
.user-mgmt-alert .info-ico {
    font-size: 13px;
    float: left;
    display: inline-block;
    margin: 0px 5px 0 3px;
    color: #666666;
}
.user-mgmt-alert p{
    float: left;
}
.agent-user-list-wrapper{
    margin: 48px 0 0 0;
}
#agree:hover{
    color: #fff;
    background-color: #f36f21;
    border-color: #f36f21;
}
.terms-accept-title{
   text-align: center;
    font-weight: 700;
    color: #292B2F;
    font-size: 18px;
}
.fade-carousel .carousel-inner .item .hero
{
    transition: none!important;
}
.dropdown-empty div {
    height: auto !important;
}
.notification-empty {
    height: auto !important;
}
.ats-company-form
{
    width: 50%;
}