@charset "UTF-8";

@font-face {
  font-family: "jobins";
  src:url("fonts/jobins.eot");
  src:url("fonts/jobins.eot?#iefix") format("embedded-opentype"),
    url("fonts/jobins.woff") format("woff"),
    url("fonts/jobins.ttf") format("truetype"),
    url("fonts/jobins.svg#jobins") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "jobins" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="jicon-"]:before,
[class*=" jicon-"]:before {
  font-family: "jobins" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jicon-announcement:before {
  content: "\61";
}
.jicon-arrowright:before {
  content: "\62";
}
.jicon-building:before {
  content: "\63";
}
.jicon-bus:before {
  content: "\64";
}
.jicon-download:before {
  content: "\65";
}
.jicon-faceuser:before {
  content: "\66";
}
.jicon-faq:before {
  content: "\67";
}
.jicon-favicon:before {
  content: "\68";
}
.jicon-fileadd:before {
  content: "\69";
}
.jicon-filedownload:before {
  content: "\6a";
}
.jicon-id:before {
  content: "\6b";
}
.jicon-info:before {
  content: "\6c";
}
.jicon-info-1:before {
  content: "\6d";
}
.jicon-userline:before {
  content: "\6e";
}
.jicon-umbrella:before {
  content: "\6f";
}
.jicon-suitcase:before {
  content: "\70";
}
.jicon-stagearrow:before {
  content: "\71";
}
.jicon-settings:before {
  content: "\72";
}
.jicon-people:before {
  content: "\73";
}
.jicon-menu:before {
  content: "\74";
}
.jicon-notification:before {
  content: "\75";
}
.jicon-logout:before {
  content: "\76";
}
.jicon-logout-1:before {
  content: "\77";
}
.jicon-line:before {
  content: "\78";
}
.jicon-infohistory:before {
  content: "\79";
}
.jicon-angle-double-left:before {
  content: "\7a";
}
.jicon-angle-double-right:before {
  content: "\41";
}
.jicon-calendar:before {
  content: "\42";
}
.jicon-chain-broken:before {
  content: "\43";
}
.jicon-circle-o:before {
  content: "\44";
}
.jicon-circle:before {
  content: "\45";
}
.jicon-clock-o:before {
  content: "\46";
}
.jicon-clone:before {
  content: "\47";
}
.jicon-comments-o:before {
  content: "\48";
}
.jicon-commenting-o:before {
  content: "\49";
}
.jicon-copyright:before {
  content: "\4a";
}
.jicon-diamond:before {
  content: "\4b";
}
.jicon-envelope-o:before {
  content: "\4e";
}
.jicon-eye:before {
  content: "\4f";
}
.jicon-external-link:before {
  content: "\50";
}
.jicon-exclamation:before {
  content: "\51";
}
.jicon-exclamation-triangle:before {
  content: "\52";
}
.jicon-file-text-o:before {
  content: "\54";
}
.jicon-file-text:before {
  content: "\55";
}
.jicon-filter:before {
  content: "\56";
}
.jicon-history:before {
  content: "\58";
}
.jicon-heart:before {
  content: "\5a";
}
.jicon-jpy:before {
  content: "\31";
}
.jicon-laptop:before {
  content: "\32";
}
.jicon-list-alt:before {
  content: "\34";
}
.jicon-link:before {
  content: "\35";
}
.jicon-lightbulb-o:before {
  content: "\36";
}
.jicon-list-ul:before {
  content: "\37";
}
.jicon-long-arrow-right:before {
  content: "\38";
}
.jicon-long-arrow-left:before {
  content: "\39";
}
.jicon-map-marker:before {
  content: "\22";
}
.jicon-newspaper-o:before {
  content: "\23";
}
.jicon-paper-plane:before {
  content: "\24";
}
.jicon-paper-plane-o:before {
  content: "\25";
}
.jicon-phone:before {
  content: "\26";
}
.jicon-picture-o:before {
  content: "\27";
}
.jicon-play:before {
  content: "\28";
}
.jicon-share-alt:before {
  content: "\2a";
}
.jicon-share:before {
  content: "\2b";
}
.jicon-shield:before {
  content: "\2c";
}
.jicon-sliders:before {
  content: "\2d";
}
.jicon-star-o:before {
  content: "\3a";
}
.jicon-star:before {
  content: "\3b";
}
.jicon-star-half-o:before {
  content: "\3c";
}
.jicon-tag:before {
  content: "\3d";
}
.jicon-tasks:before {
  content: "\3e";
}
.jicon-tablet:before {
  content: "\3f";
}
.jicon-trash-o:before {
  content: "\40";
}
.jicon-trash:before {
  content: "\5b";
}
.jicon-twitter:before {
  content: "\60";
}
.jicon-university:before {
  content: "\7b";
}
.jicon-android-add:before {
  content: "\7c";
}
.jicon-alert:before {
  content: "\7d";
}
.jicon-alert-circled:before {
  content: "\7e";
}
.jicon-android-arrow-forward:before {
  content: "\5c";
}
.jicon-android-arrow-up:before {
  content: "\e000";
}
.jicon-android-arrow-back:before {
  content: "\e001";
}
.jicon-android-arrow-down:before {
  content: "\e002";
}
.jicon-android-attach:before {
  content: "\e003";
}
.jicon-android-add-circle:before {
  content: "\e004";
}
.jicon-android-checkbox:before {
  content: "\e005";
}
.jicon-android-chat:before {
  content: "\e006";
}
.jicon-android-checkmark-circle:before {
  content: "\e007";
}
.jicon-android-checkbox-outline:before {
  content: "\e008";
}
.jicon-android-close:before {
  content: "\e009";
}
.jicon-android-call:before {
  content: "\e00a";
}
.jicon-android-camera:before {
  content: "\e00b";
}
.jicon-android-done-all:before {
  content: "\e00c";
}
.jicon-android-done:before {
  content: "\e00d";
}
.jicon-android-people:before {
  content: "\e00e";
}
.jicon-android-person:before {
  content: "\e00f";
}
.jicon-android-person-add:before {
  content: "\e010";
}
.jicon-android-refresh:before {
  content: "\e011";
}
.jicon-android-time:before {
  content: "\e012";
}
.jicon-close-round:before {
  content: "\e013";
}
.jicon-document:before {
  content: "\e014";
}
.jicon-document-text:before {
  content: "\e015";
}
.jicon-earth:before {
  content: "\e016";
}
.jicon-edit:before {
  content: "\e017";
}
.jicon-chevron-right:before {
  content: "\e018";
}
.jicon-chevron-left:before {
  content: "\e019";
}
.jicon-chevron-down:before {
  content: "\e01a";
}
.jicon-chevron-up:before {
  content: "\e01b";
}
.jicon-images:before {
  content: "\e01c";
}
.jicon-image:before {
  content: "\e01d";
}
.jicon-ios-contact-outline:before {
  content: "\e01f";
}
.jicon-ios-search-strong:before {
  content: "\e022";
}
.jicon-person:before {
  content: "\e023";
}
.jicon-person-add:before {
  content: "\e024";
}
.jicon-person-stalker:before {
  content: "\e025";
}
.jicon-android-remove:before {
  content: "\e021";
}
.jicon-android-radio-button-off:before {
  content: "\e026";
}
.jicon-ribbon-b:before {
  content: "\e028";
}
.jicon-social-buffer:before {
  content: "\e029";
}
.jicon-social-facebook:before {
  content: "\e02a";
}
.jicon-social-twitter:before {
  content: "\e02b";
}
.jicon-social-yen:before {
  content: "\e02c";
}
.jicon-comments:before {
  content: "\e02d";
}
.jicon-browser:before {
  content: "\e02e";
}
.jicon-hyperlink:before {
  content: "\e030";
}
.jicon-pin:before {
  content: "\e031";
}
.jicon-sign-out:before {
  content: "\e035";
}
.jicon-browser-window:before {
  content: "\e038";
}
.jicon-browser-window-add:before {
  content: "\e039";
}
.jicon-document-text-1:before {
  content: "\e03a";
}
.jicon-document-text-accept:before {
  content: "\e03b";
}
.jicon-document-text-add:before {
  content: "\e03c";
}
.jicon-document-text-cancel:before {
  content: "\e03d";
}
.jicon-document-text-edit:before {
  content: "\e03e";
}
.jicon-edit-1:before {
  content: "\e03f";
}
.jicon-mail:before {
  content: "\e040";
}
.jicon-notes:before {
  content: "\e041";
}
.jicon-notes-accept:before {
  content: "\e042";
}
.jicon-notes-add:before {
  content: "\e043";
}
.jicon-search:before {
  content: "\e046";
}
.jicon-align-justify:before {
  content: "\e04a";
}
.jicon-align-left:before {
  content: "\e04b";
}
.jicon-heart-1:before {
  content: "\e04c";
}
.jicon-heart-empty:before {
  content: "\e04d";
}
.jicon-paper-clip:before {
  content: "\e04e";
}
.jicon-clipboard-notes:before {
  content: "\e04f";
}
.jicon-clipboard-pencil:before {
  content: "\e050";
}
.jicon-dollar:before {
  content: "\e051";
}
.jicon-paperclip:before {
  content: "\e052";
}
.jicon-results-demographics:before {
  content: "\e053";
}
.jicon-torso-business:before {
  content: "\e054";
}
.jicon-torsos:before {
  content: "\e055";
}
.jicon-align-center:before {
  content: "\e056";
}
.jicon-align-justify-1:before {
  content: "\e057";
}
.jicon-align-left-1:before {
  content: "\e058";
}
.jicon-archive:before {
  content: "\e059";
}
.jicon-diamond-1:before {
  content: "\e05a";
}
.jicon-flag:before {
  content: "\e05b";
}
.jicon-files:before {
  content: "\e05c";
}
.jicon-paperclip-1:before {
  content: "\e05d";
}
.jicon-user-outline:before {
  content: "\e05e";
}
.jicon-user-1:before {
  content: "\e05f";
}
.jicon-users:before {
  content: "\e060";
}
.jicon-facebook-1:before {
  content: "\e061";
}
.jicon-facebook-places:before {
  content: "\e062";
}
.jicon-whatsapp:before {
  content: "\e063";
}
.jicon-pricetag:before {
  content: "\4c";
}
.jicon-heart-o:before {
  content: "\4d";
}
