._new_authentication {
    //login

    .alert-message {
        border: 1px solid #000000;
        padding: 30px 30px;
        min-width: 534px;
        border-radius: 3px;

        img.alert-icon {
            width: 70px;
            margin-bottom: 20px;
        }
    }

    .login-wrapper {

        .form-control:focus {
            color: inherit;
        }

        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        border: 2px solid #000;
        border-radius: 5px;
        overflow: hidden;

        a:hover {
            color: #e0e0e0;
        }

        .brand-logo {
            margin-bottom: 35px;
        }

        .rightCol {
            padding: 0 50px 0 30px;

            @media (max-width: 768px) and (min-width: 575px) {
                padding: 0 25px 0 15px;
            }

            @media(max-width: 575px) {
                padding: 35px 15px;

                h3 {
                    text-align: center;
                }
            }
        }

        .switcher-text {
            &:after {
                right: 0;
            }

            &.paid-plan {
                &:after {
                    right: 0;
                }
            }
        }

        .form-control {
            &.email {

                padding-left: 5px;

            }

            &.pwd {

                padding-left: 5px;


            }
        }
    }

    .brand {
        &-col {
            background-color: #2D9BB7;

            .leftCol {
                display: table;
                width: 100%;
                padding: 100px 0;

                @media (max-width: 575px) {
                    padding: 35px 15px;
                }
            }
        }

        &-headline {
            display: table-cell;
            vertical-align: middle;
        }
    }


    @media (max-width: 575px) {
        .brand-col {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }


    //register
    .flow-info {
        ul {
            counter-reset: my-sec-counter;
            margin: 0;
            padding: 0;

            li {
                position: relative;
                color: #fff;
                font-size: 13px;
                font-weight: 700;

                padding: 0px 0;
                list-style: none;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                align-items: flex-start;
                -webkit-box-align: center;
                -ms-flex-align: center;


                span.img-holder img {
                    max-width: 50px;
                    margin-right: 20px;
                }

                span.flow0info-list-content {
                    padding-top: 15px;
                }

            }
        }

        h3 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 30px;
            color: white;

            @media (max-width: 768px) and (min-width: 575px) {

                font-size: 23px;
                margin-bottom: 25px;

            }

            @media (max-width: 575px) {

                font-size: 22px;
                margin-bottom: 25px;

            }

        }
    }

    .register-wrapper {
        max-width: 100%;
        width: 100%;

        @media (max-width: 575px) {
            .brand-col {
                order: 2;
            }
        }

        label {
            font-weight: 700;
            font-size: 14px;
        }

        .form-links {
            clear: both;
            padding-top: 20px;

        }

        .was-validated .form-control:invalid {
            background-image: none;
        }

        .brand-logo {
            margin-bottom: 30px;
            min-width: 100%;

        }

        .is-small {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            align-content: baseline;
            height: 100%;
            flex-direction: column;
            padding: 12% 0;

            @media (min-width: 768px) {
                padding: 5% 0;
            }

            &.main-content {
                padding: 12% 0;
            }
        }

        .main-content {
            min-width: 100%;

        }

        .switcher-text {
            span {
                position: relative;
            }

            &:after {
                right: 0;
            }

        }
    }

    .uploader {
        height: 60px;
        margin: 15px 0 12px 0;

        .custom-file-input {
            height: 60px;
        }
    }

    .custom-file-input {
        position: relative;
        z-index: 2;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        margin: 0;
        opacity: 0;
    }

    .custom-file-label {
        font-size: 14px;
        color: #000;
        font-weight: 500;

        &:after {
            display: none;
        }

        &.uploads {
            border: 1px dashed #888;
            height: 100%;
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
    }

    //qna
    .accordion-qna {

        counter-reset: my-sec-counter;

        .card-none {
            border: 2px solid #000;
            margin-bottom: 40px;
            border-radius: 5px;

            .card-header {
                background: #fff;
                border: 1px solid #EAEAEA;
                padding: 10px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;

                &:before {
                    counter-increment: my-sec-counter;
                    content: counter(my-sec-counter);
                    background: #2D9BB7;
                    color: #fff;
                    padding: 4px 12px;
                    border-radius: 3px;
                    margin-right: 10px;
                    font-weight: 700;
                    font-size: 18px;

                    @media (max-width: 575px) {
                        padding: 4px 10px;
                        font-size: 17px;
                    }
                }
            }

            .card-body {

                font-size: 14px;
            }

            .btn-link {
                font-size: 16px;
                font-weight: 700;
                color: #000;
                width: 100%;
                padding: 0 0 0 10px;
                display: flex;
                text-align: left;

                @media (max-width: 575px) {
                    font-size: 15px;
                }

                .expand {
                    margin-left: auto;

                    &:before,
                    &:after {
                        display: inline-block;
                        font-family: 'Material Icons';
                        -webkit-font-feature-settings: 'liga';
                    }

                    &:before {
                        content: "add";
                    }
                }

                &:not(.collapsed) {
                    .expand {
                        &:before {
                            content: "remove";

                        }
                    }
                }

            }

            .card-body {
                padding: 15px 70px;
            }
        }
    }







    /* The container */
    .container-checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0px;
        left: 0;
        height: 25px;
        border: 1px solid #000000;
        width: 25px;
        background-color: #ffffff;
        border-radius: 2px;
    }
    /* On mouse-over, add a grey background color */
    .container-checkbox:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container-checkbox input:checked ~ .checkmark {
        background-color: #2d9bb7;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container-checkbox input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container-checkbox .checkmark:after {
        left: 9px;
        top: 4px;
        width: 7px;
        height: 11px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    label.container-checkbox{
        a {
            color: #000000;
            border-bottom: 1px solid #000000;
            padding-bottom: 4px;
        }

    }



}

//announcements
.announcements.new_announcements {
    .fa.fa-download{
        color: #2d9bb7
    }
    .fa.fa-download.active{
        color: #2d9bb7
    }
    div#infinite-scroll{
        border-bottom: none;
    }
    ul.announcement-files {
        list-style: none;
        padding:0;
    }

    ul.announcement-files li {
        margin-bottom: 15px;
        background: #333333;
        height: 35px;
        align-items: center;
        padding: 0 10px 0 10px;
        border-radius: 20px 20px 20px 20px;
        display: inline-flex;
        overflow: hidden;
        margin: 0 10px 10px 0;
        text-overflow: ellipsis;
        :hover{
            opacity: 0.8;
        }
    }

    ul.announcement-files li a {
        color: #ffffff ;
        margin: 0 10px 0 10px;
        max-width: 130px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    ul.announcement-files li a.active {
        color: #ffffff !important
    }

    ul.announcement-files li a:hover {
        color: #ffffff;
    }
    ul.announcement-files li a.active:hover {
        color: #ffffff !important;
    }

    .announcements.new_announcements .cards{
        border-bottom: none;
    }
    .jscroll-added .cards{
        border-top: none;
        padding:0 ;
    }
    .custom-paging {
        .page-link {
            height: 28px;
            border: none;
            color: #000;
            cursor: pointer;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            padding: 0 8px;
            border-radius: 3px;
            display: table-cell;
            vertical-align: middle;
            border: 1px solid transparent;
            transition: 0.3s ease;
            -webkit-transition: 0.3s ease;
            -moz-transition: 0.3s ease;
            -o-transition: 0.3s ease;

            &:hover {
                background: rgba(45, 155, 183, 0.8);
                border: 1px solid transparent;
                color:#fff;
            }

            &:focus {
                box-shadow: none;
            }
        }

        .page-item {
            &.active {
                .page-link {
                    background: #2D9BB7;
                    color: #fff;
                    border: 1px solid #000;
                }
            }
        }

        .pagination {
            @media(min-width:768px) {
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
            }

            @media(max-width:768px) {
                margin-top: 25px;
            }
        }
    }

    .custom-paging--ft {
        margin-top: 20px;
    }

    .data-length {
        font-size: 15px;
        font-weight: 700;
        color: #000;

        .total-length {
            color: #828282;
        }
    }

    .cards {
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        padding: 30px 0;

        .card {
            border: 2px solid #000;
            border-radius: 5px;
            margin-bottom: 25px;
            cursor: unset;

            .card-header {
                background: #EAEAEA;
                color: #000;
                font-size: 16px;
                font-weight: 700;
                padding: 20px 15px;
                border-color: #292B2F;
                .announcement-date{
                    white-space: nowrap;
                }
                .announcement-title{
                    word-break: break-word;
                }
                .date{
                    font-weight:500;
                    font-size:13px;
                    margin-left:auto;
                    @media(max-width:575px){
                        display:block;
                        margin-top:10px;
                    }
                }
            }

            &.active {
                .card-header {
                    background: #2D9BB7;
                    color: #fff;
                }

                .card-body {
                    background: #F8F8F8;
                }
            }
        }
    }
}

.brand-logo img {
    max-width: 160px;
}
