// Global styling for this template

body {

  font-size: 14px;
  color: $gray-900;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;

  }
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}
h4{
  font-size: 18px;
}

h5{
  font-size: 16px;

}
h6{
  font-size: 14px;
}
p{
  font-size: 14px; line-height: 25px;
  .lead {
    font-size: 1.15rem;
    font-weight: 400;
  }

}

@media (min-width: 1200px){
  .container {
    max-width: 1040px;
  }
}

[v-cloak] * {
  display: none !important;
}

//[v-cloak] > * { display: none; }
[v-cloak]::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 8px solid $gray-600;
  border-top: 8px solid $primary;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.p-3 {
  padding: 1rem!important;
}
.m-0 {
  margin: 0!important;
}
.mt-2, .my-2 {
  margin-top: .5rem!important;
}
.mb-2, .my-2 {
  margin-bottom: .5rem!important;
}
.mb-3, .my-2 {
  margin-bottom: 1rem!important;
}

.mt-3, .my-3 {
  margin-top: 1rem!important;
}
.ml-3, .mx-3 {
  margin-left: 1rem!important;
}
.mb-5, .my-5 {
  margin-bottom: 3rem!important;
}
.mt-4, .my-4 {
  margin-top: 1.5rem!important;
}
.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
}
.pt-4, .py-4 {
  padding-top: 1.5rem!important;
}
.mr-3, .mx-3 {
  margin-right: 1rem!important;
}
.pl-3, .px-3 {
  padding-left: 1rem!important;
}
.pt-3, .py-3 {
  padding-top: 1rem!important;
}
.pb-2, .py-2 {
  padding-bottom: .5rem!important;
}
.pt-2, .py-2 {
  padding-top: .5rem!important;
}
.ml-2, .mx-2 {
  margin-left: .5rem!important;
}
.pb-5, .py-5 {
  padding-bottom: 3rem!important;
}

.pb-3, .py-3 {
  padding-bottom: 1rem!important;
}
.pt-3, .py-3 {
  padding-top: 1rem!important;
}
.pb-4, .py-4 {
  padding-bottom: 1.5rem!important;
}
.pl-0, .px-0 {
  padding-left: 0!important;
}
.p-5 {
  padding: 3rem!important;
}
.float-right{
  float: right;
}
.w-100 {
  width: 100%!important;
}


.pb-0, .py-0 {
  padding-bottom: 0!important;
}
.pt-0, .py-0 {
  padding-top: 0!important;
}


