body, p {
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6{
  font-family: source-han-sans-japanese, sans-serif;

  font-weight: 700;

  font-style: normal;
}

.invalid-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
 .invalid-feedback-custom {
  font-size: 80%;
  color:
      #dc3545 !important;
}