#forgot-password {
  header {
    overflow: hidden;
    height: 87vh;
  }
  .rgba-indigo-light, .rgba-indigo-light:after {
    background-color: rgba(25, 26, 31, 0.65);
  }
  .forgot-password-wrapper {
    background: url("../img/login/background.png") no-repeat center center;
    background-size: cover;

    .card {
      background-color: white;
    }

    .md-form label {
      color: grey;
    }

    .forgot-password-box {

      &__form {
        //width: 50%;
        padding: 25px 0px 60px 30px;
        //clip-path: polygon(0 0, 100% 75%, 100% 75vh, 0 100%);
        //@include respond(tab-land) {
        //  width: 65%;
        //}

        @include respond(tab-port) {
          width: 100%;
        }
        &__right-arrow {
          display: inline-block !important;
          float: right;
          margin-left: 22px;
          width: 1rem;
          margin-top: 3px;
        }

        .md-form .prefix {
          margin-top: 1px;
        }

      }

      &__image-container {
        position: relative;
        background-image: url(../img/login/gradian-bg1.png), linear-gradient(rgba(254, 208, 8, 1) 1%, rgba(254, 208, 8, 1));
      background-position: right bottom;
background-repeat: no-repeat;
 
       
        

        @include respond(tab-land) {
          background-image: url(../img/login/gradian-bg1.png), linear-gradient(rgba(254, 208, 8, 1) 1%, rgba(254, 208, 8, 1));
          background-size: cover;
        }

        @include respond(tab-port) {
          background-image: url(../img/login/gradian-bg1.png), linear-gradient(rgba(254, 208, 8, 1) 1%, rgba(254, 208, 8, 1));
        }

        &__img {
          top: 50px;
          position: absolute;
          right: -50px;
        }
      }
    }
  }

}

.polygonShape {
    background: white;
    width: 126px;
    height: 100%;
    position: absolute;
    left: -1px;
    clip-path: polygon(7% 21%, 10% 36%, 11% 52%, 9% 70%, 6% 84%, 0 100%, 0 0, 4% 11%);
}
.forgot-password-box__form
#form9 {
    padding: 5px 0 10px 35px;
    font-size: 13px;
}
.forgot-password-box__form .md-form .prefix ~ label {
    margin-left: 3rem;
}