// Template style

#home {

  #premiumPlan-section {
    overflow: hidden;
    display: block;

  }
  header {
    overflow: hidden;
  }
.premium-holder{

  display: flex;
}

  .plan-img-holder{
    flex-grow: 4;
  }

  .plan-content-holder{
    flex-grow: 2;
  }


 .premium-plan-img {
max-width: 777px !important;
   margin: 0 auto;

   display: block;
   text-align: center;

  }
  #projects .btn {

    font-size: 1.2rem;
    font-weight: 500;
    white-space: nowrap;
    min-width: 150px;
    margin: 0 0 0 -10px;

}
  .full-height, .full-height body, .full-height header, .full-height header .view {
    height: auto;
  }
  .header-slider{
    position: relative;
  }
  .header-slider.text-center {
    margin-bottom: -15px;
  }
  .img-holder-project img {
    width: 95%;
    max-height: 740px;
    opacity: 0;
  }

  .img-bg-features {
    background: url("../img/feature-bg.jpg") no-repeat;
    height: 100%;
    width: 86%;
    position: absolute;
    left: 0;
    background-size: cover;

  }
  .black-bg-opacity6{
    background: url(../img/bg-img2.jpg) no-repeat;  background-size: cover;
   
  }
 .bg-img2 {
  background:   rgba(0, 0, 0, 0.8) !important;
    background-size: cover;
    display: block;
    overflow: hidden;
    height: 100%;
    padding: 50px 0 0px 50px;
    min-height: 388px;
    color: #fff;
   h3{
     font-size: 16px;
     line-height: 22px;
   }
}



  #intro {
    background: url("../img/panorama-3094696_1920.jpg") no-repeat fixed;
    background-size: cover;
  }

  #intro .h6 {

    line-height: 1.7;
  }

  .hm-gradient .full-bg-img {
    background: rgba(0, 0, 0, 0.5);

  }

  #pricing .lead {
    opacity: 0.7;
  }

  #pricing .card-image {
    background: url("../img/architecture.jpg") no-repeat center center;
  }

  .probgimg2 {
    background: url("../img/probg2.jpg") no-repeat center center;
    background-size: cover;
  }

  #pricing ul li {
    font-size: 1.1em;
  }

  .client-box {
    background: #ffffff;

    padding: 26px 25px 10px 25px;

    box-shadow: 0 0px 7px 0px rgba(0, 0, 0, .16);

    margin: 10px 5px 10px 6px;

    overflow: hidden;

    height: 100px;

    transition: .2s ease-out;
  }

  #clients #demos {

    padding: 40px 0 0 0;

  }
  @media (max-width: 768px) {
    #clients .owl-carousel .owl-item img {
      max-width: 100%;
      max-height: 77px;
      margin: -5px auto 0;
    }
  }
  @media (max-width: 414px) {
    #clients .owl-carousel .owl-item img {
      max-width: 100%;
      max-height: 77px;
      margin: -5px auto 0;
    }
  }
  .client-box img {
    max-width: 100%;
    max-height: 100px;
  }

  .process-content {
    padding: 15px 10px 30px 15px;
    position: relative;
    transition: .2s ease-out;
  }

  .process-content:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  }

  .process-content .proIcon {
    position: absolute;
    bottom: 0;
    right: 20px;
  }

  .custom-accrodin .question-holder {
    margin-bottom: 10px;
    background: #f5f8f8 !important;
    border-radius: 2px !important;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, .1);
  }

  .custom-accrodin .card-header {
    padding: 12px 0 12px 16px !important;

  }

  .video-wrapper {
    position: relative;
  }

  .custom-accrodin .card-title {

    margin-bottom: .75rem;
    font-weight: 500;
    padding: 0 0 0 10px;

  }

  .custom-accrodin .card-body {

    padding: 5px 15px 5px 30px;

  }

  #demos1 {

    padding: 10px 0 0 70px;

  }

  .interview-wrapper {
    background: #fff;
    padding: 15px 0 15px 0;
    border-radius: 3px;
  }

  h5 {
    font-weight: 500;
    font-size: 16px;
  }

  .title-box-int p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
  }

  .title-box-int {
    padding: 0 0 10px 0;
  }

  .testimonial-content-holder {
    overflow: hidden;
    padding: 20px 20px 0px 20px
  }

  .interview-bg-ico {
    position: absolute;
    width: 43px !important;
    right: -15px;
    bottom: 0px;
  }

  .owl-item .interview-wrapper {
    opacity: 0.6;
  }

  .owl-item.active.center .interview-wrapper {
    opacity: 1;
  }

  .interview-section.grey.lighten-5 .owl-prev {
    left: 22% !important;
    top: 80px;
  }

  .interview-section.grey.lighten-5 .owl-next {
    right: 22%;
    top: 80px;
  }

  .interview-section .owl-dots {
    display: none;
  }

  .testimonial-content-holder p {

    font-size: 13px;
    font-weight: 500;
    color: #939393;

  }

  .h1-responsive {
    font-size: 270%;
  }

  .btn {
    font-size: 1.2rem;
    font-weight: 500;
    white-space: nowrap;
    @include respond(phone) {
      //font-size: 1.2rem;
    }
  }

  .triangle {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
    position: absolute;
    right: -20px;
    bottom: 0;
  }

  .custom-accrodin {
    background: transparent;
  }
  .accordion .card .card-header {
    padding: 1rem 1.5rem;
    background: 0 0;
    border-bottom: 0;
  }
  .custom-accrodin .card-title {
    border-left: 2px solid $color-primary;
  }

  .video-button,
  .video-button:focus,
  .video-button:hover {
    color: $color-primary;
  }

  .triangle-0 {
    width: 40px;
    height: 38px;
    border-bottom: solid 20px $color-primary;
    border-right: solid 20px  $color-primary;
    border-left: solid 20px transparent;
    border-top: solid 20px transparent;
  }

.st-cont-box {
  background: white;
  margin-bottom: 11px;
  padding: 15px 15px 15px 15px;
  border-radius: 0px 15px 15px 15px;
  font-size: 14px;
}
.bg-red{
  background: #f07272;
  color: #ffffff;
}
.st-content-container {
  width: calc(100% - 130px);

  overflow: hidden;
  
  padding: 37px 22px 50px 21px;
  
  background: url("../img/st-cont-bg.png") no-repeat;
  background-size: contain;

  @media screen and (max-width: 900px) {
    width: calc(100%);
  }


}
.st-content-wrap {

  padding: 20px 0 0 0;

}
.st-cont-avatar {

  max-width: 130px;
  display: inline-block;
  width: 130px;
  float: left;
  padding: 80px 0 0 25px;
  img{
    width: 100%;
  }

}
.st-arrow-holder{
  display: flex;
  align-items: center;
  img {
    margin: 120px 0 0 -30px;
  }
}
.st-scrren-img{
  position: relative;
  .st-batch{
    position: absolute;
  }
}
.st-scrren-img .st-batch {

  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  padding: 10px 0 0 0;
  right: 110px;
  top: 22px;

}
.st-batch span {

  color: #272727;
  background: $color-primary;
  height: 80px;
  width: 80px;
  display: inline-block;
  border-radius: 50%;
  padding: 23px 0 0 0;

}
 .img-responsive{
   max-width: 100%;
 }
 .st-detail-img {
  margin: 50px 0px 0 0;
}
 .pull-right{
   float: right
 }
.st-detail-feature 

{
  padding-left: 50px;
  .features-content {
    
    min-height: 150px;
}
  .ico-holder {

  float: left;
  padding: 0 23px 0 0;
  display: inline-block;
  img{
 
      width: 80px;
 
  }

}
}
.flex-container {
  display: flex;
  align-items: stretch;
  padding: 50px 30px 0 30px;
}
.flex-container > div {
  width: 100px;
}
.premium-img-cnt1{
  float: right;
}
.premium-img-cnt1 img {
  margin: 0 -30px 0 0;
}
.premium-img-cnt2 img {
  margin: 10px 0 0 -30px;
}

.premium-logo-wrap{
text-align: center;

  span {

    background: #ffffff;
    height: 130px;
    display: inline-block;
    width: 130px;
    border-radius: 50%;
    text-align: center;
    border: 10px solid #f2f2f2;
    padding: 35px 0 0 0; margin: 47% 0 0 0;
    img {
  
      width: 91px;
      margin: 7px 0 0 0;
    
    }

}



}
 



.logo-holder .unstyle{
  list-style: none;
display: inline-block;
float: right;
li{
  display: inline-block;
  padding: 0 30px 0 10px;
}
}
.logo-contents {
  padding: 30px 0 30px 20px;
  color: #626262;
}
.logo-holder {
  overflow: hidden;
  padding: 35px 0 0 0;
}
.st-cont-avatar img {
  width: 100%;
}




@media (max-width: 1280px) {
  #projects .pb-4 {

    padding-bottom: 0.5rem !important;
  }
}

@media (max-width: 1024px) {
  #projects .container-fluid {

    width: 90%;
  }
 .premium-plan-img {
    max-width: 100% !important;

  }
}

@media (max-width: 960px) {
  .video-wrapper {

    margin: 0 0 40px 0;
  }
  #demos1 {
    padding: 10px 0 0 0px;
  }
  .st-cont-avatar {
    display: none !important;
}
.bg-img2 {
 
  padding: 50px 0 50px 50px;
  min-height: auto;
 
}
.process-content {
 
  min-height: 256px;
}
}

@media (max-width: 768px) {


  .premium-holder{

    flex-direction: column-reverse;

    justify-content: flex-end;
  }


  .owl-nav {

    display: none;
  }
  #about .col {

    margin-bottom: 20px;
  }
.st-arrow-holder{
  display: none;
}
 .st-detail-feature {
  padding-left: 0px;
}
}

@media (max-width: 768px) {
  .owl-dots {
    display: none;
  }

 .st-detail-feature {
    padding-left: 0px;
    padding-bottom: 20px;
}

.st-detail-feature .ico-holder {
  float: none;
  padding: 0 23px 0 0;
  display: block;
}

.st-scrren-img img {
  width: 100%;
}
.st-scrren-img .st-batch {
 
  right: 20px;
 
}

  
}
}
