#login {
  header {
    overflow: hidden;
    height: 87vh;
  }
  .rgba-indigo-light, .rgba-indigo-light:after {
    background-color: rgba(25, 26, 31, 0.65);
  }
  .login-wrapper {
    background: url("../img/login/background.png") no-repeat center center;
    background-size: cover;

    .card {
      background-color: white;
    }

    .md-form label {
      color: grey;
    }

    .login-box {

      &__form {
        //width: 50%;
        padding: 25px 0px 60px 30px;
        //clip-path: polygon(0 0, 100% 75%, 100% 75vh, 0 100%);
        //@include respond(tab-land) {
        //  width: 65%;
        //}

        @include respond(tab-port) {
          width: 100%;
        }
        &__right-arrow {
          display: inline-block !important;
          float: right;
          margin-left: 22px;
          width: 1rem;
          margin-top: 3px;
        }

      }

      &__image-container {

        position: relative;
        background-image: url(../img/login/gradian-bg.png), linear-gradient(rgba(254, 208, 8, 1) 1%, rgba(254, 208, 8, 1));

        background-position: bottom right;
        background-repeat: no-repeat;

        @include respond(tab-land) {
          background-image: url(../img/login/gradian-bg.png), linear-gradient(rgba(254, 208, 8, 1) 1%, rgba(254, 208, 8, 1));
          background-size: cover;
        }

        @include respond(tab-port) {
          background-image: url(../img/login/gradian-bg.png), linear-gradient(rgba(254, 208, 8, 1) 1%, rgba(254, 208, 8, 1));
        }

        &__img {
          top: 140px;
          position: absolute;
          right: -50px;
        }
      }
    }
  }

}

.login-box__form {
  input {
    padding: 4px 0 10px 35px !important;
  }
  .md-form label {
    font-size: 13px;
  }
  .form-control {
    font-size: 13px;
  }
  .md-form label.active {
    font-size: 11px;
  }
  .md-form .prefix ~ label {

    margin-left: 3rem;

  }
}

.md-form label {

  top: 0.34565rem;

}

.text-black {
  color: #000000 !important;
}

.font-bold {
  font-weight: 600;
}

.alert {
  font-size: 14px;
  overflow: hidden;
  padding: 0;
  border: 0;
}

.alert-danger {
  color: #ff5e56;
  background-color: #fff;
  border-color: transparent;
}

.alert.alert-danger .icon {
  background: #ff5d56;
  display: inline-block;
  float: left;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 2px;
  text-align: center;
  padding: 7px 0 0 0;
  margin: 0 14px 0 0;
}

.alert .icon img {
  margin: 0 auto;
  width: 30px;
}

.alert p {
  padding: 14px 0 0 0;
}

.alert .close {
  border: 2px solid red !important;

  border-radius: 50%;

  color: red !important;

  padding: 2px 5px 2px 4px !important;

  margin: 11px 5px 0 0;
}

.login-wrapper .alert {

  margin-right: -15px;

}