#register {
  header {
    overflow: hidden;
  //  height: 87vh;
  }
  .rgba-indigo-light, .rgba-indigo-light:after {
    background-color: rgba(25, 26, 31, 0.65);
  }
  .register-wrapper {
    background: url("../img/login/background.png") no-repeat center center;
    background-size: cover;
  }

  .card {
    background-color: white;
  }

  .md-form label {
    color: grey;
  }

  //.md-form input[type=text]:focus:not([readonly]),
  //.md-form input[type=password]:focus:not([readonly]) {
  //  border-bottom: 1px solid #fb5364;
  //  box-shadow: 0 1px 0 0 #fb5364;
  //}
  //
  //.md-form input[type=text]:focus:not([readonly]) + label,
  //.md-form input[type=password]:focus:not([readonly]) + label {
  //  color: #fb5364;
  //}

  .register-box {

    &__form {
      //width: 50%;
      padding: 25px 0px 60px 30px;
      //clip-path: polygon(0 0, 100% 75%, 100% 75vh, 0 100%);
      //@include respond(tab-land) {
      //  width: 65%;
      //}

      //@include respond(tab-port) {
      //  width: 100%;
      //}
      &__right-arrow {
        float: left;
        width: 16px;
        margin-left: 10px;
      }
    }

    &__wrapper {
      position: relative;
      background-color: $color-primary;
      background-size: 100%;
      border-radius: 3px;
     

      @include respond(tab-land) {
        background-image: linear-gradient(105deg,
                rgba($color-primary, .9) 0%,
                rgba($color-primary, .9) 65%,
                transparent 65%),
        url(../img/register/gradian-bg.png);
        background-size: cover;
      }

      @include respond(tab-port) {
        background-image: linear-gradient(to right,
                rgba($color-primary, .9) 0%,
                rgba($color-primary, .9) 100%),
        url(../img/register/gradian-bg.png);
      }

    }
    .register-box__holder {
      margin-left: 20px;
      .form-header {
        margin-top: 20px;
      }
    }

    .how-it-work {
      margin-bottom: 60px;
      position: relative;

      &:before{
        top: 18px;
        left: 45px;
        bottom: 0;
        position: absolute;
        content: "";
        width: 2px;
        height: 90%;
        background-color: #fff;
      }

      h4 {
        font-size: 54px;
        padding-top: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #78c043;
        font-weight: 800;
      }
      .panel {
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
        color: #fff;
        font-size: 16px;
        //background: #008931;
        //box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.4);
        margin-bottom: 15px;

        span, &:hover span{
          -webkit-transition: all ease-out 0.3s;
          -moz-transition: all ease-out 0.3s;
          -o-transition: all ease-out 0.3s;
          transition: all ease-out 0.3s;
        }
        &:hover span{
          background: $color-primary;

        }

        .panel-body {
          overflow-y: auto;
          overflow: visible;
          height: 70px;
          padding-left: 80px;
          position: relative;
          cursor: pointer;

          span{
            position: absolute;
            top: 15px;
            left: 0px;
            width: 60px;
            height: 60px;
            line-height: 60px;
            color: #008931;
            background: #f6f6f6;
            text-align: center;
            font-size: 20px;
            font-weight: 800;
            transition: all .2s;
            border-radius: 50%;
            box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
            &:hover {
              transform: translateY(-1px);
              box-shadow: 0px 2px 25px rgba($color-black,.2);

              &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
              }
            }
          }
          img{
            display: inline-block;
            max-width: 30px;
          }
          .step-heading {
            font-size: 16px;
            margin-top: 0px;
            color: black;
            font-weight: 400;
            padding-top: 30px;
            min-width: 150px;
          }
        }
      }

    }
  }
}


.polygonShape {
    background: white;
    width: 126px;
    height: 100%;
    position: absolute;
    left: 0;
    clip-path: polygon(7% 21%, 10% 36%, 11% 52%, 9% 70%, 6% 84%, 0 100%, 0 0, 4% 11%);
}