// Template style


 #sysmgmt {

  #navbar {
    background: $bg-transparent !important;
}
  .sys-feature-icon {
 
   background:$color-primary;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 10px 0 0 0;
    margin: 0 0 15px 0;
}
.step-content-box {
  padding: 30px 0 20px 0;
  margin: 40px 0 50px 0;
}
h5.font-bold {

  font-size: 16px;
  margin-bottom: 10px;

}
.inner-header {
  padding: 110px 0 50px 0;
 color:#ffffff; 
}

 
.bg-1 {
  background: url("../imgs/sys-footer-bg.jpg") no-repeat fixed center;
      background-size: auto auto;
  background-size: cover;
}


.banner-bg a{
  min-width: 130px;
  margin: 0 5px 0 0;
}

@media (max-width: 768px) {
  .step-content-box {
    padding: 30px 10px 20px 10px;
    margin: 40px 10px 50px 10px;
  }
  .st-step-1 img, .feature-img-first img {
    width: 100%;
}


} 
}










 