
#loader-wrapper {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 99999;
     overflow: hidden;
}

#loader {
     display: block;
     position: relative;
     left: 50%;
     top: 50%;
     width: 150px;
     height: 150px;
     margin: -75px 0 0 -75px;
     border-radius: 50%;
     border: 3px solid transparent;
     border-top-color: #f36f21;
     -webkit-animation: spin 1.7s linear infinite;
     animation: spin 1.7s linear infinite;
     z-index: 11;
}

#loader:before {
     content: "";
     position: absolute;
     top: 5px;
     left: 5px;
     right: 5px;
     bottom: 5px;
     border-radius: 50%;
     border: 3px solid transparent;
     border-top-color: #f36f21;
     -webkit-animation: spin-reverse 0.6s linear infinite;
     animation: spin-reverse 0.6s linear infinite;
}

#loader:after {
     content: "";
     position: absolute;
     top: 15px;
     left: 15px;
     right: 15px;
     bottom: 15px;
     border-radius: 50%;
     border: 3px solid transparent;
     border-top-color: #f36f21;
     -webkit-animation: spin 1s linear infinite;
     animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
     0% {
          -webkit-transform: rotate(0deg);
     }
     100% {
          -webkit-transform: rotate(360deg);
     }
}

@keyframes spin {
     0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
     }
     100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
     }
}

@-webkit-keyframes spin-reverse {
     0% {
          -webkit-transform: rotate(0deg);
     }
     100% {
          -webkit-transform: rotate(-360deg);
     }
}

@keyframes spin-reverse {
     0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
     }
     100% {
          -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
     }
}

#loader-wrapper .loader-section {
     position: fixed;
     top: 0;
     width: 51%;
     height: 100%;
     background: #222;
     z-index: 10;
}

#loader-wrapper .loader-section.section-left {
     left: 0;
}

#loader-wrapper .loader-section.section-right {
     right: 0;
}

.loaded #loader-wrapper .loader-section.section-left {
     -webkit-transform: translateX(-100%);
     transform: translateX(-100%);
     -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
     transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
     -webkit-transform: translateX(100%);
     transform: translateX(100%);
     -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
     transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
     opacity: 0;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     -webkit-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
     visibility: hidden;
     -webkit-transform: translateY(-100%);
     transform: translateY(-100%);
     -webkit-transition: all 0.3s 1s ease-out;
     transition: all 0.3s 1s ease-out;
}

/*============= Main Styel================ */

body {
       overflow-x: hidden; font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;

}
 p{

     color: #777; font-weight: 400;
     font-size: 14px;
     padding-top: 8px;
}
 ol,ul{
     margin:0px ;
     padding:0px;
}

 a:hover{
    text-decoration:none;
}

 h4{
     font-weight: 400;
     font-size: 18px;
     color:#232323;
     text-transform:uppercase;
}
.heading-title.heading-title-1.text-center h5 {
 font-weight: 100;
    color: #282828;
    padding: 0 0 30px 0;
    font-size: 30px;

}

 h3{
     text-align: center;
     color: #232323;
     font-weight:300;
     text-transform: uppercase;
     font-size: 40px;
     line-height:20px;
}

 section{
     padding: 50px 0px 70px 0px;
}
/*==================================== ===[Batton Style ]=== ======================================*/

 .active-btn{
    background: #fed008;
     color:#000000 !important;
     border: 1px solid #fed008;
}

/*==================================== ===[Header Style ]=== ======================================*/
.aprox-nav {
    position: fixed;
    z-index: 11111111111;
    width: 100%;
    background: #ffffff; box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
 .navbar {
         z-index: 9999;
    background: transparent;
    padding: 0px 0px;
}

 .navbar-toggle .icon-bar {
     background: #777;
}
 .navbar-nav{
     width: 88%;
     text-align: right;
}
 .navbar-nav li {
     float: none;
     display: inline-block;
}
.navbar-nav li a {
font-family: 'Roboto', sans-serif;
    color: #777;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    padding: 3px 6px;
    transition: 0.3s ease-in-out;
    letter-spacing: 1px;

}
.navbar-nav li.active a{
    color:#000000;
    font-weight:700;
	transition: 0.3s ease-in-out;

}
 .navbar-nav li a:before{

     bottom:-21px;
     left:0%;
     content:"";
     position: absolute;
     width:0%;
     transition: 0.3s ease-in-out;
     -webkit-transition: 0.3s ease-in-out;
     -webkit-transition: 0.3s ease-in-out;
     visibility:hidden;}

 .navbar-nav > li > a:hover::before,.navbar-nav > li > a:focus::before,.navbar-nav > li.active > a::before{

     bottom: -21px;
     margin:0px auto;
     content: "";
     position: absolute;
     width:100%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease-in-out;
     visibility:visible;
}
 .nav > li > a:focus,.nav > li > a:hover {
     background-color: transparent;
     text-decoration: none;
     color:#000000;
	 -webkit-transition: 0.3s ease;
    transition: 0.3s ease-in-out;
}
 .navbar li{
     padding:10px;
}
 .is-sticky .navbar{
     background:#fff;
     z-index: 1000!important;
     padding:10px 0px;
     box-shadow: 0 1px 6px rgba(57,73,76,.35);
     -webkit-transition: 0.5s ease;
     transition: 0.5s ease;

}
 .nav-download{
     border-radius:50%;
     border:none;
}
 #intro{
     background:#bb77ff;
     color:#fff;
     padding-top: 100px;
}
 #intro .screenshort{
     position:relative;
     z-index:1;
     padding: 160px 0px;
}
.screenshort-wrapper{float:none; margin: 0px auto;}
.screenshots-right{width: 100%;}
 .head-image-mock {
     z-index: 5;
     position: absolute;
     top: -12%;
     left: 32.6%;
}
 .head-image-mock .img-responsive.center-block{
     height: 530px;
}
 .screenshot-carousel-01 .owl-nav .owl-prev, .screenshot-carousel-01 .owl-nav .owl-next{
     width: 20px;
     position: absolute;
     top: 40%;
}
 .screenshot-carousel-01 .owl-nav .owl-prev{
    left: -20%;
}
 .screenshot-carousel-01 .owl-nav .owl-next{
     right: -20%;
}
 .screenshot-carousel-01 .owl-nav i{
    font-size: 35px;
}
.header-slider .owl-theme .owl-nav {
    display: none;
}

/*==================================== ===[Feature Style ]=== ======================================*/
 .feature{
     background: #f6f6f6;
}
 .img{
     position:relative;
}
 .img:before{
     position:absolute;
     height:80%;
     content:"";
     top:0px;
     left:-100px;
     width:100%;
}
 .feature-row{
     margin-bottom: 30px;
}
 .feature-row:last-child{
     margin-bottom: 0px;
}
 .item-box{
     position:relative;
     text-align:center;
     padding: 60px 40px 40px 40px;
     z-index: 1;
     background: #ffffff;
     transition:1s; min-height: 330px;
     transform:scale(1);
}
 .item-box:before, .item-box:after{
     position:absolute;
     content:"";
     height:100%;
     width:100%;
     left:0;
     top:0;
     z-index: -1;
     visibility: hidden;
     opacity: 0;
     transition: all 0.3s ease-in-out;
}
 .item-box-1:before{
     background:url('../images/feature-bg.png') no-repeat;
     background-size:cover;
}
 .item-box-2:before{
     background:url('../images/feature-bg02.png') no-repeat;
    background-size:cover;
}
 .item-box-3:before{
     background:url('../images/feature-bg03.png') no-repeat;
    background-size:cover;
}
 .item-box-4:before{
     background:url('../images/feature-bg04.png') no-repeat;
    background-size:cover;
}
 .item-box:after{
     background:rgba(0, 0, 0, 0.5);
}
 .feature-single:hover .item-box:before{
     visibility: visible;
     opacity: 1;
     transition:1s;
     transform:scale(1);
}
 .feature-single:hover .item-box:after{
     visibility: visible;
     opacity: 1;
     transition:1s;
     transform:scale(1);
}
 .feature-single p{
     transition:1s;
     transform:scale(1);
     margin:0;
}
 .feature-single h4{
     margin:0;
     padding:40px 0 10px;
     transition:1s;
     transform:scale(1);
}
 .feature-single:hover h4, .feature-single:hover p, .feature-single:hover .feature-i i{
     color: #ffffff;}
 .feature-single:hover .feature-i i{
     background: #000000;
     color:#fed008;
     transition:.3s all ease-in-out;
     transform:scale(1.2);
}
 .feature-i i{
     height: 80px;
     width: 80px;
     background: #fed008;
     padding: 25px;
     border-radius: 50%;
     font-size: 30px;
     transition:.3s all ease-in-out;
     transform:scale(1);
     color:#000000;
}
 .feature-image{
     width: 330px;
     padding:35px 0px 0px 30px ;
}
 .feature-image img{
     height:100%;
     width:100%;
     border-radius:45px;
     -webkit-box-shadow: 10px 10px 44px 12px rgba(170,170,170,1);
     -moz-box-shadow: 10px 10px 44px 12px rgba(170,170,170,1);
     box-shadow: 10px 10px 44px 12px rgba(170,170,170,1);
}
/*==================================== ===[Appro Style ]=== ======================================*/
 .appox-text, .appox-text-2{
     padding-top: 0px;
}
 .appox-text{
    text-align:left;
}
 .appox-text-2{
    text-align:right;
}
 .appox-text h5,.appo-span, .appox-text-2 h5{
     font-size: 30px;
}
 .appox-text h5, .appox-text-2 h5{
     font-weight:100;
     color: #282828;
     text-align:left;
}
 .appo-span{
     font-weight:700;
}

 .appox-down{
     background:#fed008;
     padding:10px 20px;
     text-decoration:none;
     color:#000000;
     text-transform:uppercase;
  display: inline-block;
     border-radius:30px; border: 0;
     transition:.3s all ease-in-out ;
     min-width: 110px;
     font-size: 12px;
font-weight: 700;

letter-spacing: 1px;

}
 .appox-down:hover{
     background:#f8d749;
     text-decoration:none;
     color:#000000;
     transition:.3s all ease-in-out ;
}
 .appox-img, .appox-img-2{
    position:relative;
}
 .appox-img::before, .appox-img-2::before{
     position: absolute;
     content: "";
     height: 400px;
     width: 3000px;
     top: 120px;
     right:-5000px;
     background: url("../images/aprsox-img3.png");
     z-index: -1;
     border-radius:0px 10px 10px 0px
}
.content-holder-bg{ position: relative; }

.content-holder-bg {
    position: relative;
    padding: 60px 0 0px 0;
}
.bg-grey {
    background: #ededed;
}
 .appox-img::before{
    left: -581%;
    border-radius:0px 10px 10px 0px;
}
 .appox-img-2::before{
    right: -581%;
    border-radius:10px 0px 0px 10px;
}
 .appox-img img{
     width:325px;
}
 .appox-img-2 img{
     float:right;
}
 .appxo-text-2{
     text-align:right;
}

.content-img-holder1 {
    margin: 0 0 0 -15px;
    padding: 80px 50px 0 0;
}


/*==================================== ===[APPRO APP Style ]=== ======================================*/
 .appro-ap-text h3{
     font-weight:100;
     font-size:40px;
     text-align:left;
     line-height:60px;

}
 .appro-ap-text .appox-color{
     color:#fed008;
     font-weight:700;
     font-size:40px;
}

 .appox-app-img img{

 margin: 0 auto;
     border-radius: 10px 10px 0 0;
     -webkit-box-shadow: 2px 0px 40px 0px rgba(170,170,170,0.6);
     -moz-box-shadow:  2px 0px 40px 0px rgba(170,170,170,0.6);
     box-shadow: 2px 0px 40px 0px rgba(170,170,170,0.6);
}
 .appro-ap-text.box-right-content {

    text-align: right !important;

}
.feature-rt-content {

    float: left;
    display: inline-block;
    width: calc(100% - 60px);
    padding: 0 10px 0 0;

}
 .appro-ap-text.box-right-content .feature-box img {

    width: 55px; margin-top: 8px;

}
ul.app-img-li li{list-style-type:none;float:left;}
ul.app-img-li li a img{margin:30px 30px 0px 0px;}
 .app-list li{
     font-weight:400;
     list-style-type:none;
     font-size: 16px;
     padding:10px 0px;
     color:#777;
}
 .app-list li{
     font-weight:400;
     list-style-type:none;
     font-size: 16px;
     padding:10px 0px;
     color:#777;
}
 .appro-ap-text {

    padding: 80px 24px 0px 20px;

}
.feature-box {

    padding: 0 0 16px 0;
    overflow: hidden;

}
.feature-box p {

    padding: 0;

}
 .fa-check{
     color: black;
     margin-right:10px;
}
/*==================================== ===[Contant Style ]=== ======================================*/
 .contact {
     background:url(../images/contact-bg.png);
     min-height: 660px;
     background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact .header {
    padding-bottom:15px;
}

/* Start Footer */
 .footer {
    background: #313131;
    color: #fff;
    padding: 50px 0 30px 0;
}


/*========= Slider-bg STYLE============ */

.single-slider {
    min-height: 700px;
    padding: 100px 0px;
}
.slide-01{background:url('../images/slider-bg/slide-01.jpg') no-repeat;}
.slide-02{background:url('../images/slider-bg/slide-02.jpg') no-repeat;}
.slide-03{background:url('../images/slider-bg/slide-03.jpg') no-repeat;}

.single-slider .active-btn{border:1px solid #fff;}

.slide-01, .slide-02, .slide-03{
	background-size:cover;
	position:relative;
}
.slide-01:before, .slide-02:before, .slide-03:before{
	position:absolute;
	content:"";
	background:#000000;
	height:100%;
	width:100%;
	top:0;
	left:0;
	opacity:.75;
	z-index:3;
     background: url(../images/bg-background.png);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: .6;
}
.slider-text{position:absolute;z-index:333;
	color:#fff;
	width:100%; top: 25%;
}
.title-p {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 3px;
}
.slider-text h2{
	font-size:60px;
	text-transform:uppercase;
}

.slider-bg .owl-prev:hover, .owl-next:hover{background:none !important;transition:all .5s ease-in-out;}
.slider-p {
    color: #fff;
    padding-bottom: 50px;
    font-size: 18px;
}
.slider-bg  .owl-carousel .owl-nav button.owl-next, .slider-bg .owl-carousel .owl-nav button.owl-prev{
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    border: 1px solid;
    width: 25px;
    border-radius: 0px;
}
.slider-bg  .owl-dots{margin-top:20px;}

/*=============== typed=================  */
.typed  .owl-dots{margin-top:20px;}

/*============== images-bg STYLE================== */

.image-bg #intro{
	background:url('../images/slider-bg/slide-03.jpg') no-repeat;
	background-attachment:fixed;
	background-size:cover;
	position:relative;
}
.image-bg #intro:before{
	position:absolute;
	content:"";
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#fed008;
	opacity:.75;
}
.image-bg .owl-dots{margin-top:20px;}


/**/

@-webkit-keyframes ani-mouse {
     0% {
     opacity: 1;
     top: 29%;
     }
     15% {
     opacity: 1;
     top: 50%;
     }
     50% {
     opacity: 0;
     top: 50%;
     }
     100% {
     opacity: 0;
     top: 29%;
     }
}
@-moz-keyframes ani-mouse {
     0% {
     opacity: 1;
     top: 29%;
     }
     15% {
     opacity: 1;
     top: 50%;
     }
     50% {
     opacity: 0;
     top: 50%;
     }
     100% {
     opacity: 0;
     top: 29%;
     }
}
@keyframes ani-mouse {
     0% {
     opacity: 1;
     top: 29%;
     }
     15% {
     opacity: 1;
     top: 50%;
     }
     50% {
     opacity: 0;
     top: 50%;
     }
     100% {
     opacity: 0;
     top: 29%;
     }
}
.scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 11111;
    bottom: 0;
}
.scroll-btn > * {
     display: inline-block;
     line-height: 18px;
     font-size: 13px;
     font-weight: normal;
     color: #7f8c8d;
     color: #ffffff;

     letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
     color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
     opacity: 0.8;
     filter: alpha(opacity=80);
}
.scroll-btn .mouse {
  position: relative;
display: block;
width: 23px;
height: 35px;
margin: 0 auto 20px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border: 2px solid white;
border-radius: 23px;
}
.scroll-btn .mouse > * {
   position: absolute;
display: block;
top: 29%;
left: 50%;
width: 5px;
height: 5px;
margin: -4px 0 0 -3px;
background: white;
border-radius: 50%;
-webkit-animation: ani-mouse 2.5s linear infinite;
-moz-animation: ani-mouse 2.5s linear infinite;
animation: ani-mouse 2.5s linear infinite;
}

/*#sticky-wrapper {*/

    /*height: 60px !important;*/

/*}*/
#header{
    position: relative;
}
.aprox-nav{   opacity: 0;     transition: all 0.3s ease-in-out; }
.divHidden{
    opacity: 1;
}

.appro-app.feature-section {

padding-bottom: 30px;

}
.feature-box.feature-lft img {

    width: 55px;
    float: left;
    overflow: hidden;
    display: inline-block;
    margin: 10px 10px 10px 0;

}


/* Timeline */
.timeline,
.timeline-horizontal {
  list-style: none;
  padding: 20px 0px 20px 20px;
  position: relative;
}
.timeline:before {
top: 40px;
bottom: 0;
position: absolute;
content: " ";
width: 3px;
background-color: #eeeeee;
left: 15%;
margin-left: -1.5px;
}
.timeline .timeline-item {
  margin-bottom: 13px;
  position: relative;
}
.timeline .timeline-item:before,
.timeline .timeline-item:after {
  content: "";
  display: table;
}
.timeline .timeline-item:after {
  clear: both;
}
.timeline .timeline-item .timeline-badge {
  color: #fff;
  width: 54px;
  height: 54px;
  line-height: 52px;
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 8px;
  margin-left: 40px;
  background-color: #333;
  border: 3px solid #ffffff;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {
  top: 2px;
  left: 0px;
}
.timeline .timeline-item .timeline-badge.primary {
  background-color: #1f9eba;
}
.timeline .timeline-item .timeline-badge.info {
  background-color: #5bc0de;
}
.timeline .timeline-item .timeline-badge.success {
  background-color: #59ba1f;
}
.timeline .timeline-item .timeline-badge.warning {
  background-color: #d1bd10;
}
.timeline .timeline-item .timeline-badge.danger {
  background-color: #ba1f1f;
}
.timeline .timeline-item .timeline-panel {
  position: relative;
  width: 74%;
  float: right;
top: 10px;
left: 16px;
  right: 16px;
  background: #ffffff;
  border-radius: 2px;
  padding: 15px 0 8px 15px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline .timeline-item .timeline-panel::before {
  position: absolute;
top: 21px;
left: -12px;
display: inline-block;
border-top: 10px solid transparent;
border-left: 0px solid #777;
border-right: 11px solid #ccc;
border-bottom: 10px solid #5c5151;
content: " ";
}
.timeline .timeline-item .timeline-panel .timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-item .timeline-panel .timeline-body > p,
.timeline .timeline-item .timeline-panel .timeline-body > ul {
  margin-bottom: 0;
}
.timeline .timeline-item .timeline-panel .timeline-body > p + p {
  margin-top: 5px;
}


.timeline-horizontal {
  list-style: none;
  position: relative;
  padding: 20px 0px 20px 0px;
  display: inline-block;
}
.timeline-horizontal:before {
  height: 3px;
  top: auto;
  bottom: 26px;
  left: 56px;
  right: 0;
  width: 100%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item {
  display: table-cell;
  height: 280px;
  width: 20%;
  min-width: 320px;
  float: none !important;
  padding-left: 0px;
  padding-right: 20px;
  margin: 0 auto;
  vertical-align: bottom;
}
.timeline-horizontal .timeline-item .timeline-panel {
  top: auto;
  bottom: 64px;
  display: inline-block;
  float: none !important;
  left: 0 !important;
  right: 0 !important;
  width: 100%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item .timeline-panel:before {
  top: auto;
  bottom: -16px;
  left: 28px !important;
  right: auto;
  border-right: 16px solid transparent !important;
  border-top: 16px solid #777 !important;
  border-bottom: 0 solid #777 !important;
  border-left: 16px solid transparent !important;
}
.timeline-horizontal .timeline-item:before,
.timeline-horizontal .timeline-item:after {
  display: none;
}
.timeline-horizontal .timeline-item .timeline-badge {
  top: auto;
  bottom: 0px;
  left: 43px;
}


.panel-default > .panel-heading {

    background-color: transparent;
    border-color: transparent;

}
.panel-default {

    border-color: transparent;

}
.panel {


    background-color: transparent;


}
.panel-default > .panel-heading + .panel-collapse > .panel-body {

    border-top-color: transparent;

}
.panel-title {

    font-size: 21px;


}
.panel.panel-default {
    padding: 0 0 10px 0;
    background: rgba(255, 255, 255, 0.3);
}

.img-responsive.process-img {
    margin: 83px 0 0 -24px;
}

    ul.timeline li .timeline-badge {
   transition: all 0.3s ease-out;
}
        ul.timeline li:first-child .timeline-badge {
    background: #fed008;
    color: #000000;
}
      ul.timeline li:hover .timeline-badge {
    background: #fed008;
    color: #000000;
}

.footerWidget.footerSocial ul li {
    display: inline-block;
}

.footer a {
    color: #f36f21;
}
.footerWidget.footerSocial ul li a {
    border: 1px solid #fff;
    border-radius: 50px;
    width: 36px;
    height: 36px;
    overflow: hidden;
    display: inline-block;
    padding: 7px 0 0 0;
    margin: 10px 5px 0 0;
}

.appro-ap-text {
    padding: 0px 24px 0px 20px;
}

.single-price {
    background: #e8e8e8; border-radius: 5px;   transition: all 0.5s ease;
}
.single-price:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.175);
}

.price-title {
border-radius: 5px 5px 0px 0;

position: relative;
font-size: 35px;
font-weight: 300;
padding: 28px 0 20px 25px;
min-height: 122px;
}
.plan-features {


    overflow: hidden;
    text-align: left;
    padding: 34px 0 15px 20px;
    font-size: 16px;

}
.plan-features ul li {
    width: 100%;
    float: left;
}
.price-section {
    width: 30%;
    overflow: hidden;
}
.price-title span {
    font-size: 14px;
    display: block;
}

.price-section-content {
    font-size: 33px;
}
.price-section-content {
    font-size: 33px;
    display: block;
}

.plan-features ul li {
    width: 100%;
    background: url('../images/rightico.png');
        background-repeat: repeat;
        background-position-x: 0%;
        background-position-y: 0%;
    background-repeat: no-repeat;
    padding: 0 0 10px 35px;
    background-position: 5px 6px;
}


.price-section {
    width: 100%; background: #fcfcfc;
    overflow: hidden;
    padding: 10px 0 0 25px;

}
.appox-down.btn-sm {
    padding: 10px 23px 10px 25px;
}
.price-section a {
    background: #fed008;
    color: #000;
    margin:4px 0 15px 0;
}

#praice-table {
    background: #e9e9e9;
    padding: 50px 0 39px 0;
}
 .proceduer-content {
    padding: 60px 0 0 0;
}

.bg-grey.procedure-section {
    padding: 25px 0 40px 0;
}
.fee-features ul li {

    background: #ffffff;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin: 0 10px 0 0;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);

}
.fee-features p {

    padding: 0;

}
.fee-features ul {

    padding: 5px 0 5px 0;

}
.fee-features h2 {

    margin: 30px 0 5px 0;

}
.feature-i img {
    width: 80px;
}

.content-img-holder2 {
    margin: 15px 0 -40px -16px;
}

.praice-table {
    background:#f7f7f7;
}

.btn-custom {
    background: #fed008;
    border-radius: 50px;
    padding: 5px 15px 5px 15px !important;
    color: #000000 !important;
}
.btn-grey {

    background: #d9d9db;

border-radius: 50px;
padding: 5px 15px 5px 15px !important;
color: #000000 !important;
margin: 0 -15px 0 0;
}
.btn-grey:hover, .btn-custom:hover  {

    background: #ededed !important;

}

.slider-bg.login-bg.loaded{
   background: #f0f0f0;
}
.aprox-nav-login {
    background: #ffffff;   box-shadow: 0 1px 6px rgba(57,73,76,.35);
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;

}
.aprox-nav-login .is-sticky .navbar {

  background: #ffffff !important;;
    z-index: 1000 !important;
    padding: 0px 0px;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;

}

.aprox-nav-login .navbar-nav li.active a {

    color: #000000;

}
#box-login input {

    border: 0; box-shadow: none;

}
#box-login .input-group {

    border-bottom: 1px solid #d7d7d7;
    padding: 0 0 10px 0px;

}
#box-login .input-group-addon {

    background: transparent;
    border: 0;
    font-size: 22px;

}
#box-login .form-control {

    background: transparent;

}
#box-login {
 overflow: hidden;
    background: rgba(255, 255, 255, 0.9) !important;

    width: 60%;
    margin: 0 auto;
    border-radius: 6px;     box-shadow: 0 9px 14px rgba(150, 150, 150, 0.3);

}
#box-login img {

    padding: 0 0 25px 0;

}
#box-login .form-group.text-left a {
    color: #000000;
}
.login-section{
    padding: 0 0 0 0;
}
.login-section {
    padding: 100px 0 80px 0;
    min-height: 609px;
}

.aprox-nav-login .navbar-nav li a {

    color: #ccc;

}
.message-result-box img {
    padding: 0 !important;
}
.message-result-box a {
    margin-top: 20px;
}

.img-login {
    float: left;
    display: inline-block;
    width: 45%;
    height: 335px;
    overflow: hidden;

}
.img-login-2 {
    width: 55%;
    overflow: hidden;
    padding: 30px 0px 30px 30px; float: left;
}

.aprox-nav-login #sticky-wrapper .navbar {

    position: relative !important;

}
.input-group-addon {
    padding: 6px 6px;
}
.loginError.alert-danger {
    width: 60%;
    margin: 0 auto;
        margin-bottom: 0px;
    padding: 9px 0 9px 10px;
    border-radius: 50px;
    margin-bottom: 15px;
}

.img-login img {
    float: right;
    height: 100%;
    max-width: 100%;
}
.message-result-box.text-center {
    padding: 40px 0 40px 0;
}

   .price-title img {
    width: 42px;
    margin: 0 5px 10px 0;
    display: block;
}
 .single-price.first-price.middle-block{
    background: #85ab70;
 }
.middle-block .price-section {

    background: #fff;

}

.middle-block .plan-features{
    background:#000000;

}

.middle-block .plan-features {
 background:#e8e8e8;
}

.plan-text.text-center h5 {
    font-weight: 100;
    color: #282828;
    padding: 0 0 30px 0;
    font-size: 30px;
}
.plan-text.text-center {
    overflow: hidden;
    display: block;
    width: 100%;
    padding: 20px 0 0 0;
}
.plan-text.text-center h5 span {
    font-weight: 400;
    font-size: 35px;
    padding: 0 3px 0 3px; color: #85ab70;
}
.single-price.first-price.last-section .price-title{
    background: #fed008;

}

.single-price.first-price.middle-block .price-title {
    color: #ffffff;
}
.waves-block {
    position: absolute;
    width: 384px;
    width: 24rem;
    height: 384px;
    height: 24rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.waves-block .waves {
    position: absolute;
    width: 384px;
    width: 24rem;
    height: 384px;
    height: 24rem;
    background: rgba(255, 255, 255, 0.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    border-radius: 320px;
    background-clip: padding-box;
    -webkit-animation: waves 3s ease-in-out infinite;
    animation: waves 3s ease-in-out infinite;
}

.waves-block .wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.waves-block .wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waves-block .wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

@-webkit-keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    100% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    100% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

 .navbar-brand img {

    float: left;
    margin: 0 10px 0 0;
}
.premium-class {
   background: #fed008;
color: #000000;
font-size: 12px;
border-radius: 0px 10px 10px 0;
padding: 2px 10px 3px 10px;
position: absolute;
font-weight: 600;
letter-spacing: 1px;
}

.price-h3{
   margin: 10px 0;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 100%;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
 border-color: transparent;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

.navbar-default.fixed-theme .navbar-nav>li>a:focus, .navbar-default.fixed-theme .navbar-nav>li>a:hover {
    color: #333;
    background-color: #fed008;
}

.button-bordered {
    border: 2px solid !important;
    background: transparent !important;
    /*padding: 15px 20px;*/
    color: #fff !important;
    margin-left: 20px;
}

.button-bordered:hover {
    background: #f8d749 !important;
    border: none !important;
    color: #000 !important;
}

.contact-support {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-img {
    padding: 0 30px 0 0;
    border-right: 2px solid #e0e0e0;
    margin-right: 30px;
}
.contact-img img {
    max-width: 70px;
}
.contact-support h5 {
    font-size: 18px;
}


.praice-table.plan-table {

    padding-bottom: 50px !important;

}
