.navbar.custom-navbar{
  .navbar-toggler {

    border-color: rgba(0,0,0,0.0);
    &:focus{
      border-color: rgba(0,0,0,0.0) !important;
      outline: none;
    }
  }
  a.navbar-brand{
    img{
      max-width: 100px;
      width: 100px;
    }
    img.atsLogo {
      max-width: 150px !important;
    }
  }


  .navbar-nav .dropdown-menu {
    left: -178px;
    right: 0;
    min-width: 220px;
    padding: 0;
    top: 46px;

    .user-info-box {
      background: #f9f9f9;
      font-size: 12px;
      display: flex;
      border-radius: 4px 4px 0 0px;
      flex-direction: column;
      padding: 5px 0 5px 14px;
      border-bottom: 1px solid #ececec;
      margin-bottom: 5px;
      span.usernameHolder {
        font-size: 14px;
        white-space: nowrap;
        width: 210px;
        overflow: hidden;
        text-overflow: ellipsis;

      }

      span.emailHolder {
        color: #2d9bb7;
        white-space: nowrap;
        width: 210px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }
  }




  .menubar-wrap .navbar-nav .dropdown-menu {
    left: unset !important;
    top: 60px;
    min-width: 166px;
  }





  .nav-link {
    color: rgba(0,0,0,.9) ;
    margin-right: 10px;
    span.notification-count {
      background: red;
      color: $white;
      font-size: 10px;
      width: 20px;
      height: 20px;
      display: inline-flex;
      text-align: center;
      border-radius: 50px;
      justify-content: center;
      align-self: center;
      align-items: center;
      margin: 0px 0 0 0px;
      position: relative;
      top: -2px;
    }

  }


  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-menu {
    border: 1px solid $gray-900;
    img.arrow-dropdown {
      width: 15px;
      position: absolute;
      right: 18px;
      top: -9px;
    }
    .dropdown-item {
      font-size: 14px;
      padding: 5px 0 5px 13px;
    }

    .dropdown-item.active, .dropdown-item:active {
      color: inherit;
      background-color: inherit;
    }
  }

}

.navbar-right{
  a.nav-link img {
    max-width: 20px;
  }
  li.nav-item.bell-notification{
    a.nav-link{
      position: relative;
      padding: 5px 15px 0 0;
    }
    span.notification-count-dot {
      background: red;
      width: 11px;
      display: inline-block;
      height: 11px;
      border-radius: 50px;
      position: absolute;
      right: 5px;
      top: 6px;
      border: 2px solid $white;
    }
  }
  a.nav-link.user-account-a-link {
    border: 1px solid;
    height: 35px;
    width: 35px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50px;
    background: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      max-width: 15px;
    }
  }
}
.navbar-wrap {

  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

@media (max-width: 991px) {
  .navbar.custom-navbar {
    .navbar-brand {

      padding: 10px 0 10px 15px;
    }
    padding: 0;
    .menubar-wrap{
      width: 100%;
      ul{
        margin-top: 0px !important;
      }
      li.nav-item {
        border-top: 1px solid $gray-400;
        .nav-link {
          padding: 12px 0 10px 15px;
        }
      }
    }
  }

  .navbar-wrap {
    flex-direction: column-reverse;
  }
  .log-wrap{
    ul{
      position: relative;
      top: 5px;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      li{
        margin: 10px 0 0 10px;
        span.notification-count-dot {
          right: -2px !important;
          top: 3px !important;
        }
        a.nav-link.user-account-a-link {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
.nav-link{
  color: $black;
  &:hover{
    color: $black;
  }
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: $primary;
  color: $black;

}


.bell-notification {
  .dropdown-toggle::after{
    background: none !important;
  }
}


.navbar-right li.nav-item.bell-notification span.notification-count-dot {
  left: 13px !important;
  top: 3px !important;
  right: 0 !important;
}





.dropdown-menu.dropdown-notification {
  min-width: 340px;
  .notif-actions {
    text-align: right;
    border-bottom: 1px solid #dddfe2;
    a {
      font-size: 13px;
      padding: 0 10px 10px 0;
      display: inline-block;
      color: #f36f21;
    }
  }
  ul#notification-ul {
    padding: 0;
    list-style: none;
    font-size: 13px;
    span.notification-link.text-center.empty-notif {
      font-size: 12px;
      padding-top: 6px;
      display: inline-block;
      color: $gray-600;
    }

    li.notif-link{
      padding: 10px 0px 5px 10px;
      border-bottom: 1px solid #e6e6e6;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms;
      a{
        color: #686868;
      }
      span.dropdown-message-box {

        width: 100%;
        display: block;
        overflow: hidden;

        span.profile-img {
          display: inline-block;
          float: left;
          img {
            border-radius: 50px;
            width: 40px;
          }
        }
        .media-body {
          overflow: hidden;
          width: calc( 100% - 40px);
          display: inline-block;
          padding: 0 0 0 5px;
          span.notification-link {
            display: block;
            width: 100%;
          }
        }
      }

      &:hover{
        background: rgba(255, 228, 206, 0.69);

      }
    }
  }

  .text-center.last-child-li a {
    color: #f36f21;
    font-size: 13px;
    padding-top: 11px;
    display: inline-block;
  }
}
.dropdown-empty div {
  height: auto !important;
}
.notification-empty {
  height: auto !important;
}

nav.navbar.navbar-expand-lg.navbar-light.custom-navbar {
  box-shadow: 0px 4px 10px 0px #f3f3f3;
  padding: 0 15px 0 15px;
}
.menubar-wrap{
  ul{
    li.nav-item{
      a.nav-link{
        padding: 20px 10px 16px 10px;
        border-bottom: 3px solid transparent;
      }
    }
  }
  li.active a {
    border-bottom: 3px solid #fee551 !important;
    background: #e8e8e8 !important;
  }
}



.mobile-navigation {
  display: none;

  align-items: center;
  justify-content: center;

  .dropdown-menu.dropdown-notification {
    position: absolute;
    .last-child-li {
      .slimScrollDiv {
        height: 350px !important;
        overflow: unset !important;
      }
    }
    ul#notification-ul {
      flex-direction: column;

    }
  }
  li.nav-item.user-account-link{
    .dropdown-menu {
      position: absolute;
    }
  }

  .log-wrap ul li {
    margin: 0px 0 0 0px;
  }
  .log-wrap  {
    margin: 0px 0 0 10px;
    li.nav-item.bell-notification.dropdown {
      padding: 0px 0px 0 0px;
      margin-top: 0px;
      position: relative;
      top: -2px;

     a.nav-link {
        padding: 5px 0px 0 0;
      }
 img.arrow-dropdown {
        right: 12px;
      }
      .last-child-li {
        padding: 0 0 5px 0;
      }
    }

    .navbar-right a.nav-link.user-account-a-link {

      height: 30px;
      width: 30px;
    }
  }
  .dropdown-menu.dropdown-notification ul#notification-ul li.notif-link {
    padding: 10px 10px 5px 10px;

  }
}
.navbar.custom-navbar .mobile-navigation li.nav-item.user-account-link.dropdown .dropdown-menu {
  top: 40px;
  right: -4px;
}
@media (max-width: 991px) {

  .mobile-navigation {
    display: flex !important;
  }
  .log-wrap.d-none-sm{
    display: none;
  }
}
.navigation-wrap {
  display: flex;
}



li.nav-item.bell-notification{
  .dropdown-menu.dropdown-notification{
img.arrow-dropdown {
      width: 15px;
      position: absolute;
      right: 26px;
      top: -9px;
    }
  }

}
