<template>
    <div class="selection-mgmt-table selection-mgmt-tab-1 table-wrapper text-left">
        <div class="selection-filter-container pb-2">
            <candidate-table-filter :pagination="pagination"
                                    :filter="filter"
                                    :page-change-handler="onPageChanged"
                                    :sort-handler="onSortByChanged"/>
        </div>

        <div class="selection-mgmt-table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="width: 140px;">
                            氏名/推薦ID
                        </th>
                        <th scope="col" style="width: 270px;">
                            採用企業/求人名/求人提供
                        </th>
                        <th scope="col">
                            メモ
                        </th>
                        <th scope="col" style="width: 100px;">
                            推薦日
                        </th>
                        <th scope="col">
                            書類選考
                        </th>
                        <th scope="col">
                            面接
                        </th>
                        <th scope="col">
                            内定承諾
                        </th>
                        <th scope="col">
                            入社
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <candidate-row v-for="(candidate, index) in candidates"
                                   :key="index"
                                   :candidate="candidate"
                                   @memoEditRequest="showMemoEditModal"/>
                </tbody>
            </table>
            <div v-if="candidates.length===0" style="text-align: center;">
                データが見つかりません
            </div>
        </div>

        <div class="selection-filter-container pb-2">
            <div class="row m-0">
                <div class="col-lg-12 p-0">
                    <pagination :pagination="pagination" :current-page="filter.page" @updated="onPageChanged"/>
                </div>
            </div>
        </div>
        <agent-memo-edit :memo-edit="memoEdit" :base-url="baseUrl"/>
    </div>
</template>

<script type="text/ecmascript-6">
    import AgentMemoEdit        from "./agentMemoEdit"
    import CandidateRow         from "./CandidateRow"
    import CandidateTableFilter from "./CandidateTableFilter"
    import Pagination           from "./Pagination"

    export default {
        name: "CandidatesTable",

        components: { AgentMemoEdit, Pagination, CandidateRow, CandidateTableFilter },

        props: {
            candidates: { type: Array, required: true },
            pagination: { type: Object, required: true },
            filter: { type: Object, required: true },
            baseUrl: { type: String, required: true },
        },

        data: () => ({
            memoEdit: {
                candidateId: "",
                memo: "",
            },

        }),

        methods: {
            onPageChanged(pageNumber) {
                this.$emit("filterChanged", { ...this.filter, page: pageNumber })
            },

            onSortByChanged(event) {
                this.$emit("filterChanged", { ...this.filter, page: 1, sortBy: event.target.value })
            },
            showMemoEditModal(candidateId, memo) {
                this.memoEdit.memo = memo
                this.memoEdit.candidateId = candidateId
                $("#memoEditModal").modal({
                    backdrop: "static",
                    keyboard: false,
                })
                $(".memo-text-area").attr("style", "")
            },
        },
    }
</script>
