<template>
    <div class="row m-0">
        <div class="col-lg-6 p-0">
            <div class="custom-select-option selection-sort-dropdown">
                <div class="select">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <select @change="sortHandler">
                        <option v-for="(option, index) in sortByOptions"
                                :key="index"
                                :value="option.key"
                                :selected="filter.sortBy === option.key"
                                v-text="option.label"/>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-lg-6 p-0">
            <pagination :pagination="pagination" :current-page="filter.page" @updated="pageChangeHandler"/>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import Pagination from "./Pagination"

    export default {
        name: "CandidateTableFilter",

        components: { Pagination },

        props: {
            pagination: { type: Object, required: true },
            filter: { type: Object, required: true },
            pageChangeHandler: { type: Function, required: true },
            sortHandler: { type: Function, required: true },
        },

        data: () => ({
            sortByOptions: [
                { key: "unread_notification", label: "メッセージが新しい順" },
                { key: "latest_recommended_date", label: "推薦日が新しい順" },
                { key: "older_recommended_date", label: "推薦日が古い順" },
                { key: "order_of_selection", label: "選考の進んでいる順" },
                { key: "order_of_not_selected", label: "選考の進んでいない順" },
            ],
        }),
    }
</script>
