<template>
    <tr class="candidate-row">
        <td class="td-id">
            <div class="td-id-wrap clickable" @click="showDetail(candidate.candidate_id)">
                <span v-if="candidate.agent_view_status !== 'Y'" class="new-spn"/>
                <div class="username-hold">
                    {{ candidate.full_name }}
                </div>

                <div class="userid-hold">
                    {{ candidate.recommend_id }}
                </div>
            </div>
        </td>

        <td class="candidate-company-row">
            <div class="tbl-title-wrapper">
                <div class="title-hold" @paste="sanitize" v-html="candidate.job_company_name"/>

                <div class="title-detail job-title-wrapper" @paste="sanitize" v-html="candidate.job_title"/>

                <div v-if="candidate.applied_via=='jobins'" class="company company-wrapper">
                    <span class="company-title " :style="`background: ${jdType.color};`">
                        {{ jdType.text }}
                    </span>
                    <template v-if="candidate.jd_type !== 'jobins'" @paste="sanitize" v-html="candidate.client_organization"/>
                </div>
            </div>
        </td>

        <td class="candidate-memo-row">
            <div class="tbl-title-wrapper">
                <p style="padding: 6px" @click="openMemoEdit">
                    <template v-if="candidate.agent_memo">
                        {{ candidate.agent_memo | truncate(50) }}
                    </template>
                    <template v-else>
                        <span class="static-placeholder">メモ...</span>
                    </template>
                </p>
            </div>
        </td>

        <td class="candidate-date-row">
            <div class="tbl-date">
                {{ getFromObject(candidate, "nomination_date.formatted") }}
            </div>
        </td>

        <td class="candidate-document-row">
            <div v-if="showDash('document')" class="step-null">
                <img src="/agent/img/icons/dash.png" class="dash-icon" alt="dash" style="width:10px">
            </div>
            <template v-else>
                <div v-if="documentSelection" class="step-td-wrapper">
                    <div class="step-td nowrap">
                        <span v-if="showPassFailIcon(documentSelection)" class="step-icon-holder">
                            <img :src="statusImage(documentSelection.status)" alt="round">
                        </span>
                        <span>{{
                            showPassFailIcon(documentSelection) && documentSelection.status
                                ? "通過"
                                : documentSelection.situation_text
                        }}</span>
                    </div>

                    <div v-if="(candidate.selection_id !== 2 && candidate.selection_id !== 1) " class="step-td-date">
                        {{ getFromObject(documentSelection, "date.formatted") }}
                    </div>
                </div>
            </template>
        </td>

        <td class="candidate-interview-row">
            <div v-if="showDash('interview')" class="step-null">
                <img src="/agent/img/icons/dash.png" class="dash-icon" alt="dash" style="width: 10px">
            </div>
            <template v-else>
                <div v-if="interviewStages.length > 0" class="step-td-wrapper stage-history">
                    <div class="step-td-date"
                         :class="{'ml-2' : isDateVisible(interviewStages[interviewStages.length - 1])}">
                        <span>{{ interviewStages[interviewStages.length - 1].description }}</span>
                    </div>
                    <div class="step-td">
                        <div class="step-content-wrap">
                            <span v-if="showPassFailIcon(interviewStages[interviewStages.length - 1])"
                                  class="step-icon-holder">
                                <img :src="statusImage(interviewStages[interviewStages.length - 1].status)" alt="round">
                            </span>
                            <div class="step-text-wrap nowrap">
                                <span :class="{
                                    'text-red text-bold': isRed(interviewStages[interviewStages.length - 1]) &&
                                        isBold(interviewStages[interviewStages.length - 1]),
                                    'text-red': isRed(interviewStages[interviewStages.length - 1]) &&
                                        !isBold(interviewStages[interviewStages.length - 1])&&
                                        (!showPassFailIcon(interviewStages[interviewStages.length - 1]))}">

                                    {{ interviewStages[interviewStages.length - 1].situation_text }}
                                </span>
                            </div>
                        </div>

                        <div v-if="interviewStages.length > 1" class="step-history-wrap">
                            <a href="#" @click.prevent="toggleInterviewStages">
                                <img src="/agent/img/icons/stage.png" class="stage-ico" style="margin-top:-3px" alt="">
                            </a>

                            <div v-if="showInterviewStages" class="stageHistoryPop" style="z-index: 9; width:auto;">
                                <img src="/agent/img/icons/arrow-bar.png" class="stage-arrow-bar-ico" alt="">

                                <div class="stage-history-holder">
                                    <div v-for="(interviewStage, interviewIndex) in interviewStages"
                                         :key="interviewIndex"
                                         style="display: flex;">
                                        <div class="step-td-wrapper step-passed">
                                            <div class="step-td-date ml-2">
                                                {{ interviewStage.description }}
                                            </div>
                                            <div class="step-td"
                                                 :class="{'ml-2':!showPassFailIcon(interviewStage)}">
                                                <span v-if="showPassFailIcon(interviewStage)" class="step-icon-holder">
                                                    <img :src="statusImage(interviewStage.status)" alt="">
                                                </span>
                                                <span :class="{
                                                          'text-red text-bold': isRed(interviewStage) &&
                                                              isBold(interviewStage),
                                                          'text-red': isRed(interviewStage) &&
                                                              !isBold(interviewStage) && (!showPassFailIcon(interviewStage)) }"
                                                      style="overflow-y:hidden;white-space: nowrap">{{ interviewStage.situation_text }}</span>
                                            </div>

                                            <div v-if="isDateVisible(interviewStage) " class="step-td-date ml-2">
                                                {{ getFromObject(interviewStage, "date.formatted") }}
                                            </div>
                                        </div>

                                        <div v-if="interviewIndex !== (interviewStages.length - 1)"
                                             class="stage-divider">
                                            <img src="/agent/img/icons/return.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div v-if="isDateVisible(interviewStages[interviewStages.length - 1])" class="step-td-date">
                        {{ getFromObject(interviewStages[interviewStages.length - 1], "date.formatted") }}
                    </div>
                </div>
            </template>
        </td>

        <td class="candidate-commitment-row">
            <div v-if="showDash('commitment')" class="step-null">
                <img src="/agent/img/icons/dash.png" class="dash-icon" alt="dash" style="width:10px">
            </div>
            <template v-else>
                <div v-if="commitmentStage" class="step-td-wrapper">
                    <div class="step-td nowrap">
                        <span v-if="showPassFailIcon(commitmentStage)" class="step-icon-holder">
                            <img :src="statusImage(commitmentStage.status)" alt="">
                        </span>
                        <span :class="{ 'text-red text-bold': isRed(commitmentStage) &&
                                            isBold(commitmentStage),
                                        'text-red': isRed(commitmentStage) &&
                                            !isBold(commitmentStage)}">
                            {{ commitmentStage.situation_text }}
                        </span>
                    </div>

                    <div v-if="isDateVisible(commitmentStage)" class="step-td-date">
                        {{ getFromObject(commitmentStage, "date.formatted") }}
                    </div>
                </div>
            </template>
        </td>

        <td class="candidate-joined-row">
            <div v-if="showDash('joined')" class="step-null">
                <img src="/agent/img/icons/dash.png" class="dash-icon" alt="dash" style="width:10px">
            </div>
            <template v-else>
                <div v-if="joinedStage || commitmentStage" class="step-td-wrapper">
                    <div class="step-td nowrap">
                        <span v-if="joinedStage && showPassFailIcon(joinedStage)" class="step-icon-holder">
                            <img :src="statusImage(joinedStage.status)" alt="">
                        </span>
                        <span v-if="joinedStage"
                              :class="{ 'text-red text-bold': isRed(joinedStage) &&
                                            isBold(joinedStage),
                                        'text-red': isRed(joinedStage) &&
                                            !isBold(joinedStage)}">
                            {{ joinedStage.situation_text }}
                        </span>
                        <span v-if="showHiringDateMessage(commitmentStage) && (!joinedStage && commitmentStage.status )"
                              class="text-red text-bold">
                            日程調整中
                        </span>
                    </div>

                    <div v-if="joinedStage" class="step-td-date">
                        {{ getFromObject(joinedStage, "date.formatted") }}
                    </div>
                </div>
            </template>
        </td>
    </tr>
</template>

<script type="text/ecmascript-6">
    export default {
        name: "CandidateRow",

        props: {
            candidate: { type: Object, required: true },
        },

        data: () => ({
            showInterviewStages: false,
        }),

        computed: {
            jdType: function() {
                const { jd_type: type } = this.candidate

                if (type === "jobins") {
                    return {
                        text: "JoBins",
                        color: "#A6C3D8",
                    }
                }

                if (type === "alliance") {
                    return {
                        text: "アライアンス",
                        color: "#AAD8A6",
                    }
                }

                return {
                    text: "JoBinsサポート",
                    color: "#F7E406",
                }
            },
            documentSelection: function() {
                const { document } = this.candidate.stages

                if (!document) {
                    return null
                }

                return document
            },
            commitmentStage: function() {
                const { commitment } = this.candidate.stages

                if (!commitment) {
                    return null
                }
                if (this.isRejectedAfterAcceptingOffer(this.candidate.stages.allStages) ||
                    this.isDeclinedAfterAcceptingOffer(this.candidate.stages.allStages)) {
                    commitment.status = true
                }

                return commitment
            },
            joinedStage: function() {
                const { joined } = this.candidate.stages
                const rejectedAfterAccepting = this.isRejectedAfterAcceptingOffer(this.candidate.stages.allStages)
                const declinedAfterAccepting = this.isDeclinedAfterAcceptingOffer(this.candidate.stages.allStages)
                if (!joined) {
                    if (rejectedAfterAccepting || declinedAfterAccepting) {
                        return rejectedAfterAccepting ?? declinedAfterAccepting
                    } else { return null }
                }
                if (rejectedAfterAccepting || declinedAfterAccepting) {
                    const finalObject = rejectedAfterAccepting ?? declinedAfterAccepting
                    return {
                        ...joined,
                        situation_text: finalObject.situation_text,
                        date: null,
                    }
                }
                return joined
            },
            interviewStages: function() {
                return Object.entries(this.candidate.stages).reduce((stages, [key, value]) => {
                    if (["aptitude", "interview.first", "interview.second", "interview.third"].includes(key)) {
                        return [...stages, value]
                    }

                    return stages
                }, []).sort((a, b) => b.order - a.order)
            },

        },

        methods: {
            isRejectedAfterAcceptingOffer(allStages) {
                // this means the candidate has already accepted the job offer
                // since we need to show a text on the joined section, we are going to
                //  fake an object with the required values for this case.
                const selectionIds = allStages.map(a => a.selection_id)
                if ((selectionIds.includes(17) || selectionIds.includes(18)) && selectionIds.includes(22)) {
                    return {
                        status: false,
                        situation_color: "Black",
                        situation_text: allStages.find(a => a.selection_id === 22).situation_text, // getting declined stage and it's selection text here
                        date: null,
                    }
                } else {
                    return null
                }
            },
            isDeclinedAfterAcceptingOffer(allStages) {
                // this means the candidate has already accepted the job offer
                // since we need to show a text on the joined section, we are going to
                // fake an object with the required values for this case.
                const selectionIds = allStages.map(a => a.selection_id)
                if ((selectionIds.includes(17) || selectionIds.includes(18)) && selectionIds.includes(21)) {
                    return {
                        status: false,
                        situation_color: "Black",
                        situation_text: allStages.find(a => a.selection_id === 21).situation_text, // getting declined stage and it's selection text here
                        date: null,
                    }
                } else {
                    return null
                }
            },
            showAptitudeDate: function(stage) {
                return !(stage.selection_id === 4)
            },
            isRed(stage) {
                const currentSelection = this.candidate.selection_id
                return (stage.situation_color === "R" || stage.situation_color === "RB") &&
                    (stage.selection_id == currentSelection && stage.selection_id != 16)
            },

            isBold(stage) {
                const currentSelection = this.candidate.selection_id
                return stage.situation_color === "RB" && (stage.selection_id == currentSelection)
            },
            showPassFailIcon(status) {
                return this.candidate.selection_id !== status.selection_id ||
                    (status.selection_id === 17 ||
                        (status.selection_id === 20 && this.candidate.selection_id === 25) ||
                        (status.selection_id === 20 && this.candidate.selection_id === 23) ||
                        (status.selection_id === 20 && this.candidate.selection_id === 24) ||
                        status.selection_id === 25 || // show pass if the stage is currently 17
                        status.selection_id === 24) // show pass if the stage is currently 17
            },
            toggleInterviewStages() {
                this.showInterviewStages = !this.showInterviewStages
            },

            showDetail(candidateId) {
                window.open("/agent/redirect-selection/" + candidateId, "_blank")
            },

            isDateVisible(stage) {
                const currentSelection = this.candidate.selection_id
                return !([4, 6, 9, 16, 12].includes(stage.selection_id) && stage.selection_id == currentSelection)
            },

            statusImage(status) {
                if (status) {
                    return "/agent/img/icons/round.png"
                }

                return "/agent/img/icons/cross.png"
            },

            showHiringDateMessage(stage) {
                return stage.selection_id == 17
            },
            showDash(stage) {
                if (!this.documentSelection && stage === "document") {
                    return this.interviewStages.length > 0 || this.commitmentStage || this.joinedStage
                }

                if (this.interviewStages.length === 0 && stage === "interview") {
                    return this.commitmentStage || this.joinedStage
                }

                if (!this.commitmentStage && stage === "commitment") {
                    return this.joinedStage
                }

                return false
            },
            sanitize(event) {
                event.preventDefault()
                const html = this.$sanitize(event.clipboardData.getData("text/html"))
                document.execCommand("insertHTML", false, (html))
            },
            openMemoEdit() {
                this.$emit("memoEditRequest", this.candidate.candidate_id, this.candidate.agent_memo)
            },

        },
    }
</script>

<style lang="scss">

</style>
