<template>
    <div class="listing-navigation">
        <nav v-if="total_pages > 1" class="pagination-custom">
        <ul class="pagination">
            <li class="page-item"
                :class="{'disabled': isInFirstPage}">
                <button type="button"
                        class="page-link"
                        :class="{'cursor-not-allowed': isInFirstPage}"
                        :disabled="isInFirstPage"
                        @click="gotoFirst">
                    &laquo;
                </button>
            </li>

            <li class="page-item"
                :class="{'disabled': isInFirstPage}">
                <button type="button"
                        class="page-link"
                        :class="{'cursor-not-allowed': isInFirstPage}"
                        :disabled="isInFirstPage"
                        @click="gotoPrevious">
                    &lsaquo;
                </button>
            </li>

            <template v-if="showDots('left')">
                <li class="page-item"
                    :class="{'active': isInFirstPage}">
                    <button type="button"
                            class="page-link"
                            :class="{'cursor-not-allowed': isInFirstPage}"
                            :disabled="isInFirstPage"
                            @click="gotoPageNumber(1)">
                        1
                    </button>
                </li>

                <li class="page-item">
                    <button type="button"
                            class="page-link cursor-not-allowed"
                            :disabled="true">
                        ...
                    </button>
                </li>
            </template>

            <li v-for="(page, index) in pages"
                :key="`pages_${index}`"
                class="page-item"
                :class="{'active': page === currentPage}">
                <button type="button"
                        class="page-link"
                        :class="{'cursor-not-allowed': page === currentPage}"
                        :disabled="page === currentPage"
                        @click="gotoPageNumber(page)">
                    {{ page }}
                </button>
            </li>

            <template v-if="showDots('right')">
                <li class="page-item">
                    <button type="button"
                            class="page-link cursor-not-allowed"
                            :disabled="true">
                        ...
                    </button>
                </li>

                <li class="page-item"
                    :class="{'active': isInLastPage}">
                    <button type="button"
                            class="page-link"
                            :class="{'cursor-not-allowed': isInLastPage}"
                            :disabled="isInLastPage"
                            @click="gotoPageNumber(total_pages)">
                        {{ total_pages }}
                    </button>
                </li>
            </template>

            <li class="page-item"
                :class="{'disabled': isInLastPage}">
                <button type="button"
                        class="page-link"
                        :class="{'cursor-not-allowed': isInLastPage}"
                        :disabled="isInLastPage"
                        @click="gotoNext">
                    &rsaquo;
                </button>
            </li>

            <li class="page-item"
                :class="{'disabled': isInLastPage}">
                <button type="button"
                        class="page-link"
                        :class="{'cursor-not-allowed': isInLastPage}"
                        :disabled="isInLastPage"
                        @click="gotoLast">
                    &raquo;
                </button>
            </li>
        </ul>
    </nav>
    </div>
</template>


<script type="text/ecmascript-6">
    export default {
        name: "Pagination",

        props: {
            currentPage: { type: Number, required: true, default: 1 },
            pagination: { type: Object, required: true, default: () => ({}) },
            maxVisibleButtons: { type: Number, required: false, default: 5 },
        },

        data: () => ({
            per_page: 10,
            total: 0,
            total_pages: 0,
        }),

        watch: {
            pagination: {
                handler(pagination) {
                    this.per_page = pagination.per_page || 10
                    this.total = pagination.total || 0
                    this.total_pages = pagination.total_pages || 0
                },
                immediate: true,
            },
        },

        computed: {
            isInFirstPage() {
                return this.currentPage === 1
            },

            isInLastPage() {
                return this.currentPage === this.total_pages
            },

            pages() {
                const range = []

                for (let i = this.startPage; i <= this.endPage; i += 1) {
                    if (i > 0) {
                        range.push(i)
                    }
                }

                return range
            },

            startPage() {
                if (this.currentPage === 1) {
                    return 1
                }

                if (this.currentPage === this.total_pages) {
                    return this.total_pages - this.maxVisibleButtons + 1
                }

                return this.currentPage - 1
            },

            endPage() {
                return Math.min(this.startPage + this.maxVisibleButtons - 1, this.total_pages)
            },
        },

        methods: {
            showDots(position = "left") {
                const number = position === "left" ? 1 : this.total_pages;
                const nextNumber = position === "left" ? 2 : this.total_pages - 1;
                return !this.pages.includes(number) || !this.pages.includes(nextNumber)
            },

            gotoFirst() {
                this.gotoPageNumber(1)
            },

            gotoLast() {
                this.gotoPageNumber(this.total_pages)
            },

            gotoPrevious() {
                this.gotoPageNumber(this.currentPage - 1)
            },

            gotoNext() {
                this.gotoPageNumber(this.currentPage + 1)
            },

            gotoPageNumber(pageNumber) {
                this.$emit("updated", pageNumber <= 0 ? 1 : pageNumber)
            },
        },
    }
</script>


<style lang="scss">
   .listing-navigation{
       min-height: 45px;
   }
</style>
