<template>
    <div class="section-search-bar mt-5">
        <div class="row justify-content-md-center">
            <div class="col-lg-12">
                <form @submit.prevent="handleOnSubmit">
                    <div class="input-group mb-3">
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input v-model="searchText"
                               type="text"
                               class="form-control mr-2"
                               placeholder="フリーワード検索（氏名、求人名、採用企業名、求人提供エージェント名から検索できます）">

                        <button class="btn btn-secondary w-150p" type="submit">
                            検索
                        </button>
                      <button class="btn btn-primary w-150p ml-2" type="button" @click="reset">条件をリセット</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        name: "SearchBar",

        props: {
            value: { type: [String, null], required: true },
        },

        data: () => ({
            searchText: "",
        }),

        watch: {
            value: {
                handler(value) {
                    this.searchText = value
                },
                immediate: true,
            },
        },

        methods: {
            handleOnSubmit() {
                this.$emit("search", this.searchText)
            },
            reset()
            {
                window.location = "/agent/selection"
            }
        },
    }
</script>
