<template>
    <div class="container-fluid h-screen-fit jdlist-container">
        <div class="row">
            <div class="col-12">
                <h1 class="jobsearch-header">求人検索</h1>
            </div>
            <job-search :query="query" :jobs="jobs" :pagination="pagination" :regions="regions" :jobTypes="jobtypes" :characteristics="characteristics" @search="onSearch" @clearSearch="onClearSearch" @pageChange="onPageChanged"></job-search>

            <div class="col-12 col-lg-3">
                <div class="search-criteria">
                    <div class="criteria-header">
                        <div class="d-flex">
                            <div class="ct-label">
                                <h3>現在の検索条件</h3>

                            </div>

                            <button class="btn btn-blacktint ml-auto">
                                {{ pagination.total }} 件
                            </button>
                        </div>
                        <template v-if="!(query.searchText || query.prefectureName || query.subJobTypeName
                        || query.characteristicName || query.age || query.experience
                        || query.minYearSalary || query.maxYearSalary || query.gender.length >0 || query.nationality.length >0)">
                            なし
                        </template>

                    </div>
                    <div class="criteria-body">
                        <ul class="criteria-list">
                            <li v-if="query.searchText">
                                <p>
                                    <span class="d-block">フリーワード</span>
                                    <span class="d-block">{{ query.searchText }}</span>
                                </p>
                            </li>
                            <li v-if="query.prefectureName">
                                <p>
                                    <span class="d-block">勤務地</span>
                                    <span class="d-block">{{ query.prefectureName }}</span>
                                </p>
                            </li>
                            <li v-if="query.subJobTypeName">
                                <p>
                                    <span class="d-block">職種</span>
                                    <span class="d-block">{{ query.subJobTypeName }}</span>

                                </p>
                            </li>
                            <li v-if="query.characteristicName">
                                <p>
                                    <span class="d-block">特徴</span>
                                    <span class="d-block">{{ query.characteristicName }}</span>

                                </p>
                            </li>
                            <li v-if="query.age">
                                <p>
                                    <span class="d-block">年齢</span>
                                    <span class="d-block">{{ query.age }}歳</span>

                                </p>
                            </li>
                            <li v-if="query.experience">
                                <p>
                                    <span class="d-block">社で応募可能</span>
                                    <span class="d-block">{{ query.experience }}</span>

                                </p>
                            </li>
                            <li v-if="query.minYearSalary">
                                <p>
                                    <span class="d-block">最低年収</span>
                                    <span class="d-block">{{ query.minYearSalary }}万円</span>

                                </p>
                            </li>
                            <li v-if="query.maxYearSalary">
                                <p>
                                    <span class="d-block">最高年収</span>
                                    <span class="d-block">{{ query.maxYearSalary }}万円</span>

                                </p>
                            </li>
                            <li v-if="query.gender.length > 0">
                                <p>
                                    <span class="d-block">性別</span>
                                    <span class="d-block">
                                        <template v-for="gen in query.gender">
                                            <template v-if="gen === 'NA'">性別不問</template>
                                            <template v-if="gen === 'Female'">女性のみ</template>
                                            <template v-if="gen === 'Male'">男性のみ</template>
                                        </template>
                                    </span>

                                </p>
                            </li>
                            <li v-if="query.nationality.length > 0">
                                <p>
                                    <span class="d-block">国籍</span>
                                    <span class="d-block">
                                        <template v-for="nat in query.nationality">
                                            <template v-if="nat === 'JPA'">日本国籍の方を想定</template>
                                            <template v-if="nat === 'JP'">日本国籍の方のみ</template>
                                            <template v-if="nat === 'NA'">国籍不問</template>
                                        </template>
                                    </span>

                                </p>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>

    </div>
</template>


<script type="text/ecmascript-6">
    import JobSearch from "./partials/JobSearch";
    import AtsJobListService from "../../services/AtsJobListService";
    import {setQueryStringObject} from "../../utils";
    export default {
        name: "AtsJobList",
        components: {JobSearch},

        props: {
            filter: { type: Object, required: true },
            regions: { type: Array, required: true },
            jobtypes: { type: Array, required: true },
            characteristics: { type: Array, required: true },
        },

        data: () => ({
            query: {
                page: 1,
                searchText: "",
                experience: "",
                gender: [],
                nationality: [],
                age: "",
                minYearSalary: "",
                maxYearSalary: "",
                prefecture: [],
                prefectureName: '',
                subJobTypeList: [],
                subJobTypeName: '',
                characteristic: [],
                characteristicName: '',
            },

            jobs: [],
            pagination: {
                total: 0,
                per_page: 0,
                total_pages: 0,
            },
        }),
        watch: {
            filter: {
                handler(query) {
                    if (query) {
                        const defaultQuery = this.query
                        this.query = { ...defaultQuery, ...query }
                    }
                },
                immediate: true,
            },

            query: {
                handler() {
                    this.fetchAtsJobList()
                },
                deep: true,
            },
        },

        methods: {
            onPageChanged(pageNumber) {
                 this.query.page = pageNumber
            },
            onSearch(search) {
                this.query = {...search, page: 1}
            },
            onClearSearch() {
                window.location.href='/ats/job';
            },
            async fetchAtsJobList() {
                setQueryStringObject(this.query)

                const { data, pagination } = await AtsJobListService.getJobList(this.query)

                this.jobs = data
                this.pagination = pagination
            },
        },
    }
</script>

