.video-button {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  border-radius: 100%;
  z-index: 3;
  background: #ffffff;
  height: 60px;
  width: 60px;
  font-size: 30px;
  padding: 9px 0 0 5px;

  &,
  &:focus,
  &:hover{
    color: $color-primary;

  }
}