.btn {
  margin: 0;
  border: 0;

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    //border-radius: 10rem;
    transition: all .2s;
    position: relative;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }

  &-primary {
    background-color: $color-primary !important;
    color: $color-black !important;
  }
}

.button-dark {
  //padding: 15px 20px;
  margin-right: 20px;
}

.button-bordered {
  border: 2px solid !important;
  background: transparent !important;
  color: white !important;
  //padding: 15px 20px;

  &:hover {
    background: #fed008 !important;
    border: none !important;
    color: #000 !important;
  }
}


button {
  &:active,
  &:focus {
    outline: none;
  }
}

.btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: darken($color-primary, 10%) !important;
}


/* Common button styles */
.button {
  min-width: 150px;
  //max-width: 250px;
  //display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.button:focus {
  outline: none;
}

.button > span {
  vertical-align: middle;
}


/* Sizes */
.button--size-s {
  font-size: 14px;
}

.button--size-m {
  font-size: 16px;
}

.button--size-l {
  font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button--text-thin {
  font-weight: 300;
}

.button--text-medium {
  font-weight: 500;
}

.button--text-thick {
  font-weight: 600;
}

.button--round-s {
  border-radius: 5px;
}

.button--round-m {
  border-radius: 15px;
}

.button--round-l {
  border-radius: 40px;
}

/* Borders */
.button--border-thin {
  border: 1px solid;
}

.button--border-medium {
  border: 2px solid;
}

.button--border-thick {
  border: 3px solid;
}

/* Individual button styles */


/* Antiman */
.button--antiman {
  background: none;
  border: none;
  //height: 60px;
  padding: 17px 40px 17px 40px;

}

.button--antiman.button--inverted,
.button--antiman.button--inverted-alt {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--antiman > span {
  padding-left: 0.35em;
  font-size: 23px;
}

.button--antiman::before,
.button--antiman::after {
  content: '';
  z-index: -1;
  border-radius: inherit;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--antiman::before {
  border: 2px solid #37474f;
  opacity: 0;
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
}

.button--antiman.button--border-thin::before {
  border-width: 1px;
}

.button--antiman.button--border-medium::before {
  border-width: 2px;
}

.button--antiman.button--border-thick::before {
  border-width: 3px;
}

.button--antiman.button--inverted::before {
  border-color: #7986cb;
}

.button--antiman.button--inverted-alt::before {
  border-color: #fed008;
}

.button--antiman::after {
  background: #fff;
}

.button--antiman.button--inverted::after {
  background: #7986cb;
}

.button--antiman.button--inverted-alt::after {
  background: #fed008;
}

.button--antiman.button--inverted:hover {
  color: #7986cb;
}

.button--antiman.button--inverted-alt:hover {
  color: #fed008;
}

.button--antiman:hover::before {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.button--antiman:hover::after {
  opacity: 0;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
}

/* Shikoba */
.button.button--shikoba {
  padding: 15px 40px 15px 60px;
  overflow: hidden;
  background: transparent;
  color: #ffffff;
  border-color: #ffffff;
  -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.button--shikoba.button--inverted {
  color: #fff;
  background: #7986cb;
}

.button--shikoba > span {
  display: inline-block;
  font-size: 23px;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--shikoba .button__icon {
  position: absolute;
  left: 32px;
  top: 22px;
  font-size: 23px;
  -webkit-transform: translate3d(-40px, 2.5em, 0);
  transform: translate3d(-40px, 2.5em, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--shikoba:hover .button__icon,
.button--shikoba:hover > span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.button--shikoba:hover {
  background: #fed008;
  border-color: #fed008;
  color: #000;
}