
.feature-icon img {
  height: 35px;
  margin: 0 0 10px 0;
}

.features-content {
  overflow: hidden;
  min-height: 170px;
  padding: 0 0px 0 0;
}

.features-content p, .process-content p {
  line-height: 20px;
  color: #6e6e6e;
  font-size: 14px;
  font-weight: 500;
}