.form {
  .md-form input[type=text]:focus:not([readonly]),
  .md-form input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid $color-primary;
    box-shadow: 0 1px 0 0 $color-primary-light;
  }
  .md-form input[type=text] + label:after, .md-form input[type=password] + label:after, .md-form input[type=email] + label:after, .md-form input[type=url] + label:after, .md-form input[type=time] + label:after, .md-form input[type=date] + label:after, .md-form input[type=datetime-local] + label:after, .md-form input[type=tel] + label:after, .md-form input[type=number] + label:after, .md-form input[type=search-md] + label:after, .md-form input[type=search] + label:after, .md-form textarea.md-textarea + label:after{
    top: 50px;
  }

  .md-form input[type=text]:focus:not([readonly]) + label,
  .md-form input[type=password]:focus:not([readonly]) + label {
    color: $color-primary;
  }
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    display: block;
    transition: all .3s;

    @include respond(tab-port) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

}