
// priceTable
#pricing {
  width: 100%;
 
  background-size: cover;

  #pricing-table-wrapper {
    flex: 1 0 auto;
     
 
    .dot-ico{
      color: $color-green;
    }
    #pricing-table {
      width: 80%;
      min-width: 800px;
     
      background: #ffffff;
      text-align: center; margin: 0 auto;
     
      .jobins-light-grey {
        background: #fcfcfc;
    }
    .jobins-dark-grey{
      background: #44546b; color: #ffffff;
    }
      .pricing-title {
        font-size: 17px;
        margin-top: 16px;
      }

      .pricing-subtitle {
        margin: 16px 0;
        color: rgba(0, 0, 0, 0.8);
        font-size: 15px;  font-weight: 400;
      }
      .pricing-header {
        font-size: 18px;
        color: #000000;
        font-weight: 400;
        padding: 0 0 20px 0;
    }

      .pricing-table {
        margin: 0 auto;
        
        mat-icon.icon.icon-circle.green-fg.mat-icon.material-icons{
          font-size: 13px;
          line-height: 2;
        }
        th{
          padding: 20px 0 20px 0;
          font-size: 14px;
font-weight: 500;
img {
  width: 30px;
  margin: 0 10px 0 0;
}
         }
        th, td {
          text-align: center;
          border: 1px solid #ECECEC;
          width: 25%; 
         
            font-size: 14px;
            font-weight: 400;
            .tbl-data {
        
              width: 50%;
              float: left;
              border-right: 1px solid #ececec;
              padding: 15px 0 15px 0;
          }
      
          .btn-round.btn-sm {
            background: $color-primary;
            color: #000;
            border-radius: 10px 10px 10px 10px;
            font-size: 11px;
            font-weight: 500;
            padding: 3px 10px 3px 10px;
        }
        }
        th:first-child {
          border: none !important;
        }
        .title {
          font-size: 14px;
          padding: 13px 0 13px 15px;
          text-align: left;
          font-weight: 500;
          color: #2d3a4e;
        }
        
     
        .detail {
          margin-top: 8px;
          font-size: 12px;
          color: rgba(0, 0, 0, 0.54);
          max-width: 360px;
        }
        .secondary-pricing-text {
          th, td {
            border: none;
          }
        }
      }


      .tbl-content-wrap {
        margin: 0 auto;
        width: 77%;
        text-align: left;
    }
      .tbl-content-box {
        padding: 20px 5px 15px 20px;  
    }
    .tbl-content-wrap {
      text-align: left;
  }
  .data-eg-tbl img {
 
    max-width: 97%;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    margin: 10px 0 20px 0;
}
  .tab-title {
    background: $color-primary;
    display: inline-block;
    font-size: 11px;
    font-weight: 500;
    border-radius: 10px 10px 0 0;
    margin: 20px 0 0px 0;
    padding: 10px 15px 5px 15px;
}
      .pricing-table-footer {
        margin: 32px 0 96px 0;

        tr {

          td {
            text-align: right;
            font-size: 17px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.54);
            border-bottom: none;
            padding: 8px 8px;

            &:first-child {
              text-align: left;
            }
          }

          &.discount {

            td {
              padding-bottom: 32px;
            }
          }

          &.total {

            td {
              padding: 32px 8px;
              border-top: 1px solid rgba(0, 0, 0, 0.12);
              font-size: 35px;
              font-weight: 300;
              color: rgba(0, 0, 0, 1);
            }
          }
        }
      }
    }
  }




  @media (max-width: 768px) {
     
    #pricing-table-wrapper #pricing-table .pricing-table {
      margin: 0;
  }
  #pricing-table-wrapper #pricing-table {
    width: 100%;
    min-width: 100%;
 
}
 
#pricing-table-wrapper #pricing-table .tbl-content-wrap {
  margin: 0;
  width: 100%;
  text-align: left;
}
 
#pricing-table-wrapper #pricing-table .tbl-content-box {
  padding: 10px 5px 0px 10px;
}
 #pricing-table-wrapper #pricing-table .pricing-table .title {
  font-size: 10px;
  padding: 10px 0 10px 5px;
 
}
 #pricing-table-wrapper #pricing-table .pricing-table td {
  font-size: 10px;
 
}
#pricing-table-wrapper #pricing-table .pricing-table th img {
  width: 24px;
  margin: 0 auto;
  display: block;
}



  } 

  
}
 