.landing-page .carousel-caption h1 {
    font-weight: normal;
    font-size: 31px;
    line-height: 1.3em;
}

.navbar-brand img {
    height: 41px;
}

.landing-page .navbar-default .navbar-brand:hover, .landing-page .navbar-default .navbar-brand :focus, .landing-page .navbar-default .navbar-brand {
    background: none;
}

.navbar-brand:hover {
    background: none;
}

.btn-jobins {
    background: #f36f21 !important;
}

.landing-page .navbar-default .navbar-nav > .active > a, .landing-page .navbar-default .navbar-nav > .active > a:hover {
    border-top: 6px solid #f36f21;

}

.landing-page .navbar-default .nav li a:hover, .landing-page .navbar-default .nav li a:focus {
    color: #ff9812 !important;
}

.landing-page span.navy {
    color: #f36f21;
}

.landing-page .navy-line.top-navy {
    width: 60px;
    height: 1px;
    margin: 100px auto 0;
    border-bottom: 2px solid #f36f21;
}

.landing-page .navy-line {
    border-bottom: 2px solid #f36f21;
}

.feat-img img {
    margin-top: 40px;
}

.landing-page .testimonials {
    background-color: #bd6c1e;
}

/*testing */

.video-section {
    height: 500px;
    overflow: hidden;
}

.relative {
    position: relative;
}

.video-section {
    height: 500px;
    overflow: hidden;
}

.background-video #bg-video {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: -9;
}

.video-button {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    text-align: center;
    font-size: 60px;
    color: #ffffff;
    border-radius: 100%;
    line-height: 2;
    z-index: 3
}

.video-button:focus,
.video-button:hover {
    color: #ffffff;
}

.waves-block {
    position: absolute;
    width: 384px;
    width: 24rem;
    height: 384px;
    height: 24rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.waves-block .waves {
    position: absolute;
    width: 384px;
    width: 24rem;
    height: 384px;
    height: 24rem;
    background: rgba(255, 255, 255, 0.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    border-radius: 320px;
    background-clip: padding-box;
    -webkit-animation: waves 3s ease-in-out infinite;
    animation: waves 3s ease-in-out infinite;
}

.waves-block .wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.waves-block .wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waves-block .wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

@-webkit-keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    100% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    100% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

.section-bg:after {
    background: #ff7e5f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    position: absolute;
    top: 0;
    width: 100%;
}

.video-section {
    height: 290px;
    overflow: hidden;
}

.tt {
    margin-top: 60px;
}

.modal-body {
    padding: 0;
}

.modal-dialog {

    margin: 15% auto 0;
}


.carousel-control {
    display: none;
}

.carousel-indicators {
    display: none;
}

.navbar-inner li > a {
    color: #6b6767 !important;
}

.navy-section.testimonials {
    margin-top: 60px !important;
}



.landing-page h1 {

    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}


label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
}


h3.m-t-none.m-b.text-center {
    font-size: 27px;
    font-weight: 400;
}
.m-t-none.m-b.reg-page.text-center {
    font-size: 14px;
}

.reg-head {
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    width: 100%;
}



