body {
    font-family: "Rounded Mplus 1c" !important;

}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.ibox-title {
    border-color: #fff !important;
}
.modalContainer {
    margin: 16% 0 0;
    background: #ffffff none repeat scroll 0 0;
}
.shadowbox {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
.modalHeader {
    border-bottom: 1px solid #dbdbdb;
    margin: 0 0 10px;
    padding: 3px 20px 10px;
}
.modalBody {
    padding: 0 20px;
}
.panelBody {
    border-bottom: 1px solid #E7E7E7;
    padding: 10px 0 10px 0;
}
.modalFooter {
    background: #404040 none repeat scroll 0 0;
    padding: 20px 0 20px 20px;
}
.fa.fa-envelope-o.email-ico {
    padding-left: 42px;
    font-size: 20px;
}



.soon {

    position: absolute;
    margin: 22px 0 0px -41px;

}



section.mainContent {
    padding: 105px 0 0 0;
    min-height: 681px;
    background-color: #f7f7f7 !important;
}

.required-symbol
{
    color: red;
    font-size: 18px;
    font-style: normal;

}

.btnDefault
{
    /*margin: 0 0 0 171px;*/
    color: #fff;
    background-color: #f36f21 !important;
    border-color: #f36f21 !important;
    margin: 0 0 0 116px;
}

.document-form {

}
.document-form .form-group {
    line-height: 4;
}
.btnBackHome
{
    margin: 0px !important;
}


.footerSocial ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.footerSocial ul li {
    display: inline-block;
    padding: 0 5px;
}
footer {
    background: #313131 none repeat scroll 0 0;
    color: #c5c5c5;
    padding: 40px 0;
}
.footerSocial {
    padding: 10px 0;
}
.footerSocial li a {
    border: 1px solid #f36f21;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    padding: 5px 0 0 0;
    width: 32px;
    height: 32px;
}
.footerSocial li a:hover {
    background: #f36f21 none repeat scroll 0 0;
    border: 1px solid #f36f21;
    color: #fff;
}
.footerAbout img {
    max-width: 100px;
}
.footerCopyright a {
    color: #f36f21;
    text-decoration: none;
    transition: all 300ms ease 0s;
}

/** new added **/

.services {
    background: rgba(49, 49, 49, 0.13) none repeat scroll 0 0;
}
.btn_register, .btn_register:hover {
    background: #f36f21;
    border: 1px solid #f36f21;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 42px;
}

.qa-circle {
    border: 3px solid #f36f21;
    border-radius: 50%;
    padding: 2px 7px 4px 7px;
    font-size: 13px;
    font-weight: bold;
    color: #f36f21;
    margin-right: 13px;
}

.qa-circleQ {
    border: 3px solid #f36f21;
    border-radius: 50%;
    padding: 3px 9px 4px 9px;
    font-size: 13px;
    font-weight: bold;
    color: #f36f21;
    margin-right: 13px;
}


.qa-steps {
    list-style: none;
    line-height: 49px;
    text-align: left;
    padding-bottom: 14px;

}

.qa-question
{
    list-style: none;
    line-height: 41px;
    text-align: left;

}
.services{
    padding-top: 0px !important;
}
.row.proc-steps {
    padding-top: 30px;
}


.clone img, .lslide img{
    height: 70px;
}

section#testimonials {
    background: #fff;
}

/* new added class for interview*/
p.inShortDetail {
    font-size: 12px !important;
    padding: 18px 10px;
}
.btnMore
{
    font-size: 16px;
}
/*ul.nav.navbar-nav.navbar-right.navbar-inner a {
    color: #fff !important;
}*/
/*section.gray-section.interview-list-section {
    padding-bottom: 290px;
}*/
.blog-img-cmt {
    width: 83px;
    display: inline-block;
    float: left;
    background: #ffffff;
    height: 81px;
    border-radius: 69px;
    padding: 6px 6px 0 6px;
    overflow: hidden;
    border: 2px solid #f5f5f5;
    margin: 5px 20px 0 15px;
}
.pagination li.active span {
    background: #2b98ff !important;
    color: #fff !important;
}
.job-desc {
    overflow: hidden;
    border-left: 1px solid #efefef;
    padding: 16px 0 0px 15px;
    min-height: 105px;
}

img.img-responsive.img-circle.testimonial_img {
    width: 60px;
    height: 60px !important;
}

.QA p {
    font-size: 15px !important;
    color: #666666 !important;
    line-height: 25px;
}
li.sliderFText {
    font-size: 12px;
}
.QA img.img-circle.img-responsive {
    width: 75px;
}
.sliderLTitle
{
    padding-top: 13px;
}
.blog-content-cmt h3 {
    font-size: 16px;
}
.blog-body-content p {
    font-size: 14px !important;
}
.blog-content-cmt p {
    font-size: 14px !important;
}
.blog-section-cmt.QA p {
    font-size: 14px !important;
}
.backBtn {
    margin: 18px 0 !important;
}
.landing-page .navbar-scroll.navbar-default .nav li a {
    color: #676a6c !important;
}
.interview-list-section {
    padding: 40px 0;
}
.video-section {
    height: 290px;
}
.btnPartner {
    margin: 46px 0 49px 0;
}
.title-box-int {
    padding: 7px 0 0px 0;
}

.in-listBox {
      padding: 14px 0 10px 0;
  }

.alertSection .alert-danger ul {
    list-style: none;
}
.grecaptcha-badge {
    display: none !important;
}