.ibox-title {
    border-color: #fff !important;
}
.modalContainer {
    margin: 16% 0 0;
    background: #ffffff none repeat scroll 0 0;
}
.shadowbox {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
.modalHeader {
    border-bottom: 1px solid #dbdbdb;
    margin: 0 0 10px;
    padding: 3px 20px 10px;
}
.modalBody {
    padding: 0 20px;
}
.panelBody {
    border-bottom: 1px solid #E7E7E7;
    padding: 10px 0 10px 0;
}
.modalFooter {
    background: #404040 none repeat scroll 0 0;
    padding: 20px 0 20px 20px;
}
.fa.fa-envelope-o.email-ico {
    padding-left: 42px;
    font-size: 20px;
}



.soon {

    position: absolute;
    margin: 22px 0 0px -41px;

}



section.mainContent {
    padding: 105px 0 0 0;
    min-height: 681px;
    background-color: #f7f7f7 !important;
}

.required-symbol
{
    color: red;
    font-size: 18px;
    font-style: normal;

}

.btnDefault
{
    /*margin: 0 0 0 171px;*/
    color: #fff;
    background-color: #f36f21 !important;
    border-color: #f36f21 !important;
    margin: 0 0 0 116px;
}

.document-form {

}
.document-form .form-group {
    line-height: 4;
}
.btnBackHome
{
    margin: 0px !important;
}

.footerSocial ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.footerSocial ul li {
    display: inline-block;
    padding: 0 5px;
}
footer {
    background: #313131 none repeat scroll 0 0;
    color: #c5c5c5;
    padding: 40px 0;
}
.footerSocial {
    padding: 10px 0;
}
.footerSocial li a {
    border: 1px solid #f36f21;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    padding: 5px 0 0 0;
    width: 32px;
    height: 32px;
}
.footerSocial li a:hover {
    background: #f36f21 none repeat scroll 0 0;
    border: 1px solid #f36f21;
    color: #fff;
}
.footerAbout img {
    max-width: 100px;
}
.footerCopyright a {
    color: #f36f21;
    text-decoration: none;
    transition: all 300ms ease 0s;
}

.qa{
    padding-top: 30px !important;
}


.qa-div {
    color: #fff;
    margin: 20px 0;
    padding: 0 157px;
    /*  text-align: center;*/
}

.qa-div h3 {
    font-size: 24px;
    font-weight: 500;
}

.qa-div p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

.video-section {
    height: auto;
    color: #514b4b;
}


.steps-navy{
    margin-top: 0 !important;
}

.col-lg-12.text-center.navy-head {
    margin-bottom: 26px;
}

.btn.btn-default.btn-steps-reg {
    background: #2b98ff;
    padding: 15px 30px;
    color: #fff;
    font-size: 24px;
    margin: 50px;
    border: 1px solid #198efc;
}


.btn.btn-default.btn-steps-reg:hover,.reg-btn-client:hover {
    background: #0b74fc;
    color: #fff;
}




.reg-btn-client{
    background: #2b98ff;
    padding: 15px 30px;
    color: #fff;
    font-size: 24px;
    margin: 10px;
    border: 1px solid #198efc;
}



a {
    text-decoration: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.qa-nav h1 {
    font-weight: 500;
}
.qa-nav {
    color: #4a4a4a;
    margin-bottom: 15px;
    font-weight: 400;
}


.navy-line.navy-line-qa {
    border-bottom: 2px solid #fff;
    margin-top: 0;
}


.carousel-caption small {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
}
.carousel-caption h1  {
    text-transform: inherit !important;
}

/*added for new qa styles*/
.panel.qa-panel.panel-default {
    margin-bottom: 0;
    border-radius: 0;
}

.qa-panel .panel-title {
    font-size: 16px;
    color: #82898d;
    padding: 5px;
    border-radius: 0;
    letter-spacing: 0.0em;
}


.panel.qa-panel.panel-default {
    background: transparent;
    border: none;
}


.qa-panel .panel-heading {
    background: transparent;
    border: none;
}



.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.qa-panel .panel-heading {
    background: transparent;
    border: none;
}


.indicate {
    background: #00a5ff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    color: #fff;

    text-align: center;
    padding-top: 8px;
    margin-right: 11px;
    font-size: 10px;
    font-weight: normal;
}


.qa-panel .panel-body {
    font-size: 16px;
    color: #5c5b5b;
    padding-left: 64px;
    margin-top: 0;
    padding-top: 9px;
    border: none !important;
}


.qa-panel .collapsed {
    color: #535151;
}

.qa-panel a{
    color: #0f84ff;
}

.qa-navy .navy-line {
    margin-top: 20px;
}
.qa-navy {
    margin-bottom: 15px;
}
.qa-panel a:hover{
    color: #0f84ff;
}
.fa.fa-plus.indicate {
    background: #78787899;
}

#about-us {
    background-image: url(../img/landing/i2.jpg);
    padding: 0 0 60px;
}

a {
    outline: 0;
}

.qa-navy p {
    color: #6b6b6b !important;
}

.comments {
    background: #fff !important;
}
.clone img, .lslide img{
    height: 60px;
}

@media (max-width: 760px) {
    .qa-div{
        padding: 0 10px;
    }
}


@media (max-width: 385px) {
    .reg-btn-client {

        font-size: 14px;
        margin: 0px;
        /*padding: 15px 30px;*/
    }
    .btn.btn-default.btn-steps-reg{
        font-size: 14px;
        margin: 20px 10px;
    }
}


/*bbeck Added css*/
.reg-btn-client {
    background: #2b98ff;

    color: #fff;

    margin: 10px;
    border: 1px solid #198efc;
}

img.img-responsive.img-circle.testimonial_img {
    width: 60px;
}
.interview-lits-item {
    background: #ffffff;
    padding: 20px 20px 0px 20px;-webkit-box-shadow:  0px 0px 10px 1px rgba(0,0,0,0.1);
    -moz-box-shadow:  0px 0px 10px 1px rgba(0,0,0,0.1);
    box-shadow:  0px 0px 10px 1px rgba(0,0,0,0.1);
    text-align: center;     border-radius: 5px;
    transition: all 0.5s ease;;
}
.interview-lits-item:hover {

    box-shadow:  0px 0px 10px 7px rgba(0,0,0,0.1);

}

.detail-pg-bg {
    background: url(../img/landing/header_one.jpg) 50% 0 no-repeat;
    padding: 100px 0 50px 0;
    color: #ffffff;
}
.interview-lits-item img {
    max-width: 100%;
    margin: 0 auto;
}

.interview-lits-item img.testimonial_img {
    width: 80px;
}

.interview-lits-item p {
    padding: 7px 0 0 0;
}
.landing-page .gray-section {
    background: #fbfbfb;

}
.row.testimonials-holder-row {
    padding: 15px 0 15px 0;
}
section#testimonialSLider {
    padding: 0 0 30px 0;
    background-image: url(../img/testimonial-slider.jpg) !important;     background-size: cover;
}
img.img-responsive.img-companyLogo {
    height: auto;
    margin-top: 0px;
    margin-bottom: 10px;
}
.logo-company-holder {
    padding: 25px 0 35px 0; text-align: center;
}
.logo-company-holder img {
    height: 50px;
    margin: 0 auto;
}
.testimonial-content-holder {
    min-height: 80px;
}
.testimonial-img-content {
    display: inline-block;
    float: left;
    overflow: hidden;
}
.testimonial-detial-content {
    overflow: hidden;
    padding: 0 0 0 15px;
}
.col-md-6.col-md-offset-2.testimonial-grid-box, .col-md-2.testimonial-grid-box {
    background: #f7f7f7;  min-height: 145px;
    padding: 15px 5px 0 15px;
}
.interview-grid-item {
    overflow: hidden;

}
.interview-grid-item img.img-responsive.img-companyLogo {
    height: 34px;
    float: right;
    padding: 0px 10px 0 0;
    margin-top: 25px;
}
section.detail-pg-section {
    padding: 10px 0 0 0;
    margin: 0px 0 0 0;
}

section.detail-pg-section .logo-holder {
    width: 70px;
    height: 70px;
    display: inline-block;
    float: left;
    background: #f5f5f5;
    text-align: center;
    margin: 10px 6px 0 0;
    border-radius: 100px;
    overflow: hidden;
    padding: 0px 0px 0 0px;
}
.detail-text-holder {
    overflow: hidden;
    padding: 6px 0 0 15px;
}
.detail-box-container {
    overflow: hidden;
    padding: 5px 0 10px 0;
    border-bottom: 1px solid #f3f3f3;
}
img.img-responsive.img-circle.user-img {
    width: 90px;
    margin: 0 auto;
}
.blog-section-container {
    margin: 60px 0 60px 0;

}
.blog-img-cmt {
    width: 60px;
    display: inline-block;
    float: left;
    background: #ffffff;
    height: 60px;
    border-radius: 69px;
    padding: 16px 6px 0 6px;
    overflow: hidden;
    border: 2px solid #f5f5f5;
    margin: 5px 20px 0 15px;
}
.blog-content-cmt {
    overflow: hidden;

}
.blog-section-cmt {
    padding: 15px 15px 10px 0;

}

.blog-section-container.text-center h1 {
    padding: 11px 0 10px 0;
}
.blog-section-container h1 {
    padding: 5px 0 10px 20px;
}

a.testimonial-link li {
    color: #757575;
    font-size: 12px !important;
}

.testimonial-content-holder p {
    font-size: 19px !important;
}
.testimonial-content-holder p {
    font-size: 14px !important;
    line-height: 20px;
}
.interview-lits-item h4  {
    font-size: 13px;
    color: #757575;
    margin: 3px 0 5px 0;
}
.testimonial-content-holder {
    min-height: 190px;
    font-family: arial;
    overflow: hidden;
    padding: 5px 0 0 0;
}
section#testimonials {
    padding: 15px 0 25px 0;
}
section#testimonialSLider h1 , .txt-white{
    color: #ffffff !important;
}
ul.lSPager.lSpg {
    padding: 15px 0 0 0 !important;
}
li.lslide {
    padding: 0 10px 0 10px;
}

.logo-ccompany-holder {
    min-height: 130px;
}
.page-header-bg {
    padding: 90px 0 60px 0;
    background-image: url(../img/header-bg.jpg);

}
.row.testimonial-grid-box {
    background: #ffffff;
    margin: 15px 0 15px 0;
    padding: 15px 0 0 5px;
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.1);
}
.testimonial-detial-content h4 {
    font-size: 16px;
    color: #2b98ff;
    margin: 5px 0 6px 0;
    text-transform: uppercase;
}
section.detail-pg-section .btn-primary {
    margin: 0 0 12px 0;
    background-color: #e8e8e8;
    border-color: #dcdcdc;
    color: #a5a5a5;
    font-size: 13px;
    padding: 10px 20px;
    font-weight: normal;
}
section.detail-pg-section .btn-primary:hover {
    margin: 0 0 12px 0;
    background-color: #2b98ff;
    border-color: #2b98ff;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px;
    font-weight: normal;
}
.blog-section-container.text-center h2 {
    font-weight: 300;
    font-size: 25px;
    padding: 0 0 5px 0;
}
.blog-header-content {
    padding: 0 0 20px 0;
}
.blog-body-content img {
    margin-bottom: 15px;
    border-radius: 30px;
}
.blog-body-content p {
    font-size: 16px !important;
    color: #7d7c7c !important;
    line-height: 25px;
}
.blog-cmt-box {
    border: 1px solid #e8e8e8;
    border-radius: 7px;
    background: #f9f9f9;
}

.blog-content-cmt h3 {
    font-size: 13px;
    font-weight: 400;
    color: #313131;
}
.blog-content-cmt p {
    font-size: 15px !important;
    color: #666666 !important;
    line-height: 25px;
}
.blog-section-cmt {
    padding: 15px 15px 10px 0;

}
.blog-content-cmt {
    overflow: hidden;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 0 10px 0;
}
.blog-section-cmt:last-child .blog-content-cmt {
    border: none;
}

.interview-list-box {
    background: #ffffff;
    overflow: hidden;
    margin: 0 7% 0 7%;
    border: 1px solid #efefef;
}
.info-list-box ul p span {
    color: #aeaeae;
    min-width: 70px;
    display: inline-block;
    float: left;
}
.info-list-box ul p {
    color: #666666;
    font-size: 13px; margin: 0 0 5px 0;
}
.info-list-box ul {
    list-style: none;
    padding: 0;
}

.job-desc h5 {
    color: #666666;
}
.job-desc {
    overflow: hidden;
    border-left: 1px solid #efefef;
    padding: 31px 0 0px 15px;
    min-height: 105px;
}
.interview-list-box h3 {
    padding: 9px 0 0 0;
    color: #2b98ff;
    text-transform: uppercase;
}
.interview-list-box img.img-responsive.img-companyLogo {
    height: 36px;
    margin-top: 26%;
    float: right;
    margin-bottom: 10px;
}

.interview-list-profile img {
    float: left;
    display: inline-block;
    padding: 14px 0 15px 0;
    position: relative;
}
.interview-list-box {
    background: #ffffff;
    overflow: hidden;
    margin: 0 7% 15px 7%;
    border: 1px solid #efefef;
}
a.btn.btn-primary.btn-view-more {
    padding: 6px 8px 4px 6px;
    font-size: 13px;
    font-weight: normal;
    float: right;
    background: #eaeaea;
    border: 1px solid #dadada;
    color: #8c8c8c;
}

section.container.features {
    padding: 50px 0 0 0;
}
#testimonialSLider{
    margin-top: 0;
}
.interview-list-section{
    margin-top: 0 !important;
}

.row.testimonials-holder-row .lSSlideOuter .lSPager.lSpg > li a {
    background-color: #ffffff !important;

}
.row.testimonials-holder-row .lSSlideOuter .lSPager.lSpg > li:hover a, .row.testimonials-holder-row .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: #428bca  !important;
}




.interview-lits-item h2 {
    font-size: 14px;
    margin: 0; line-height: 22px;
}
.info-list-box{
    font-family: arial;
}
.info-list-box h2 {
    font-size: 15px; margin: 15px 0 0 0;
}
.info-list-box h4 {
    font-size: 13px;

    margin: 0px 0 5px 0;
    color: #757575;
}


.info-list-box li {

    color: #757575;
    font-size: 12px !important;

}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.title-box-int {
    padding:7px 0 0 0;
}

/* Download Box */
#box-document {
    overflow: hidden;
    background: rgba(255, 255, 255, 0.9) !important;

    width: 60%;
    margin: 0 auto;
    border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: 0 9px 14px rgba(150, 150, 150, 0.3);
}

.message-result-box.text-center {
    padding: 40px 0 40px 0;
}

.message-result-box h2 {
    font-weight: 500;
    margin-bottom: 20px;
}

#document-list-section {
    font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
    background: #f0f0f0;
    min-height: 50vh;
    padding: 100px 0 80px 0;

}

.appox-down:hover {
    background: #f8d749;
    text-decoration: none;
    color: #000000;
    transition: .3s all ease-in-out;
}
.message-result-box a {
    margin-top: 20px;
}
.message-result-box h1{
    font-size: 40px;
}
.message-result-box p{
    color: #777 !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    padding-top: 8px !important;
}
.appox-down {
    background: #fed008;
    padding: 15px 30px;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 30px;
    border: 0;
    transition: .3s all ease-in-out;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
}