<template>
    <div class="selection-filter-container pb-2">
        <div class="row m-0">
            <div class="col-lg-12 p-0 justify-content-between d-flex">
                <div class="form-holder d-inline-block">
                    <form>
                        <div class="form-group mb-0  pt-2 pb-2">
                            <div class="radio-inline radio-check-list">
                                <label class="container-radiobutton  mb-0">すべてのエージェント
                                    <input id="exampleRadios2"
                                           v-model="filter.type"
                                           class="form-check-input"
                                           type="radio"
                                           name="type"
                                           value="all"
                                           @change="sortHandler"> <span class="checkmark-radio"/>
                                </label>
                                <label class="container-radiobutton mb-0">有効なエージェント
                                    <input id="exampleRadios1"
                                           v-model="filter.type"
                                           class="form-check-input"
                                           type="radio"
                                           name="type"
                                           value="active"
                                           @change="sortHandler">
                                    <span class="checkmark-radio"/>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <button class="btn btn-primary w-150p"
                        type="button"
                        @click="showModalHandler">
                    エージェント追加
                </button>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        name: "AgentTableFilter",
        props: {
            filter: { type: Object, required: true },
            pageChangeHandler: { type: Function, required: true },
            sortHandler: { type: Function, required: true },
            showModalHandler: { type: Function, required: true },
        },
    }
</script>
