<template>
    <div class="selection-mgmt-table agent-ats-table table-wrapper text-left">
        <agent-table-filter
            :filter="filter"
            :show-modal-handler="onShowModal"
            :page-change-handler="onPageChanged"
            :sort-handler="onSortByChanged"/>
        <div v-if="pagination.total_pages > 1" class="selection-filter-container pb-2 pt-4">
            <div class="row m-0">
                <div class="col-lg-12 p-0">
                    <pagination :pagination="pagination" :current-page="filter.page" @updated="onPageChanged"/>
                </div>
            </div>
        </div>
        <div class="ats-agent-table-container pt-4">
            <table class="table table-striped ats-table">
                <thead>
                    <tr>
                        <th scope="col" style="  ">
                            エージェントID
                        </th>
                        <th scope="col" style=" min-width: 150px; " class="pl-2">
                            エージェント名
                        </th>
                        <th scope="col" style="">
                            担当者名
                        </th>
                        <th scope="col" style="">
                            メール/電話番号
                        </th>
                        <th scope="col" style="text-align: center;  min-width: 70px;">
                            求人数
                        </th>
                        <th scope="col" style="text-align: center; min-width: 70px;">
                            推薦数
                        </th>
                        <th scope="col" style="">
                            ステータス
                        </th>
                        <th scope="col" style=" text-align: center">
                            有効/停止
                        </th>
                        <th scope="col" style=" ">
                            登録日
                        </th>
                        <th scope="col" style=" ">
                            招待メール
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <agent-row v-for="(agent, index) in agents"
                               :key="index"
                               :agent-prop="agent"
                               :service-disable="serviceDisable"
                               @onEditAgent="onEditAgent"
                               @changeStatus="onStatusChanged"
                               @resend="onResendInvitation"/>
                </tbody>
            </table>
        </div>
        <div class="selection-filter-container pb-2">
            <div class="row m-0">
                <div class="col-lg-12 p-0">
                    <pagination :pagination="pagination" :current-page="filter.page" @updated="onPageChanged"/>
                </div>
            </div>
        </div>
        <div v-if="pagination.count == 0" class="text-center text-gray pt-3">
            データが見つかりません
        </div>
    </div>
</template>
<script>
    import AgentRow         from "./agentRow";
    import AgentTableFilter from "./agentTableFilter";
    import Pagination           from "./pagination";

    export default {
        name: "AgentsTable",
        components: { AgentRow, AgentTableFilter, Pagination },
        props: {
            agents: { type: Array, required: true },
            pagination: { type: Object, required: true },
            filter: { type: Object, required: true },
            serviceDisable: { type: Boolean, required: true },
        },
        methods: {
            onPageChanged(pageNumber) {
                this.$emit("filterChanged", { ...this.filter, page: pageNumber })
            },

            onSortByChanged(event) {
                this.$emit("filterChanged", { ...this.filter, page: 1, sortBy: event.target.value })
            },
            onEditAgent(id) {
                this.$emit("editAgent", id)
            },
            onStatusChanged(id) {
                this.$emit("statusChanged", id)
            },
            onShowModal() {
                this.$emit("showForm")
            },
            onResendInvitation(id) {
                this.$emit("resend", id)
            },
        },
    }

</script>
