<template>
    <modal-right :modal-id="'invite-modal'" :modal-class="'ats-modal'">
        <template v-slot:title>
            <h4 v-if="!id">
                エージェントを招待する
            </h4>
        </template>
        <div class="wrapper-up ">
            <div class="tutorial-wrapper  ">
                <div class="container">
                    <p v-if="!id">
                        エージェントに公開する求人を選択し、招待してください。<br>
                        招待すると、自動で招待メールが送付されます。
                    </p>
                    <div class="form-container pt-2">
                        <form>
                            <div class="form-group">
                                <input v-model="company_name"
                                       v-validate="'required|max:200'"
                                       type="text"
                                       class="form-control"
                                       data-vv-as="エージェント名"
                                       data-vv-scope="invite"
                                       placeholder="エージェント名"
                                       name="company_name"
                                       :class="{'input': true, 'is-invalid': errors.has('invite.company_name')}">
                                <div class="invalid-feedback">
                                    <ul>
                                        <li v-show="errors.has('invite.company_name') "
                                            v-cloak>
                                            {{ errors.first('invite.company_name') }}
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input v-model="surname"
                                           v-validate="'required|max:100'"
                                           type="text"
                                           class="form-control"
                                           data-vv-as="姓"
                                           data-vv-scope="invite"
                                           placeholder="姓"
                                           name="surname"
                                           :class="{'input': true, 'is-invalid': errors.has('invite.surname') }">
                                    <div class="invalid-feedback">
                                        <ul>
                                            <li v-show="errors.has('invite.surname')"
                                                v-cloak>
                                                {{ errors.first('invite.surname') }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <input v-model="first_name"
                                           v-validate="'required|max:100'"
                                           type="text"
                                           class="form-control"
                                           name="first_name"
                                           data-vv-as="名"
                                           placeholder="名"
                                           data-vv-scope="invite"
                                           :class="{'input': true, 'is-invalid': errors.has('invite.first_name') }">
                                    <div class="invalid-feedback">
                                        <ul>
                                            <li v-show="errors.has('invite.first_name')"
                                                v-cloak>
                                                {{ errors.first('invite.first_name') }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div v-if="!id" class="form-group">
                                <input v-model="email"
                                       v-validate="'required|max:100'"
                                       type="text"
                                       class="form-control"
                                       name="email"
                                       data-vv-as="メールアドレス"
                                       placeholder="メールアドレス"
                                       data-vv-scope="invite"
                                       :disabled="id !== ''"
                                       :class="{'input': true, 'is-invalid': errors.has('invite.email') }">
                                <div class="invalid-feedback">
                                    <ul>
                                        <li v-show="errors.has('invite.email')"
                                            v-cloak>
                                            {{ errors.first('invite.email') }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div v-else class="form-group">
                                <input v-model="email"
                                       type="text"
                                       class="form-control"
                                       name="email"
                                       :disabled="true">
                            </div>
                            <div class="form-group">
                                <input v-model="phone_no"
                                       v-validate="'max:100'"
                                       type="text"
                                       class="form-control"
                                       name="phone_no"
                                       data-vv-as="電話番号"
                                       placeholder="電話番号"
                                       data-vv-scope="invite"
                                       :class="{'input': true, 'is-invalid': errors.has('invite.phone_no') }">
                                <div class="invalid-feedback">
                                    <ul>
                                        <li v-show="errors.has('invite.phone_no')"
                                            v-cloak>
                                            {{ errors.first('invite.phone_no') }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <input v-model="mobile_no"
                                       v-validate="'max:100'"
                                       type="text"
                                       class="form-control"
                                       name="phone_no"
                                       data-vv-as="携帯番号"
                                       placeholder="携帯番号"
                                       data-vv-scope="invite"
                                       :class="{'input': true, 'is-invalid': errors.has('invite.mobile_no') }">
                                <div class="invalid-feedback">
                                    <ul>
                                        <li v-show="errors.has('invite.mobile_no')"
                                            v-cloak>
                                            {{ errors.first('invite.mobile_no') }}
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>メモ（社内用）</label>
                                <textarea id="exampleFormControlTextarea1"
                                          v-model="memo"
                                          v-validate="'max:2000'"
                                          class="form-control"
                                          name="memo"
                                          data-vv-as="メモ（社内用）"
                                          placeholder="メモ（社内用）"
                                          data-vv-scope="invite"
                                          :class="{'input': true, 'is-invalid': errors.has('invite.memo') }"/>
                                <div class="invalid-feedback">
                                    <ul>
                                        <li v-show="errors.has('invite.memo')"
                                            v-cloak>
                                            {{ errors.first('invite.memo') }}
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="checkbox-container-custom">
                                    <label class="container">すべての求人を公開する
                                        <input v-model="checked" type="checkbox" :disabled="jobs.length == 0 || serviceDisable" @click="OnCheckedBox($event.target.checked)">
                                        <span class="checkmark"/>
                                    </label>
                                </div>
                                <div class="sub-checkbox-holder">
                                    <div class="checkbox-container-custom pl-4">
                                        <label v-for="(job, index) in jobs" class="container pb-3">{{ job.job_title| truncateString(18) }}
                                            <input v-model="share_jd"
                                                   type="checkbox"
                                                   name="share_jd[]"
                                                   :value="job.job_id"
                                                   :disabled="serviceDisable">
                                            <span class="checkmark"/>
                                        </label>

                                        <p v-if="jobs.length == 0" class="text-small text-gray-500">
                                            データが見つかりません
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div v-if="id" class="form-group">
                                <label class="switch">
                                    <input type="checkbox" :checked="account_terminate == 0" :disabled="serviceDisable" @click="statusChange">
                                    <span class="slider round"/>
                                </label>
                                <template v-if="account_terminate == 0">
                                    このエージェントは現在有効です
                                </template>
                                <template v-else>
                                    このエージェントは現在無効です
                                </template>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <template v-slot:footer>
            <button-loading v-if="!id"
                            type="button"
                            class="btn btn-secondary w-150p"
                            :loading="inviteButtonLoading"
                            :disabled="errors.has('invite.*') || inviteButtonLoading"
                            @click.prevent="inviteAgent()">
                招待する
            </button-loading>
            <button-loading v-if="id"
                            type="button"
                            class="btn btn-secondary w-150p"
                            :loading="editButtonLoading"
                            :disabled="errors.has('invite.*') || editButtonLoading"
                            @click.prevent="editAgent()">
                保存する
            </button-loading>
        </template>
    </modal-right>
</template>
<script type="text/ecmascript-6">
    import ModalRight from "../../components/modalRight"
    export default {
        name: "AgentForm",
        components: { ModalRight },
        props: {
            formData: {
                type: Object,
                required: false,
                default: () => ({}),
            },
            openJobs: {
                type: Array,
                required: false,
                default: () => ({}),
            },
            serviceDisable: { type: Boolean, required: true },
        },
        data() {
            return {
                id: "",
                company_name: "",
                surname: "",
                first_name: "",
                email: "",
                phone_no: "",
                mobile_no: "",
                memo: "",
                share_jd: [],
                jobs: [],
                checked: false,
                inviteButtonLoading: false,
                editButtonLoading: false,
                response: {},
                validationErrors: "",
                account_terminate: 0,
            }
        },
        watch: {
            formData: {
                handler(data) {
                    this.id = data.id || ""
                    this.company_name = data.company_name || ""
                    this.surname = data.surname || ""
                    this.first_name = data.first_name || ""
                    this.email = data.email || ""
                    this.phone_no = data.phone_no || ""
                    this.mobile_no = data.mobile_no || ""
                    this.memo = data.memo || ""
                    const arr = []
                    if (data.share_jd.length > 0) {
                        $.each(data.share_jd, function(key, value) {
                            arr.push(value.job_id)
                        });
                    }
                    this.share_jd = arr
                    this.checked = this.share_jd.length === this.jobs.length;
                    this.account_terminate = data.account_terminate
                    if (!this.id) {
                        this.$validator.reset()
                    }
                },
                deep: true,
                immediate: true,
            },
            openJobs: {
                handler(data) {
                    this.jobs = data
                },
                immediate: true,
            },

        },
        methods: {
            OnCheckedBox(value) {
                this.share_jd = [];
                if (value) {
                    for (const id in this.jobs) {
                        this.share_jd.push(this.jobs[id].job_id)
                    }
                }
            },
            inviteAgent() {
                this.inviteButtonLoading = true
                this.$validator.validate("invite.*").then((result) => {
                    if (result) {
                        axios.post("/client/agent/invite", {
                            company_name: this.company_name,
                            surname: this.surname,
                            first_name: this.first_name,
                            email: this.email,
                            phone_no: this.phone_no,
                            mobile_no: this.mobile_no,
                            memo: this.memo,
                            share_jd: this.share_jd,
                            account_terminate: 0,
                        }).then(response => {
                            this.$emit("showSuccess")
                        }).catch(error => {
                            this.inviteButtonLoading = false
                            if (error.response.status === 422) {
                                this.validationErrors = error.response.data;
                                if (this.validationErrors.company_name) {
                                    this.$validator.errors.add({ field: "invite.company_name", msg: this.validationErrors.company_name[0] });
                                }
                                if (this.validationErrors.surname) {
                                    this.$validator.errors.add({ field: "invite.surname", msg: this.validationErrors.surname[0] });
                                }
                                if (this.validationErrors.first_name) {
                                    this.$validator.errors.add({ field: "invite.first_name", msg: this.validationErrors.first_name[0] });
                                }
                                if (this.validationErrors.email) {
                                    this.$validator.errors.add({ field: "invite.email", msg: this.validationErrors.email[0] });
                                }
                                if (this.validationErrors.memo) {
                                    this.$validator.errors.add({ field: "invite.memo", msg: this.validationErrors.memo[0] });
                                }
                                if (this.validationErrors.phone_no) {
                                    this.$validator.errors.add({ field: "invite.phone_no", msg: this.validationErrors.phone_no[0] });
                                }
                                if (this.validationErrors.mobile_no) {
                                    this.$validator.errors.add({ field: "invite.mobile_no", msg: this.validationErrors.mobile_no[0] });
                                }
                            } else {
                                this.inviteButtonLoading = false
                            }
                        })
                    } else {
                        this.inviteButtonLoading = false
                    }
                })
                this.inviteButtonLoading = false
            },
            editAgent() {
                this.editButtonLoading = true
                this.$validator.validate("invite.*").then((result) => {
                    if (result) {
                        axios.post("/client/agent/edit/" + this.id, {
                            id: this.id,
                            company_name: this.company_name,
                            surname: this.surname,
                            first_name: this.first_name,
                            phone_no: this.phone_no,
                            mobile_no: this.mobile_no,
                            memo: this.memo,
                            share_jd: this.share_jd,
                            account_terminate: this.account_terminate,
                        }).then(response => {
                            this.$emit("showSuccessEdited")
                        }).catch(error => {
                            this.editButtonLoading = false
                            if (error.response.status === 422) {
                                this.validationErrors = error.response.data;
                                if (this.validationErrors.company_name) {
                                    this.$validator.errors.add({ field: "invite.company_name", msg: this.validationErrors.company_name[0] });
                                }
                                if (this.validationErrors.surname) {
                                    this.$validator.errors.add({ field: "invite.surname", msg: this.validationErrors.surname[0] });
                                }
                                if (this.validationErrors.first_name) {
                                    this.$validator.errors.add({ field: "invite.first_name", msg: this.validationErrors.first_name[0] });
                                }
                                if (this.validationErrors.memo) {
                                    this.$validator.errors.add({ field: "invite.memo", msg: this.validationErrors.memo[0] });
                                }
                                if (this.validationErrors.phone_no) {
                                    this.$validator.errors.add({ field: "invite.phone_no", msg: this.validationErrors.phone_no[0] });
                                }
                                if (this.validationErrors.mobile_no) {
                                    this.$validator.errors.add({ field: "invite.mobile_no", msg: this.validationErrors.mobile_no[0] });
                                }
                            } else {
                                this.inviteButtonLoading = false
                            }
                        })
                    } else {
                        this.editButtonLoading = false
                    }
                })
                this.editButtonLoading = false
            },

            statusChange() {
                if (this.account_terminate === 1) {
                    this.account_terminate = 0;
                } else {
                    this.account_terminate = 1;
                }
            },

        },

    }
</script>
