<template>
    <tr>
        <td class="td-id">
            <div class="td-id-wrap">
                <div v-if="agent.agentCompany" class="agent-id">
                    {{ agent.agentCompany.company_reg_id }}
                </div>
            </div>
        </td>
        <td>
            <div class="tbl-title-wrapper">
                <div class="company-name text-link"
                     @click="editAgent(agent.id)">
                    {{ agent.company_name | truncate(45) }}
                </div>
            </div>
        </td>
        <td>
            <div class="td-name">
                {{ agent.surname }}{{ agent.first_name }}
            </div>
        </td>
        <td>
            <div class="td-mail text-small">
                {{ agent.email }}
            </div>
            <div class="td-phonenumber text-small">
                {{ agent.phone_no }}
            </div>
        </td>
        <td>
            <div class="td-sharejd text-center">
                {{ agent.total_jd_share }}
            </div>
        </td>
        <td>
            <div class="td-apply text-center">
                {{ agent.totalCandidates }}
            </div>
        </td>
        <td>
            <div class="td-stat">
                <template v-if="agent.accept_invite == 1">
                    開設済み
                </template>
                <template v-else>
                    未開設
                </template>
            </div>
        </td>

        <td>
            <div class="td-valid text-center">
                <label class="switch">
                    <input v-model="slide" type="checkbox" :disabled="serviceDisable" @click="changeStatus(agent.id)">
                    <span class="slider round"/>
                </label>
            </div>
        </td>
        <td>
            <div class="td-date text-small">
                {{ agent.formatted_created_at | dateWithoutTime }}
            </div>
        </td>
        <td>
            <div class="td-action text-center">
                <button v-if="agent.accept_invite == 0 && this.slide == true"
                        class="btn btn-secondary btn-sm"
                        type="button"
                        :disabled="serviceDisable"
                        @click="resend(agent.id)">
                    再送する
                </button>
            </div>
        </td>
    </tr>
</template>
<script type="text/ecmascript-6">
    export default {
        name: "AgentRow",

        props: {
            agentProp: { type: Object, required: true },
            serviceDisable: { type: Boolean, required: true },
        },
        data: () => ({
            agent: {},
            slide: false,
        }),
        watch: {
            agentProp: {
                handler(data) {
                    this.agent = data
                    if (this.agent.account_terminate == 0) {
                        this.slide = true
                    } else {
                        this.slide = false
                    }
                },
                immediate: true,
            },
        },

        methods: {
            editAgent(id) {
                this.$emit("onEditAgent", id)
            },
            changeStatus(id) {
                this.$emit("changeStatus", id)
            },
            resend(id) {
                this.$emit("resend", id)
            },
        },
    }
</script>

<style lang="scss">
td {
  vertical-align: middle !important;
}

.candidate-row {
  .clickable {
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }

  .nowrap {
    white-space: nowrap;
  }

  .job-title-wrapper, .company-wrapper {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
    overflow: hidden;
  }

}

.candidate-company-row {
  max-width: 300px;
  min-width: 300px;
}

.candidate-interview-row {
  max-width: 156px;
  min-width: 156px;
}

.candidate-joined-row {
  max-width: 93px;
  min-width: 93px;
}

.candidate-date-row {

}

.candidate-commitment-row {
  max-width: 85px;
  min-width: 85px;
}

.candidate-document-row {
  max-width: 118px;
  min-width: 118px;
}
</style>
