<template>
    <div class="container h-screen-fit selection-management-list ats-agent-list-container">
        <success-modal @close="closeInviteSuccessModal"/>
        <agent-form
            :form-data="formData"
            :open-jobs="openJobs"
            :service-disable="serviceDisable"
            @showSuccess="successModal"
            @showSuccessEdited="successModalEdited"/>
        <search-bar :value="query.searchText" :url="url" @search="onSearch"/>
        <div class="section-tab-holder mt-4">
            <div class="row">
                <div class="col-lg-12">
                    <div class="custom-tab-wrapper text-center">
                        <div class="tab-header">
                            <div class="tbl-data-count">
                                <span class="current-data">{{ pagination.count }}件 </span>
                                <span class="all-data">
                                    /{{ pagination.total }}件中
                                </span>
                            </div>
                        </div>
                        <agents-table :agents="agents"
                                      :pagination="pagination"
                                      :filter="query"
                                      :service-disable="serviceDisable"
                                      @filterChanged="onFilterChange"
                                      @editAgent="editAgent"
                                      @statusChanged="onStatusChange"
                                      @showForm="showForm"
                                      @resend="onResendInvitation"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import AgentManagementService      from "../../services/agentManagementService"
    import AgentService                from "../../services/agentService"
    import { setQueryStringObject }    from "../../../../client/js/utils"
    import AgentForm                   from "./agentForm"
    import AgentsTable                 from "./agentsTable"
    import searchBar                   from "./searchBar"
    import SuccessModal                from "./sucessModal"

    export default {
        name: "AgentList",
        components: {
            SuccessModal,
            AgentForm,
            AgentsTable,
            searchBar,
        },
        props: {
            filter: { type: Object, required: true },
            baseUrl: { type: String, required: true },
        },

        data: () => ({
            query: {
                searchText: "",
                type: "active",
                page: 1,
            },

            tabs: {
                active_agent: "有効なエージェント",
                all: "すべて",
            },

            agents: [],
            pagination: {
                total: 60,
                per_page: 5,
                total_pages: 12,
            },

            openJobs: [],
            showResult: false,
            url: "",
            formData: {
                id: "",
                company_name: "",
                surname: "",
                first_name: "",
                email: "",
                phone_no: "",
                memo: "",
                share_jd: {},
                account_terminate: 0,

            },
            organization: {},
            serviceDisable: false,
        }),

        watch: {
            filter: {
                handler(query) {
                    if (query) {
                        const defaultQuery = this.query
                        this.query = { ...defaultQuery, ...query }
                    }
                },
                immediate: true,
            },
            query: {
                handler() {
                    this.fetchAgentList()
                    this.fetchOpenJD()
                    this.getOrganizationDetail()
                },
                deep: true,
            },
            baseUrl: {
                handler(url) {
                    this.url = url
                },
                immediate: true,
            },
        },
        methods: {
            onPageChanged(pageNumber) {
                this.$emit("filterChanged", { ...this.filter, page: pageNumber })
            },
            onSearch(search) {
                this.$set(this.query, "page", 1)
                this.$set(this.query, "searchText", search)
            },
            onTypeChange(type) {
                this.$set(this.query, "page", 1)
                this.$set(this.query, "type", type)
            },

            onFilterChange(filter) {
                this.query = filter
            },

            async fetchAgentList() {
                setQueryStringObject(this.query)

                const { data, pagination } = await AgentManagementService.getAtsAgentList(this.query)
                this.agents = data
                this.pagination = pagination
            },
            async fetchOpenJD() {
                const { data } = await AgentService.getAllJobs()
                this.openJobs = data
            },
            successModal() {
                $(".modal-backdrop").remove()
                $("#invite-modal").hide()
                $("#success-result").modal({
                    backdrop: "static",
                    keyboard: false,
                })
            },
            successModalEdited() {
                $("#invite-modal").hide()
                this.displayResultMessage(true)
                window.location = this.url + "/client/agent"
            },
            showForm() {
                this.formData.company_name = ""
                this.formData.email = ""
                this.formData.first_name = ""
                this.formData.surname = ""
                this.formData.phone_no = ""
                this.formData.mobile_no = ""
                this.formData.memo = ""
                this.formData.id = ""
                this.formData.share_jd = {}
                this.formData.other_users = {}
                this.formData.account_terminate = 0
                if (this.organization.ats_service === "Y") {
                    $("#invite-modal").modal({
                        backdrop: "static",
                        keyboard: false,
                    })
                } else {
                    $("#service-start-modal").modal("show")
                }
            },
            async editAgent(id) {
                this.$emit("inviteId", id)

                const { data } = await AgentService.getAgentDetail(id)
                this.formData.company_name = data.company_name || ""
                this.formData.email = data.email || ""
                this.formData.first_name = data.first_name || ""
                this.formData.surname = data.surname || ""
                this.formData.phone_no = data.phone_no || ""
                this.formData.mobile_no = data.mobile_no || ""
                this.formData.memo = data.memo || ""
                if (data.accept_invite === 1) {
                    this.formData.share_jd = data.share_jd || {}
                } else {
                    this.formData.share_jd = data.share_jd || {}
                }

                this.formData.id = data.id || ""
                this.formData.account_terminate = data.account_terminate
                $("#invite-modal").modal({
                    backdrop: "static",
                    keyboard: false,
                })
            },
            onStatusChange(id) {
                axios.get("/client/agent/terminate/" + id).then(response => {
                    this.displayResultMessage(true)
                    this.fetchAgentList()
                }).catch(error => {
                    this.displayResultMessage(false)
                })
            },
            onResendInvitation(id) {
                axios.get("/client/agent/re-invite/" + id).then(response => {
                    this.displayResultMessage(true)
                }).catch(error => {
                    this.displayResultMessage(false)
                })
            },

            displayResultMessage(result) {
                if (result == true) {
                    this.$toastr.s("成功しました。")
                } else {
                    this.$toastr.e("エラーが発生しました")
                }
            },
            closeInviteSuccessModal() {
                window.location = this.url + "/client/agent"
            },
            getOrganizationDetail() {
                axios.get("/client/agent/organization-detail").then(response => {
                    this.organization = response.data.data
                    if (this.organization.ats_service === "N") {
                        this.serviceDisable = true
                    }
                }).catch(error => {
                    console.log(error)
                })
            },
        },
    }
</script>
