<template>
    <div>
        <service-activate-success-modal @close="closeSuccessModal"/>
        <service-start-modal @activateAts="activateAts"/>
    </div>
</template>

<script type="text/ecmascript-6">
import ServiceActivateSuccessModal from "./serviceActivateSuccessModal"
import ServiceStartModal           from "./serviceStartModal"

export default {
    name: "AtsUpgrade",
    components: {
        ServiceActivateSuccessModal,
        ServiceStartModal,
    },
    methods: {
        closeSuccessModal() {
            location.reload()
        },
        activateAts() {
            axios.post("/client/agent/activate-service").then(response => {
                $("#service-start-modal").hide()
                $(".modal-backdrop").remove()
                $("#service-active-result").modal({
                    backdrop: "static",
                    keyboard: false,
                })
            }).catch(error => {
                $("#service-start-modal").hide()
                $(".modal-backdrop").remove()
                this.$toastr.e("エラーが発生しました")
            })
        },
    },
}
</script>
