<template>
    <div class="section-search-bar mt-4">
        <div class="row justify-content-md-center">
            <div class="col-lg-12">
              <h4 class="mb-5">
                自社エージェント管理
              </h4>

            </div>
        </div>
      <div class="row justify-content-md-center">
        <div class="col-lg-12">
          <div class="input-group mb-3">
            <input type="text" class="form-control mr-2"  v-model="searchText"
                   placeholder="フリーワード検索（エージェント名、担当者名、メールアドレスから検索できます）">
            <button class="btn btn-secondary w-150p" type="button" @click="handleOnSubmit">検索</button>
            <button class="btn btn-secondary w-150p ml-2" type="button" @click="reset">条件をリセット</button>
          </div>
        </div>
        
      </div>
    </div>

</template>
<script type="text/ecmascript-6">
    export default {
        name: "SearchBar",

        data: () => ({
            searchText: "",
        }),
      props: {
        url: { type: String, required: true },
      },

        methods: {
            handleOnSubmit() {
                this.$emit("search", this.searchText)
            },
            reset()
            {
              window.location = this.url + "/client/agent"
            }
        },
    }
</script>
