<template>
  <div class="modal fade ats-service-modal-popup" id="service-start-modal" tabindex="-1" role="dialog"
       aria-labelledby="exampleModal1Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h3>採用管理機能を追加しますか？
          </h3>
          <h4> 自社が直接取引しているエージェントの管理や求人管理が<br>
               JoBinsの管理画面でまとめて行えるようになります！
          </h4>

        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 ats-fee-container">
              <div class="jd-features-holder">
                <div class="feature-ul-list">
                  <ul class="list-unstyled">
                    <li>
                                                                <span class="list-icon">
                                                                     <img src="../../../images/checked.png">
                                                                </span>


                      自社の求人票管理

                    </li>
                    <li>
                                                                  <span class="list-icon">
                                                                    <img src="../../../images/checked.png">
                                                                </span>
                      直接取引しているエージェントの登録

                    </li>
                    <li>  <span class="list-icon">
                                                                    <img src="../../../images/checked.png">
                                                                </span>
                      登録したエージェントに求人票を公開 ※
                    </li>
                    <li>  <span class="list-icon">
                                                                     <img src="../../../images/checked.png">
                                                                </span>
                      エージェントからの推薦受付・チャット機能
                    </li>
                    <li>  <span class="list-icon">
                                                                     <img src="../../../images/checked.png">
                                                                </span>
                      応募・選考進捗管理
                    </li>
                    <li>  <span class="list-icon">
                                                                   <img src="../../../images/checked.png">
                                                                </span>
                      他の媒体や自社HPからの応募者の追加


                    </li>
                  </ul>

                </div>
                <div class="feature-note">
                  ※JoBinsには非公開のまま、直接取引しているエージェントだけに求人を公開することもできます。
                </div>
                <div class="feature-footer">
                  <h3>
                    月額<span>33,000</span>円<span class="font-10"> （税込）</span>

                  </h3>

                </div>

              </div>


            </div>

            <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="jd-feature-img-wrapper">
                <img src="../../../images/ats-paidplan.png" class="feature-img">
              </div>

            </div>

            <div class="col-lg-12">
              <div class="feature-points">
                <ul>
                  <li>
                    有料プラン初回利用時は12ヶ月契約とし、それ以降は1ヶ月単位でのご契約となります
                  </li>
                  <li>
                    初回ご利用分は、有料プラン利用開始月当月締め翌月末支払い（一括）となります
                  </li>
                  <li>
                    システム利用開始後12ヶ月間の間にひとりも内定承諾が出なかった場合、12ヶ月分の利用料を全額返金いたします
                  </li>
                  <li>
                    採用計画の変更など、採用企業様のご都合により採用を中止した場合は返金対象外となります
                  </li>
                  <li>
                    JoBins登録エージェントおよび自社エージェントからの推薦に限らず、システムに手動追加した候補者が内定承諾した場合も返金対象外となります
                  </li>
                  <li>
                    返金対象の場合、システム利用終了後２週間以内に電話またはメールにてJoBinsに返金申請をしてください
                  </li>
                  <li>
                    返金の支払い期日はシステム利用終了月の翌月末となります
                  </li>

                  <li>
                    内定承諾した候補者がいるにもかかわらず返金申請をされる等、不正が発覚した場合は罰金として利用料とは別に月額利用料の12ヶ月分をお支払い頂きます
                  </li>
                  <li>
                    罰金の支払い期日はシステム利用終了月の翌月末となります
                  </li>
                  <li>
                    この内容は利用規約の規定に優先して適用されます
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">

          <button-loading type="button" class="btn btn-secondary" :loading="serviceButtonLoading"
                          @click="activateAccount">上記内容に同意してアップグレード

          </button-loading>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/ecmascript-6">
export default {
  name: "ServiceStartModal",
  data() {
    return {
      serviceButtonLoading: false,
    }
  },

  methods: {
    activateAccount() {
      this.serviceButtonLoading = true
      this.$emit("activateAts")
    },
  },
}
</script>
