<template>
    <div id="success-result"
         class="modal ats-modal fade"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModal2Label"
         aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-body p-5">
                    <div class="tutorial-wrapper  ">
                        <div class="container text-center p-0">
                            <img src="../../../images/tick.png" class="alert-icon">
                            <h4 class="pb-4">
                                エージェントを招待しました
                            </h4>
                            <p class="pb-4">
                                しばらく経ってもステータスが「開設済み」にならない場合は、<br>
                                エージェントに連絡をとり確認してください。<br>
                                メールが届いていない場合は、リストから招待メールを再送してください。
                            </p>
                            <button type="submit" class="btn btn-secondary w-150p" @click="close">
                                エージェント管理に戻る
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script type="text/ecmascript-6">
    export default {
        name: "SuccessModal",
        methods: {
            close() {
                this.$emit("close")
            },
        },
    }

</script>
