.mainformwrapper{
  max-width:803px;
  width:100%;
  margin:0 auto  ;
  .alert{
      max-width:442px;
      margin:0 auto 18px;
  }
  @media (min-width:768px){
  &.registration{
      margin:3rem auto;
  }
}
}
//login

.form-wrapper {

    width: 100%;
    margin: 0 auto;
    border: 2px solid #000;
    border-radius: 5px;
    overflow: hidden;

    .brand-logo {
        margin-bottom: 35px;
    }

    .rightCol {
        padding:73px 35px 73px 25px;
        width:100%;
        @at-root
        .login-wrapper, .form-wrapper{
            .rightCol{
                p{
                    font-size:12px;
                    color:$secondary;
                    margin-bottom:25px;
                    font-weight:500;
                   > span{
                    margin-top:15px;
                    }
                    .regular{
                        font-weight:400;
                    }
                }
            }
        }
        @at-root
        .register-wrapper{
            .rightCol{
                p{
                    font-size:13px;
                    color:$secondary;
                    margin-bottom:36px;
                    font-weight:500;
                   > span{
                    margin-top:15px;
                    }
                }
            }
            .form-checkbox-label{
                margin-bottom:25px;
            }
        }
        @media (max-width:768px) and (min-width:575px) {
            padding: 73px 25px 73px 15px;
        }

        @media(max-width:575px) {
            padding: 35px 15px;

            h3 {
                text-align: center;
            }
        }
    }

    .switcher-text {
        &:after {
            right: 0;
        }

        &.paid-plan {
            &:after {
                right: 0;
            }
        }
    }
    @at-root
    .formwrapper{
        .form-group {
            .iconemail {
                position:absolute;
                top:14px;
                left:10px;
                background: url(../../images/envelope.svg)no-repeat;
                height:14px;
                width:17px;


                + input{
                    padding-left:35px;
                }
            }

            .iconpassword {
                position:absolute;
                top:13px;
                left:10px;
                background: url(../../images/padlock.svg)no-repeat;
                height: 16px;
                width: 17px;
                + input{
                    padding-left:35px;
                }
            }
    }
    }
}
.labelemail{
    font-size:14px;
    color:#292B2F;
    font-weight:500;
}
.brand {
    &-col {
        &.jobcompany{
        background-color: $primary;
         }
         background-color: $tertiary;
        .leftCol {
            display: table;
            width: 100%;


            @media (max-width:575px) {
                padding: 45px 15px;
            }
        }
    }

    &-headline {
        display: table-cell;
        vertical-align: middle;
    }
}


@media (max-width:575px) {
    .brand-col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.emallabel{
    letter-spacing:2px;
}


//adduser modal
.modal-bordered{
    border:2px solid #000;
    border-radius: 5px;
    overflow:hidden;
}
.form-modal{
    .modal-useradd{

    padding:60px 48px 42px 48px;
    .modal-header{
        border:none;
    }
    .modal-body{
        background:#F4F4F4;
        padding:20px;
        margin-bottom:22px;
        border-radius:5px;
        border:none;
    }
    .modal-footer{
        border:none;
        .btn:not(:last-child){
            margin-right:13px;
        }
    }
    .close{
        position:absolute;
        right:30px;
        top:30px;
    }
    .btn{
        width:172px;
    }
}

    h5{
        font-weight:700;
        font-size:20px;
        line-height:1;
        margin-bottom:15px;
    }
    p{
        color:$secondary;
        font-size:12px;
        font-weight:500;
        margin-bottom:25px;
        >span{
            margin-top:15px;
        }
    }
}
//regsitrationmodal

.iconconfirm{
    height:60px;
    width:60px;
    background:#FEE551;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto 35px;
    &.primary{
        background:$primary;
    }
}
.confirmmessage{

    h4{
        font-size:20px;
        font-weight:700;
        margin-bottom:25px;
    }
    p{
        font-size:12px;
        margin-bottom:35px;
        font-weight:500;
        >span{
            margin-top:15px;
        }
    }
}
.modal-confirmationprocess{
    .modal-body {
        padding:80px 0;
    }
}
