@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  font-size:14px;
  color:$secondary;

}
.btn {
  font-size: 14px;
  padding: 7px 10px;
  transition:0.3s ease;
}

.btn-light{
  background:none;
  border:none;
}
.btn-dark{
  background-color:$light;
  border-color:$light;

}
.full-height {
  min-height: 100vh;

  &.middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.page-heading {
  font-weight: 700;
  font-size: 26px;

  @media (max-width:768px) and (min-width:575px) {
    font-size: 24px
  }

  @media (max-width:575px) {
    font-size: 22px
  }
}
.btn-black{
  background-color:#000;
  border-color:#000;
  color:#fff;
  &:hover{
    background-color: #23272b;
    border-color: #1d2124;
    color:#fff;
  }
  &-outline{
    background:none;
    border:1px solid $black-tint;
    color:$black-tint;
    &:hover{
      background-color:$black-tint;
      border-color:$black-tint;
      color:#fff;
    }
    &-dashed{
      background-color:#f8f8f8;
      border:1px dashed $secondary;
      color:$light;
      &:hover{
        background-color:$black-tint;
        border-color:$black-tint;
        color:#fff;
      }
    }
  }
}
.btn-blacktint{
  background-color:$black-tint;
  border-color:$black-tint;
  color:#fff;
  &:hover{
    background-color: #000;
    border-color: #000;
    color:#fff;
  }
}
.authfy-form {
  h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height:1;
    @media (max-width:768px)and (min-width:575px) {
      font-size: 23px;
      margin-bottom: 25px;
    }

    @media (max-width:575px) {
      font-size: 22px;
      margin-bottom: 25px;
    }
  }

  button {
    font-size: 14px;
    padding: 7px 40px;
  }

}

.switcher {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &-text {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    position: relative;
    letter-spacing: 1.25px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;

    &:after {
      position: absolute;
      bottom: -5px;
      content: "";
      width: 44px;
      height: 1px;
      background: #fff;
    }

    &:hover {
      text-decoration: none;
      color:#525252;
      &:after {
        background: #525252;
      }
    }

    span {
      font-weight: 700;

    }
  }
}

.is-small {
  max-width: 390px;
  margin: 0 auto;
}
.form-check{
  position:relative;
  display:block;
  padding-left:20px;
  &-box{
    position: absolute;
    opacity: 0;
    &:checked{
      + .form-checkbox-label{
        &:after{
          content: "";
          position: absolute;
          left: 7px;
          top: 1px;
          width: 7px;
          height: 13px;
          border: 1px solid $secondary;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }
}
.form-checkbox-label{
  position: relative;
  cursor: pointer;
  align-items: flex-start !important;
  &:before{
    width: 20px;
    height: 20px;
    background: white;
  }
  &:before{
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #000;
    border-radius:3px;
  }
}

.lime{
  .form-check-box{
    &:checked +{
      .form-checkbox-label{
        &:before{
          background:#FEE551;

        }
        &:after{
          left: 9px;
          top: 2px;
          width: 7px;
          height:15px;
        }
      }
    }

  }
  .form-checkbox-label{
    &:before{
      width: 24px;
      height: 24px;
    }
  }

}
.agreeto{
  display:flex;
  align-items:center;
  color:$secondary;
  font-size:12px;
  font-weight:500;
  margin-right:5px;

  a{
    color:inherit;
    text-decoration:none;
    margin-right:6px;
    transition:0.3s ease;
    &:after{
      position: absolute;
      bottom: -6px;
      left:0;
      content: "";
      width: 100%;
      height: 1px;
      background: $secondary;
    }
    &:hover{
      color:$primary;
      &:after{
        background: $primary;
      }
    }
  }
}
.iconadd{
  background:url("../../images/add-sprite.svg")no-repeat;
  height:26px;
  width:13px;
  background-position:0 13px;
  display:inline-block;
}
.ghostbtn{
  padding:0 10px;
  font-weight:500;
  transition:0.3s ease;
  border-radius:3px;
  display:flex;
  align-items:center;
  cursor:pointer;
  &:hover{
    color:$primary;
    .add{
      background-position:0 0;
    }
  }
  &.add{
    span:not(.material-icons){
      margin-top: 6px;
      padding-left: 5px;
    }
  }
}
.alert{
  font-size:14px;
  padding-top:18px;
  padding-bottom:18px;
  line-height:1;
  &-success{
    background-color:#DBFBDA;
    border-color:#ABE3AA;
    color:#1C5F1A;
  }
}

.modal-header, .modal-footer{
  border:none;
}
.modal-header{
  padding:30px;
  button{
    &:focus{
      box-shadow:none;
      outline:none;
    }
  }
  .close{
    color:#b3b3b3;
    opacity:1;

  }
}
.modal-title{
  font-size:20px;
  font-weight:700;
  color:$secondary
}
.formwrapper{
  .authfy-form{
    .form-control{
      border:1px solid $input-border;
      height:40px;
    }
  }
  .form-control{
    height:37px;
    border:2px solid $input-border;
    font-size:14px;
    &:focus{
      box-shadow:none;
      outline:none;
    }
    &::placeholder {
      color: $lighttext;;
      font-size: 14px;


    }
    &.addoption{
      display:flex;
      align-items:center;
      .addicon{
        cursor:pointer
      }
      input{
        width:calc(100% - 12px);
      }
    }

    >input{
      &::placeholder {
        color: $lighttext;;
        font-size: 14px;

      }
      border:none;
      &:focus{
        box-shadow:none;
        outline:none;
      }
    }
    &.small{
      width:131px;
      +span{
        font-size:12px;
        color:$secondary;
        font-weight:400;
        padding-left: 15px;
      }
    }
  }
  select{
    border: none;
    background: url(../../images/dropdown.png) no-repeat;
    background-position-x:calc(100% - 10px);
    background-position-y:12px;
    width: 100%;
    padding-right:35px;
    &.small{
      background-position-x:100px;
    }
  }
  .fieldset{
    margin-bottom:13px;
  }
}
.addicon{
  width:12px;
  height:12px;

  background:url(../../images/add.png) no-repeat;
  background-size:cover
}
select {
  /* for Firefox */
  -moz-appearance: none;
  -webkit-appearance:none ;
}
.checkbox-wrapper{
  &.grouped{
    margin-bottom:8px;
    .form-check-box{
      &:checked +{
        .form-checkbox-label{
          &:after{
            left: 8px;
            top: 1px;
            width: 8px;
            height: 16px
          }
        }
      }
    }
    .form-checkbox-label:before{
      border-width:2px;
      width:24px;
      height:24px;
      border-radius:5px;
    }
  }
}

.col.amt-option{
  display: flex;
  select.small {
    background-position-x: 80px !important;
  }
  span.currency-span {
    padding-top: 9px;
    padding-left: 10px !important;
  }
   .form-control.small {
    width: 108px;
  }
}
