width
.w-100p{
  min-width: 100px;
}
.w-150p{
  min-width: 150px;
}
.w-1550p{
  max-width: 1550px;
}

//height
.h-screen-fit {
  min-height: calc(100vh - 140px);
}

//text
.text-red{
  color: #FF0000;
}
.text-link{
  color: $link;
}
.text-gray{
  color: $gray-600;
}
.text-dark{
  color: $gray-900;
}
.text-bold{
  font-weight: bold;
}
.text-20{
  font-size: 20px;
}
.text-18{
  font-size: 18px;
}
.text-16{
  font-size: 16px;
}

.text-12{
  font-size: 12px;
}
.text-10{
  font-size: 10px;
}
.text-8{
  font-size: 8px !important;
}

.pr-0 {
  padding-right: 0!important;
}


//background
.bg-primary {
  background-color: $primary!important;
}

.bg-dark {
  background-color: $gray-900!important;
}
.bg-gray{
  background-color: $gray-400!important;
}
.bg-gray-100{
  background-color: $gray-200 !important;
}
.bg-gray-200{
  background-color: $gray-200 !important;
}
.bg-gray-400{
  background-color: $gray-400 !important;
}
.bg-white{

  background-color: $white!important;
}
.bg-green{
  background-color: $success!important;
}
.bg-info{
  background-color: $info!important;
}


//border-radius
.border-r-3{
  border-radius: 4px;
}
.border-r-5{
  border-radius: 5px;
}


//others
hr {
  border-top: 1px solid $gray-500;
}
.outline1{
  border: 1px solid $gray-900;
}
.outline2{
  border: 2px solid $gray-900;
}
.clearBoth{
  clear: both;
}
a:focus{
  outline: none;
}
a:hover{
  text-decoration: none;
}




.file-drag {
  border: 1px solid $gray-900;
  border-radius: 3px;
  text-align: center;
  padding: 50px;
  color: $gray-600;
  &:hover{
    cursor: pointer;
  }
}
.file-uploaded {
  font-size: 12px;
  display: flex;
  align-items: center;
  float: left;
}

.tbl-data-count {
  display: inline-block;
  float: left;
  font-size: 12px;
  color: $gray-600;
  span.current-data {
    font-size: 16px;
    font-weight: bold;
    color: $gray-900;
  }
}
.back-menu i {
  display: inline-block;
  margin: 1px 10px 0 15px;
  float: left;
  font-size: 16px;
}
.index-page ul li {
  display: inline-block; margin-right: 5px;
  a {
    background: $gray-300;
    padding: 10px 10px 10px 10px;
    border: 1px solid $gray-900;
    color: $gray-900;
  }
}

.inline-file-upload {
  display: flex;
  align-items: center;

}

.alert-custom{
  display: flex;
  justify-content: space-between;
  align-self: self-start;
  background: $gray-900;
  align-items: center;
  padding: 10px 10px 10px 15px;
  border-radius: 5px;
  color: $white;
}
.dark-alert{
  background: $gray-900;
  color: $white;
}



.search-box {
  padding: 10px 10px 10px 15px;
  border: 2px solid;
  border-radius: 5px;
}

.inline-search-form {
  display: flex;
  justify-content: space-between;
  align-self: self-start;
  align-items: center;
}

.inline-link-icon{
  span.title-link {
    color: $link;
  }
  a.icon-link img {
    width: 14px;
  }
}


span.round-icon-outline {
  border: 2px solid;
  border-radius: 50px;
  padding: 4px;
  height: 24px;
  display: inline-flex;
  width: 24px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 10px;
  }
}



.data-display-card{
  border-radius: 5px;
  padding: 15px 15px 15px 15px;

}


span.pp-img-spn {
  width: 40px;
  height: 40px;
  display: inline-flex;
  float: left;
  border: 1px solid $gray-900;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  padding-top: 3px;
}

.data-display-header {
  padding: 0 0 5px 0;
  border-bottom: none;
  .data-profile-display{
    display: inline-block;

    .pp-image-holder{
      display: inline-block;
      float: left;
    }
    .data-content-holder {
      overflow: hidden;
      margin: 2px 0 0 0;
      display: inline-block;
      h3 {
        font-size: 15px;
        font-weight: normal;
        margin: 0px 0 0 0;
      }
      p {
        font-size: 11px;
      }
    }
  }

}

.data-profile-display {
  display: flex;
  align-items: center;
  .data-content-holder{
    h3{
      font-size: 16px;
      margin: 0;
      span.text-12{
        font-weight: normal;
      }
    }
    p{
      font-size: 9px;
    }
  }
}
a.link-ico{
  color: $link;
  i{
    font-size: 16px;
    float: left;
    margin-right: 5px;
  }

}

.data-prev-card .data-display-content-row {
  padding-top: 25px;
  padding-left: 10px;
  overflow: hidden;

  .label-holder-col {
    min-width: 155px;
    display: inline-block;
    float: left;
  }
  .data-content-holder-col {
    width: calc(100% - 155px);
    overflow: hidden;
    min-height: 38px;
    display: inline-block;
  }

}
.border-b {
  border-bottom: 1px solid $gray-500;
}

.outline-tag {
  display: inline-block;
  font-size: 8px;
  border: 1px solid $gray-900;
  padding: 2px 5px 0 5px;
  font-weight: bold;
  border-radius: 2px;
  height: 15px;
  line-height: 1.5;
}

.data-display-content-row {
  overflow: hidden;
  label.title-label {
    float: left;
    display: inline-block;
    background: $gray-500;
    font-size: 9px;
    padding: 3px;
    border-radius: 4px;
    margin: 2px 15px 0 0;
    font-weight: bold;
    width: 65px;
    text-align: center;
  }
  .display-content {
    display: inline-block;
    overflow: hidden;
    width: calc(100% - 80px);
    font-size: 12px;
    p {
      margin-bottom: 5px;
    }
  }


}



.job-card-title {
  display: flex;
  align-items: flex-start;
  .status-holder {
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 3px;
    min-width: 70px;
    text-align: center;
    margin: 0 0 0 10px;
  }
  .status-open{
    background: $primary;
  }
}


.label-list-holder {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid $gray-900;
  margin-bottom: 10px;

  .label-bar {
    margin-right: 10px;
    border-radius: 3px;
    font-size: 12px;
    padding: 3px 5px;
    min-width: 100px;
    text-align: center;
  }

}


.data-list-icon {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  .spn-icon img {
    width: 18px;
    margin-right: 10px;
  }

}


.d-none-lg{
  display: none;
}
.d-none-sm{
  display: block;
}

@media (max-width: 992px) {


  .d-none-lg{
    display: block;
  }
  .d-none-sm{
    display: none;
  }
  .px-sm-15{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .sm-ml-0{
    margin-left: 0 !important;
  }

}

.challenge-mark {
  background: #FEE551;
  font-weight: bold;
  font-size: 8px;
  border: 1px solid #292B2F;
  padding: 2px 3px 0 3px;
  border-radius: 3px;
  width: auto;
  text-align: center;

}
.custom-challenge{
  position: absolute;
  bottom: -5px;
  left: -3px;
}

.selection-management-detail .section-mgmt-row .col-right-sidebar {
  width: 400px;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #EAEAEA;
}


@media (max-width: 1250px) {
  .data-prev-card .data-display-content-row {
    .label-holder-col {
      min-width: 100%;
    }
    .data-content-holder-col {
      width: 100%;
    }

  }
  .data-display-card {

    padding: 10px 10px 10px 10px;

  }
}
