.modal-customsized{
    max-width:1083px;
}.pills-wrapper{
    padding:0 25px;
}
.pills-body{
    .navpill-col{
        width:360px;
        border-right:1px solid $secondary;
    }
    border:1px solid #000;
    border-radius:5px;
    display:flex;
    overflow:hidden;
    
    .nav-pills{
        .nav-link{
            transition:0.25s ease;
                &.active{
                background-color:#f1f1f1;
            }
            &:hover{
                background-color:#f1f1f1;
               }
        }
        .nav-link{
            color:$secondary;
            padding:21px 23px;
            border-radius:0;
            font-size:14px;
            font-weight:500;
            &:not(:last-child){
                border-bottom:1px solid $secondary;
            }

        }
    }
    .tab-content{
        padding:0 10px;
    }
}


.pillcontent-header{
    padding:15px 0 19px 0;
    border-bottom:1px solid $secondary;
    .agreeto{
        font-size:14px ;
        font-weight:700;
    }
}
.pillcontent-body{
    padding:10px 0;
}
.pillcontent-row{
    padding:10px 25px;
}