.container-wrapper{
  border-top: 1px solid $gray-400;
}
.selection-detail-tab-pane {
  padding: 0 15px 0 15px;
}
.selection-management-list{
  .selection-mgmt-table-container {
    width: 1010px;
    tbody tr{
      height: 100px;
    }
    td{
      padding-top: 20px;
    }
    td.candidate-memo-row {
      padding-top: 0px !important;
      cursor: pointer;
    }

  }
  .selection-mgmt-table{
    overflow-x: auto;
  }

  .selection-filter-container{

    .custom-select-option.selection-sort-dropdown {
      max-width: 220px;

    }
  }

  .td-id{
    position: relative;
    padding-left: 20px;

    .username-hold {
      color: $link;
      font-size: 14px;
    }
    .userid-hold{
      color: $link;
      font-size: 12px;
    }
    .userchallenge-hold {
      background: $white;
      display: inline-block;
      font-size: 10px;
      border: 1px solid;
      padding: 0 5px 0 5px;
      font-weight: bold;
      border-radius: 2px;
    }
    span.new-spn {
      background: red;
      display: inline-block;
      border-radius: 50px;
      position: absolute;
      height: 5px;
      width: 5px;
      left: 10px;
    }
  }
  .tbl-title-wrapper{
    .title-hold {
      font-size: 14px;
    }
    .title-detail {
      font-size: 12px;
      color: $gray-600;
    }
    .company {
      font-size: 12px;
      color: $gray-600;
      margin: 3px 0 0 0;
      span.company-title {
        font-size: 8px;
        color: $gray-900;
        border-radius: 3px;
        padding: 2px 4px;
        display: inline-block;
        float: left;
        font-weight: bold;
        margin: 0 6px 0 0;
        min-width: 70px;

        text-align: center;
      }
    }
  }
  .tbl-date{
    font-size: 10px;
    color: $gray-600;
  }
  .step-td-wrapper{
    .step-td {
      display: flex;
      font-size: 12px;
      align-self: center;
      align-items: self-start;
      .step-content-wrap {
        min-width: 60px;
        display: flex;
        align-self: center;
        align-items: center;
      }
    }
    span.step-icon-holder img {
      width: 8px;
      margin: -1px 5px 0 0;
    }
    .step-td-date{
      color: $gray-600;
      font-size: 10px;
      text-align: left;
    }

  }
  .stage-history{
    position: relative;
    img.stage-ico {
      width: 12px;
      display: inline-block;
      margin: 6px 0 0 10px;
      float: right;
      position: relative;
      top: 5px;


    }
    .stageHistoryPop {
      position: absolute;
      top: 38px;
      width: 285px;
      background: $white; transition: unset;
      right: 0;
      padding: 5px 5px 5px 8px;
      border: 1px solid;
      border-radius: 3px;
      img.stage-arrow-bar-ico {
        position: absolute;
        top: -9px;
        right: 35px;
        width: 14px;
      }
      .stage-history-holder {
        display: flex;
        .stage-divider {
          padding: 6px 7px 0 7px;
          img {
            width: 14px;
          }
        }
        .step-td-wrapper {
          min-width: 70px;
          text-align: center;
          .step-null {
            text-align: right;
            padding: 5px 10px 0 0;
            img {
              width: 13px;
              opacity: 0.6;
            }
          }
        }
        .step-td-wrapper.step-passed {
          .step-td {
            color: $gray-600;
          }
        }
      }

    }

  }

  .step-null.text-center img.dash-icon {
    width: 10px;
  }

}



@media (max-width: 992px) {
  .tbl-data-count {
    float: none;
  }
  .custom-tab-wrapper ul#pills-tab li.nav-item a {
    color: #292B2F;
    display: flex;
    padding: 5px 5px 5px 15px;
  }
}


.selection-management-detail{


  .section-mgmt-row{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    .col-left-sidebar {
      width: 300px;
    }
    .col-right-sidebar {
      width: 400px;
      height: 100%;
      overflow: hidden;
      border-right: 1px solid $gray-400;
      .data-display-content-row {
        min-height: 40px;
      }

    }
    .col-middle-bar {
      width: calc(100% - 400px);
      float: left;
      border-left: 1px solid $gray-400;
      border-right: 1px solid $gray-400;
      min-height: 100%;
    }
  }


  .selection-detail-message{

    .file-upload-stickybar{
      position: sticky;
      top: -2px;
      background: $white;
      z-index: 1;
      margin: 0px -15px 0 -15px;
      padding: 10px 15px 15px 15px;
      border-bottom: 1px solid $gray-400;

      .chat-box-error {
        margin-left: 0px;
        color: #dc3545!important;
        font-style: normal;
        font-size: 11px;
        font-weight: bold;
      }

    }

    .file-upload-wrapper{
      overflow: hidden;
      width: 100%;
      padding-bottom: 5px;
      .inline-file-upload{
        float: left;
        display: flex;
        align-items: center;
        span.file-upload-spn {
          display: flex;
          align-items: center;
          font-size: 12px;
          i{
            margin: 0 5px 0 0;
          }

        }
        a.icon-link {
          margin: 2px 10px 0 5px;
          i.jicon-android-close{
            color: $gray-600;
          }
        }
      }
    }
    .list-file-wrapper ul li {
      display: block;
      overflow: hidden;
    }
    .custom-tab-wrapper{
      .tab-header{
        width: auto;
        border-bottom: 1px solid $gray-400;

      }

      ul#pills-tab li.nav-item{
        border-bottom: 2px solid transparent;
        .nav-link {
          padding: 20px 20px 15px 20px;
          margin-bottom: -2px;
        }
        .nav-link.active {
          background: transparent;
          border-bottom: 2px solid $primary;
        }
      }
    }

    .inline-search-form{
      a.text-dark{
        i{
          font-size: 35px;
          margin: 0px 10px 0 0;
          top: 3px;
          position: relative;

        }
      }
      .text-area-holder{
        border: 2px solid $gray-900;
        border-radius: 5px; width: 100%;
        overflow: hidden;
        textarea {
          overflow: auto;
          resize: none;
          width: 100%;
          border-color: transparent;
          height: 37px;
          padding: 8px 5px 0 12px;
          border-radius: 5px !important;
          &:focus{
            outline: none;
          }

        }
      }
      button.btn.btn-round-primary {


        width: 50px;

        height: 47px;
        text-align: center;
        font-size: 16px;
        padding-top: 9px;
        margin: 0 0 0 9px;
      }

    }
    .message-content-container {
      background: $gray-300;
      margin: 0px -15px 0 -15px;
      padding: 0 20px;

    }




  }
  .rightsidebar-user-detail{
    .data-display-header .data-profile-display .data-content-holder {
      overflow: hidden;
      margin: 0px 0 0 0;
      display: flex;
      flex-direction: column;
    }
  }
}
.data-content-holder-col.data-content-notice {
  display: flex !important;
  margin-bottom: 11px;
  align-items: center !important;
  overflow: unset !important;

  .bg-primary.border-r-3 {
    font-size: 10px;
    margin: -10px 0 0 10px;
    padding: 5px 8px 5px 10px;
  }
}


.input-data-display {
  display: flex;
  flex-direction: row;
  .input-label-data {
    display: flex;
    margin: 0 15px 0 0;
    align-self: center;
    align-items: center;
    .input-label {
      background: $white;
      padding: 2px 5px 2px 5px;
      min-width: 64px;
      text-align: center;
      margin: 0 5px 0 0;
    }
  }
}

.data-info-display-card{
  .data-info-flex-display{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}



///chatbox
.chat-box-container{

  .chat-pp-holder {
    display: inline-block;
    float: left;
  }
  .chat-content-holder {
    overflow: hidden;
    .chat-content-top {
      font-size: 10px;
      color: $gray-600;
    }
    .chat-content-main {
      background: $white;
      padding: 10px 10px 10px 10px;
      border: 1px solid;
      width: auto!important;
      max-width: 330px;
      min-width: 100px;
      margin-top: 5px;
      border-radius: 0 15px 15px 15px;
      P{
        font-size: 12px;
        margin: 0;
      }
    }
  }
  span.pp-img-spn {
    padding-top: 0px;
    img{
      max-width: 20px;
    }

  }

  .chat-user{
    .chat-content-holder{
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }
    .chat-content-top{
      text-align: right;
    }
    .chat-content-main{
      float: right; max-width: 400px;
      background: $gray-400;
      border-color: $gray-400;
      border-radius: 15px 0px 15px 15px;
    }
  }
  .chat-content-main.chat-info-content{
    max-width: 600px;
    min-width: 600px;
  }

  .divider {
    border-bottom: 1px solid $gray-400;
    text-align: center;
    position: relative;
    padding: 10px 0 10px 0;
    .date-holder-divider {
      display: inline-block;
      background: $gray-300;
      overflow: hidden;
      min-width: 100px;
      height: auto;

      position: relative;
      top: 25px;
      font-size: 10px;
      padding: 0 10px 0 10px;
      span.date-content-spn{
        color: $gray-600;

      }
    }
  }
}

.left-sidebar-candidate{

  .data-profile-display {
    cursor: pointer;
    &:hover{
      background: $primary;
      cursor: pointer;
    }
    &:focus{
      background: $primary;
    }
    .data-content-holder h3 {
      font-weight: normal;
    }
    padding: 0 0 0 15px;
    span.pp-img-spn {
      position: relative;
      span.new-notification {
        background: red;
        width: 10px;
        height: 10px;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid #ffffff;
        border-radius: 50px;
      }
    }
  }
  .data-profile-display.nodata-reply {
    justify-content: center;
    padding: 20px 0 0 0;
    &:hover{
      background: transparent;
    }
    &:active{
      background: transparent;
    }
  }
  .data-profile-display.active {
    background: $primary;
  }
}
.col-right-sidebar{
  .border-b {
    border-bottom: 1px solid $gray-400;
  }
  .data-display-card{
    border-radius: 0;
    padding: 20px 15px 20px 25px;

  }
  .recruiter-info{
    min-height: unset;
    .disclaimer-note p {
      line-height: 20px;
    }
    .data-profile-display{
      display: flex;
      width: 100%;
      .data-content-holder{
        display: flex;
        flex-direction: row !important;
        align-items: center;
        width: 100%;
        justify-content: space-between;
      }
    }
  }


  .stage-timeline-wrap{


    /* The actual timeline (the vertical ruler) */
    .timeline {
      position: relative;
      max-width: 1200px;
      margin: 0 auto;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
      content: '';
      position: absolute;
      width: 3px;
      background-color: $gray-400;
      top: 20px;
      bottom: 0;
      left: 12px;
      margin-left: 4px;
      margin-bottom: 24px;
    }

    /* Container around content */
    .container {
      padding: 10px 10px;
      position: relative;
      background-color: inherit;
      width: 100%;
    }

    /* The circles on the timeline */
    .container::after {
      content: '';
      position: absolute;
      width: 14px;
      height: 14px;
      right: 0px;
      background-color: white;
      border: 3px solid #86B934;
      top: 19px;
      border-radius: 50%;
      z-index: 1;
    }

    /* Place the container to the left */
    .left {
      left: 0;
    }

    /* Place the container to the right */
    .right {
      left: 25px;
    }

    /* Add arrows to the left container (pointing right) */
    .left::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      right: 30px;
      border: medium solid white;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent white;
    }



    /* Fix the circle for containers on the right side */
    .right::after {
      left: -15px;
    }

    /* The actual content */
    .content {
      padding: 10px 0 10px 0px;
      background-color: $gray-400;
      position: relative;
      border-radius: 6px;
      display: flex;
      width: 120px;
      align-items: center;
      justify-content: center;
      align-self: center;
      h6{
        margin: 0;
      }
    }
    .container.right:first-child{
      .content{
        background: $primary;
      }

    }
    .container.right.active{
      .content{
        background: $primary;
      }

    }

    .right:first-child::after{
      background: #86B934;
      background-position: 5px 4px;
      border: 1px;
      background-repeat: no-repeat;
    }
    .right.active::after{
      background: #86B934;
      background-position: 5px 4px;
      border: 1px;
      background-repeat: no-repeat;
    }

  }

}

.sidevar-togger{
  height: 50px;
  width: 50px;
  position: absolute;
  border: 1px solid;
}
.data-display-card.info-preview-card{
  .info-preview-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .data-display-divider {
    border-bottom: 1px solid $gray-500;
    margin-bottom: 14px;
    h6{
      font-size: 12px;
      color: $gray-500;
    }
  }
}




.selection-management-detail{
  button#menu-toggle {
    float: left;
    margin: 20px 0 0 15px;
    border: none;
    background: transparent;
    &:focus{
      outline: none;
    }

    .onactive{
      display: none;
    }

  }
  button.active {

    .onactive{
      display: block !important;
    }
    .onclode{
      display: none;
    }
  }



  #wrapper{
    width: 100%;
  }

  #sidebar-wrapper {
    min-height: 100vh;
    border-left: 1px solid $gray-400;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }

  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }

  #sidebar-wrapper .list-group {
    width: 15rem;
  }

  #page-content-wrapper {
    min-width: 100vw;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }

  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }

    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
      display: none;
    }
  }


  .selection-detail-tab-pane.jobvaccancy-tab-pane{
    .payment-note{
      h6{
        font-size: 12px;
      }
      p{
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 0;
      }
      hr{
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
      }
    }
    .label-list-holder{
      display: inline-block;
      width: 100%;
      .label-bar {
        margin-bottom: 10px;
        display: inline-block;
        float: left;
      }
    }
    .job-card-title{
      justify-content: space-between;
    }

  }
}

@media (max-width: 1360px) {
  .selection-management-detail .section-mgmt-row{
    .col-middle-bar {
      width: calc(100% - 340px);
    }
    .col-left-sidebar {
      width: 220px;
    }
    .col-right-sidebar {
      width: 340px;
    }
  }

}
@media (max-width: 925px) {
  .selection-management-detail {

    .section-mgmt-row{
      .col-middle-bar {
        width: calc(100%);
        min-height: unset;
      }

      .col-right-sidebar {
        width: 100%;
        height: unset;
      }
    }
    .selection-detail-tab-pane {
      padding: 0 15px 0 30px;
    }

    button#menu-toggle{
      margin: 25px 0 0 30px;
    }


    .info-preview-card{
      margin-right: 0 !important;
    }





    .agent-basic-info-display{
      flex-direction: column;
      .input-label-data {

        margin: 0 15px 15px 0;
        align-self: baseline;
      }
    }

  }


  .data-prev-card .data-display-content-row .label-holder-col {
    min-width: 100%;
    display: block;
    float: none;
  }
  .data-prev-card .data-display-content-row .data-content-holder-col {
    width: 100%;

  }


}
.challenge-mark {
  background: #FEE551;
  font-weight: bold;
  font-size: 8px;
  border: 1px solid #292B2F;
  padding: 2px 3px 0 3px;
  border-radius: 3px;
  width: auto;
  text-align: center;
}

.custom-challenge{
  position: absolute;
  bottom: -5px;
  left: -3px;

}


.selection-management-list .td-id .username-hold{
  color: #0094e8;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100px;
}
.btn-accept-tc, .btn-accept-tc:hover {
  color: #fff;
  background-color: #f36f21;
  border-color: #f36f21;
}
#selection-step-detail{
  color: #292B2F;
}
#selection-step-detail:hover{
  color: #292B2F;
}
#selection-step-detail[aria-expanded="true"] .jicon-chevron-down,
#selection-step-detail[aria-expanded="false"] .jicon-chevron-up {
  display:none;
}
#sidebar-wrapper.collapsing  {
  min-height: 100vh;
  border-left: 1px solid $gray-400;
  margin-left: -15rem;
  -webkit-transition: margin .35s ease-in-out;
  -moz-transition: margin .35s ease-in-out;
  -o-transition: margin .35s ease-in-out;
  transition: margin .35s ease-in-out;
}
.container.h-screen-fit.selection-management-list.container-full{
  .section-search-bar{
    max-width: 1100px;
    margin: 0 auto;
  }
  .selection-mgmt-table-container {
    width: 100%;

    td.candidate-memo-row .tbl-title-wrapper {
      width: 195px;
      height: 40px;
      margin-top: -7px;
      .static-placeholder {
        color: #888;
      }
      p{
        font-size: 11px ;
        line-height: 1.5;  height: 60px;
        border: 1px solid #ccc;
        word-break: break-word;
      }
    }
  }
}


@media (min-width: 1200px){
   .container-full {
    max-width: 1400px;
  }
}


.selection-mgmt-table{
  td {
    vertical-align: middle !important;
  }

  .candidate-row {
    .clickable {
      cursor: pointer;

      &:hover {
        opacity: .8;
      }
    }

    .nowrap {
      white-space: nowrap;
    }

    .job-title-wrapper, .company-wrapper {
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 300px;
      overflow: hidden;
    }


  }

  .candidate-company-row {
    max-width: 300px;
    min-width: 300px;
  }

  .candidate-interview-row {
    max-width: 109px;
    min-width: 109px;
  }

  .candidate-joined-row {
    max-width: 93px;
    min-width: 93px;
  }

  .candidate-date-row {

  }

  .candidate-commitment-row {
    max-width: 85px;
    min-width: 85px;
  }

  .candidate-document-row {
    max-width: 118px;
    min-width: 118px;
  }

  .memo-edit {
    .form-group.memo-area {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .memo-wrap
    {
      width: 100%;

    }
    .memo-text-area {
      min-height: 170px;
    }
     label {
      position: relative;
      color: #292B2F;
      font-size: 14px;
      font-weight: 500;
      flex-basis: 110px;
      text-align: left;
      margin: 0 10px 0 0;
    }
  }

}
.invalid-feedback
{
  ul {
    padding-left: 0px;
    list-style-type: none;
    margin-bottom: 0;
    padding-right: 0px;
  }
}


 .chat-file-prev-wrapper {
  .inline-file-upload.dz-error.dz-complete {
    flex-direction: column;
    align-items: flex-start;
  }
  .inline-file-upload i.text-18.text-link.jicon-filedownload {
    margin: 0px 6px 0 0px;
    display: inline-block;
    float: left;
  }
  strong.error.text-danger.dz-error-message.other-doc-error {
    font-size: 11px;
    margin: 0 0 5px 0;
  }
  .file-upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.chat-action-wrap .chat-attach-button label {
  border: 1px solid #000000 !important;
  min-width: 140px;
  margin: 0 10px 0 0;
}
.file-upload-wrapper.file-list-wrapper.chat-file-prev-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .inline-file-upload a.icon-link {
    margin: 2px 10px 0 5px;
    display: inline-block;
    float: right;
  }

  .dz-file-prev{
    display: flex;
  }
  .dz-file-wrappeer {
    white-space: nowrap;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.chat-action-wrap{
  .chat-send-btn{
    .ladda-label
    {
      .jicon-paper-plane
      {
        margin: 0px 0px 0px -1px;
        display: inline-block;
      }
    }
    .ladda-button[data-style=contract][data-loading] {
      width: unset !important;
    }
  }
}
.chat-action-wrap {
  display: flex;
  justify-content: space-between;
 .chat-file-attach-wrap {
    display: flex;
    flex: auto;
    align-items: flex-start;
  }
 .chat-attach-button {
    position: relative;
 .jicon {
   position: absolute;
   top: 7px;
   font-size: 18px;
   left: 10px;
   transform: rotate(44deg);
    }
 label {
   border: 1px solid #000000 !important;
   min-width: 150px;
   margin: 0 10px 0 0;
   padding: 7px 0 6px 33px;
   border-radius: 3px;
    }
  }
}
.chat-action-wrap .chat-send-btn .ladda-button[data-style="contract"][data-loading]{
  width: 40px !important;
}

@media (max-width: 1280px) {

  ///chatbox
  .chat-box-container {
    .chat-user {
      .chat-content-main.chat-info-content {
        min-width: 100%;
      }
    }

  }
  .chat-box-container .chat-content-main.chat-info-content {
    min-width: 100%;
  }
}
