@import "variables";
.jdlist-container{
    max-width: 1400px;
}
.jobsearch-wrapper{
    position:sticky;
    top:0;
    background:#fff;
    z-index:1;
    .buttonwrapper{
        margin-top:7px;

    }
    border-bottom:1px solid $black-tint;
    padding-bottom:35px;
}
.jobsearch-header{
    padding:40px 0;
    margin:0;
    color:#000;
    font-size:24px;
    font-weight:700;
    line-height:1;
    .small{
        font-size:14px;
        padding-left:5px;
    }
}
.searchextended{
    margin-bottom:40px;
}
.btn{
        .arrow{
            background:url(../../images/downarrow.png) no-repeat;
            width:17px;
            height:21px;
            background-size:cover;
            margin-right:12px;
            transform:rotate(0deg);
            display:inline-block;

        }
        &:not(.toggleshow){
            .arrow{
                transform:rotate(180deg);
                display:inline-block;
            }
         }
        &:focus{
            box-shadow:none;
            outline:none;
        }
    }

    .jobcards{
        margin-bottom:40px;
        .card{
            border-radius:5px;
            border:2px solid #000;
            background:none;
            padding:0 35px;
        }
        .card-header{
            padding:30px 0 20px 0;;
            background:none;
           border-bottom: 1px solid $black-tint;
        }
        .card-body{
            padding:11px 0 16px 0;
        }
        .card-footer{
            border-top:1px solid #292B2F;
            padding:23px 0 24px 0;
            background:none;
            .btn{
                font-weight:700;
                font-size:12px;
                &:not(:last-child){
                    margin-right:20px;
                }
                &:hover{
                    .dw-icon{
                    background-position: 0 16px;
                }
                }
               &-black-outline-dashed{
                   .dw-icon{
                   background: url("../../images/dwgray-sprite.png");
                   width: 16px;
                    height: 16px;
                    background-size: cover;
                   }
                   &:hover{
                       .dw-icon{
                    background-position:0 16px
                }
                }
               }
        }

        }
        .list-group{
            margin-bottom:13px;
        }
        .list-group-item{
            border:none;
            padding-left:0;
            padding-right:0;
        }
        h2{
            &.jobtitle{
                font-size:16px;
                font-weight:700;
                margin-bottom:16px;
                line-height: 1;
                color:$black-tint;
            }
        }
        .jobdescription{
            color:$black-tint;
        }
        .jobdetail{
            .list-group-item{
                display:flex;
                align-items:center;
                padding:10px 0;
                font-size: 14px;
                .icon{
                    background-size:cover;
                    margin-right:20px;
                    width:16px;
                    height:16px;
                    &.briefcase{
                        background:url("../../images/briefcase.svg");
                        height:15px;
                    }
                    &.location{
                        background:url("../../images/location.svg")
                    }
                    &.amount{
                        background:url("../../images/amount.svg")
                    }
                }
            }
            .job-id-icon
            {
                width: 21px;
                margin-right: 15px !important;
            }
        }
    }
.categories{
    color:$black-tint;
   padding-right:36px;
    .limits{
        padding:8px 0;
        font-size:11px;
        text-align:center;
        width:100px;
        background:$light-gray;
        border-radius:3px;

    }
    .value{
        padding-left:15px;
        font-size:14px;
    }
}


.updated{
    margin-top:25px;
    padding-left:13px;
}
.updated-label{
    color:$light;
    font-size:12px;
    padding-right:22px;
}
.updated-value{
    background:#FEE551;
    border-radius:3px;
    padding:8px 35px;
    font-size:9px;
    color:$black-tint;
    text-transform: uppercase;;
}
.dw-icon{
    background:url("../../images/dw-sprite.png");
    width:16px;
    height:16px;
    background-size:cover;
}

.search-criteria{
    background:$light-gray;;
    border:2px solid $black-tint;
    padding:20px;
    border-radius:3px;
}
.ct-label{
    h3{
        font-size:16px;
        font-weight:700;
        color:$black-tint;
    }
}
.criteria-header{
    .btn{
        height:37px;
    }
}
.criteria-body{
    ul{
        padding:0;
        margin:22px 0 0 0;
        li{
            list-style:none;
            font-size:14px;
            color:$black-tint;
            margin-bottom:15px;
        }
    }
}
.criteria-list{
    p{
        line-height:1.5;
    }
}
.btn{
    .toggleshow{
        .arrow{
            transform:rotate(180deg);
            display:inline-block;
        }
    }
}
.account-modal-anchor {
    text-decoration: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    color: #f36f21;
}
.account-modal-anchor:hover {
    color: #f36f21;
}


@media only screen and (max-width: 1350px) {
    .applicant-type.d-flex{
        display: block !important;
        width: 100%;
    }
    .categories {
        color: #292B2F;
        padding-right: 0px;
        width: 50%;
        float: left;
        margin-bottom: 10px;
    }
    .min-amount-select{
        max-width: 150px !important;
    }
    .search-criteria {
        margin-bottom: 20px;
    }
}
.jdlist-container  {
    .locationModalPop{
        max-height: 100vh;
        .modal-header {
            padding: 15px 20px 10px 25px;
            border-bottom: 1px solid #000000;
            margin-bottom: 11px;
        }
        .pills-body .nav-pills .nav-link {
            padding: 15px 0px 15px 10px;
        }
        .modal-dialog-centered.modal-dialog-scrollable .modal-content {
            max-height: 80vh !important;
        }
        .modal-dialog-centered.modal-customsized.modal-dialog-scrollable {
            max-height: 100vh;
            margin: 0 auto;
        }
        .job-list-container .pillcontent-row {
            padding: 6px 25px;
        }
        .modal-footer {
            border-top: 1px solid #000000;
            padding: 15px 25px 15px 0px;
            margin-top: 6px;
        }
        .modal-dialog-centered.modal-customsized {
            margin: 0 auto;
            margin-top: 56px;
        }
    }

    .jobTypeModalPop{
        max-height: 100vh;
        .modal-header {
            padding: 15px 20px 10px 25px;
            border-bottom: 1px solid #000000;
            margin-bottom: 11px;
        }
        .pills-body .nav-pills .nav-link {
            padding: 15px 0px 15px 10px;
        }
        .modal-dialog-centered.modal-dialog-scrollable .modal-content {
            max-height: 80vh !important;
        }
        .modal-dialog-centered.modal-customsized.modal-dialog-scrollable {
            max-height: 100vh;
            margin: 0 auto;
        }
        .job-list-container .pillcontent-row {
            padding: 6px 25px;
        }
        .modal-footer {
            border-top: 1px solid #000000;
            padding: 15px 25px 15px 0px;
            margin-top: 6px;
        }
    }
}


.jobsearch-wrapper .formwrapper {
    padding-top: 10px;
}


.modal.modal-right-pop{
    padding-right: 0 !important;
    .modal-dialog.modal-lg {
        max-width: 800px !important;
        width: 800px !important;
        min-width: 800px !important;
    }
    .modal-dialog {
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        .modal-content{
            border-radius: 0;
            .modal-form .wrapper-up {

                padding: 30px 60px 30px 60px;
            }
            .modal-form .timeline-wrapper {
                padding: 20px 30px;
                background: #F9F9F9;
            }
        }
        .modal-head{
            display: flex;
            justify-content: space-between;
            padding: 0 20px 0 0px;
            background: #f3f3f3;
            height: 70px;
            align-items: center;
            .modal-title{
                margin-bottom: 0;
                padding: 15px 50px 15px 20px;
                line-height: 1.5;
                width: 97%;

                h2{
                    font-size: 20px;
                    margin: 5px 0 0 0;

                }
            }
        }
        .modal-body {
            padding: 0;
            height: calc(100vh - 140px);
            overflow-y: auto;
            overflow-x: hidden;
        }
        .modal-footer{
            background: #f3f3f3;
            height: 70px;
            padding: 0 80px 0 0;
            z-index: 1;


            display: flex;
            align-items: center;
            .btn{
                min-width: 100px;
            }
        }
        .shadow-box{
            box-shadow: 0px 0px 40px #a2a2a2;
            z-index: 1;
            position: relative;
            border: none;
        }
    }
}
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    transition-delay: 3s;
}


.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}


.modal.right .modal-body {
    padding: 15px 15px 80px;
}



/*Right*/
.modal.right.fade .modal-dialog {
    transition-delay: 3s;
    right: 0px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}


.custom-scroll{

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

}

.wrapper-right-modal{
    padding: 30px 10px 30px 10px;

}
.job-type-content .pills-body .nav-pills .nav-link {
    color: #3a3a3a;
    padding: 10px 8px;
    border-radius: 0;
    font-size: 12px;
    font-weight: 500;
}
.job-type-content .pills-body .navpill-col {
    width: 320px;
    border-right: 1px solid #3a3a3a;
}




.modal.modal-right-pop.jobTypeModalPop{
    .modal-dialog.modal-lg {
        max-width: 900px !important;
        width: 900px !important;
        min-width: 900px !important;
        .pillcontent-row {
            padding: 10px 0px;
        }
    }

}
@media only screen and (max-width: 1400px) {
    .modal.modal-right-pop {
        .modal-dialog.modal-lg {
            max-width: 700px !important;
            width: 700px !important;
            min-width: 700px !important;
        }
    }
}

@media only screen and (max-width: 1400px) {
    .modal.modal-right-pop.jobTypeModalPop{
        .modal-dialog.modal-lg{
            max-width: 900px !important;
            width: 900px !important;
            min-width: 900px !important;
        }
    }
}