<template>
    <div class="selection-filter-container pb-2">
        <div class="row m-0">
            <div class="col-lg-3 p-0">
                <div class="custom-select-option selection-sort-dropdown">
                    <div class="select">
                        <select id="slct" name="slct" @change="sortHandler">
                            <option v-for="(option, index) in sortByOptions"
                                    :key="index"
                                    :value="option.key"
                                    :selected="filter.sortBy === option.key"
                                    v-text="option.label"/>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 p-0">
                <button v-if="userType === 'premium' || userType === 'ultraPremium' " type="button" class="btn btn-secondary" @click="downloadRequest">
                    <i class="fa fa-file-o" aria-hidden="true"/> CSVダウンロード
                </button>
            </div>

            <div class="col-lg-7 p-0 pagination-add-wrapper selection-popup">
                <button v-if="userType === 'normal' && !isArchived " type="button" class="btn btn-primary w-100p mr-4" @click="showForm">
                    ＋候補者を手動追加
                </button>
                <pagination :pagination="pagination" :current-page="filter.page" @updated="pageChangeHandler"/>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import Pagination from "./pagination"

    export default {
        name: "CandidateTableFilter",

        components: { Pagination },

        props: {
            pagination: { type: Object, required: true },
            filter: { type: Object, required: true },
            pageChangeHandler: { type: Function, required: true },
            sortHandler: { type: Function, required: true },
            downloadUrl: { type: String, required: true },
            userType: { type: String, required: true },
            archiveStatus: { type: Boolean, required: true },
        },

        data: () => ({
            sortByOptions: [
                { key: "unread_notification", label: "メッセージが新しい順" },
                { key: "latest_recommended_date", label: "推薦日が新しい順" },
                { key: "older_recommended_date", label: "推薦日が古い順" },
                { key: "order_of_selection", label: "選考の進んでいる順" },
                { key: "order_of_not_selected", label: "選考の進んでいない順" },
            ],
        }),
        computed: {
            isArchived() {
                return this.archiveStatus;
            },
        },
        methods: {
            downloadRequest() {
                var url = this.downloadUrl;
                window.location.href = url;
            },
            showForm() {
                this.$emit("onShowForm", "show")
            },
        },
    }
</script>
