<template>
    <div class="selection-mgmt-table selection-mgmt-tab-1 table-wrapper text-left">
        <candidate-table-filter :pagination="pagination"
                                :filter="filter"
                                :page-change-handler="onPageChanged"
                                :sort-handler="onSortByChanged"
                                :download-url="downloadUrl"
                                :user-type="userType"
                                :archive-status="archiveStatus"
                                @onShowForm="onShowAddForm"/>
        <div class="selection-mgmt-table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="width: 140px">
                            氏名/推薦ID
                        </th>
                        <th scope="col" style="width: 300px">
                            {{ secondColumnHeading }}
                        </th>
                        <th scope="col" style="width: 140px">
                            メモ
                        </th>
                        <th v-if="userType == 'normal'" scope="col">
                            応募経路
                        </th>
                        <th scope="col" style="width: 100px">
                            推薦日
                        </th>
                        <th scope="col">
                            書類選考
                        </th>
                        <th scope="col">
                            面接
                        </th>
                        <th scope="col">
                            内定承諾
                        </th>
                        <th scope="col">
                            入社
                        </th>
                        <th scope="col"/>
                    </tr>
                </thead>
                <tbody>
                    <candidate-row v-for="(candidate, index) in candidates"
                                   :key="candidate.candidate_id"
                                   :candidate="candidate"
                                   :user-type="userType"
                                   @showUserModal="showUserModal"
                                   @refresh="refreshList"
                                   @memoEditRequest="showMemoEditModal"/>
                </tbody>
            </table>
            <div v-if="dataLoading" class="loader">
                Loading...
            </div>
            <div v-if="candidates.length===0" style="text-align: center;">
                データが見つかりません
            </div>
        </div>
        <div class="selection-filter-container pb-2">
            <div class="row m-0">
                <div class="col-lg-12 p-0">
                    <pagination :pagination="pagination" :current-page="filter.page" @updated="onPageChanged"/>
                </div>
            </div>
        </div>
        <memo-edit :memo-edit="memoEdit" :base-url="baseUrl"/>
    </div>
</template>
<script>
    import CandidateRow         from "./candidateRow";
    import CandidateTableFilter from "./candidateTableFilter";
    import MemoEdit             from "./memoEdit"
    import Pagination           from "./pagination";

    export default {
        name: "CandidatesTable",
        components: { MemoEdit, CandidateRow, CandidateTableFilter, Pagination },
        props: {
            candidates: { type: Array, required: true },
            pagination: { type: Object, required: true },
            filter: { type: Object, required: true },
            downloadUrl: { type: String, required: true },
            userType: { type: String, required: true },
            baseUrl: { type: String, required: true },
            archiveStatus: { type: Boolean, required: true },
        },

        data: () => ({
            secondColumnHeading: "",
            openMemoEdit: false,
            memoEdit: {
                candidateId: "",
                memo: "",
            },
            dataLoading: false,

        }),
        watch: {
            filter: {
                handler(data) {
                    if (data.orgType === "agent") {
                        this.secondColumnHeading = "採用企業/求人名/候補者提供";
                    } else {
                        this.secondColumnHeading = "候補者提供/求人名";
                    }
                },
            },
        },
        computed: {
            isArchiveList: function() {
                return this.archiveStatus;
            },
        },
        created() {
            Bus.$on("dataLoading", (data) => {
                this.dataLoading = data;
            })
        },
        methods: {
            refreshList() {
                this.$emit("filterChanged", { ...this.filter });
            },
            onPageChanged(pageNumber) {
                this.$emit("filterChanged", { ...this.filter, page: pageNumber })
            },

            onSortByChanged(event) {
                this.$emit("filterChanged", { ...this.filter, page: 1, sortBy: event.target.value })
            },
            onShowAddForm(action) {
                this.$emit("showAddForm", action)
            },
            showUserModal(candidateId, editable) {
                this.$emit("showUserModal", candidateId, editable)
            },
            showMemoEditModal(candidateId, memo) {
                this.memoEdit.memo = memo
                this.memoEdit.candidateId = candidateId
                $("#memoEditModal").modal({
                    backdrop: "static",
                    keyboard: false,
                })
                $(".memo-text-area").attr("style", "")
            },
        },
    }

</script>
