<template>
    <div>
        <div v-if="userType === 'normal'" class="container custom-fit">
            <div class="mt-5 page-title" :class="[query.archiveType === 'archived' ? 'page-title-wide':'page-title-mid']">
                <h3>
                    <span v-if="query.archiveType === 'archived' ">アーカイブリスト</span>
                    <span v-if="query.archiveType !== 'archived'">選考管理</span>
                </h3>
                <span v-if="query.archiveType !== 'archived'" class="link" @click="getArchived">アーカイブリストを見る</span>
                <span v-if="query.archiveType === 'archived'" class="link" @click="getNormalList">選考管理画面を見る</span>
            </div>
        </div>
        <div class="container h-screen-fit selection-management-list selection-popup">
            <search-bar :filter="query"
                        :org-type-prop="filter.orgType"
                        :prop-jobs="jobList"
                        :selection-status="selectionStatus"
                        :custom-platform-list="customPlatformList"
                        :user-type="propUserType"
                        :url="url"
                        :ats-agents="atsAgents"
                        :archive-status="query.archiveType === 'archived'"
                        @search="onSearch"/>
            <user-modal :user-data-prop="userData"
                        :open-jobs-prop="openJobList"
                        @changeStage="changeStageSuccess"/>

            <div class="section-tab-holder mt-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="custom-tab-wrapper text-center">
                            <div class="tab-header">
                                <div class="tbl-data-count pt-2" style="min-width: 60px;">
                                    <span class="current-data">{{ pagination.total }}件 </span>
                                </div>
                                <div v-if="userType != 'normal'" class="tab-ul-holder">
                                    <ul id="pills-tab" class="nav nav-pills mb-3" role="tablist">
                                        <li v-for="(label, tabName) in tabs"
                                            :key="tabName"
                                            class="nav-item">
                                            <a class="nav-link "
                                               :class="{active: query.type === tabName}"
                                               href="#"
                                               @click.prevent="onTabSelect(tabName)">
                                                {{ label }}
                                                <span class="tab-count" v-text="getFromObject(stats, tabName, 0)"/>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div id="pills-tabContent" class="tab-content pb-5 pt-3">
                                <div class="tab-pane fade show active"
                                     role="tabpanel"
                                     aria-labelledby="pills-1-tab">
                                    <candidates-table :candidates="candidates"
                                                      :pagination="pagination"
                                                      :filter="query"
                                                      :archive-status="query.archiveType==='archived'"
                                                      :download-url="downloadUrl"
                                                      :user-type="userType"
                                                      :base-url="baseUrl"
                                                      @filterChanged="onFilterChange"
                                                      @showUserModal="showEditForm"
                                                      @showAddForm="showAddForm"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import SelectionManagementService from "../../../../client/js/services/selectionManagementService"
    import { setQueryStringObject } from "../../../../client/js/utils"
    import candidatesTable from "./candidatesTable"
    import searchBar from "./searchBar"
    import UserModal from "./userModal"
    import moment from "moment"

    export default {
        name: "CandidateList",
        components: {
            UserModal,
            candidatesTable,
            searchBar,
        },
        props: {
            filter: { type: Object, required: true },
            propDownloadUrl: { type: String, required: true },
            propUserType: { type: String, required: true },
            baseUrl: { type: String, required: true },
            successMsg: { type: String, required: true },
        },

        data: () => ({
            showModal: false,
            userData: {
                candidate_id: "",
                recommend_id: "",
                surname: "",
                first_name: "",
                email: "",
                contact_no: "",
                dob: "",
                job_id: "",
                custom_applied_via: "",
                apply_date: "2021/01/04",
                files: [],
                memo: "",
                dob_year: "",
                dob_month: "",
                dob_day: "",
                userModalOpen: false,
                showSelectionInfo: false,
                showNextSelectionStages: false,
                showInterviewDateSchedule: false,
                interviewStageChangeStatus: false,
                showHiringDate: false,
                showClientReject: false,
                showAgentDecline: false,
                showSelectionCompleted: false,
                selectionConfirmationMessage: "",
                nextSelectionStages: [],
                selectionStages: [],
                atsPermission: false,
            },
            query: {
                searchText: "",
                jd: "",
                appliedVia: "all",
                customPlatform: "all",
                atsAgent: "all",
                type: "under_selection",
                page: 1,
                sortBy: "unread_notification",
                orgType: "",
                archiveType: "unarchived",
            },
            selectionStatus: [
                { type: "選考ステータス", value: "", child: [] },
                { type: "選考中すべて", value: "under_selection", child: [] },
                { type: "書類選考", value: "under_document_selection", child: [] },
                { type: "適性検査", value: "aptitude_test", child: [] },
                {
                    type: "１次面接",
                    value: "first_interview",
                    child: [
                        { childValue: "first_interview", childType: "すべて" },
                        { childValue: "stage6", childType: "日程調整中" },
                        { childValue: "stage7", childType: "実施待ち" },
                        { childValue: "stage8", childType: "結果待ち" },
                    ],
                },
                {
                    type: "２次面接",
                    value: "second_interview",
                    child: [
                        { childValue: "second_interview", childType: "すべて" },
                        { childValue: "stage9", childType: "日程調整中" },
                        { childValue: "stage10", childType: "実施待ち" },
                        { childValue: "stage11", childType: "結果待ち" },
                    ],
                },
                {
                    type: "３次面接",
                    value: "third_interview",
                    child: [
                        { childValue: "third_interview", childType: "すべて" },
                        { childValue: "stage12", childType: "日程調整中" },
                        { childValue: "stage13", childType: "実施待ち" },
                        { childValue: "stage14", childType: "結果待ち" },
                    ],
                },
                { type: "内定", value: "unofficial_offer", child: [] },
                { type: "内定承諾-入社待ち", value: "unofficial_consent", child: [] },
                { type: "入社済み", value: "joined", child: [] },
                { type: "辞退/不合格", value: "declined_fail", child: [] },
                { type: "すべて", value: "all", child: [] },
            ],

            tabs: {
                under_selection: "選考中",
                unofficial_offer: "内定",
                unofficial_consent: "内定承諾-入社待ち",
                joined: "入社済み",
                declined_fail: "辞退/不合格",
                all: "すべて",
            },

            candidates: [],
            pagination: {
                total: 60,
                per_page: 5,
                total_pages: 12,
            },
            stats: {},
            downloadUrl: "",
            userType: "",
            jobList: [],
            url: "",
            organization: {},
            openJobList: [],
            customPlatformList: [],
            atsAgents: [],
        }),

        watch: {
            filter: {
                handler(query) {
                    Bus.$emit("loadDuplicates");
                    if (query) {
                        const defaultQuery = this.query
                        this.query = { ...defaultQuery, ...query }
                    }
                },
                immediate: true,
            },

            query: {
                handler() {
                    Bus.$emit("loadDuplicates");
                    this.fetchCandidateList()
                    if (this.propUserType === "normal") {
                        this.fetchJobList()
                        this.fetchCustomPlatformList()
                        this.getOrganizationDetail()
                        this.fetchAtsAgents()
                    }
                },
                deep: true,
            },

            propDownloadUrl: {
                handler(data) {
                    this.downloadUrl = data
                },
                immediate: true,
            },
            propUserType: {
                handler(data) {
                    this.userType = data
                },
                immediate: true,
            },
            baseUrl: {
                handler(url) {
                    this.url = url
                },
                immediate: true,
            },

        },
        mounted() {
            if (this.successMsg === "Y") {
                this.$toastr.s("成功しました。")
            }
        },

        beforeMount() {
            this.fetchStats()
            this.fetchOpenJobList()
        },
        created() {
            Bus.$on("fetchCandidateData", (data) => {
                this.fetchCandidateList()
            })
        },
        methods: {
            getArchived() {
                this.query.archiveType = "archived";
                window.Bus.$emit("archive-toggle", true);
            },
            getNormalList() {
                this.query.archiveType = "unarchived";
                window.Bus.$emit("archive-toggle", false);
            },
            onPageChanged(pageNumber) {
                this.$emit("filterChanged", { ...this.filter, page: pageNumber })
            },

            onSortByChanged(event) {
                this.$emit("filterChanged", { ...this.filter, page: 1, sortBy: event.target.value })
            },

            onSearch(search) {
                this.$set(this.query, "page", 1)
                this.$set(this.query, "searchText", search.searchText)
                this.$set(this.query, "jd", search.jd)
                this.$set(this.query, "type", search.type)
                this.$set(this.query, "subType", search.subType)
                this.$set(this.query, "appliedVia", search.appliedVia)
                this.$set(this.query, "customPlatform", search.customPlatform)
                this.$set(this.query, "atsAgent", search.atsAgent)
            },

            onTabSelect(name) {
                this.$set(this.query, "page", 1)
                this.$set(this.query, "type", name)
            },

            onFilterChange(filter) {
                this.query = filter
            },

            async fetchStats() {
                this.stats = await SelectionManagementService.getStatsByTypes()
            },

            async fetchCandidateList() {
                Bus.$emit("dataLoading", true)
                setQueryStringObject(this.query)
                const { data, pagination } = await SelectionManagementService.getCandidateList(this.query)
                if (data) {
                    Bus.$emit("dataLoading", false)
                }
                this.candidates = data
                this.pagination = pagination
            },
            fetchJobList() {
                axios.get("candidateList/jobs").then(
                    response => {
                        this.jobList = response.data.data;
                    }).catch(error => {
                })
            },
            fetchCustomPlatformList() {
                axios.get("candidateList/custom-platform").then(
                    response => {
                        this.customPlatformList = response.data.data
                    }).catch(error => {
                })
            },
            fetchOpenJobList() {
                axios.get("candidateList/open-jobs").then(
                    response => {
                        this.openJobList = response.data.data
                    }).catch(error => {
                })
            },
            getOrganizationDetail() {
                axios.get("/client/agent/organization-detail").then(response => {
                    this.organization = response.data.data
                }).catch(error => {

                })
            },
            showAddForm(action) {
                this.userData.recommend_id = ""
                this.userData.surname = ""
                this.userData.first_name = ""
                this.userData.email = ""
                this.userData.contact_no = ""
                this.userData.dob = ""
                this.userData.dob_year = ""
                this.userData.dob_month = ""
                this.userData.dob_day = ""
                this.userData.job_id = ""
                this.userData.custom_applied_via = ""
                this.userData.apply_date = moment().format("YYYY/MM/DD")
                this.userData.files = []
                this.userData.memo = ""
                this.userData.userModalOpen = true
                this.userData.showSelectionInfo = false
                this.userData.formDisabled = false
                this.showModal = true
                this.changeDob()
                $("#apply_date_picker").datepicker("update", "")
                $("#apply_date_picker").datepicker("update", this.userData.apply_date)
                if (this.organization.ats_service === "Y") {
                    $("#exampleModal").modal({
                        backdrop: "static",
                        keyboard: false,
                    })
                } else {
                    $("#service-start-modal").modal("show")
                }
            },
            showEditForm(candidateId, editable) {
                this.showUserModal(candidateId, editable)
                if (editable) {
                    $("#seletion-modal-body").animate({ scrollTop: 0 }, 1500)
                } else {
                    $("#seletion-modal-body").animate({ scrollTop: 10000 }, 1500)
                }
            },
            async showUserModal(candidateId, editable = false) {
                const { data } = await SelectionManagementService.getCandidateDetail(candidateId)
                this.userData.surname = data.candidate.surname || ""
                this.userData.first_name = data.candidate.first_name || ""
                this.userData.email = data.candidate.email || ""
                this.userData.contact_no = data.candidate.contact_no || ""
                this.userData.dob = data.candidate.dob || ""
                this.userData.dob_year = data.candidate.dob_year || ""
                this.userData.dob_month = data.candidate.dob_month || ""
                this.userData.dob_day = data.candidate.dob_day || ""
                this.userData.job_id = data.candidate.job_id || ""
                this.userData.custom_applied_via = data.candidate.custom_applied_via || ""
                this.userData.apply_date = data.candidate.apply_date || ""
                this.userData.memo = data.candidate.memo || ""
                this.userData.candidate_id = data.candidate.candidate_id || ""
                this.userData.recommend_id = data.candidate.recommend_id || ""
                this.userData.files = data.candidate.files || []
                this.userData.showNextSelectionStages = data.showNextSelectionStages
                this.userData.showInterviewDateSchedule = data.showInterviewDateSchedule
                this.userData.showHiringDate = data.showHiringDate
                this.userData.showClientReject = data.showClientReject
                this.userData.showSelectionCompleted = data.showSelectionCompleted
                this.userData.selectionConfirmationMessage = data.selectionConfirmationMessage
                this.userData.showAgentDecline = data.showAgentDecline
                this.userData.interviewStageChangeStatus = data.interviewStageChangeStatus
                this.userData.nextSelectionStages = data.nextSelectionStages
                this.userData.selectionStages = data.selectionStages
                this.userData.atsPermission = data.atsPermission
                this.userData.userModalOpen = true
                this.userData.showSelectionInfo = true
                this.showModal = true
                this.userData.formDisabled = !editable
                this.changeDob()
                $("#exampleModal").modal({
                    backdrop: "static",
                    keyboard: false,
                })
            },
            changeDob() {
                $("#year").val(this.userData.dob_year)
                $("#month").val(this.userData.dob_month)
                $("#day").val(this.userData.dob_day)
            },
            displayResultMessage(result) {
                if (result === true) {
                    this.$toastr.s("成功しました。")
                } else {
                    this.$toastr.e("エラーが発生しました")
                }
            },

            changeStageSuccess(candidateId) {
                this.$toastr.s("成功しました。")
                this.showUserModal(candidateId)
                this.fetchCandidateList()
            },
            fetchAtsAgents() {
                axios.get("candidateList/ats-agents").then(
                    response => {
                        this.atsAgents = response.data.data;
                    }).catch(error => {
                })
            },
        },
    }
</script>
<style scoped>
  .custom-fit{
    max-width: 1400px;
  }

  .page-title-wide{
    width:300px
  }
  .page-title-mid{
    width:250px
  }
  .page-title{
    display: flex;
    justify-content: space-between;
  }

  .page-title h3{
    font-size: 20px;
  }
  .page-title .link{
    color: #2D9BB7;
    font-size: 14px;
    margin-top: 3px;
    cursor: pointer;
  }
</style>
