<template>
    <tr class="candidate-row">
        <td class="td-id">
            <div class="td-id-wrap">
                <div class="clickable" @click="showDetail(candidate.candidate_id, candidate.applied_via, false)">
                    <span v-if="candidate.client_view_status == 'N'" class="new-spn"/>
                    <div class="username-hold">
                        {{ candidate.full_name }}
                    </div>
                    <div class="userid-hold">
                        {{ candidate.recommend_id }}
                        <br>
                        {{ candidate.organization_id }}
                    </div>
                </div>
                <div>
                    <div v-if="showDuplicateIcon" class="tool-tip-holder">
                        <i class="fa fa-exclamation-circle"
                           style="color:red;cursor: pointer"
                           @click="showDuplicateToolTip = !showDuplicateToolTip"/>
                        <div v-if="showDuplicateToolTip" class="tool-tip-modal">
                            過去の候補者と名前が重複しています
                            <span style="color:#c3c0c0;cursor: pointer" @click="showDuplicateToolTip = false"><i class="fa fa-times"/> </span>
                            <ul class="duplicate-list">
                                <li v-for="duplicate of duplicates"
                                    :key="duplicate.candidate_id"
                                    @click="showDetail(duplicate.candidate_id, duplicate.applied_via, false)">
                                    {{ duplicate.recommend_id }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td class="candidate-company-row">
            <div class="tbl-title-wrapper">
                <div v-if="candidate.jd_type == 'alliance' || candidate.jd_type == 'support' "
                     class="title-hold"
                     :inner-html.prop="candidate.job_company_name |truncate(18)"
                     @paste="sanitize"/>
                <div v-if="candidate.jd_type == 'jobins'"
                     class="title-hold"
                     :inner-html.prop="candidate.agent_company_name | truncate(18)"
                     @paste="sanitize"/>
                <div class="title-detail job-title-wrapper" @paste="sanitize" v-html="candidate.job_title"/>
                <div v-if="candidate.jd_type == 'alliance' || candidate.jd_type == 'support' "
                     class="company company-wrapper"
                     :inner-html.prop="candidate.agent_company_name | truncate(18)"
                     @paste="sanitize"/>
            </div>
        </td>
        <td class="candidate-memo-row">
            <div class="memo-wrapper">
                <p @click="openMemoEdit">
                    <template v-if="candidate.memo">
                        {{ candidate.memo | truncate(50) }}
                    </template>
                    <template v-else>
                        <span class="static-placeholder">メモ...</span>
                    </template>
                </p>
            </div>
        </td>
        <td v-if="userType == 'normal'" class="candidate-type-row">
            <label v-if="candidate.applied_via === 'jobins'" class="jobins-candidate">
                JoBins
            </label>
            <label v-if="candidate.applied_via === 'ats'" class="ats-candidate">
                自社エージェント
            </label>
            <label v-if="candidate.applied_via === 'custom'" class="custom-candidate">
                {{ candidate.custom_applied_via }}
            </label>
        </td>
        <td class="candidate-date-row">
            <div class="tbl-date">
                {{ getFromObject(candidate, "nomination_date.formatted") }}
            </div>
        </td>
        <td class="candidate-document-row">
            <div v-if="showDash('document')" class="step-null">
                <img src="/agent/img/icons/dash.png" class="dash-icon" alt="dash" style="width:10px">
            </div>
            <template v-else>
                <div v-if="documentSelection" class="step-td-wrapper">
                    <div class="step-td">
                        <span v-if="showPassFailIcon(documentSelection)"
                              class="step-icon-holder">
                            <img :src="statusImage(documentSelection.status)"
                                 alt="round">
                        </span> {{
                            showPassFailIcon(documentSelection) &&
                                documentSelection.status ? "通過" : documentSelection.situation_text
                        }}
                    </div>
                    <div v-if="(candidate.selection_id !== 2 && candidate.selection_id !== 1) "
                         class="step-td-date">
                        {{ getFromObject(documentSelection, "date.formatted") }}
                    </div>
                </div>
            </template>
        </td>
        <td class="candidate-interview-row">
            <div v-if="showDash('interview')" class="step-null">
                <img src="/agent/img/icons/dash.png" class="dash-icon" alt="dash" style="width:10px">
            </div>
            <template v-else>
                <div v-if="interviewStages.length > 0" class="step-td-wrapper stage-history">
                    <div class="step-td-date"
                         :class="{'ml-2' : isDateVisible(interviewStages[interviewStages.length - 1])}">
                        <span>{{ interviewStages[interviewStages.length - 1].description }} </span>
                    </div>
                    <div class="step-td">
                        <div class="step-content-wrap">
                            <span v-if="showPassFailIcon(interviewStages[interviewStages.length - 1])"
                                  class="step-icon-holder">
                                <img :src="statusImage(interviewStages[interviewStages.length - 1].status)"
                                     alt="round">
                            </span>
                            <div class="step-text-wrap">
                                <span :class="{
                                    'text-red text-bold': isRed(interviewStages[interviewStages.length - 1]) &&
                                        isBold(interviewStages[interviewStages.length - 1]),
                                    'text-red': isRed(interviewStages[interviewStages.length - 1]) &&
                                        !isBold(interviewStages[interviewStages.length - 1])&&
                                        (!showPassFailIcon(interviewStages[interviewStages.length - 1]))}">
                                    {{ interviewStages[interviewStages.length - 1].situation_text }}
                                </span>
                            </div>
                        </div>

                        <div v-if="interviewStages.length > 1" class="step-history-wrap">
                            <a href="#" @click.prevent="toggleInterviewStages">
                                <img src="/agent/img/icons/stage.png" style="margin-top:-3px" class="stage-ico"></a>
                            <div v-if="showInterviewStages" class="stageHistoryPop" style="z-index: 9; width:auto;">
                                <img src="/agent/img/icons/arrow-bar.png" class="stage-arrow-bar-ico">
                                <div class="stage-history-holder">
                                    <div v-for="(interviewStage, interviewIndex) in interviewStages"
                                         :key="interviewIndex"
                                         style="display: flex;">
                                        <div class="step-td-wrapper step-passed">
                                            <div class="step-td-date ml-2">
                                                {{ interviewStage.description }}
                                            </div>
                                            <div class="step-td"
                                                 :class="{'ml-2':!showPassFailIcon(interviewStage)}">
                                                <span v-if="showPassFailIcon(interviewStage)"
                                                      class="step-icon-holder">
                                                    <img :src="statusImage(interviewStage.status)">
                                                </span>
                                                <span :class="{
                                                          'text-red text-bold': isRed(interviewStage) &&
                                                              isBold(interviewStage),
                                                          'text-red': isRed(interviewStage) &&
                                                              !isBold(interviewStage) && (!showPassFailIcon(interviewStage)) }"
                                                      class="step-text-wrap">{{ interviewStage.situation_text }}</span>
                                            </div>
                                            <div v-if="isDateVisible(interviewStage) " class="step-td-date">
                                                {{ getFromObject(interviewStage, "date.formatted") }}
                                            </div>
                                        </div>

                                        <div v-if="interviewIndex !== (interviewStages.length - 1)"
                                             class="stage-divider">
                                            <img src="/agent/img/icons/return.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="isDateVisible(interviewStages[interviewStages.length - 1])" class="step-td-date">
                        {{ getFromObject(interviewStages[interviewStages.length - 1], "date.formatted") }}
                    </div>
                </div>
            </template>
        </td>
        <td class="candidate-commitment-row">
            <div class="step-td-wrapper">
                <div v-if="showDash('commitment')" class="step-null">
                    <img src="/agent/img/icons/dash.png" class="dash-icon" alt="dash" style="width:10px">
                </div>
                <template v-else>
                    <template v-if="commitmentStage">
                        <div class="step-td">
                            <span v-if="showPassFailIcon(commitmentStage)"
                                  class="step-icon-holder">
                                <img :src="statusImage(commitmentStage.status)" alt="">
                            </span>
                            {{ commitmentStage.situation_text }}
                        </div>
                        <div v-if="isDateVisible(commitmentStage)" class="step-td-date">
                            {{ getFromObject(commitmentStage, "date.formatted") }}
                        </div>
                    </template>
                </template>
            </div>
        </td>
        <td class="candidate-joined-row">
            <div v-if="showDash('joined')" class="step-null">
                <img src="/agent/img/icons/dash.png" class="dash-icon" alt="dash" style="width:10px">
            </div>
            <template v-else>
                <div v-if="joinedStage || commitmentStage" class="step-td-wrapper">
                    <div class="step-td">
                        <span v-if="joinedStage && showPassFailIcon(joinedStage)"
                              class="step-icon-holder">
                            <img :src="statusImage(joinedStage.status)">
                        </span> <span v-if="joinedStage"
                                      :class="{ 'text-red text-bold': isRed(joinedStage) &&
                                                    isBold(joinedStage),
                                                'text-red': isRed(joinedStage) &&
                                                    !isBold(joinedStage)}">
                            {{ candidate.selection_id !== 24 ? joinedStage.situation_text : "入社済み" }}
                        </span>
                        <span v-if="showHiringDateMessage(commitmentStage) && (!joinedStage && commitmentStage.status )" class="text-red text-bold">
                            日程調整中
                        </span>
                    </div>
                    <div v-if="joinedStage" class="step-td-date">
                        {{ getFromObject(joinedStage, "date.formatted") }}
                    </div>
                </div>
            </template>
        </td>
        <td class="candidate-options">
            <template v-if="candidate.applied_via === 'custom'">
                <div v-if=" candidate.archived_at == null " class="options">
                    <i class="fa fa-trash"
                       @click="archiveCandidate"/>
                </div>

                <div v-else class="options">
                    <tooltip v-if="archiveHover"
                             :text="'元に戻す'"
                             :styles="'left: -33px;top: -40px;padding: 10px'"/>
                    <i class="fa fa-undo"
                       @click="unArchiveCandidate"
                       @mouseenter="archiveHover = true"
                       @mouseleave="archiveHover=false"/>
                </div>
            </template>
        </td>
    </tr>
</template>
<script type="text/ecmascript-6">
    import tooltip from "./tool-tip";
    export default {
        name: "CandidateRow",
        components: { tooltip: tooltip },
        props: {
            candidate: { type: Object, required: true },
            userType: { type: String, required: true },
        },

        data: () => ({
            showInterviewStages: false,
            showDuplicateToolTip: false,
            showDuplicateIcon: false,
            duplicateLoaded: false,
            duplicates: [],
            archiveHover: false,
        }),

        computed: {
            jdType: function() {
                const { jd_type: type } = this.candidate

                if (type === "jobins") {
                    return {
                        text: "JoBins",
                        color: "#A6C3D8",
                    }
                }

                if (type === "alliance") {
                    return {
                        text: "アライアンス",
                        color: "#AAD8A6",
                    }
                }

                return {
                    text: "JoBinsサポート",
                    color: "#F7E406",
                }
            },
            documentSelection: function() {
                const { document } = this.candidate.stages

                if (!document) {
                    return null
                }

                return document
            },
            commitmentStage: function() {
                const { commitment } = this.candidate.stages

                if (!commitment) {
                    return null
                }
                if (this.isRejectedAfterAcceptingOffer(this.candidate.stages.allStages) ||
                    this.isDeclinedAfterAcceptingOffer(this.candidate.stages.allStages)) {
                    commitment.status = true
                }

                return commitment
            },
            joinedStage: function() {
                const { joined } = this.candidate.stages
                const rejectedAfterAccepting = this.isRejectedAfterAcceptingOffer(this.candidate.stages.allStages)
                const declinedAfterAccepting = this.isDeclinedAfterAcceptingOffer(this.candidate.stages.allStages)
                if (!joined) {
                    if (rejectedAfterAccepting || declinedAfterAccepting) {
                        return rejectedAfterAccepting ?? declinedAfterAccepting
                    } else { return null }
                }
                if (rejectedAfterAccepting || declinedAfterAccepting) {
                    const finalObject = rejectedAfterAccepting ?? declinedAfterAccepting
                    return {
                        ...joined,
                        situation_text: finalObject.situation_text,
                        date: null,
                    }
                }
                return joined
            },
            interviewStages: function() {
                return Object.entries(this.candidate.stages).reduce((stages, [key, value]) => {
                    if (["aptitude", "interview.first", "interview.second", "interview.third"].includes(key)) {
                        return [...stages, value]
                    }

                    return stages
                }, []).sort((a, b) => b.order - a.order)
            },
        },
        mounted() {
            this.checkDuplicate()
            Bus.$on("loadDuplicates", () => {
                if (!this.duplicateLoaded) {
                    this.checkDuplicate()
                }
            })
        },
        methods: {
            unArchiveCandidate() {
                axios.post("/client/candidateList/archive-toggle", {
                    candidate_id: this.candidate.candidate_id,
                    type: "unarchive",
                }).then(
                    r => {
                        this.$toastr.s("アーカイブに移動しました")
                        this.$emit("refresh");
                    },
                );
            },
            archiveCandidate() {
                axios.post("/client/candidateList/archive-toggle", {
                    candidate_id: this.candidate.candidate_id,
                    type: "archive",
                }).then(
                    r => {
                        this.$toastr.s("アーカイブに移動しました")
                        this.$emit("refresh");
                    },
                );
            },
            checkDuplicate: function() {
                axios(`/client/selection/candidate/duplicate-test/${this.candidate.candidate_id}`)
                    .then(r => {
                        const response = r.data.data
                        this.duplicateLoaded = true
                        if (response.length > 0) {
                            this.duplicates = response
                            this.showDuplicateIcon = true
                        }
                    })
            },
            showAptitudeDate: function(stage) {
                return !(stage.selection_id === 4)
            },
            isRed(stage) {
                const currentSelection = this.candidate.selection_id
                return (stage.situation_color === "R" || stage.situation_color === "RB") &&
                    (stage.selection_id == currentSelection && stage.selection_id != 16)
            },

            isBold(stage) {
                const currentSelection = this.candidate.selection_id
                return stage.situation_color === "RB" && (stage.selection_id == currentSelection && stage.selection_id != 16)
            },
            showPassFailIcon(status) {
                return (this.candidate.selection_id !== status.selection_id) ||
                    (status.selection_id === 17 ||
                        (status.selection_id === 20 && this.candidate.selection_id === 25) ||
                        (status.selection_id === 20 && this.candidate.selection_id === 23) ||
                        (status.selection_id === 20 && this.candidate.selection_id === 24) ||
                        status.selection_id === 25 ||
                        status.selection_id === 24) // show pass if the stage is currently 17
            },
            toggleInterviewStages() {
                this.showInterviewStages = !this.showInterviewStages
            },

            showDetail(candidateId, appliedVia, editable = false) {
                if (appliedVia != "custom") {
                    window.open("/client/redirect-selection/" + candidateId, "_blank")
                } else {
                    this.$emit("showUserModal", candidateId, editable)
                }
            },

            isDateVisible(stage) {
                const currentSelection = this.candidate.selection_id
                return !([4, 6, 9, 16, 12].includes(stage.selection_id) && stage.selection_id == currentSelection)
            },
            statusImage(status) {
                if (status) {
                    return "/agent/img/icons/round.png"
                }

                return "/agent/img/icons/cross.png"
            },

            isRejectedAfterAcceptingOffer(allStages) {
                // this means the candidate has already accepted the job offer
                // since we need to show a text on the joined section, we are going to
                //  fake an object with the required values for this case.
                const selectionIds = allStages.map(a => a.selection_id)
                if ((selectionIds.includes(17) || selectionIds.includes(18)) && selectionIds.includes(22)) {
                    return {
                        status: false,
                        situation_text: allStages.find(a => a.selection_id === 22).situation_text, // getting declined stage and it's selection text here
                        date: null,
                    }
                } else {
                    return null
                }
            },
            isDeclinedAfterAcceptingOffer(allStages) {
                // this means the candidate has already accepted the job offer
                // since we need to show a text on the joined section, we are going to
                // fake an object with the required values for this case.
                const selectionIds = allStages.map(a => a.selection_id)
                if ((selectionIds.includes(17) || selectionIds.includes(18)) && selectionIds.includes(21)) {
                    return {
                        status: false,
                        situation_text: allStages.find(a => a.selection_id === 21).situation_text, // getting declined stage and it's selection text here
                        date: null,
                    }
                } else {
                    return null
                }
            },

            showHiringDateMessage(stage) {
                return stage.selection_id === 17
            },
            showDash(stage) {
                if (!this.documentSelection && stage === "document") {
                    return this.interviewStages.length > 0 || this.commitmentStage || this.joinedStage
                }

                if (this.interviewStages.length === 0 && stage === "interview") {
                    return this.commitmentStage || this.joinedStage
                }

                if (!this.commitmentStage && stage === "commitment") {
                    return this.joinedStage
                }

                return false
            },
            sanitize(event) {
                event.preventDefault()
                const html = this.$sanitize(event.clipboardData.getData("text/html"))
                document.execCommand("insertHTML", false, (html))
            },
            openMemoEdit() {
                this.$emit("memoEditRequest", this.candidate.candidate_id, this.candidate.memo)
            },
        },
    }
</script>

<style lang="scss">
.duplicate-list {
  padding: 0;
  list-style: none;
  margin-top: 10px;
}

.duplicate-list li {
  color: #289cea;
  padding: 5px 0 10px 0;
  cursor: pointer;
}

.duplicate-list li:last-child {
  border-bottom: 1px solid #6f6f6f;
  padding-bottom: 0;
}

td {
  vertical-align: middle !important;
}

.candidate-row {
  .clickable {
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }

  .nowrap {
    white-space: nowrap;
  }

  .job-title-wrapper, .company-wrapper {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
    overflow: hidden;
  }

}

.candidate-company-row {
  max-width: 300px;
  min-width: 300px;
}

.candidate-interview-row {
  max-width: 156px;
  min-width: 156px;
}

.candidate-joined-row {
  max-width: 93px;
  min-width: 93px;
}

.candidate-date-row {

}

.candidate-commitment-row {
  max-width: 85px;
  min-width: 85px;
}

.candidate-document-row {
  max-width: 118px;
  min-width: 118px;
}
.options{
  cursor: pointer;
  position:relative;
}
.candidate-options{
  width: 100px;
}
</style>
