<template>
  <modal-right :modal-id="'memoEditModal'" modal-class="memoEditModal">
    <template v-slot:title>
      <h5 class="modal-title"></h5>
    </template>
    <div class="wrapper-up">
      <div class="container">
        <div class="form-container pt-2">
          <form>
        <div class="form-group">
          <label>メモ</label>
          <div class="memo-wrap">
                                        <textarea v-model="memo"
                                                  v-validate="'max:500'"
                                                  data-vv-as="メモ"
                                                  class="form-control memo-text-area"
                                                  name="memo"
                                                  data-vv-scope="candidate"
                                                  :class="{'input': true, 'is-invalid': errors.has('candidate.memo') }"/>
              <div class="invalid-feedback">
                <ul>
                  <li v-show="errors.has('candidate.memo')"
                      v-cloak>
                    {{ errors.first('candidate.memo') }}
                  </li>
                </ul>
              </div>
          </div>
        </div>
          </form>
        </div>
      </div>
    </div>
    <template v-slot:footer>
      <button-loading type="button"
                      class="btn btn-secondary btn-search w-150p mr-2 ml-14 float-right"
                      :loading="buttonLoading"
                      :disabled="errors.has('candidate.*')"
                      @click.prevent.stop="post">
        保存
      </button-loading>
    </template>
  </modal-right>
</template>
<script type="text/ecmascript-6">
    import ModalRight from "../../components/modalRight"
    export default {
        name: "MemoEdit",
      components: { ModalRight },
      props: {
            memoEdit: {
                type: Object,
                required: true,
            },
        baseUrl: { type: String, required: true },
        },
      data: () => ({
        memo: "",
        candidateId:"",
        buttonLoading: false,
      }),
      watch: {
        memoEdit: {
          handler(data)
          {
            this.memo = data.memo;
            this.candidateId = data.candidateId
          },
          deep:true
        }
      },
        methods: {
            post() {
                this.buttonLoading = true
                this.$validator.validate("candidate.*").then((result) => {
                    if (result) {
                      var url =  this.baseUrl+'/client/selection/update-memo/'+this.candidateId;
                      axios.post(url, {
                        memo:this.memo
                      }).then(() => {
                        this.$toastr.s("成功しました。")
                        Bus.$emit("fetchCandidateData")
                        this.buttonLoading = false
                      }).catch(() => {
                        this.$toastr.e("エラーが発生しました")
                        this.buttonLoading = false
                      });
                      $("#memoEditModal").modal('hide')
                    } else {
                        this.buttonLoading = false
                    }
                })
            },
        },
    }
</script>
