<template>
    <div class="section-search-bar mt-5">
        <div class="row justify-content-md-center">
            <div class="col-lg-10">
                <form @submit.prevent="handleOnSubmit">
                    <div class="input-group mb-3">
                        <input v-model="searchText"
                               type="text"
                               class="form-control "
                               :placeholder="searchInputPlaceholder">
                        <button class="btn btn-secondary btn-search w-150p mr-2 ml-14" type="submit">
                            検索
                        </button>
                        <button class="btn btn-primary btn-search" type="button" @click="reset">
                            リセット
                        </button>
                    </div>
                    <div v-if="userType == 'normal' && !archiveStatus" class="input-group mb-3 search-candidate-box">
                        <v-select v-model="jd"
                                  class="candidate-parent-search"
                                  :options="get_applied_job_list"
                                  :reduce="job_title => job_title.job_id"
                                  label="job_title"
                                  @input="handleOnSubmit">
                            <span slot="no-options">
                                検索候補がありません
                            </span>
                        </v-select>
                        <v-select v-model="appliedVia"
                                  class="candidate-parent-search"
                                  :options="appliedViaOptions"
                                  :reduce="label => label.value"
                                  label="label"
                                  @input="handlePlatformSelect">
                            <span slot="no-options">
                                検索候補がありません
                            </span>
                        </v-select>
                        <v-select v-model="type"
                                  class="candidate-parent-search"
                                  :options="selectionStatus"
                                  :reduce="type => type.value"
                                  label="type"
                                  @input="handleOnSubmit">
                            <span slot="no-options">
                                検索候補がありません
                            </span>
                        </v-select>
                    </div>
                    <div v-if="userType == 'normal' && !archiveStatus" class="input-group mb-3 search-candidate-box">
                        <div class="box-input"/>
                        <div class="box-input">
                            <v-select v-if="appliedVia=='ats'"
                                      v-model="atsAgent"
                                      class="candidate-parent-search"
                                      :options="get_ats_agents_list"
                                      :reduce="label => label.value"
                                      label="label"
                                      @input="search">
                                <span slot="no-options">
                                    検索候補がありません
                                </span>
                            </v-select>
                            <v-select v-if="appliedVia == 'custom'"
                                      v-model="customPlatform"
                                      class="candidate-parent-search"
                                      :options="get_custom_platform_list"
                                      :reduce="label => label.value"
                                      label="label"
                                      @input="search">
                                <span slot="no-options">
                                    検索候補がありません
                                </span>
                            </v-select>
                        </div>
                        <div class="box-input">
                            <v-select v-if="type == 'first_interview' || type == 'second_interview' || type == 'third_interview' "
                                      v-model="subType"
                                      class="candidate-parent-search"
                                      :options="subSelectionStatus"
                                      :reduce="label => label.value"
                                      label="label"
                                      @input="handleSubSelect">
                                <span slot="no-options">
                                    検索候補がありません
                                </span>
                            </v-select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script type="text/ecmascript-6">
    import "vue-select/dist/vue-select.css"
    export default {
        name: "SearchBar",
        props: {
            filter: { type: Object, required: true },
            orgTypeProp: { type: [String, null] },
            propJobs: { type: Array, required: true },
            selectionStatus: { type: Array, required: true },
            customPlatformList: { type: Array, required: false },
            url: { type: String, required: true },
            userType: { type: String, required: true },
            atsAgents: { type: Array, required: false },
            archiveStatus: { type: Boolean, required: false },
        },
        data: () => ({
            searchText: "",
            orgType: "",
            searchInputPlaceholder: "",
            jd: "",
            appliedVia: "",
            customPlatform: "",
            atsAgent: "",
            type: "",
            subType: "",
            subSelectionStatus: [],
            appliedViaOptions: [{ value: "all", label: "応募経路" }, { value: "ats", label: "自社エージェント" }, { value: "jobins", label: "JoBins" }, { value: "custom", label: "その他" }],
        }),

        watch: {
            filter: {
                handler(data) {
                    this.searchText = data.searchText
                    this.jd = data.jd
                    this.type = data.type
                    this.subType = data.subType
                    this.appliedVia = data.appliedVia
                    this.customPlatform = data.customPlatform
                    this.atsAgent = data.atsAgent

                    this.listSubSelect();
                },
                immediate: true,
            },
            orgTypeProp: {
                handler(value) {
                    this.orgType = value
                    if (value === "agent") {
                        this.searchInputPlaceholder = "フリーワード検索（氏名、求人名、採用企業名、候補者提供エージェント名から検索できます）"
                    } else {
                        this.searchInputPlaceholder = "フリーワード検索（氏名、求人名、候補者提供エージェント名から検索できます）"
                    }
                },
                immediate: true,
            },
        },
        computed: {
            isArchived() {
                return this.archiveStatus;
            },
            get_applied_job_list() {
                const arr = [];
                arr.push({ job_id: 0, job_title: "求人名" })
                this.propJobs.map(p => {
                    if (parseInt(p.totalApplicants) > 0) {
                        arr.push({ job_id: p.job_id, job_title: (p.job_title.length > 20) ? p.job_title.substring(0, 20) + "..." : p.job_title })
                    }
                }).filter(p => p);
                return arr;
            },
            get_custom_platform_list() {
                const arr = [];
                arr.push({ label: "すべて", value: "all" })
                this.customPlatformList.map(pl => {
                    arr.push({ label: pl.custom_applied_via, value: pl.custom_applied_via })
                });
                return arr;
            },
            get_ats_agents_list() {
                const arr = [];
                arr.push({ label: "すべて", value: "all" })
                this.atsAgents.map(agent => {
                    arr.push({ label: agent.company_name, value: String(agent.company_id) })
                });
                return arr;
            },
        },
        created() {
            window.Bus.$on("archive-toggle", toggle => {
                if (toggle) {
                    this.appliedVia = "custom"
                    this.searchText = ""
                    this.type = "all"
                    this.atsAgent = "all"
                    this.customPlatform = "all"
                    this.jd = 0;
                } else {
                    this.appliedVia = "all"
                    this.type = "under_selection"
                    this.searchText = ""
                }
                this.search();
            });
        },
        methods: {
            handleOnSubmit() {
                if (this.userType === "normal") {
                    this.listSubSelect()
                    if (this.type !== "first_interview" && this.type !== "second_interview" && this.type !== "third_interview") {
                        this.subType = ""
                        this.search()
                    } else {
                        this.subType = String(this.type);
                        this.search()
                    }
                } else {
                    this.$emit("search", { searchText: this.searchText })
                }
            },
            reset() {
                window.location = this.url + "/client/candidateList"
            },
            listSubSelect() {
                const type = this.type
                const list = []
                $.each(this.selectionStatus, function(key, value) {
                    if (type === value.value) {
                        this.subType = "";
                        value.child.map(child => {
                            list.push({ label: child.childType, value: String(child.childValue) })
                        });
                    }
                });
                this.subSelectionStatus = list
            },
            handleSubSelect() {
                this.search()
            },
            handlePlatformSelect() {
                if (this.appliedVia === "jobins") {
                    this.customPlatform = "all";
                    this.atsAgent = "all";
                } else if (this.appliedVia === "ats") {
                    this.customPlatform = "all";
                    this.atsAgent = (this.atsAgent !== "") ? String(this.atsAgent) : "all"
                } else if (this.appliedVia === "custom") {
                    this.atsAgent = "all"
                    this.customPlatform = (this.customPlatform !== "") ? this.customPlatform : "all"
                } else {
                    this.appliedVia = "all"
                    this.customPlatform = "all"
                    this.atsAgent = "all"
                }
                this.search()
            },
            search() {
                this.$emit("search", { searchText: this.searchText, jd: this.jd, type: this.type, subType: this.subType, appliedVia: this.appliedVia, customPlatform: this.customPlatform, atsAgent: this.atsAgent })
            },

        },
    }
</script>
