<template>
    <div class="tool-tip-container" :style="styles">
        <span class="tool-tip-text">{{ text }}</span>
    </div>
</template>
<script>
    export default {
        props: {
            text: { type: String, required: true },
            styles: { type: String, default: "" },
        },
    }
</script>
<style scoped>
    .tool-tip-container{
        background: #000000ba;
        color:white;
        position: absolute;
        width: 80px;
    }
    .tool-tip-text{
      color:white
    }

</style>
