<template>
    <div id="exampleModal" class="modal right fade modal-right-pop " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content custom-scroll">
                <div class="modal-head">
                    <div class="modal-title ">
                        <div class="row">
                            <div class="col-6">
                                <h2>手動追加</h2>
                            </div>
                            <div class="col-6">
                                <button-loading v-if="formDisabled"
                                                :loading="editButtonLoading"
                                                type="button"
                                                class="btn btn-secondary btn-search w-150p mr-2 ml-14 float-right"
                                                @click="enableFormEdit">
                                  候補者情報を編集
                                </button-loading>
                                <button-loading v-if="showSelectionInfo && !formDisabled"
                                                :loading="editButtonLoading"
                                                :disabled="errors.has('apply.*') || editButtonLoading || fileSending"
                                                type="button"
                                                class="btn btn-secondary btn-search w-150p mr-2 ml-14 float-right"
                                                @click="update">
                                  候補者情報を保存
                                </button-loading>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body " id="seletion-modal-body">
                    <div class="modal-form">
                        <div class="wrapper-up">

                            <form>
                                <div class="form-group" v-if="userData.recommend_id">
                                    <label>推薦ID</label>
                                    <div class="form-input">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                {{ userData.recommend_id }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>氏名 <span class="required">*</span></label>
                                    <div class="form-input">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <input v-model="userData.surname"
                                                       v-validate="'required|max:100'"
                                                       type="text"
                                                       name="surname"
                                                       data-vv-scope="apply"
                                                       class="form-control"
                                                       placeholder="姓"
                                                       data-vv-as="姓"
                                                       :disabled="formDisabled"
                                                       :class="{'input': true, 'is-invalid': errors.has('apply.surname') }">
                                                <div class="invalid-feedback">
                                                    <ul>
                                                        <li v-show="errors.has('apply.surname')"
                                                            v-cloak>
                                                            {{ errors.first('apply.surname') }}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <input v-model="userData.first_name"
                                                       v-validate="'required|max:100'"
                                                       type="text"
                                                       name="first_name"
                                                       data-vv-scope="apply"
                                                       class="form-control"
                                                       placeholder="名"
                                                       data-vv-as="名"
                                                       :disabled="formDisabled"
                                                       :class="{'input': true, 'is-invalid': errors.has('apply.first_name') }">
                                                <div class="invalid-feedback">
                                                    <ul>
                                                        <li v-show="errors.has('apply.first_name')"
                                                            v-cloak>
                                                            {{ errors.first('apply.first_name') }}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>メール</label>
                                    <div class="form-input">
                                        <div class="full-width-input">
                                            <input v-model="userData.email"
                                                   v-validate="'email'"
                                                   data-vv-as="メール"
                                                   type="text"
                                                   name="email"
                                                   data-vv-scope="apply"
                                                   class="form-control"
                                                   placeholder="xxx@xxx.com"
                                                   :disabled="formDisabled"
                                                   :class="{'input': true, 'is-invalid': errors.has('apply.email') }">
                                            <div class="invalid-feedback">
                                                <ul>
                                                    <li v-show="errors.has('apply.email')"
                                                        v-cloak>
                                                        {{ errors.first('apply.email') }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>電話番号</label>
                                    <div class="form-input">
                                        <input v-model="userData.contact_no"
                                               v-validate="'max:100'"
                                               data-vv-as="電話番号"
                                               type="text"
                                               name="contact_no"
                                               data-vv-scope="apply"
                                               class="form-control"
                                               placeholder="090-000-0000"
                                               :disabled="formDisabled"
                                               :class="{'input': true, 'is-invalid': errors.has('apply.contact_no') }">
                                        <div class="invalid-feedback">
                                            <ul>
                                                <li v-show="errors.has('apply.contact_no')"
                                                    v-cloak>
                                                    {{ errors.first('apply.contact_no') }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>生年月日</label>
                                    <div class="form-input dob">
                                        <dropdown-datepicker v-model="userData.dob"
                                                             :wrapper-class="'birth'"
                                                             :dropdownClass="'form-control'"
                                                             :month-long-values="months"
                                                             :min-year="min_year"
                                                             :min-age="min_age"
                                                             :day-suffixes="false"
                                                             :on-day-change="dayChanged"
                                                             :on-month-change="monthChanged"
                                                             :on-year-change="yearChanged"
                                                             year-label="年"
                                                             month-label="月"
                                                             day-label="日"
                                        ref="dobPicker"/>
                                        <input :value="userData.dob"
                                               class="form-control col"
                                               type="hidden"
                                               name="dob"
                                               data-vv-as="生年月日"
                                               data-vv-scope="apply"
                                               :class="{'input': true, 'is-invalid': errors.has('apply.dob')}">
                                        <div class="invalid-feedback">
                                            <ul>
                                                <li v-show="errors.has('apply.dob')"
                                                    v-cloak>
                                                    {{ errors.first('apply.dob') }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>応募求人 <span class="required">*</span></label>
                                    <div class="form-input">
                                        <div class="full-width-input">
                                        <select class="form-control"
                                                v-model="userData.job_id"
                                                name="job_id"
                                                v-validate="'required'"
                                                data-vv-as="応募求人"
                                                data-vv-scope="apply"
                                                :disabled="formDisabled"
                                                :class="{'input': true, 'is-invalid': errors.has('apply.job_id') }">
                                            <option value="" selected>選択してください</option>
                                            <option v-for="(job, index) in openJobList" :key="index" :value="job.job_id">
                                                {{ job.job_title }}
                                            </option>
                                        </select>
                                        <div class="invalid-feedback">
                                            <ul>
                                                <li v-show="errors.has('apply.job_id')"
                                                    v-cloak>
                                                    {{ errors.first('apply.job_id') }}
                                                </li>
                                            </ul>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>応募経路 <span class="required">*</span></label>
                                    <div class="form-input">
                                        <div class="full-width-input">
                                        <input v-model="userData.custom_applied_via"
                                               v-validate="'required|max:100'"
                                               data-vv-as="応募経路"
                                               type="text"
                                               name="custom_applied_via"
                                               data-vv-scope="apply"
                                               class="form-control"
                                               placeholder="自社HP　など"
                                               :disabled="formDisabled"
                                               :class="{'input': true, 'is-invalid': errors.has('apply.custom_applied_via') }">
                                        <div class="invalid-feedback">
                                            <ul>
                                                <li v-show="errors.has('apply.custom_applied_via')"
                                                    v-cloak>
                                                    {{ errors.first('apply.custom_applied_via') }}
                                                </li>
                                            </ul>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>応募日</label>
                                    <div class="form-input" id="date">
                                        <input class="form-control datepicker" name="apply_date"
                                               data-vv-as="回答期限" data-vv-scope="apply"
                                               :class="{'input': true, 'is-invalid': errors.has('apply.apply_date') }" autocomplete="off" id="apply_date_picker">
                                        <img src="/assets/client/images/calendar-icon.png" alt="" class="calendar-icon">

                                        <div class="invalid-feedback">
                                            <ul>
                                                <li v-show="errors.has('apply.apply_date')"
                                                    v-cloak>
                                                    {{ errors.first('apply.apply_date') }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group choose-file-wrap">
                                    <label>ファイル</label>
                                    <div class="form-input">
                                        <vue-dropzone ref="myVueDropzone" id="dropzoneCandidate"
                                                      :options="dropzoneOptions"
                                                      :include-styling="false"
                                                      :useCustomSlot="true"
                                                      @vdropzone-removed-file="removedFile"
                                                      @vdropzone-success="resumeSuccess"
                                                      @vdropzone-error="fileUploadError"
                                                      @vdropzone-sending="sendingFile">

                                            <label class="choose"> ファイルを選択
                                            </label>
                                        </vue-dropzone>
                                        <div id="dz-upload-previews" class="selected-file">

                                        </div>
                                        <div class="selected-file" v-for="file  in uploadedFiles">
                                            <div class="download-icon">

                                                <img src="/assets/client/images/file-download.png" alt="">
                                            </div>
                                            <h5>
                                                <a :href="'/client/selection/download-file/candidateOther/'+file.fileName+'/'+file.uploadName" >
                                                    {{file.uploadName}}
                                                </a>
                                            </h5>
                                            <a href="javascript:void(0);" class="trash-icon" @click="removeOtherDoc(file)" v-show="!formDisabled">
                                                <img src="/assets/client/images/trash-icon.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>メモ</label>
                                    <div class="form-input">
                                        <div class="full-width-input">
                                        <textarea v-model="userData.memo"
                                                  v-validate="'max:500'"
                                                  data-vv-as="メモ"
                                                  class="form-control"
                                                  name="memo"
                                                  data-vv-scope="apply"
                                                  :disabled="formDisabled"
                                                  :class="{'input': true, 'is-invalid': errors.has('apply.memo') }"/>
                                        <div class="invalid-feedback">
                                            <ul>
                                                <li v-show="errors.has('apply.memo')"
                                                    v-cloak>
                                                    {{ errors.first('apply.memo') }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div v-show="showSelectionInfo" class="timeline-wrapper">
                            <div class="select-status">
                                <h2>選考ステータス</h2>
                                <div class="status-btn" v-if="showClientReject || showAgentDecline">
                                    <button-loading :loading="rejectButtonLoading"
                                                    :disabled="rejectButtonLoading || !atsPermission"
                                                    v-if="showClientReject"
                                                    class="custom-refer-btn"
                                                    @click="rejectSelection">
                                        選考中止
                                    </button-loading>
                                    <button-loading :loading="declineButtonLoading"
                                                    :disabled="declineButtonLoading || !atsPermission"
                                                    v-if="showAgentDecline"
                                                    class="custom-refer-btn"
                                                    @click="declineSelection">
                                        辞退
                                    </button-loading>
                                </div>
                            </div>
                            <div class="entry">
                                <div v-for="stage in selectionStages" class="entry-content">
                                    <h5>{{ stage.status }}</h5>
                                    <a href="javascript:void(0);" class="reschedule-interview" v-if="stage.reschedule" @click="rescheduleBtnClick">
                                        日程調整に戻る
                                    </a>
                                    <span :class="{'interview-date-preview':stage.hiring_date_adjust}">{{ stage.created_at }}</span>
                                    <img src="/assets/client/images/check-mark.png" alt="" class="check">
                                    <div v-show="stage.interview_date_adjust" style="padding-top:15px;">
                                        <h5>面接面日</h5>
                                        <span :class="{'interview-date-preview':stage.interview_date_adjust}">{{ stage.interview_date }}</span>

                                    </div>
                                </div>

                                <div v-show="showInterviewDateSchedule && atsPermission" :key="'interview-block'" class="entry-content last">

                                    <div class="interview incomplete">
                                        <div class="form-group" id="interview-date" v-show="showInterviewDateSchedule" :key="'date-picker-block'">
                                            <div class="full-width-input interview-date-select">
                                                <input class="form-control interview_date_picker" name="interview_date" placeholder="面接日を変更"
                                                       data-vv-scope="interview-date" data-vv-as="日付" v-validate="'required'"
                                                       :class="{'input': true, 'is-invalid': errors.has('interview-date.interview_date') }" autocomplete="off" id="interview_date_picker">
                                                <img src="/assets/client/images/calendar-icon.png" alt="" class="calendar-icon">
                                                <div class="invalid-feedback">
                                                    <ul>
                                                        <li v-show="errors.has('interview-date.interview_date')"
                                                            v-cloak>
                                                            {{errors.first('interview-date.interview_date')}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="full-width-input">
                                                <select class="form-control td" id="exampleFormControlSelect1" name="interview_start_hour" v-model="interview_start_hour" data-vv-scope="interview-date" data-vv-as="時" v-validate="'required'"
                                                        :class="{'input': true, 'is-invalid': errors.has('interview-date.interview_start_hour') }" autocomplete="off">
                                                    <option></option>
                                                    <option v-for="item in 24" :value="item">{{item}}</option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    <ul>
                                                        <li v-show="errors.has('interview-date.interview_start_hour')"
                                                            v-cloak>
                                                            {{errors.first('interview-date.interview_start_hour')}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <label> 時</label>
                                        </div>
                                        <div class="form-group">
                                            <div class="full-width-input">
                                                <select class="form-control" name="interview_start_minutes" v-model="interview_start_minutes" data-vv-scope="interview-date" data-vv-as=" 分 スタート" v-validate="'required'"
                                                        :class="{'input': true, 'is-invalid': errors.has('interview-date.interview_start_minutes') }" autocomplete="off">
                                                    <option></option>
                                                    <option value="00">00</option>
                                                    <option value="15">15</option>
                                                    <option value="30">30</option>
                                                    <option value="45">45</option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    <ul>
                                                        <li v-show="errors.has('interview-date.interview_start_minutes')"
                                                            v-cloak>
                                                            {{errors.first('interview-date.interview_start_minutes')}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <label> 分スタート</label>
                                        </div>
                                    </div>

                                    <h2 v-if="stage_change_status=='N' && showInterviewDateSchedule" class="enter-msge">
                                        ※予定日を過ぎると選考結果を入力できるようになります
                                    </h2>
                                </div>

                                <div v-show="showHiringDate && atsPermission" :key="'hiring-date-picker-block'" class="entry-content last">

                                    <div class="interview incomplete">
                                        <div class="form-group" id="interview-date" :key="'h-date-picker-block'">
                                            <div class="full-width-input">
                                                <input class="form-control interview_date_picker" name="hiring_date" placeholder="入社日"
                                                       data-vv-scope="hiring-date" data-vv-as="入社日" v-validate="'required'"
                                                       :class="{'input': true, 'is-invalid': errors.has('hiring-date.hiring_date') }" autocomplete="off" id="hiring_date_picker">
                                                <img src="/assets/client/images/calendar-icon.png" alt="" class="calendar-icon">
                                                <div class="invalid-feedback">
                                                    <ul>
                                                        <li v-show="errors.has('hiring-date.hiring_date')"
                                                            v-cloak>
                                                            {{errors.first('hiring-date.hiring_date')}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div v-show="showNextSelectionStages && !showHiringDate && atsPermission" :key="1223" class="entry-content last">
                                    <div class="alert-custom dark-alert" id="option-for-next-selection" xmlns="http://www.w3.org/1999/html" v-show="!showNextStageDropdown">
                                        <div class="alert-content float-left" >
                                            {{selectionConfirmationMessage}}

                                        </div>
                                        <div class="btn-wrapper">
                                            <button-loading :loading="cancelSelectionButton" :disable="cancelSelectionButton" class="btn btn-gray float-right w-100p ml-2"
                                               @click="cancelSelectionStage">
                                                不合格
                                            </button-loading>
                                            <button @click="getNextSelectionStages('show')" class="btn btn-primary float-right w-100p custom-next-step-btn">
                                                合格
                                            </button>
                                        </div>
                                        <!-- Modal -->

                                    </div>
                                    <div class="row" v-show="showNextStageDropdown">
                                        <div class="col-md-9">

                                            <div class="form-group" >
                                                <select class="form-control"
                                                        v-model="nextStageId"
                                                        v-validate="'required'"
                                                        type="text"
                                                        name="nextStageId"
                                                        data-vv-scope="stageChange"
                                                        data-vv-as="次の一歩"
                                                        :class="{'input': true, 'is-invalid': errors.has('stageChange.nextStageId') }">
                                                    <option value="" selected>次のステップを選んでください</option>
                                                    <option v-for="nextStage in nextSelectionStages" :value="nextStage.id">{{nextStage.title_ja}}</option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    <ul>
                                                        <li v-show="errors.has('stageChange.nextStageId')"
                                                            v-cloak>
                                                            {{ errors.first('stageChange.nextStageId') }}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="btn-wrapper" v-show="selectionConfirmationMessage && showNextStageDropdown">
                                                <button @click="getNextSelectionStages('hide')" class="btn btn-gray float-right w-100p ml-2 custom-next-step-btn">
                                                    戻る
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div v-show="showSelectionCompleted" :key="'comp'" class="entry-content last">

                                    <div class="alert-custom dark-alert">
                                        <div class="alert-content float-left" >
                                            この選考は終了したのでステータスの変更はできません。

                                        </div>

                                    </div>
                                </div>
                                <div v-show="showRescheduleConfirmation  && atsPermission" :key="1224" class="entry-content last">
                                    <div class="alert-custom dark-alert" id="option-for-next-selection" xmlns="http://www.w3.org/1999/html" v-show="!showNextStageDropdown">
                                        <div class="alert-content float-left" >
                                            実行しますか？

                                        </div>
                                        <div class="btn-wrapper">
                                            <button class="btn btn-gray float-right w-100p ml-2 custom-next-step-btn"
                                                            @click="rescheduleModalClose">
                                                キャンセル
                                            </button>
                                            <button-loading :loading="selectionLodingButton" :disable="selectionLodingButton" @click="rescheduleConfirmed" class="btn btn-primary float-right w-100p custom-next-step-btn reschedule-confirm-btn">
                                                はい
                                            </button-loading>
                                        </div>
                                        <!-- Modal -->

                                    </div>
                                    <div class="row" v-show="showNextStageDropdown">
                                        <div class="col-md-9">

                                            <div class="form-group" >
                                                <select class="form-control"
                                                        v-model="nextStageId"
                                                        v-validate="'required'"
                                                        type="text"
                                                        name="nextStageId"
                                                        data-vv-scope="stageChange"
                                                        data-vv-as="次の一歩"
                                                        :class="{'input': true, 'is-invalid': errors.has('stageChange.nextStageId') }">
                                                    <option value="" selected>次のステップを選んでください</option>
                                                    <option v-for="nextStage in nextSelectionStages" :value="nextStage.id">{{nextStage.title_ja}}</option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    <ul>
                                                        <li v-show="errors.has('stageChange.nextStageId')"
                                                            v-cloak>
                                                            {{ errors.first('stageChange.nextStageId') }}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="btn-wrapper" v-show="selectionConfirmationMessage && showNextStageDropdown">
                                                <button @click="getNextSelectionStages('hide')" class="btn btn-gray float-right w-100p ml-2 custom-next-step-btn">
                                                    戻る
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div v-if="!atsPermission && !showSelectionCompleted" :key="'ats-check'" class="entry-content last">

                                    <div class="alert-custom dark-alert mt-2">
                                        <div class="alert-content float-left">
                                            <div class="form-holder">
                                                <p class="pt-2">
                                                    トライアル期間が終了しました。<br>
                                                    引き続き採用管理機能を使うには、有料のアップグレードが必要です。
                                                </p>
                                            </div>
                                        </div>
                                        <div class="btn-wrapper">
                                            <button type="button" class="btn btn-primary float-right w-100p terminate-btn ml-2" @click="showAtsStartModal">
                                              上記内容に同意してアップグレード
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer shadow-box">
                  <button-loading v-if="!showSelectionInfo"
                                  :loading="applyButtonLoading"
                                  :disabled="errors.has('apply.*') || applyButtonLoading || fileSending"
                                  type="button"
                                  class="btn btn-secondary btn-search w-150p mr-4 ml-14"
                                  @click="apply">
                    候補者情報を保存
                  </button-loading>
                  <div v-if="showSelectionInfo && atsPermission">
                    <button-loading v-show="showSelectionInfo && showNextSelectionStages && !showHiringDate && showNextStageDropdown" :loading="selectionLodingButton"
                                    :disabled="selectionLodingButton || !atsPermission"
                                    type="button"
                                    class="btn btn-secondary btn-search w-150p mr-4 ml-14"
                                    @click="changeStage">
                      選考ステータスを保存
                    </button-loading>
                    <button-loading v-show="showSelectionInfo && showInterviewDateSchedule" :loading="selectionLodingButton"
                                    :disabled="selectionLodingButton || !atsPermission"
                                    type="button"
                                    class="btn btn-secondary btn-search w-150p mr-4 ml-14"
                                    @click="scheduleInterviewDate">
                      選考ステータスを保存
                    </button-loading>
                    <button-loading v-show="showSelectionInfo && showHiringDate" :loading="selectionLodingButton"
                                    :disabled="selectionLodingButton || !atsPermission"
                                    type="button"
                                    class="btn btn-secondary btn-search w-150p mr-4 ml-14"
                                    @click="setHiringDate">
                      選考ステータスを保存
                    </button-loading>

                  </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script type="text/ecmascript-6">
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import {ja} from 'vuejs-datepicker/dist/locale'
import moment from "moment";
export default
{
    name: "UserModal",
    props: {
        userDataProp: { type: Object, required: true },
        openJobsProp: { type: Array, required: true },
    },
    data: () => ({
        showRescheduleConfirmation: false,
        ja: ja,
        disabledDateTo: { to: new Date(Date.now() - 8640000) },
        disabledDateFrom: { from: new Date(Date.now() ) },
        min_year: 1960,
        min_age: 1,
        months: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"],
        dropzoneOptions: {
            url: '/client/upload/pdf',
            maxFilesize: 3, // MB
            maxFiles: 3,
            addRemoveLinks: true,
            acceptedFiles: "application/pdf",
            dictDefaultMessage: "ファイルのみ（3MBまで）",
            dictRemoveFile: "ファイルを削除",
            dictResponseError: "（3MB以下）",
            dictInvalidFileType: "（無効なファイルタイプ）",
            dictFileTooBig: "画像は最大3MBまでです",
            dictMaxFilesExceeded: "You cannot upload more than 3 file",
            headers: { "X-CSRF-TOKEN": $("meta[name=\"csrf-token\"]").attr("content") },
            previewTemplate: `
                <div class="selected-file">
                    <div class="download-icon">

                        <img src="/assets/client/images/file-download.png" alt="">
                    </div>
                    <h5><span class="name" data-dz-name></span></h5>
                    <a href="javascript:void(0);" class="trash-icon" data-dz-remove>
                        <img src="/assets/client/images/trash-icon.png" alt="">
                    </a>
                   <strong class="error text-danger dz-error-message" data-dz-errormessage></strong>
                </div>`,
            previewsContainer: '#dz-upload-previews',
        },
        userData: {
            candidate_id: "",
            recommend_id: "",
            surname: "",
            first_name: "",
            email: "",
            contact_no: "",
            dob: "",
            job_id: "",
            custom_applied_via: "",
            apply_date: "",
            files: [],
            memo: "",
            other_doc_del_id: [],
        },
        uploadedFiles: [],
        openJobList:[],
        applyButtonLoading: false,
        editButtonLoading: false,
        userModalOpen: false,
        selectionLodingButton: false,
        showSelectionInfo: false,
        selectionStages:[],
        nextSelectionStages:[],
        showNextSelectionStages: false,
        showInterviewDateSchedule: false,
        showHiringDate: false,
        showClientReject: false,
        showAgentDecline: false,
        showSelectionCompleted: false,
        nextStageId:'',
        formDisabled: false,
        interview_date: '',
        interview_start_hour: '',
        interview_start_minutes: '',
        stage_change_status: 'N',
        hiring_date: '',
        rejectButtonLoading: false,
        declineButtonLoading: false,
        cancelSelectionButton: false,
        fileSending: false,
        selectionConfirmationMessage: '',
        showNextStageDropdown: false,
        atsPermission: false,
    }),
    watch: {
        userDataProp: {
            handler(data) {
                this.userData.surname = data.surname
                this.userData.first_name = data.first_name
                this.userData.email = data.email
                this.userData.contact_no = data.contact_no
                this.userData.dob = data.dob
                this.userData.job_id = data.job_id
                this.userData.custom_applied_via = data.custom_applied_via
                this.userData.apply_date = data.apply_date
                this.uploadedFiles = data.files
                this.userData.memo = data.memo
                this.userData.candidate_id = data.candidate_id
                this.userData.recommend_id = data.recommend_id
                this.userModalOpen = data.userModalOpen
                this.showSelectionInfo = data.showSelectionInfo
                this.selectionStages = data.selectionStages
                this.nextSelectionStages = data.nextSelectionStages
                this.showNextSelectionStages = data.showNextSelectionStages
                this.showInterviewDateSchedule = data.showInterviewDateSchedule
                this.showHiringDate = data.showHiringDate
                this.showClientReject = data.showClientReject
                this.selectionConfirmationMessage = data.selectionConfirmationMessage
                this.showAgentDecline = data.showAgentDecline
                this.showSelectionCompleted = data.showSelectionCompleted
                this.atsPermission = data.atsPermission
                this.formDisabled = data.formDisabled;
                this.nextStageId = ''
                this.interview_date = ''
                this.interview_start_hour = ''
                this.interview_start_minutes = ''
                this.hiring_date = ''
                this.stage_change_status = data.interviewStageChangeStatus
                this.showRescheduleConfirmation = false
                if (data.selectionConfirmationMessage.length > 0) {
                    this.showNextStageDropdown = false;
                } else {
                    this.showNextStageDropdown = true;
                }
                if (data.showSelectionInfo) {
                    this.updateApplyDate(data.apply_date)
                } else {
                    this.enableFormEdit()
                }
                if(data.formDisabled) {
                    $('#apply_date_picker').prop('disabled',true)
                    $('#year').prop('disabled',true)
                    $('#month').prop('disabled',true)
                    $('#day').prop('disabled',true)
                    $(".dz-hidden-input").prop("disabled",true);
                } else {
                  this.enableFormEdit()
                }
                this.$validator.reset()
            },
            deep: true,
            immediate: true,
        },
        openJobsProp:{
            handler(jobs)
            {
                this.openJobList = jobs
            },
            immediate: true
        }
    },
    methods: {
        apply() {
            this.applyButtonLoading = true
            this.setApplyDate()
            this.$validator.validate("apply.*").then((result) => {
                if (result) {
                    axios.post("/client/custom-candidate/refer" , this.userData).then(response => {
                      window.location.reload()
                    }).catch(error => {
                        this.applyButtonLoading = false
                        if (error.response.status == 422) {
                            this.validationErrors = error.response.data;
                            if (this.validationErrors.job_id) {
                                this.$validator.errors.add({ field: "apply.job_id", msg: this.validationErrors.job_id[0] });
                            }
                            if (this.validationErrors.surname) {
                                this.$validator.errors.add({ field: "apply.surname", msg: this.validationErrors.surname[0] });
                            }
                            if (this.validationErrors.first_name) {
                                this.$validator.errors.add({ field: "apply.first_name", msg: this.validationErrors.first_name[0] });
                            }
                            if (this.validationErrors.email) {
                                this.$validator.errors.add({ field: "apply.email", msg: this.validationErrors.email[0] });
                            }
                            if (this.validationErrors.custom_applied_via) {
                                this.$validator.errors.add({ field: "apply.custom_applied_via", msg: this.validationErrors.custom_applied_via[0] });
                            }
                            if (this.validationErrors.memo) {
                                this.$validator.errors.add({ field: "apply.memo", msg: this.validationErrors.memo[0] });
                            }

                        }
                    })
                } else {
                    this.applyButtonLoading = false
                }
            })
        },
        update() {
            this.editButtonLoading = true
            this.setApplyDate()
            this.$validator.validate("apply.*").then((result) => {
                if (result) {
                    axios.post("/client/custom-candidate/refer/" + this.userData.candidate_id, this.userData).then(response => {
                      this.editButtonLoading = false
                      $('#dz-upload-previews').html('')
                      this.userData.files = []
                      this.userData.other_doc_del_id = []
                      this.successResponse()
                    }).catch(error => {
                        this.editButtonLoading = false
                        if (error.response.status == 422) {
                            this.validationErrors = error.response.data;
                            if (this.validationErrors.job_id) {
                                this.$validator.errors.add({ field: "apply.job_id", msg: this.validationErrors.job_id[0] });
                            }
                            if (this.validationErrors.surname) {
                                this.$validator.errors.add({ field: "apply.surname", msg: this.validationErrors.surname[0] });
                            }
                            if (this.validationErrors.first_name) {
                                this.$validator.errors.add({ field: "apply.first_name", msg: this.validationErrors.first_name[0] });
                            }
                            if (this.validationErrors.email) {
                                this.$validator.errors.add({ field: "apply.email", msg: this.validationErrors.email[0] });
                            }
                            if (this.validationErrors.custom_applied_via) {
                                this.$validator.errors.add({ field: "apply.custom_applied_via", msg: this.validationErrors.custom_applied_via[0] });
                            }
                            if (this.validationErrors.memo) {
                                this.$validator.errors.add({ field: "apply.memo", msg: this.validationErrors.memo[0] });
                            }
                        }
                    })
                } else {
                    this.editButtonLoading = false
                }
            })
        },
        resumeSuccess(file, response) {
            this.userData.files[this.userData.files.length]=response.data
            this.fileSending = false;
        },
        sendingFile(file, xhr, formData) {
            this.fileSending = true;
        },
        fileUploadError(file, message, xhr) {
            if (xhr) {
                $(file.previewElement).find('.dz-error-message').text('エラーが発生しました');
            }
            this.fileSending = false;
        },
        removedFile(file, error, xhr) {
            this.userData.files = this.userData.files.filter(function(el) { return el.uploadName != file.name; });
            axios.post("/client/upload/remove", { file:file.name })
            this.fileSending = false;
        },
        removeOtherDoc(file) {
            this.uploadedFiles = this.uploadedFiles.filter(function(el) { return el.other_document_id != file.other_document_id; });
            this.userData.other_doc_del_id.push(file.other_document_id);
        },
        formatDate(event){
            return moment(event).format('YYYY-MM-DD');
        },
        dayChanged(){
            if(this.userModalOpen) {
                this.$refs.dobPicker.month=null;
                this.$refs.dobPicker.year=null;
                this.$refs.dobPicker.init();
                this.userModalOpen = false;
                this.userData.dob = '';
            }
        },
        monthChanged(){
            if(this.userModalOpen) {
                this.$refs.dobPicker.day=null;
                this.$refs.dobPicker.year=null;
                this.$refs.dobPicker.init();
                this.userModalOpen = false;
                this.userData.dob = '';
            }
        },
        yearChanged(){
            if(this.userModalOpen) {
                this.$refs.dobPicker.day=null;
                this.$refs.dobPicker.month=null;
                this.$refs.dobPicker.init();
                this.userModalOpen = false;
                this.userData.dob = '';
            }
        },
        enableFormEdit(){
            this.formDisabled = false
            $('#apply_date_picker').prop('disabled', false)
            $('#year').prop('disabled', false)
            $('#month').prop('disabled', false)
            $('#day').prop('disabled', false)
            $(".dz-hidden-input").prop("disabled", false);
            this.scrollModelToTop()
        },
        changeStage() {
            if (this.checkAtsPermission()) {
                this.selectionLodingButton = true
                this.$validator.validate("stageChange.*").then((result) => {
                    if (result) {
                        axios.post("/client/custom-candidate/change-stage/" + this.userData.candidate_id, {
                            selection_id: this.nextStageId
                        }).then(response => {
                          this.selectionLodingButton = false
                            this.successResponse()
                            this.scrollModelToBottom()
                        }).catch(error => {
                            this.selectionLodingButton = false
                            if (error.response.status == 422) {
                                this.validationErrors = error.response.data;
                                if (this.validationErrors.selection_id) {
                                    this.$validator.errors.add({ field: "stageChange.nextStageId", msg: this.validationErrors.selection_id[0] });
                                }
                            }
                        })
                    } else {
                        this.selectionLodingButton = false
                    }
                })
            }
        },
        scheduleInterviewDate() {
            if (this.checkAtsPermission()) {
                this.selectionLodingButton = true
                this.$validator.validate("interview-date.*").then((result) => {
                    if (result) {
                        axios.post("/client/custom-candidate/schedule-interview", {
                            candidate_id: this.userData.candidate_id,
                            interview_date: $('#interview_date_picker').val(),
                            interview_start_hour: this.interview_start_hour,
                            interview_start_minutes: this.interview_start_minutes,
                            stage_change_status: this.stage_change_status
                        }).then(response => {
                          this.selectionLodingButton = false
                          $('#interview_date_picker').val('')
                            this.successResponse()
                            this.scrollModelToBottom()
                        }).catch(error => {
                            this.selectionLodingButton = false
                            if (error.response.status == 422) {
                                this.validationErrors = error.response.data;
                                if (this.validationErrors.interview_date) {
                                    this.$validator.errors.add({ field: "interview-date.interview_date", msg: this.validationErrors.interview_date[0] });
                                }
                                if (this.validationErrors.interview_start_hour) {
                                    this.$validator.errors.add({ field: "interview-date.interview_start_hour", msg: this.validationErrors.interview_start_hour[0] });
                                }
                                if (this.validationErrors.interview_start_minutes) {
                                    this.$validator.errors.add({ field: "interview-date.interview_start_minutes", msg: this.validationErrors.interview_start_minutes[0] });
                                }
                            }
                        })
                    } else {
                        this.selectionLodingButton = false
                    }
                })
            }
        },
        setHiringDate() {
            if (this.checkAtsPermission()) {
                this.selectionLodingButton = true
                this.$validator.validate("hiring-date.*").then((result) => {
                    if (result) {
                        axios.post("/client/custom-candidate/hiring-date", {
                            candidate_id: this.userData.candidate_id,
                            hiring_date: $('#hiring_date_picker').val(),
                        }).then(response => {
                          this.selectionLodingButton = false
                            this.successResponse()
                            this.scrollModelToBottom()
                        }).catch(error => {
                            this.selectionLodingButton = false
                            if (error.response.status == 422) {
                                this.validationErrors = error.response.data;
                                if (this.validationErrors.hiring_date) {
                                    this.$validator.errors.add({ field: "hiring-date.hiring_date", msg: this.validationErrors.hiring_date[0] });
                                }
                            }
                        })
                    } else {
                        this.selectionLodingButton = false
                    }
                })
            }
        },
        rejectSelection() {
            if (this.checkAtsPermission()) {
                this.rejectButtonLoading = true
                axios.post("/client/custom-candidate/reject/" + this.userData.candidate_id, {
                    reject_status: 'reject',
                }).then(response => {
                  this.rejectButtonLoading = false
                    this.successResponse()
                    this.scrollModelToBottom()
                }).catch(error => {
                    this.rejectButtonLoading = false
                })
            }
        },
        declineSelection() {
            if (this.checkAtsPermission()) {
                this.declineButtonLoading = true
                axios.post("/client/custom-candidate/reject/" + this.userData.candidate_id, {
                    reject_status: 'decline',
                }).then(response => {
                  this.declineButtonLoading = false
                    this.successResponse()
                    this.scrollModelToBottom()
                }).catch(error => {
                    this.declineButtonLoading = false
                })
            }
        },
        cancelSelectionStage() {
            if (this.checkAtsPermission()) {
                this.cancelSelectionButton = true
                axios.post("/client/custom-candidate/reject/" + this.userData.candidate_id, {
                    reject_status: 'selection',
                }).then(response => {
                  this.cancelSelectionButton = false
                    this.successResponse()
                    this.scrollModelToBottom()
                }).catch(error => {
                    this.cancelSelectionButton = false
                })
            }
        },
        successResponse() {
            this.$emit('changeStage',this.userData.candidate_id)
        },
        updateApplyDate(date) {
            $('#apply_date_picker').datepicker('update', '');
            $('#apply_date_picker').datepicker('update', date);
        },
        setApplyDate() {
            var applyDate = $('#apply_date_picker').val();
            this.userData.apply_date = applyDate;
        },
        getNextSelectionStages(status) {
            if (status == 'show') {
                this.showNextStageDropdown = true;
            } else {
                this.showNextStageDropdown = false;
            }
        },
        rescheduleBtnClick() {
            this.showRescheduleConfirmation = true
            this.showNextSelectionStages = false
            this.showNextStageDropdown = false
        },
        rescheduleConfirmed() {
            var interviewStage = this.selectionStages.filter(function(i){return i.reschedule===true;})
            if (interviewStage.length === 1) {
                this.nextStageId = interviewStage[0].selection_id
                this.changeStage()
            }
        },
        rescheduleModalClose() {
            this.showRescheduleConfirmation = false
            this.showNextSelectionStages = true

        },
        checkAtsPermission() {
            return this.atsPermission;
        },
        showAtsStartModal() {
            $('#exampleModal').modal('hide')
            $('#service-start-modal').modal('show')
        },
        scrollModelToBottom() {
            $("#seletion-modal-body").animate({ scrollTop: $('#seletion-modal-body').prop("scrollHeight")}, 1500);
        },
        scrollModelToTop() {
            $("#seletion-modal-body").animate({ scrollTop: 0}, 500);
        }
    },

}
</script>
<style>
.dz-remove {
    display: none;
}
button.btn.btn-primary.float-right.w-100p.terminate-btn {
    width: 250px;
}
</style>
