/*name is 10 but works as 70*/
.mt-10 {
    margin-top: 70px;
}

.mt-40 {
    margin-top: 40px;
}

.custom-legend {
    position: absolute;
    top: 20%;
    right: 10%;
}

/*@media (max-width: 1500px) {*/
/*    .custom-legend {*/
/*        position: inherit;*/
/*    }*/
/*}*/


@media (max-width: 1500px) {
    .co-md-laptop-6 {
        width: 100% !important;
    }

}

.legend-marker {
    padding-bottom: 5px;
    font-size: 9pt;
}


#sub-job-applied-chart .custom-legend .legend-marker {
    padding-bottom: 5px;
    font-size: 9pt;
    display: inline-block;
}

.legend-marker-color {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.custom-legend.sub-job-legend {
    position: absolute;
    top: 20%;
    right: 0;
}

#sub-job-applied-chart {
    margin-bottom: 50px;
}

#sub-job-applied-chart .custom-legend.sub-job-legend {
    position: inherit;

}

.scroll-content {
    overflow-x: scroll;
    overflow-y: hidden;
}

svg > g > g:last-child {
    pointer-events: none
}

.box p {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px 20px;
    background: white;
}

.custom_pagination {

}

.custom_pagination li {
    display: inline-block;
    padding: 0px 10px;
    margin: 5px;
    background: #2D9BB7;
}

.custom_pagination li p.page {
    padding: 0;
    margin: 0;
    color: white

}