@charset "UTF-8";

@font-face {
  font-family: "jobins-icon";
  src:url("fonts/jobins-icon.eot");
  src:url("fonts/jobins-icon.eot?#iefix") format("embedded-opentype"),
    url("fonts/jobins-icon.woff") format("woff"),
    url("fonts/jobins-icon.ttf") format("truetype"),
    url("fonts/jobins-icon.svg#jobins-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "jobins-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "jobins-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vcard:before {
  content: "\61";
}
.icon-twitter-alt:before {
  content: "\62";
}
.icon-youtube:before {
  content: "\63";
}
.icon-youtube-alt:before {
  content: "\64";
}
.icon-skype:before {
  content: "\65";
}
.icon-linkedin:before {
  content: "\66";
}
.icon-google:before {
  content: "\67";
}
.icon-facebook:before {
  content: "\68";
}
.icon-facebook-places:before {
  content: "\69";
}
.icon-heart:before {
  content: "\6a";
}
.icon-mail:before {
  content: "\6b";
}
.icon-location:before {
  content: "\6c";
}
.icon-like:before {
  content: "\6d";
}
.icon-search:before {
  content: "\6e";
}
.icon-diamond:before {
  content: "\6f";
}
.icon-eye:before {
  content: "\70";
}
.icon-params:before {
  content: "\72";
}
.icon-paperplane:before {
  content: "\73";
}
.icon-trash:before {
  content: "\74";
}
.icon-pen:before {
  content: "\75";
}
.icon-photo:before {
  content: "\76";
}
.icon-settings:before {
  content: "\77";
}
.icon-tag:before {
  content: "\79";
}
.icon-camera:before {
  content: "\41";
}
.icon-clip:before {
  content: "\42";
}
.icon-bulb:before {
  content: "\43";
}
.icon-bubble:before {
  content: "\44";
}
.icon-user-outline:before {
  content: "\45";
}
.icon-user:before {
  content: "\78";
}
.icon-unlocked:before {
  content: "\46";
}
.icon-users-outline:before {
  content: "\47";
}
.icon-users:before {
  content: "\48";
}
.icon-stopwatch:before {
  content: "\49";
}
.icon-power:before {
  content: "\4a";
}
.icon-pin:before {
  content: "\4b";
}
.icon-star-1:before {
  content: "\4c";
}
.icon-paperclip:before {
  content: "\71";
}
.icon-phone:before {
  content: "\4d";
}
.icon-picture:before {
  content: "\4e";
}
.icon-lock-1:before {
  content: "\4f";
}
.icon-diamond-1:before {
  content: "\7a";
}
.icon-files:before {
  content: "\50";
}
.icon-angle-down:before {
  content: "\52";
}
.icon-angle-left:before {
  content: "\53";
}
.icon-angle-right:before {
  content: "\54";
}
.icon-angle-up:before {
  content: "\55";
}
.icon-bars:before {
  content: "\51";
}
.icon-bell-o:before {
  content: "\56";
}
.icon-building-o:before {
  content: "\57";
}
.icon-bookmark-o:before {
  content: "\58";
}
.icon-briefcase:before {
  content: "\59";
}
.icon-calendar-check-o:before {
  content: "\5a";
}
.icon-caret-up:before {
  content: "\30";
}
.icon-caret-right:before {
  content: "\31";
}
.icon-caret-left:before {
  content: "\32";
}
.icon-caret-down:before {
  content: "\33";
}
.icon-check:before {
  content: "\34";
}
.icon-clone:before {
  content: "\35";
}
.icon-cog:before {
  content: "\36";
}
.icon-comments-o:before {
  content: "\37";
}
.icon-commenting-o:before {
  content: "\38";
}
.icon-comment-o:before {
  content: "\39";
}
.icon-comment:before {
  content: "\21";
}
.icon-crop:before {
  content: "\22";
}
.icon-diamond-2:before {
  content: "\23";
}
.icon-desktop:before {
  content: "\24";
}
.icon-envelope-o:before {
  content: "\25";
}
.icon-envelope:before {
  content: "\26";
}
.icon-exclamation-triangle:before {
  content: "\27";
}
.icon-eye-1:before {
  content: "\28";
}
.icon-facebook-1:before {
  content: "\29";
}
.icon-file-image-o:before {
  content: "\2a";
}
.icon-file-pdf-o:before {
  content: "\2b";
}
.icon-file-text-o:before {
  content: "\2c";
}
.icon-file-word-o:before {
  content: "\2d";
}
.icon-files-o:before {
  content: "\2e";
}
.icon-filter:before {
  content: "\2f";
}
.icon-flag-o:before {
  content: "\3a";
}
.icon-frown-o:before {
  content: "\3b";
}
.icon-google-plus:before {
  content: "\3c";
}
.icon-hand-pointer-o:before {
  content: "\3d";
}
.icon-hand-o-right:before {
  content: "\3e";
}
.icon-heart-o:before {
  content: "\3f";
}
.icon-heart-1:before {
  content: "\40";
}
.icon-home:before {
  content: "\5b";
}
.icon-info:before {
  content: "\5e";
}
.icon-jpy:before {
  content: "\5f";
}
.icon-key:before {
  content: "\60";
}
.icon-laptop:before {
  content: "\7b";
}
.icon-linkedin-1:before {
  content: "\7c";
}
.icon-lightbulb-o:before {
  content: "\7d";
}
.icon-list-ul:before {
  content: "\7e";
}
.icon-meh-o:before {
  content: "\5c";
}
.icon-newspaper-o:before {
  content: "\e000";
}
.icon-paper-plane-o:before {
  content: "\e001";
}
.icon-pencil:before {
  content: "\e002";
}
.icon-pencil-square-o:before {
  content: "\e003";
}
.icon-phone-1:before {
  content: "\e004";
}
.icon-picture-o:before {
  content: "\e005";
}
.icon-sign-in:before {
  content: "\e006";
}
.icon-smile-o:before {
  content: "\e007";
}
.icon-slideshare:before {
  content: "\e008";
}
.icon-sliders:before {
  content: "\e009";
}
.icon-star-o:before {
  content: "\e00a";
}
.icon-star:before {
  content: "\e00b";
}
.icon-star-half-o:before {
  content: "\e00c";
}
.icon-suitcase:before {
  content: "\e00d";
}
.icon-tablet:before {
  content: "\e00e";
}
.icon-television:before {
  content: "\e00f";
}
.icon-thumbs-o-up:before {
  content: "\e010";
}
.icon-thumbs-o-down:before {
  content: "\e011";
}
.icon-th-large:before {
  content: "\e012";
}
.icon-trash-o:before {
  content: "\e013";
}
.icon-trash-1:before {
  content: "\e014";
}
.icon-toggle-on:before {
  content: "\e015";
}
.icon-toggle-off:before {
  content: "\e016";
}
.icon-twitter:before {
  content: "\e017";
}
.icon-users-1:before {
  content: "\e019";
}
.icon-youtube-1:before {
  content: "\e01a";
}
.icon-youtube-play:before {
  content: "\e01b";
}
.icon-alert:before {
  content: "\e01c";
}
.icon-cloud-download:before {
  content: "\e01d";
}
.icon-cloud-upload:before {
  content: "\e01e";
}
.icon-gift:before {
  content: "\e01f";
}
.icon-file-pdf:before {
  content: "\e020";
}
.icon-primitive-dot:before {
  content: "\e021";
}
.icon-primitive-square:before {
  content: "\e022";
}
.icon-quote:before {
  content: "\e023";
}
.icon-ruby:before {
  content: "\e024";
}
.icon-trashcan:before {
  content: "\e025";
}
.icon-download:before {
  content: "\e027";
}
.icon-key-1:before {
  content: "\e028";
}
.icon-laptop-1:before {
  content: "\e029";
}
.icon-torso-business:before {
  content: "\e02a";
}
.icon-torso:before {
  content: "\e02b";
}
.icon-torso-female:before {
  content: "\e02c";
}
.icon-torsos:before {
  content: "\e02d";
}
.icon-torsos-all:before {
  content: "\e02e";
}
.icon-air:before {
  content: "\e02f";
}
.icon-adjust:before {
  content: "\e030";
}
.icon-attach:before {
  content: "\e031";
}
.icon-back-in-time:before {
  content: "\e032";
}
.icon-briefcase-1:before {
  content: "\e033";
}
.icon-book-open:before {
  content: "\e034";
}
.icon-camera-1:before {
  content: "\e035";
}
.icon-cancel:before {
  content: "\e036";
}
.icon-cancel-circled:before {
  content: "\e037";
}
.icon-down-open-big:before {
  content: "\e038";
}
.icon-dot-3:before {
  content: "\e039";
}
.icon-dot:before {
  content: "\e03a";
}
.icon-dot-2:before {
  content: "\e03b";
}
.icon-heart-2:before {
  content: "\e03c";
}
.icon-heart-empty:before {
  content: "\e03d";
}
.icon-logout:before {
  content: "\e03e";
}
.icon-login:before {
  content: "\e03f";
}
.icon-user-add:before {
  content: "\e040";
}
.icon-archive:before {
  content: "\e042";
}
.icon-align-left:before {
  content: "\e043";
}
.icon-bubble-3:before {
  content: "\e044";
}
.icon-bubble-2:before {
  content: "\e045";
}
.icon-bubble-1:before {
  content: "\e046";
}
.icon-bubble-4:before {
  content: "\e047";
}
.icon-locked:before {
  content: "\e048";
}
.icon-screen:before {
  content: "\e049";
}
.icon-circle:before {
  content: "\e04a";
}
.icon-clock:before {
  content: "\e026";
}
.icon-device-camera:before {
  content: "\e04b";
}
.icon-university:before {
  content: "\5d";
}
.icon-chemist:before {
  content: "\e018";
}
.icon-tools:before {
  content: "\e041";
}
.icon-web:before {
  content: "\e04c";
}
.icon-civilengineer:before {
  content: "\e04d";
}
.icon-company:before {
  content: "\e04e";
}
.icon-creative:before {
  content: "\e04f";
}
.icon-dining:before {
  content: "\e050";
}
.icon-engineer:before {
  content: "\e051";
}
.icon-medical:before {
  content: "\e052";
}
.icon-others:before {
  content: "\e053";
}
.icon-people:before {
  content: "\e054";
}
.icon-professional:before {
  content: "\e055";
}
.icon-sales:before {
  content: "\e056";
}
.icon-system:before {
  content: "\e057";
}
.icon-systemdev:before {
  content: "\e058";
}
